@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     id="@UniqueId"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel">

    <div class="options-wrapper" id="@_wrapperId">
        <ul>
            @if (ChildContent is not null)
            {
                <CascadingValue Value="this" IsFixed="true">
                    @ChildContent
                </CascadingValue>
            }
        </ul>
    </div>

    <div class="overlay" id="@_overlayId" @onclick="HandleCallout"></div>

    <div class="overflow-menu-wrapper"
         id="@_calloutId"
         tabindex="0"
         role="listbox">
        <ul>
            @foreach (var option in _overflowOptions)
            {
                <li @ref="RootElement"
                    @attributes="HtmlAttributes"
                    id="@UniqueId"
                    style="@StyleBuilder.Value"
                    class="@ClassBuilder.Value"
                    aria-label="@AriaLabel">

                    @if (option.Href.HasValue())
                    {
                        <a href="@option.Href"
                           aria-current="@(option.IsSelectedOption() ? "page" : null)"
                           style="@option.GetOptionStyles()"
                           class="@option.GetOptionClasses()">
                            @option.Text
                        </a>
                    }
                    else
                    {
                        <button aria-current="@(option.IsSelectedOption() ? "page" : null)"
                                style="@option.GetOptionStyles()"
                                class="@option.GetOptionClasses()"
                                @onclick="(e) => HandleOnOverflowOptionClick(e, option)">
                            @option.Text
                        </button>
                    }
                </li>
            }
        </ul>
    </div>
</div>