@using BlazorDual.Shared.Infra
@using Microsoft.AspNetCore.Components.Web
@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode

@namespace BlazorDual.Web.Pages
@inject IHttpContextAccessor ContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var isBlazorServer = BlazorModeDetector.Current.IsBlazorServer();
    var isSpa = WebAppDeploymentTypeDetector.Current.IsSpa();
    var isPwa = WebAppDeploymentTypeDetector.Current.IsPwa();
    var isSpaPrerendered = WebAppDeploymentTypeDetector.Current.IsSpaPrerendered();
    var isPwaPrerendered = WebAppDeploymentTypeDetector.Current.IsPwaPrerendered();
    var isPrerenderedOnly = WebAppDeploymentTypeDetector.Current.IsPrerenderedOnly();

    var request = ContextAccessor?.HttpContext?.Request;
    var noPrerender = (request?.Query["no-prerender"].Count ?? 0) > 0;

    RenderMode renderMode = RenderMode.Static;
    if (isPrerenderedOnly is false)
    {
        if (isBlazorServer)
        {
            renderMode = isSpa || isPwa || noPrerender ? RenderMode.Server : RenderMode.ServerPrerendered;
        }
        else
        {
            renderMode = isSpa || isPwa || noPrerender ? RenderMode.WebAssembly : RenderMode.WebAssemblyPrerendered;
        }
    }

    if (renderMode is RenderMode.ServerPrerendered or RenderMode.WebAssemblyPrerendered)
    {
        if (request?.ShouldRenderStaticMode() is true)
        {
            renderMode = RenderMode.Static;
            isPrerenderedOnly = true;
        }
    }
}

<!DOCTYPE html>
<html bit-theme="dark">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="theme-color">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The BlazorDual is built with ASP.NET Core, Identity, Web API, and EF Core for the server-side, and Blazor for the client-side. It allows you to build a multi-mode Web applications from a single codebase." />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" asp-append-version=true>
    <component type="typeof(HeadOutlet)" render-mode="@renderMode" />
    <link rel="apple-touch-icon" sizes="512x512" href="images/icons/bit-icon-512.png" />
    @if (isPwa || isPwaPrerendered)
    {
        <link rel="manifest" href="manifest.json">
    }
</head>
<body class="@BitCss.Class.Color.Background.Primary @BitCss.Class.Color.Foreground.Primary">
    <div id="app-container">
        @if (isSpa || isPwa || noPrerender)
        {
            <component type="typeof(BlazorDual.Web.LoadingComponent)" param-Color="@("#000")" render-mode="@RenderMode.Static" />
        }
        <link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.css" asp-append-version=true />
        <link rel="stylesheet" href="_content/Bit.BlazorUI.Icons/styles/bit.blazorui.icons.css" asp-append-version=true />
        <link rel="stylesheet" href="_content/Bit.BlazorUI.Assets/styles/bit.blazorui.assets.css" asp-append-version=true />
        <link rel="stylesheet" href="styles/app.css" asp-append-version=true />
        <link rel="stylesheet" href="BlazorDual.Web.styles.css" asp-append-version=true />
        @RenderBody()
    </div>

    @if (isPrerenderedOnly is false)
    {
        @if (isBlazorServer)
        {
            <script src="_framework/blazor.server.js" asp-append-version=true></script>
        }
        else
        {
            <script src="_framework/blazor.webassembly.js" autostart="false" asp-append-version=true></script>
            @if (isPwa || isPwaPrerendered)
            {
                <script src="_content/Bit.Bswup/bit-bswup.js" log="none" asp-append-version=true></script>
                <script src="_content/Bit.Bswup/bit-bswup.progress.js" asp-append-version=true></script>

                @if (isPwaPrerendered)
                {
                    <component type="typeof(AppBswupProgressBar)" render-mode="@RenderMode.Static" />
                }
                else
                {
                    <link href="_content/Bit.Bswup/bit-bswup.progress.css" rel="stylesheet" asp-append-version=true>
                    <component type="typeof(Bit.Bswup.BswupProgress)"
                               param-AutoReload="true"
                               param-HideApp="true"
                               param-AppContainer="@("#app-container")"
                               render-mode="@RenderMode.Static" />
                }
            }
            else if (isSpa || isSpaPrerendered)
            {
                <script src="_content/Bit.Bup/bit-bup.js" asp-append-version=true></script>
                <script src="_content/Bit.Bup/bit-bup.progress.js" asp-append-version=true></script>
                @if (isSpaPrerendered)
                {
                    <component type="typeof(AppBupProgressBar)" render-mode="@RenderMode.WebAssemblyPrerendered" />
                }
                else
                {
                    <link rel="stylesheet" href="_content/Bit.Bup/bit-bup.progress.css" asp-append-version=true>
                    <component type="typeof(Bit.Bup.BupProgress)" render-mode="@RenderMode.Static"
                               param-AutoHide="true"
                               param-HideApp="true"
                               param-AppContainer="@("#app-container")" />
                }
            }
        }
        <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.js" asp-append-version=true></script>
    }
    <script src="scripts/app.js" asp-append-version=true></script>

    @if ((isSpaPrerendered || isPwaPrerendered) && !noPrerender)
    {
        <persist-component-state />
    }
</body>
</html>