@inherits AppComponentBase;

<header class="main-header">
    <div class="header-main-container">
        <div class="header-content-container">
            <BitIconButton Class="header-menu-btn" IconName=BitIconName.CollapseMenu OnClick=@WrapHandled(ToggleMenu) AriaLabel="Header menu button" />
            <a class="header-logo" href="/" aria-label="Homepage"></a>
            <BitBreadcrumb Items=@BreadcrumbItems></BitBreadcrumb>
        </div>
        <div class="header-content-container" style="cursor: pointer" @onclick=@ToggleHeaderDrpDown>
            <BitPersona ImageUrl="@ProfileImageUrl"
                        Size=@BitPersonaSize.Size32
                        Text="@(string.IsNullOrWhiteSpace(User?.FullName) ? @User?.UserName : User?.FullName)"
                        Presence="BitPersonaPresenceStatus.Online" />
            <div class="chevron-bottom-icon @(IsHeaderDrpDownOpen ? "chevron-up-icon" : null)"></div>

            @if (IsHeaderDrpDownOpen)
            {
                <div class="header-drp-overlay"></div>
                <section class="header-drp-wrapper" @onclick:stopPropagation="true">
                    <div class="user-info-container">
                        <BitPersona ImageUrl="@ProfileImageUrl"
                                Size=@BitPersonaSize.Size48
                                Text="@(string.IsNullOrWhiteSpace(User?.FullName) ? @User?.UserName : User?.FullName)"
                                SecondaryText="@User.UserName"
                                Presence="BitPersonaPresenceStatus.Online" />
                    </div>
                    <BitActionButton Class="edit-profile-btn" IconName="BitIconName.Edit" OnClick=@WrapHandled(OpenEditProfilePage) AriaLabel="EditProfile">@Localizer[nameof(AppStrings.EditProfileTitle)]</BitActionButton>
                    <BitActionButton Class="sign-out-btn" IconName="BitIconName.OutOfOffice" OnClick=@WrapHandled(OpenSignOutModal) AriaLabel="SignOut">@Localizer[nameof(AppStrings.SignOut)]</BitActionButton>
                </section>
            }
        </div>
    </div>
</header>

<SignOutConfirmModal @bind-IsOpen=IsSignOutModalOpen></SignOutConfirmModal>