@typeparam TItem

<li role="listitem">
    @if (NavList.RenderType is BitNavRenderType.Grouped && Parent is null)
    {
        <button @onclick="ToggleItem"
                class="group-chevron-btn"
                type="button"
                tabindex="0"
                aria-label="@(NavList.GetIsEnabled(Item) ? NavList.GetCollapseAriaLabel(Item) : NavList.GetExpandAriaLabel(Item))"
                aria-expanded="@(NavList.GetItemExpanded(Item) ? "true" : "false")">
            @if (NavList.HeaderTemplate is not null)
            {
                @NavList.HeaderTemplate(Item)
            }
            else
            {
                <i class="bit-icon bit-icon--ChevronDown @(NavList.GetItemExpanded(Item) ? "expand" : "")" aria-hidden="true"></i>
                <span class="group-header">@NavList.GetText(Item)</span>
            }
        </button>
    }
    else
    {
        <div style="padding: 0 10px 0 @(NavList.GetItems(Item).Any() ? (Depth * 14) : (Depth * 14) + 30)px;"
             class="item-container @(Item == NavList.SelectedItem ? "selected" : "") @(NavList.GetIsEnabled(Item) is false ? "disabled" : "")"
             name="@NavList.GetText(Item)">

            @if (NavList.GetItems(Item).Any())
            {
                <button @onclick="ToggleItem"
                        class="chevron-btn"
                        type="button"
                        tabindex="0"
                        aria-label="@(NavList.GetItemExpanded(Item) ? NavList.GetCollapseAriaLabel(Item) : NavList.GetExpandAriaLabel(Item))"
                        aria-expanded="@(NavList.GetItemExpanded(Item) ? "true" : "false")">
                    <i class="bit-icon bit-icon--ChevronDown @(NavList.GetItemExpanded(Item) ? "expand" : "")" aria-hidden="true"></i>
                </button>
            }

            @if (NavList.GetUrl(Item).HasValue() || NavList.GetForceAnchor(Item))
            {
                <a @onclick="HandleOnClick"
                   href="@(NavList.GetIsEnabled(Item) ? NavList.GetUrl(Item) : null)"
                   target="@NavList.GetTarget(Item)"
                   class="item"
                   tabindex="-1"
                   title="@(NavList.GetTitle(Item) is not null ? NavList.GetTitle(Item) : NavList.GetText(Item))"
                   disabled="@(NavList.GetIsEnabled(Item) is false)"
                   aria-label="@NavList.GetAriaLabel(Item)"
                   aria-current="@(Item == NavList.SelectedItem ? _AriaCurrentMap[NavList.GetAriaCurrent(Item)] : null)"
                   rel="@(NavList.GetUrl(Item).HasValue() && NavList.GetTarget(Item).HasValue() && IsRelativeUrl(NavList.GetUrl(Item)!) is false ? "noopener noreferrer" : null)">

                    @if (NavList.ItemTemplate is not null)
                    {
                        @NavList.ItemTemplate(Item)
                    }
                    else
                    {
                        @if (NavList.GetIconName(Item).HasValue)
                        {
                            <i class=@($"bit-icon bit-icon--{NavList.GetIconName(Item).GetName()} item-icon") aria-hidden="true"></i>
                        }
                        <span class="item-txt">@NavList.GetText(Item)</span>
                    }
                </a>
            }
            else
            {
                <button @onclick="HandleOnClick"
                        class="item"
                        title="@(NavList.GetTitle(Item) is not null ? NavList.GetTitle(Item) : NavList.GetText(Item))"
                        disabled="@(NavList.GetIsEnabled(Item) is false)"
                        aria-label="@NavList.GetAriaLabel(Item)"
                        aria-current="@(Item == NavList.SelectedItem ? _AriaCurrentMap[NavList.GetAriaCurrent(Item)] : null)"
                        tabindex="-1"
                        type="button">

                    @if (NavList.ItemTemplate is not null)
                    {
                        @NavList.ItemTemplate(Item)
                    }
                    else
                    {
                        @if (NavList.GetIconName(Item).HasValue)
                        {
                            <i class=@($"bit-icon bit-icon--{NavList.GetIconName(Item).GetName()} item-icon") aria-hidden="true"></i>
                        }
                        <span class="item-txt">@NavList.GetText(Item)</span>
                    }
                </button>
            }
        </div>
    }

    @if ((NavList.GetItems(Item).Any()) && (NavList.GetItemExpanded(Item)))
    {
        <ul role="list">
            <CascadingValue Value="this" IsFixed="true">
                @foreach (var childitem in NavList.GetItems(Item))
                {
                    <_BitNavListChild Item="childitem" Depth="Depth + 1" />
                }
            </CascadingValue>
        </ul>
    }
</li>