@using Boilerplate.Server.Api.Models.Emailing

@code {
    [Parameter] public ResetPasswordTokenTemplateModel Model { get; set; } = default!;
    [Parameter] public HttpContext HttpContext { get; set; } = default!;
    [Inject] public IStringLocalizer<EmailStrings> EmailLocalizer { get; set; } = default!;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <title>@EmailLocalizer[nameof(EmailStrings.ResetPasswordEmailSubject), Model.Token]</title>
</head>
<body dir="@(CultureInfo.CurrentUICulture.TextInfo.IsRightToLeft ? "rtl" : null)" style="width:100%; height:100%; margin:0; padding:0; background-color:#FCFCFC; font-family:Arial,sans-serif;">
    <main style="padding:50px">
        <table style="width:100%;border:1px solid #EDEBE9;border-radius:2px;padding:50px;text-align:center;">
            <tr>
                <td style="color:#0D2960;font-weight:600;font-size:24px;padding-bottom:50px;">
                    @EmailLocalizer[nameof(EmailStrings.ResetPasswordTitle), Model.DisplayName!]
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:20px;">
                    @EmailLocalizer[nameof(EmailStrings.ResetPasswordSubtitle)]
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:50px;">
                    @EmailLocalizer[nameof(EmailStrings.ResetPasswordBody)]
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:20px;">
                    @EmailLocalizer[nameof(EmailStrings.ResetPasswordTokenMessage)]
                </td>
            </tr>
            <tr>
                <td style="font-size:20px;font-weight:600;padding-bottom:50px;">
                    @Model.Token
                </td>
            </tr>
            <tr>
                <td style="padding-bottom:20px;">
                    @EmailLocalizer[nameof(EmailStrings.ResetPasswordLinkMessage)]
                </td>
            </tr>
            <tr>
                <td>
                    <a href="@Model.Link">
                        @Model.Link
                    </a>
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%"
               style="padding:20px; text-align:center;">
            <tr>
                <td style="padding-bottom: 10px;">
                    <img alt="Company Logo" src="@(new Uri(HttpContext.Request.GetWebAppUrl(), "images/icon.png"))" width="30" height="20" />
                </td>
            </tr>
            <tr>
                <td>
                    <a style="text-decoration:none; color:#0065EF; font-weight:400; font-size:12px; line-height:150%;" href="@HttpContext.Request.GetWebAppUrl()">
                        @EmailLocalizer[nameof(EmailStrings.AppName)]
                    </a>
                </td>
            </tr>
        </table>
    </main>
</body>
</html>