@page "/components/drop-down"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Dropdown" OverviewDesc="A dropdown is a list in which the selected item is always visible while other items are visible on demand by clicking a dropdown button. Dropdowns are typically used for forms."
               ComponentParameters="componentParameters">
    <CodeSample Title="BitDropDown" Description="To create a dropdown you can use a BitDropDown component." CodeSampleContentForCopy="@dropDownSampleCode">
        <SampleContent>
            <div>
                <BitDropDown Label="Basic Uncontrolled"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             Style="width: 290px; margin: 20px 0 20px 0">
                </BitDropDown>
                <BitDropDown Label="Disabled with defaultSelectedKey"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             IsEnabled="false"
                             DefaultSelectedKey="Broccoli"
                             Style="width: 290px; margin-bottom: 20px;">
                </BitDropDown>
                <BitDropDown Label="Multi-select uncontrolled"
                             Items="GetDropdownItems()"
                             Placeholder="Select options"
                             IsMultiSelect="true"
                             Style="width: 290px; margin-bottom: 20px;">
                </BitDropDown>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitDropDown Label</span>="Basic Uncontrolled"
                                              <span class="soco-component-attr">Items</span>="GetDropdownItems ()"
                                              <span class="soco-component-attr">Placeholder</span>="Select an option"
                                              <span class="soco-component-attr">Style</span>="width: 290px; margin: 20px 0 20px 0">
                &lt;/<span class="soco-component-attr">BitDropDown</span>&gt;
                &lt<span class="soco-component-attr">BitDropDown Label</span>="Disabled  with defaultSelectedKey"
                                              <span class="soco-component-attr">Items</span>="GetDropdownItems ()"
                                              <span class="soco-component-attr">Placeholder</span>="Select an option">
                                              <span class="soco-component-attr">IsEnabled</span>="<span class="soco-tag-type-def">false</span>"
                                              <span class="soco-component-attr">DefaultSelectedKey</span>="Broccoli"
                                              <span class="soco-component-attr">Style</span>="width: 290px; margin-bottom: 20px;">
                &lt;/<span class="soco-component-attr">BitDropDown</span>&gt;
                &lt<span class="soco-component-attr">BitDropDown Label</span>="Multi-select uncontrolled "
                                              <span class="soco-component-attr">Items</span>="GetDropdownItems ()"
                                              <span class="soco-component-attr">Placeholder</span>="Select options">
                                              <span class="soco-component-attr">IsMultiSelect</span>="<span class="soco-tag-type-def">true</span>"
                                              <span class="soco-component-attr">Style</span>="width: 290px; margin-bottom: 20px;">
                &lt;/<span class="soco-component-attr">BitDropDown</span>&gt;
                <span class="soco-code">&#64;code {</span>
                <span class="soco-tag-type-def">private </span><span class="soco-component-attr">List&ltdropdownitem></span> GetDropdownItems ()
                <span>{</span>
                       <span class="soco-component-attr">List&ltdropdownitem></span> items = <span class="soco-tag-type-def">new</span>();
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                               ItemType = <span> DropDownItemType.Header,</span>
                               Text = <span class="soco-string">"Fruits"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                               <span>ItemType = DropDownItemType.Normal</span>,
                               Text = <span class="soco-string">"Apple"</span>,
                               Value = <span class="soco-string">"f-app"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                               <span>ItemType = DropDownItemType.Normal</span>,
                               Text = <span class="soco-string">"Orange"</span>,
                               Value = <span class="soco-string">"f-ora"</span>,
                               IsEnabled = <span class="soco-tag-type-def">"false"</span>
                       <span>});</span>
                        items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                        <span>{</span>
                                <span>ItemType = DropDownItemType.Normal</span>,
                                Text = <span class="soco-string">"Banana"</span>,
                                Value = <span class="soco-string">"f-ban"</span>
                        <span>});</span>
                        items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                        <span>{</span>
                                <span>ItemType = DropDownItemType.Divider,</span>
                        <span>});</span>
                        items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                        <span>{</span>
                                <span>ItemType = DropDownItemType.Header,</span>
                                Text = <span class="soco-string">"Vegetables"</span>
                        <span>});</span>
                        items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                        <span>{</span>
                                <span>ItemType = DropDownItemType.Normal</span>,
                                Text = <span class="soco-string">"Broccoli"</span>,
                                Value = <span class="soco-string">"v-bro"</span>
                        <span>});</span>
                    <span>}</span>
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Controlled Single-Select" Description="" CodeSampleContentForCopy="@singleSelectSampleCode">
        <SampleContent>
            <div>
                <BitDropDown Label="Single-select Controlled"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             @bind-SelectedKey="ControlledSelectedKey"
                             Style="width: 290px; margin: 20px 0 20px 0">
                </BitDropDown>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitDropDown Label</span>="Single-Select Controlled"
                                              <span class="soco-component-attr">Items</span>="GetDropdownItems()"
                                              <span class="soco-component-attr">Placeholder</span>="Select an option">
                                              <span class="soco-code">&#64;</span><span class="soco-component-attr">bind-SelectedKey</span>="ControlledSelectedKey"
                                              <span class="soco-component-attr">Style</span>="width: 290px; margin: 20px 0 20px 0">
                &lt;/<span class="soco-component-attr">BitDropDown</span>&gt;>
                <span class="soco-code">&#64;code {</span>
                <span class="soco-tag-type-def">private </span><span class="soco-tag-type-def">string</span> ControlledSelectedKey = <span class="soco-string">"Apple"</span>;
                <span class="soco-tag-type-def">private </span><span class="soco-component-attr">List&ltdropdownitem></span> GetDropdownItems ()
                <span>{</span>
                       <span class="soco-component-attr">List&ltdropdownitem></span> items = <span class="soco-tag-type-def">new</span>();
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                               <span>ItemType = DropDownItemType.Header,</span>
                               Text = <span class="soco-string">"Fruits"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                               <span>ItemType = DropDownItemType.Normal,</span>
                               Text = <span class="soco-string">"Apple"</span>,
                               Value = <span class="soco-string">"f-app"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                               <span>ItemType = DropDownItemType.Normal,</span>
                               Text = <span class="soco-string">"Orange"</span>,
                               Value = <span class="soco-string">"f-ora"</span>,
                               IsEnabled = <span class="soco-tag-type-def">"false"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                               <span>ItemType = DropDownItemType.Normal,</span>
                               Text = <span class="soco-string">"Banana"</span>,
                               Value = <span class="soco-string">"f-ban"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                               <span>ItemType = DropDownItemType.Divider,</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                               <span>ItemType = DropDownItemType.Header,</span>
                               Text = <span class="soco-string">"Vegetables"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                               <span>ItemType = DropDownItemType.Normal,</span>
                               Text = <span class="soco-string">"Broccoli"</span>,
                               Value = <span class="soco-string">"v-bro"</span>
                       <span>});</span>
                    <span>}</span>
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Controlled Multi-Select" Description="" CodeSampleContentForCopy="@multiSelectSampleCode">
        <SampleContent>
            <div>
                <BitDropDown Label="Multi-select controlled"
                             Items="GetDropdownItems()"
                             Placeholder="Select options"
                             @bind-SelectedMultipleKeys="ControlledSelectedMultipleKeys"
                             IsMultiSelect="true"
                             Style="width:290px; margin:20px 0 20px 0">
                </BitDropDown>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitDropDown Label</span>="Multi-Select Controlled "
                                                    <span class="soco-component-attr">Items</span>="GetDropdownItems()"
                                                    <span class="soco-component-attr">Placeholder</span>="Select options">
                                                    <span class="soco-code">&#64;</span><span class="soco-component-attr">bind-SelectedMultipleKeys</span>="ControlledSelectedMultipleKeys"
                                                    <span class="soco-component-attr">IsMultiSelect</span>="<span class="soco-tag-type-def">true</span>"
                                                    <span class="soco-component-attr">Style</span>="width: 290px; margin: 20px 0 20px 0">
                &lt;/<span class="soco-component-attr">BitDropDown</span>&gt;
                <span class="soco-code">&#64;code {</span>
                <span class="soco-tag-type-def">private </span><span class="soco-tag-type-def">string</span> ControlledSelectedMultipleKeys = new List&lt;<span class="soco-tag-type-def">string</span>&gt;()
                <span>{</span>
                       <span class="soco-string">"Apple"</span>,
                       <span class="soco-string">"Banana"</span>,
                       <span class="soco-string">"Grape"</span>
                <span>};</span>
                <span class="soco-tag-type-def">private </span><span class="soco-component-attr">List&ltdropdownitem></span> GetDropdownItems ()
                <span>{</span>
                       <span class="soco-component-attr">List&ltdropdownitem></span> items = <span class="soco-tag-type-def">new</span>();
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                              <span>ItemType = DropDownItemType.Header,</span>
                              Text = <span class="soco-string">"Fruits"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                              <span>ItemType = DropDownItemType.Normal,</span>
                              Text = <span class="soco-string">"Apple"</span>,
                              Value = <span class="soco-string">"f-app"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                              <span>ItemType = DropDownItemType.Normal,</span>
                              Text = <span class="soco-string">"Orange"</span>,
                              Value = <span class="soco-string">"f-ora"</span>,
                              IsEnabled = <span class="soco-tag-type-def">"false"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                              <span>ItemType = DropDownItemType.Normal,</span>
                              Text = <span class="soco-string">"Banana"</span>,
                              Value = <span class="soco-string">"f-ban"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                              <span>ItemType = DropDownItemType.Divider,</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                              <span>ItemType = DropDownItemType.Header,</span>
                              Text = <span class="soco-string">"Vegetables"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                              <span>ItemType = DropDownItemType.Normal,</span>
                              Text = <span class="soco-string">"Broccoli"</span>,
                              Value = <span class="soco-string">"v-bro"</span>
                       <span>});</span>
                       <span class="soco-tag-type-def">return</span> items;
                    <span>}</span>
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Customized Dropdown" Description="" CodeSampleContentForCopy="@customizedSampleCode">
        <SampleContent>
            <div>
                <BitDropDown Label="Custom Controlled"
                             Items="GetCustomDropdownItems()"
                             Placeholder="Select an option"
                             AriaLabel="Custom dropdown"
                             Style="width:290px; margin:20px 0 20px 0">
                    <TextTemplate>
                        <div>
                            <i class="bit-icon bit-icon--@((context.Items.Find(i => i.Value == context.SelectedKey).Data as DropDownItemData).IconName)"
                               aria-hidden="true"
                               title="@((context.Items.Find(i => i.Value == context.SelectedKey).Data as DropDownItemData).IconName)"></i>
                            <span>@context.Items.Find(i => i.Value == context.SelectedKey).Text</span>
                        </div>
                    </TextTemplate>
                    <PlaceholderTemplate>
                        <div>
                            <i class="bit-icon bit-icon--MessageFill" aria-hidden="true"></i>
                            <span>@context.Placeholder</span>
                        </div>
                    </PlaceholderTemplate>
                    <CaretDownFragment>
                        <i class="bit-icon bit-icon--CirclePlus"></i>
                    </CaretDownFragment>
                    <ItemTemplate>
                        <div>
                            <i class="bit-icon bit-icon--@((context.Data as DropDownItemData).IconName)"
                               aria-hidden="true"
                               title="@((context.Data as DropDownItemData).IconName)"></i>
                            <span>@context.Text</span>
                        </div>
                    </ItemTemplate>
                </BitDropDown>
                <BitDropDown Items="GetCustomDropdownItems()"
                             Placeholder="Select an option"
                             Label="Custom Label"
                             AriaLabel="Custom dropdown label "
                             Style="width:290px">
                    <LabelFragment>
                        <label>Custom label</label>
                        <button type="button" title="Info" aria-label="Info" class="custom-drp-lbl-ic">
                            <i class="bit-icon bit-icon--Info"></i>
                        </button>
                    </LabelFragment>
                </BitDropDown>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-component-attr">BitDropDown Label</span>="Custom Label"
                                               <span class="soco-component-attr">Items</span>="GetCustomDropdownItems()"
                                               <span class="soco-component-attr">Placeholder</span>="Select an option"
                                               <span class="soco-component-attr">AriaLabel</span>="Custom dropdown "
                                               <span class="soco-component-attr">Style</span>="width:290px; margin:20px 0 20px 0"&gt;
                    &lt;<span class="soco-component-attr">TextTemplate</span>&gt;
                      &lt;<span class="soco-tag-type-def">div</span>&gt;
                            &lt;<span class="soco-tag-type-def">i class</span>="bit-icon bit-icon--<span class="soco-code">&#64;(</span>(context.Items.Find(i => i.Value == context.SelectedKey).Data as DropDownItemData).IconName<span class="soco-code">)</span>&lt;/<span class="soco-tag-type-def">i</span>&gt;
                            <span class="soco-tag-type-def">aria-hidden</span>=<span class="soco-tag-type-def">"true"</span>
                            <span class="soco-tag-type-def">title</span>="<span class="soco-code">&#64;(</span>(context.Items.Find(i => i.Value == context.SelectedKey).Data as DropDownItemData).IconName)">&lt;/i&gt;
                            &lt;<span class="soco-tag-type-def">span</span>&gt;<span class="soco-code">&#64;</span>context.Items.Find(i => i.Value == context.SelectedKey).Text&lt;/<span class="soco-tag-type-def">span</span>&gt;
                      &lt;/<span class="soco-tag-type-def">div</span>&gt;
                    &lt;/<span class="soco-component-attr">TextTemplate</span>&gt;
                    &lt;<span class="soco-component-attr">PlaceholderTemplate</span>&gt;
                      &lt;<span class="soco-tag-type-def">div</span>&gt;
                            &lt;<span class="soco-tag-type-def">i class</span>="bit-icon bit-icon--MessageFill" <span class="soco-tag-type-def">aria-hidden</span>=<span class="soco-tag-type-def">"true"</span>&gt;&lt;/<span class="soco-tag-type-def">i</span>&gt;
                            &lt;<span class="soco-tag-type-def">span</span>&gt;<span class="soco-code">&#64;</span>context.Placeholder&lt;/<span class="soco-tag-type-def">span</span>&gt;
                      &lt;/<span class="soco-tag-type-def">div</span>&gt;
                      &lt;/<span class="soco-component-attr">PlaceholderTemplate</span>&gt;
                      &lt;<span class="soco-component-attr">CaretDownFragment</span>&gt;
                            &lt;<span class="soco-tag-type-def">i class</span>="bit-icon bit-icon--CirclePlus"&gt;&lt;/<span class="soco-tag-type-def">i</span>&gt;
                      &lt;/<span class="soco-component-attr">CaretDownFragment</span>&gt;
                    &lt;<span class="soco-component-attr">ItemTemplate</span>&gt;
                      &lt;<span class="soco-tag-type-def">div</span>&gt;
                            &lt;<span class="soco-tag-type-def">i class</span>="bit-icon bit-icon--<span class="soco-code">&#64;(</span>(context.Data as DropDownItemData).IconName)"<span class="soco-tag-type-def">i</span>&gt;
                            <span class="soco-tag-type-def">aria-hidden</span>=<span class="soco-tag-type-def">"true"</span>
                            <span class="soco-tag-type-def">title</span>="<span class="soco-code">&#64;(</span>(context.Data as DropDownItemData).IconName)">&lt;/i&gt;
                            &lt;<span class="soco-tag-type-def">span</span>&gt;<span class="soco-code">&#64;</span>context.Text&lt;/<span class="soco-tag-type-def">span</span>&gt;
                      &lt;/<span class="soco-tag-type-def">div</span>&gt;
                    &lt;/<span class="soco-component-attr">ItemTemplate</span>&gt;
                &lt;/<span class="soco-component-attr">BitDropDown</span>&gt;
                &lt;<span class="soco-component-attr">BitDropDown Items</span>="GetCustomDropdownItems()"
                                               <span class="soco-component-attr">Placeholder</span>="Select an option"
                                               <span class="soco-component-attr">Label</span>="Custom label"
                                               <span class="soco-component-attr">AriaLabel</span>="Custom dropdown label "
                                               <span class="soco-component-attr">Style</span>="width:290px"&gt;
                    &lt;<span class="soco-component-attr">LabelFragment</span>&gt;
                        &lt;<span class="soco-tag-type-def">label</span>&gt;Custom label&lt;/<span class="soco-tag-type-def">label</span>&gt;
                        &lt;<span class="soco-tag-type-def">button type</span>="button" <span class="soco-tag-type-def">title</span>="Info" <span class="soco-tag-type-def">aria-label</span>="Info" <span class="soco-tag-type-def">class</span>="custom-drp-lbl-ic"&gt;
                        &lt;<span class="soco-tag-type-def">i class</span>="bit-icon bit-icon--Info"&gt;&lt;/<span class="soco-tag-type-def">i</span>&gt;
                        &lt;/<span class="soco-tag-type-def">button</span>&gt;
                    &lt;/<span class="soco-component-attr">LabelFragment</span>&gt;
                &lt;/<span class="soco-component-attr">BitDropDown</span>&gt;
                <span class="soco-code">&#64;code {</span>
                <span class="soco-tag-type-def">private </span><span class="soco-component-attr">List&ltdropdownitem></span> GetCustomDropdownItems()
                <span>{</span>
                       <span class="soco-component-attr">List&ltdropdownitem></span> items = <span class="soco-tag-type-def">new</span>();
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                              <span>ItemType = DropDownItemType.Header,</span>
                              Text = <span class="soco-string">"Options"</span>,
                              Value = <span class="soco-string">"Header"</span>
                       <span>});</span>
                       items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                       <span>{</span>
                              <span>ItemType = DropDownItemType.Normal,</span>
                              Text = <span class="soco-string">"Option a"</span>,
                              Value = <span class="soco-string">"A"</span>
                              Data = <span class="soco-tag-type-def">new</span><span class="soco-component-attr">DropDownItemData</span>()
                              <span>{</span>
                                     IconName= <span class="soco-string">"Memo"</span>
                              <span>}</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                       <span>ItemType = DropDownItemType.Normal,</span>
                       Text = <span class="soco-string">"Option b"</span>,
                       Value = <span class="soco-string">"B"</span>
                       Data = <span class="soco-tag-type-def">new</span><span class="soco-component-attr">DropDownItemData</span>()
                       <span>{</span>
                              IconName= <span class="soco-string">"Print"</span>
                       <span>}</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                           <span>ItemType = DropDownItemType.Normal,</span>
                           Text = <span class="soco-string">"Option c"</span>,
                           Value = <span class="soco-string">"C"</span>
                           Data = <span class="soco-tag-type-def">new</span><span class="soco-component-attr">DropDownItemData</span>()
                           <span>{</span>
                                  IconName= <span class="soco-string">"ShoppingCart"</span>
                           <span>}</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                           <span>ItemType = DropDownItemType.Normal,</span>
                           Text = <span class="soco-string">"Option d"</span>,
                           Value = <span class="soco-string">"D"</span>
                           Data = <span class="soco-tag-type-def">new</span><span class="soco-component-attr">DropDownItemData</span>()
                           <span>{</span>
                                  IconName= <span class="soco-string">"Train"</span>
                           <span>}</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                    <span>ItemType = DropDownItemType.Normal,</span>
                           Text = <span class="soco-string">"Option e"</span>,
                           Value = <span class="soco-string">"E"</span>
                           Data = <span class="soco-tag-type-def">new</span><span class="soco-component-attr">DropDownItemData</span>()
                           <span>{</span>
                                  IconName= <span class="soco-string">"Repair"</span>
                           <span>}</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                           <span>ItemType = DropDownItemType.Divider,</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                           <span>ItemType = DropDownItemType.Header,</span>
                           Text = <span class="soco-string">"More options"</span>,
                           Value = <span class="soco-string">"Header2"</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                           <span>ItemType = </span><span> DropDownItemType</span><span>.Normal,</span>
                            Text = <span class="soco-string">"Option f"</span>,
                            Value = <span class="soco-string">"F"</span>
                            Data = <span class="soco-tag-type-def">new</span><span class="soco-component-attr">DropDownItemData</span>()
                            <span>{</span>
                                   IconName= <span class="soco-string">"Running"</span>
                            <span>}</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                           <span>ItemType = DropDownItemType.Normal,</span>
                            Text = <span class="soco-string">"Option g"</span>,
                            Value = <span class="soco-string">"G"</span>
                            Data = <span class="soco-tag-type-def">new</span><span class="soco-component-attr">DropDownItemData</span>()
                            <span>{</span>
                                   IconName= <span class="soco-string">"EmoijNeutral"</span>
                            <span>}</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                           <span>ItemType = DropDownItemType.Normal,</span>
                           Text = <span class="soco-string">"Option h"</span>,
                           Value = <span class="soco-string">"H"</span>
                           Data = <span class="soco-tag-type-def">new</span><span class="soco-component-attr">DropDownItemData</span>()
                           <span>{</span>
                                  IconName= <span class="soco-string">"ChatInviteFriend"</span>
                           <span>}</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                           <span>ItemType = </span><span> DropDownItemType</span><span>.Normal,</span>
                           Text = <span class="soco-string">"Option i"</span>,
                           Value = <span class="soco-string">"I"</span>
                           Data = <span class="soco-tag-type-def">new</span><span class="soco-component-attr">DropDownItemData</span>()
                           <span>{</span>
                                  IconName= <span class="soco-string">"SecurityGroup"</span>
                           <span>}</span>
                    <span>});</span>
                    items.<span>Add</span>(<span class="soco-tag-type-def">new</span><span class="soco-component-attr"> DropDownItem</span>()
                    <span>{</span>
                           <span>ItemType = DropDownItemType.Normal,</span>
                           Text = <span class="soco-string">"Option j"</span>,
                           Value = <span class="soco-string">"J"</span>
                           Data = <span class="soco-tag-type-def">new</span><span class="soco-component-attr">DropDownItemData</span>()
                           <span>{</span>
                                  IconName= <span class="soco-string">"AddGroup"</span>
                           <span>}</span>
                    <span>});</span>
                    <span class="soco-tag-type-def">return</span> items;
                  <span>}</span>
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>