@page "/components/dropdown"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Dropdown" OverviewDesc="A dropdown is a list in which the selected item is always visible while other items are visible on demand by clicking a dropdown button. Dropdowns are typically used for forms."
               ComponentParameters="componentParameters">
    <CodeSample Title="BitDropDown" Description="To create a dropdown you can use a BitDropDown component.">
        <SampleContent>
            <div>
                <BitDropDown Label="Basic uncontrolled"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             Style="width: 290px; margin: 20px 0 20px 0">
                </BitDropDown>
                <BitDropDown Label="Disabled with defaultSelectedKey"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             IsEnabled="false"
                             DefaultSelectedKey="Broccoli"
                             Style="width: 290px; margin-bottom: 20px;">
                </BitDropDown>
                <BitDropDown Label="Multi-select uncontrolled"
                             Items="GetDropdownItems()"
                             Placeholder="Select options"
                             IsMultiSelect="true"
                             Style="width: 290px; margin-bottom: 20px;">
                </BitDropDown>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitDropDown Label</span>="Basic uncontrolled"
                    <span class="dark-green">Items</span>="<span class="dark-yellow">GetDropdownItems</span>()"
                    <span class="dark-green">Placeholder</span>="Select an option"
                    <span class="light-blue">Style</span>="width: 290px; margin: 20px 0 20px 0">
                    &lt;/<span class="dark-green">BitDropDown</span>&gt;
                </p>
                <p>
                    &lt<span class="dark-green">BitDropDown Label</span>="Disabled  with defaultSelectedKey"
                    <span class="dark-green">Items</span>="<span class="dark-yellow">GetDropdownItems</span>()"
                    <span class="dark-green">Placeholder</span>="Select an option">
                    <span class="dark-green">IsEnabled</span>="<span class="light-blue">false</span>"
                    <span class="dark-green">DefaultSelectedKey</span>="Broccoli"
                    <span class="light-blue">Style</span>="width: 290px; margin-bottom: 20px;">
                    &lt;/<span class="dark-green">BitDropDown</span>&gt;
                </p>
                <p>
                    &lt<span class="dark-green">BitDropDown Label</span>="Multi-select uncontrolled "
                    <span class="dark-green">Items</span>="<span class="dark-yellow">GetDropdownItems</span>()"
                    <span class="dark-green">Placeholder</span>="Select options">
                    <span class="dark-green">IsMultiSelect</span>="<span class="light-blue">true</span>"
                    <span class="light-blue">Style</span>="width: 290px; margin-bottom: 20px;">
                    &lt;/<span class="dark-green">BitDropDown</span>&gt;
                </p>
                <p><span class="light-yellow-bg">&#64;code {</span></p>
                <p><span class="light-blue">private </span><span class="dark-green">List&ltdropdownitem></span><span class="dark-yellow"> GetDropdownItems</span> ()</p>
                <p>{</p>
                <p class="m-l-30"><span class="dark-green">List&ltdropdownitem></span> items = <span class="light-blue">new</span>();</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Header,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Fruits"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Apple"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"f-app"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Orange"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"f-ora"</span></p>
                <p class="m-l-45">IsEnabled = <span class="light-blue">"false"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Banana"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"f-ban"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Divider,</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Header,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Vegetables"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Broccoli"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"v-bro"</span></p>
                <p class="m-l-30">});</p>
                <p>}</p>
                <p><span class="light-yellow-bg">}</span></p>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Controlled single-select" Description="">
        <SampleContent>
            <div>
                <BitDropDown Label="Controlled "
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             @bind-SelectedKey="ControlledSelectedKey"
                             Style="width: 290px; margin: 20px 0 20px 0">
                </BitDropDown>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitDropDown Label</span>="Controlled "
                    <span class="dark-green">Items</span>="<span class="dark-yellow">GetDropdownItems</span>()"
                    <span class="dark-green">Placeholder</span>="Select an option">
                    <span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-SelectedKey</span>="ControlledSelectedKey"
                    <span class="light-blue">Style</span>="width: 290px; margin: 20px 0 20px 0">
                    &lt;/<span class="dark-green">BitDropDown</span>&gt;>
                </p>
                <p><span class="light-yellow-bg">&#64;code {</span></p>
                <p><span class="light-blue">private </span><span class="dark-blue">string</span> ControlledSelectedKey = <span class="dark-orange">"Apple"</span>;</p>
                <p><span class="light-blue">private </span><span class="dark-green">List&ltdropdownitem></span><span class="dark-yellow"> GetDropdownItems</span> ()</p>
                <p>{</p>
                <p class="m-l-30"><span class="dark-green">List&ltdropdownitem></span> items = <span class="light-blue">new</span>();</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Header,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Fruits"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Apple"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"f-app"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Orange"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"f-ora"</span></p>
                <p class="m-l-45">IsEnabled = <span class="light-blue">"false"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Banana"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"f-ban"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Divider,</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Header,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Vegetables"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Broccoli"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"v-bro"</span></p>
                <p class="m-l-30">});</p>
                <p>}</p>
                <p><span class="light-yellow-bg">}</span></p>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Controlled multi-select" Description="">
        <SampleContent>
            <div>
                <BitDropDown Label="Multi-select controlled "
                             Items="GetDropdownItems()"
                             Placeholder="Select options"
                             @bind-SelectedMultipleKeys="ControlledSelectedMultipleKeys"
                             IsMultiSelect="true"
                             Style="width:290px; margin:20px 0 20px 0">
                </BitDropDown>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt<span class="dark-green">BitDropDown Label</span>="Multi-select controlled "
                    <span class="dark-green">Items</span>="<span class="dark-yellow">GetDropdownItems</span>()"
                    <span class="dark-green">Placeholder</span>="Select options">
                    <span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-SelectedMultipleKeys</span>="ControlledSelectedMultipleKeys"
                    <span class="dark-green">IsMultiSelect</span>="<span class="light-blue">true</span>"
                    <span class="light-blue">Style</span>="width: 290px; margin: 20px 0 20px 0">
                    &lt;/<span class="dark-green">BitDropDown</span>&gt;
                </p>
                <p><span class="light-yellow-bg">&#64;code {</span></p>
                <p><span class="light-blue">private </span><span class="dark-blue">string</span> ControlledSelectedMultipleKeys = new List&lt;<span class="dark-blue">string</span>&gt;()</p>
                <p>{</p>
                <p class="m-l-30"><span class="dark-orange">"Apple"</span>,</p>
                <p class="m-l-30"><span class="dark-orange">"Banana"</span>,</p>
                <p class="m-l-30"><span class="dark-orange">"Grape"</span></p>
                <p>};</p>
                <p><span class="light-blue">private </span><span class="dark-green">List&ltdropdownitem></span><span class="dark-yellow"> GetDropdownItems</span> ()</p>
                <p>{</p>
                <p class="m-l-30"><span class="dark-green">List&ltdropdownitem></span> items = <span class="light-blue">new</span>();</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Header,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Fruits"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Apple"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"f-app"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Orange"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"f-ora"</span></p>
                <p class="m-l-45">IsEnabled = <span class="light-blue">"false"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Banana"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"f-ban"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Divider,</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Header,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Vegetables"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Broccoli"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"v-bro"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30"><span class="light-blue">return</span> items;</p>
                <p>}</p>
                <p><span class="light-yellow-bg">}</span></p>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Customized Dropdown" Description="">
        <SampleContent>
            <div>
                <BitDropDown Label="Custom "
                             Items="GetCustomDropdownItems()"
                             Placeholder="Select an option"
                             AriaLabel="Custom dropdown "
                             Style="width:290px; margin:20px 0 20px 0">
                    <TextTemplate>
                        <div>
                            <i class="bit-icon bit-icon--@((context.Items.Find(i => i.Value == context.SelectedKey).Data as DropDownItemData).IconName)"
                               aria-hidden="true"
                               title="@((context.Items.Find(i => i.Value == context.SelectedKey).Data as DropDownItemData).IconName)"></i>
                            <span>@context.Items.Find(i => i.Value == context.SelectedKey).Text</span>
                        </div>
                    </TextTemplate>
                    <PlaceholderTemplate>
                        <div>
                            <i class="bit-icon bit-icon--MessageFill" aria-hidden="true"></i>
                            <span>@context.Placeholder</span>
                        </div>
                    </PlaceholderTemplate>
                    <CaretDownFragment>
                        <i class="bit-icon bit-icon--CirclePlus"></i>
                    </CaretDownFragment>
                    <ItemTemplate>
                        <div>
                            <i class="bit-icon bit-icon--@((context.Data as DropDownItemData).IconName)"
                               aria-hidden="true"
                               title="@((context.Data as DropDownItemData).IconName)"></i>
                            <span>@context.Text</span>
                        </div>
                    </ItemTemplate>
                </BitDropDown>
                <BitDropDown Items="GetCustomDropdownItems()"
                             Placeholder="Select an option"
                             Label="Custom label"
                             AriaLabel="Custom dropdown label "
                             Style="width:290px">
                    <LabelFragment>
                        <label>Custom label</label>
                        <button type="button" title="Info" aria-label="Info" class="custom-drp-lbl-ic">
                            <i class="bit-icon bit-icon--Info"></i>
                        </button>
                    </LabelFragment>
                </BitDropDown>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>
                    &lt;<span class="dark-green">BitDropDown Label</span>="Custom "
                    <span class="dark-green">Items</span>="<span class="dark-yellow">GetCustomDropdownItems()</span>"
                    <span class="dark-green">Placeholder</span>="Select an option"
                    <span class="dark-green">AriaLabel</span>="Custom dropdown "
                    <span class="light-blue">Style</span>="width:290px; margin:20px 0 20px 0"&gt;
                </p>
                <p>&lt;<span class="dark-green">TextTemplate</span>&gt;</p>
                <p class="m-l-30">&lt;<span class="light-blue">div</span>&gt;</p>
                <p class="m-l-45">&lt;<span class="light-blue">i class</span>="bit-icon bit-icon--<span class="light-yellow-bg">&#64;(</span>(context.Items.Find(i => i.Value == context.SelectedKey).Data as DropDownItemData).IconName<span class="light-yellow-bg">)</span>&lt;/<span class="light-blue">i</span>&gt;</p>
                <p class="m-l-60"><span class="light-blue">aria-hidden</span>=<span class="light-blue">"true"</span></p>
                <p class="m-l-60"><span class="light-blue">title</span>="<span class="light-yellow-bg">&#64;(</span>(context.Items.Find(i => i.Value == context.SelectedKey).Data as DropDownItemData).IconName)">&lt;/i&gt;</p>
                <p class="m-l-45">&lt;<span class="light-blue">span</span>&gt;<span class="light-yellow-bg">&#64;</span>context.Items.Find(i => i.Value == context.SelectedKey).Text&lt;/<span class="light-blue">span</span>&gt;</p>
                <p class="m-l-30">&lt;/<span class="light-blue">div</span>&gt;</p>
                <p>&lt;/<span class="dark-green">TextTemplate</span>&gt;</p>
                <p>&lt;<span class="dark-green">PlaceholderTemplate</span>&gt;</p>
                <p class="m-l-30">&lt;<span class="light-blue">div</span>&gt;</p>
                <p class="m-l-45">&lt;<span class="light-blue">i class</span>="bit-icon bit-icon--MessageFill" <span class="light-blue">aria-hidden</span>=<span class="light-blue">"true"</span>&gt;&lt;/<span class="light-blue">i</span>&gt;</p>
                <p class="m-l-45">&lt;<span class="light-blue">span</span>&gt;<span class="light-yellow-bg">&#64;</span>context.Placeholder&lt;/<span class="light-blue">span</span>&gt;</p>
                <p class="m-l-30">&lt;/<span class="light-blue">div</span>&gt;</p>
                <p>&lt;/<span class="dark-green">PlaceholderTemplate</span>&gt;</p>
                <p>&lt;<span class="dark-green">CaretDownFragment</span>&gt;</p>
                <p class="m-l-45">&lt;<span class="light-blue">i class</span>="bit-icon bit-icon--CirclePlus"&gt;&lt;/<span class="light-blue">i</span>&gt;</p>
                <p>&lt;/<span class="dark-green">CaretDownFragment</span>&gt;</p>
                <p>&lt;<span class="dark-green">ItemTemplate</span>&gt;</p>
                <p class="m-l-30">&lt;<span class="light-blue">div</span>&gt;</p>
                <p class="m-l-45">&lt;<span class="light-blue">i class</span>="bit-icon bit-icon--<span class="light-yellow-bg">&#64;(</span>(context.Data as DropDownItemData).IconName)"<span class="light-blue">i</span>&gt;</p>
                <p class="m-l-45"><span class="light-blue">aria-hidden</span>=<span class="light-blue">"true"</span></p>
                <p class="m-l-45"><span class="light-blue">title</span>="<span class="light-yellow-bg">&#64;(</span>(context.Data as DropDownItemData).IconName)">&lt;/i&gt;</p>
                <p class="m-l-45">&lt;<span class="light-blue">span</span>&gt;<span class="light-yellow-bg">&#64;</span>context.Text&lt;/<span class="light-blue">span</span>&gt;</p>
                <p class="m-l-30">&lt;/<span class="light-blue">div</span>&gt;</p>
                <p>&lt;/<span class="dark-green">ItemTemplate</span>&gt;</p>
                <p>
                    &lt;/<span class="dark-green">BitDropDown</span>&gt;
                    &lt;<span class="dark-green">BitDropDown Items</span>="<span class="dark-yellow">GetCustomDropdownItems()</span>"
                    <span class="dark-green">Placeholder</span>="Select an option"
                    <span class="dark-green">Label</span>="Custom label"
                    <span class="dark-green">AriaLabel</span>="Custom dropdown label "
                    <span class="light-blue">Style</span>="width:290px"&gt;
                </p>
                <p class="m-l-30">&lt;<span class="dark-green">LabelFragment</span>&gt;</p>
                <p class="m-l-45">&lt;<span class="light-blue">label</span>&gt;Custom label&lt;/<span class="light-blue">label</span>&gt;</p>
                <p class="m-l-45">&lt;<span class="light-blue">button type</span>="button" <span class="light-blue">title</span>="Info" <span class="light-blue">aria-label</span>="Info" <span class="light-blue">class</span>="custom-drp-lbl-ic"&gt;</p>
                <p class="m-l-60">&lt;<span class="light-blue">i class</span>="bit-icon bit-icon--Info"&gt;&lt;/<span class="light-blue">i</span>&gt;</p>
                <p class="m-l-45">&lt;/<span class="light-blue">button</span>&gt;</p>
                <p class="m-l-30">&lt;/<span class="dark-green">LabelFragment</span>&gt;</p>
                <p>&lt;/<span class="dark-green">BitDropDown</span>&gt;</p>
                <p><span class="light-yellow-bg">&#64;code {</span></p>
                <p><span class="light-blue">private </span><span class="dark-green">List&ltdropdownitem></span><span class="dark-yellow"> GetCustomDropdownItems</span>()</p>
                <p>{</p>
                <p class="m-l-30"><span class="dark-green">List&ltdropdownitem></span> items = <span class="light-blue">new</span>();</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Header,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Options"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"Header"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Option a"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"A"</span></p>
                <p class="m-l-45">Data = <span class="dark-blue">new</span><span class="dark-green">DropDownItemData</span>()</p>
                <p class="m-l-45">{</p>
                <p class="m-l-60">IconName= <span class="dark-orange">"Memo"</span></p>
                <p class="m-l-45">}</p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Option b"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"B"</span></p>
                <p class="m-l-45">Data = <span class="dark-blue">new</span><span class="dark-green">DropDownItemData</span>()</p>
                <p class="m-l-45">{</p>
                <p class="m-l-60">IconName= <span class="dark-orange">"Print"</span></p>
                <p class="m-l-45">}</p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Option c"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"C"</span></p>
                <p class="m-l-45">Data = <span class="dark-blue">new</span><span class="dark-green">DropDownItemData</span>()</p>
                <p class="m-l-45">{</p>
                <p class="m-l-60">IconName= <span class="dark-orange">"ShoppingCart"</span></p>
                <p class="m-l-45">}</p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Option d"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"D"</span></p>
                <p class="m-l-45">Data = <span class="dark-blue">new</span><span class="dark-green">DropDownItemData</span>()</p>
                <p class="m-l-45">{</p>
                <p class="m-l-30">IconName= <span class="dark-orange">"Train"</span></p>
                <p class="m-l-45">}</p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Option e"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"E"</span></p>
                <p class="m-l-45">Data = <span class="dark-blue">new</span><span class="dark-green">DropDownItemData</span>()</p>
                <p class="m-l-45">{</p>
                <p class="m-l-60">IconName= <span class="dark-orange">"Repair"</span></p>
                <p class="m-l-45">}</p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Divider,</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Header,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"More options"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"Header2"</span></p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Option f"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"F"</span></p>
                <p class="m-l-45">Data = <span class="dark-blue">new</span><span class="dark-green">DropDownItemData</span>()</p>
                <p class="m-l-45">{</p>
                <p class="m-l-60">IconName= <span class="dark-orange">"Running"</span></p>
                <p class="m-l-45">}</p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Option g"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"G"</span></p>
                <p class="m-l-45">Data = <span class="dark-blue">new</span><span class="dark-green">DropDownItemData</span>()</p>
                <p class="m-l-45">{</p>
                <p class="m-l-60">IconName= <span class="dark-orange">"EmoijNeutral"</span></p>
                <p class="m-l-45">}</p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Option h"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"H"</span></p>
                <p class="m-l-45">Data = <span class="dark-blue">new</span><span class="dark-green">DropDownItemData</span>()</p>
                <p class="m-l-45">{</p>
                <p class="m-l-60">IconName= <span class="dark-orange">"ChatInviteFriend"</span></p>
                <p class="m-l-45">}</p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Option i"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"I"</span></p>
                <p class="m-l-45">Data = <span class="dark-blue">new</span><span class="dark-green">DropDownItemData</span>()</p>
                <p class="m-l-45">{</p>
                <p class="m-l-60">IconName= <span class="dark-orange">"SecurityGroup"</span></p>
                <p class="m-l-45">}</p>
                <p class="m-l-30">});</p>
                <p class="m-l-30">items.<span>Add</span>(<span class="light-blue">new</span><span class="dark-green"> DropDownItem</span>()</p>
                <p class="m-l-30">{</p>
                <p class="m-l-45"><span>ItemType = </span><span class="neon-yellow"> DropDownItemType</span><span>.Normal,</span></p>
                <p class="m-l-45">Text = <span class="dark-orange">"Option j"</span></p>
                <p class="m-l-45">Value = <span class="dark-orange">"J"</span></p>
                <p class="m-l-45">Data = <span class="dark-blue">new</span><span class="dark-green">DropDownItemData</span>()</p>
                <p class="m-l-45">{</p>
                <p class="m-l-60">IconName= <span class="dark-orange">"AddGroup"</span></p>
                <p class="m-l-45">}</p>
                <p class="m-l-30">});</p>
                <p class="m-l-30"><span class="dark-blue">return</span> items;</p>
                <p>}</p>
                <p><span class="light-yellow-bg">}</span></p>
            </div>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>