@page "/add-edit-category/{Id:int?}"
@namespace AdminPanel.Client.Shared.Pages
@inherits AppComponentBase

<PageTitle>
    @if (_category.Id == 0)
    {
        @Localizer[nameof(AppStrings.AddCategory)]
    }
    else
    {
        @Localizer[nameof(AppStrings.EditCategory)]
    }
</PageTitle>

<div class="page-container">
    <div class="page-header">
        <BitIconButton Class="back-btn"
                       Href="/categories"
                       IconName="BitIconName.Back"
                       Title="@Localizer[nameof(AppStrings.Back)]" />
        <h1 class="page-title">
            @if (_category.Id == 0)
            {
                @Localizer[nameof(AppStrings.AddCategory)]
            }
            else
            {
                @Localizer[nameof(AppStrings.EditCategory)]
            }
        </h1>
    </div>
    <EditForm Model="_category" OnValidSubmit="WrapHandled(Save)">
        <AppDataAnnotationsValidator />

        @if (_isLoading)
        {
            <div class="loading-continaer">
                <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
            </div>
        }

        @if (string.IsNullOrEmpty(_saveMessage) is false)
        {
            <BitMessageBar MessageBarType="@_saveMessageType" OnDismiss="() => _saveMessage = null">@_saveMessage</BitMessageBar>
        }

        <div class="form-input-container">
            <BitTextField @bind-Value="_category.Name"
                          Label="@Localizer[nameof(AppStrings.Name)]"
                          Placeholder="@Localizer[nameof(AppStrings.EnterCategoryName)]" />
            <ValidationMessage For="() => _category.Name" />
        </div>

        <div class="form-input-container">
            <BitLabel For="catColorInput">@Localizer[nameof(AppStrings.Color)]</BitLabel>
            <div class="color-container">
                @foreach (var color in new[] { "#FFCD56", "#FF6384", "#4BC0C0", "#FF9124", "#2B88D8", "#C7E0F4" })
                {
                    <button @onclick="() => SetCategoryColor(color)"
                            class="color-btn @(_category.Color == color ? "color-btn--active" : null)"
                            style="background-color: @color"
                            type="button" />
                }
                <button class="custom-color-btn" @onclick=@ToggleColorPicker type="button">
                    <div class="btn-color" style="background-color: @_category.Color"></div>
                    @Localizer[(nameof(AppStrings.CustomColor))]
                </button>
            </div>
            @if (_isColorPickerOpen)
            {
                <div class="color-picker-container">
                    <BitColorPicker @bind-Color="_category.Color"
                                    id="catColorInput"
                                    ShowPreview="true">
                        @Localizer[nameof(AppStrings.DefaultColorPicker)]
                    </BitColorPicker>
                </div>
            }
            <ValidationMessage For="() => _category.Color" />
        </div>

        <BitLoadingButton IsLoading="_isSaving"
                          ButtonStyle="BitButtonStyle.Primary"
                          ButtonType="BitButtonType.Submit"
                          AriaLabel="Category">
            @Localizer[nameof(AppStrings.Save)]
        </BitLoadingButton>

    </EditForm>
</div>

