@page "/categories"
@using AdminPanel.Shared.Dtos.Categories
@namespace AdminPanel.Client.Shared.Pages
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.CategoriesPageTitle)]</PageTitle>

<div class="page-container">
    @if (_isLoading)
    {
        <div class="loading-container">
            <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
        </div>
    }

    <div class="page-row">
        <h1 class="page-title">@Localizer[nameof(AppStrings.Categories)]</h1>
        <BitButton OnClick="CreateCategory">@Localizer[nameof(AppStrings.AddCategory)]</BitButton>
    </div>

    <div class="grid">
        <BitDataGrid @ref="_dataGrid" ItemsProvider="_categoriesProvider" TGridItem="CategoryDto" ResizableColumns="true" Pagination="_pagination">
            <BitDataGridPropertyColumn Class="id-col" Sortable="true" Property="c => c!.Id" Align="BitDataGridAlign.Left"
                                       Title="@Localizer[nameof(AppStrings.Id)]" IsDefaultSort="BitDataGridSortDirection.Ascending" />
            <BitDataGridPropertyColumn Sortable="true" Property="c => c!.Name" Title="@Localizer[nameof(AppStrings.Name)]" Align="BitDataGridAlign.Left">
                <ColumnOptions>
                    <BitSearchBox @bind-Value="CategoryNameFilter"
                                  Placeholder="@Localizer[(nameof(AppStrings.SearchOnName))]"
                                  InputHtmlAttributes="@(new Dictionary<string, object> {{"autofocus", true}})" />
                </ColumnOptions>
            </BitDataGridPropertyColumn>
            <BitDataGridTemplateColumn Title="@Localizer[nameof(AppStrings.Color)]" Align="BitDataGridAlign.Left" Context="category">
                <span class="color-box" style="background-color:@(category!.Color)"></span>
            </BitDataGridTemplateColumn>
            <BitDataGridTemplateColumn Title="@Localizer[nameof(AppStrings.Action)]" Align="BitDataGridAlign.Center" Context="category">
                <BitIconButton Style="color:#605E5C;" IconName="BitIconName.Edit" Title="@Localizer[(nameof(AppStrings.Edit))]"
                               OnClick="() => EditCategory(category!)" />
                <BitIconButton Style="color:#605E5C;" IconName="BitIconName.Delete" Title="@Localizer[(nameof(AppStrings.Delete))]"
                               OnClick="WrapHandled(() => DeleteCategory(category!))" />
            </BitDataGridTemplateColumn>
        </BitDataGrid>
        <BitDataGridPaginator Value="_pagination" />
    </div>
</div>

<ConfirmMessageBox />
