@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="@HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     role="group"
     aria-label="@GetRootElAriaLabel()">

    <div @ref="_saturationPickerRef" @onpointerdown="OnSaturationPickerPointerDown"
         tabindex="0"
         role="slider"
         class="bit-clp-rec"
         aria-valuemin="0"
         aria-valuemax="100"
         style=@($"background-color: {_saturationPickerBackgroundRgbCss}")
         aria-label="Saturation and brightness"
         aria-describedby="@_colorRectangleDescriptionId"
         aria-valuenow="@(true ? _color.Hsv.Saturation : _color.Hsv.Value)"
         aria-valuetext="@($"Saturation {_color.Hsv.Saturation} brightness {_color.Hsv.Value}")">
        <div class="bit-clp-des" id="@_colorRectangleDescriptionId">Use left and right arrow keys to set saturation. Use up and down arrow keys to set brightness.</div>
        <div class="bit-clp-light"></div>
        <div class="bit-clp-dark"></div>
        <div class="bit-clp-thumb" style=@($"top: {_saturationPickerThumbPosition?.Top}px; left: {_saturationPickerThumbPosition?.Left}px; background-color: {Rgb};")>
        </div>
    </div>

    <div class="bit-clp-cnt">
        <div class="bit-clp-sct">
            <div class="bit-clp-sld bit-clp-hsd">
                <input @oninput="PickMainColor"
                       min="0"
                       max="359"
                       type="range"
                       tabindex="0"
                       role="slider"
                       value="@_hue"
                       class="bit-clp-inp"
                       aria-label="Hue"
                       aria-valuemin="0"
                       aria-valuemax="359"
                       aria-valuenow="@_hue"
                       aria-valuetext="@_hue"
                       disabled="@(ColorHasBeenSet && ColorChanged.HasDelegate is false)">
            </div>

            @if (ShowAlphaSlider)
            {
                <div class="bit-clp-sld bit-clp-asd"
                     style=@($"background: linear-gradient(to left,{Rgb} 0%, transparent 100%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2N89erVfwY0ICYmxoguxjgUFKI7GsTH5m4M3w1ChQC1/Ca8i2n1WgAAAABJRU5ErkJggg==);")>
                    <input @oninput="PickAlphaColor"
                           min="0"
                           max="100"
                           tabindex="0"
                           type="range"
                           role="slider"
                           class="bit-clp-inp"
                           aria-label="Alpha"
                           aria-valuemin="0"
                           aria-valuemax="100"
                           value="@(_color.Alpha * 100)"
                           aria-valuenow="@(_color.Alpha * 100)"
                           aria-valuetext="@(_color.Alpha * 100)"
                           disabled="@(AlphaHasBeenSet && AlphaChanged.HasDelegate is false)">
                </div>
            }
        </div>
        @if (ShowPreview)
        {
            <div class="bit-clp-pre" style=@($"background: {(ShowAlphaSlider ? _color.Rgba : _color.Rgb)}")></div>
        }
    </div>
</div>  