@inherits AppComponentBase

<header class="main-header @((currentUrl.Contains("templates") is false) ? "main-header--full-page" : null)">
    <div class="header-main-container">
        <div class="header-content-container">
            @if (currentUrl.Contains("templates"))
            {
                <BitIconButton Class="header-menu-btn" IconName="@BitIconName.CollapseMenu" OnClick=@WrapHandled(ToggleMenu) AriaLabel="Header menu button" />
            }
            <a class="header-logo" href="@Urls.HomePage" aria-label="Home page" />
            @* <a class="header-link @(currentUrl == Urls.HomePage ? "header-link--active" : null)" href="@Urls.HomePage">Home</a> *@
            <div class="header-link header-ps-btn @(currentUrl.Contains("templates") ? "header-link--active" : null)">
                Products & Services
                <div class="header-menu-popup">
                    <div class="col">
                        <div class="col-header">Products</div>

                        <a class="menu-item" href="@Urls.Components" target="_blank">
                            @* <span class="menu-item-icon components-item"></span> *@
                            <div class="menu-item-content">
                                <div class="item-title">BlazorUI</div>
                                <div class="item-desc">Native Blazor UI components</div>
                            </div>
                        </a>

                        <a class="menu-item @(currentUrl.Contains("templates") ? "active" : "")" href="@Urls.Templates">
                            @* <span class="menu-item-icon todo-item"></span> *@
                            <div class="menu-item-content">
                                <div class="item-title">Boilerplate</div>
                                <div class="item-desc">Full featured project template</div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <div class="col-header">Services</div>

                        <a class="menu-item menu-item--disabled">
                            @* <span class="menu-item-icon cloud-item"></span> *@
                            <div class="menu-item-content">
                                <div class="item-title">Cloud hosting solutions</div>
                                <div class="item-desc">Coming soon</div>
                            </div>
                        </a>

                        <a class="menu-item menu-item--disabled">
                            @* <span class="menu-item-icon academy-item"></span> *@
                            <div class="menu-item-content">
                                <div class="item-title">bit Academy</div>
                                <div class="item-desc">Coming soon</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <a class="header-link @(currentUrl == Urls.Pricing ? "header-link--active" : null)" href="@Urls.Pricing">Pricing</a>
            <a class="header-link @(currentUrl == Urls.AboutUs ? "header-link--active" : null)" href="@Urls.AboutUs">About us</a>
            <a class="header-link @(currentUrl == Urls.ContactUs ? "header-link--active" : null)" href="@Urls.ContactUs">Contact us</a>

            @* <a class="header-link @(CurrentUrl == Urls.Blogs ? "header-link--active" : null)" href="@Urls.Blogs">Blogs</a>
            <a class="header-link @(CurrentUrl == Urls.Videos ? "header-link--active" : null)" href="@Urls.Videos">Videos</a>*@

        </div>
        <div class="right-section">
            <a class="github-container" target="_blank" aria-label="Github repository" title="Github repository" href="@Urls.GithubRepo">
                @* <img src="https://img.shields.io/github/stars/bitfoundation/bitplatform.svg" alt="GitHub stars" title="GitHub stars" width="68" height="20" /> *@
                <span class="github-btn"></span>
            </a>

            <button @onclick="WrapHandled(ToggleTheme)" class="toggle-theme-btn dark-theme" title="Turn on light">
                <span class="icon-container"><i class="bit-icon bit-icon--Sunny"></i></span>
            </button>
            <button @onclick="WrapHandled(ToggleTheme)" class="toggle-theme-btn light-theme" title="Turn off light">
                <span class="icon-container"><i class="bit-icon bit-icon--ClearNight"></i></span>
            </button>
        </div>
    </div>

    <div class="header-second-row">
        <BitActionButton Class="header-action-button"
                         IconName="@(isHeaderMenuOpen ? BitIconName.ChevronUp : BitIconName.ChevronDown)"
                         OnClick="@WrapHandled(ToggleHeaderMenu)">
            @GetActiveRouteName()
        </BitActionButton>
    </div>
</header>

@if (isHeaderMenuOpen)
{
    <nav class="header-nav">
        <BitIconButton Class="header-nav-close-btn" IconName="@BitIconName.Cancel" OnClick="@WrapHandled(ToggleHeaderMenu)" />
        @* <a class="header-nav-link @(currentUrl == Urls.HomePage ? "header-nav-link--active" : null)" href="@Urls.HomePage" @onclick=@WrapHandled(ToggleHeaderMenu)>Home</a> *@
        <div class="header-nav-link header-ps-btn @(IsProductsServicesActive() ? "header-nav-link--active" : null)">
            Products & Services
            <div class="header-menu-popup">
                <div class="col">
                    <div class="col-header">Products</div>

                    <a class="menu-item" href="@Urls.Components" @onclick=@WrapHandled(ToggleHeaderMenu) target="_blank">
                        <span class="menu-item-icon components-item"></span>
                        <div class="menu-item-content">
                            <div class="item-title">BlazorUI</div>
                            <div class="item-desc">Native Blazor UI components</div>
                        </div>
                    </a>

                    <a class="menu-item" href="@Urls.Templates" @onclick=@WrapHandled(ToggleHeaderMenu)>
                        <span class="menu-item-icon todo-item"></span>
                        <div class="menu-item-content">
                            <div class="item-title">Project templates</div>
                            <div class="item-desc">Cross-Platform project templates</div>
                        </div>
                    </a>
                </div>
                <div class="col">
                    <div class="col-header">Services</div>

                    <a class="menu-item menu-item--disabled">
                        <span class="menu-item-icon cloud-item"></span>
                        <div class="menu-item-content">
                            <div class="item-title">Cloud hosting solutions</div>
                            <div class="item-desc">Coming soon</div>
                        </div>
                    </a>

                    <a class="menu-item menu-item--disabled">
                        <span class="menu-item-icon academy-item"></span>
                        <div class="menu-item-content">
                            <div class="item-title">bit Academy</div>
                            <div class="item-desc">Coming soon</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <a class="header-nav-link @(currentUrl == Urls.Pricing ? "header-nav-link--active" : null)" href="@Urls.Pricing" @onclick=@WrapHandled(ToggleHeaderMenu)>Pricing</a>
        <a class="header-nav-link @(currentUrl == Urls.AboutUs ? "header-nav-link--active" : null)" href="@Urls.AboutUs" @onclick=@WrapHandled(ToggleHeaderMenu)>About us</a>
        <a class="header-nav-link @(currentUrl == Urls.ContactUs ? "header-nav-link--active" : null)" href="@Urls.ContactUs" @onclick=@WrapHandled(ToggleHeaderMenu)>Contact us</a>

        @*<a class="header-nav-link @(CurrentUrl == Urls.Blogs ? "header-nav-link--active" : null)" href="@Urls.Blogs" @onclick=@WrapHandled(ToggleHeaderMenu)>Blogs</a>
    <a class="header-nav-link @(CurrentUrl == Urls.Videos ? "header-nav-link--active" : null)" href="@Urls.Videos" @onclick=@WrapHandled(ToggleHeaderMenu)>Videos</a>*@
    </nav>
}