@page "/components/carousel"

<ComponentDemo ComponentName="Carousel" ComponentDescription="Carousel (Carousel slide-show) let people show their items in seperate slides from two or more items."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="Basic Carousel" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div>
                <BitCarousel AnimationDuration="2">
                    <BitCarouselItem>
                        <div class="number">1 / 4</div>
                        <img class="image" src="/images/carousel/img1.jpg">
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">2 / 4</div>
                        <img class="image" src="/images/carousel/img2.jpg" />
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">3 / 4</div>
                        <img class="image" src="/images/carousel/img3.jpg" />
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">4 / 4</div>
                        <img class="image" src="/images/carousel/img4.jpg" />
                    </BitCarouselItem>
                </BitCarousel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="InfiniteScrolling Carousel" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div>
                <BitCarousel InfiniteScrolling="true">
                    <BitCarouselItem>
                        <img class="image" src="/images/carousel/img1.jpg" />
                        <div class="text-title">Aurora</div>
                        <div class="text-description">This is Aurora and it's fantastic</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <img class="image" src="/images/carousel/img2.jpg" />
                        <div class="text-title">Beautiful Mountain</div>
                        <div class="text-description">This is a Beautiful Mountain and it's gorgeous</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <img class="image" src="/images/carousel/img3.jpg" />
                        <div class="text-title">Forest In The Valley</div>
                        <div class="text-description">This is a Forest In The Valley and it's beautiful</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <img class="image" src="/images/carousel/img4.jpg" />
                        <div class="text-title">Road Among The Mountains</div>
                        <div class="text-description">This is a Road Among The Mountains and it's amazing</div>
                    </BitCarouselItem>
                </BitCarousel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Carousel with hiddent Dots indicator" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div>
                <BitCarousel ShowDots="false">
                    <BitCarouselItem>
                        <div class="number">1 / 4</div>
                        <img class="image" src="/images/carousel/img1.jpg" />
                        <div class="text-title">Aurora</div>
                        <div class="text-description">This is Aurora and it's fantastic</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">2 / 4</div>
                        <img class="image" src="/images/carousel/img2.jpg" />
                        <div class="text-title">Beautiful Mountain</div>
                        <div class="text-description">This is a Beautiful Mountain and it's gorgeous</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">3 / 4</div>
                        <img class="image" src="/images/carousel/img3.jpg" />
                        <div class="text-title">Forest In The Valley</div>
                        <div class="text-description">This is a Forest In The Valley and it's beautiful</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">4 / 4</div>
                        <img class="image" src="/images/carousel/img4.jpg" />
                        <div class="text-title">Road Among The Mountains</div>
                        <div class="text-description">This is a Road Among The Mountains and it's amazing</div>
                    </BitCarouselItem>
                </BitCarousel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Carousel Public API" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CsCode" ExampleId="example4">
        <ExamplePreview>
            <div>
                <BitCarousel ShowNextPrev="false" @ref="carousel">
                    <BitCarouselItem>
                        <div class="number">1 / 4</div>
                        <img class="image" src="/images/carousel/img1.jpg" />
                        <div class="text-title">Aurora</div>
                        <div class="text-description">This is Aurora and it's fantastic</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">2 / 4</div>
                        <img class="image" src="/images/carousel/img2.jpg" />
                        <div class="text-title">Beautiful Mountain</div>
                        <div class="text-description">This is a Beautiful Mountain and it's gorgeous</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">3 / 4</div>
                        <img class="image" src="/images/carousel/img3.jpg" />
                        <div class="text-title">Forest In The Valley</div>
                        <div class="text-description">This is a Forest In The Valley and it's beautiful</div>
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <div class="number">4 / 4</div>
                        <img class="image" src="/images/carousel/img4.jpg" />
                        <div class="text-title">Road Among The Mountains</div>
                        <div class="text-description">This is a Road Among The Mountains and it's amazing</div>
                    </BitCarouselItem>
                </BitCarousel>
            </div>
            <div class="buttons-container">
                <div>
                    <BitButton OnClick="GoPrev">&lt; Prev</BitButton>
                    <BitButton OnClick="GoNext">Next &gt;</BitButton>
                </div>
                <div class="goto-container">
                    <BitButton Class="goto-button" OnClick="GoTo">GoTo</BitButton>
                    <BitNumericTextField @bind-Value="index"></BitNumericTextField>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="AutoPlay Carousel" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <BitCarousel ShowNextPrev="false" AutoPlay="true" AutoPlayInterval="2500" InfiniteScrolling="true">
                <BitCarouselItem>
                    <div class="number">1 / 4</div>
                    <img class="image" src="/images/carousel/img1.jpg" />
                    <div class="text-title">Aurora</div>
                    <div class="text-description">This is Aurora and it's fantastic</div>
                </BitCarouselItem>
                <BitCarouselItem>
                    <div class="number">2 / 4</div>
                    <img class="image" src="/images/carousel/img2.jpg" />
                    <div class="text-title">Beautiful Mountain</div>
                    <div class="text-description">This is a Beautiful Mountain and it's gorgeous</div>
                </BitCarouselItem>
                <BitCarouselItem>
                    <div class="number">3 / 4</div>
                    <img class="image" src="/images/carousel/img3.jpg" />
                    <div class="text-title">Forest In The Valley</div>
                    <div class="text-description">This is a Forest In The Valley and it's beautiful</div>
                </BitCarouselItem>
                <BitCarouselItem>
                    <div class="number">4 / 4</div>
                    <img class="image" src="/images/carousel/img4.jpg" />
                    <div class="text-title">Road Among The Mountains</div>
                    <div class="text-description">This is a Road Among The Mountains and it's amazing</div>
                </BitCarouselItem>
            </BitCarousel>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Advanced Carousel" HTMLSourceCode="@example6HTMLCode" ExampleId="example6">
        <ExamplePreview>
            <div>
                <BitCarousel Style="height: 100px" VisibleItemsCount="3" ScrollItemsCount="3">
                    <BitCarouselItem Class="item"><div>1</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>2</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>3</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>4</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>5</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>6</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>7</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>8</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>9</div></BitCarouselItem>
                </BitCarousel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL Carousel" HTMLSourceCode="@example7HTMLCode" ExampleId="example7">
        <ExamplePreview>
            <div>
                <BitCarousel Style="height: 100px" Direction="BitDirection.RightToLeft" VisibleItemsCount="3" ScrollItemsCount="1" InfiniteScrolling="true">
                    <BitCarouselItem Class="item"><div>یک</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>دو</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>سه</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>چهار</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>پنج</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>شیش</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>هفت</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>هشت</div></BitCarouselItem>
                    <BitCarouselItem Class="item"><div>نه</div></BitCarouselItem>
                </BitCarousel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>

@code {
    private int index;
    private BitCarousel carousel;

    private void GoNext()
    {
        carousel.GoNext();
    }

    private void GoPrev()
    {
        carousel.GoPrev();
    }

    private void GoTo()
    {
        carousel.GoTo(index);
    }
}