@page "/components/searchbox"
@page "/components/search-box"

<PageOutlet Url="components/searchbox"
            Title="SearchBox"
            Description="searchbox component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="SearchBox"
                   ComponentDescription="A search box (SearchBox) provides an input field for searching content within a site or app to find specific items."
                   ComponentParameters="componentParameters"
                   ComponentSubClasses="componentSubClasses"
                   ComponentSubEnums="componentSubEnums"
                   ComponentPublicMembers="componentPublicMembers">
        <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
            <ExamplePreview>
                <div>Basic examples of BitSearchBox including a default and a disabled state.</div>
                <br /><br />
                <div class="example-box">
                    <BitSearchBox Placeholder="Search" />
                    <br /><br />
                    <BitSearchBox Placeholder="Disabled" IsEnabled="false" />
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Underlined" RazorCode="@example2RazorCode" Id="example2">
            <ExamplePreview>
                <div>Demonstrating the underlined style of BitSearchBox in both enabled and disabled states.</div>
                <br /><br />
                <div class="example-box">
                    <BitSearchBox Placeholder="Search" Underlined />
                    <br /><br />
                    <BitSearchBox Placeholder="Disabled" IsEnabled="false" Underlined />
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="NoBorder" RazorCode="@example3RazorCode" Id="example3">
            <ExamplePreview>
                <div>Demonstrating the no-border style of BitSearchBox in both enabled and disabled states.</div>
                <br /><br />
                <div class="example-box">
                    <BitSearchBox Placeholder="Search" NoBorder/>
                    <br /><br />
                    <BitSearchBox Placeholder="Disabled" IsEnabled="false" NoBorder/>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Accent" RazorCode="@example4RazorCode" Id="example4">
            <ExamplePreview>
                <div>Demonstrating the accent colors of BitSearchBox.</div>
                <br /><br />
                <div class="example-box">
                    <BitSearchBox Placeholder="Primary" Accent="BitColorKind.Primary" NoBorder/>
                    <br /><br />
                    <BitSearchBox Placeholder="Secondary" Accent="BitColorKind.Secondary" NoBorder/>
                    <br /><br />
                    <BitSearchBox Placeholder="Tertiary" Accent="BitColorKind.Tertiary" NoBorder/>
                    <br /><br />
                    <BitSearchBox Placeholder="Transparent" Accent="BitColorKind.Transparent" NoBorder/>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Icon" RazorCode="@example5RazorCode" Id="example5">
            <ExamplePreview>
                <div>Examples of BitSearchBox with various icon configurations such as fixed icon, no animation, custom icon, and no icon.</div>
                <br /><br />
                <div class="example-box">
                    <BitSearchBox Placeholder="FixedIcon" FixedIcon />
                    <br /><br />
                    <BitSearchBox Placeholder="DisableAnimation" DisableAnimation />
                    <br /><br />
                    <BitSearchBox Placeholder="Custom icon" IconName="@BitIconName.Filter" />
                    <br /><br />
                    <BitSearchBox Placeholder="HideIcon" HideIcon />
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Search Button" RazorCode="@example6RazorCode" Id="example6">
            <ExamplePreview>
                <div>Showcasing BitSearchBox with a search button in various configurations, including custom button icon and disabled state.</div>
                <br /><br />
                <div class="example-box">
                    <BitSearchBox Placeholder="Search" ShowSearchButton />
                    <br /><br />
                    <BitSearchBox Placeholder="SearchButtonIconName" ShowSearchButton SearchButtonIconName="PageListFilter" />
                    <br /><br />
                    <BitSearchBox Placeholder="Disabled" IsEnabled="false" ShowSearchButton />
                    <br /><br />
                    <BitSearchBox Placeholder="Underlined" Underlined ShowSearchButton />
                    <br /><br />
                    <BitSearchBox Placeholder="Disabled Underlined" IsEnabled="false" Underlined ShowSearchButton />
                    <br /><br />
                    <BitSearchBox Placeholder="NoBorder" NoBorder ShowSearchButton />
                    <br /><br />
                    <BitSearchBox Placeholder="Disabled NoBorder" IsEnabled="false" NoBorder ShowSearchButton />
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Style & Class" RazorCode="@example7RazorCode" Id="example7">
            <ExamplePreview>
                <div>Explore styling and class customization for BitSearchBox, including component styles, custom classes, and detailed styles.</div>
                <br /><br />
                <div class="example-box">
                    <div>Component's Style & Class:</div><br />
                    <BitSearchBox Placeholder="Style" Style="box-shadow: dodgerblue 0 0 1rem; margin-inline: 1rem;" />
                    <br />
                    <BitSearchBox Placeholder="Class" Class="custom-class" />
                    <br /><br /><br />
                    <div>Styles & Classes:</div><br />
                    <BitSearchBox Placeholder="Styles"
                                  Styles="@(new() { Root = "margin-inline: 1rem;",
                                                    Input = "padding: 0.5rem;",
                                                    Focused = "--focused-background: #b2b2b25a;",
                                                    InputContainer = "background: var(--focused-background);" })" />
                    <br />
                    <BitSearchBox FixedIcon
                                  Placeholder="Classes"
                                  Classes="@(new() { Root = "custom-root",
                                                     Icon = "custom-icon",
                                                     Focused = "custom-focused",
                                                     ClearButton = "custom-clear",
                                                     IconWrapper = "custom-icon-wrapper",
                                                     InputContainer = "custom-input-container" })" />
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Binding" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
            <ExamplePreview>
                <div>Binding examples for BitSearchBox including two-way binding, OnChange, and OnSearch events.</div>
                <br /><br /><br />
                <div class="example-box">
                    <div>Two-way</div><br />
                    <BitSearchBox Placeholder="Search" @bind-Value="twoWaySearchValue" />
                    <br />
                    <BitTextField Placeholder="Search Value" @bind-Value="twoWaySearchValue" />
                    <br /><br /><br /><br />
                    <div>Immediate</div><br />
                    <BitSearchBox Placeholder="Search" Immediate @bind-Value="immediateTwoWaySearchValue" />
                    <br />
                    <BitTextField Placeholder="Search Value" Immediate @bind-Value="immediateTwoWaySearchValue" />
                    <br /><br /><br /><br />
                    <div>OnChange</div><br />
                    <BitSearchBox Placeholder="Search" Immediate
                                  OnChange="s => onChangeSearchValue = s"
                                  OnClear="() => onChangeSearchValue = string.Empty" />
                    <br />
                    <div>Search Value: @onChangeSearchValue</div>
                    <br /><br /><br /><br />
                    <div>OnSearch (Search by Enter)</div><br />
                    <BitSearchBox Placeholder="Search" Immediate
                                  OnSearch="s => onSearchValue = s"
                                  OnClear="() => onSearchValue = string.Empty" />
                    <br />
                    <div>Search Value: @onSearchValue</div>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Validation" RazorCode="@example9RazorCode" CsharpCode="@example9CsharpCode" Id="example9">
            <ExamplePreview>
                <div>Demonstrating validation of BitSearchBox using data annotations.</div>
                <br />
                <div class="example-box">
                    <EditForm Model="validationModel">
                        <DataAnnotationsValidator />
                        <BitSearchBox Placeholder="Search" Immediate
                                      DefaultValue="This is default value"
                                      @bind-Value="validationModel.Text" />
                        <ValidationMessage For="() => validationModel.Text" />
                    </EditForm>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Suggestion (AutoComplete)" RazorCode="@example10RazorCode" CsharpCode="@example10CsharpCode" Id="example10">
            <ExamplePreview>
                <div>Examples of BitSearchBox with suggestion list, including custom filtering, minimum trigger characters, and more.</div>
                <br /><br /><br />
                <div class="example-box">
                    <div>SuggestItems</div><br />
                    <BitSearchBox @bind-Value="@searchValue"
                                  Immediate
                                  Placeholder="e.g. Apple"
                                  SuggestItems="GetSuggestedItems()" />
                    <br />
                    <div>SearchValue: @searchValue</div>
                    <br /><br /><br /><br />
                    <div>SuggestFilterFunction</div><br />
                    <BitSearchBox @bind-Value="@searchValueWithSuggestFilterFunction"
                                  Immediate
                                  Placeholder="e.g. Apple"
                                  SuggestItems="GetSuggestedItems()"
                                  SuggestFilterFunction="@SearchFunc" />
                    <br />
                    <div>SearchValue: @searchValueWithSuggestFilterFunction</div>
                    <br /><br /><br /><br />
                    <div>MinSuggestTriggerChars(1)</div><br />
                    <BitSearchBox @bind-Value="@searchValueWithMinSearchLength"
                                  Immediate
                                  Placeholder="e.g. Apple"
                                  MinSuggestTriggerChars="1"
                                  SuggestItems="GetSuggestedItems()" />
                    <br />
                    <div>SearchValue: @searchValueWithMinSearchLength</div>
                    <br /><br /><br /><br />
                    <div>MaxSuggestCount equals(2)</div><br />
                    <BitSearchBox @bind-Value="@searchValueWithMaxSuggestedItems"
                                  Immediate
                                  Placeholder="e.g. Apple"
                                  MaxSuggestCount="2"
                                  SuggestItems="GetSuggestedItems()" />
                    <br />
                    <div>SearchValue: @searchValueWithMaxSuggestedItems</div>
                    <br /><br /><br /><br />
                    <div>DebounceTime(2000)</div><br />
                    <BitSearchBox @bind-Value="@searchValueWithSearchDelay"
                                  Immediate
                                  DebounceTime="2000"
                                  Placeholder="e.g. Apple"
                                  SuggestItems="GetSuggestedItems()" />
                    <br />
                    <div>SearchValue: @searchValueWithSearchDelay</div>
                    <br /><br /><br /><br />
                    <div>ItemsProvider</div><br />
                    <BitSearchBox @bind-Value="@searchValueWithItemsProvider"
                                  Immediate
                                  Placeholder="e.g. Pro"
                                  SuggestItemsProvider="LoadItems" />
                    <br />
                    <div>SearchValue: @searchValueWithItemsProvider</div>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="RTL" RazorCode="@example11RazorCode" Id="example11">
            <ExamplePreview>
                <div>Use the BitSearchBox component in right-to-left (RTL).</div>
                <br /><br />
                <div dir="rtl">
                    <div class="example-box">
                        <BitSearchBox Placeholder="جستجو" Dir="BitDir.Rtl" />
                        <br /><br />
                        <BitSearchBox Placeholder="جستجو" Dir="BitDir.Rtl" ShowSearchButton />
                        <br /><br />
                        <BitSearchBox Placeholder="جستجو" Dir="BitDir.Rtl" Underlined />
                    </div>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>
    </ComponentDemo>
</div>
