@page "/components/choice-group"

<ComponentDemo ComponentName="ChoiceGroup" ComponentDescription="Radio buttons (ChoiceGroup) let people select a single option from two or more choices."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="BitChoiceGroup" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a choicegroup you can use a BitChoiceGroup component</div>
            <div class="ch-group">
                <BitLabel>Selected Key is : @MySelectedKey</BitLabel>
                <BitTextField @bind-Value="MySelectedKey" Placeholder="Select one of A, B or C"></BitTextField>
                <BitChoiceGroup Name="Group1" Label="Pick one" IsRequired="true" @bind-SelectedKey="MySelectedKey">
                    <BitChoiceOption Key="A" Text="Option A" Value="1"></BitChoiceOption>
                    <BitChoiceOption Key="B" Text="Option B" Value="2"></BitChoiceOption>
                    <BitChoiceOption Key="C" Text="Disabled option C" Value="3" IsEnabled="false"></BitChoiceOption>
                </BitChoiceGroup>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">BitChoiceGroup in disabled mode.</div>
            <div>
                <BitChoiceGroup Name="Group2" IsEnabled="false" Label="Pick one">
                    <BitChoiceOption Key="A" Text="Option A" Value="1"></BitChoiceOption>
                    <BitChoiceOption Key="B" Text="Option2 B" Value="2"></BitChoiceOption>
                    <BitChoiceOption Key="C" Text="Disabled option C" Value="3" IsEnabled="false"></BitChoiceOption>
                </BitChoiceGroup>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="ChoiceGroup with images" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div>
                <BitChoiceGroup Name="Group1" Label="Pick one image" DefaultSelectedKey="pie">
                    <BitChoiceOption Key="bar" Text="Clustered bar chart" Value="1" ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png" ImageAlt="alt for image Option 1" SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png" ImageSize="new System.Drawing.Size( width: 32, height: 32)"></BitChoiceOption>
                    <BitChoiceOption Key="pie" Text="Pie chart" Value="2" ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png" ImageAlt="alt for image Option 2" SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png" ImageSize="new System.Drawing.Size( width: 32, height: 32)"></BitChoiceOption>
                    <BitChoiceOption Key="disabeled_option" Text="Disabeled" IsEnabled="false" Value="3" ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png" ImageAlt="alt for image Option 2" SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png" ImageSize="new System.Drawing.Size( width: 32, height: 32)"></BitChoiceOption>
                </BitChoiceGroup>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="ChoiceGroup with icons" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div>
                <BitChoiceGroup Name="Group1" Label="Pick one icon">
                    <BitChoiceOption Key="day" Text="Day" Value="1" IconName="BitIconName.CalendarDay"></BitChoiceOption>
                    <BitChoiceOption Key="week" Text="Week" Value="2" IconName="BitIconName.CalendarWeek"></BitChoiceOption>
                    <BitChoiceOption Key="month" Text="Month" Value="3" IconName="BitIconName.Calendar" IsEnabled="false"></BitChoiceOption>
                </BitChoiceGroup>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>