@page "/add-edit-category/{Id:int?}"
@inherits AppComponentBase;

<PageTitle>
    @if (Category?.Id == 0)
    {
        @Localizer[nameof(AppStrings.AddCategory)]
    }
    else
    {
        @Localizer[nameof(AppStrings.EditCategory)]
    }
</PageTitle>

<div class="page-container">
    <div class="page-header">
        <BitIconButton Class="back-btn" Href="/categories" IconName="BitIconName.Back" Title="@Localizer[nameof(AppStrings.Back)]" />
        <h1 class="page-title">
            @if (Category?.Id == 0)
            {
                @Localizer[nameof(AppStrings.AddCategory)]
            }
            else
            {
                @Localizer[nameof(AppStrings.EditCategory)]
            }
        </h1>
    </div>
    <EditForm Model="Category" OnValidSubmit="WrapHandled(Save)">
        @if (IsLoading)
        {
            <div class="loading-continaer">
                <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
            </div>
        }
        <DataAnnotationsValidator />
        @if (string.IsNullOrEmpty(SaveMessage) is false)
        {
            <BitMessageBar MessageBarType="@SaveMessageType" OnDismiss="() => SaveMessage = null">@SaveMessage</BitMessageBar>
        }
        <div class="form-input-container">
            <BitTextField Label="@(nameof(Category.Name))" @bind-Value="Category!.Name" Placeholder="@Localizer[nameof(AppStrings.EnterCategoryName)]" />
            <ValidationMessage For="() => Category.Name" />
        </div>

        <div class="form-input-container">
            <BitLabel For="catColorInput">Color</BitLabel>
            <div class="color-container">
                <div class="color-btn @(Category!.Color == "#FFCD56" ? "color-btn--active" : null)" style="background-color: #FFCD56" @onclick=@(() => SetCategoryColor("#FFCD56"))></div>
                <div class="color-btn @(Category!.Color == "#FF6384" ? "color-btn--active" : null)" style="background-color: #FF6384" @onclick=@(() => SetCategoryColor("#FF6384"))></div>
                <div class="color-btn @(Category!.Color == "#4BC0C0" ? "color-btn--active" : null)" style="background-color: #4BC0C0" @onclick=@(() => SetCategoryColor("#4BC0C0"))></div>
                <div class="color-btn @(Category!.Color == "#FF9124" ? "color-btn--active" : null)" style="background-color: #FF9124" @onclick=@(() => SetCategoryColor("#FF9124"))></div>
                <div class="color-btn @(Category!.Color == "#2B88D8" ? "color-btn--active" : null)" style="background-color: #2B88D8" @onclick=@(() => SetCategoryColor("#2B88D8"))></div>
                <div class="color-btn @(Category!.Color == "#C7E0F4" ? "color-btn--active" : null)" style="background-color: #C7E0F4" @onclick=@(() => SetCategoryColor("#C7E0F4"))></div>
                <div class="custom-color-btn" @onclick=@ToggleColorPicker>
                    <div class="btn-color" style="background-color: #F0F0F0"></div>
                    Custom color
                </div>
            </div>
            @if (IsColorPickerOpen)
            {
                <div class="color-picker-container">
                    <BitColorPicker id="catColorInput" ShowPreview="true" @bind-Color="Category!.Color">@Localizer[nameof(AppStrings.DefaultColorPicker)]</BitColorPicker>
                </div>
            }
            <ValidationMessage For="() => Category.Color" />
        </div>

        <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   ButtonType="BitButtonType.Submit"
                   AriaLabel="Category">
            @if (IsSaveLoading)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>@Localizer[nameof(AppStrings.Save)]</span>
            }
        </BitButton>

    </EditForm>
</div>

