@page "/todo-template"
@page "/todo-template/overview"

<div class="page-container">
    <h1 class="page-main-title">TodoTemplate</h1>
    <div class="page-flex-container">
        <div class="page-conent-container">
            <div class="image-container">
                <img class="template-img" src="/images/templates/todo-template.webp" alt="TodoTemplate preview" />
                <a class="preview-btn-shadow" href="@Urls.TodoTemplateSpa" target="_blank">
                    <div class="preview-btn">Live preview</div>
                </a>
            </div>
            <div class="content-title">Description</div>
            <ul class="description-list">
                <li class="description-list-item">✔ This is an item.</li>
                <li class="description-list-item">✔ This is an item.</li>
                <li class="description-list-item">✔ This is an item.</li>
                <li class="description-list-item">✔ This is an item.</li>
                <li class="description-list-item">✔ This is an item.</li>
                <li class="description-list-item">✔ This is an item.</li>
                <li class="description-list-item">✔ This is an item.</li>
            </ul>
        </div>

        <div class="page-conent-container">
            <a class="secondary-btn" href="@Urls.TodoTemplateAppCenter" target="_blank" title="App center"><span class="btn-img app-center"></span>Download apk</a>
            <a class="secondary-btn" href="@Urls.TodoTemplateFigma" target="_blank" title="Figma"><span class="btn-img figma"></span>Figma</a>
            <a class="secondary-btn" href="@Urls.TodoTemplateNuget" target="_blank" title="Nuget"><span class="btn-img nuget"></span>Nuget</a>
            <a class="primary-btn" href="@Urls.TodoTemplatePwa" target="_blank" title="PWA">PWA live preview</a>
            <a class="primary-btn" href="@Urls.TodoTemplateSpa" target="_blank" title="SPA">SPA live preview</a>

            <table>
                <tbody>
                    <tr>
                        <td>Version</td>
                        <td>1.0.0</td>
                    </tr>
                    <tr>
                        <td>First release</td>
                        <td>Apr 12, 2022</td>
                    </tr>
                    <tr>
                        <td>Category</td>
                        <td>Templates</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<NavigationButtons Next="Development prerequisites" NextUrl="/todo-template/development-prerequisites" />