@page "/todo-template"
@page "/todo-template/overview"

<div class="page-container">
    <h1 class="page-main-title">TodoTemplate</h1>
    <div class="page-flex-container">
        <div class="page-conent-container">
            <div class="image-container">
                <img class="template-img" src="/images/templates/todo-template.webp" alt="TodoTemplate" />
                <a class="preview-btn-shadow" href="@Urls.TodoTemplateSSR" target="_blank">
                    <div class="preview-btn">Demo</div>
                </a>
            </div>
            <div class="content-title">Description</div>
            <div>
                The TodoTemplate is a project template that includes work packages and actions that you know you will frequently apply to various projects.
                This document aimed to create and run a Bit Platform todo project in a short period.
            </div>
        </div>

        <div class="page-conent-container">
            <a class="primary-btn" href="@Urls.TodoTemplateSSR" target="_blank" title="SPA">SSR-enabled Demo</a>
            <a class="primary-btn" href="@Urls.TodoTemplatePWA" target="_blank" title="PWA">PWA Demo</a>
            <a class="secondary-btn" href="@Urls.TodoTemplateAppCenter" target="_blank" title="App center"><span class="btn-img app-center"></span>Android Demo</a>
            <a class="secondary-btn" href="@Urls.TodoTemplateNuget" target="_blank" title="Nuget"><span class="btn-img nuget"></span>Nuget</a>
            <a class="secondary-btn" href="@Urls.TodoTemplateFigma" target="_blank" title="Figma"><span class="btn-img figma"></span>Figma</a>
        </div>
    </div>
</div>

<NavigationButtons Next="Development prerequisites" NextUrl="/todo-template/development-prerequisites" />