@page "/todo-template"
@page "/todo-template/overview"
@inherits AppComponentBase

<PageOutlet Url="todo-template/overview"
            Title="Overview - TodoTemplate"
            Description="overview of the todo template of the bit platform" />

<div class="page-container">
    <BitTypography Variant="BitTypographyVariant.H3" Gutter>TodoTemplate</BitTypography>
    <div class="page-flex-container">
        <div class="page-content-container">
            <div class="image-container">
                <img class="template-img" src="/images/templates/todo-template.webp" alt="TodoTemplate" />
                <a class="demo-btn-shadow" href="@Urls.TodoTemplatePwaPrerendered" target="_blank">
                    <div class="demo-btn">Demo</div>
                </a>
            </div>
            <BitTypography Variant="BitTypographyVariant.H6" Gutter>Description</BitTypography>
            <BitTypography Variant="BitTypographyVariant.Body1">
                The TodoTemplate is a project template that includes work packages and actions that you can apply to various projects.
                This guide aims to help you create and run a Bit Platform Todo project in a short time.
            </BitTypography>
        </div>

        <div class="page-content-container">
            <a class="primary-btn" href="@Urls.TodoTemplatePwaPrerendered" target="_blank" title="Prerendered PWA demo">Prerendered PWA</a>
            <a class="secondary-btn" href="@Urls.TodoTemplateGooglePlay" target="_blank" title="Google Play"><i class="btn-img google-play" />Android</a>
            <a class="secondary-btn" href="@Urls.TodoTemplateNuget" target="_blank" title="NuGet"><i class="btn-img nuget" />NuGet</a>
            <a class="secondary-btn" href="@Urls.TodoTemplateFigma" target="_blank" title="Figma"><i class="btn-img figma" />Figma</a>
        </div>
    </div>
</div>

<NavigationButtons Next="Development prerequisites" NextUrl="/todo-template/development-prerequisites" />
