@page "/components/action-button"

<ComponentDemo ComponentName="ActionButton" ComponentDescription="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs.
    Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitActionButton" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">BitActionButton component is a button that acts as a link.</div>
            <div>
                <BitActionButton IconName="BitIconName.AddFriend">Create account</BitActionButton>
                <BitActionButton AllowDisabledFocus="false" IsEnabled="false" IconName="BitIconName.UserRemove">Remove user</BitActionButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">BitActionButton can directly get css class or inline style.</div>
            <div>
                <BitActionButton IconName="BitIconName.ThisPC" Style="font-size:16px;border:2px solid #32385B;justify-content: center;width: 232px;">
                    Styled Action Button
                </BitActionButton>
                <BitActionButton IconName="BitIconName.ThisPC" Class="custom-action-button">
                    Classed Action Button
                </BitActionButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Visibility" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">By setting Visibility attribute, BitActionButton can be Visible, Hidden or Collapsed.</div>
            <div class="buttons-container">
                <BitActionButton IconName="BitIconName.AddEvent" Visibility="BitComponentVisibility.Visible">Add Event</BitActionButton>
                <div><span>Hidden Button: </span>[<BitActionButton Visibility="BitComponentVisibility.Hidden">Hidden Action Button</BitActionButton>]</div>
                <div><span>Collapsed Button: </span>[<BitActionButton Visibility="BitComponentVisibility.Collapsed">Collapsed Action Button</BitActionButton>]</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Arias for Screen Reader" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">Aria attribues can also set for a BitActionButton.</div>
            <div>
                <BitActionButton IconName="BitIconName.Library" AriaDescription="Detailed description used for screen reader.">
                    Action Button with Aria Description
                </BitActionButton>
                <BitActionButton IconName="BitIconName.Library" AriaHidden="true">
                    Action Button with Aria Hidden
                </BitActionButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="ActionButton-like Anchor" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">BitActionButton can act as a link by setting Href and Target attribute, you define how to open your link.</div>
            <div>
                <BitActionButton IconName="BitIconName.Website" Target="_blank" Href="https://github.com/bitfoundation/bitplatform">
                    Open Bit Platform In New Tab
                </BitActionButton>
                <BitActionButton IconName="BitIconName.Website" Href="https://github.com/bitfoundation/bitplatform" ButtonStyle="BitButtonStyle.Standard">
                    Go To Bit Platform
                </BitActionButton>
                <BitActionButton IconName="BitIconName.Website" Target="_self" Href="https://github.com/bitfoundation/bitplatform" IsEnabled="false">
                    <span>Bit Platform From Span</span>
                </BitActionButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>