@page "/components/button"

<ComponentDemo ComponentName="Button" ComponentDescription="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs.
    Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitButton" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a button you can use a BitButton component.</div>
            <div class="buttons-container">
                <BitButton IsEnabled="true" OnClick="() => PrimaryCounter++">
                    Primary (@PrimaryCounter)
                </BitButton>
                <BitButton ButtonStyle="BitButtonStyle.Standard" IsEnabled="true" OnClick="() => StandardCounter++">
                    Standard (@StandardCounter)
                </BitButton>
                <BitButton IsEnabled="false" AllowDisabledFocus="false">
                    Disabled
                </BitButton>
                <BitButton Class="label-btn" IsEnabled="true">
                    <label>A Text from label element</label>
                </BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">BitButton can directly get css class or inline style.</div>
            <div class="buttons-container">
                <BitButton Style="height: 40px;width: 166px;font-size: 16px;">
                    Styled Button
                </BitButton>
                <BitButton Class="custom-button">
                    Classed Button
                </BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Visibility" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">By setting Visibility attribute, BitButton can be Visible, Hidden or Collapsed.</div>
            <BitButton Style="margin-bottom: 10px;" Visibility="BitComponentVisibility.Visible">Visible Button</BitButton>
            <div>Hidden Button: [<BitButton Visibility="BitComponentVisibility.Hidden">Hidden Button</BitButton>]</div>
            <div>Collapsed Button: [<BitButton Visibility="BitComponentVisibility.Collapsed">Collapsed Button</BitButton>]</div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Arias for Screen Reader" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">Aria attribues can also set for a BitButton.</div>
            <div class="buttons-container">
                <BitButton AriaDescription="Detailed description used for screen reader.">
                    Button with Aria Description
                </BitButton>
                <BitButton ButtonStyle="BitButtonStyle.Standard" AriaHidden="true">
                    Button with Aria Hidden
                </BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Button-like Anchor" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">BitButton can act as a link by setting Href and Target attributes.</div>
            <div class="buttons-container">
                <BitButton Title="Primary" Target="_blank" Href="https://github.com/bitfoundation/bitplatform">
                    Open Bit Platform In New Tab
                </BitButton>
                <BitButton Title="Standard" Href="https://github.com/bitfoundation/bitplatform" ButtonStyle="BitButtonStyle.Standard">
                    Go To Bit Platform
                </BitButton>
                <BitButton Target="_self" Href="https://github.com/bitfoundation/bitplatform" IsEnabled="false">
                    <span>Bit Platform From Span</span>
                </BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitButton in different sizes" HTMLSourceCode="@example6HTMLCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-desc">BitButton can get different sizes using the <code>ButtonSize</code> parameter.</div>
            <div class="buttons-container-grid">
                <div>
                    <BitLabel>Small size</BitLabel>
                    <BitButton ButtonSize="BitButtonSize.Small">Button</BitButton>
                </div>
                <div>
                    <BitLabel>Medium size</BitLabel>
                    <BitButton ButtonSize="BitButtonSize.Medium">Button</BitButton>
                </div>
                <div>
                    <BitLabel>Large size</BitLabel>
                    <BitButton ButtonSize="BitButtonSize.Large">Button</BitButton>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Customized BitButton in different sizes" HTMLSourceCode="@example7HTMLCode" ExampleId="example7">
        <ExamplePreview>
            <div class="example-desc">BitButton can be customized easily in different sizes by overriding a certain CSS class.</div>
            <div class="buttons-container-grid">
                <div>
                    <BitLabel>Small size</BitLabel>
                    <BitButton Class="custom-btn-sm"
                               ButtonSize="BitButtonSize.Small">Button</BitButton>
                </div>
                <div>
                    <BitLabel>Medium size</BitLabel>
                    <BitButton Class="custom-btn-md"
                               ButtonSize="BitButtonSize.Medium">Button</BitButton>
                </div>
                <div>
                    <BitLabel>Large size</BitLabel>
                    <BitButton Class="custom-btn-lg"
                               ButtonSize="BitButtonSize.Large">Button</BitButton>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>