@page "/components/split-button"

<ComponentDemo ComponentName="SplitButton"
               ComponentDescription="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs. Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters"
               EnumParameters="enumParameters"
               ComponentSubParameters="componentSubParameters">

    <BitPivot OnLinkClick="OnTabClick">
        <BitPivotItem HeaderText="BitSplitButtonItem">
            <ComponentExampleBox Title="Basic SplitButton" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
                <ExamplePreview>
                    <div class="example-desc">To create a multi button you can use a BitSplitButton component.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Primary</BitLabel>
                            <BitSplitButton Items="example1Items"
                                            ButtonStyle="BitButtonStyle.Primary"
                                            OnClick="(BitSplitButtonItem item) => Example1ClickedItem = item.Text" />
                        </div>
                        <div>
                            <BitLabel>Standard</BitLabel>
                            <BitSplitButton Items="example1Items"
                                            ButtonStyle="BitButtonStyle.Standard"
                                            OnClick="(BitSplitButtonItem item) => Example1ClickedItem = item.Text" />
                        </div>
                        <div>
                            <BitLabel>Disabled</BitLabel>
                            <BitSplitButton Items="example1Items" IsEnabled="false" />
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example1ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="SplitButton with IsSticky" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
                <ExamplePreview>
                    <div class="example-desc">You can first select the button item and then click on it to execute its onclick event.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Primary</BitLabel>
                            <BitSplitButton Items="example2Items"
                                            ButtonStyle="BitButtonStyle.Primary"
                                            IsSticky="true"
                                            OnClick="(BitSplitButtonItem item) => Example2ClickedItem = item.Text" />
                        </div>
                        <div>
                            <BitLabel>Standard</BitLabel>
                            <BitSplitButton Items="example2Items"
                                            ButtonStyle="BitButtonStyle.Standard"
                                            IsSticky="true"
                                            OnClick="(BitSplitButtonItem item) => Example2ClickedItem = item.Text" />
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example2ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="SplitButton with Item Disabled" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
                <ExamplePreview>
                    <div class="example-desc">You can disable the button item.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Sticky Primary</BitLabel>
                            <BitSplitButton Items="example3Items"
                                            ButtonStyle="BitButtonStyle.Primary"
                                            IsSticky="true"
                                            OnClick="(BitSplitButtonItem item) => Example3ClickedItem = item.Text" />
                        </div>
                        <div>
                            <BitLabel>Basic Standard</BitLabel>
                            <BitSplitButton Items="example3Items"
                                            ButtonStyle="BitButtonStyle.Standard"
                                            OnClick="(BitSplitButtonItem item) => Example3ClickedItem = item.Text" />
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example3ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="SplitButton with Item Template" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
                <ExamplePreview>
                    <div class="example-desc">You can customize the button item.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Primary</BitLabel>
                            <BitSplitButton Items="example4Items"
                                            ButtonStyle="BitButtonStyle.Primary"
                                            IsSticky="true"
                                            OnClick="(BitSplitButtonItem item) => Example4ClickedItem = item.Text">
                                <ItemTemplate Context="item">
                                    <div class="item-template-box">
                                        <span style="color: @(item.Key == "add-key" ? "green" : item.Key == "edit-key" ? "yellow" : "red");">
                                            @item.Text (@item.Key)
                                        </span>
                                    </div>
                                </ItemTemplate>
                            </BitSplitButton>
                        </div>
                        <div>
                            <BitLabel>Standard</BitLabel>
                            <BitSplitButton Items="example4Items"
                                            ButtonStyle="BitButtonStyle.Standard"
                                            IsSticky="true"
                                            OnClick="(BitSplitButtonItem item) => Example4ClickedItem = item.Text">
                                <ItemTemplate Context="item">
                                    @if (item.Key == "add-key")
                                    {
                                        <div class="item-template-box">
                                            <BitIcon IconName="BitIconName.Add" />
                                            <span style="color: green;">
                                                @item.Text (@item.Key)
                                            </span>
                                        </div>
                                    }
                                    else if (item.Key == "edit-key")
                                    {
                                        <div class="item-template-box">
                                            <BitIcon IconName="BitIconName.Edit" />
                                            <span style="color: yellow;">
                                                @item.Text (@item.Key)
                                            </span>
                                        </div>
                                    }
                                    else if (item.Key == "delete-key")
                                    {
                                        <div class="item-template-box">
                                            <BitIcon IconName="BitIconName.Delete" />
                                            <span style="color: red;">
                                                @item.Text (@item.Key)
                                            </span>
                                        </div>
                                    }
                                </ItemTemplate>
                            </BitSplitButton>
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example4ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>
        </BitPivotItem>

        <BitPivotItem HeaderText="Custom Item">
            <ComponentExampleBox Title="Basic SplitButton" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
                <ExamplePreview>
                    <div class="example-desc">To create a multi button you can use a BitSplitButton component.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Primary</BitLabel>
                            <BitSplitButton Items="example1CustomItems"
                                            TextField="@nameof(SplitActionItem.Name)"
                                            KeyField="@nameof(SplitActionItem.Id)"
                                            IconNameField="@nameof(SplitActionItem.Icon)"
                                            ButtonStyle="BitButtonStyle.Primary"
                                            OnClick="(SplitActionItem item) => Example1ClickedItem = item.Name" />
                        </div>
                        <div>
                            <BitLabel>Standard</BitLabel>
                            <BitSplitButton Items="example1CustomItems"
                                            TextFieldSelector="item => item.Name"
                                            KeyFieldSelector="item => item.Id"
                                            IconNameFieldSelector="item => item.Icon"
                                            ButtonStyle="BitButtonStyle.Standard"
                                            OnClick="(SplitActionItem item) => Example1ClickedItem = item.Name" />
                        </div>
                        <div>
                            <BitLabel>Disabled</BitLabel>
                            <BitSplitButton Items="example1CustomItems"
                                            TextField="@nameof(SplitActionItem.Name)"
                                            KeyField="@nameof(SplitActionItem.Id)"
                                            IconNameField="@nameof(SplitActionItem.Icon)"
                                            IsEnabled="false" />
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example1ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="SplitButton with IsSticky" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
                <ExamplePreview>
                    <div class="example-desc">You can first select the button item and then click on it to execute its onclick event.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Primary</BitLabel>
                            <BitSplitButton Items="example2CustomItems"
                                            TextField="@nameof(SplitActionItem.Name)"
                                            KeyField="@nameof(SplitActionItem.Id)"
                                            IconNameField="@nameof(SplitActionItem.Icon)"
                                            ButtonStyle="BitButtonStyle.Primary"
                                            IsSticky="true"
                                            OnClick="(SplitActionItem item) => Example2ClickedItem = item.Name" />
                        </div>
                        <div>
                            <BitLabel>Standard</BitLabel>
                            <BitSplitButton Items="example2CustomItems"
                                            TextFieldSelector="item => item.Name"
                                            KeyFieldSelector="item => item.Id"
                                            IconNameFieldSelector="item => item.Icon"
                                            ButtonStyle="BitButtonStyle.Standard"
                                            IsSticky="true"
                                            OnClick="(SplitActionItem item) => Example2ClickedItem = item.Name" />
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example2ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="SplitButton with Item Disabled" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
                <ExamplePreview>
                    <div class="example-desc">You can disable the button item.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Sticky Primary</BitLabel>
                            <BitSplitButton Items="example3CustomItems"
                                            TextField="@nameof(SplitActionItem.Name)"
                                            KeyField="@nameof(SplitActionItem.Id)"
                                            IconNameField="@nameof(SplitActionItem.Icon)"
                                            ButtonStyle="BitButtonStyle.Primary"
                                            IsSticky="true"
                                            OnClick="(SplitActionItem item) => Example3ClickedItem = item.Name" />
                        </div>
                        <div>
                            <BitLabel>Basic Standard</BitLabel>
                            <BitSplitButton Items="example3CustomItems"
                                            TextFieldSelector="item => item.Name"
                                            KeyFieldSelector="item => item.Id"
                                            IconNameFieldSelector="item => item.Icon"
                                            ButtonStyle="BitButtonStyle.Standard"
                                            OnClick="(SplitActionItem item) => Example3ClickedItem = item.Name" />
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example3ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="SplitButton with Item Template" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
                <ExamplePreview>
                    <div class="example-desc">You can customize the button item.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Primary</BitLabel>
                            <BitSplitButton Items="example4CustomItems"
                                            TextField="@nameof(SplitActionItem.Name)"
                                            KeyField="@nameof(SplitActionItem.Id)"
                                            IconNameField="@nameof(SplitActionItem.Icon)"
                                            ButtonStyle="BitButtonStyle.Primary"
                                            IsSticky="true"
                                            OnClick="(SplitActionItem item) => Example4ClickedItem = item.Name">
                                <ItemTemplate Context="item">
                                    <div class="item-template-box">
                                        <span style="color: @(item.Id == "add-key" ? "green" : item.Id == "edit-key" ? "yellow" : "red");">
                                            @item.Name (@item.Id)
                                        </span>
                                    </div>
                                </ItemTemplate>
                            </BitSplitButton>
                        </div>
                        <div>
                            <BitLabel>Standard</BitLabel>
                            <BitSplitButton Items="example4CustomItems"
                                            TextFieldSelector="item => item.Name"
                                            KeyFieldSelector="item => item.Id"
                                            IconNameFieldSelector="item => item.Icon"
                                            ButtonStyle="BitButtonStyle.Standard"
                                            IsSticky="true"
                                            OnClick="(SplitActionItem item) => Example4ClickedItem = item.Name">
                                <ItemTemplate Context="item">
                                    @if (item.Id == "add-key")
                                    {
                                        <div class="item-template-box">
                                            <BitIcon IconName="BitIconName.Add" />
                                            <span style="color: green;">
                                                @item.Name (@item.Id)
                                            </span>
                                        </div>
                                    }
                                    else if (item.Id == "edit-key")
                                    {
                                        <div class="item-template-box">
                                            <BitIcon IconName="BitIconName.Edit" />
                                            <span style="color: yellow;">
                                                @item.Name (@item.Id)
                                            </span>
                                        </div>
                                    }
                                    else if (item.Id == "delete-key")
                                    {
                                        <div class="item-template-box">
                                            <BitIcon IconName="BitIconName.Delete" />
                                            <span style="color: red;">
                                                @item.Name (@item.Id)
                                            </span>
                                        </div>
                                    }
                                </ItemTemplate>
                            </BitSplitButton>
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example4ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>
        </BitPivotItem>

        <BitPivotItem HeaderText="BitSplitButtonOption">
            <ComponentExampleBox Title="Basic SplitButton" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
                <ExamplePreview>
                    <div class="example-desc">To create a multi button you can use a BitSplitButton component.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Primary</BitLabel>
                            <BitSplitButton ButtonStyle="BitButtonStyle.Primary"
                                            OnClick="(BitSplitButtonOption item) => Example1ClickedItem = item.Text">
                                <BitSplitButtonOption Text="Item A" Key="A" />
                                <BitSplitButtonOption Text="Item B" Key="B" IconName="BitIconName.Emoji" />
                                <BitSplitButtonOption Text="Item C" Key="C" IconName="BitIconName.Emoji2" />
                            </BitSplitButton>
                        </div>
                        <div>
                            <BitLabel>Standard</BitLabel>
                            <BitSplitButton ButtonStyle="BitButtonStyle.Standard"
                                            OnClick="(BitSplitButtonOption item) => Example1ClickedItem = item.Text">
                                <BitSplitButtonOption Text="Item A" Key="A" />
                                <BitSplitButtonOption Text="Item B" Key="B" IconName="BitIconName.Emoji" />
                                <BitSplitButtonOption Text="Item C" Key="C" IconName="BitIconName.Emoji2" />
                            </BitSplitButton>
                        </div>
                        <div>
                            <BitLabel>Disabled</BitLabel>
                            <BitSplitButton IsEnabled="false"
                                            OnClick="(BitSplitButtonOption item) => Example1ClickedItem = item.Text">
                                <BitSplitButtonOption Text="Item A" Key="A" />
                                <BitSplitButtonOption Text="Item B" Key="B" IconName="BitIconName.Emoji" />
                                <BitSplitButtonOption Text="Item C" Key="C" IconName="BitIconName.Emoji2" />
                            </BitSplitButton>
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example1ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="SplitButton with IsSticky" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
                <ExamplePreview>
                    <div class="example-desc">You can first select the button item and then click on it to execute its onclick event.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Primary</BitLabel>
                            <BitSplitButton ButtonStyle="BitButtonStyle.Primary"
                                            IsSticky="true"
                                            OnClick="(BitSplitButtonOption item) => Example2ClickedItem = item.Text">
                                <BitSplitButtonOption Text="Add" Key="add-key" IconName="BitIconName.Add" />
                                <BitSplitButtonOption Text="Edit" Key="edit-key" IconName="BitIconName.Edit" />
                                <BitSplitButtonOption Text="Delete" Key="delete-key" IconName="BitIconName.Delete" />
                            </BitSplitButton>
                        </div>
                        <div>
                            <BitLabel>Standard</BitLabel>
                            <BitSplitButton ButtonStyle="BitButtonStyle.Standard"
                                            IsSticky="true"
                                            OnClick="(BitSplitButtonOption item) => Example2ClickedItem = item.Text">
                                <BitSplitButtonOption Text="Add" Key="add-key" IconName="BitIconName.Add" />
                                <BitSplitButtonOption Text="Edit" Key="edit-key" IconName="BitIconName.Edit" />
                                <BitSplitButtonOption Text="Delete" Key="delete-key" IconName="BitIconName.Delete" />
                            </BitSplitButton>
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example2ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="SplitButton with Item Disabled" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
                <ExamplePreview>
                    <div class="example-desc">You can disable the button item.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Sticky Primary</BitLabel>
                            <BitSplitButton ButtonStyle="BitButtonStyle.Primary"
                                            IsSticky="true"
                                            OnClick="(BitSplitButtonOption item) => Example3ClickedItem = item.Text">
                                <BitSplitButtonOption Text="Item A" Key="A" IconName="BitIconName.Emoji" />
                                <BitSplitButtonOption Text="Item B" Key="B" IconName="BitIconName.Emoji2" />
                                <BitSplitButtonOption Text="Item C" Key="C" IconName="BitIconName.Emoji" />
                                <BitSplitButtonOption Text="Item D" Key="D" IconName="BitIconName.Emoji2" />
                            </BitSplitButton>
                        </div>
                        <div>
                            <BitLabel>Basic Standard</BitLabel>
                            <BitSplitButton ButtonStyle="BitButtonStyle.Standard"
                                            OnClick="(BitSplitButtonOption item) => Example3ClickedItem = item.Text">
                                <BitSplitButtonOption Text="Item A" Key="A" IconName="BitIconName.Emoji" />
                                <BitSplitButtonOption Text="Item B" Key="B" IconName="BitIconName.Emoji2" />
                                <BitSplitButtonOption Text="Item C" Key="C" IconName="BitIconName.Emoji" />
                                <BitSplitButtonOption Text="Item D" Key="D" IconName="BitIconName.Emoji2" />
                            </BitSplitButton>
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example3ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="SplitButton with Item Template" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
                <ExamplePreview>
                    <div class="example-desc">You can customize the button item.</div>
                    <div class="example-content">
                        <div>
                            <BitLabel>Primary</BitLabel>
                            <BitSplitButton ButtonStyle="BitButtonStyle.Primary"
                                            IsSticky="true"
                                            OnClick="(BitSplitButtonOption item) => Example4ClickedItem = item.Text">
                                <ItemTemplate Context="item">
                                    <div class="item-template-box">
                                        <span style="color: @(item.Key == "add-key" ? "green" : item.Key == "edit-key" ? "yellow" : "red");">
                                            @item.Text (@item.Key)
                                        </span>
                                    </div>
                                </ItemTemplate>
                                <ChildContent>
                                    <BitSplitButtonOption Text="Add" Key="add-key" IconName="BitIconName.Add" />
                                    <BitSplitButtonOption Text="Edit" Key="edit-key" IconName="BitIconName.Edit" />
                                    <BitSplitButtonOption Text="Delete" Key="delete-key" IconName="BitIconName.Delete" />
                                </ChildContent>
                            </BitSplitButton>
                        </div>
                        <div>
                            <BitLabel>Standard</BitLabel>
                            <BitSplitButton ButtonStyle="BitButtonStyle.Standard"
                                            IsSticky="true"
                                            OnClick="(BitSplitButtonOption item) => Example4ClickedItem = item.Text">
                                <ItemTemplate Context="item">
                                    @if (item.Key == "add-key")
                                    {
                                        <div class="item-template-box">
                                            <BitIcon IconName="BitIconName.Add" />
                                            <span style="color: green;">
                                                @item.Text (@item.Key)
                                            </span>
                                        </div>
                                    }
                                    else if (item.Key == "edit-key")
                                    {
                                        <div class="item-template-box">
                                            <BitIcon IconName="BitIconName.Edit" />
                                            <span style="color: yellow;">
                                                @item.Text (@item.Key)
                                            </span>
                                        </div>
                                    }
                                    else if (item.Key == "delete-key")
                                    {
                                        <div class="item-template-box">
                                            <BitIcon IconName="BitIconName.Delete" />
                                            <span style="color: red;">
                                                @item.Text (@item.Key)
                                            </span>
                                        </div>
                                    }
                                </ItemTemplate>
                                <ChildContent>
                                    <BitSplitButtonOption Text="Add" Key="add-key" IconName="BitIconName.Add" />
                                    <BitSplitButtonOption Text="Edit" Key="edit-key" IconName="BitIconName.Edit" />
                                    <BitSplitButtonOption Text="Delete" Key="delete-key" IconName="BitIconName.Delete" />
                                </ChildContent>
                            </BitSplitButton>
                        </div>
                    </div>
                    <div class="clicked-item">Clicked item: @Example4ClickedItem</div>
                </ExamplePreview>
            </ComponentExampleBox>
        </BitPivotItem>
    </BitPivot>

</ComponentDemo>