@page "/components/split-button"

<ComponentDemo ComponentName="SplitButton"
               ComponentDescription="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs. Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters"
               EnumParameters="enumParameters"
               ComponentSubParameters="componentSubParameters">

    <ComponentExampleBox Title="SplitButton" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a multi button you can use a BitSplitButton component.</div>
            <BitSplitButton Items="example1Items"
                            ButtonStyle="BitButtonStyle.Standard"
                            OnClick="(item) => example1SelectedItem = item.Text" />
            <BitSplitButton Items="example1Items"
                            ButtonStyle="BitButtonStyle.Primary"
                            OnClick="(item) => example1SelectedItem = item.Text" />
            <BitSplitButton Items="example1Items" IsEnabled="false" />
            <div class="selected-item">Clicked item: @example1SelectedItem</div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SplitButton with IsSticky" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">You can first select the button item and then click on it to execute its onclick event.</div>
            <BitSplitButton Items="example2Items"
                            ButtonStyle="BitButtonStyle.Standard"
                            IsSticky="true"
                            OnClick="(item) => example2SelectedItem = item.Text" />
            <BitSplitButton Items="example2Items"
                            ButtonStyle="BitButtonStyle.Primary"
                            IsSticky="true"
                            OnClick="(item) => example2SelectedItem = item.Text" />
            <div class="selected-item">Clicked item: @example2SelectedItem</div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SplitButton with Item Disabled" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">You can disable the button item.</div>
            <BitSplitButton Items="example3Items"
                            ButtonStyle="BitButtonStyle.Standard"
                            OnClick="(item) => example3SelectedItem = item.Text" />
            <BitSplitButton Items="example3Items"
                            ButtonStyle="BitButtonStyle.Primary"
                            IsSticky="true"
                            OnClick="(item) => example3SelectedItem = item.Text" />
            <div class="selected-item">Clicked item: @example3SelectedItem</div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SplitButton with Item Template" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">You can customize the button item.</div>
            <BitSplitButton Items="example4Items"
                            ItemTemplate="(item) => itemTemplate(item)"
                            ButtonStyle="BitButtonStyle.Standard"
                            IsSticky="true"
                            OnClick="(item) => example4SelectedItem = item.Text" />
            <BitSplitButton Items="example4Items"
                            ItemTemplate="(item) => itemTemplate(item)"
                            ButtonStyle="BitButtonStyle.Primary"
                            IsSticky="true"
                            OnClick="(item) => example4SelectedItem = item.Text" />
            <div class="selected-item">Clicked item: @example4SelectedItem</div>
        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>

@code {

    private RenderFragment<BitSplitButtonItem> itemTemplate = (item) =>
    (
        @<div class="item-template-box">
            <span style="color: @(item.key == "add-key" ? "green" : item.key == "edit-key" ? "yellow" : "red");">
                @item.Text (@item.key)
            </span>
        </div>
    );
}