@namespace Bit.BlazorUI
@inherits BitComponentBase

<span @ref="RootElement" @attributes="HtmlAttributes"
      id="@_Id"
      style="@StyleBuilder.Value"
      class="@ClassBuilder.Value">
    @ChildContent
    @if (Hidden is false)
    {
        <span style="@Styles?.BadgeWrapper" class="bit-bdg-wrp @GetBadgePositionClasses() @Classes?.BadgeWrapper">
            <span style="@Styles?.Badge" class="bit-bdg-ctn @GetBadgeClasses() @Classes?.Badge" @onclick="HandleOnClick">
                @if (Dot is false)
                {
                    if (Icon.HasValue())
                    {
                        <i style="@Styles?.Icon" class="bit-icon-bdg bit-icon bit-icon--@Icon @Classes?.Icon" />
                    }

                    if (_content.HasValue())
                    {
                        @_content
                    }
                }
            </span>
        </span>
    }
</span>