@inherits AppComponentBase;

<BitModal @bind-IsOpen="IsOpen">
    <div class="main-container">
        <div class="header">
            <span class="title">
                @if (Product.Id != 0)
                {
                    @Localizer[nameof(AppStrings.EditProduct)]
                }
                else
                {
                    @Localizer[nameof(AppStrings.AddProduct)]
                }
            </span>
            <BitIconButton IconName="BitIconName.ChromeClose" OnClick="OnCloseClick" />
        </div>
        <EditForm Model="Product" OnValidSubmit="WrapHandled(Save)" style="width: 100%; display: flex; flex-direction: column;
align-items: center">

            <DataAnnotationsValidator />
            <div class="form-input-container">
                <BitTextField Label="@(nameof(Product.Name))" @bind-Value="Product.Name" Placeholder="Enter product name" />
                <ValidationMessage For="() => Product.Name" />
            </div>

            <div class="form-input-container">
                <BitDropDown Label="Select category"
                             Items="AllCategoryList"
                             IsMultiSelect="false"
                             @bind-Value="SelectedCategoyId"
                             Placeholder="Select a category" />
                <ValidationMessage For="@(() => Product.CategoryId)" />
            </div>

            <div class="form-input-container">
                <BitNumericTextField Precision="2" Label="@(nameof(Product.Price))"
                                     @bind-Value="Product.Price"
                                     Suffix="$"
                                     LabelPosition="@BitNumericTextFieldLabelPosition.Top" />
                <ValidationMessage For="() => Product.Price" />
            </div>

            <div class="form-input-container">
                <BitTextField Label="@(nameof(Product.Description))"
                              IsMultiline="true"
                              Rows="3"
                              @bind-Value="Product.Description" />
                <ValidationMessage For="() => Product.Description" />
            </div>

            <BitButton ButtonType="BitButtonType.Submit">
                @if (IsSaveLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>@Localizer[nameof(AppStrings.Save)]</span>
                }
            </BitButton>
        </EditForm>
    </div>
</BitModal>