<footer class="footer-container">
    <section class="footer-section divider">
        <div class="bit-column">
            <div class="bit-icon" />
            <div class="line">ysm: Bit dar hal e toseye ba team i az talent ha hast. Faaliayat e ma ra dar <a href="https://github.com/bitfoundation/bitplatform/pulse/monthly" target="_blank">inja</a> donbal konid.</div>
        </div>
        <div class="products-column">
            <div class="header">Products</div>
            <a class="line" target="_blank" href="@Urls.TodoTemplate">To Do Template</a>
            <a class="line" target="_blank" href="@Urls.AdminPanelTemplate">Admin Panel Template</a>
            <a class="line" target="_blank" href="@Urls.Components">Bit Components</a>
            
        </div>
        <div class="quick-links-column">
            <div class="header">Quick links</div>
            <a class="line" target="_blank" href="@Urls.GithubRepo">Github Repo</a>
            <a class="line" target="_blank" href="@Urls.GithubOrg">Github Org</a>
            <a class="line" target="_blank" href="@Urls.GithubIssues">Issues</a>
        </div>
        <div class="media-column">
            <div class="header">Media</div>
            <a href="@Urls.Blog" target="_blank" class="line">Blog</a>
            <a href="@Urls.Video" target="_blank"  class="line">Video</a>
        </div>
    </section>

    <section class="footer-section">
        <div class="copy-right-column">Copyright © 2022 bit Fundation | All Rights Reserved </div>
        <div class="row">
            <a class="twitter-link" target="_blank" href="@Urls.Twitter"></a>
            <a class="github-link" target="_blank" href="@Urls.Github"></a>
            <a class="facebook-link" target="_blank" href="@Urls.Facebook"></a>
            <a class="linkedin-link" target="_blank" href="@Urls.Linkedin"></a>
        </div>
    </section>
</footer>