<footer class="footer-container">
    <section class="footer-section divider">
        <div class="bit-coulmn">
            <div class="bit-icon" />
            <div class="line">Whoooo we are and what we do in bit or why we want to resolve others issus</div>
        </div>
        <div class="products-coulmn">
            <div class="header">Products</div>
            <div class="line" href="@Urls.TodoTemplate">BitTodoTemplate</div>
            <div class="line" href="@Urls.Components">BitComponents</div>
            <div class="line" href="@Urls.Bswup">BitBswup</div>
        </div>
        <div class="quick-links-coulmn">
            <div class="header">Quick links</div>
            <a class="line" href="@Urls.GithubRepo">Github Repo</a>
            <a class="line" href="@Urls.GithubOrg">Github Org</a>
            <a class="line" href="@Urls.GithubIssues">Issues</a>
        </div>
        <div class="media-coulmn">
            <div class="header">Media</div>
            <a href="@Urls.Website" class="line">Web site</a>
            <a href="@Urls.Blog" class="line">Blog</a>
        </div>
    </section>

    <section class="footer-section">
        <div class="copy-right-coulmn">Copyright © 2022 bit Fundation | All Rights Reserved </div>
        <div class="row">
            <a class="twitter-link" href="@Urls.Tweter"></a>
            <a class="github-link" target="_blank" href="@Urls.Github"></a>
            <a class="facebook-link" href="@Urls.Facebook"></a>
            <a class="linkedin-link" target="_blank" href="@Urls.Linkedin"></a>
        </div>
    </section>
</footer>