@using Bit.BlazorUI.Demo.Shared.Infra;
@using Microsoft.AspNetCore.Components.Web
@namespace Bit.BlazorUI.Demo.Client.Web.Pages
@inject IHttpContextAccessor ContextAccessor
@inject IConfiguration Configuration

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var googleTagContainerID = @Configuration.GetSection("GoogleTagManager")["ContainerID"];

    var isBlazorServer = BlazorModeDetector.Current.IsBlazorServer();
    var isElectron = BlazorModeDetector.Current.IsBlazorElectron();
    var isDefaultDeploymentType = WebAppDeploymentTypeDetector.Current.IsDefault();
    var isStatic = WebAppDeploymentTypeDetector.Current.IsStatic();
    var isSsr = WebAppDeploymentTypeDetector.Current.IsSsr();
    var isPwa = WebAppDeploymentTypeDetector.Current.IsPwa();
    var shoudAddAspAppendVersion = !isPwa;
    RenderMode renderMode = isStatic
                            ? RenderMode.Static
                            : isBlazorServer
                            ? isDefaultDeploymentType || isPwa
                            ? RenderMode.Server
                            : RenderMode.ServerPrerendered
                            : isDefaultDeploymentType || isPwa
                            ? RenderMode.WebAssembly
                            : RenderMode.WebAssemblyPrerendered;


    if (renderMode is RenderMode.ServerPrerendered or RenderMode.WebAssemblyPrerendered)
    {
        var shouldRenderStaticMode = ContextAccessor?.HttpContext?.Request.ShouldRenderStaticMode();

        if (shouldRenderStaticMode is not null && shouldRenderStaticMode.Value)
        {
            renderMode = RenderMode.Static;
            isStatic = true;
        }
    }
}

<!DOCTYPE html>
<html lang="en" bit-theme="light">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Bit's Blazor UI components are native, easy-to-customize, and work seamlessly in all Blazor modes (WASM, Server, Hybrid, pre-rendering), saving you time and making development enjoyable." />
    <link rel="apple-touch-icon" sizes="512x512" href="images/icons/bit-icon-512.png" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" asp-append-version="@shoudAddAspAppendVersion">
    <link rel="stylesheet" href="/prism-1.28.0/prism-okaidia.min.css" />
    <component type="typeof(HeadOutlet)" render-mode="@renderMode" />
    @if (isElectron)
    {
        <style>
            * {
                -webkit-user-drag: none;
                -webkit-user-select: none;
                overscroll-behavior: none;
                -webkit-font-smoothing: antialiased;
                -webkit-tap-highlight-color: transparent;
            }
        </style>
    }
    <style>
        * {
            font-family: "Segoe UI";
            box-sizing: border-box;
        }

        html, body {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    <link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.min.css" asp-append-version="@shoudAddAspAppendVersion" />
    <link rel="stylesheet" href="_content/Bit.BlazorUI.Demo.Client.Shared/Bit.BlazorUI.Demo.Client.Shared.bundle.scp.css" asp-append-version="@shoudAddAspAppendVersion" />
</head>
<body class="@BitCss.BgColor.Primary @BitCss.Text.Primary">
    <div id="app-container">
        @if (isDefaultDeploymentType)
        {
            <component type="typeof(Bit.BlazorUI.Demo.Client.Shared.LoadingComponent)" param-Color="@("#FFF")" render-mode="@RenderMode.Static" />
        }
        @RenderBody()
    </div>

    @if (isStatic is false)
    {
        <script src="/prism-1.28.0/prism.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>
        <script src="/prism-1.28.0/prism-csharp.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>
        <script src="/prism-1.28.0/prism-cshtml.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>
        <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>
        <script src="_content/Bit.BlazorUI.Charts/scripts/bit.blazorui.charts.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>
        <script src="_content/Bit.BlazorUI.Demo.Client.Shared/scripts/app.js" asp-append-version="@shoudAddAspAppendVersion"></script>

        @if (isBlazorServer)
        {
            <script src="_framework/blazor.server.js" asp-append-version="@shoudAddAspAppendVersion"></script>
        }
        else
        {
            <script src="_framework/blazor.webassembly.js" autostart="false" asp-append-version="@shoudAddAspAppendVersion"></script>
            <script src="_content/Bit.Bup/bit-bup.progress.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>
            <script src="_content/Bit.Bup/bit-bup.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>

            @if (isSsr)
            {
                <component type="typeof(BupProgressBar)" render-mode="@RenderMode.WebAssemblyPrerendered" />
            }
            else
            {
                <link rel="stylesheet" href="_content/Bit.Bup/bit-bup.progress.min.css" asp-append-version="@shoudAddAspAppendVersion">
                <component type="typeof(Bit.Bup.BupProgress)" render-mode="@RenderMode.Static"
                           param-AutoHide="true"
                           param-HideApp="true"
                           param-AppContainer="@("#app-container")" />
            }
        }


    }

    @if (isSsr)
    {
        <persist-component-state />
    }

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@googleTagContainerID');</script>
    <!-- End Google Tag Manager -->
</body>
</html>
