@page "/components/breadcrumb"

<ComponentDemo ComponentName="Breadcrumb" ComponentDescription="Breadcrumbs should be used as a navigational aid in your app or site. They indicate the current page’s location within a hierarchy and help the user understand where they are in relation to the rest of that hierarchy. They also afford one-click access to higher levels of that hierarchy."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitBreadcrumb" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">With items rendered as links</div>
            <div>
                <BitBreadcrumb Items="GetBreadcrumbItems()"
                               OverflowAriaLabel="More links"></BitBreadcrumb>
            </div>
            <div class="example-desc">With custom rendered divider and overflow icon</div>
            <div>
                <BitBreadcrumb Items="GetBreadcrumbItems()"
                               DividerIcon="BitIconName.Separator"
                               OverflowIndex="1"
                               OverflowAriaLabel="More links"
                               MaxDisplayedItems="2"
                               OnRenderOverflowIcon="BitIconName.ChevronDown"></BitBreadcrumb>
            </div>
            <div class="example-desc">With item OnClick event: @OnClickValue</div>
            <div>
                <BitBreadcrumb Items="GetBreadcrumbItems()"
                               OverflowAriaLabel="More links"></BitBreadcrumb>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Breadcrumb collapsing options" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">With no maxDisplayedItems</div>
            <div>
                <BitBreadcrumb Items="GetBreadcrumbItems()"
                               AriaLabel="Breadcrumb with no maxDisplayedItems"
                               OverflowAriaLabel="More links"></BitBreadcrumb>
            </div>

            <div class="example-desc">With maxDisplayedItems set to 3</div>
            <div>
                <BitBreadcrumb Items="GetBreadcrumbItems()"
                               MaxDisplayedItems="3"
                               AriaLabel="Breadcrumb with 3 maxDisplayedItems"
                               OverflowAriaLabel="More links"></BitBreadcrumb>
            </div>

            <div class="example-desc">With maxDisplayedItems set to 2 and overflowIndex set to 1 (second element)"</div>
            <div>
                <BitBreadcrumb Items="GetBreadcrumbItems()"
                               MaxDisplayedItems="2"
                               OverflowAriaLabel="More links"
                               OverflowIndex="1"></BitBreadcrumb>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled"
                         HTMLSourceCode="@example3HTMLCode"
                         CSharpSourceCode="@example1CSharpCode"
                         ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">BitBreadcrumb can be disabled or enabled by setting IsEnabled attribute.</div>
            <div>
                <BitBreadcrumb Items="GetBreadcrumbItems()"
                               MaxDisplayedItems="2"
                               OverflowIndex="1"
                               OverflowAriaLabel="More links"
                               IsEnabled=false></BitBreadcrumb>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>