@page "/components/messagebar"
@page "/components/message-bar"

<PageOutlet Url="components/messagebar"
            Title="MessageBar"
            Description="messagebar component of the bit BlazorUI components" />

<ComponentDemo ComponentName="MessageBar"
               ComponentDescription="A banner (MessageBar) displays errors, warnings, or important information about an open app or file. For example, if a file failed to upload an error message bar should appear."
               ComponentParameters="componentParameters"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div class="example-desc">Different types of BitMessageBar.</div>
            <div class="example-box">
                <BitMessageBar MessageBarType="@BitMessageBarType.Info">
                    Info (default) MessageBar. <BitLink Href="https://bitplatform.dev">Visit our website.</BitLink>
                </BitMessageBar>
            </div>
            <div class="example-box">
                <BitMessageBar MessageBarType="@BitMessageBarType.Success">
                    Success MessageBar. <BitLink Href="https://bitplatform.dev">Visit our website.</BitLink>
                </BitMessageBar>
            </div>
            <div class="example-box">
                <BitMessageBar MessageBarType="@BitMessageBarType.Warning">
                    Warning MessageBar. <BitLink Href="https://bitplatform.dev">Visit our website.</BitLink>
                </BitMessageBar>
            </div>
            <div class="example-box">
                <BitMessageBar MessageBarType="@BitMessageBarType.SevereWarning">
                    SevereWarning MessageBar. <BitLink Href="https://bitplatform.dev">Visit our website.</BitLink>
                </BitMessageBar>
            </div>
            <div class="example-box">
                <BitMessageBar MessageBarType="@BitMessageBarType.Error">
                    Error MessageBar. <BitLink Href="https://bitplatform.dev">Visit our website.</BitLink>
                </BitMessageBar>
            </div>
            <div class="example-box">
                <BitMessageBar MessageBarType="@BitMessageBarType.Blocked">
                    Blocked MessageBar. <BitLink Href="https://bitplatform.dev">Visit our website.</BitLink>
                </BitMessageBar>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Customization" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
        <ExamplePreview>
            <div class="example-desc">There are multiple options to customize.</div>
            <div class="example-box">
                @if (IsInfoMessageBarHidden is false)
                {
                    <BitMessageBar MessageBarType="@BitMessageBarType.Info" OnDismiss="() => IsInfoMessageBarHidden = true">
                        Dismiss option enabled by adding <strong>OnDismiss</strong> parameter.
                    </BitMessageBar>
                }
            </div>
            <div class="example-box">
                <BitMessageBar MessageBarType="@BitMessageBarType.Success" IsMultiline="false">
                    <Actions>
                        <div style="display:flex;align-items:center">
                            <BitButton ButtonStyle="BitButtonStyle.Standard" Style="padding:0">Yes</BitButton>
                            <BitButton ButtonStyle="BitButtonStyle.Standard" Style="padding:0">No</BitButton>
                        </div>
                    </Actions>
                    <ChildContent>
                        MessageBar with single line and action buttons.MessageBar with single line and action buttons.
                    </ChildContent>
                </BitMessageBar>
            </div>
            <div class="example-box">
                @if (IsWarningMessageBarHidden is false)
                {
                    <BitMessageBar MessageBarType="@BitMessageBarType.Warning" OnDismiss="() => IsWarningMessageBarHidden = true">
                        <ChildContent>
                            MessageBar defaults to multiline.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
                        </ChildContent>
                        <Actions>
                            <div style="width:100%;text-align:right">
                                <BitButton ButtonStyle="BitButtonStyle.Standard" Style="padding:0">Yes</BitButton>
                                <BitButton ButtonStyle="BitButtonStyle.Standard" Style="padding:0">No</BitButton>
                            </div>
                        </Actions>
                    </BitMessageBar>
                }
            </div>
            <div class="example-box">
                @if (IsErrorMessageBarHidden is false)
                {
                    <BitMessageBar MessageBarType="@BitMessageBarType.Error" Truncated="true" IsMultiline="false" OnDismiss="() => IsErrorMessageBarHidden = true">
                        single line, with dismiss button and truncated text.
                        Truncation is not available if you use action buttons or multiline and should be used sparingly.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
                    </BitMessageBar>
                }
            </div>
            <div class="example-box">
                <BitMessageBar MessageBarType="@BitMessageBarType.Blocked">
                    <Actions>
                        <div style="width:100%;text-align:right">
                            <BitButton ButtonStyle="BitButtonStyle.Standard">Yes</BitButton>
                            <BitButton ButtonStyle="BitButtonStyle.Standard">No</BitButton>
                        </div>
                    </Actions>
                    <ChildContent>
                        MessageBar with action buttons which defaults to multiline.
                    </ChildContent>
                </BitMessageBar>
            </div>
            <div>
                <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick="Reset">Reset</BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <div class="example-box">
                <BitMessageBar Dir="BitDir.Rtl" MessageBarType="@BitMessageBarType.Info">
                    اطلاعات (پیش فرض) نوار پیام. <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                </BitMessageBar>
            </div>
            <div class="example-box">
                <BitMessageBar Dir="BitDir.Rtl" MessageBarType="@BitMessageBarType.Success">
                    نوار پیام موفق. <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                </BitMessageBar>
            </div>
            <div class="example-box">
                <BitMessageBar Dir="BitDir.Rtl" MessageBarType="@BitMessageBarType.Warning">
                    نوار پیام هشدار. <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                </BitMessageBar>
            </div>
            <div class="example-box">
                <BitMessageBar Dir="BitDir.Rtl" MessageBarType="@BitMessageBarType.SevereWarning">
                    نوار پیام هشدار شدید. <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                </BitMessageBar>
            </div>
            <div class="example-box">
                <BitMessageBar Dir="BitDir.Rtl" MessageBarType="@BitMessageBarType.Error">
                    نوار پیام خطا. <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                </BitMessageBar>
            </div>
            <div class="example-box">
                <BitMessageBar Dir="BitDir.Rtl" MessageBarType="@BitMessageBarType.Blocked">
                    نوار پیام مسدود. <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                </BitMessageBar>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>

@code {
    private bool IsInfoMessageBarHidden = false;
    private bool IsWarningMessageBarHidden = false;
    private bool IsErrorMessageBarHidden = false;

    private void Reset()
    {
        IsInfoMessageBarHidden = false;
        IsErrorMessageBarHidden = false;
        IsWarningMessageBarHidden = false;
    }
}