@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="@HtmlAttributes"
     class="@ClassBuilder.Value"
     style="@StyleBuilder.Value">
    @if (Label.HasValue())
    {
        <label class="bit-sld-lbl" @ref="_labelRef">@Label</label>
    }

    @if (IsRanged)
    {
        @if (ShowValue && IsVertical)
        {
            <label @ref="_valueLabelRef"
                   class="bit-sld-vlb"
                   for="@_sliderBoxId">
                @GetValueDisplay(upperValue.GetValueOrDefault())
            </label>
        }

        <div @ref="_containerRef"
             class="bit-sld-cnt"
             style="@(IsVertical ? _styleContainer : null)">
            @if (ShowValue && IsVertical is false)
            {
                <label class="bit-sld-vlb">@GetValueDisplay(lowerValue.GetValueOrDefault())</label>
            }
            <div @attributes="@SliderBoxHtmlAttributes"
                 style="@_styleProgress"
                 id="@_sliderBoxId"
                 class="bit-sld-box">

                <input @bind-value="@_firstInputValue" @oninput="@(args => HandleOnRangeInput(args, true))"
                       id="@_minInputId"
                       type="range"
                       min="@Min"
                       max="@Max"
                       step="@Step"
                       disabled=@(IsEnabled is false)
                       role="slider"
                       tabindex="@GetTabIndex"
                       data-is-focusable="@(IsEnabled is false)"
                       aria-disabled="@(IsEnabled is false)"
                       aria-label="@Label"
                       aria-valuemin="@Min"
                       aria-valuemax="@Max"
                       aria-valuetext="@GetAriaValueText(_firstInputValue.GetValueOrDefault())"
                       aria-valuenow="@_firstInputValue" />
                <input @bind-value="@_secondInputValue" @oninput="@(args => HandleOnRangeInput(args, false))"
                       id="@_maxInputId"
                       type="range"
                       min="@Min"
                       max="@Max"
                       step="@Step"
                       disabled=@(IsEnabled is false)
                       role="slider"
                       tabindex="@GetTabIndex"
                       data-is-focusable="@(IsEnabled is false)"
                       aria-disabled="@(IsEnabled is false)"
                       aria-label="@Label"
                       aria-valuemin="@Min"
                       aria-valuemax="@Max"
                       aria-valuetext="@GetAriaValueText(_secondInputValue.GetValueOrDefault())"
                       aria-valuenow="@_secondInputValue" />

                @if (IsOriginFromZero)
                {
                    <span class="bit-sld-ztk" style="left: calc(50% - 1px);"></span>
                }
            </div>
            @if (ShowValue && IsVertical is false)
            {
                <label class="bit-sld-vlb">@GetValueDisplay(upperValue.GetValueOrDefault())</label>
            }
        </div>

        @if (ShowValue && IsVertical)
        {
            <label class="bit-sld-vlb">@GetValueDisplay(lowerValue.GetValueOrDefault())</label>
        }
    }
    else
    {
        <div @ref="_containerRef" class="bit-sld-cnt">
            <input @bind-value="@Value" @oninput="@HandleOnInput"
                   type="range"
                   min="@Min"
                   max="@Max"
                   step="@Step"
                   style="@_styleProgress"
                   disabled=@(IsEnabled is false) />

            @if (IsOriginFromZero)
            {
                <span class="bit-sld-ztk" style="@(IsVertical ? "top: calc(50% - -2px);" : "left: calc(50% - 29px);")"></span>
            }

            @if (ShowValue && IsVertical is false)
            {
                <label class="bit-sld-vlb">@GetValueDisplay(Value.GetValueOrDefault())</label>
            }
        </div>
        @if (ShowValue && IsVertical)
        {
            <label class="bit-sld-vlb">@GetValueDisplay(Value.GetValueOrDefault())</label>
        }
    }
</div>