@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="@HtmlAttributes"
     class="@ClassBuilder.Value"
     style="@StyleBuilder.Value">
    @if (Label.HasValue())
    {
        <label class="label" @ref="LabelRef">@Label</label>
    }

    @if (IsRanged)
    {
        @if (ShowValue && IsVertical)
        {
            <label @ref="ValueLabelRef"
                   class="value-label"
                   for="@_sliderBoxId">
                @GetValueDisplay(upperValue.GetValueOrDefault())
            </label>
        }

        <div @ref="ContainerRef"
             class="container"
             style="@(IsVertical ? _styleContainer : null)">
            @if (ShowValue && IsVertical is false)
            {
                <label class="value-label">@GetValueDisplay(lowerValue.GetValueOrDefault())</label>
            }
            <div id="@_sliderBoxId"
                 class="box"
                 style="@_styleProgress"
                 @attributes="@SliderBoxHtmlAttributes">
                @if (IsOriginFromZero)
                {
                    <span class="zero-tick" style="left: calc(50% - 1px);"></span>
                }

                <input id="@_minInputId"
                       type="range"
                       min="@Min"
                       max="@Max"
                       step="@Step"
                       @bind-value="@_firstInputValue"
                       @oninput="@(args => HandleOnRangeInput(args, true))"
                       disabled=@(!IsEnabled)
                       role="slider"
                       tabindex="@GetTabIndex"
                       data-is-focusable="@(IsEnabled is false)"
                       aria-disabled="@(IsEnabled is false)"
                       aria-label="@Label"
                       aria-valuemin="@Min"
                       aria-valuemax="@Max"
                       aria-valuetext="@GetAriaValueText(_firstInputValue.GetValueOrDefault())"
                       aria-valuenow="@_firstInputValue" />
                <input id="@_maxInputId"
                       type="range"
                       min="@Min"
                       max="@Max"
                       step="@Step"
                       @bind-value="@_secondInputValue"
                       @oninput="@(args => HandleOnRangeInput(args, false))"
                       disabled=@(!IsEnabled)
                       role="slider"
                       tabindex="@GetTabIndex"
                       data-is-focusable="@(IsEnabled is false)"
                       aria-disabled="@(IsEnabled is false)"
                       aria-label="@Label"
                       aria-valuemin="@Min"
                       aria-valuemax="@Max"
                       aria-valuetext="@GetAriaValueText(_secondInputValue.GetValueOrDefault())"
                       aria-valuenow="@_secondInputValue" />
            </div>
            @if (ShowValue && IsVertical is false)
            {
                <label class="value-label">@GetValueDisplay(upperValue.GetValueOrDefault())</label>
            }
        </div>

        @if (ShowValue && IsVertical)
        {
            <label class="value-label">@GetValueDisplay(lowerValue.GetValueOrDefault())</label>
        }
    }
    else
    {
        <div @ref="ContainerRef"
             class="container">
            @if (IsOriginFromZero)
            {
                <span class="zero-tick" style="@(IsVertical ? "top: calc(50% - -2px);" : "left: calc(50% - 29px);")"></span>
            }

            <input type="range"
                   min="@Min"
                   max="@Max"
                   step="@Step"
                   @bind-value="@Value"
                   @oninput="@HandleOnInput"
                   style="@_styleProgress"
                   disabled=@(IsEnabled is false) />

            @if (ShowValue && IsVertical is false)
            {
                <label class="value-label">@GetValueDisplay(Value.GetValueOrDefault())</label>
            }
        </div>
        @if (ShowValue && IsVertical)
        {
            <label class="value-label">@GetValueDisplay(Value.GetValueOrDefault())</label>
        }
    }
</div>