@page "/components/propanel"

<PageOutlet Url="components/ProPanel"
            Title="ProPanel"
            Description="propanel component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="ProPanel"
                   ComponentDescription="ProPanel is an advanced version of normal Panel with additional features that tailored to more usual use-cases."
                   ComponentParameters="componentParameters"
                   ComponentSubClasses="componentSubClasses"
                   ComponentSubEnums="componentSubEnums">
        <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
            <ExamplePreview>
                <BitButton OnClick="() => isBasicProPanelOpen = true">Open ProPanel</BitButton>
                <BitProPanel @bind-IsOpen="isBasicProPanelOpen">
                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis.
                    </div>
                </BitProPanel>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Header & Footer" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
            <ExamplePreview>
                <BitButton OnClick="() => isProPanelWithHeaderTextOpen = true">Open ProPanel with HeaderText</BitButton>
                <BitProPanel @bind-IsOpen="isProPanelWithHeaderTextOpen" HeaderText="BitProPanel with HeaderText">
                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                        Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                        Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                        efficitur.
                    </div>
                </BitProPanel>
                <br />
                <BitButton OnClick="() => isProPanelWithHeaderOpen = true">Open ProPanel with Header</BitButton>
                <BitProPanel @bind-IsOpen="isProPanelWithHeaderOpen">
                    <Header>
                        <div>
                            <div style="margin-bottom:4px">BitProPanel with Header</div>
                            <BitSearchBox Placeholder="Search here..." />
                        </div>
                    </Header>
                    <Body>
                        <div style="max-width:300px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                            sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                            turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                            ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                            Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                            Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                            efficitur.
                        </div>
                    </Body>
                </BitProPanel>
                <br /><br /><br />
                <BitButton OnClick="() => isProPanelWithFooterTextOpen = true">Open ProPanel with FooterText</BitButton>
                <BitProPanel @bind-IsOpen="isProPanelWithFooterTextOpen" FooterText="BitProPanel with FooterText">
                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                        Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                        Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                        efficitur.
                    </div>
                </BitProPanel>
                <br />
                <BitButton OnClick="() => isProPanelWithFooterOpen = true">Open ProPanel with Footer</BitButton>
                <BitProPanel @bind-IsOpen="isProPanelWithFooterOpen">
                    <Body>
                        <div style="max-width:300px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                            sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                            turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                            ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                            Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                            Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                            efficitur.
                        </div>
                    </Body>
                    <Footer>
                        <h3 style="margin-bottom:4px">BitProPanel with Footer</h3>
                        <BitButton OnClick="() => isProPanelWithFooterOpen = false">Save</BitButton>
                        <BitButton OnClick="() => isProPanelWithFooterOpen = false" Variant="BitVariant.Outline">Close</BitButton>
                    </Footer>
                </BitProPanel>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Advanced options" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
            <ExamplePreview>
                <div>BitProPanel has some advanced options to be customized.</div>
                <br /><br />
                <BitButton OnClick="() => bitProPanelRef.Open()">Open ProPanel with ShowCloseButton</BitButton>
                <BitProPanel @ref="bitProPanelRef" HeaderText="ShowCloseButton" ShowCloseButton>
                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non.
                    </div>
                </BitProPanel>
                <br /><br /><br />
                <BitButton OnClick="() => isBlockingProPanelOpen = true">Open ProPanel with Blocking</BitButton>
                <BitProPanel @bind-IsOpen="isBlockingProPanelOpen" HeaderText="Blocking" ShowCloseButton Blocking>
                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non.
                    </div>
                </BitProPanel>
                <br /><br /><br />
                <BitButton OnClick="() => isModelessProPanelOpen = true">Open ProPanel with Modeless</BitButton>
                <BitProPanel @bind-IsOpen="isModelessProPanelOpen" HeaderText="Modeless" ShowCloseButton Modeless>
                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non.
                    </div>
                </BitProPanel>
                <br /><br /><br />
                <BitButton OnClick="() => isModeFullProPanelOpen = true">Open ProPanel with ModeFull</BitButton>
                <BitProPanel @bind-IsOpen="isModeFullProPanelOpen" HeaderText="ModeFull" ShowCloseButton ModeFull>
                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non.
                    </div>
                </BitProPanel>
                <br /><br /><br />
                <BitButton OnClick="() => isAutoToggleScrollProPanelOpen = true">Open ProPanel with AutoToggleScroll</BitButton>
                <BitProPanel @bind-IsOpen="isAutoToggleScrollProPanelOpen" HeaderText="AutoToggleScroll" AutoToggleScroll>
                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non.
                    </div>
                </BitProPanel>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Position and size" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
            <ExamplePreview>
                <div>To set the Panel position on the page you can use the Position parameter.</div>
                <br /><br />
                <div class="position-btn">
                    <BitSpinButton @bind-Value="customProPanelSize" Mode="BitSpinButtonMode.Inline" Label="Custom size" />
                    <div>
                        <BitButton OnClick="() => isStartProPanelOpen = true">Start</BitButton>
                        <BitButton OnClick="() => isEndProPanelOpen = true">End</BitButton>
                    </div>
                    <div>
                        <BitButton OnClick="() => isTopProPanelOpen = true">Top</BitButton>
                        <BitButton OnClick="() => isBottomProPanelOpen = true">Bottom</BitButton>
                    </div>
                </div>

                <BitProPanel @bind-Size="customProPanelSize"
                             @bind-IsOpen="isStartProPanelOpen"
                             HeaderText="Start BitProPanel"
                             Position="BitPanelPosition.Start">
                    BitProPanel with Start position and custom Size.
                    <BitSpinButton @bind-Value="customProPanelSize" Mode="BitSpinButtonMode.Inline" Label="Custom size" />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis.
                </BitProPanel>

                <BitProPanel @bind-Size="customProPanelSize"
                             @bind-IsOpen="isEndProPanelOpen"
                             HeaderText="End BitProPanel"
                             Position="BitPanelPosition.End">
                    BitProPanel with End position and custom Size.
                    <BitSpinButton @bind-Value="customProPanelSize" Mode="BitSpinButtonMode.Inline" Label="Custom size" />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis.
                </BitProPanel>

                <BitProPanel @bind-Size="customProPanelSize"
                             @bind-IsOpen="isTopProPanelOpen"
                             HeaderText="Top BitProPanel"
                             Position="BitPanelPosition.Top">
                    BitProPanel with Top position and custom Size.
                    <BitSpinButton @bind-Value="customProPanelSize" Mode="BitSpinButtonMode.Inline" Label="Custom size" />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis.
                </BitProPanel>

                <BitProPanel @bind-Size="customProPanelSize"
                             @bind-IsOpen="isBottomProPanelOpen"
                             HeaderText="Bottom BitProPanel"
                             Position="BitPanelPosition.Bottom">
                    BitProPanel with Bottom position and custom Size.
                    <BitSpinButton @bind-Value="customProPanelSize" Mode="BitSpinButtonMode.Inline" Label="Custom size" />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis.
                </BitProPanel>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Style & Class" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5">
            <ExamplePreview>
                <div>Explore styling and class customization for BitProPanel, including component styles, custom classes, and detailed styles.</div>
                <br /><br />
                <div>Component's Style & Class:</div><br />
                <BitButton OnClick="() => isStyledProPanelOpen = true">Open Styled ProPanel</BitButton>
                <BitProPanel @bind-IsOpen="isStyledProPanelOpen" HeaderText="Style" ShowCloseButton Style="font-size: 3rem;">
                    BitProPanel with custom style.
                </BitProPanel>
                <br /><br />
                <BitButton OnClick="() => isClassedProPanelOpen = true">Open Classed ProPanel</BitButton>
                <BitProPanel @bind-IsOpen="isClassedProPanelOpen" HeaderText="Class" ShowCloseButton Class="custom-class">
                    BitProPanel with custom class:
                    <div class="item">Item 1</div>
                    <div class="item">Item 2</div>
                    <div class="item">Item 3</div>

                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis.
                    </div>
                </BitProPanel>
                <br /><br /><br />
                <div><b>Styles</b> & <b>Classes</b>:</div><br />
                <BitButton OnClick="() => isProPanelStylesOpen = true">Open ProPanel Styles</BitButton>
                <BitProPanel @bind-IsOpen="isProPanelStylesOpen"
                             HeaderText="Styles" ShowCloseButton
                             Styles="@(new() { Overlay = "background-color: #4776f433;",
                                               Container = "box-shadow: 0 0 1rem tomato;" })">
                    BitProPanel with <b>Styles</b> to customize its elements.
                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis.
                    </div>
                </BitProPanel>
                <br /><br />
                <BitButton OnClick="() => isProPanelClassesOpen = true">Open ProPanel Classes</BitButton>
                <BitProPanel @bind-IsOpen="isProPanelClassesOpen"
                             HeaderText="Classes" ShowCloseButton
                             FooterText="This is a footer text!"
                             Classes="@(new() { Container = "custom-container",
                                                Overlay = "custom-overlay",
                                                HeaderContainer = "custom-header-container",
                                                Header = "custom-header",
                                                Body = "custom-body",
                                                Footer = "custom-footer" })">
                    BitProPanel with <b>Classes</b> to customize its elements.
                    <div style="max-width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis.
                    </div>
                </BitProPanel>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="RTL" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
            <ExamplePreview>
                <div>Use BitProPanel in right-to-left (RTL).</div>
                <br /><br />
                <div>
                    <div class="position-btn" dir="rtl">
                        <div>
                            <BitButton OnClick="() => isRtlProPanelOpenStart = true">آغاز</BitButton>
                            <BitButton OnClick="() => isRtlProPanelOpenEnd = true">پایان</BitButton>
                        </div>
                    </div>

                    <BitProPanel @bind-IsOpen="isRtlProPanelOpenStart"
                                 Dir="BitDir.Rtl"
                                 HeaderText="سرصفحه ی آغاز"
                                 Position="BitPanelPosition.Start">
                        <div style="max-width:300px">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </div>
                    </BitProPanel>

                    <BitProPanel @bind-IsOpen="isRtlProPanelOpenEnd"
                                 Dir="BitDir.Rtl"
                                 HeaderText="سرصفحه ی پایان"
                                 Position="BitPanelPosition.End">
                        <div style="max-width:300px">
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                            در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </div>
                    </BitProPanel>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

    </ComponentDemo>
</div>