@page "/components/propanel"

<PageOutlet Url="components/ProPanel"
            Title="ProPanel"
            Description="propanel component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="ProPanel"
                   ComponentDescription="ProPanel is an advanced version of normal BitPanel with additional features that tailored to more usual use-cases."
                   ComponentParameters="componentParameters"
                   ComponentSubClasses="componentSubClasses"
                   ComponentSubEnums="componentSubEnums">
        <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
            <ExamplePreview>
                <BitButton OnClick="() => isBasicPanelOpen = true">Open Panel</BitButton>
                <BitProPanel @bind-IsOpen="isBasicPanelOpen">
                    <div style="width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis.
                    </div>
                </BitProPanel>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Header & Footer" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
            <ExamplePreview>
                <BitButton OnClick="() => isPanelWithHeaderOpen = true">Open Panel with Header</BitButton>
                <BitProPanel @bind-IsOpen="isPanelWithHeaderOpen">
                    <Header>
                        <div>
                            <div style="margin-bottom:4px">BitPanel with header content</div>
                            <BitSearchBox Placeholder="Search here..." />
                        </div>
                    </Header>
                    <Body>
                        <div style="width:300px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                            sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                            turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                            ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                            Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                            Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                            efficitur.
                        </div>
                    </Body>
                </BitProPanel>
                <br /><br />
                <BitButton OnClick="() => isPanelWithFooterOpen = true">Open Panel with Footer</BitButton>
                <BitProPanel @bind-IsOpen="isPanelWithFooterOpen">
                    <Body>
                        <div style="width:300px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                            sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                            turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                            ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                            Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                            Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                            efficitur.
                        </div>
                    </Body>
                    <Footer>
                        <BitButton OnClick="() => isPanelWithFooterOpen = false">Save</BitButton>
                        <BitButton OnClick="() => isPanelWithFooterOpen = false" Variant="BitVariant.Outline">Close</BitButton>
                    </Footer>
                </BitProPanel>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Advanced options" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
            <ExamplePreview>
                <div>BitPanel has some advanced options to be customized.</div>
                <br /><br />
                <div>ShowCloseButton:</div><br />
                <BitButton OnClick="() => bitPanelRef.Open()">Open Panel</BitButton>
                <BitProPanel @ref="bitPanelRef" ShowCloseButton>
                    <Header>ShowCloseButton</Header>
                    <Body>
                        <div style="width:300px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                            sagittis nunc, ut interdum ipsum vestibulum non.
                        </div>
                    </Body>
                </BitProPanel>
                <br /><br /><br />
                <div>Blocking:</div><br />
                <BitButton OnClick="() => isBlockingPanelOpen = true">Open Panel</BitButton>
                <BitProPanel @bind-IsOpen="isBlockingPanelOpen" Blocking ShowCloseButton>
                    <Header>Blocking</Header>
                    <Body>
                        <div style="width:300px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                            sagittis nunc, ut interdum ipsum vestibulum non.
                        </div>
                    </Body>
                </BitProPanel>
                <br /><br /><br />
                <div>Modeless:</div><br />
                <BitButton OnClick="() => isModelessPanelOpen = true">Open Panel</BitButton>
                <BitProPanel @bind-IsOpen="isModelessPanelOpen" Modeless ShowCloseButton>
                    <Header>Modeless</Header>
                    <Body>
                        <div style="width:300px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                            sagittis nunc, ut interdum ipsum vestibulum non.
                        </div>
                    </Body>
                </BitProPanel>
                <br /><br /><br />
                <div>ModeFull:</div><br />
                <BitButton OnClick="() => isModeFullPanelOpen = true">Open Panel</BitButton>
                <BitProPanel @bind-IsOpen="isModeFullPanelOpen" ModeFull ShowCloseButton>
                    <div style="width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non.
                    </div>
                </BitProPanel>
                <br /><br /><br />
                <div>AutoToggleScroll:</div><br />
                <BitButton OnClick="() => isAutoToggleScrollPanelOpen = true">Open Panel</BitButton>
                <BitProPanel HeaderText="AutoToggleScroll" @bind-IsOpen="isAutoToggleScrollPanelOpen" AutoToggleScroll>
                    <div style="width:300px">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non.
                    </div>
                </BitProPanel>
                <br /><br /><br />
                <div>AutoToggleScroll:</div><br />
                <BitButton OnClick="() => isAutoToggleScrollPanelOpen = true">Open Panel</BitButton>
                <BitProPanel @bind-IsOpen="isAutoToggleScrollPanelOpen" AutoToggleScroll>
                    <Header>AutoToggleScroll</Header>
                    <Body>
                        <div style="width:300px">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                            sagittis nunc, ut interdum ipsum vestibulum non.
                        </div>
                    </Body>
                </BitProPanel>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Position and size" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
            <ExamplePreview>
                <div>To set the Panel position on the page you can use the Position parameter.</div>
                <br /><br />
                <div class="position-btn">
                    <BitSpinButton @bind-Value="customPanelSize" Mode="BitSpinButtonMode.Inline" Label="Custom size" />
                    <div>
                        <BitButton OnClick="() => isOpenInPositionStart = true">Start</BitButton>
                        <BitButton OnClick="() => isOpenPositionEnd = true">End</BitButton>
                    </div>
                    <div>
                        <BitButton OnClick="() => isOpenInPositionTop = true">Top</BitButton>
                        <BitButton OnClick="() => isOpenInPositionBottom = true">Bottom</BitButton>
                    </div>
                </div>

                <BitProPanel @bind-Size="customPanelSize" @bind-IsOpen="isOpenInPositionStart" Position="BitPanelPosition.Start">
                    BitPanel with Start position and custom Size.
                    <BitSpinButton @bind-Value="customPanelSize" Mode="BitSpinButtonMode.Inline" Label="Custom size" />
                </BitProPanel>

                <BitProPanel @bind-Size="customPanelSize" @bind-IsOpen="isOpenPositionEnd" Position="BitPanelPosition.End">
                    BitPanel with End position and custom Size.
                    <BitSpinButton @bind-Value="customPanelSize" Mode="BitSpinButtonMode.Inline" Label="Custom size" />
                </BitProPanel>

                <BitProPanel @bind-Size="customPanelSize" @bind-IsOpen="isOpenInPositionTop" Position="BitPanelPosition.Top">
                    BitPanel with Top position and custom Size.
                    <BitSpinButton @bind-Value="customPanelSize" Mode="BitSpinButtonMode.Inline" Label="Custom size" />
                </BitProPanel>

                <BitProPanel @bind-Size="customPanelSize" @bind-IsOpen="isOpenInPositionBottom" Position="BitPanelPosition.Bottom">
                    BitPanel with Bottom position and custom Size.
                    <BitSpinButton @bind-Value="customPanelSize" Mode="BitSpinButtonMode.Inline" Label="Custom size" />
                </BitProPanel>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Style & Class" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5">
            <ExamplePreview>
                <div>Explore styling and class customization for BitPanel, including component styles, custom classes, and detailed styles.</div>
                <br /><br />
                <div>Component's Style & Class:</div><br />
                <BitButton OnClick="() => isStyledPanelOpen = true">Open Styled panel</BitButton>
                <BitProPanel @bind-IsOpen="isStyledPanelOpen" Style="font-size: 3rem;">
                    <Header>Style</Header>
                    <Body>
                        BitPanel with custom style.
                    </Body>
                </BitProPanel>
                <br /><br />
                <BitButton OnClick="() => isClassedPanelOpen = true">Open Classed panel</BitButton>
                <BitProPanel @bind-IsOpen="isClassedPanelOpen" Class="custom-class">
                    <Header>Class</Header>
                    <Body>
                        BitPanel with custom class:
                        <div class="item">Item 1</div>
                        <div class="item">Item 2</div>
                        <div class="item">Item 3</div>
                    </Body>
                </BitProPanel>
                <br /><br /><br />
                <div><b>Styles</b> & <b>Classes</b>:</div><br />
                <BitButton OnClick="() => isPanelStylesOpen = true">Open panel Styles</BitButton>
                <BitProPanel @bind-IsOpen="isPanelStylesOpen"
                             Styles="@(new() { Overlay = "background-color: #4776f433;",
                                               Container = "box-shadow: 0 0 1rem tomato;" })">
                    <Header>Styles</Header>
                    <Body>
                        BitPanel with
                        <b>Styles</b> to customize its elements.
                    </Body>
                </BitProPanel>
                <br /><br />
                <BitButton OnClick="() => isPanelClassesOpen = true">Open panel Classes</BitButton>
                <BitProPanel @bind-IsOpen="isPanelClassesOpen"
                             Classes="@(new() { Container = "custom-container",
                                                Overlay = "custom-overlay",
                                                Body = "custom-body",
                                                Header = "custom-header" })">
                    <Header>Classes</Header>
                    <Body>
                        BitPanel with
                        <b>Classes</b> to customize its elements.
                    </Body>
                </BitProPanel>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="RTL" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
            <ExamplePreview>
                <div>Use BitPanel in right-to-left (RTL).</div>
                <br /><br />
                <div>
                    <div class="position-btn" dir="rtl">
                        <div>
                            <BitButton OnClick="() => isRtlPanelOpenStart = true">آغاز</BitButton>
                            <BitButton OnClick="() => isRtlPanelOpenEnd = true">پایان</BitButton>
                        </div>
                    </div>

                    <BitProPanel @bind-IsOpen="isRtlPanelOpenStart" Dir="BitDir.Rtl" Position="BitPanelPosition.Start">
                        <Header>سرصفحه ی آغاز</Header>
                        <Body>
                            <div style="width:300px">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            </div>
                        </Body>
                    </BitProPanel>

                    <BitProPanel @bind-IsOpen="isRtlPanelOpenEnd" Dir="BitDir.Rtl" Position="BitPanelPosition.End">
                        <Header>سرصفحه ی پایان</Header>
                        <Body>
                            <div style="width:300px">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                                در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            </div>
                        </Body>
                    </BitProPanel>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

    </ComponentDemo>
</div>