@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue() && IsEnabled)
{
    <a @ref="RootElement"
       @attributes="HtmlAttributes"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       aria-label="@AriaLabel"
       aria-describedby="@AriaDescription"
       aria-hidden="@AriaHidden"
       title="@Title"
       target="@Target"
       href="@Href"
       tabindex="@_tabIndex">
        <span class="icon-container">
            <i class="bit-icon bit-icon--@IconName.GetName()"></i>
        </span>
    </a>
}
else
{
    <button @ref="RootElement"
            @attributes="HtmlAttributes"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            type="@ButtonType?.GetValue()"
            aria-label="@AriaLabel"
            aria-describedby="@AriaDescription"
            aria-hidden="@AriaHidden"
            title="@Title"
            tabindex="@_tabIndex"
            @onclick="HandleOnClick">
        <span class="icon-container">
            <i class="bit-icon bit-icon--@IconName.GetName()"></i>
        </span>
    </button>
}