@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue() && IsEnabled)
{
    <a @ref="RootElement" @attributes="HtmlAttributes"
       id="@_Id"
       href="@Href"
       title="@Title"
       target="@Target"
       tabindex="@_tabIndex"
       aria-label="@AriaLabel"
       aria-hidden="@AriaHidden"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       dir="@Dir?.ToString().ToLower()"
       aria-describedby="@AriaDescription">
        <span style="@Styles?.Container" class="bit-icb-ict @Classes?.Container">
            <i style="@Styles?.Icon" class="bit-icon bit-icon--@IconName @Classes?.Icon" />
        </span>
    </a>
}
else
{
    <button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
            id="@_Id"
            title="@Title"
            tabindex="@_tabIndex"
            aria-label="@AriaLabel"
            aria-hidden="@AriaHidden"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            type="@_buttonType.GetValue()"
            dir="@Dir?.ToString().ToLower()"
            aria-describedby="@AriaDescription">
        <span style="@Styles?.Container" class="bit-icb-ict @Classes?.Container">
            <i style="@Styles?.Icon" class="bit-icon bit-icon--@IconName @Classes?.Icon" />
        </span>
    </button>
}