@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <ul class="bit-brc">

        @foreach ((BitBreadcrumbItem item, int index) item in GetBreadcrumbItemsToShow().Select((item, index) => (item, index)))
        {
            <li>
                @if (_overflowItems.Any() && item.index == OverflowIndex)
                {
                    <button aria-label="@OverflowAriaLabel" class=@($"bit-icon bit-icon--{OnRenderOverflowIcon.GetName()}")></button>
                }
                else
                {
                    <a href="@item.item.href" onclick="@item.item.OnClick">@item.item.Text</a>
                }

                @if (_itemsToShowInBreadcrumb.Count - 1 != item.index)
                {
                    <i class=@($"bit-icon bit-icon--{DividerAs.GetName()}")></i>
                }

            </li>
        }
    </ul>
</div>