<section class="case-container">
    <div class="case-left-container">
        <div class="case-title">@ShowCase.Name</div>
        <div class="case-desc">@ShowCase.Description</div>
        <div class="case-tech-title">Technologies:</div>
        <div class="case-tech-container">
            <div class="case-tech @($"python")"><span class="tooltip">html5<span class="tooltip-vector"></span></span></div>
            <div class="case-tech @($"python")"><span class="tooltip">html5<span class="tooltip-vector"></span></span></div>
            <div class="case-tech @($"python")"><span class="tooltip">html5<span class="tooltip-vector"></span></span></div>
        </div>
        <a class="case-btn--primary" href="@($"/case-detail/{ShowCase.Key}")">Read Our Journey</a>
    </div>

    <div class="case-right-container">
        <div class="case-photo"></div>
        <div class="case-info-container">
            <div class="case-info-box">
                <span class="case-info-value">@ShowCase.TeamMemberCount</span>
                <span class="case-info-title">Team members</span>
            </div>
            <div class="case-info-box">
                <span class="case-info-value">@ShowCase.MvpDeliveryTime.ToLower()</span>
                <span class="case-info-title">MVP delivery time</span>
            </div>
            <div class="case-info-box">
                <span class="case-info-value">@ShowCase.DeliveryTime.ToLower()</span>
                <span class="case-info-title">Delivery time</span>
            </div>
        </div>
    </div>
</section>

@code {
    [Parameter]
    public Bit.Websites.Sales.Web.Models.Case ShowCase { get; set; }
}