@using Bit.Websites.Platform.Shared.Infra;
@using Microsoft.AspNetCore.Components.Web;
@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode;

@namespace Bit.Websites.Platform.Web.Pages
@inject IHttpContextAccessor ContextAccessor
@inject IConfiguration Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{

    var googleTagContainerID = @Configuration.GetSection("GoogleTagManager")["ContainerID"];
    var isBlazorServer = BlazorModeDetector.Current.IsBlazorServer();
    var isStatic = WebAppDeploymentTypeDetector.Current.IsStatic();
    var isSsr = WebAppDeploymentTypeDetector.Current.IsSsr();
    var shoudAddAspAppendVersion = true;
    RenderMode renderMode = isBlazorServer ? RenderMode.ServerPrerendered : RenderMode.WebAssemblyPrerendered;


    if (renderMode is RenderMode.ServerPrerendered or RenderMode.WebAssemblyPrerendered)
    {
        var shouldRenderStaticMode = ContextAccessor?.HttpContext?.Request.ShouldRenderStaticMode();

        if (shouldRenderStaticMode is not null && shouldRenderStaticMode.Value)
        {
            renderMode = RenderMode.Static;
            isStatic = true;
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="bit is a platform for .NET developers to easily Code, Build & Deploy their projects across multiple platforms." />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" asp-append-version="@shoudAddAspAppendVersion">
    <component type="typeof(HeadOutlet)" render-mode="@renderMode" />
    <link rel="apple-touch-icon" sizes="512x512" href="images/icons/bit-icon-512.png" />
    <style>
        * {
            font-family: "OpenSans";
        }

        html, body {
            width: 100%;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
        }

        ::-webkit-scrollbar {
            width: 6.5px;
            height: 6.5px;
            background-color: #fff;
        }

        ::-webkit-scrollbar-track {
            background-color: #fff;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 8px;
            border: 4px solid #c8c6c4;
            background-color: #c8c6c4;
        }

        ::-webkit-scrollbar-button {
            display: none;
        }

        ::-webkit-scrollbar-thumb:hover {
            border-radius: 8px;
            border: 4px solid #106ebe;
            background-color: #106ebe;
        }
    </style>
    <link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.min.css" asp-append-version="@shoudAddAspAppendVersion" />
    <link href="Bit.Websites.Platform.Web.styles.css" rel="stylesheet" asp-append-version="@shoudAddAspAppendVersion" />
</head>
<body>
    <div id="app-container">
        @RenderBody()
    </div>

    @if (isStatic is false)
    {
        @if (isBlazorServer)
        {
            <script src="_framework/blazor.server.js" asp-append-version="@shoudAddAspAppendVersion"></script>
        }
        else
        {
            <script src="_framework/blazor.webassembly.js" autostart="false" asp-append-version="@shoudAddAspAppendVersion"></script>
            <script src="_content/Bit.Bup/bit-bup.progress.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>
            <script src="_content/Bit.Bup/bit-bup.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>

            @if (isSsr)
            {
                <component type="typeof(BupProgressBar)" render-mode="@RenderMode.WebAssemblyPrerendered" />
            }
            else
            {
                <link rel="stylesheet" href="_content/Bit.Bup/bit-bup.progress.min.css" asp-append-version="@shoudAddAspAppendVersion">
                <component type="typeof(Bit.Bup.BupProgress)" render-mode="@RenderMode.Static"
               param-AutoHide="true"
               param-HideApp="true"
               param-AppContainer="@("#app-container")" />
            }
        }
        <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>
    }
    <script src="scripts/app.js" asp-append-version="@shoudAddAspAppendVersion"></script>

    @if (isSsr)
    {
        <persist-component-state />
    }

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', '@googleTagContainerID');</script>
    <!-- End Google Tag Manager -->

    <!-- TrustBox script -->
    <!-- <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script> -->
    <!-- End TrustBox script -->
</body>
</html>