@page "/"

<div class="page-container">
    <section class="page-section hero-section">
        <div class="page-section-contnet">
            <div class="hero-section-content">
                @*<h1 class="hero-section-main-title">bit platform:</h1>*@
                <h1 class="hero-section-title">
                    Home for .NET<br />
                    Developers
                </h1>
                <div class="hero-section-desc">
                    Easy to use, full featured, and cross platform project templates and high performance components!
                </div>
            </div>
        </div>
    </section>

    <section class="page-section templates-section">
        <div class="page-section-contnet">
            <h2 class="section-title">
                Project<br />
                Templates
            </h2>
            <div class="section-desc">Coding templates based on .Net MAUI / Blazor that enables high quality speedy cross-platform development for web, android and iOS and also has pixel-perfect, ready to use UIs.</div>
            <div class="card-list">
                <div class="template-card">
                    <div class="template-img-container">
                        <a href="@Urls.TodoTemplate">
                            <img class="template-img" src="/images/templates/todo-template.webp" alt="TodoTemplate" />
                        </a>
                    </div>
                    <div class="template-name">TodoTemplate</div>
                    <div class="template-desc">
                        TodoTemplate is based on ASP.NET core, identity, web api and ef core for the server side + blazor at client side.<br />
                        It allows you building Android, iOS, Windows, Web applications from single code base.
                    </div>
                    <div class="flex-container">
                        <a class="template-link" href="@Urls.TodoTemplate">Read more about TodoTemplate <span class="template-link-arrow"></span></a>
                        <a class="demo-btn" href="@Urls.TodoTemplateSSR" target="_blank">Demo</a>
                    </div>
                </div>
                <div class="template-card">
                    <div class="template-img-container">
                        <a href="@Urls.AdminPanel">
                            <img class="template-img" src="/images/templates/admin-panel.webp" alt="AdminPanel" />
                        </a>
                    </div>
                    <div class="template-name">AdminPanel</div>
                    <div class="template-desc">
                        AdminPanel is based on ASP.NET core, identity, web api and ef core for the server side + blazor at client side.<br />
                        It allows you building Android, iOS, Windows, Web applications from single code base.
                    </div>
                    <div class="flex-container">
                        <a class="template-link" href="@Urls.AdminPanel">Read more about AdminPanel <span class="template-link-arrow"></span></a>
                        <a class="demo-btn" href="@Urls.AdminPanelMultiLingual" target="_blank">Demo</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section components-section">
        <div class="page-section-contnet">
            <h2 class="section-title">
                Components
            </h2>
            <div class="flex-container">
                <div class="components-content-container">
                    <div class="section-desc">Bit BlazorUI is an easy to use, easy to customize, native, and high performance component library that significantly speed up coding.</div>
                    <div class="item-list">
                        <div class="com-item">
                            <div class="com-item-content">
                                <div class="com-item-value">37</div>
                                <div class="com-item-name">Number of components</div>
                            </div>
                        </div>
                        <div class="com-item">
                            <div class="com-item-content">
                                <div class="com-item-value">49</div>
                                <div class="com-item-name">Open-source contributers</div>
                            </div>
                        </div>
                    </div>
                    <a class="com-link" href="@Urls.Components">Read more about BlazorUI <span class="com-link-arrow"></span></a>
                </div>
                <div class="image-container">
                    <div class="com-image"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section customer-section">
        <div class="page-section-contnet">

            <!-- TrustBox widget - Micro Review Count -->
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="633c868bc3c26f911394fa13" data-style-height="24px" data-style-width="100%" data-theme="light" data-min-review-count="10" data-without-reviews-preferred-string-id="1" data-style-alignment="center">
                <a href="https://www.trustpilot.com/review/bitplatform.dev" target="_blank" rel="noopener">Trustpilot</a>
            </div>
            <br/>
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="633c868bc3c26f911394fa13" data-style-height="52px" data-style-width="100%">
                <a href="https://www.trustpilot.com/review/bitplatform.dev" target="_blank" rel="noopener">Trustpilot</a>
            </div>
            <!-- End TrustBox widget -->
        </div>
    </section>
</div>