@page "/"
@inherits AppComponentBase

<PageOutlet Url=""
            Title="Home"
            Description="home page of the bit platform" />

<div class="page-container">
    <section class="page-section hero-section">
        <div class="page-section-content">
            <div class="hero-section-content">
                <BitTypography Variant="BitTypographyVariant.H1" Gutter Class="hero-title">bit platform</BitTypography>
                 <BitTypography Variant="BitTypographyVariant.H5" Gutter Style="font-weight: 300">
                     Create everything for everywhere using what you already know and love
                 </BitTypography>
                 <br /><br />
                 <BitButton Class="hero-quickstart-button">
                     <a Class="hero-quickstart-link" href="#quick-start">
                         <BitTypography Variant="BitTypographyVariant.H6" Class="hero-quickstart-text">Quick start &nbsp; <BitIcon IconName="@BitIconName.ChevronRightSmall" /></BitTypography>
                     </a>
                 </BitButton>
             </div>
             <div class="hero-section-banner-container">
                 <div class="hero-section-banner">
                     <img src="/images/home/banner.webp" width="640" height="603"/>
                 </div>
             </div>
         </div>
     </section>

     <section class="page-section intro-section">
         <div class="page-section-content">
             <BitTypography Variant="BitTypographyVariant.H3" Gutter>What is bit platform?</BitTypography>
            <BitTypography Variant="BitTypographyVariant.Subtitle1">
                bit platform is a set of tools for <b>.NET</b> developers to easily <b>Code, Build & Deploy</b> their projects across <span class="blue-txt"><b>multiple platforms</b></span>.<br />
                Our mission is to make development easier.
            </BitTypography>
        </div>
    </section>

    <section class="page-section components-section">
        <div class="page-section-content">
            <BitTypography Variant="BitTypographyVariant.H3" Gutter>Components</BitTypography>
            <div class="components-container">
                <div class="components-content-container">
                    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
                        bit BlazorUI is an intuitive, versatile, and high-performance component library that streamlines coding and enhances productivity.
                    </BitTypography>
                    <div class="com-item-list">
                        <div class="com-item">
                            <div class="com-item-content">
                                <div class="com-item-value">45</div>
                                <div class="com-item-name">Number of components</div>
                            </div>
                        </div>
                        <div class="com-item">
                            <div class="com-item-content">
                                <div class="com-item-value">53</div>
                                <div class="com-item-name">Open-source contributers</div>
                            </div>
                        </div>
                    </div>
                    <a class="com-link" href="@Urls.Components" target="_blank">Read more about BlazorUI <span class="com-link-arrow"></span></a>
                </div>
                <div class="image-container">
                    <a href="@Urls.Components" target="_blank" class="image-link" />
                </div>
            </div>
        </div>
    </section>

    <section class="page-section templates-section">
        <div class="page-section-content">
            <BitTypography Variant="BitTypographyVariant.H3" Gutter>Project templates</BitTypography>
            <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
                .NET project templates that enable high-quality, speedy cross-platform development for Web, Android, iOS, macOS, Windows and Linux.
            </BitTypography>
            <div class="template-terminal">
                <BitIcon IconName="@BitIconName.ChevronRightSmall" /> <span>dotnet</span> <span>new</span>
                <span class="animation-container"><span class="animated a-1">bit-todo&nbsp;</span> <span class="animated a-1 delayed d-1">bit-admin</span></span>
                <span>--database</span>
                <span class="animation-container"><span class="animated a-2">sqlite&nbsp;&nbsp;&nbsp;</span> <span class="animated a-2 delayed d-2">sqlserver</span></span>
                <span>--pipeline</span>
                <span class="animation-container"><span class="animated a-3">github</span> <span class="animated a-3 delayed d-3">azure</span></span>
                <span>--name</span> <span>MyAwesomeProject</span>
            </div>
            <div class="template-card-list">
                <div class="template-card">
                    <BitTypography Variant="BitTypographyVariant.H5" Gutter>
                        <BitLink Href="@Urls.AdminPanel">TodoTemplate</BitLink>
                    </BitTypography>
                    <br />
                    <div class="template-img-container">
                        <a href="@Urls.TodoTemplate">
                            <img class="template-img" src="/images/home/todotemplate.webp" alt="TodoTemplate" />
                        </a>
                    </div>
                    <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
                        The TodoTemplate is built with ASP.NET Core, Identity, Web API, and EF Core for the server-side, and Blazor for the client-side.
                    </BitTypography>
                    <br />
                    <div class="links-container">
                        <a class="template-link" href="@Urls.TodoTemplate">Learn more <span class="template-link-arrow"></span></a>
                        <BitButton Href="@Urls.TodoTemplatePwaPrerendered" Target="_blank">Live</BitButton>
                    </div>
                </div>
                <div class="template-card">
                    <BitTypography Variant="BitTypographyVariant.H5" Gutter>
                        <BitLink Href="@Urls.AdminPanel">AdminPanel</BitLink>
                    </BitTypography>
                    <br />
                    <div class="template-img-container">
                        <a href="@Urls.AdminPanel">
                            <img class="template-img" src="/images/home/adminpanel.webp" alt="AdminPanel" />
                        </a>
                    </div>
                    <BitTypography Variant="BitTypographyVariant.Body1" Gutter>
                        The AdminPanel is built with ASP.NET Core, Identity, Web API, and EF Core for the server-side, and Blazor for the client-side.
                    </BitTypography>
                    <br />
                    <div class="links-container">
                        <a class="template-link" href="@Urls.AdminPanel">Learn more <span class="template-link-arrow"></span></a>
                        <BitButton Href="@Urls.AdminPanelMultiLingual" Target="_blank">Live</BitButton>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page-section tech-section">
        <div class="page-section-content">
            <BitTypography Variant="BitTypographyVariant.H3" Gutter>Tech we use</BitTypography>
            <div class="tech-list">
                @* <a target="_blank" title=".NET" class="tech-item dotnet-item" href="https://dotnet.microsoft.com/en-us/"></a> *@
                <a target="_blank" title="C#" class="tech-item csharp-item" href="https://dotnet.microsoft.com/en-us/languages/csharp"></a>
                <a target="_blank" title="Blazor" class="tech-item blazor-item" href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"></a>
                <a target="_blank" title="Visual Studio" class="tech-item vs-item" href="https://visualstudio.microsoft.com/"></a>
                <a target="_blank" title="git" class="tech-item git-item" href="https://git-scm.com/"></a>
                <a target="_blank" title="GitHub" class="tech-item github-item" href="https://github.com">
                    <svg height="70" width="70" viewBox="0 0 16 16">
                        <path d="M8 0c4.42 0 8 3.58 8 8a8.013 8.013 0 0 1-5.45 7.59c-.4.08-.55-.17-.55-.38 0-.27.01-1.13.01-2.2 0-.75-.25-1.23-.54-1.48 1.78-.2 3.65-.88 3.65-3.95 0-.88-.31-1.59-.82-2.15.08-.2.36-1.02-.08-2.12 0 0-.67-.22-2.2.82-.64-.18-1.32-.27-2-.27-.68 0-1.36.09-2 .27-1.53-1.03-2.2-.82-2.2-.82-.44 1.1-.16 1.92-.08 2.12-.51.56-.82 1.28-.82 2.15 0 3.06 1.86 3.75 3.64 3.95-.23.2-.44.55-.51 1.07-.46.21-1.61.55-2.33-.66-.15-.24-.6-.83-1.23-.82-.67.01-.27.38.01.53.34.19.73.9.82 1.13.16.45.68 1.31 2.69.94 0 .67.01 1.3.01 1.49 0 .21-.15.45-.55.38A7.995 7.995 0 0 1 0 8c0-4.42 3.58-8 8-8Z"></path>
                    </svg>
                </a>
                <a target="_blank" title="Sass" class="tech-item sass-item" href="https://sass-lang.com/"></a>
            </div>
        </div>
    </section>

    <section class="page-section customer-section">
        <div class="page-section-content">
            <BitTypography Variant="BitTypographyVariant.H3" Gutter>Our customers</BitTypography>
            <BitCarousel Class="customer-feedback-carousel" ShowNextPrev="false" AutoPlay="true" AutoPlayInterval="5000" InfiniteScrolling="true">
                <BitCarouselItem>
                    <div class="customer-feedback-card">
                        <a href="https://twitter.com/mehrandvd/status/1553142453091401729" target="_blank"><div class="twitter-icon"></div></a>
                        <div class="customer-feedback-txt">
                            I'm more than happy for the decision we made to use <span class="highlighted-txt">#BitPlatform</span> in our #dotnet products at
                            @@MelkRadar and #BeyondTeam and all other teams I'm consulting. It's so promising,
                            robust and reliable for scale...
                        </div>
                        <div class="author-container">
                            <img class="customer-image" src="images/home/twitter/1.webp" />
                            <div class="customer-feedback-name">uɒɹɥəɯ</div>
                        </div>
                    </div>
                </BitCarouselItem>
                <BitCarouselItem>
                    <div class="customer-feedback-card">
                        <a href="https://twitter.com/hootanht/status/1553199172957995008" target="_blank"><div class="twitter-icon"></div></a>
                        <div class="customer-feedback-txt">
                            We're excited too. <span class="highlighted-txt">#BitPlatform</span> helps us to achieve more flexibility and
                            opportunities in our projects than we think.😍🌹🙏
                        </div>
                        <div class="author-container">
                            <img class="customer-image" src="images/home/twitter/4.webp" />
                            <div class="customer-feedback-name">Hootan HT</div>
                        </div>
                    </div>
                </BitCarouselItem>
                <BitCarouselItem>
                    <div class="customer-feedback-card">
                        <a href="https://twitter.com/HamedHajiloo96/status/1541649567644614656" target="_blank"><div class="twitter-icon"></div></a>
                        <div class="customer-feedback-txt">
                            We want to launch a website that works entirely with .NET <br />
                            Thanks to <span class="highlighted-txt">#BitPlatform</span> we can have a well-performance public website with #Blazor
                        </div>
                        <div class="author-container">
                            <img class="customer-image" src="images/home/twitter/2.webp" />
                            <div class="customer-feedback-name">Hamed Hajiloo</div>
                        </div>
                    </div>
                </BitCarouselItem>
                <BitCarouselItem>
                    <div class="customer-feedback-card">
                        <a href="https://twitter.com/mhrastegari77/status/1553252183973453824" target="_blank"><div class="twitter-icon"></div></a>
                        <div class="customer-feedback-txt">
                            Man! <span class="highlighted-txt">#BitPlatform</span> team is really awesome and powerful!!! <br />
                            Yesterday I requested a draggable Carousel component for #Blazor and
                            they literally published a pre release of it today. 🔥
                        </div>
                        <div class="author-container">
                            <img class="customer-image" src="images/home/twitter/3.webp" />
                            <div class="customer-feedback-name">MH Rastegari</div>
                        </div>
                    </div>
                </BitCarouselItem>
            </BitCarousel>

            <!-- TrustBox widget - Micro Review Count -->
            @*<div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad" data-businessunit-id="633c868bc3c26f911394fa13" data-style-height="24px" data-style-width="100%" data-theme="light" data-min-review-count="10" data-without-reviews-preferred-string-id="1" data-style-alignment="center">
            <a href="https://www.trustpilot.com/review/bitplatform.dev" target="_blank" rel="noopener">Trustpilot</a>
            </div>
            <br/>
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="56278e9abfbbba0bdcd568bc" data-businessunit-id="633c868bc3c26f911394fa13" data-style-height="52px" data-style-width="100%">
            <a href="https://www.trustpilot.com/review/bitplatform.dev" target="_blank" rel="noopener">Trustpilot</a>
            </div>*@
            <!-- End TrustBox widget -->
        </div>
    </section>

    <section class="page-section quickstart-section" id="quick-start">
        <div class="page-section-content">
            <BitTypography Variant="BitTypographyVariant.H3" Gutter>Quick start</BitTypography>
            <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>Quickly start with the bit platform products & tools</BitTypography>
            <div class="quickstart-links">
                <BitCompoundButton Href="https://components.bitplatform.dev/getting-started">
                    <PrimaryTemplate>
                        <BitTypography Variant="BitTypographyVariant.H5">BlazorUI</BitTypography>
                    </PrimaryTemplate>
                    <SecondaryTemplate>
                        <BitTypography Variant="BitTypographyVariant.Body2" Style="display:flex;align-items:center">
                            Utilize bit BlazorUI components for your new project
                        </BitTypography>
                    </SecondaryTemplate>
                </BitCompoundButton>
                <BitCompoundButton Href="https://bitplatform.dev/todo-template/create-project">
                    <PrimaryTemplate>
                        <BitTypography Variant="BitTypographyVariant.H5">TodoTemplate</BitTypography>
                    </PrimaryTemplate>
                    <SecondaryTemplate>
                        <BitTypography Variant="BitTypographyVariant.Body2" Style="display:flex;align-items:center">
                            Build your multilingual, dark/light themed project
                        </BitTypography>
                    </SecondaryTemplate>
                </BitCompoundButton>
                <BitCompoundButton Href="https://bitplatform.dev/admin-panel/create-project">
                    <PrimaryTemplate>
                        <BitTypography Variant="BitTypographyVariant.H5">AdminPanel</BitTypography>
                    </PrimaryTemplate>
                    <SecondaryTemplate>
                        <BitTypography Variant="BitTypographyVariant.Body2" Style="display:flex;align-items:center">
                            Build your next admin panel with a full-featured template
                        </BitTypography>
                    </SecondaryTemplate>
                </BitCompoundButton>
            </div>
        </div>
    </section>
</div>