@page "/components/nav-list"

<ComponentDemo ComponentName="NavList"
               ComponentDescription="A navigation pane (Nav) provides links to the main areas of an app or site."
               ComponentParameters="@componentParameters"
               EnumParameters="@enumParameters">

    <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-box">
                <BitNavList Items="BasicNavItems"
                            NameField="@nameof(NavMenuModel.Name)"
                            KeyField="@nameof(NavMenuModel.Key)"
                            UrlField="@nameof(NavMenuModel.Url)"
                            TargetField="@nameof(NavMenuModel.Target)"
                            TitleField="@nameof(NavMenuModel.TitleAttribute)"
                            IsExpandedField="@nameof(NavMenuModel.IsExpanded)"
                            IconNameField="@nameof(NavMenuModel.IconName)"
                            IsEnabledField="@nameof(NavMenuModel.IsEnabled)"
                            CollapseAriaLabelField="@nameof(NavMenuModel.CollapseAriaLabel)"
                            ExpandAriaLabelField="@nameof(NavMenuModel.ExpandAriaLabel)"
                            ItemsField="@nameof(NavMenuModel.Items)" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Grouped" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-box">
                <BitNavList Items="GroupedNavItems"
                            NameFieldSelector="item => item.Name"
                            KeyFieldSelector="item => item.Key"
                            UrlFieldSelector="item => item.Url"
                            TargetFieldSelector="item => item.Target"
                            IsExpandedFieldSelector="item => item.IsExpanded"
                            CollapseAriaLabelFieldSelector="item => item.CollapseAriaLabel"
                            ExpandAriaLabelFieldSelector="item => item.CollapseAriaLabel"
                            ItemsFieldSelector="item => item.Items"
                            RenderType="BitNavListRenderType.Grouped" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Manual Mode" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Basic</BitLabel>
                    <BitNavList Items="ManualNavItems"
                                NameField="@nameof(NavMenuModel.Name)"
                                KeyField="@nameof(NavMenuModel.Key)"
                                TitleField="@nameof(NavMenuModel.TitleAttribute)"
                                IconNameField="@nameof(NavMenuModel.IconName)"
                                IsExpandedField="@nameof(NavMenuModel.IsExpanded)"
                                IsEnabledField="@nameof(NavMenuModel.IsEnabled)"
                                ItemsField="@nameof(NavMenuModel.Items)"
                                InitialSelectedKey="key1"
                                Mode="BitNavListMode.Manual" />
                </div>

                <div class="margin-top">
                    <BitLabel>Two-Way Bind</BitLabel>
                    <BitNavList @bind-SelectedKey="ManualSelectedKey"
                                Items="ManualNavItems"
                                NameField="@nameof(NavMenuModel.Name)"
                                KeyField="@nameof(NavMenuModel.Key)"
                                TitleField="@nameof(NavMenuModel.TitleAttribute)"
                                IconNameField="@nameof(NavMenuModel.IconName)"
                                IsExpandedField="@nameof(NavMenuModel.IsExpanded)"
                                IsEnabledField="@nameof(NavMenuModel.IsEnabled)"
                                ItemsField="@nameof(NavMenuModel.Items)"
                                Mode="BitNavListMode.Manual" />
                    <BitTextField Label="Enter Key" @bind-Value="ManualSelectedKey" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Custom Templates" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Header Template (in Grouped mode)</BitLabel>
                    <BitNavList Items="GroupedNavItems"
                                NameField="@nameof(NavMenuModel.Name)"
                                KeyField="@nameof(NavMenuModel.Key)"
                                UrlField="@nameof(NavMenuModel.Url)"
                                TargetField="@nameof(NavMenuModel.Target)"
                                IsExpandedField="@nameof(NavMenuModel.IsExpanded)"
                                CollapseAriaLabelField="@nameof(NavMenuModel.CollapseAriaLabel)"
                                ExpandAriaLabelField="@nameof(NavMenuModel.ExpandAriaLabel)"
                                ItemsField="@nameof(NavMenuModel.Items)"
                                RenderType="BitNavListRenderType.Grouped">
                        <HeaderTemplate Context="item">
                            <div class="nav-list-custom-header">
                                <BitIcon IconName="BitIconName.FavoriteStarFill" />
                                <span>@item.Name</span>
                            </div>
                        </HeaderTemplate>
                    </BitNavList>
                </div>

                <div class="margin-top">
                    <BitLabel>Item Template</BitLabel>
                    <BitNavList Items="BasicNavItems"
                                NameField="@nameof(NavMenuModel.Name)"
                                KeyField="@nameof(NavMenuModel.Key)"
                                UrlField="@nameof(NavMenuModel.Url)"
                                TargetField="@nameof(NavMenuModel.Target)"
                                TitleField="@nameof(NavMenuModel.TitleAttribute)"
                                IsExpandedField="@nameof(NavMenuModel.IsExpanded)"
                                IconNameField="@nameof(NavMenuModel.IconName)"
                                IsEnabledField="@nameof(NavMenuModel.IsEnabled)"
                                CollapseAriaLabelField="@nameof(NavMenuModel.CollapseAriaLabel)"
                                ExpandAriaLabelField="@nameof(NavMenuModel.ExpandAriaLabel)"
                                ItemsField="@nameof(NavMenuModel.Items)">
                        <ItemTemplate Context="item">
                            <a href="@item.Url" target="@item.Target" class="nav-list-custom-item @(item.IsEnabled is false ? "disabled-item" : "")">
                                <BitIcon IconName="@item.IconName" />
                                <span>@item.Name</span>
                            </a>
                        </ItemTemplate>
                    </BitNavList>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Events" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-box">
                <BitNavList Items="ManualNavItems"
                            NameFieldSelector="item => item.Name"
                            KeyFieldSelector="item => item.Key"
                            TitleFieldSelector="item => item.TitleAttribute"
                            IconNameFieldSelector="item => item.IconName"
                            IsExpandedFieldSelector="item => item.IsExpanded"
                            IsEnabledFieldSelector="item => item.IsEnabled"
                            ItemsFieldSelector="item => item.Items"
                            InitialSelectedKey="key1"
                            Mode="BitNavListMode.Manual"
                            OnItemClick="(NavMenuModel item) => ClickedItem = item"
                            OnItemExpand="(NavMenuModel item) => HandleOnItemExpand(item)" />

                <span>Clicked Item: @ClickedItem?.Name</span>
                <span>Expanded Item: @ExpandedItem?.Name</span>
                <span>IsExpanded Value: @(ExpandedItem?.IsExpanded)</span>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>