@page "/components/nav-list"

<ComponentDemo ComponentName="NavList"
               ComponentDescription="A navigation pane (Nav) provides links to the main areas of an app or site."
               ComponentParameters="@componentParameters"
               EnumParameters="@enumParameters">

    <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-box">
                <BitNavList Items="BasicNavItems"
                            TextField="@nameof(NavItemModel.Text)"
                            UrlField="@nameof(NavItemModel.Url)"
                            TargetField="@nameof(NavItemModel.Target)"
                            TitleField="@nameof(NavItemModel.Title)"
                            IsExpandedField="@nameof(NavItemModel.IsExpanded)"
                            IconNameField="@nameof(NavItemModel.IconName)"
                            IsEnabledField="@nameof(NavItemModel.IsEnabled)"
                            CollapseAriaLabelField="@nameof(NavItemModel.CollapseAriaLabel)"
                            ExpandAriaLabelField="@nameof(NavItemModel.ExpandAriaLabel)"
                            ItemsField="@nameof(NavItemModel.Items)" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Grouped" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-box">
                <BitNavList Items="GroupedNavItems"
                            TextField="@nameof(NavItemModel.Text)"
                            UrlField="@nameof(NavItemModel.Url)"
                            TargetField="@nameof(NavItemModel.Target)"
                            TitleField="@nameof(NavItemModel.Title)"
                            IsExpandedField="@nameof(NavItemModel.IsExpanded)"
                            IconNameField="@nameof(NavItemModel.IconName)"
                            IsEnabledField="@nameof(NavItemModel.IsEnabled)"
                            CollapseAriaLabelField="@nameof(NavItemModel.CollapseAriaLabel)"
                            ExpandAriaLabelField="@nameof(NavItemModel.ExpandAriaLabel)"
                            ItemsField="@nameof(NavItemModel.Items)"
                            RenderType="BitNavListRenderType.Grouped" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Manual Mode" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Basic</BitLabel>
                    <BitNavList Items="ManualNavItems"
                                TextFieldSelector="item => item.Text"
                                UrlFieldSelector="item => item.Url"
                                TargetFieldSelector="item => item.Target"
                                TitleFieldSelector="item => item.Title"
                                IsExpandedFieldSelector="item => item.IsExpanded"
                                IconNameFieldSelector="item => item.IconName"
                                IsEnabledFieldSelector="item => item.IsEnabled"
                                CollapseAriaLabelFieldSelector="item => item.CollapseAriaLabel"
                                ExpandAriaLabelFieldSelector="item => item.ExpandAriaLabel"
                                ItemsFieldSelector="item => item.Items"
                                DefaultSelectedItem="ManualNavItems[0].Items[0]"
                                Mode="BitNavListMode.Manual" />
                </div>

                <div class="margin-top">
                    <BitLabel>Two-Way Bind</BitLabel>

                    <BitNavList @bind-SelectedItem="SelectedItemNav"
                                Items="ManualNavItems"
                                TextFieldSelector="item => item.Text"
                                UrlFieldSelector="item => item.Url"
                                TargetFieldSelector="item => item.Target"
                                TitleFieldSelector="item => item.Title"
                                IsExpandedFieldSelector="item => item.IsExpanded"
                                IconNameFieldSelector="item => item.IconName"
                                IsEnabledFieldSelector="item => item.IsEnabled"
                                CollapseAriaLabelFieldSelector="item => item.CollapseAriaLabel"
                                ExpandAriaLabelFieldSelector="item => item.ExpandAriaLabel"
                                ItemsFieldSelector="item => item.Items"
                                Mode="BitNavListMode.Manual"
                                OnSelectItem="(NavItemModel item) => SelectedItemText = DropDownItems.FirstOrDefault(i => i.Text == item.Text).Text" />

                    <BitDropDown @bind-Value="SelectedItemText"
                                 Label="Select Item"
                                 Items="DropDownItems"
                                 OnSelectItem="(item) => SelectedItemNav = Flatten(ManualNavItems).FirstOrDefault(i => i.Text == item.Value)" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Custom Templates" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Header Template (in Grouped mode)</BitLabel>
                    <BitNavList Items="GroupedNavItems"
                                TextField="@nameof(NavItemModel.Text)"
                                UrlField="@nameof(NavItemModel.Url)"
                                TargetField="@nameof(NavItemModel.Target)"
                                TitleField="@nameof(NavItemModel.Title)"
                                IsExpandedField="@nameof(NavItemModel.IsExpanded)"
                                IconNameField="@nameof(NavItemModel.IconName)"
                                IsEnabledField="@nameof(NavItemModel.IsEnabled)"
                                CollapseAriaLabelField="@nameof(NavItemModel.CollapseAriaLabel)"
                                ExpandAriaLabelField="@nameof(NavItemModel.ExpandAriaLabel)"
                                ItemsField="@nameof(NavItemModel.Items)"
                                RenderType="BitNavListRenderType.Grouped">

                        <HeaderTemplate Context="item">
                            <div class="nav-list-custom-header">
                                <BitIcon IconName="BitIconName.FavoriteStarFill" />
                                <span>@item.Text</span>
                            </div>
                        </HeaderTemplate>
                    </BitNavList>
                </div>

                <div class="margin-top">
                    <BitLabel>Item Template</BitLabel>
                    <BitNavList Items="ManualNavItems"
                                TextFieldSelector="item => item.Text"
                                UrlFieldSelector="item => item.Url"
                                TargetFieldSelector="item => item.Target"
                                TitleFieldSelector="item => item.Title"
                                IsExpandedFieldSelector="item => item.IsExpanded"
                                IconNameFieldSelector="item => item.IconName"
                                IsEnabledFieldSelector="item => item.IsEnabled"
                                CollapseAriaLabelFieldSelector="item => item.CollapseAriaLabel"
                                ExpandAriaLabelFieldSelector="item => item.ExpandAriaLabel"
                                ItemsFieldSelector="item => item.Items"
                                Mode="BitNavListMode.Manual">

                        <ItemTemplate Context="item">
                            <div class="nav-list-custom-item @(item.IsEnabled is false ? "disabled-item" : "")">
                                <BitCheckbox IsEnabled="@(item.IsEnabled)" />
                                <BitIcon IconName="@item.IconName" />
                                <span>@item.Text</span>
                            </div>
                        </ItemTemplate>
                    </BitNavList>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Events" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div class="events-example-box">
                <BitNavList Items="ManualNavItems"
                            TextFieldSelector="item => item.Text"
                            UrlFieldSelector="item => item.Url"
                            TargetFieldSelector="item => item.Target"
                            TitleFieldSelector="item => item.Title"
                            IsExpandedFieldSelector="item => item.IsExpanded"
                            IconNameFieldSelector="item => item.IconName"
                            IsEnabledFieldSelector="item => item.IsEnabled"
                            CollapseAriaLabelFieldSelector="item => item.CollapseAriaLabel"
                            ExpandAriaLabelFieldSelector="item => item.ExpandAriaLabel"
                            ItemsFieldSelector="item => item.Items"
                            DefaultSelectedItem="ManualNavItems[0].Items[0]"
                            Mode="BitNavListMode.Manual"
                            OnItemClick="(NavItemModel item) => ClickedItem = item"
                            OnSelectItem="(NavItemModel item) => SelectedItem = item"
                            OnItemToggle="(NavItemModel item) => ToggledItem = item" />

                <div class="flex">
                    <span>Clicked Item: @ClickedItem?.Text</span>
                    <span>Selected Item: @SelectedItem?.Text</span>
                    <span>Toggled Item: @(ToggledItem is null ? "N/A" : $"{ToggledItem.Text} ({(ToggledItem.IsExpanded ? "Expanded" : "Collapsed")})")</span>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>