@page "/components/rating"

<ComponentDemo ComponentName="Rating"
               ComponentDescription="Ratings show people’s opinions of a product, helping others make more informed purchasing decisions. People can also rate products they’ve purchased."
               ComponentParameters="@componentParameters"
               EnumParameters="@enumParameters">

    <ComponentExampleBox Title="Basic BitRating" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Basic</BitLabel>
                    <BitRating @bind-Value="RatingBasicValue" />
                    <span>Rate: @RatingBasicValue</span>
                </div>
                <div>
                    <BitLabel>Disabled</BitLabel>
                    <BitRating DefaultValue="2" IsEnabled="false" @bind-Value="RatingDisabledValue" />
                    <span>Rate: @RatingDisabledValue</span>
                </div>
                <div>
                    <BitLabel>Readonly</BitLabel>
                    <BitRating DefaultValue="3.5" IsReadOnly="true" @bind-Value="RatingReadonlyValue" />
                    <span>Rate: @RatingReadonlyValue</span>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitRating with Max Value" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Max is 6</BitLabel>
                    <BitRating Max="6" DefaultValue="2.5" @bind-Value="RatingMaxValue1" />
                    <span>Rate: @RatingMaxValue1</span>
                </div>
                <div>
                    <BitLabel>Max is 10</BitLabel>
                    <BitRating Max="10" DefaultValue="5" @bind-Value="RatingMaxValue2" />
                    <span>Rate: @RatingMaxValue2</span>
                </div>
                <div style="width: 200px;">
                    <BitLabel>Max is 100</BitLabel>
                    <BitRating Max="100" DefaultValue="15" @bind-Value="RatingMaxValue3" />
                    <span>Rate: @RatingMaxValue3</span>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitRating with Custom Icon" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Heart</BitLabel>
                    <BitRating Icon="BitIconName.HeartFill" UnselectedIcon="BitIconName.Heart" DefaultValue="1.5" @bind-Value="RatingCustomIconValue1" />
                    <span>Rate: @RatingCustomIconValue1</span>
                </div>
                <div>
                    <BitLabel>Checkbox</BitLabel>
                    <BitRating Icon="BitIconName.CheckboxCompositeReversed" UnselectedIcon="BitIconName.Checkbox" DefaultValue="2" @bind-Value="RatingCustomIconValue2" />
                    <span>Rate: @RatingCustomIconValue2</span>
                </div>
                <div>
                    <BitLabel>Like</BitLabel>
                    <BitRating Icon="BitIconName.LikeSolid" UnselectedIcon="BitIconName.Dislike" DefaultValue="3" @bind-Value="RatingCustomIconValue3" />
                    <span>Rate: @RatingCustomIconValue3</span>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitRating Size" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Small</BitLabel>
                    <BitRating Size="BitRatingSize.Small" DefaultValue="3" @bind-Value="RatingSmallValue" />
                    <span>Rate: @RatingSmallValue</span>
                </div>
                <div>
                    <BitLabel>Large</BitLabel>
                    <BitRating Size="BitRatingSize.Large" DefaultValue="3" @bind-Value="RatingLargeValue" />
                    <span>Rate: @RatingLargeValue</span>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Controlled BitRating" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">BitRating component support two-way binding as well.</div>
            <div class="example-box">
                <div>
                    <BitRating @bind-Value="RatingControlledValue" />
                    <span>Rate: @RatingControlledValue</span>
                </div>
                <div>
                    <BitButton OnClick="() => RatingControlledValue = 5">Star All</BitButton>
                    <BitButton OnClick="() => RatingControlledValue = 0">Unstar all</BitButton>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitRating with validation" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-desc">BitRating component support validation as well.</div>
            @if (string.IsNullOrEmpty(SuccessMessage))
            {
                <EditForm Model="ValidationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">

                    <DataAnnotationsValidator />

                    <div class="validation-summary">
                        <ValidationSummary />
                    </div>

                    <BitRating AllowZeroStars="true" @bind-Value="ValidationModel.Value" />
                    <ValidationMessage For="@(() => ValidationModel.Value)" />

                    <BitButton ButtonType="BitButtonType.Submit">Submit</BitButton>
                </EditForm>
            }
            else
            {
                <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                    @SuccessMessage
                </BitMessageBar>
            }
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>