@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    <div @ref="_carousel"
         class="carousel"
         @onpointermove="HandlePointerMove"
         @onpointerdown="HandlePointerDown"
         @onpointerdown:preventDefault="true"
         @onpointerleave="HandlePointerUp"
         @onpointerup="HandlePointerUp">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>

        @if (ShowNextPrev)
        {
        <div class="next-btn" @onclick="@Next">
            <i class="bit-icon bit-icon--ChevronRight"></i>
        </div>

        <div class="prev-btn" @onclick="@Prev">
            <i class="bit-icon bit-icon--ChevronLeft"></i>
        </div>
        }
    </div>

    @if (ShowDots)
    {
    <div class="dots">
        @for (int i = 0; i < _pagesCount; i++)
        {
            int index = i;
            <div class="@(_currentPage == index ? " current" : null)" @onclick="(() => GotoPage(index))"></div>
        }
    </div>
    }
</div>