<ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
    <ExamplePreview>
        <BitTimeline Items="basicItems" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Horizontal" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
    <ExamplePreview>
        <div>The Timeline offers two orientation options: Vertical (default) and Horizontal.</div>
        <br />
        <BitTimeline Horizontal Items="basicItems" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Disabled" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
    <ExamplePreview>
        <div>The Timeline offers two orientation options: Vertical (default) and Horizontal.</div>
        <br /><br /><br />
        <div>Disabled component</div><br />
        <BitTimeline Horizontal Items="basicItems" IsEnabled="false" />
        <br /><br /><br />
        <div>Disabled item</div><br />
        <BitTimeline Horizontal Items="disabledItems" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Variant" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
    <ExamplePreview>
        <div>The Timeline has three variants: Fill (default), Outline, and Text.</div>
        <br /><br /><br />
        <div>Fill</div><br />
        <BitTimeline Horizontal Variant="BitVariant.Fill" Items="disabledItems" />
        <br /><br /><br />
        <div>Outline</div><br />
        <BitTimeline Horizontal Variant="BitVariant.Outline" Items="disabledItems" />
        <br /><br /><br />
        <div>Text</div><br />
        <BitTimeline Horizontal Variant="BitVariant.Text" Items="disabledItems" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Icon" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5">
    <ExamplePreview>
        <div>Each item in the Timeline can have an icon.</div>
        <br /><br /><br />
        <div>Fill</div><br />
        <BitTimeline Horizontal Items="iconItems" Variant="BitVariant.Fill" />
        <br /><br /><br />
        <div>Outline</div><br />
        <BitTimeline Horizontal Items="iconItems" Variant="BitVariant.Outline" />
        <br /><br /><br />
        <div>Text</div><br />
        <BitTimeline Horizontal Items="iconItems" Variant="BitVariant.Text" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Reversed" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
    <ExamplePreview>
        <div>Each item in the Timeline can be reversed and be on the opposite side.</div>
        <br /><br /><br />
        <div>Vertical</div><br />
        <div class="example-content">
            <BitTimeline Items="basicItems" Reversed />
            <BitTimeline Items="reversedItems" />
        </div>
        <br /><br /><br />
        <div>Horizontal</div><br />
        <BitTimeline Horizontal Items="basicItems" Reversed />
        <br /><br />
        <BitTimeline Horizontal Items="reversedItems" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Templates" RazorCode="@example7RazorCode" CsharpCode="@example7CsharpCode" Id="example7">
    <ExamplePreview>
        <div>Here are some examples of customizing the Timeline content.</div>
        <br /><br /><br />
        <div>Vertical</div><br />
        <BitTimeline Items="templateItems" />
        <br /><br /><br />
        <div>Horizontal</div><br />
        <BitTimeline Items="templateItems" Horizontal />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Color" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
    <ExamplePreview>
        <div>Offering a range of specialized colors, providing visual cues for specific states within your application.</div>
        <br /><br /><br />
        <div>Primary</div><br />
        <BitTimeline Horizontal Color="BitColor.Primary" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Primary" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Primary" Variant="BitVariant.Text" Items="iconItems" />
        <br /><br /><br />
        <div>Secondary</div><br />
        <BitTimeline Horizontal Color="BitColor.Secondary" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Secondary" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Secondary" Variant="BitVariant.Text" Items="iconItems" />
        <br /><br /><br />
        <div>Tertiary</div><br />
        <BitTimeline Horizontal Color="BitColor.Tertiary" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Tertiary" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Tertiary" Variant="BitVariant.Text" Items="iconItems" />
        <br /><br /><br />
        <div>Info</div><br />
        <BitTimeline Horizontal Color="BitColor.Info" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Info" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Info" Variant="BitVariant.Text" Items="iconItems" />
        <br /><br /><br />
        <div>Success</div><br />
        <BitTimeline Horizontal Color="BitColor.Success" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Success" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Success" Variant="BitVariant.Text" Items="iconItems" />
        <br /><br /><br />
        <div>Warning</div><br />
        <BitTimeline Horizontal Color="BitColor.Warning" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Warning" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Warning" Variant="BitVariant.Text" Items="iconItems" />
        <br /><br /><br />
        <div>SevereWarning</div><br />
        <BitTimeline Horizontal Color="BitColor.SevereWarning" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.SevereWarning" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.SevereWarning" Variant="BitVariant.Text" Items="iconItems" />
        <br /><br /><br />
        <div>Error</div><br />
        <BitTimeline Horizontal Color="BitColor.Error" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Error" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Color="BitColor.Error" Variant="BitVariant.Text" Items="iconItems" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Size" RazorCode="@example9RazorCode" CsharpCode="@example9CsharpCode" Id="example9">
    <ExamplePreview>
        <div>Different sizes for Timelines to meet design needs, ensuring flexibility within your application.</div>
        <br /><br /><br />
        <div>Small</div><br />
        <BitTimeline Horizontal Size="BitSize.Small" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Size="BitSize.Small" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Size="BitSize.Small" Variant="BitVariant.Text" Items="iconItems" />
        <br /><br /><br />
        <div>Medium</div><br />
        <BitTimeline Horizontal Size="BitSize.Medium" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Size="BitSize.Medium" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Size="BitSize.Medium" Variant="BitVariant.Text" Items="iconItems" />
        <br /><br /><br />
        <div>Large</div><br />
        <BitTimeline Horizontal Size="BitSize.Large" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Size="BitSize.Large" Variant="BitVariant.Outline" Items="iconItems" />
        <br />
        <BitTimeline Horizontal Size="BitSize.Large" Variant="BitVariant.Text" Items="iconItems" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Style & Class" RazorCode="@example10RazorCode" CsharpCode="@example10CsharpCode" Id="example10">
    <ExamplePreview>
        <div>Empower customization by overriding default styles and classes, allowing tailored design modifications to suit specific UI requirements.</div>
        <br /><br /><br />
        <div>Component's Style & Class:</div><br />
        <BitTimeline Style="max-width: max-content; color: dodgerblue;" Items="basicItems" />
        <br /><br />
        <BitTimeline Horizontal Class="custom-class" Items="basicItems" />
        <br /><br /><br /><br />
        <div>Item's Style & Class:</div><br />
        <BitTimeline Items="styleClassItems" />
        <br /><br /><br /><br />
        <div><b>Styles</b> & <b>Classes</b>:</div><br />
        <div class="example-content">
            <BitTimeline Items="iconItems"
                         Styles="@(new() { Icon = "color: whitesmoke;",
                                           Dot = "background-color: lightseagreen; border-color: mediumseagreen;",
                                           PrimaryText = "color: lightseagreen; font-weight: bold;" })" />
            <BitTimeline Items="iconItems"
                         Variant="BitVariant.Outline"
                         Classes="@(new() { Dot = "custom-dot",
                                            Icon = "custom-icon",
                                            Item = "custom-item-text",
                                            Divider = "custom-divider" })" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="RTL" RazorCode="@example11RazorCode" CsharpCode="@example11CsharpCode" Id="example11">
    <ExamplePreview>        
        <div>Use the BitTimeline component in right-to-left (RTL).</div>
        <br /><br /><br />
        <div>Vertical</div><br />
        <BitTimeline Dir="BitDir.Rtl" Items="basicRtlItems" />
        <br /><br /><br />
        <div>Horizontal</div><br />
        <BitTimeline Horizontal Dir="BitDir.Rtl" Items="basicRtlItems" />
    </ExamplePreview>
</ComponentExampleBox>


@code {
    private List<BitTimelineItem> templateItems =
    [
        new()
    {
        PrimaryContent = (item => @<BitPersona PrimaryText="Annie Lindqvist"
            Size="@BitPersonaSize.Size32"
            Presence="@BitPersonaPresence.Online"
            ImageUrl="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/persona-female.png" />),

        DotTemplate = (item => @<div class="dot-template"><BitRingLoading CustomSize="30" Color="BitColor.Tertiary" /></div>),

        SecondaryContent = (item => @<div style="display: flex; align-items: center; gap: 1rem;">
        <BitIcon IconName="Accept" Style="color: limegreen;" />
        <BitLabel>Software Engineer</BitLabel>
    </div>)
    },
    new()
    {
        PrimaryContent = (item => @<BitPersona PrimaryText="Saleh Khafan"
            Size="@BitPersonaSize.Size32"
            Presence="@BitPersonaPresence.Online" />),

        DotTemplate = (item => @<div class="dot-template"><BitSpinnerLoading CustomSize="30" Color="BitColor.Tertiary" /></div>),

        SecondaryContent = (item => @<div style="display: flex; align-items: center; gap: 1rem;">
        <BitIcon IconName="Accept" Style="color: limegreen;" />
        <BitLabel>Co-Founder & CTO</BitLabel>
    </div>),
        Reversed = true
    },
    new()
    {
        PrimaryContent = (item => @<BitPersona PrimaryText="Ted Randall"
            Size="@BitPersonaSize.Size32"
            Presence="@BitPersonaPresence.Online"
            ImageUrl="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/persona-male.png" />),

        DotTemplate = (item => @<div class="dot-template"><BitRollerLoading CustomSize="30" Color="BitColor.Tertiary" /></div>),

        SecondaryContent = (item => @<div style="display: flex; align-items: center; gap: 1rem;">
        <BitIcon IconName="Accept" Style="color: limegreen;" />
        <BitLabel>Project Manager</BitLabel>
    </div>)
    },
];
}