<CascadingValue Value="Visual">
    <BitButton OnClick="IncrementCount"
               AllowDisabledFocus="AllowDisabledFocus"
               IsEnabled="IsEnabled"
               ButtonStyle="ButtonStyle"
               AriaDescription="@AriaDescription"
               AriaLabel="@AriaLabel"
               AriaHidden="AriaHidden"
               Href="@Href"
               Title="@Title"
               Target="@Target"
               ButtonType="@ButtonType">
        <label>Other test label</label>
    </BitButton>
</CascadingValue>

@code {
    [Parameter] public Visual Visual { get; set; }
    [Parameter] public bool AllowDisabledFocus { get; set; }
    [Parameter] public bool IsEnabled { get; set; }
    [Parameter] public BitButtonStyle ButtonStyle { get; set; }
    [Parameter] public string AriaDescription { get; set; }
    [Parameter] public string AriaLabel { get; set; }
    [Parameter] public bool AriaHidden { get; set; }
    [Parameter] public string Href { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Target { get; set; }
    [Parameter] public BitButtonType ButtonType { get; set; }

    public int CurrentCount { get; set; }

    public void IncrementCount(MouseEventArgs e)
    {
        CurrentCount++;
    }
}