@using AdminPanel.Api.Models.Emailing
@using System
@using AdminPanel.Api.Resources
@using Microsoft.Extensions.Localization

@model ResetPasswordModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-TypeEntity" content="text/html; charset=UTF-8" />
    <title>@Model.EmailLocalizer[nameof(EmailStrings.ResetPasswordEmailSubject)]</title>
</head>
<body style="width:100%; height:100%; margin:0; padding:0; background-color:#FCFCFC; font-family:Arial,sans-serif;">
<main style="padding: 6% 4%;">
        <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="100%" height="100%"
               style="border:1px solid #EDEBE9; border-radius:2px; padding:50px; text-align:center;">
            <tr>
                <td style="color:#002A66; font-weight:600; font-size:24px; line-height:150%; padding-bottom:50px;">
                    @Model.EmailLocalizer.GetString(nameof(EmailStrings.ResetPasswordHello), Model.DisplayName!)
                </td>
            </tr>
            <tr>
                <td style="font-weight:400; font-size:18px; line-height:155%; padding-bottom:20px;">
                    @Model.EmailLocalizer[nameof(EmailStrings.ResetPasswordMessage)]
                </td>
            </tr>
            <tr>
                <td align="center" style="padding-bottom:25px;">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="background-color:#0078D4; border-radius:2px; padding:10px 20px;">
                                <a href="@Model.ResetPasswordLink" style="text-decoration:none; color:#FFFFFF; font-weight:600;">
                                    @Model.EmailLocalizer[nameof(EmailStrings.ResetYourPassword)]
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="font-weight:400; font-size:18px; line-height:155%; padding-bottom:20px;">
                    @Model.EmailLocalizer[nameof(EmailStrings.CopyLink)]
                </td>
            </tr>
            <tr>
                <td style="font-weight:400; font-size:18px; line-height:155%; padding-bottom:50px;">
                    @Model.ResetPasswordLink
                </td>
            </tr>
            <tr>
                <td style="font-weight:400; font-size:18px; line-height:155%;">
                    @Model.EmailLocalizer[nameof(EmailStrings.ResetPasswordNote)]
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%"
               style="padding:20px; text-align:center;">
            <tr>
                <td style="padding-bottom: 10px;">
                    <img alt="Company Logo" src="@(new Uri(Model.HostUri!, "images/icon.png"))" width="30" height="20" />
                </td>
            </tr>
            <tr>
                <td>
                    <a style="text-decoration:none; color:#0065EF; font-weight:400; font-size:12px; line-height:150%;" href="@Model.HostUri">
                        @Model.EmailLocalizer[nameof(EmailStrings.AdminPanel)]
                    </a>
                </td>
            </tr>
        </table>
    </main>
</body>
</html>
