<ComponentExampleBox Title="Basic" HtmlCode="@example1HtmlCode" CsharpCode="@example1CsharpCode" Id="example1">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Single select"
                         Items="GetBasicItems()"
                         Placeholder="Select an item"
                         TItem="BitDropdownItem<string>" TValue="string" />

            <BitDropdown Label="Multi select"
                         Items="GetBasicItems()"
                         DefaultValue="@("")"
                         Placeholder="Select items"
                         IsMultiSelect="true" />

            <BitDropdown Label="IsRequired"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         IsRequired="true" />

            <BitDropdown Label="Disabled"
                         Items="GetBasicItems()"
                         DefaultValue="@("f-ora")"
                         Placeholder="Select an item"
                         IsEnabled="false" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Visibility" HtmlCode="@example2HtmlCode" CsharpCode="@example2CsharpCode" Id="example2">
    <ExamplePreview>
        <div class="example-content">
            <div style="display:inline-flex;white-space:nowrap;">
                Visible: [ <BitDropdown DefaultValue="@("")"
                                        Items="GetBasicItems()"
                                        Placeholder="Select an item"
                                        Visibility="BitVisibility.Visible" /> ]
            </div>
            <div style="display:inline-flex;white-space:nowrap;">
                Hidden: [ <BitDropdown DefaultValue="@("")"
                                       Items="GetBasicItems()"
                                       Placeholder="Select items"
                                       Visibility="BitVisibility.Hidden" /> ]
            </div>
            <div style="display:inline-flex;white-space:nowrap;">
                Collapsed: [ <BitDropdown DefaultValue="@("")"
                                          Items="GetBasicItems()"
                                          Placeholder="Select items"
                                          Visibility="BitVisibility.Collapsed" /> ]
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Controlled" HtmlCode="@example3HtmlCode" CsharpCode="@example3CsharpCode" Id="example3">
    <ExamplePreview>
        <div class="example-content">
            <div>
                <BitDropdown @bind-Value="controlledValue"
                             Label="Single select"
                             Items="GetBasicItems()"
                             Placeholder="Select an item" />
                <BitLabel>Selected Value: @controlledValue</BitLabel>
            </div>
            <br />
            <div>
                <BitDropdown @bind-Values="controlledValues"
                             Label="Multi select"
                             Items="GetBasicItems()"
                             Placeholder="Select items"
                             IsMultiSelect="true" />
                <BitLabel>Selected Values: @string.Join(",", controlledValues)</BitLabel>
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Customization" HtmlCode="@example4HtmlCode" CsharpCode="@example4CsharpCode" Id="example4">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Text & Item templates"
                         Items="GetDataItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item">
                <TextTemplate Context="dropdown">
                    <div class="custom-drp custom-drp-txt">
                        <BitIcon IconName="@((dropdown.SelectedItem?.Data as DropdownItemData)?.IconName)" />
                        <BitLabel>@dropdown.SelectedItem?.Text</BitLabel>
                    </div>
                </TextTemplate>
                <ItemTemplate Context="item">
                    <div class="custom-drp custom-drp-item">
                        <BitIcon IconName="@((item.Data as DropdownItemData)?.IconName)" />
                        <BitLabel Style="text-decoration:underline">@item.Text</BitLabel>
                    </div>
                </ItemTemplate>
            </BitDropdown>

            <BitDropdown Label="Placeholder template"
                         Items="GetDataItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item">
                <PlaceholderTemplate Context="dropdown">
                    <div class="custom-drp custom-drp-ph">
                        <BitIcon IconName="@BitIconName.MessageFill" />
                        <BitLabel>@dropdown.Placeholder</BitLabel>
                    </div>
                </PlaceholderTemplate>
            </BitDropdown>

            <BitDropdown Label="Label template"
                         Items="GetDataItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item">
                <LabelTemplate>
                    <div class="custom-drp custom-drp-lbl">
                        <BitLabel>Custom label</BitLabel>
                        <BitIcon IconName="@BitIconName.Info" AriaLabel="Info" />
                    </div>
                </LabelTemplate>
            </BitDropdown>

            <BitDropdown Label="CaretDownIconName"
                         Items="GetDataItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         CaretDownIconName="@BitIconName.ScrollUpDown" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Responsive" HtmlCode="@example5HtmlCode" CsharpCode="@example5CsharpCode" Id="example5">
    <ExamplePreview>
        <div class="example-desc">When the <strong>IsResponsive</strong> parameter is true, on small screens the drop down items will render in a side panel.</div>
        <div class="example-content">
            <BitDropdown Label="Responsive Dropdown"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         IsResponsive=true />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="SearchBox" HtmlCode="@example6HtmlCode" CsharpCode="@example6CsharpCode" Id="example6">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Single select & auto focus"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         ShowSearchBox="true"
                         AutoFocusSearchBox="true"
                         SearchBoxPlaceholder="Search item" />

            <BitDropdown Label="Multi select"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select items"
                         IsMultiSelect="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="Search items" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Virtualization" HtmlCode="@example7HtmlCode" CsharpCode="@example7CsharpCode" Id="example7">
    <ExamplePreview>
        <div style="font-size:1.125rem;font-weight:bold">Items:</div>
        <br />
        <div class="example-content">
            <BitDropdown Label="Single select"
                         Items="virtualizeItems1"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         Virtualize="true" />

            <BitDropdown Label="Multi select"
                         Items="virtualizeItems2"
                         DefaultValue="@string.Empty"
                         IsMultiSelect="true"
                         Placeholder="Select items"
                         Virtualize="true" />
        </div>
        <br /><br /><br /><br /><br />
        <div style="font-size:1.125rem;font-weight:bold">ItemsProvider:</div>
        <br />
        <div class="example-content">
            <BitDropdown Label="Single select"
                         Virtualize="true"
                         ItemsProvider="LoadItems"
                         Placeholder="Select an item"
                         TItem="BitDropdownItem<string>" TValue="string" />

            <BitDropdown Label="Multi select"
                         Virtualize="true"
                         IsMultiSelect="true"
                         ItemsProvider="LoadItems"
                         Placeholder="Select items"
                         TItem="BitDropdownItem<string>" TValue="string" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="RTL" HtmlCode="@example8HtmlCode" CsharpCode="@example8CsharpCode" Id="example8">
    <ExamplePreview>
        <div style="display:flex;justify-content:end">
            <div class="example-content">
                <BitDropdown Label="تک انتخابی"
                             Items="GetRtlItems()"
                             DefaultValue="@string.Empty"
                             Placeholder="لطفا انتخاب کنید"
                             IsRtl="true" />

                <BitDropdown Label="چند انتخابی"
                             Items="GetRtlItems()"
                             DefaultValue="@string.Empty"
                             Placeholder="انتخاب چند گزینه ای"
                             IsMultiSelect="true"
                             IsRtl="true" />
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Drop direction" HtmlCode="@example9HtmlCode" CsharpCode="@example9CsharpCode" Id="example9">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Auto"
                         Items="dropDirectionItems"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         DropDirection="BitDropDirection.Auto" />

            <BitDropdown Label="TopAndBottom"
                         Items="dropDirectionItems"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         DropDirection="BitDropDirection.TopAndBottom" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Clear button" HtmlCode="@example10HtmlCode" CsharpCode="@example10CsharpCode" Id="example10">
    <ExamplePreview>
        <div class="example-content">
            <div>
                <BitDropdown @bind-Value="clearValue"
                             Label="Single select dropdown"
                             Items="GetBasicItems()"
                             Placeholder="Select an option"
                             ShowClearButton="true" />
                <BitLabel>Value: @clearValue</BitLabel>
            </div>
            <br>
            <div>
                <BitDropdown @bind-Values="clearValues"
                             Label="Multi select dropdown"
                             Items="GetBasicItems()"
                             Placeholder="Select options"
                             IsMultiSelect="true"
                             ShowClearButton="true" />
                <BitLabel>Values: @string.Join(',', clearValues)</BitLabel>
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Validation" HtmlCode="@example11HtmlCode" CsharpCode="@example11CsharpCode" Id="example11">
    <ExamplePreview>
        <div class="example-content">
            @if (string.IsNullOrEmpty(successMessage))
            {
                <EditForm style="width: 100%" Model="validationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                    <DataAnnotationsValidator />

                    <BitDropdown @bind-Value="validationModel.Category"
                                 Label="Select 1 item"
                                 Items="GetBasicItems()"
                                 Placeholder="Select and item" />

                    <ValidationMessage For="@(() => validationModel.Category)" />

                    <br />

                    <BitDropdown @bind-Values="validationModel.Products"
                                 Label="Select min 1 and max 2 items"
                                 Items="GetBasicItems()"
                                 Placeholder="Select items"
                                 IsMultiSelect="true" />

                    <ValidationMessage For="@(() => validationModel.Products)" />

                    <br />

                    <BitButton ButtonType="BitButtonType.Submit">Submit</BitButton>
                </EditForm>
            }
            else
            {
                <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">@successMessage</BitMessageBar>
            }
        </div>
    </ExamplePreview>
</ComponentExampleBox>
