<ComponentExampleBox Title="Basic" HtmlCode="@example1HtmlCode" CsharpCode="@example1CsharpCode" Id="example1">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Single select"
                         Placeholder="Select an item"
                         TItem="BitDropdownOption<string>" TValue="string">
                <BitDropdownOption ItemType="BitDropdownItemType.Header" Text="Fruits" Value="@string.Empty" />
                <BitDropdownOption Text="Apple" Value="@("f-app")" />
                <BitDropdownOption Text="Banana" Value="@("f-ban")" />
                <BitDropdownOption Text="Orange" Value="@("f-org")" IsEnabled="false" />
                <BitDropdownOption Text="Grape" Value="@("f-gra")" />
                <BitDropdownOption ItemType="BitDropdownItemType.Divider" Value="@string.Empty" />
                <BitDropdownOption ItemType="BitDropdownItemType.Header" Text="Vegetables" Value="@string.Empty" />
                <BitDropdownOption Text="Broccoli" Value="@("v-bro")" />
                <BitDropdownOption Text="Carrot" Value="@("v-car")" />
                <BitDropdownOption Text="Lettuce" Value="@("v-let")" />
            </BitDropdown>

            <BitDropdown Label="Multi select"
                         Placeholder="Select items"
                         IsMultiSelect="true" TItem="BitDropdownOption<string>" TValue="string">
                @foreach (var item in basicItems)
                {
                    <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                }
            </BitDropdown>

            <BitDropdown Label="IsRequired"
                         Placeholder="Select an item"
                         IsRequired="true"
                         TItem="BitDropdownOption<string>" TValue="string">
                @foreach (var item in basicItems)
                {
                    <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                }
            </BitDropdown>

            <BitDropdown Label="Disabled"
                         DefaultValue="@("f-ora")"
                         Placeholder="Select an item"
                         IsEnabled="false"
                         TItem="BitDropdownOption<string>" TValue="string">
                @foreach (var item in basicItems)
                {
                    <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                }
            </BitDropdown>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Controlled" HtmlCode="@example2HtmlCode" CsharpCode="@example2CsharpCode" Id="example2">
    <ExamplePreview>
        <div class="example-content">
            <div>
                <BitDropdown @bind-Value="controlledValue"
                             Label="Single select"
                             Placeholder="Select an item"
                             TItem="BitDropdownOption<string>" TValue="string">
                    <BitDropdownOption ItemType="BitDropdownItemType.Header" Text="Fruits" Value="@string.Empty" />
                    <BitDropdownOption Text="Apple" Value="@("f-app")" />
                    <BitDropdownOption Text="Banana" Value="@("f-ban")" />
                    <BitDropdownOption Text="Orange" Value="@("f-org")" IsEnabled="false" />
                    <BitDropdownOption Text="Grape" Value="@("f-gra")" />
                    <BitDropdownOption ItemType="BitDropdownItemType.Divider" Value="@string.Empty" />
                    <BitDropdownOption ItemType="BitDropdownItemType.Header" Text="Vegetables" Value="@string.Empty" />
                    <BitDropdownOption Text="Broccoli" Value="@("v-bro")" />
                    <BitDropdownOption Text="Carrot" Value="@("v-car")" />
                    <BitDropdownOption Text="Lettuce" Value="@("v-let")" />
                </BitDropdown>
                <BitLabel>Selected Value: @controlledValue</BitLabel>
            </div>
            <br />
            <div>
                <BitDropdown @bind-Values="controlledValues"
                             Label="Multi select"
                             Placeholder="Select items"
                             IsMultiSelect="true"
                             TItem="BitDropdownOption<string>" TValue="string">
                    @foreach (var item in basicItems)
                    {
                        <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                    }
                </BitDropdown>
                <BitLabel>Selected Values: @string.Join(",", controlledValues)</BitLabel>
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Customization" HtmlCode="@example3HtmlCode" CsharpCode="@example3CsharpCode" Id="example3">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Text & Item templates"
                         Placeholder="Select an item"
                         TItem="BitDropdownOption<string>" TValue="string">
                <TextTemplate Context="dropdown">
                    <div class="custom-drp custom-drp-txt">
                        <BitIcon IconName="@((dropdown.SelectedItem?.Data as DropdownItemData)?.IconName)" />
                        <BitLabel>@dropdown.SelectedItem?.Text</BitLabel>
                    </div>
                </TextTemplate>
                <ItemTemplate Context="item">
                    <div class="custom-drp custom-drp-item">
                        <BitIcon IconName="@((item.Data as DropdownItemData)?.IconName)" />
                        <BitLabel Style="text-decoration:underline">@item.Text</BitLabel>
                    </div>
                </ItemTemplate>
                <Options>
                    @foreach (var item in dataItems)
                    {
                        <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" Data="item.Data" />
                    }
                </Options>
            </BitDropdown>

            <BitDropdown Label="Placeholder template"
                         Placeholder="Select an item"
                         TItem="BitDropdownOption<string>" TValue="string">
                <PlaceholderTemplate Context="dropdown">
                    <div class="custom-drp custom-drp-ph">
                        <BitIcon IconName="@BitIconName.MessageFill" />
                        <BitLabel>@dropdown.Placeholder</BitLabel>
                    </div>
                </PlaceholderTemplate>
                <Options>
                    @foreach (var item in dataItems)
                    {
                        <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" />
                    }
                </Options>
            </BitDropdown>

            <BitDropdown Label="Label template"
                         Placeholder="Select an item"
                         TItem="BitDropdownOption<string>" TValue="string">
                <LabelTemplate>
                    <div class="custom-drp custom-drp-lbl">
                        <BitLabel>Custom label</BitLabel>
                        <BitIcon IconName="@BitIconName.Info" AriaLabel="Info" />
                    </div>
                </LabelTemplate>
                <Options>
                    @foreach (var item in dataItems)
                    {
                        <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" />
                    }
                </Options>
            </BitDropdown>

            <BitDropdown Label="CaretDownIconName"
                         Placeholder="Select an item"
                         CaretDownIconName="@BitIconName.ScrollUpDown"
                         TItem="BitDropdownOption<string>" TValue="string">
                @foreach (var item in dataItems)
                {
                    <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" />
                }
            </BitDropdown>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Responsive" HtmlCode="@example4HtmlCode" CsharpCode="@example4CsharpCode" Id="example4">
    <ExamplePreview>
        <div class="example-desc">When the <strong>IsResponsive</strong> parameter is true, on small screens the drop down items will render in a side panel.</div>
        <div class="example-content">
            <BitDropdown Label="Responsive Dropdown"
                         Placeholder="Select an item"
                         IsResponsive=true
                         TItem="BitDropdownOption<string>" TValue="string">
                <BitDropdownOption ItemType="BitDropdownItemType.Header" Text="Fruits" Value="@string.Empty" />
                <BitDropdownOption Text="Apple" Value="@("f-app")" />
                <BitDropdownOption Text="Banana" Value="@("f-ban")" />
                <BitDropdownOption Text="Orange" Value="@("f-org")" IsEnabled="false" />
                <BitDropdownOption Text="Grape" Value="@("f-gra")" />
                <BitDropdownOption ItemType="BitDropdownItemType.Divider" Value="@string.Empty" />
                <BitDropdownOption ItemType="BitDropdownItemType.Header" Text="Vegetables" Value="@string.Empty" />
                <BitDropdownOption Text="Broccoli" Value="@("f-bro")" />
                <BitDropdownOption Text="Carrot" Value="@("f-car")" />
                <BitDropdownOption Text="Lettuce" Value="@("f-let")" />
            </BitDropdown>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="SearchBox" HtmlCode="@example5HtmlCode" CsharpCode="@example5CsharpCode" Id="example5">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Single select & auto focus"
                         Placeholder="Select an item"
                         ShowSearchBox="true"
                         AutoFocusSearchBox="true"
                         SearchBoxPlaceholder="Search item"
                         TItem="BitDropdownOption<string>" TValue="string">
                @foreach (var item in basicItems)
                {
                    <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                }
            </BitDropdown>

            <BitDropdown Label="Multi select"
                         Placeholder="Select items"
                         IsMultiSelect="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="Search items"
                         TItem="BitDropdownOption<string>" TValue="string">
                @foreach (var item in basicItems)
                {
                    <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                }
            </BitDropdown>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="RTL" HtmlCode="@example6HtmlCode" CsharpCode="@example6CsharpCode" Id="example6">
    <ExamplePreview>
        <div style="display:flex;justify-content:end">
            <div class="example-content">
                <BitDropdown Label="تک انتخابی"
                             Placeholder="لطفا انتخاب کنید"
                             IsRtl="true"
                             TItem="BitDropdownOption<string>" TValue="string">
                    @foreach (var item in rtlItems)
                    {
                        <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                    }
                </BitDropdown>

                <BitDropdown Label="چند انتخابی"
                             Placeholder="انتخاب چند گزینه ای"
                             IsMultiSelect="true"
                             IsRtl="true"
                             TItem="BitDropdownOption<string>" TValue="string">
                    @foreach (var item in rtlItems)
                    {
                        <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                    }
                </BitDropdown>
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Drop direction" HtmlCode="@example7HtmlCode" CsharpCode="@example7CsharpCode" Id="example7">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Auto"
                         Placeholder="Select an item"
                         DropDirection="BitDropDirection.Auto"
                         TItem="BitDropdownOption<string>" TValue="string">
                @foreach (var item in dropDirectionItems)
                {
                    <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" />
                }
            </BitDropdown>

            <BitDropdown Label="TopAndBottom"
                         Placeholder="Select an item"
                         DropDirection="BitDropDirection.TopAndBottom"
                         TItem="BitDropdownOption<string>" TValue="string">
                @foreach (var item in dropDirectionItems)
                {
                    <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" />
                }
            </BitDropdown>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Clear button" HtmlCode="@example8HtmlCode" CsharpCode="@example8CsharpCode" Id="example8">
    <ExamplePreview>
        <div class="example-content">
            <div>
                <BitDropdown @bind-Value="clearValue"
                             Label="Single select dropdown"
                             Placeholder="Select an option"
                             ShowClearButton="true"
                             TItem="BitDropdownOption<string>" TValue="string">
                    @foreach (var item in basicItems)
                    {
                        <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                    }
                </BitDropdown>
                <BitLabel>Value: @clearValue</BitLabel>
            </div>
            <br>
            <div>
                <BitDropdown @bind-Values="clearValues"
                             Label="Multi select dropdown"
                             Placeholder="Select options"
                             IsMultiSelect="true"
                             ShowClearButton="true"
                             TItem="BitDropdownOption<string>" TValue="string">
                    @foreach (var item in basicItems)
                    {
                        <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                    }
                </BitDropdown>
                <BitLabel>Values: @string.Join(',', clearValues)</BitLabel>
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Validation" HtmlCode="@example9HtmlCode" CsharpCode="@example9CsharpCode" Id="example9">
    <ExamplePreview>
        <div class="example-content">
            @if (string.IsNullOrEmpty(successMessage))
            {
                <EditForm style="width: 100%" Model="validationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                    <DataAnnotationsValidator />

                    <BitDropdown @bind-Value="validationModel.Category"
                                 Label="Select 1 item"
                                 Placeholder="Select and item"
                                 TItem="BitDropdownOption<string>" TValue="string">
                        @foreach (var item in basicItems)
                        {
                            <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                        }
                    </BitDropdown>

                    <ValidationMessage For="@(() => validationModel.Category)" />

                    <br />

                    <BitDropdown @bind-Values="validationModel.Products"
                                 Label="Select min 1 and max 2 items"
                                 Placeholder="Select items"
                                 IsMultiSelect="true"
                                 TItem="BitDropdownOption<string>" TValue="string">
                        @foreach (var item in basicItems)
                        {
                            <BitDropdownOption ItemType="item.ItemType" Text="@item.Text" Value="item.Value" IsEnabled="item.IsEnabled" />
                        }
                    </BitDropdown>

                    <ValidationMessage For="@(() => validationModel.Products)" />

                    <br />

                    <BitButton ButtonType="BitButtonType.Submit">Submit</BitButton>
                </EditForm>
            }
            else
            {
                <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">@successMessage</BitMessageBar>
            }
        </div>
    </ExamplePreview>
</ComponentExampleBox>
