@page "/components/persona"

<PageOutlet Url="components/persona"
            Title="Persona"
            Description="persona component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Persona"
               ComponentDescription="A BitPersona is a visual representation of a person across products, typically showcasing the image that person has chosen to upload themselves. The control can also be used to show that person's online status. The complete control includes an individual's avatar (an uploaded image or a composition of the person’s initials on a background color), their name or identification, and online status. The BitPersona control is used in the PeoplePicker and Facepile controls."
               ComponentParameters="componentParameters"
               ComponentSubEnums="componentSubEnums"
               ComponentSubClasses="componentSubClasses">

    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <BitPersona PrimaryText="Saleh Khafan"
                        Size="BitPersonaSize.Size72" />
            <br /><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        Size="BitPersonaSize.Size72"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br />
            <BitPersona PrimaryText="Unknown"
                        SecondaryText="Developer"
                        Size="BitPersonaSize.Size72"
                        Unknown />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Size" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
        <ExamplePreview>
            <BitCheckbox @bind-Value="isDetailsShown" Label="Include BitPersona details" />
            <br /><br /><br /><br />
            <div>Size 8 Persona:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Secondary"
                        Size="BitPersonaSize.Size8"
                        HidePersonaDetails="!isDetailsShown"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Size 24 Persona:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Secondary"
                        Size="BitPersonaSize.Size24"
                        HidePersonaDetails="!isDetailsShown"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Size 32 Persona:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Secondary"
                        Size=@BitPersonaSize.Size32
                        HidePersonaDetails="!isDetailsShown"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Size 40 Persona:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        Size="BitPersonaSize.Size40"
                        HidePersonaDetails="!isDetailsShown"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Size 48 Persona:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        Size="BitPersonaSize.Size48"
                        HidePersonaDetails="!isDetailsShown"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Size 56 Persona:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        Size="BitPersonaSize.Size56"
                        HidePersonaDetails="!isDetailsShown"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Size 72 Persona:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        TertiaryText="In a meeting"
                        Size="BitPersonaSize.Size72"
                        HidePersonaDetails="!isDetailsShown"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Size 100 Persona:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        TertiaryText="Off"
                        OptionalText="Available at 4:00pm"
                        Size="BitPersonaSize.Size100"
                        HidePersonaDetails="!isDetailsShown"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Size 120 Persona:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        TertiaryText="In a meeting"
                        OptionalText="Available at 4:00pm"
                        Size="BitPersonaSize.Size120"
                        HidePersonaDetails="!isDetailsShown"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>CoinSize 150:</div><br />
            <BitPersona CoinSize="150"
                        PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        TertiaryText="In a meeting"
                        OptionalText="Available at 4:00pm"
                        Size="BitPersonaSize.Size120"
                        HidePersonaDetails="!isDetailsShown"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Color" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <BitPersona PrimaryText="Primary" CoinColor="BitColor.Primary" />
            <br /><br />
            <BitPersona PrimaryText="Secondary" CoinColor="BitColor.Secondary" />
            <br /><br />
            <BitPersona PrimaryText="Tertiary" CoinColor="BitColor.Tertiary" />
            <br /><br />
            <BitPersona PrimaryText="Info" SecondaryText="(default)" CoinColor="BitColor.Info" />
            <br /><br />
            <BitPersona PrimaryText="Success" CoinColor="BitColor.Success" />
            <br /><br />
            <BitPersona PrimaryText="Warning" CoinColor="BitColor.Warning" />
            <br /><br />
            <BitPersona PrimaryText="SevereWarning" CoinColor="BitColor.SevereWarning" />
            <br /><br />
            <BitPersona PrimaryText="Error" CoinColor="BitColor.Error" />
            <br /><br />
            <div style="background:var(--bit-clr-fg-ter);padding:1rem;margin: 1rem 0;">
                <div class="box">
                    <BitPersona PrimaryText="PrimaryBackground" CoinColor="BitColor.PrimaryBackground" />
                    <br /><br />
                    <BitPersona PrimaryText="SecondaryBackground" CoinColor="BitColor.SecondaryBackground" />
                    <br /><br />
                    <BitPersona PrimaryText="TertiaryBackground" CoinColor="BitColor.TertiaryBackground" />
                </div>
            </div>

            <br /><br />
            <BitPersona PrimaryText="PrimaryForeground" CoinColor="BitColor.PrimaryForeground" />
            <br /><br />
            <BitPersona PrimaryText="SecondaryForeground" CoinColor="BitColor.SecondaryForeground" />
            <br /><br />
            <BitPersona PrimaryText="TertiaryForeground" CoinColor="BitColor.TertiaryForeground" />
            <br /><br />
            <BitPersona PrimaryText="PrimaryBorder" CoinColor="BitColor.PrimaryBorder" />
            <br /><br />
            <BitPersona PrimaryText="SecondaryBorder" CoinColor="BitColor.SecondaryBorder" />
            <br /><br />
            <BitPersona PrimaryText="TertiaryBorder" CoinColor="BitColor.TertiaryBorder" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Variant" RazorCode="@example4RazorCode" Id="example4">
        <ExamplePreview>
            <BitPersona PrimaryText="Saleh Xafan"
                        SecondaryText="Developer"
                        Size="BitPersonaSize.Size72"
                        CoinVariant="BitVariant.Fill" />
            <br /><br />
            <BitPersona PrimaryText="Saleh Xafan"
                        SecondaryText="Developer"
                        Size="BitPersonaSize.Size72"
                        CoinVariant="BitVariant.Outline" />
            <br /><br />
            <BitPersona PrimaryText="Saleh Xafan"
                        SecondaryText="Developer"
                        Size="BitPersonaSize.Size72"
                        CoinVariant="BitVariant.Text" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Shape" RazorCode="@example5RazorCode" Id="example5">
        <ExamplePreview>
            <BitPersona PrimaryText="Saleh Xafan"
                        SecondaryText="Developer"
                        Size="BitPersonaSize.Size72"
                        CoinShape="BitPersonaCoinShape.Circular"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br />
            <BitPersona PrimaryText="Saleh Xafan"
                        SecondaryText="Developer"
                        Size="BitPersonaSize.Size72"
                        CoinShape="BitPersonaCoinShape.Square"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Action" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
        <ExamplePreview>
            <div>Custom action can be revealed by hovering on the bottom of the image:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        TertiaryText="In a meeting"
                        OptionalText="Available at 4:00pm"
                        Size="BitPersonaSize.Size120"
                        Presence="BitPersonaPresence.None"
                        OnActionClick="() => actionClickCount++"
                        ActionIconName="@BitIconName.CloudUpload"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <p>Action Click Count: @actionClickCount</p>
            <br /><br /><br /><br />
            <div>Hover over the image to reveal the image click action:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        TertiaryText="In a meeting"
                        OptionalText="Available at 4:00pm"
                        Size="BitPersonaSize.Size120"
                        Presence="BitPersonaPresence.Online"
                        OnImageClick="() => imageClickCount++"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <p>Image Click Count: @imageClickCount</p>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Initials" RazorCode="@example7RazorCode" Id="example7">
        <ExamplePreview>
            <div>Invalid ImageUrl:</div><br />
            <BitPersona PrimaryText="Saleh Khafan"
                        Size="BitPersonaSize.Size72"
                        ShowInitialsUntilImageLoads
                        ImageUrl="invalid-src" />
            <br /><br /><br /><br />
            <div>No ImageUrl:</div><br />
            <BitPersona Size="BitPersonaSize.Size72" PrimaryText="Saleh Xafan" />
            <br /><br /><br /><br />
            <div>ImageInitials:</div><br />
            <BitPersona Size="BitPersonaSize.Size72" PrimaryText="Saleh Khafan" ImageInitials="S" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="PersonaPresence" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
        <ExamplePreview>
            <div>None:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        Presence="BitPersonaPresence.None"
                        PresenceIcons="_icons"
                        Size="BitPersonaSize.Size120"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Offline:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        Presence="BitPersonaPresence.Offline"
                        PresenceIcons="_icons"
                        Size="BitPersonaSize.Size120"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Online:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        Presence="BitPersonaPresence.Online"
                        PresenceIcons="_icons"
                        Size="BitPersonaSize.Size120"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Away:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        Presence="BitPersonaPresence.Away"
                        PresenceIcons="_icons"
                        Size="BitPersonaSize.Size120"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Do not Disturb (Dnd):</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        Presence="BitPersonaPresence.Dnd"
                        PresenceIcons="_icons"
                        Size="BitPersonaSize.Size120"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Blocked:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        Presence="BitPersonaPresence.Blocked"
                        Size="BitPersonaSize.Size120"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
            <br /><br /><br /><br />
            <div>Busy:</div><br />
            <BitPersona PrimaryText="Annie Lindqvist"
                        SecondaryText="Software Engineer"
                        Presence="BitPersonaPresence.Busy"
                        PresenceIcons="_icons"
                        Size="BitPersonaSize.Size120"
                        ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Templates" RazorCode="@example9RazorCode" Id="example9">
        <ExamplePreview>
            <div>Text templates:</div><br />
            <div>
                <BitPersona Size="BitPersonaSize.Size100" ImageUrl="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" OnImageClick="() => {}">
                    <PrimaryTextTemplate>
                        <BitIcon IconName="@BitIconName.Contact" Class="custom-ico" />
                        Annie Lindqvist
                    </PrimaryTextTemplate>
                    <SecondaryTextTemplate>
                        <BitIcon IconName="@BitIconName.Suitcase" Class="custom-ico" />
                        Software Engineer
                    </SecondaryTextTemplate>
                    <TertiaryTextTemplate>
                        <BitIcon IconName="@BitIconName.JoinOnlineMeeting" Class="custom-ico" />
                        In a meeting
                    </TertiaryTextTemplate>
                    <OptionalTextTemplate>
                        <BitIcon IconName="@BitIconName.Clock" Class="custom-ico" />
                        Available at 7:00pm
                    </OptionalTextTemplate>
                    <ImageOverlayTemplate>
                        <BitIcon IconName="@BitIconName.Edit" Class="custom-ico" />
                        Edit image
                    </ImageOverlayTemplate>
                </BitPersona>
            </div>
            <br /><br /><br /><br />
            <div>Coin template:</div><br />
            <div>
                <BitPersona Size="BitPersonaSize.Size100" PrimaryText="Annie Lindqvist" SecondaryText="Software Engineer" Presence="BitPersonaPresence.Online" CoinVariant="BitVariant.Text">
                    <CoinTemplate>
                        <img src="/_content/Bit.BlazorUI.Demo.Client.Core/images/persona/persona-female.png" width="100px" height="100px" class="custom-coin" />
                    </CoinTemplate>
                </BitPersona>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" RazorCode="@example10RazorCode" Id="example10">
        <ExamplePreview>
            <div>Component's Style & Class:</div><br />
            <BitPersona PrimaryText="Saleh Khafan"
                        Size="BitPersonaSize.Size72"
                        Style="padding: 1rem; background: gray;border-radius: 1rem;" />
            <br /><br />
            <BitPersona PrimaryText="Saleh Khafan"
                        Size="BitPersonaSize.Size72"
                        Class="custom-class" />
            <br /><br /><br /><br />
            <div><b>Styles</b> & <b>Classes</b>:</div><br />
            <BitPersona PrimaryText="Saleh Khafan"
                        Size="BitPersonaSize.Size72"
                        Styles="@(new() { ImageContainer = "color: #b6ff00; background-color: #00ff90;",
                                              PrimaryTextContainer = "color: #ea1919; font-weight: bold; font-style: italic;" })" />
            <br /><br />
            <BitPersona PrimaryText="Saleh Khafan"
                        Size="BitPersonaSize.Size72"
                        Classes="@(new() { ImageContainer = "custom-img-container",
                                               PrimaryTextContainer = "custom-primary-text" })" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL" RazorCode="@example11RazorCode" Id="example11">
        <ExamplePreview>
            <div dir="rtl">
                <BitPersona Dir="BitDir.Rtl"
                            PrimaryText="صالح یوسف نژاد"
                            SecondaryText="مهندس نرم افزار"
                            Size="@BitPersonaSize.Size56" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>