@page "/edit-profile"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.EditProfileTitle)]</PageTitle>

<div class="page-container">
    @if (string.IsNullOrEmpty(_editProfileMessage) is false) 
    {
        <BitMessageBar MessageBarType="@_editProfileMessageType" OnDismiss="() => _editProfileMessage = null">@_editProfileMessage</BitMessageBar>
    }

    <div class="page-header">
        <BitIconButton Class="back-btn" OnClick=@GoBack IconName="BitIconName.Back" Title="Back" />
        <h1 class="page-title">@Localizer[nameof(AppStrings.EditProfileTitle)]</h1>
    </div>
    @if (_isLoadingData) 
    {
        <div class="loading-container">
            <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
        </div>
    }
    else 
    {
        <div class="form-profile-container">
            <BitPersona ImageUrl="@(_user.ProfileImageName is not null ? $"{_profileImageUrl}&file={_user.ProfileImageName}" : null)"
                        Size=@BitPersonaSize.Size72
                        Text="@(string.IsNullOrWhiteSpace(_user.FullName) ? _user.UserName : _user.FullName)"
                        SecondaryText="@_user.UserName"
                        Presence="BitPersonaPresenceStatus.Online" />
        </div>

        <div class="form-input-container">
            @if (_user.ProfileImageName is not null) 
            {
                <BitLoadingButton IsLoading="_isRemoving"
                                  ButtonStyle="BitButtonStyle.Standard"
                                  OnClick="RemoveProfileImage">
                    @Localizer[nameof(AppStrings.Remove)]
                </BitLoadingButton>
            }

            <BitLabel>@Localizer[nameof(AppStrings.ProfileImage)]</BitLabel>
            <BitFileUpload @onfocus="() => _profileImageError = null"
                           Label="@Localizer[nameof(AppStrings.UploadNewProfileImage)]"
                           Style="max-width: 100%"
                           AllowedExtensions="@(new [] {".png", ".jpg", ".jpeg", ".webp", ".bpm", ".gif"})"
                           AutoUploadEnabled="true"
                           UploadUrl="@_profileImageUploadUrl"
                           OnUploadComplete="WrapHandled(RefreshProfileData)"
                           OnUploadFailed="() => _profileImageError = Localizer[nameof(AppStrings.FileUploadFailed)]" />
            <div class="form-input-error">@_profileImageError</div>
        </div>

        <EditForm Model="_userToEdit" OnSubmit="WrapHandled(DoSave)">
            <AppDataAnnotationsValidator />

            <div class="form-input-container">
                <BitTextField @bind-Value="_userToEdit.FullName"
                              Label="@Localizer[nameof(AppStrings.FullName)]"
                              Placeholder="@Localizer[nameof(AppStrings.FullName)]" />
                <ValidationMessage For="@(() => _userToEdit.FullName)" />
            </div>

            <div class="form-input-container">
                <BitDatePicker @bind-Value="_userToEdit.BirthDate"
                               Label="@Localizer[nameof(AppStrings.BirthDate)]"
                               Class="edit-profile-dtp"
                               Placeholder="@Localizer[nameof(AppStrings.SelectBirthDate)]" />
                <ValidationMessage For="@(() => _userToEdit.BirthDate)" />
            </div>

            <div class="form-choice-container">
                <BitChoiceGroup TItem="BitChoiceGroupOption<string?>" TValue="string"
                                Label="@Localizer[nameof(AppStrings.Gender)]"
                                @bind-Value="_userToEdit.GenderAsString">
                    <BitChoiceGroupOption Value="@Gender.Male.ToString()" Text="@Localizer[nameof(AppStrings.GenderMale)]" AriaLabel="@Localizer[nameof(AppStrings.GenderMale)]" />
                    <BitChoiceGroupOption Value="@Gender.Female.ToString()" Text="@Localizer[nameof(AppStrings.GenderFemale)]" AriaLabel="@Localizer[nameof(AppStrings.GenderFemale)]" />
                    <BitChoiceGroupOption Value="@Gender.Custom.ToString()" Text="@Localizer[nameof(AppStrings.GenderCustom)]" AriaLabel="@Localizer[nameof(AppStrings.GenderCustom)]" />
                </BitChoiceGroup>
                <ValidationMessage For="@(() => _userToEdit.Gender)" />
            </div>

            <BitLoadingButton IsLoading="_isLoading"
                              ButtonStyle="BitButtonStyle.Primary"
                              Title="@Localizer[nameof(AppStrings.Save)]"
                              AriaLabel="@Localizer[nameof(AppStrings.Save)]"
                              ButtonType="BitButtonType.Submit">
                <span>@Localizer[nameof(AppStrings.Save)]</span>
            </BitLoadingButton>
        </EditForm>
    }
</div>