@page "/email-confirmation"

@inherits AppComponentBase;

<PageTitle>@Localizer[nameof(AppStrings.EmailConfirmationTitle)]</PageTitle>

<div class="page-container">
    <section class="page-section">
        <div class="bit-logo--white"></div>
        <div class="bg-img"></div>
        <div class="section-content">
            <h1 class="section-title">@Localizer[nameof(AppStrings.StartupPageTitle)]</h1>
            <div class="section-desc">@Localizer[nameof(AppStrings.StartupPageDescription)]</div>
        </div>
    </section>
    <section class="page-section">
        <div class="form">
            @if (string.IsNullOrEmpty(EmailConfirmationMessage) is false)
            {
                <BitMessageBar MessageBarType="@EmailConfirmationMessageType" OnDismiss="() => EmailConfirmationMessage = null">@EmailConfirmationMessage</BitMessageBar>
            }
            @if (EmailConfirmed)
            {
                <h2 class="form-title">
                    @Localizer[nameof(AppStrings.EmailConfirmedSuccessfullyMessage)]
                </h2>
                <BitButton Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       Title="@Localizer[nameof(AppStrings.SignIn)]"
                       AriaLabel="@Localizer[nameof(AppStrings.SignIn)]"
                       OnClick="WrapHandled(RedirectToSignIn)">
                    <span>@Localizer[nameof(AppStrings.SignIn)]</span>
                </BitButton>
            }
            else
            {
                <h2 class="form-title">
                    @Localizer[nameof(AppStrings.EmailConfirmationFailedMessage)]
                </h2>
                <div class="form-description">
                    @Localizer[nameof(AppStrings.InvalidConfirmationLinkMessage)]
                </div>
                <BitButton Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       IsEnabled="@(IsLoading is false)"
                       Title="@Localizer[nameof(AppStrings.ResendEmail)]"
                       AriaLabel="@Localizer[nameof(AppStrings.ResendEmail)]"
                       OnClick="WrapHandled(ResendLink)">
                    @if (IsLoading)
                    {
                        <BitSpinner Size="BitElementSize.Small"></BitSpinner>
                    }
                    else
                    {
                        <span>@Localizer[nameof(AppStrings.ResendEmail)]</span>
                    }
                </BitButton>
            }
        </div>
    </section>
</div>