@page "/forgot-password"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.ForgotPasswordTitle)]</PageTitle>

<div class="page-container">
    <section class="page-section">
        <div class="bit-logo--white"></div>
        <div class="bg-img"></div>
        <div class="section-content">
            <h1 class="section-title">@Localizer[nameof(AppStrings.StartupPageTitle)]</h1>
            <div class="section-desc">@Localizer[nameof(AppStrings.StartupPageDescription)]</div>
        </div>
    </section>
    <section class="page-section">
        <EditForm Model="_forgotPasswordModel" OnValidSubmit="WrapHandled(DoSubmit)" class="form">
            <AppDataAnnotationsValidator />

            @if (string.IsNullOrEmpty(_forgotPasswordMessage) is false)
            {
                <BitMessageBar MessageBarType="_forgotPasswordMessageType" OnDismiss="() => _forgotPasswordMessage = null">
                    @_forgotPasswordMessage
                </BitMessageBar>
            }

            <h2 class="form-title">@Localizer[nameof(AppStrings.ForgotPasswordTitle)]</h2>
            <div class="form-description">
                @Localizer[nameof(AppStrings.ForgotPasswordMessage)]
            </div>
            <div class="form-input-container">
                <BitTextField @bind-Value="_forgotPasswordModel.Email"
                              Label=@Localizer[nameof(AppStrings.Email)]
                              Placeholder=@Localizer[nameof(AppStrings.Email)]
                              Type="BitTextFieldType.Email" />
                <ValidationMessage For="() => _forgotPasswordModel.Email" />
            </div>
            <BitLoadingButton Class="send-reset-link-btn"
                              IsLoading="_isLoading"
                              ButtonStyle="BitButtonStyle.Primary"
                              Title="@Localizer[nameof(AppStrings.SendResetLink)]"
                              AriaLabel="@Localizer[nameof(AppStrings.SendResetLink)]"
                              ButtonType="BitButtonType.Submit">
                <span>@Localizer[nameof(AppStrings.SendResetLink)]</span>
            </BitLoadingButton>
        </EditForm>
    </section>
</div>