@page "/reset-password"

@inherits AppComponentBase;

<PageTitle>@Localizer[nameof(AppStrings.ResetPasswordTitle)]</PageTitle>

<div class="page-container">
        <section class="page-section">
        <div class="bit-logo--white"></div>
        <div class="bg-img"></div>
        <div class="section-content">
            <h1 class="section-title">@Localizer[nameof(AppStrings.StartupPageTitle)]</h1>
            <div class="section-desc">@Localizer[nameof(AppStrings.StartupPageDescription)]</div>
        </div>
    </section>
    <section class="page-section">
        <EditForm Model="ResetPasswordModel" OnValidSubmit="WrapHandled(Submit)" class="form">
            <AppDataAnnotationsValidator />
            @if (string.IsNullOrEmpty(ResetPasswordMessage) is false)
            {
                <BitMessageBar MessageBarType="@ResetPasswordMessageType" OnDismiss="() => ResetPasswordMessage = null">@ResetPasswordMessage</BitMessageBar>
            }
            <h2 class="form-title">@Localizer[nameof(AppStrings.ResetPasswordTitle)]</h2>
            <div class="form-input-container">
                <BitTextField Label="@Localizer[nameof(AppStrings.NewPassword)]"
                              @bind-Value="ResetPasswordModel.Password"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@Localizer[nameof(AppStrings.NewPassword)]" />
                <ValidationMessage For="@(() => ResetPasswordModel.Password)" />
            </div>
            <div class="form-input-container">
                <BitTextField Label="@Localizer[nameof(AppStrings.ConfirmNewPassword)]"
                              @bind-Value="ResetPasswordModel.ConfirmPassword"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@Localizer[nameof(AppStrings.ConfirmNewPassword)]" />
                <ValidationMessage For="@(() => ResetPasswordModel.ConfirmPassword)" />
            </div>
            <BitButton Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       IsEnabled="IsSubmitButtonEnabled"
                       Title="@Localizer[nameof(AppStrings.Submit)]"
                       AriaLabel="@Localizer[nameof(AppStrings.Submit)]"
                       ButtonType="BitButtonType.Submit">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitElementSize.Small"></BitSpinner>
                }
                else
                {
                    <span>@Localizer[nameof(AppStrings.ResetPassword)]</span>
                }
            </BitButton>
        </EditForm>
    </section>
</div>