@page "/reset-password"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.ResetPasswordTitle)]</PageTitle>

<div class="page-container">
    <section class="page-section">
        <div class="bit-logo--white"></div>
        <div class="bg-img"></div>
        <div class="section-content">
            <h1 class="section-title">@Localizer[nameof(AppStrings.StartupPageTitle)]</h1>
            <div class="section-desc">@Localizer[nameof(AppStrings.StartupPageDescription)]</div>
        </div>
    </section>
    <section class="page-section">
        <EditForm Model="_resetPasswordModel" OnValidSubmit="WrapHandled(DoSubmit)" class="form">
            <AppDataAnnotationsValidator />
            @if (string.IsNullOrEmpty(_resetPasswordMessage) is false)
            {
                <BitMessageBar MessageBarType="@_resetPasswordMessageType" OnDismiss="() => _resetPasswordMessage = null">@_resetPasswordMessage</BitMessageBar>
            }
            <h2 class="form-title">@Localizer[nameof(AppStrings.ResetPasswordTitle)]</h2>
            <div class="form-input-container">
                <BitTextField @bind-Value="_resetPasswordModel.Password"
                              Label="@Localizer[nameof(AppStrings.NewPassword)]"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@Localizer[nameof(AppStrings.NewPassword)]" />
                <ValidationMessage For="@(() => _resetPasswordModel.Password)" />
            </div>
            <div class="form-input-container">
                <BitTextField @bind-Value="_resetPasswordModel.ConfirmPassword"
                              Label="@Localizer[nameof(AppStrings.ConfirmNewPassword)]"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@Localizer[nameof(AppStrings.ConfirmNewPassword)]" />
                <ValidationMessage For="@(() => _resetPasswordModel.ConfirmPassword)" />
            </div>
            <BitLoadingButton Class="reset-password-btn"
                              IsLoading="_isLoading"
                              ButtonStyle="BitButtonStyle.Primary"
                              Title="@Localizer[nameof(AppStrings.ResetPassword)]"
                              AriaLabel="@Localizer[nameof(AppStrings.ResetPassword)]"
                              ButtonType="BitButtonType.Submit">
                <span>@Localizer[nameof(AppStrings.ResetPassword)]</span>
            </BitLoadingButton>
        </EditForm>
    </section>
</div>