@page "/sign-in"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.SignInTitle)]</PageTitle>

<div class="page-container">
    <section class="page-section">
        <div class="bit-logo--white"></div>
        <div class="bg-img"></div>
        <div class="section-content">
            <h1 class="section-title">@Localizer[nameof(AppStrings.StartupPageTitle)]</h1>
            <div class="section-desc">@Localizer[nameof(AppStrings.StartupPageDescription)]</div>
        </div>
    </section>
    <section class="page-section">
        <div class="bit-logo--blue"></div>
        <EditForm Model="_signInModel" OnValidSubmit="WrapHandled(DoSignIn)" class="form">
            <AppDataAnnotationsValidator />
            @if (string.IsNullOrEmpty(_signInMessage) is false)
            {
                <BitMessageBar MessageBarType="@_signInMessageType" OnDismiss="() => _signInMessage = null">@_signInMessage</BitMessageBar>
            }
            <h2 class="form-title">@Localizer[nameof(AppStrings.SignInTitle)]</h2>
            <div class="form-input-container">
                <BitTextField Label="@Localizer[nameof(AppStrings.Email)]"
                              Placeholder="@Localizer[nameof(AppStrings.Email)]"
                              Type="BitTextFieldType.Email"
                @bind-Value="_signInModel.UserName" />
                <ValidationMessage For="@(() => _signInModel.UserName)" />
            </div>
            <div class="form-input-container">
                <BitTextField Label="@Localizer[nameof(AppStrings.Password)]"
                @bind-Value="_signInModel.Password"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@Localizer[nameof(AppStrings.Password)]" />
                <ValidationMessage For="@(() => _signInModel.Password)" />
            </div>
            <BitLoadingButton IsLoading="_isLoading"
                              ButtonStyle="BitButtonStyle.Primary"
                              Title="@Localizer[nameof(AppStrings.SignIn)]"
                              AriaLabel="@Localizer[nameof(AppStrings.SignIn)]"
                              ButtonType="BitButtonType.Submit">
                <span>@Localizer[nameof(AppStrings.SignIn)]</span>
            </BitLoadingButton>
            <div class="form-forgot-password">
                <BitLink Href="/forgot-password">@Localizer[nameof(AppStrings.ForgotPasswordLink)]</BitLink>
            </div>
            <div class="sign-up-row">
                @Localizer[nameof(AppStrings.DontHaveAccountMessage)] <BitLink Href="/sign-up">@Localizer[nameof(AppStrings.SignUp)]</BitLink>
            </div>
        </EditForm>
    </section>
</div>