@page "/sign-up"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.SingUpTitle)]</PageTitle>

<div class="page-container">
    <section class="page-section">
        <div class="bit-logo--white"></div>
        <div class="bg-img"></div>
        <div class="section-content">
            <h1 class="section-title">@Localizer[nameof(AppStrings.StartupPageTitle)]</h1>
            <div class="section-desc">@Localizer[nameof(AppStrings.StartupPageDescription)]</div>
        </div>
    </section>

    <section class="page-section">
        <div class="bit-logo--blue"></div>
        <EditForm Model="_signUpModel" OnValidSubmit="WrapHandled(DoSignUp)" class="form">
            <AppDataAnnotationsValidator />
            @if (string.IsNullOrEmpty(_signUpMessage) is false)
            {
                <BitMessageBar MessageBarType="@_signUpMessageType" OnDismiss="() => _signUpMessage = null">@_signUpMessage</BitMessageBar>
            }
            @if (_isSignedUp)
            {
                <h2 class="form-title">
                    @Localizer[nameof(AppStrings.ConfirmEmailTitle)]
                </h2>
                <div class="form-description">
                    @Localizer[nameof(AppStrings.ConfirmEmailMessage)]
                </div>
                <div class="form-link">
                    @Localizer[nameof(AppStrings.NotReceivedConfirmationEmailMessage)]
                </div>
                <div class="form-note">
                    @Localizer[nameof(AppStrings.CheckSpamMailMessage)]
                    <br />
                    -@Localizer[nameof(AppStrings.Or)] -
                </div>
                <BitLoadingButton IsLoading="_isLoading"
                                  ButtonStyle="BitButtonStyle.Primary"
                                  Title="@Localizer[nameof(AppStrings.ResendEmail)]"
                                  AriaLabel="@Localizer[nameof(AppStrings.ResendEmail)]"
                                  OnClick="WrapHandled(DoResendLink)">
                    <span>@Localizer[nameof(AppStrings.ResendEmail)]</span>
                </BitLoadingButton>
            }
            else
            {
                <h2 class="form-title">
                    @Localizer[nameof(AppStrings.SignUp)]
                </h2>
                <div class="form-input-container">
                    <BitTextField Label=@Localizer[nameof(AppStrings.Email)]
                                  Placeholder=@Localizer[nameof(AppStrings.Email)]
                                  Type="BitTextFieldType.Email"
                    @bind-Value="_signUpModel.UserName" />
                    <ValidationMessage For="@(() => _signUpModel.UserName)" />
                </div>
                <div class="form-input-container">
                    <BitTextField @bind-Value="_signUpModel.Password"
                                  Label=@Localizer[nameof(AppStrings.Password)]
                                  Type="BitTextFieldType.Password"
                                  CanRevealPassword="true"
                                  Placeholder=@Localizer[nameof(AppStrings.Password)] />
                    <ValidationMessage For="@(() => _signUpModel.Password)" />
                </div>
                <BitLoadingButton IsLoading="_isLoading"
                                  ButtonStyle="BitButtonStyle.Primary"
                                  Title="@Localizer[nameof(AppStrings.SignUp)]"
                                  AriaLabel="@Localizer[nameof(AppStrings.SignUp)]"
                                  ButtonType="BitButtonType.Submit">
                    <span>@Localizer[nameof(AppStrings.SignUp)]</span>
                </BitLoadingButton>
                <div class="sign-in-row">
                    @Localizer[nameof(AppStrings.AlreadyHaveAccountMessage)] <BitLink Href="/sign-in">@Localizer[nameof(AppStrings.SignIn)]</BitLink>
                </div>
            }
        </EditForm>
    </section>
</div>