@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue() && IsEnabled)
{
    <a @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
       id="@_Id"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       dir="@Dir?.ToString().ToLower()"
       href="@Href"
       title="@Title"
       target="@Target"
       tabindex="@_tabIndex"
       aria-label="@AriaLabel"
       aria-hidden="@AriaHidden"
       aria-describedby="@AriaDescription">
        <span style="@Styles?.Container" class="bit-acb-ictn @Classes?.Container">
            <i style="@Classes?.Icon" class="bit-icon bit-icon--@IconName @Classes?.Icon" />
            @if (ChildContent is not null)
            {
                <span style="@Styles?.Content" class="bit-acb-con @Classes?.Content">
                    @ChildContent
                </span>
            }
        </span>
    </a>
}
else
{
    <button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
            id="@_Id"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            dir="@Dir?.ToString().ToLower()"
            type="@_buttonType.GetValue()"
            title="@Title"
            tabindex="@_tabIndex"
            aria-label="@AriaLabel"
            aria-hidden="@AriaHidden"
            aria-describedby="@AriaDescription">
        <span style="@Styles?.Container" class="bit-acb-ictn @Classes?.Container">
            <i style="@Styles?.Icon" class="bit-icon bit-icon--@IconName @Classes?.Icon" />
            @if (ChildContent is not null)
            {
                <span style="@Styles?.Content" class="bit-acb-con @Classes?.Content">
                    @ChildContent
                </span>
            }
        </span>
    </button>
}