@page "/components/calendar"
@using Bit.BlazorUI.Demo.Client.Core.Helpers

<PageOutlet Url="components/calendar"
            Title="Calendar"
            Description="calendar component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Calendar"
               ComponentDescription="The calendar control lets people select and view a single date or a range of dates in their calendar. It’s made up of 3 separate views: the month view, year view, and decade view."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div class="example-content">
                <div>Basic Calendar:</div>
                <BitCalendar />
                <br /><br />
                <div>Disabled:</div>
                <BitCalendar IsEnabled="false" />
                <br /><br />
                <div>Week numbers:</div>
                <BitCalendar ShowWeekNumbers="true" />
                <br /><br />
                <div>Highlight months:</div>
                <BitCalendar HighlightCurrentMonth="true" HighlightSelectedMonth="true" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Min & Max" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <div class="example-content">
                <div>Min: Now.AddDays(-5)</div>
                <div>Max: Now.AddDays(+5)</div>
                <BitCalendar MinDate="DateTimeOffset.Now.AddDays(-5)" MaxDate="DateTimeOffset.Now.AddDays(5)" />
                <br /><br />
                <div>Min: Now.AddMonths(-2)</div>
                <div>Max: Now.AddMonths(+1)</div>
                <BitCalendar MinDate="DateTimeOffset.Now.AddMonths(-2)" MaxDate="DateTimeOffset.Now.AddMonths(1)" />
                <br /><br />
                <div>Min: Now.AddYears(-5)</div>
                <div>Max: Now.AddYears(+1)</div>
                <BitCalendar MinDate="DateTimeOffset.Now.AddYears(-5)" MaxDate="DateTimeOffset.Now.AddYears(1)" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <div>Component's Style & Class:</div>
            <br />
            <div class="example-content">
                <BitCalendar Style="padding: 1rem; background: purple;" />

                <BitCalendar Class="custom-class" />
            </div>
            <br /><br /><br />
            <div><b>Styles</b> & <b>Classes</b>:</div>
            <br />
            <div class="example-content">
                <BitCalendar Styles="@(new() { Root = "margin: 1rem; border: 1px solid gold;",
                                               Divider = "border-color: green;",
                                               DayPickerMonth = "color: red;",
                                               TodayDayButton = "background-color: red;",
                                               SelectedDayButton = "background-color: purple;",
                                               YearPickerToggleButton = "color: blue;" })" />

                <BitCalendar ShowTimePicker="true"
                             Classes="@(new() { Root = "custom-root",
                                                DayPickerWrapper = "custom-day-picker",
                                                DayButton = "custom-day",
                                                TodayDayButton = "custom-today-day",
                                                PrevMonthNavButton = "custom-prev-month",
                                                NextMonthNavButton = "custom-next-month",
                                                DayPickerMonth = "custom-day-month",
                                                DayPickerHeader = "custom-day-header",
                                                WeekNumbersHeader = "custom-week-header",
                                                YearMonthPickerWrapper = "custom-year-picker",
                                                TimePickerIncreaseHourButton = "custom-increase-btn",
                                                TimePickerIncreaseMinuteButton = "custom-increase-btn",
                                                TimePickerDecreaseHourButton = "custom-decrease-btn",
                                                TimePickerDecreaseMinuteButton = "custom-decrease-btn" })" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Binding" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
        <ExamplePreview>
            <div class="example-content">
                <BitCalendar @bind-Value="@selectedDate" />
                <div>Selected date: @selectedDate.ToString()</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Culture" RazorCode="@example5RazorCode" Id="example5">
        <ExamplePreview>
            <div>
                By default, BitCalendar picks the current culture. But you can provide your own instance of CultureInfo for any custom culture.
                <br />
                You also can use our
                <BitLink Href="https://github.com/bitfoundation/bitplatform/blob/develop/src/BlazorUI/Demo/Client/Bit.BlazorUI.Demo.Client.Core/Helpers/CultureInfoHelper.cs" Target="_blank">
                    CultureInfoHelper
                </BitLink> class or check its code to see how to create a custom culture.
            </div>
            <br />
            <div class="example-content">
                <div>fa-IR culture with Farsi names:</div>
                <br />
                <BitCalendar GoToTodayTitle="برو به امروز" Culture="CultureInfoHelper.GetFaIrCultureWithFarsiNames()" />
                <br /><br />
                <div>fa-IR culture with Fingilish names:</div>
                <br />
                <BitCalendar GoToTodayTitle="Boro be emrouz" Culture="CultureInfoHelper.GetFaIrCultureWithFingilishNames()" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Templates" RazorCode="@example6RazorCode" Id="example6">
        <ExamplePreview>
            <div class="example-content">
                <div>DayCellTemplate:</div>
                <br />
                <BitCalendar>
                    <DayCellTemplate>
                        <span class="day-cell@(context.DayOfWeek == DayOfWeek.Sunday ? " weekend-cell" : null)">
                            @context.Day

                            @if (context.Day % 5 is 0)
                            {
                                <span class="badge"></span>
                            }
                        </span>
                    </DayCellTemplate>
                </BitCalendar>
                <br /><br /><br />
                <div>MonthCellTemplate:</div>
                <br />
                <BitCalendar>
                    <MonthCellTemplate>
                        <div style="width:28px;padding:3px;color:black;background:@(context.Month == 1 ? "lightcoral" : "yellowgreen")">
                            @culture.DateTimeFormat.GetAbbreviatedMonthName(context.Month)
                        </div>
                    </MonthCellTemplate>
                </BitCalendar>
                <br /><br /><br />
                <div>YearCellTemplate:</div>
                <br />
                <BitCalendar>
                    <YearCellTemplate>
                        <span style="position: relative">
                            @context
                            <span class="year-suffix">AC</span>
                        </span>
                    </YearCellTemplate>
                </BitCalendar>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="MonthPicker" RazorCode="@example7RazorCode" CsharpCode="@example7CsharpCode" Id="example7">
        <ExamplePreview>
            <div class="example-content">
                <div>IsMonthPickerVisible:</div>
                <br />
                <BitCalendar ShowMonthPicker="@showMonthPicker" />
                <BitToggleButton OnText="MonthPicker visible" OffText="MonthPicker invisible" @bind-IsChecked="@showMonthPicker" />
                <br /><br /><br />
                <div>ShowMonthPickerAsOverlay:</div>
                <br />
                <BitCalendar ShowMonthPickerAsOverlay="@showMonthPickerAsOverlay" />
                <BitToggleButton OnText="Position Overlay" OffText="Position Besides" @bind-IsChecked="@showMonthPickerAsOverlay" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="TimePicker" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
        <ExamplePreview>
            <div class="example-content">
                <BitCalendar @bind-Value="@selectedDateTime" ShowTimePicker="true" />
                <br />
                <div>Selected DateTime: @selectedDateTime.ToString()</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Validation" RazorCode="@example9RazorCode" CsharpCode="@example9CsharpCode" Id="example9">
        <ExamplePreview>
            <div>
                <EditForm Model="validationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                    <DataAnnotationsValidator />

                    <BitCalendar @bind-Value="validationModel.Date" />
                    <ValidationMessage For="@(() => validationModel.Date)" />
                    <br />
                    <BitButton ButtonType="BitButtonType.Submit">Submit</BitButton>
                    <BitButton ButtonType="BitButtonType.Reset" ButtonStyle="BitButtonStyle.Standard"
                               OnClick="() => { validationModel = new(); SuccessMessage=string.Empty; }">
                        Reset
                    </BitButton>
                </EditForm>

                <br />

                @if (string.IsNullOrEmpty(SuccessMessage) is false)
                {
                    <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">@SuccessMessage</BitMessageBar>
                }
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL" RazorCode="@example10RazorCode" Id="example10">
        <ExamplePreview>
            <div class="example-content">
                <BitCalendar Dir="BitDir.Rtl" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Hour/minute step" RazorCode="@example11RazorCode" Id="example11">
        <ExamplePreview>
            <div class="example-content">
                <div>HourStep = 2:</div>
                <br />
                <BitCalendar ShowTimePicker="true" HourStep="2" />

                <br />

                <div>MinuteStep = 15:</div>
                <br />
                <BitCalendar ShowTimePicker="true" MinuteStep="15" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>