@page "/components/swiper"

<PageOutlet Url="components/swiper"
            Title="Swiper"
            Description="swiper component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Swiper"
               ComponentDescription="Swipers (touch slider) let people show their slides in a swiping row."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div>
                <BitSwiper>
                    @for (int i = 1; i <= 32; i++)
                    {
                        var index = i;
                        var imageIndex = (index - 1) % 4 + 1;
                        <BitSwiperItem Class="item">
                            <div class="number">Item @index</div>
                            <img class="image" src="_content/Bit.BlazorUI.Demo.Client.Core/images/carousel/img@(imageIndex).jpg" />
                        </BitSwiperItem>
                    }
                </BitSwiper>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="ScrollItemsCount" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <div>Configure BitSwiper to scroll multiple items at once.</div>
            <br />
            <div>
                <BitSwiper ScrollItemsCount="2">
                    @for (int i = 1; i <= 32; i++)
                    {
                        var index = i;
                        var imageIndex = (index - 1) % 4 + 1;
                        <BitSwiperItem Class="item">
                            <div class="number">Item @index</div>
                            <img class="image" src="_content/Bit.BlazorUI.Demo.Client.Core/images/carousel/img@(imageIndex).jpg" />
                        </BitSwiperItem>
                    }
                </BitSwiper>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="HideNextPrev" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <div>Use BitSwiper without showing the next and previous navigation buttons.</div>
            <br />
            <div>
                <BitSwiper HideNextPrev ScrollItemsCount="2">
                    @for (int i = 1; i <= 32; i++)
                    {
                        var index = i;
                        var imageIndex = (index - 1) % 4 + 1;
                        <BitSwiperItem Class="item">
                            <div class="number">Item @index</div>
                            <img class="image" src="_content/Bit.BlazorUI.Demo.Client.Core/images/carousel/img@(imageIndex).jpg" />
                        </BitSwiperItem>
                    }
                </BitSwiper>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL" RazorCode="@example4RazorCode" Id="example4">
        <ExamplePreview>
            <div>Use BitSwiper in right-to-left (RTL).</div>
            <br />
            <div>
                <BitSwiper Dir="BitDir.Rtl">
                    @for (int i = 1; i <= 32; i++)
                    {
                        var index = i;
                        var imageIndex = (index - 1) % 4 + 1;
                        <BitSwiperItem Class="item">
                            <div class="number">مورد @index</div>
                            <img class="image" src="_content/Bit.BlazorUI.Demo.Client.Core/images/carousel/img@(imageIndex).jpg" />
                        </BitSwiperItem>
                    }
                </BitSwiper>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>