@page "/components/numberfield"
@page "/components/numerictextfield"
@page "/components/numeric-text-field"

<PageOutlet Url="components/numberfield"
            Title="NumberField"
            Description="numberfield component of the bit BlazorUI components" />

<ComponentDemo ComponentName="NumberField"
               ComponentDescription="A NumberField allows you to enter any number type and format you want. It could be a decimal number or integer number with a suffix and so on. Also, give you the capability to show or hide increment and decrement keys."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses"
               ComponentPublicMembers="componentPublicMembers">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div class="example-box">
                <BitNumberField Label="Basic" TValue="int" />
                <br />
                <BitNumberField Label="Disabled" Step="1" IsEnabled="false" />
                <br />
                <BitNumberField Label="Placeholder" DefaultValue="1" Placeholder="Enter a number..." />
                <br />
                <BitNumberField Label="Step & Buttons" Step="1" ShowButtons="true" />
                <br />
                <BitNumberField Label="Min & Max" Step="1" Min="-10" Max="10" />
                <br />
                <BitNumberField Label="Required" TValue="int" Required />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Label" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <div class="example-box">
                <div>LeftLabel:</div>
                <br />
                <BitNumberField Label="Label Top" Step="1" />
                <br />
                <BitNumberField Label="Label Left" Step="1" LeftLabel />
                <br /><br /><br />
                <div>LabelTemplate:</div>
                <br />
                <BitNumberField TValue="int">
                    <LabelTemplate>
                        <div style="display:flex;align-items:center;gap:10px">
                            <BitLabel Style="color:green;">This is custom Label</BitLabel>
                            <BitIcon IconName="@BitIconName.Filter" Style="font-size:18px;"/>
                        </div>
                    </LabelTemplate>
                </BitNumberField>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Icons" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <div class="example-box">
                <BitNumberField Label="Label & Icon" Step="1" IconName="@BitIconName.Lightbulb" />
                <br />
                <BitNumberField Label="Increment & Decrement Icon" Step="1"
                                     ShowButtons="true"
                                     IncrementIconName="@BitIconName.LikeSolid"
                                     DecrementIconName="@BitIconName.DislikeSolid" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="NumberFormat" RazorCode="@example4RazorCode" Id="example4">
        <ExamplePreview>
            <div class="example-box">
                <BitNumberField Label="Height" DefaultValue="150" NumberFormat="{0} cm" />
                <br />
                <BitNumberField Label="Weight" DefaultValue="2500" NumberFormat="{0,0:N0} kg" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" RazorCode="@example5RazorCode" Id="example5">
        <ExamplePreview>
            <div class="example-box">
                <div>Component's Style & Class:</div>
                <br />
                <BitNumberField Label="Styled" DefaultValue="10" Style="background:lightskyblue;border-radius:1rem;padding:0.5rem" />
                <br />
                <BitNumberField Label="Classed" DefaultValue="20" Class="custom-class" />
                <br /><br /><br />
                <div><b>Styles</b> & <b>Classes</b>:</div>
                <br />
                <BitNumberField Label="Styles" DefaultValue="1" IconName="@BitIconName.Microphone"
                                     Styles="@(new() { Root = "background-color: pink;",
                                                       Icon = "color: red;",
                                                       Label = "color: blue; font-weight: 900; font-size: 1.25rem;",
                                                       Input = "padding: 0.5rem; background-color: goldenrod" })" />
                <br />
                <BitNumberField Label="Classes" DefaultValue="2"
                                     Classes="@(new() { Input = "custom-input",
                                                        Focused = "custom-focus",
                                                        Label = "custom-label",
                                                        InputWrapper = "custom-input-wrapper" })" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Binding" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitNumberField Label="One-way" Value="oneWayValue" />
                    <BitRating @bind-Value="oneWayValue" />
                </div>
                <br />
                <div>
                    <BitNumberField Label="Two-way" @bind-Value="twoWayValue" />
                    <BitRating @bind-Value="twoWayValue" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Events" RazorCode="@example7RazorCode" CsharpCode="@example7CsharpCode" Id="example7">
        <ExamplePreview>
            <div class="example-box">
                <BitNumberField Label="OnIncrement & OnDecrement" ShowButtons="true"
                                     OnIncrement="(double v) => onIncrementCounter++"
                                     OnDecrement="(double v) => onDecrementCounter++" />
                <BitLabel>OnIncrement Counter: @onIncrementCounter</BitLabel>
                <BitLabel>OnDecrement Counter: @onDecrementCounter</BitLabel>
                <br />
                <BitNumberField Label="OnChange" OnChange="(double v) => onChangeCounter++" />
                <BitLabel>OnChange Counter: @onChangeCounter</BitLabel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Validation" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
        <ExamplePreview>
            <div class="example-box">
                @if (string.IsNullOrEmpty(SuccessMessage))
                {
                    <EditForm Model="@validationModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                        <DataAnnotationsValidator />

                        <BitNumberField Label="Age" @bind-Value="@validationModel.AgeInYears" />
                        <ValidationMessage For="@(() => validationModel.AgeInYears)" />
                        <br />
                        <BitButton ButtonType="BitButtonType.Submit">Submit</BitButton>
                    </EditForm>
                }
                else
                {
                    <BitMessage Severity="BitSeverity.Success">@SuccessMessage</BitMessage>
                }
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Prefix & Suffix" RazorCode="@example9RazorCode" Id="example9">
        <ExamplePreview>
            <div class="example-box">
                <BitNumberField TValue="int" Label="Prefix" Prefix="Distance:" />
                <br />
                <BitNumberField TValue="int" Label="Suffix" Suffix="km" />
                <br />
                <BitNumberField TValue="int" Label="Prefix and Suffix" Prefix="Distance:" Suffix="km" />
                <br />
                <BitNumberField TValue="int" Label="Step & Buttons" Prefix="Distance:" Suffix="km" Step="1" ShowButtons="true" />
                <br />
                <BitNumberField TValue="int" Label="Disabled" Prefix="Distance:" Suffix="km" IsEnabled="false" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>