<ComponentExampleBox Title="Basic" HtmlCode="@example1HtmlCode" CsharpCode="@example1CsharpCode" Id="example1">
    <ExamplePreview>
        <BitChoiceGroup Label="Basic Items" Items="basicItems" DefaultValue="basicItems[1].Value" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Disabled" HtmlCode="@example2HtmlCode" CsharpCode="@example2CsharpCode" Id="example2">
    <ExamplePreview>
        <div class="example-content">
            <BitChoiceGroup Label="Disabled ChoiceGroup"
                            IsEnabled="false"
                            Items="basicItems"
                            DefaultValue="@("A")" />

            <BitChoiceGroup Label="ChoiceGroup with Disabled Item"
                            Items="disabledItems"
                            DefaultValue="@("A")" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Images and Icons" HtmlCode="@example3HtmlCode" CsharpCode="@example3CsharpCode" Id="example3">
    <ExamplePreview>
        <div class="example-content">
            <BitChoiceGroup Label="Image Items" Items="imageItems" DefaultValue="@("Bar")" />
            <BitChoiceGroup Label="Icon Items" Items="iconItems" DefaultValue="@("Day")" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Style & Class" HtmlCode="@example4HtmlCode" CsharpCode="@example4CsharpCode" Id="example4">
    <ExamplePreview>
        <div>Component's Style & Class:</div>
        <br />
        <div class="example-content">
            <BitChoiceGroup Label="Styled ChoiceGroup"
                            Items="basicItems"
                            DefaultValue="basicItems[1].Value"
                            Style="width:200px;height:200px;background-color:#888;padding:1rem;border-radius:1rem;" />

            <BitChoiceGroup Label="Classed ChoiceGroup"
                            Items="basicItems"
                            DefaultValue="basicItems[1].Value"
                            Class="custom-class" />
        </div>
        <br /><br /><br /><br />
        <div>Item's Style & Class:</div>
        <br />
        <div class="example-content">
            <BitChoiceGroup Items="itemStyleClassItems"
                            DefaultValue="itemStyleClassItems[1].Value" />
        </div>
        <br /><br /><br /><br />
        <div><b>Styles</b> & <b>Classes</b>:</div>
        <br />
        <div class="example-content">
            <BitChoiceGroup Label="Styles"
                            Items="basicItems"
                            DefaultValue="basicItems[1].Value"
                            Styles="@(new() { Label = "color:tomato",
                                              ItemIcon = "color:red" ,
                                              ItemText = "color:yellowgreen;font-size:12px;font-weight:bold" })" />

            <BitChoiceGroup Label="Classes"
                            Items="basicItems"
                            DefaultValue="basicItems[1].Value"
                            Classes="@(new() { Label = "custom-label" , ItemText = "custom-text" })" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="LabelTemplate" HtmlCode="@example5HtmlCode" CsharpCode="@example5CsharpCode" Id="example5">
    <ExamplePreview>
        <BitChoiceGroup Items="basicItems" DefaultValue="@("A")">
            <LabelTemplate>
                <div class="custom-label">
                    Custom label <BitIcon IconName="@BitIconName.Filter" />
                </div>
            </LabelTemplate>
        </BitChoiceGroup>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Item Templates" HtmlCode="@example6HtmlCode" CsharpCode="@example6CsharpCode" Id="example6">
    <ExamplePreview>
        <div class="example-content">
            <BitChoiceGroup Label="ItemLabelTemplate" Items="itemTemplateItems" @bind-Value="itemLabelTemplateValue">
                <ItemLabelTemplate Context="item">
                    <div style="margin-left:30px;height:20px" class="custom-container @(itemLabelTemplateValue == item.Value ? "selected" : string.Empty)">
                        <BitIcon IconName="@item.IconName" />
                        <span>@item.Text</span>
                    </div>
                </ItemLabelTemplate>
            </BitChoiceGroup>

            <BitChoiceGroup Label="ItemTemplate" Items="itemTemplateItems" @bind-Value="itemTemplateValue">
                <ItemTemplate Context="item">
                    <div class="custom-container @(itemTemplateValue == item.Value ? "selected" : string.Empty)">
                        <div class="custom-circle"></div>
                        <span>@item.Text</span>
                    </div>
                </ItemTemplate>
            </BitChoiceGroup>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Binding" HtmlCode="@example7HtmlCode" CsharpCode="@example7CsharpCode" Id="example7">
    <ExamplePreview>
        <div class="example-content">
            <div>
                <BitChoiceGroup Label="One-way" Items="basicItems" Value="@oneWayValue" />
                <div class="output">
                    <BitTextField @bind-Value="oneWayValue" />
                </div>
            </div>

            <div>
                <BitChoiceGroup Label="Two-way" Items="basicItems" @bind-Value="twoWayValue" />
                <div class="output">
                    <BitTextField @bind-Value="twoWayValue" />
                </div>
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Horizontal" HtmlCode="@example8HtmlCode" CsharpCode="@example8CsharpCode" Id="example8">
    <ExamplePreview>
        <div class="example-content column">
            <BitChoiceGroup Label="Basic" Items="basicItems" DefaultValue="@("A")" LayoutFlow="BitLayoutFlow.Horizontal" />
            <BitChoiceGroup Label="Disabled" Items="basicItems" IsEnabled="false" DefaultValue="@("A")" LayoutFlow="BitLayoutFlow.Horizontal" />
            <BitChoiceGroup Label="Image" Items="imageItems" DefaultValue="@("Bar")" LayoutFlow="BitLayoutFlow.Horizontal" />
            <BitChoiceGroup Label="Icon" Items="iconItems" DefaultValue="@("Day")" LayoutFlow="BitLayoutFlow.Horizontal" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="RTL" HtmlCode="@example9HtmlCode" CsharpCode="@example9CsharpCode" Id="example9">
    <ExamplePreview>
        <div class="example-content column">
            <BitChoiceGroup Label="Basic" Items="rtlItems" DefaultValue="@("A")" IsRtl="true" />
            <BitChoiceGroup Label="Disabled" Items="rtlItems" IsEnabled="false" DefaultValue="@("A")" IsRtl="true" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Validation" HtmlCode="@example10HtmlCode" CsharpCode="@example10CsharpCode" Id="example10">
    <ExamplePreview>
        @if (string.IsNullOrEmpty(successMessage))
        {
            <EditForm Model="@validationModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                <DataAnnotationsValidator />
                <div>
                    <BitChoiceGroup Items="basicItems" @bind-Value="validationModel.Value" />
                    <ValidationMessage For="@(() => validationModel.Value)" />
                </div>
                <BitButton Style="margin-top: 10px;" ButtonType="BitButtonType.Submit">Submit</BitButton>
            </EditForm>
        }
        else
        {
            <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">@successMessage</BitMessageBar>
        }
        <br />
        <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick="() => { validationModel = new(); successMessage=string.Empty; }">Reset</BitButton>
    </ExamplePreview>
</ComponentExampleBox>
