@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <input id="@UniqueId"
           type="radio"
           checked=@IsChecked
           name="@Name"
           value="@Value"
           hidden
           required="@(IsRequired is true)"
           @onclick="@HandleClick"
           @onchange="@HandleChange" />

    <label for="@UniqueId">
        @if (ImageSrc.HasValue() || IconName.HasValue)
        {
            @if (ImageSrc.HasValue())
            {
                <div class="bit-cho-img-wrpr">
                    <div class="@(IsChecked?"bit-cho-fluent-img-wrpr-is-hidden":string.Empty)">
                        <div style="@imageSizeStyle">
                            <img src="@ImageSrc" alt="@ImageAlt">
                        </div>
                    </div>
                    <div class="@(!IsChecked?"bit-cho-fluent-img-wrpr-is-hidden":string.Empty)">
                        <div style="@imageSizeStyle">
                            <img src="@SelectedImageSrc" alt="@ImageAlt">
                        </div>
                    </div>
                </div>
            }

            @if (IconName.HasValue)
            {
                <div class="bit-cho-icn-wrpr">
                    <div>
                        <i aria-hidden="true" class="bit-icon bit-icon--@IconName.GetName()"></i>
                    </div>
                </div>
            }

            <div class="bit-cho-lbl-wrpr">
                <span>@Text</span>
            </div>
        }
        else
        {
            <span>
                @Text
            </span>
        }
    </label>
</div>