@inherits AppComponentBase;

<div class="card-container">
    <div class="card">
        <div class="card-num @(IsLoading ? "no-border" : null)">
            @if (IsLoading)
            {
                <BitSpinner Size="BitElementSize.Large"></BitSpinner>
            }
            else
            {
                @Data.Last30DaysProductCount
            }
        </div>
        <div class="card-title">@Localizer[nameof(AppStrings.Last30DaysProductCount)]</div>
    </div>
    <div class="card">
        <div class="card-num @(IsLoading ? "no-border" : null)">
            @if (IsLoading)
            {
                <BitSpinner Size="BitElementSize.Large"></BitSpinner>
            }
            else
            {
                @Data.TotalProducts
            }
        </div>
        <div class="card-title">@Localizer[nameof(AppStrings.TotalProducts)]</div>
    </div>
    <div class="card">
        <div class="card-num @(IsLoading ? "no-border" : null)">
            @if (IsLoading)
            {
                <BitSpinner Size="BitElementSize.Large"></BitSpinner>
            }
            else
            {
                @Data.TotalCategories
            }
        </div>
        <div class="card-title">@Localizer[nameof(AppStrings.Last30DaysCategoryCount)]</div>
    </div>
    <div class="card">
        <div class="card-num @(IsLoading ? "no-border" : null)">
            @if (IsLoading)
            {
                <BitSpinner Size="BitElementSize.Large"></BitSpinner>
            }
            else
            {
                @Data.TotalCategories
            }
        </div>
        <div class="card-title">@Localizer[nameof(AppStrings.TotalCategories)]</div>
    </div>
</div>