<footer class="footer">
    <section class="footer-section">
        <div class="footer-col">
            <div class="bit-logo"></div>
            <div class="footer-desc">A platform that enables freelancers to Code in a clean project template and Build & Deploy with 1-click.</div>
        </div>
        <div class="grid-container">
            <div class="footer-col">
                <div class="col-title">Products & Services</div>
                <a class="footer-link" href="@Urls.TodoTemplate">TodoTemplate</a>
                <a class="footer-link" href="@Urls.AdminPanel">AdminPanel</a>
                <a class="footer-link" href="@Urls.Components">BlazorUI</a>
                @*<a class="footer-link" href="@Urls.CloudHostingSolutins">Cloud hostring solutions</a>*@
                @*<a class="footer-link" href="@Urls.Academy">Bit academy</a>*@

            </div>
            <div class="footer-col">
                <div class="col-title">Community</div>
                <a class="footer-link" target="_blank" href="@Urls.AboutUs">About</a>
                <a class="footer-link" target="_blank" href="@Urls.GithubRepo">Github repo</a>
                <a class="footer-link" target="_blank" href="@Urls.GithubOrg">Github org</a>
                <a class="footer-link" target="_blank" href="@Urls.GithubIssues">Issues</a>
                <a class="footer-link" target="_blank" href="@Urls.ContactUs">Contact us</a>
            </div>

            <div class="footer-col">
                <div class="col-title">Media</div>
                <a class="footer-link" href="#">Blogs</a>
                <a class="footer-link" href="#">Videos</a>
            </div>
        </div>
    </section>

    <section class="footer-section">
        <div class="copy-right-txt">Copyright © 2022 Bit Platform | All Rights Reserved </div>
        <div class="social-link-group">
            <a class="social-link twitter-link" target="_blank" href="@Urls.Twitter"></a>
            <a class="social-link github-link" target="_blank" href="@Urls.Github"></a>
            <a class="social-link youtube-link" target="_blank" href="@Urls.YouTube"></a>
            <a class="social-link linkedin-link" target="_blank" href="@Urls.Linkedin"></a>
        </div>
    </section>
</footer>