<footer class="footer">
    <section class="footer-section">
        <div class="footer-col">
            <div class="bit-logo"></div>
            <div class="footer-desc">A platform that enables freelancers to Code in a clean project template and Build & Deploy with 1-click.</div>
        </div>
        <div class="grid-container">
            <div class="footer-col">
                <div class="col-title">Products</div>
                <a class="footer-link" target="_blank" href="@Urls.Templates">Templates</a>
                <a class="footer-link" target="_blank" href="@Urls.Components">Components</a>

            </div>
            <div class="footer-col">
                <div class="col-title">Quick links</div>
                <a class="footer-link" target="_blank" href="@Urls.GithubRepo">Github Repo</a>
                <a class="footer-link" target="_blank" href="@Urls.GithubOrg">Github Org</a>
                <a class="footer-link" target="_blank" href="@Urls.GithubIssues">Issues</a>
            </div>
        </div>
    </section>

    <section class="footer-section">
        <div class="copy-right-txt">Copyright © 2022 Bit Platform | All Rights Reserved </div>
        <div class="social-link-group">
            <a class="social-link twitter-link" target="_blank" href="@Urls.Twitter"></a>
            <a class="social-link github-link" target="_blank" href="@Urls.Github"></a>
            <a class="social-link youtube-link" target="_blank" href="@Urls.YouTube"></a>
            <a class="social-link linkedin-link" target="_blank" href="@Urls.Linkedin"></a>
        </div>
    </section>
</footer>