<header class="main-header @((CurrentUrl.Contains("todo-template") is false && CurrentUrl.Contains("admin-panel") is false) ? "main-header--full-page" : null)">
    <div class="header-main-container">
        <div class="header-content-container">
            @if (CurrentUrl.Contains("todo-template") || CurrentUrl.Contains("admin-panel"))
            {
                <BitIconButton Class="header-menu-btn" IconName=BitIconName.CollapseMenu OnClick=@ToggleMenu AriaLabel="Header menu button" />
            }
            <a class="header-logo" href="@Urls.HomePage" aria-label="Home page" />
            <a class="header-link @(CurrentUrl == Urls.HomePage ? "header-link--active" : null)" href="@Urls.HomePage">Home</a>
            <div class="header-link @(IsProductsServicesActive() ? "header-link--active" : null)">Products & Services</div>
            <a class="header-link @(CurrentUrl == Urls.Pricing ? "header-link--active" : null)" href="@Urls.Pricing">Pricing</a>
            <a class="header-link @(CurrentUrl == Urls.Blogs ? "header-link--active" : null)" href="@Urls.Blogs">Blogs</a>
            <a class="header-link @(CurrentUrl == Urls.Videos ? "header-link--active" : null)" href="@Urls.Videos">Videos</a>
            <a class="header-link @(CurrentUrl == Urls.AboutUs ? "header-link--active" : null)" href="@Urls.AboutUs">About us</a>
            <a class="header-link @(CurrentUrl == Urls.ContactUs ? "header-link--active" : null)" href="@Urls.ContactUs">Contact us</a>
        </div>
        <a class="github-btn" aria-label="Github repository" href="@Urls.GithubRepo" />
    </div>

    <div class="header-second-row">
        <BitActionButton Class="header-action-button"
                         IconName="BitIconName.ChevronDown"
                         OnClick=@ToggleHeaderMenu>@GetActiveRouteName()</BitActionButton>
    </div>
</header>

@if (IsHeaderMenuOpen)
{
    <nav class="header-nav">
        <BitIconButton Class="header-nav-close-btn"
                   IconName=BitIconName.Cancel
                   OnClick=@ToggleHeaderMenu />
        <a class="header-nav-link @(CurrentUrl == Urls.HomePage ? "header-nav-link--active" : null)" href="@Urls.HomePage">Home</a>
        <div class="header-nav-link @(IsProductsServicesActive() ? "header-nav-link--active" : null)">Products & Services</div>
        <a class="header-nav-link @(CurrentUrl == Urls.Pricing ? "header-nav-link--active" : null)" href="@Urls.Pricing">Pricing</a>
        <a class="header-nav-link @(CurrentUrl == Urls.Blogs ? "header-nav-link--active" : null)" href="@Urls.Blogs">Blogs</a>
        <a class="header-nav-link @(CurrentUrl == Urls.Videos ? "header-nav-link--active" : null)" href="@Urls.Videos">Videos</a>
        <a class="header-nav-link @(CurrentUrl == Urls.AboutUs ? "header-nav-link--active" : null)" href="@Urls.AboutUs">About us</a>
        <a class="header-nav-link @(CurrentUrl == Urls.ContactUs ? "header-nav-link--active" : null)" href="@Urls.ContactUs">Contact us</a>
    </nav>
}