<header class="header">
    <div class="header-content-container">
        <div class="header-content">
            @if (CurrentUrl != "/")
            {
                <BitIconButton Class="header-menu-btn" IconName=BitIconName.CollapseMenu OnClick=@ToggleMenu AriaLabel="Header menu button" />
            }
            <a class="header-logo" href="/"></a>
            <BitLink Href="@Urls.HomePage" Class="@GetHeaderLinkClass("Home")">Home</BitLink>
            <BitLink Href="@Urls.Templates" Class="@GetHeaderLinkClass("Templates")">Templates</BitLink>
            <BitLink Href="@Urls.Components" Target="_blank" Class="@GetHeaderLinkClass("")">Components</BitLink>
        </div>
        <div class="header-content">
            <a href="https://github.com/bitfoundation/bitplatform" target="_blank" class="header-github-link"></a>
        </div>
    </div>
</header>