@page "/components/panel"

<PageOutlet Url="components/Panel"
            Title="Panel"
            Description="Panel component of the bit blazorui components" />

<ComponentDemo ComponentName="Panel"
               ComponentDescription="Panels are overlays that contain supplementary content and are used for complex creation, edit, or management experiences.  For example, viewing details about an item in a list or editing settings."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic BitPanel" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div>
                <BitButton OnClick=@(() => IsOpen = true)>Open Panel</BitButton>
                <BitPanel Title="Sample panel" @bind-IsOpen="IsOpen">
                    Content goes here.
                </BitPanel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Advanced options" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">BitPanel has some advanced options to be customized .</div>
            <div class="btn-container">
                <BitButton OnClick=@(() => IsOpen1 = true)>Open Panel (IsBlocking = true)</BitButton>
                <BitButton OnClick=@(() => IsOpen2 = true)>Open Panel (IsModeless = true)</BitButton>
                <BitButton OnClick=@(() => IsOpen3 = true)>Open Panel (AutoToggleScroll = false)</BitButton>
            </div>
            <div>
                <BitPanel Title="IsBlocking = true" @bind-IsOpen="IsOpen1" IsBlocking="true">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                        Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                        Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                        efficitur.
                    </p>
                </BitPanel>
                <BitPanel Title="IsModeless = true" @bind-IsOpen="IsOpen2" IsModeless="true">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                        Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                        Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                        efficitur.
                    </p>
                </BitPanel>
                <BitPanel Title="AutoToggleScroll = false" @bind-IsOpen="IsOpen3" AutoToggleScroll="false">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                        amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                        sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                        turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                        ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                        Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                        Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                        efficitur.
                    </p>
                </BitPanel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
    
    <ComponentExampleBox Title="Custom header" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <div>
                <BitButton OnClick=@(() => IsOpen4 = true)>Open Panel</BitButton>
                <BitPanel @bind-IsOpen="IsOpen4">
                    <HeaderTemplate>
                        <div>
                            <BitSearchBox Placeholder="Search here..." />
                            <p>
                                BitPanel with custom header content
                            </p>
                        </div>
                    </HeaderTemplate>
                    <ChildContent>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                            sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                            turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                            ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                            Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                            Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                            efficitur.
                        </p>
                    </ChildContent>
                </BitPanel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitPanel position and size" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">To set the Panel position on the page you can use the Position parameter.</div>
            <div>
                <div class="position-btn">
                    <BitSpinButton @bind-Value="CustomPanelSize" Label="Custom size" />
                    <div>
                        <BitButton OnClick="() => OpenPanelInPosition(BitPanelPosition.Left)">Left</BitButton>
                        <BitButton OnClick="() => OpenPanelInPosition(BitPanelPosition.Right)">Right</BitButton>
                    </div>
                    <div>
                        <BitButton OnClick="() => OpenPanelInPosition(BitPanelPosition.Top)">Top</BitButton>
                        <BitButton OnClick="() => OpenPanelInPosition(BitPanelPosition.Bottom)">Bottom</BitButton>
                    </div>
                </div>
                <BitPanel @bind-PanelSize="CustomPanelSize" Title="Panel types" @bind-IsOpen="IsOpenInPosition" Position="position">
                    <p>
                        BitPanel with custom position and size. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>

                    <BitSpinButton @bind-Value="CustomPanelSize" Label="Custom size" />
                </BitPanel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Custom footer" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div>
                <BitButton OnClick=@(() => IsOpen5 = true)>Open Panel</BitButton>
                <BitPanel Title="BitPanel with custom footer content" @bind-IsOpen="IsOpen5">
                    <ChildContent>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                            amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                            sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                            turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                            ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                            Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                            Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                            efficitur.
                        </p>
                    </ChildContent>
                    <FooterTemplate>
                        <BitButton OnClick=@(() => IsOpen5 = false)>Save</BitButton>
                        <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick=@(() => IsOpen5 = false)>Close</BitButton>
                    </FooterTemplate>
                </BitPanel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>

@code {
    private bool IsOpen = false;
    private bool IsOpen1 = false;
    private bool IsOpen2 = false;
    private bool IsOpen3 = false;
    private bool IsOpen4 = false;
    private bool IsOpen5 = false;
    private bool IsOpenInPosition = false;

    private double CustomPanelSize = 320;

    private BitPanelPosition position;

    private void OpenPanelInPosition(BitPanelPosition positionValue)
    {
        IsOpenInPosition = true;
        position = positionValue;
    }
}