@using Bit.BlazorUI;
@using Bit.Websites.Platform.Shared.Infra
@using Microsoft.AspNetCore.Components.Web
@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode

@namespace Bit.Websites.Platform.Web.Pages
@inject IHttpContextAccessor ContextAccessor
@inject IConfiguration Configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    var gtmId = @Configuration.GetSection("GoogleTagManager")["Id"];
    var isBlazorServer = BlazorModeDetector.Current.IsBlazorServer();
    var isStatic = WebAppDeploymentTypeDetector.Current.IsStatic();
    var isSsr = WebAppDeploymentTypeDetector.Current.IsSsr();
    
    RenderMode renderMode = isBlazorServer ? RenderMode.ServerPrerendered : RenderMode.WebAssemblyPrerendered;

    if (renderMode is RenderMode.ServerPrerendered or RenderMode.WebAssemblyPrerendered)
    {
        var shouldRenderStaticMode = ContextAccessor?.HttpContext?.Request.ShouldRenderStaticMode();

        if (shouldRenderStaticMode is not null && shouldRenderStaticMode.Value)
        {
            renderMode = RenderMode.Static;
            isStatic = true;
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="bit is a platform for .NET developers to easily Code, Build & Deploy their projects across multiple platforms." />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" asp-append-version=true>
    <component type="typeof(HeadOutlet)" render-mode="@renderMode" />
    <link rel="apple-touch-icon" sizes="512x512" href="images/icons/bit-icon-512.png" />
    <style>
        * {
            box-sizing: border-box;
            font-family: "Segoe UI";
            -webkit-font-smoothing: antialiased;
            -webkit-tap-highlight-color: transparent;
        }

        html, body, #app-container {
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
        }

        a {
            text-decoration: none;
        }

    </style>
    <link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.css" asp-append-version=true />
    <link rel="stylesheet" href="_content/Bit.BlazorUI.Icons/styles/bit.blazorui.icons.css" asp-append-version=true />
    <link rel="stylesheet" href="_content/Bit.BlazorUI.Assets/styles/bit.blazorui.assets.css" asp-append-version=true />
    <link href="Bit.Websites.Platform.Web.styles.css" rel="stylesheet" asp-append-version=true />
</head>
<body class="@BitCss.Class.Color.Background.Primary @BitCss.Class.Color.Foreground.Primary">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@gtmId"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '@gtmId');
    </script>
    <!-- Google tag -->

    <div id="app-container">
        @RenderBody()
    </div>

    @if (isStatic is false)
    {
        @if (isBlazorServer)
        {
            <script src="_framework/blazor.server.js" asp-append-version=true></script>
        }
        else
        {
            <script src="_framework/blazor.webassembly.js" autostart="false" asp-append-version=true></script>
            <script src="_content/Bit.Bup/bit-bup.progress.js" asp-append-version=true></script>
            <script src="_content/Bit.Bup/bit-bup.js" asp-append-version=true></script>

            @if (isSsr)
            {
                <component type="typeof(BupProgressBar)" render-mode="@RenderMode.WebAssemblyPrerendered" />
            }
            else
            {
                <link rel="stylesheet" href="_content/Bit.Bup/bit-bup.progress.css" asp-append-version=true>
                <component type="typeof(Bit.Bup.BupProgress)" render-mode="@RenderMode.Static"
                           param-AutoHide="true"
                           param-HideApp="true"
                           param-AppContainer="@("#app-container")" />
            }
        }
        <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.js" asp-append-version=true></script>
    }
    <script src="scripts/app.js" asp-append-version=true></script>

    @if (isSsr)
    {
        <persist-component-state />
    }

    <!-- TrustBox script -->
    <!-- <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script> -->
    <!-- End TrustBox script -->
</body>
</html>