@page "/components/radio-button-list"

<ComponentDemo ComponentName="RadioButtonList"
               ComponentDescription="RadiobuttonList let people select a single option from two or more choices."
               ComponentParameters="componentParameters">

    <ComponentExampleBox Title="BitRadioButtonList" CSharpSourceCode="@example1CSharpCode" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a RadioButtonList you can use a BitRadioButtonList component</div>
            <div>Chosen gender: @(ChosenGenderExample1 == 0 ? "no selection yet" : ChosenGenderExample1.ToString())</div>
            <BitRadioButtonList @bind-Value="@ChosenGenderExample1"
                                TextField="@nameof(GenderModel.GenderText)"
                                ValueField="@nameof(GenderModel.GenderId)"
                                Items="GenderOptionsExample1" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled" CSharpSourceCode="@example2CSharpCode" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">BitRadioButtonList in disabled mode.</div>
            <BitRadioButtonList @bind-Value="@ChosenGenderExample2"
                                TextField="@nameof(GenderModel.GenderText)"
                                ValueField="@nameof(GenderModel.GenderId)"
                                Items="GenderOptionsExample2"
                                IsEnabled="false" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitRadioButtonList with images" CSharpSourceCode="@example3CSharpCode" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">BitRadioButtonList with icon use the Field parameter approach to binding with model</div>
            <BitRadioButtonList @bind-Value="@ChosenGenderExample3"
                                TextField="@nameof(GenderModel.GenderText)"
                                ValueField="@nameof(GenderModel.GenderId)"
                                Items="GenderOptionsExample3"
                                ImageSrcField="@nameof(GenderModel.ImageName)"
                                ImageAltField="alt for image"
                                SelectedImageSrcField="@nameof(GenderModel.ImageName)"
                                ImageSize="new System.Drawing.Size( width: 32, height: 32)" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitRadioButtonList with icons" CSharpSourceCode="@example4CSharpCode" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">BitRadioButtonList with icon use the Selector parameter approach to binding with model</div>
            <BitRadioButtonList @bind-Value="@ChosenGenderExample4"
                                Items="GenderOptionsExample4"
                                TextSelector="item => item.GenderText"
                                ValueSelector="item => item.GenderId"
                                IconNameSelector="item => (BitIconName)item.IconName" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitRadioButtonList validation" CSharpSourceCode="@example5CSharpCode" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            @if (string.IsNullOrEmpty(SuccessMessage))
            {
                <EditForm Model="FormValidationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                    <DataAnnotationsValidator />

                    <div class="validation-summary">
                        <ValidationSummary />
                    </div>

                    <div>
                        <BitRadioButtonList @bind-Value="@FormValidationModel.GenderId"
                                        TextField="@nameof(GenderModel.GenderText)"
                                        ValueField="@nameof(GenderModel.GenderId)"
                                        Items="GenderOptionsExample5" />

                        <ValidationMessage For="@(() => FormValidationModel.GenderId)" />
                    </div>

                    <BitButton ButtonType="BitButtonType.Submit">
                        Submit
                    </BitButton>
                </EditForm>
            }
            else
            {
                <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                    @SuccessMessage
                </BitMessageBar>
            }
        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>