@page "/components/separator"

<PageOutlet Url="components/separator"
            Title="Separator"
            Description="separator component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="Separator"
                   ComponentDescription="A Separator is a component that visually separates content into groups."
                   ComponentParameters="componentParameters"
                   ComponentSubEnums="componentSubEnums">
        <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
            <ExamplePreview>
                <div>
                    <BitLabel>Empty separator</BitLabel>
                    <BitSeparator />
                    <br />
                    <BitLabel>Separator with text</BitLabel>
                    <BitSeparator>Text</BitSeparator>
                    <br />
                    <BitLabel>Separator with icon</BitLabel>
                    <BitSeparator><BitIcon IconName="Clock" /></BitSeparator>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>
        <ComponentExampleBox Title="Vertical" RazorCode="@example2RazorCode" Id="example1">
            <ExamplePreview>
                <div class="custom-horizontal-layout">
                    <span>Item 1</span>
                    <BitSeparator Vertical />
                    <span>Item 2</span>
                    <BitSeparator Vertical />
                    <span>Item 3</span>
                    <BitSeparator Vertical />
                    <span>Item 4</span>
                    <BitSeparator Vertical />
                    <span>Item 5</span>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>
        <ComponentExampleBox Title="AlignContent" RazorCode="@example3RazorCode" Id="example1">
            <ExamplePreview>
                <div style="height: 28rem">
                    <div>
                        <BitLabel>Horizontal separator with text</BitLabel>
                        <BitSeparator AlignContent="@BitSeparatorAlignContent.Center">Center</BitSeparator>
                        <br />
                        <BitSeparator AlignContent="@BitSeparatorAlignContent.Start">Start</BitSeparator>
                        <br />
                        <BitSeparator AlignContent="@BitSeparatorAlignContent.End">End</BitSeparator>
                    </div>
                    <br /><br />
                    <div style="height: 13rem">
                        <BitLabel>Vertical separator with text</BitLabel>
                        <br />
                        <BitSeparator Vertical AlignContent="@BitSeparatorAlignContent.Center">Center</BitSeparator>
                        <BitSeparator Vertical AlignContent="@BitSeparatorAlignContent.Start">Start</BitSeparator>
                        <BitSeparator Vertical AlignContent="@BitSeparatorAlignContent.End">End</BitSeparator>
                    </div>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>
    </ComponentDemo>
</div>