@page "/components/separator"

<PageOutlet Url="components/separator"
            Title="Separator"
            Description="separator component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="Separator"
                   ComponentDescription="A Separator is a component that visually separates content into groups."
                   ComponentParameters="componentParameters"
                   ComponentSubEnums="componentSubEnums">
        <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
            <ExamplePreview>
                <div>
                    <div>Empty separator</div>
                    <BitSeparator />
                    <br />
                    <div>Separator with text</div>
                    <BitSeparator>Text</BitSeparator>
                    <br />
                    <div>Separator with icon</div>
                    <BitSeparator><BitIcon IconName="Clock" /></BitSeparator>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>
        <ComponentExampleBox Title="Vertical" RazorCode="@example2RazorCode" Id="example2">
            <ExamplePreview>
                <div class="custom-horizontal-layout">
                    <span>Item 1</span>
                    <BitSeparator Vertical />
                    <span>Item 2</span>
                    <BitSeparator Vertical />
                    <span>Item 3</span>
                    <BitSeparator Vertical />
                    <span>Item 4</span>
                    <BitSeparator Vertical />
                    <span>Item 5</span>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>
        <ComponentExampleBox Title="AlignContent" RazorCode="@example3RazorCode" Id="example3">
            <ExamplePreview>
                <div style="height: 28rem">
                    <div>
                        <div>Horizontal separator with text</div>
                        <BitSeparator AlignContent="@BitSeparatorAlignContent.Center">Center</BitSeparator>
                        <br />
                        <BitSeparator AlignContent="@BitSeparatorAlignContent.Start">Start</BitSeparator>
                        <br />
                        <BitSeparator AlignContent="@BitSeparatorAlignContent.End">End</BitSeparator>
                    </div>
                    <br /><br />
                    <div style="height: 13rem">
                        <div>Vertical separator with text</div><br />
                        <BitSeparator Vertical AlignContent="@BitSeparatorAlignContent.Center">Center</BitSeparator>
                        <BitSeparator Vertical AlignContent="@BitSeparatorAlignContent.Start">Start</BitSeparator>
                        <BitSeparator Vertical AlignContent="@BitSeparatorAlignContent.End">End</BitSeparator>
                    </div>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>
        <ComponentExampleBox Title="FullWidth" RazorCode="@example4RazorCode" Id="example4">
            <ExamplePreview>
                <div>While using inside a flex container with align-items css style:</div>
                <br /><br />
                <div style="display:flex;flex-direction:column;align-items:center">
                    <BitSeparator>Normal</BitSeparator>
                    <br />
                    <BitSeparator FullWidth>FullWidth</BitSeparator>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>
    </ComponentDemo>
</div>