@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="@RootElement"
     @attributes="@HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div class="bit-file-upload-wrapper">
        @if (LabelFragment is not null)
        {
            <label class="bit-file-upload-lbl" for="@InputId">
                @LabelFragment
            </label>
        }
        else if (Label.HasValue())
        {
            <label class="bit-file-upload-lbl" for="@InputId">
                <i class="bit-icon bit-icon--CloudUpload"></i>
                @Label
            </label>
        }

        <input @ref="@inputFileElement"
               class="file-input"
               id="@InputId"
               type="file"
               disabled="@(IsEnabled is false)"
               aria-labelledby="@(Label.HasValue() ? Label : null)"
               multiple="@IsMultiSelect"
               accept="@(string.Join(",",AllowedExtensions))"
               @onchange="@(() => HandleOnChange())" />
    </div>

    @if (Files is not null)
    {
        <ul class="bit-file-list">
            @for (int i = 0; i < Files.Count; i++)
            {
                var index = i;
                var file = Files[index];
                if (file.UploadStatus != BitUploadStatus.Removed)
                {
                    <li class="bit-file-item @GetFileElClass(file.UploadStatus)">
                        <div class="file-info-container">
                            <div title="@file.Name" class="file-name-container">
                                @if (string.IsNullOrWhiteSpace(GetFileIcon(file.Name.ToLower())) is false)
                                {
                                    <i class="bit-file-format bit-icon bit-icon--@GetFileIcon(file.Name.ToLower())"></i>
                                }
                                <div class="file-name">@file.Name</div>
                            </div>
                            <div class="file-size-container">
                                <span class="file-siz">@($"{GetFileUploadSize(file)}/{file.Size.Humanize()}")</span>
                                <span class="upload-percent">@GetFileUploadPercent(file)%</span>
                            </div>
                            @if (file.UploadStatus == BitUploadStatus.InProgress || file.UploadStatus == BitUploadStatus.Paused)
                            {
                                <div class="progress-bar-container">
                                    <div class="progress-bar" role="progressbar" style="width:@GetFileUploadPercent(file)%;" aria-valuemin="0" aria-valuemax="100" aria-valuenow="@GetFileUploadPercent(file)"></div>
                                </div>
                            }
                            else
                            {
                                <div class="upload-status">@GetUploadMessageStr(file)</div>
                            }
                        </div>
                        @if (file.UploadStatus == BitUploadStatus.Pending || file.UploadStatus == BitUploadStatus.Paused)
                        {
                            <div class="upload-status-icon" @onclick="@(() =>Upload(index))">
                                <i title="upload" class="bit-icon bit-icon--Play" aria-hidden="true"></i>
                            </div>
                        }

                        @if (file.UploadStatus == BitUploadStatus.InProgress)
                        {
                            <div class="upload-status-icon" @onclick="@(() =>RequestToPause(index))">
                                <i title="pause" class="bit-icon bit-icon--Pause" aria-hidden="true"></i>
                            </div>
                        }

                        @if (file.UploadStatus == BitUploadStatus.InProgress || file.UploadStatus == BitUploadStatus.Paused)
                        {
                            <div class="upload-status-icon" @onclick="@(() =>RequestToCancel(index))">
                                <i title="cancel" class="bit-icon bit-icon--Cancel" aria-hidden="true"></i>
                            </div>
                        }
                        else
                        {
                            <div class="upload-status-icon" @onclick="@(() =>RemoveFile(index))">
                                <i title="remove" class="bit-icon bit-icon--Delete" aria-hidden="true"></i>
                            </div>
                        }
                    </li>
                }
            }
        </ul>
    }
</div>