@attribute [Route(Urls.OfflineEditProfilePage)]
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.EditProfileTitle)]</PageTitle>

<div class="page-container">
    <div class="content-container profile-panel">
        @if (string.IsNullOrEmpty(editProfileMessage) is false)
        {
            <BitMessage Class="form-message-bar"
                        Severity="editProfileMessageSeverity"
                        OnDismiss="() => editProfileMessage = null">
                @editProfileMessage
            </BitMessage>
        }

        <h1 class="page-title">
            @Localizer[nameof(AppStrings.EditProfileTitle)]
        </h1>

        @if (isLoading)
        {
            <div class="loading-container">
                <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
            </div>
        }
        else
        {
            <EditForm Model="userToEdit" OnValidSubmit="WrapHandled(DoSave)" class="edit-profile-form">
                <AppDataAnnotationsValidator />

                <div class="form-input-container">
                    <BitTextField @bind-Value="userToEdit.FullName"
                                  Label="@Localizer[nameof(AppStrings.FullName)]"
                                  Placeholder="@Localizer[nameof(AppStrings.FullName)]" />
                    <ValidationMessage For="@(() => userToEdit.FullName)" />
                </div>

                <div class="form-input-container">
                    <BitDatePicker IsResponsive @bind-Value="userToEdit.BirthDate"
                                   Class="edit-profile-dtp"
                                   Label="@Localizer[nameof(AppStrings.BirthDate)]"
                                   GoToTodayTitle="@Localizer[nameof(AppStrings.GoToToday)]"
                                   Placeholder="@Localizer[nameof(AppStrings.SelectBirthDate)]" />
                    <ValidationMessage For="@(() => userToEdit.BirthDate)" />
                </div>

                <div class="form-choice-container">
                    <BitChoiceGroup @bind-Value="userToEdit.GenderAsString"
                                    TItem="BitChoiceGroupOption<string?>" TValue="string"
                                    LayoutFlow="BitLayoutFlow.Horizontal"
                                    Label="@Localizer[nameof(AppStrings.Gender)]">
                        <BitChoiceGroupOption Value="@Gender.Male.ToString()"
                                              Text="@Localizer[nameof(AppStrings.GenderMale)]"
                                              AriaLabel="@Localizer[nameof(AppStrings.GenderMale)]" />
                        <BitChoiceGroupOption Value="@Gender.Female.ToString()"
                                              Text="@Localizer[nameof(AppStrings.GenderFemale)]"
                                              AriaLabel="@Localizer[nameof(AppStrings.GenderFemale)]" />
                        <BitChoiceGroupOption Value="@Gender.Other.ToString()"
                                              Text="@Localizer[nameof(AppStrings.GenderOther)]"
                                              AriaLabel="@Localizer[nameof(AppStrings.GenderOther)]" />
                    </BitChoiceGroup>
                </div>

                <BitButton IsLoading="isSaving"
                           ButtonType="BitButtonType.Submit"
                           ButtonStyle="BitButtonStyle.Primary"
                           Title="@Localizer[nameof(AppStrings.Save)]"
                           AriaLabel="@Localizer[nameof(AppStrings.Save)]">
                    @Localizer[nameof(AppStrings.Save)]
                </BitButton>
            </EditForm>

        }
    </div>
</div>
