@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue())
{
    @if (IsEnabled)
    {
        if (Href.StartsWith("#"))
        {
            <a @ref="RootElement" @attributes="HtmlAttributes" @onclick="ScrollIntoView" @onclick:preventDefault
               id="@_Id"
               style="@StyleBuilder.Value"
               class="@ClassBuilder.Value"
               dir="@Dir?.ToString().ToLower()">
                @ChildContent
            </a>
        }
        else
        {
            <a @ref="RootElement" @attributes="HtmlAttributes"
               id="@_Id"
               style="@StyleBuilder.Value"
               class="@ClassBuilder.Value"
               dir="@Dir?.ToString().ToLower()"
               href="@Href"
               target="@Target">
                @ChildContent
            </a>
        }
    }
    else
    {
        <a @ref="RootElement" @attributes="HtmlAttributes"
           id="@_Id"
           style="@StyleBuilder.Value"
           class="@ClassBuilder.Value"
           dir="@Dir?.ToString().ToLower()">
            @ChildContent
        </a>
    }
}
else
{
    <button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleClick"
            id="@_Id"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            dir="@Dir?.ToString().ToLower()"
            type="button"
            disabled="@(IsEnabled is false)"
            aria-disabled="@(IsEnabled is false)">
        @ChildContent
    </button>
}