@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue())
{
    @if (IsEnabled)
    {
        if (Href.StartsWith("#"))
        {
            <a @ref="RootElement"
               @attributes="HtmlAttributes"
               style="@StyleBuilder.Value"
               class="@ClassBuilder.Value"
               @onclick="ScrollIntoView"
               @onclick:preventDefault>
                @ChildContent
            </a>
        }
        else
        {
            <a @ref="RootElement"
               @attributes="HtmlAttributes"
               style="@StyleBuilder.Value"
               class="@ClassBuilder.Value"
               href="@Href"
               target="@Target">
                @ChildContent
            </a>
        }
    }
    else
    {
        <a @ref="RootElement"
           @attributes="HtmlAttributes"
           style="@StyleBuilder.Value"
           class="@ClassBuilder.Value">
            @ChildContent
        </a>
    }
}
else
{
    <button @ref="RootElement"
            @attributes="HtmlAttributes"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            type="button"
            aria-disabled="@(IsEnabled is false)"
            disabled="@(IsEnabled is false)"
            @onclick="HandleClick">
        @ChildContent
    </button>
}