@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <CascadingValue Value="this"
                    IsFixed="true">
        <div>
            @foreach (var item in Items)
            {
                <div @onclick="() => ItemClicked(item)"
                     class="@(GetItemClass(item.Value))"
                     style="@(GetItemStyle(item.Value))">
                    @if (item.Value.IconName is not null)
                    {
                        <i class="bit-icon bit-icon--@(item.Value.IconName)"></i>
                    }

                    @item.Value.HeaderText

                    @if (item.Value.ItemCount is not null)
                    {
                        @($"({item.Value.ItemCount})")
                    }

                    @item.Value.HeaderContent
                </div>
            }
        </div>
        <div>
            @ChildContent
        </div>
    </CascadingValue>
</div>