@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">

    @{
        var headerHeight = HeaderHeight + StatusBarHeight;
        var headerHeightStyle = $"{(headerHeight > 0 ? $"height:{headerHeight}px;" : "")}";
        var headerPaddingStyle = $"{(StatusBarHeight > 0 ? $"padding-top:{StatusBarHeight}px;" : "")}";
        var headerStyles = $"{headerHeightStyle}{headerPaddingStyle}{Styles?.Header}";
        var headerClasses = $"bit-lyt-hdr{(FixedHeader ? " bit-lyt-fhd" : "")} {Classes?.Header}";

        var mainPaddingTopStyle = $"{(FixedHeader && headerHeight > 0 ? $"padding-top:{headerHeight}px;" : "")}";
        var mainPaddingBottomStyle = $"{(FixedFooter && FooterHeight > 0 ? $"padding-bottom:{FooterHeight}px;" : "")}";
        var mainStyles = $"{mainPaddingTopStyle}{mainPaddingBottomStyle}{Styles?.Main}";
        var mainClasses = $"bit-lyt-man {Classes?.Main}";

        var footerHeightStyle = $"{(FooterHeight > 0 ? $"height:{FooterHeight}px;" : "")}";
        var footerStyles = $"{footerHeightStyle}{Styles?.Footer}";
        var footerClasses = $"bit-lyt-ftr{(FixedFooter ? " bit-lyt-fft" : "")} {Classes?.Footer}";
    }
    <CascadingValue Value="Dir">
        @if (Header is not null)
        {
            <header class="@headerClasses" style="@headerStyles">
                @Header
            </header>
        }

        <main class="@mainClasses" style="@mainStyles">
            @if (NavMenu is not null && HideNavMenu is false)
            {
                <div style="@Styles?.NavMenu" class="bit-lyt-nmn @Classes?.NavMenu">
                    @NavMenu
                </div>
            }

            <div style="@Styles?.MainContent" class="bit-lyt-mcn @Classes?.MainContent">
                @Main
            </div>
        </main>

        @if (Footer is not null)
        {
            <footer class="@footerClasses" style="@footerStyles">
                @Footer
            </footer>
        }
    </CascadingValue>
</div>
