@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@using Microsoft.AspNetCore.Components.Web
@using Bit.Websites.Sales.Shared.Infra

@namespace Bit.Websites.Sales.Web.Pages

@inject IHttpContextAccessor ContextAccessor

@{
    var isBlazorServer = BlazorModeDetector.Current.IsBlazorServer();
    var isDefaultDeploymentType = WebAppDeploymentTypeDetector.Current.IsDefault();
    var isStatic = WebAppDeploymentTypeDetector.Current.IsStatic();
    var isSsr = WebAppDeploymentTypeDetector.Current.IsSsr();
    var shoudAddAspAppendVersion = true;
    RenderMode renderMode = isStatic
                            ? RenderMode.Static
                            : isBlazorServer
                            ? isDefaultDeploymentType
                            ? RenderMode.Server
                            : RenderMode.ServerPrerendered
                            : isDefaultDeploymentType
                            ? RenderMode.WebAssembly
                            : RenderMode.WebAssemblyPrerendered;

    if (renderMode is RenderMode.ServerPrerendered or RenderMode.WebAssemblyPrerendered)
    {
        var shouldRenderStaticMode = ContextAccessor?.HttpContext?.Request.ShouldRenderStaticMode();

        if (shouldRenderStaticMode is not null && shouldRenderStaticMode.Value)
        {
            renderMode = RenderMode.Static;
        }
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" asp-append-version="@shoudAddAspAppendVersion">
    <link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.min.css" asp-append-version="@shoudAddAspAppendVersion" />
    <link rel="stylesheet" href="_content/Blazored.Toast/blazored-toast.min.css" asp-append-version="@shoudAddAspAppendVersion" />
    <link href="styles/app.min.css" rel="stylesheet" asp-append-version="@shoudAddAspAppendVersion" />
    <link href="Bit.Websites.Sales.Web.styles.css" rel="stylesheet" asp-append-version="@shoudAddAspAppendVersion" />
    <component type="typeof(HeadOutlet)" render-mode="@renderMode" />
    <link rel="apple-touch-icon" sizes="512x512" href="images/icons/bit-icon-512.png" />
</head>
<body>

    <div id="app-container">
        <div class="lds-wrapper">
            <div class="lds-grid"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        @RenderBody()
    </div>

    @if (!isStatic)
    {
        @if (isBlazorServer)
        {
            <script src="_framework/blazor.server.js" asp-append-version="@shoudAddAspAppendVersion"></script>
        }
        else
        {
            <script src="_framework/blazor.webassembly.js" asp-append-version="@shoudAddAspAppendVersion"></script>   
        }

        <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>
    }
    <script src="https://unpkg.com/embla-carousel/embla-carousel.umd.js"></script>
    <script src="scripts/app.es5.min.js" asp-append-version="@shoudAddAspAppendVersion"></script>

    @if (isSsr)
    {
        <persist-component-state />
    }
</body>
</html>