@page "/components/color-picker"

<ComponentDemo ComponentName="ColorPicker"
               ComponentDescription="The color picker (ColorPicker) is used to browse through and select colors. By default, it lets people navigate through colors on a color spectrum, or specify a color in either Red-Green-Blue (RGB), or alpha color code; or Hexadecimal textboxes."
               ComponentParameters="componentParameters">

    <ComponentExampleBox Title="BitColorPicker (Hex)" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitColorPicker ShowPreview="@IsToggleChecked" @ref="ColorPicker" @bind-Color="@Color" ShowAlphaSlider="false" />
                </div>
                <div class="operators">
                    <BitToggle Label="Show Preview Box" @bind-Value="@IsToggleChecked" IsEnabled="true" />
                    <BitTextField Label="Hex Code" Value="@Color" />
                    <BitTextField Label="RGB" Value="@(ColorPicker?.Rgb ?? "rgb(255,255,255)")" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitColorPicker (RGB)" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitColorPicker ShowPreview="true" @bind-Alpha="@Alpha" @bind-Color="@ColorRgb" />
                </div>
                <div class="operators">
                    <BitTextField Label="RGB" Value="@ColorRgb" />
                    <BitTextField Label="Alpha" Value="@(Alpha.ToString())" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>