@page "/components/searchbox"
@page "/components/search-box"

<PageOutlet Url="components/searchbox"
            Title="SearchBox"
            Description="searchbox component of the bit BlazorUI components" />

<ComponentDemo ComponentName="SearchBox"
               ComponentDescription="A search box (SearchBox) provides an input field for searching content within a site or app to find specific items."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses">
    <ComponentExampleBox Title="Basic" RazorCode="@example1HtmlCode" Id="example1">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Basic</BitLabel>
                    <BitSearchBox Placeholder="Search" />
                </div>
                <br />
                <div>
                    <BitLabel>Disabled</BitLabel>
                    <BitSearchBox Placeholder="Search" IsEnabled="false" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="IsUnderlined" RazorCode="@example2HtmlCode" Id="example2">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Basic Underlined SearchBox</BitLabel>
                    <BitSearchBox Placeholder="Search" IsUnderlined="true" />
                </div>
                <br />
                <div>
                    <BitLabel>Disabled Underlined SearchBox</BitLabel>
                    <BitSearchBox Placeholder="Search" IsUnderlined="true" IsEnabled="false" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Icon" RazorCode="@example3HtmlCode" Id="example3">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>SearchBox with fixed icon</BitLabel>
                    <BitSearchBox Placeholder="Search" FixedIcon="true" />
                </div>
                <br />
                <div>
                    <BitLabel>SearchBox without icon animation</BitLabel>
                    <BitSearchBox Placeholder="Search" DisableAnimation="true" />
                </div>
                <br />
                <div>
                    <BitLabel>SearchBox with custom icon</BitLabel>
                    <BitSearchBox Placeholder="Search" IconName="@BitIconName.Filter" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" RazorCode="@example4HtmlCode" Id="example4">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Component's Style & Class:</BitLabel>
                    <BitSearchBox Placeholder="Search" Style="background-color: lightskyblue; border-radius: 1rem; margin: 1rem 0" />
                    <BitSearchBox Placeholder="Search" Class="custom-class" />
                </div>
                <br />
                <div>
                    <BitLabel>Styles & Classes:</BitLabel>
                    <BitSearchBox Placeholder="Search"
                                  Styles="@(new() {SearchIcon = "color: darkorange;",
                                                   Input = "padding: 0.5rem; background-color: goldenrod"})" />
                    <br />
                    <BitSearchBox Placeholder="Search" DefaultValue="This is default value"
                                  Classes="@(new() {ClearButtonIcon = "custom-clear",
                                                    SearchIconContainer = "custom-search"})" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Visibility" RazorCode="@example5HtmlCode" Id="example5">
        <ExamplePreview>
            <div class="example-box">
                <div class="visibility-items">Visible: [ <BitSearchBox Visibility="BitVisibility.Visible" Placeholder="Visible SearchBox" /> ]</div>
                <div class="visibility-items">Hidden: [ <BitSearchBox Visibility="BitVisibility.Hidden" Placeholder="Hidden SearchBox" />  ]</div>
                <div class="visibility-items">Collapsed: [ <BitSearchBox Visibility="BitVisibility.Collapsed" Placeholder="Collapsed SearchBox" />  ]</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Controlled" RazorCode="@example6HtmlCode" CsharpCode="@example6CsharpCode" Id="example6">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Two-way Bind</BitLabel>
                    <BitSearchBox Placeholder="Search" @bind-Value="TwoWaySearchValue" />
                    <BitTextField Placeholder="Search Value" Style="margin-top: 5px;" @bind-Value="TwoWaySearchValue" />
                </div>
                <br />
                <div>
                    <BitLabel>OnChange</BitLabel>
                    <BitSearchBox Placeholder="Search" OnChange="(s) => OnChangeSearchValue = s" OnClear="() => OnChangeSearchValue = string.Empty" />
                    <BitLabel>Search Value: @OnChangeSearchValue</BitLabel>
                </div>
                <br />
                <div>
                    <BitLabel>OnSearch (Search by Enter)</BitLabel>
                    <BitSearchBox Placeholder="Search" OnSearch="(s) => OnSearchValue = s" OnClear="() => OnSearchValue = string.Empty" />
                    <BitLabel>Search Value: @OnSearchValue</BitLabel>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Validation" RazorCode="@example7HtmlCode" CsharpCode="@example7CsharpCode" Id="example7">
        <ExamplePreview>
            <div class="example-box">
                <EditForm Model="ValidationSearchBoxModel">
                    <DataAnnotationsValidator />
                    <BitSearchBox Placeholder="Search" DefaultValue="This is default value" @bind-Value="ValidationSearchBoxModel.Text" />
                    <ValidationMessage For="() => ValidationSearchBoxModel.Text" />
                </EditForm>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>

@code {
    private string TwoWaySearchValue;
    private string OnChangeSearchValue;
    private string OnSearchValue;

    private readonly ValidationSearchBoxModel ValidationSearchBoxModel = new();
}