@using AdminPanel.Shared.Infra
@using Microsoft.AspNetCore.Components.Web
@using RenderMode = Microsoft.AspNetCore.Mvc.Rendering.RenderMode

@namespace AdminPanel.Client.Web.Pages
@inject IHttpContextAccessor ContextAccessor
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var isElectron = BlazorModeDetector.Current.IsBlazorElectron();
    var isBlazorServer = BlazorModeDetector.Current.IsBlazorServer();
    var isSpa = WebAppDeploymentTypeDetector.Current.IsSpa();
    var isPwa = WebAppDeploymentTypeDetector.Current.IsPwa();
    var isSpaPrerendered = WebAppDeploymentTypeDetector.Current.IsSpaPrerendered();
    var isPwaPrerendered = WebAppDeploymentTypeDetector.Current.IsPwaPrerendered();
    var isPrerenderedOnly = WebAppDeploymentTypeDetector.Current.IsPrerenderedOnly();

    var useAspAppendVersion = !isPwa && !isPwaPrerendered;
    var request = ContextAccessor?.HttpContext?.Request;
    var noPrerender = (request?.Query["no-prerender"].Count ?? 0) > 0;

    RenderMode renderMode = RenderMode.Static;
    if (isPrerenderedOnly is false)
    {
        if (isBlazorServer)
        {
            renderMode = isSpa || isPwa || noPrerender ? RenderMode.Server : RenderMode.ServerPrerendered;
        }
        else
        {
            renderMode = isSpa || isPwa || noPrerender ? RenderMode.WebAssembly : RenderMode.WebAssemblyPrerendered;
        }
    }

    if (renderMode is RenderMode.ServerPrerendered or RenderMode.WebAssemblyPrerendered)
    {
        if (request?.ShouldRenderStaticMode() is true)
        {
            renderMode = RenderMode.Static;
            isPrerenderedOnly = true;
        }
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The AdminPanel is built with ASP.NET Core, Identity, Web API, and EF Core for the server-side, and Blazor for the client-side. It allows you to build Android, iOS, Windows, Linux and Web applications from a single codebase." />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" asp-append-version="@useAspAppendVersion">
    <component type="typeof(HeadOutlet)" render-mode="@renderMode" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
    <!-- iOS/iPadOS Splash Screens -->
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="images/splash_screens/iPhone_14_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="images/splash_screens/iPhone_14_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="images/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="images/splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="images/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="images/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="images/splash_screens/iPhone_11__iPhone_XR_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)" href="images/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="images/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="images/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="images/splash_screens/12.9__iPad_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="images/splash_screens/11__iPad_Pro__10.5__iPad_Pro_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="images/splash_screens/10.9__iPad_Air_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="images/splash_screens/10.5__iPad_Air_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="images/splash_screens/10.2__iPad_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="images/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)" href="images/splash_screens/8.3__iPad_Mini_landscape.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="images/splash_screens/iPhone_14_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="images/splash_screens/iPhone_14_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="images/splash_screens/iPhone_14_Plus__iPhone_13_Pro_Max__iPhone_12_Pro_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="images/splash_screens/iPhone_14__iPhone_13_Pro__iPhone_13__iPhone_12_Pro__iPhone_12_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="images/splash_screens/iPhone_13_mini__iPhone_12_mini__iPhone_11_Pro__iPhone_XS__iPhone_X_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="images/splash_screens/iPhone_11_Pro_Max__iPhone_XS_Max_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="images/splash_screens/iPhone_11__iPhone_XR_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="images/splash_screens/iPhone_8_Plus__iPhone_7_Plus__iPhone_6s_Plus__iPhone_6_Plus_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="images/splash_screens/iPhone_8__iPhone_7__iPhone_6s__iPhone_6__4.7__iPhone_SE_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="images/splash_screens/4__iPhone_SE__iPod_touch_5th_generation_and_later_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="images/splash_screens/12.9__iPad_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="images/splash_screens/11__iPad_Pro__10.5__iPad_Pro_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="images/splash_screens/10.9__iPad_Air_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="images/splash_screens/10.5__iPad_Air_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="images/splash_screens/10.2__iPad_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="images/splash_screens/9.7__iPad_Pro__7.9__iPad_mini__9.7__iPad_Air__9.7__iPad_portrait.png">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 744px) and (device-height: 1133px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="images/splash_screens/8.3__iPad_Mini_portrait.png">
    <link rel="apple-touch-icon" sizes="512x512" href="images/icons/bit-icon-512.png" />
    @if (isPwa || isPwaPrerendered)
    {
        <link rel="manifest" href="manifest.json">
    }
    @if (isElectron)
    {
        <style>
            * {
                -webkit-user-drag: none;
                overscroll-behavior: none;
            }

                *:not(input) {
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }
        </style>
    }
</head>
<body>
    <div id="app-container">
        @if (isSpa || isPwa || noPrerender)
        {
            <component type="typeof(AdminPanel.Client.Core.LoadingComponent)" param-Color="@("#000")" render-mode="@RenderMode.Static" />
        }
        <link rel="stylesheet" href="_content/Bit.BlazorUI/styles/bit.blazorui.min.css" asp-append-version="@useAspAppendVersion" />
        <link rel="stylesheet" href="_content/AdminPanel.Client.Core/styles/app.min.css" asp-append-version="@useAspAppendVersion" />
        <link rel="stylesheet" href="_content/AdminPanel.Client.Core/AdminPanel.Client.Core.bundle.scp.css" asp-append-version="@useAspAppendVersion" />
        @RenderBody()
        <link rel="stylesheet" href="_content/Bit.BlazorUI.Extras/styles/bit.blazorui.extras.min.css" asp-append-version="@useAspAppendVersion" />
    </div>

    @if (isPrerenderedOnly is false)
    {
        @if (isBlazorServer)
        {
            <script src="_framework/blazor.server.js" asp-append-version="@useAspAppendVersion"></script>
        }
        else
        {
            @if (isPwa || isPwaPrerendered)
            {
                <script src="_framework/blazor.webassembly.js" autostart=false></script>
                <script src="_content/Bit.Bswup/bit-bswup.js" log="none"></script>
                <script src="_content/Bit.Bswup/bit-bswup.progress.min.js" asp-append-version="@useAspAppendVersion"></script>

                @if (isPwaPrerendered)
                {
                    <component type="typeof(AppBswupProgressBar)" render-mode="@RenderMode.Static" />
                }
                else
                {
                    <link href="_content/Bit.Bswup/bit-bswup.progress.min.css" rel="stylesheet" asp-append-version="@useAspAppendVersion">
                    <component type="typeof(Bit.Bswup.BswupProgress)"
                               param-AutoReload="true"
                               param-HideApp="true"
                               param-AppContainer="@("#app-container")"
                               render-mode="@RenderMode.Static" />
                }
            }
            else if (isSpa || isSpaPrerendered)
            {
                <script src="_framework/blazor.webassembly.js" autostart="false" asp-append-version="@useAspAppendVersion"></script>
                <script src="_content/Bit.Bup/bit-bup.progress.min.js" asp-append-version="@useAspAppendVersion"></script>
                <script src="_content/Bit.Bup/bit-bup.min.js" asp-append-version="@useAspAppendVersion"></script>

                @if (isSpaPrerendered)
                {
                    <component type="typeof(AppBupProgressBar)" render-mode="@RenderMode.WebAssemblyPrerendered" />
                }
                else
                {
                    <link href="_content/Bit.Bup/bit-bup.progress.min.css" rel="stylesheet" asp-append-version="@useAspAppendVersion">
                    <component type="typeof(Bit.Bup.BupProgress)" render-mode="@RenderMode.Static"
                               param-AutoHide="true"
                               param-HideApp="true"
                               param-AppContainer="@("#app-container")" />
                }
            }
        }

        <script src="_content/Bit.BlazorUI/scripts/bit.blazorui.min.js" asp-append-version="@useAspAppendVersion"></script>
        <script src="_content/Bit.BlazorUI.Extras/scripts/bit.blazorui.extras.min.js" asp-append-version="@useAspAppendVersion"></script>
    }

    <script src="_content/AdminPanel.Client.Core/scripts/app.js" asp-append-version="@useAspAppendVersion"></script>

    @if ((isSpaPrerendered || isPwaPrerendered) && !noPrerender)
    {
        <persist-component-state />
    }
</body>
</html>