@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="@HtmlAttributes"
     class="@ClassBuilder.Value"
     style="@StyleBuilder.Value">

    @foreach (var item in _items)
    {
        <div class="bit-snb-itm @GetItemClasses(item)">
            <div class="bit-snb-hdr">
                <button class="bit-snb-cbt" @onclick="() => Dismiss(item)">
                    <i class="bit-icon bit-icon--@(DismissIconName.GetName())" />
                </button>

                @if (TitleTemplate is not null)
                {
                    @TitleTemplate(item.Title)
                }
                else if (item.Title.HasValue())
                {
                    <label class="bit-snb-ttl" title="@item.Title">
                        @item.Title
                    </label>
                }
            </div>

            @if (BodyTemplate is not null)
            {
                @BodyTemplate(item.Body ?? string.Empty)
            }
            else if (item.Body.HasValue())
            {
                <span class="bit-snb-bdy">
                    @item.Body
                </span>
            }

            @if (AutoDismiss)
            {
                <span class="bit-snb-pbr" style="animation-duration: @($"{AutoDismissTime.TotalSeconds}s");"></span>
            }
        </div>
    }
</div>