@namespace Bit.BlazorUI
@inherits BitComponentBase
@typeparam TItem

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">
    @foreach (var item in _currentItems)
    {
        @if (ItemTemplate is not null)
        {
            @ItemTemplate(item)
        }
    }

    <div @ref="_lastElementRef" 
        style="@(_isLoading ? "height:0;width:0" : $"height:{(LastElementHeight is null ? "1px" : LastElementHeight)};width:100%")">
    </div>

    @if (_isLoading)
    {
        @LoadingTemplate
    }
</div>
