@page "/components/action-button"

<ComponentDemo ComponentName="Action Button" ComponentDescription="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs.
    Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="BitActionButton" ExampleSourceCodeForCopy="@actionButtonSampleCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">BitActionButton component is a button that acts as a link.</div>
            <div>
                <BitActionButton IconName="BitIcon.AddFriend">Create account</BitActionButton>
                <BitActionButton AllowDisabledFocus="false" IsEnabled="false" IconName="BitIcon.UserRemove">Remove user</BitActionButton>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &ltdiv>BitActionButton component is a button that acts as a link.&lt/div>
            &ltBitActionButton IconName="BitIcon.AddFriend">Create account&lt/BitActionButton>
            &ltBitActionButton AllowDisabledFocus="false" IsEnabled="false" IconName="BitIcon.UserRemove">Remove user&lt/BitActionButton>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" ExampleSourceCodeForCopy="@styleAndClassSampleCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">BitActionButton can directly get css class or inline style.</div>
            <div>
                <BitActionButton IconName="BitIcon.ThisPC" Style="font-family:'Axiforma';font-size:16px;border:2px solid #32385B;justify-content: center;width: 232px;">
                    Styled Action Button
                </BitActionButton>
                <BitActionButton IconName="BitIcon.ThisPC" Class="custom-action-button">
                    Classed Action Button
                </BitActionButton>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &ltdiv>BitActionButton can directly get css class or inline style.&lt/div>
            &ltBitActionButton IconName="BitIcon.ThisPC" Style="font-family:'Axiforma';font-size:16px;border:2px solid #32385B;justify-content: center;width: 232px;">
                    Styled Action Button
            &lt/BitActionButton>
            &ltBitActionButton IconName="BitIcon.ThisPC" Class="custom-action-button">
                    Classed Action Button
            &lt/BitActionButton>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Visibility" ExampleSourceCodeForCopy="@visibilitySampleCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">By setting Visibility attribute, BitActionButton can be Visible, Hidden or Collapsed.</div>
            <div class="sample-btn">
                <BitActionButton IconName="BitIcon.AddEvent" Visibility="BitComponentVisibility.Visible">Add Event</BitActionButton>
                <div><span>Hidden Button: </span>[<BitActionButton Visibility="BitComponentVisibility.Hidden">Hidden Action Button</BitActionButton>]</div>
                <div><span>Collapsed Button: </span>[<BitActionButton Visibility="BitComponentVisibility.Collapsed">Collapsed Action Button</BitActionButton>]</div>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &ltdiv>By setting Visibility attribute, BitActionButton can be Visible, Hidden or Collapsed.&lt/div>
            &ltBitActionButton IconName="BitIcon.AddEvent" Visibility="BitComponentVisibility.Visible">Add Event&lt/BitActionButton>
            &ltdiv>Hidden Button: [&ltBitActionButton Visibility="BitComponentVisibility.Hidden">Hidden Action Button&lt/BitActionButton>]&lt/div>
            &ltdiv>Collapsed Button: [&ltBitActionButton Visibility="BitComponentVisibility.Collapsed">Collapsed Action Button&lt/BitActionButton>]&lt/div>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Arias for Screen Reader" ExampleSourceCodeForCopy="@ariasSampleCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">Aria attribues can also set for a BitActionButton.</div>
            <div>
                <BitActionButton IconName="BitIcon.Library" AriaDescription="Detailed description used for screen reader.">
                    Action Button with Aria Description
                </BitActionButton>
                <BitActionButton IconName="BitIcon.Library" AriaHidden="true">
                    Action Button with Aria Hidden
                </BitActionButton>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &ltdiv>Aria attribues can also set for a BitActionButton.&lt/div>
            &ltBitActionButton IconName="BitIcon.Library" AriaDescription="Detailed description used for screen reader.">
                    Action Button with Aria Description
            &lt/BitActionButton>
            &ltBitActionButton IconName="BitIcon.Library" AriaHidden="true">
                    Action Button with Aria Hidden
            &lt/BitActionButton>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="ActionButton-like Anchor" ExampleSourceCodeForCopy="@actionButtonLikeAnchorSampleCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">BitActionButton can act as a link by setting Href and Target attribute, you define how to open your link.</div>
            <div>
                <BitActionButton IconName="BitIcon.Website" Target="_blank" Href="https://github.com/bitfoundation/bitframework">
                    Open Bit Foundation In New Tab
                </BitActionButton>
                <BitActionButton IconName="BitIcon.Website" Href="https://github.com/bitfoundation/bitframework" ButtonStyle="BitButtonStyle.Standard">
                    Go To Bit Foundation
                </BitActionButton>
                <BitActionButton IconName="BitIcon.Website" Target="_self" Href="https://github.com/bitfoundation/bitframework" IsEnabled="false">
                    <span>Bit Foundation From Span</span>
                </BitActionButton>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &ltdiv>BitActionButton can act as a link by setting Href and Target attribute, you define how to open your link.&lt/div>
            &ltBitActionButton IconName="BitIcon.Website" Target="_blank" Href="https://github.com/bitfoundation/bitframework">
                    Open Bit Foundation In New Tab
            &lt/BitActionButton>
            &ltBitActionButton IconName="BitIcon.Website" Href="https://github.com/bitfoundation/bitframework" ButtonStyle="BitButtonStyle.Standard">
                    Go To Bit Foundation
            &lt/BitActionButton>
            &ltBitActionButton IconName="BitIcon.Website" Target="_self" Href="https://github.com/bitfoundation/bitframework" IsEnabled="false">
                    &ltspan>Bit Foundation From Span&lt/span>
            &lt/BitActionButton>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>
</ComponentDemo>