@page "/components/actionbutton"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Action Button" OverviewDesc="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs.
    Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters">
    <CodeSample Title="BitActionButton" Description="BitActionButton component is a button that acts as a link." CodeSampleContentForCopy="@actionButtonSampleCode">
        <SampleContent>
            <div class="act-btn-content">
                <BitActionButton IconName="AddFriend">Create account</BitActionButton>
                <BitActionButton AllowDisabledFocus="false" IsEnabled="false" IconName="UserRemove">Remove user</BitActionButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitActionButton IconName=</span>"AddFriend">
                         Create account
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
                &lt<span class="soco-component-attr">BitActionButton IconName=</span>"UserRemove" 
                                                    <span class="soco-component-attr">AllowDisabledFocus=</span><span class="soco-tag-type-def">"false"</span>
                                                    <span class="soco-component-attr">IsEnabled=</span><span class="soco-tag-type-def">"false"></span>
                         Remove user
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Style & Class" Description="BitActionButton can directly get css class or inline style." CodeSampleContentForCopy="@styleAndClassSampleCode">
        <SampleContent>
            <div class="act-btn-content">
                <BitActionButton IconName="ThisPC" Style="font-family:'Axiforma';font-size:16px;border:2px solid #32385B;justify-content: center;width: 222px;">
                    Styled Action Button
                </BitActionButton>
                <BitActionButton IconName="ThisPC" Class="custom-action-button">
                    Classed Action Button
                </BitActionButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitActionButton Style=</span><span>"font-family:'Axiforma';font-size:16px;border:2px solid #32385B;justify-content: center;width: 232px;"</span><span>></span>
                         Styled Action Button
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
                &lt<span class="soco-component-attr">BitActionButton Class=</span><span>"custom-action-button"</span><span>></span>
                         Classed Action Button
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
                &lt<span class="soco-tag-type-def">style></span>
                         <span class="soco-css-style">.custom-action-button</span> {
                               <span class="soco-var-attr">width</span> : 232x;
                               <span class="soco-var-attr">font-family</span> : Axiforma;
                               <span class="soco-var-attr">font-size</span> : 16px;
                               <span class="soco-var-attr">background-color</span> : #D7D7D7;
                               <span class="soco-var-attr">border-color</span> : #D7D7D7;
                               <span class="soco-var-attr">justify-content</span> : center;
                         }
                &lt/<span class="soco-tag-type-def">style</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Visibility" Description="By setting Visibility attribute, BitActionButton can be Visible, Hidden or Collapsed." CodeSampleContentForCopy="@visibilitySampleCode">
        <SampleContent>
            <div class="act-btn-content sample-btn">
                <BitActionButton IconName="AddEvent" Visibility="BitComponentVisibility.Visible">Add Event</BitActionButton>
                <div><span>Hidden Button: </span>[<BitActionButton Visibility="BitComponentVisibility.Hidden">Hidden Action Button</BitActionButton>]</div>
                <div><span>Collapsed Button: </span>[<BitActionButton Visibility="BitComponentVisibility.Collapsed">Collapsed Action Button</BitActionButton>]</div>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitActionButton Visibility=</span>"ComponentVisibility.Visible"
                                                    <span class="soco-component-attr">IconName=</span>"AddEvent">
                         Add Event
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
                &lt<span class="soco-component-attr">BitActionButton Hidden=</span>"ComponentHidden.Hidden<span>"></span>
                         Hidden Action Button
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
                &lt<span class="soco-component-attr">BitActionButton Visibility=</span>"ComponentVisibility.Collapsed<span>"></span>
                         Collapsed Action Button
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Arias for Screen Reader" Description="Aria attribues can also set for a BitActionButton." CodeSampleContentForCopy="@ariasSampleCode">
        <SampleContent>
            <div class="act-btn-content">
                <BitActionButton IconName="Library" AriaDescription="Detailed description used for screen reader.">
                    Action Button with Aria Description
                </BitActionButton>
                <BitActionButton IconName="Library" AriaHidden="true">
                    Action Button with Aria Hidden
                </BitActionButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitActionButton AriaDescription=</span>"Detailed description used for screen reader."
                                                    <span class="soco-component-attr">IconName=</span>"Library">Action Button with Aria Description
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
                &lt<span class="soco-component-attr">BitActionButton AriaHidden=</span><span class="soco-tag-type-def">"true"</span>
                                                    <span class="soco-component-attr">IconName=</span>"Library">Action Button with Aria Hidden
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="ActionButton-like Anchor" Description="BitActionButton can act as a link by setting Href and Target attribute, you define how to open your link." CodeSampleContentForCopy="@actionButtonLikeAnchorSampleCode">
        <SampleContent>
            <div class="act-btn-content">
                <BitActionButton IconName="Website" Target="_blank" Href="https://github.com/bitfoundation/bitframework">
                    Open Bit Foundation In New Tab
                </BitActionButton>
                <BitActionButton IconName="Website" Href="https://github.com/bitfoundation/bitframework" ButtonStyle="ButtonStyle.Standard">
                    Go To Bit Foundation
                </BitActionButton>
                <BitActionButton IconName="Website" Target="_self" Href="https://github.com/bitfoundation/bitframework" IsEnabled="false">
                    <span>Bit Foundation From Span</span>
                </BitActionButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitActionButton</span><span class="soco-component-attr"> IconName=</span>"Website"
                                                    <span class="soco-component-attr">Target=</span><span>"_blank"</span>
                                                    <span class="soco-component-attr">Href=</span><span class="soco-tag-type-def">"https://github.com/bitfoundation/bitframework"</span>>
                         Open Bit Foundation In New Tab
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
                &lt<span class="soco-component-attr">BitActionButton</span><span class="soco-component-attr"> IconName=</span>"Website"
                                                    <span class="soco-component-attr">ButtonStyle=</span>"ButtonStyle.Standard"
                                                    <span class="soco-component-attr">Href=</span><span class="soco-tag-type-def">"https://github.com/bitfoundation/bitframework"</span>>
                         Go To Bit Foundation
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
                &lt<span class="soco-component-attr">BitActionButton IconName=</span><span>"Website"</span>
                                                    <span class="soco-component-attr">Target=</span>"_self"
                                                    <span class="soco-component-attr">IsEnabled=</span><span class="soco-tag-type-def">"false"</span>
                                                    <span class="soco-component-attr">Href=</span><span class="soco-tag-type-def">"https://github.com/bitfoundation/bitframework"</span>>
                         &lt<span class="soco-tag-type-def">span></span>Bit Foundation From Span<span class="soco-tag-type-def">&lt/span></span>
                <span>&lt/</span><span class="soco-component-attr">BitActionButton</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>