@page "/components/icon-button"

<ComponentDemo ComponentName="IconButton" ComponentDescription="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs.
    Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitIconButton" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a icon button you can use a BitIconButton component.</div>
            <div>
                <BitIconButton IconName="BitIconName.Emoji" />
                <BitIconButton IconName="BitIconName.Emoji2" Title="I'm Happy" />
                <BitIconButton IconName="BitIconName.EmojiDisappointed" AllowDisabledFocus="false" IsEnabled="false" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">BitIconButton can directly get css class or inline style.</div>
            <div>
                <BitIconButton IconName="BitIconName.Home" Style="border-radius: 5px;padding: 23px;border: #D7D7D7 solid 2px;" />
                <BitIconButton IconName="BitIconName.FileImage" Class="custom-icon-button" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Visibility" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">By setting Visibility attribute, BitIconButton can be Visible, Hidden or Collapsed.</div>
            <div class="sample-btn">
                <BitIconButton IconName="BitIconName.List" Visibility="BitComponentVisibility.Visible">Visible Button</BitIconButton>
                <div><span>Hidden Button: </span>[<BitIconButton Visibility="BitComponentVisibility.Hidden">Hidden Button</BitIconButton>]</div>
                <div><span>Collapsed Button: </span>[<BitIconButton Visibility="BitComponentVisibility.Collapsed">Collapsed Button</BitIconButton>]</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Arias for Screen Reader" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">Aria attribues can also set for a BitIconButton.</div>
            <div>
                <BitIconButton IconName="BitIconName.Library" AriaDescription="Detailed description used for screen reader.">
                    Button with Aria Description
                </BitIconButton>
                <BitIconButton IconName="BitIconName.Library" AriaHidden="true">
                    Button with Aria Hidden
                </BitIconButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Button-like Anchor" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">BitButton can act as a link by setting Href and Target attributes.</div>
            <div>
                <BitIconButton IconName="BitIconName.Website" Target="_blank" Href="https://github.com/bitfoundation/bitplatform">
                    Open Bit Platform In New Tab
                </BitIconButton>
                <BitIconButton IconName="BitIconName.Website" Href="https://github.com/bitfoundation/bitplatform" ButtonStyle="BitButtonStyle.Standard">
                    Go To Bit Platform
                </BitIconButton>
                <BitIconButton IconName="BitIconName.Website" Target="_self" Href="https://github.com/bitfoundation/bitplatform" IsEnabled="false">
                    <span>Bit Platform From Span</span>
                </BitIconButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>