@page "/components/togglebutton"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Toggle Button" OverviewDesc="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs.
    Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <CodeSample Title="BitToggleButton" Description="BitToggleButton component represents a button as a checkbox and can use in form pages.">
        <SampleContent>
            <div>
                <BitToggleButton @bind-IsChecked="TogglePrimaryButtonChecked"
                                 Class="tgl-btn"
                                 Label="@(TogglePrimaryButtonChecked ? "Primary Mute":"Primary Unmute")"
                                 IconName=@(TogglePrimaryButtonChecked ? "MicOff" : "Microphone")
                                 ButtonStyle="BitButtonStyle.Primary">
                </BitToggleButton>

                <BitToggleButton @bind-IsChecked="ToggleStandardButtonChecked"
                                 Class="tgl-btn"
                                 Label="@(ToggleStandardButtonChecked ? "Standard Mute":"Standard Unmute")"
                                 IconName=@(ToggleStandardButtonChecked ? "MicOff" : "Microphone")
                                 ButtonStyle="BitButtonStyle.Standard">
                </BitToggleButton>

                <BitToggleButton @bind-IsChecked="ToggleDisabledButtonChecked"
                                 Class="tgl-btn"
                                 IsEnabled="false"
                                 Label="@(ToggleDisabledButtonChecked ? "Disabled Mute" : "Disabled Unmute")"
                                 IconName=@(ToggleDisabledButtonChecked ? "MicOff" : "Microphone")>
                </BitToggleButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>&lt<span class="dark-green">BitToggleButton </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked</span>="TogglePrimaryButtonChecked" </p>
                <p><span class="m-l-120"><span class="dark-green">Label</span>="<span class="light-yellow-bg">&#64;(</span>TogglePrimaryButtonChecked ? <span class="dark-orange">"Primary Mute"</span> : <span class="dark-orange">"Primary Unmute"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">IconName</span>="<span class="light-yellow-bg">&#64;(</span>TogglePrimaryButtonChecked ? <span class="dark-orange">"MicOff"</span> : <span class="dark-orange">"Microphone"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">ButtonStyle</span>="ButtonStyle.Primary"></span></p>
                <p><span>&lt/</span><span class="dark-green">BitToggleButton</span><span>&gt;</span></p>
                <p>&lt<span class="dark-green">BitToggleButton </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked</span>="ToggleStandardButtonChecked"</p>
                <p><span class="m-l-120"><span class="dark-green">Label</span>="<span class="light-yellow-bg">&#64;(</span>ToggleStandardButtonChecked ? <span class="dark-orange">"Standard Mute"</span> : <span class="dark-orange">"Standard Unmute"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">IconName</span>="<span class="light-yellow-bg">&#64;(</span>ToggleStandardButtonChecked ? <span class="dark-orange">"MicOff"</span> : <span class="dark-orange">"Microphone"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">ButtonStyle</span>="ButtonStyle.Standard"></span></p>
                <p><span>&lt/</span><span class="dark-green">BitToggleButton</span><span>&gt;</span></p>
                <p>&lt<span class="dark-green">BitToggleButton </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked</span>="ToggleDisabledButtonChecked"</p>
                <p><span class="m-l-120"><span class="dark-green">Label</span>="<span class="light-yellow-bg">&#64;(</span>ToggleDisabledButtonChecked ? <span class="dark-orange">"Disabled Mute"</span> : <span class="dark-orange">"Disabled Unmute"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">IconName</span>="<span class="light-yellow-bg">&#64;(</span>ToggleDisabledButtonChecked ? <span class="dark-orange">"MicOff"</span> : <span class="dark-orange">"Microphone"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">IsEnabled</span>="<span class="light-blue">false</span>"</span></p>
                <p><span>&lt/</span><span class="dark-green">BitToggleButton</span><span>&gt;</span></p>
                <div class="code m-t-10">
                    <span class="light-yellow-bg">&#64;code {</span>
                    <p class="m-l-70"><span class="light-blue">private bool</span> TogglePrimaryButtonChecked = <span class="light-blue">false</span>;</p>
                    <p class="m-l-70"><span class="light-blue">private bool</span> ToggleStandardButtonChecked = <span class="light-blue"> false</span>;</p>
                    <p class="m-l-70"><span class="light-blue">private bool</span> ToggleDisabledButtonChecked = <span class="light-blue">false</span>;</p>
                    <span class="light-yellow-bg">}</span>
                </div>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Toggle Button with OnChange event" Description="">
        <SampleContent>
            <div>
                <BitToggleButton @bind-IsChecked="ToggleButtonForOnChange"
                                 Label="@(ToggleButtonForOnChange ? "Mute" : "Unmute")"
                                 IconName=@(ToggleButtonForOnChange ? "MicOff" : "Microphone")
                                 OnChange="ToggleButtonChanged">
                </BitToggleButton>
                <span class="checkbox-status">Check status is: @OnToggleButtonChanged</span>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>&lt<span class="dark-green">BitToggleButton </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked</span>="ToggleButtonForOnChange"</p>
                <p><span class="m-l-120"><span class="dark-green">Label</span>="<span class="light-yellow-bg">&#64;(</span>ToggleButtonForOnChange ? <span class="dark-orange">"Mute"</span> : <span class="dark-orange">"Unmute"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">IconName</span>="<span class="light-yellow-bg">&#64;(</span>ToggleButtonForOnChange ? <span class="dark-orange">"MicOff"</span> : <span class="dark-orange">"Microphone"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">OnChange</span>="ToggleButtonChanged"&gt;</span></p>
                <p><span>&lt/</span><span class="dark-green">BitToggleButton</span><span>&gt;</span></p>
                <p>
                    &lt<span class="light-blue">span></span><span>Check status is: <span class="light-yellow-bg">&#64;</span>OnToggleButtonChanged</span><span class="light-blue">&lt/span></span>
                </p>
                <div class="code m-t-10">
                    <span class="light-yellow-bg">&#64;code {</span>
                    <p class="m-l-70"><span class="light-blue">private bool</span> ToggleButtonForOnChange = <span class="light-blue">true;</span></p>
                    <p class="m-l-70"><span class="light-blue">private bool</span> OnToggleButtonChanged = <span class="light-blue">true;</span></p>
                    <span class="light-yellow-bg">}</span>
                </div>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Toggle Button with two way binding" Description="">
        <SampleContent>
            <div>
                <input type=checkbox id="BitToggleButtonTwoWayValue" @bind="ToggleButtonTwoWayValue">
                <label class="checkbox-status" for="BitToggleButtonTwoWayValue">Checked Toggle Button</label>
                <div class="m-t-10">
                    <BitToggleButton @bind-IsChecked="ToggleButtonTwoWayValue"
                                     Label="@(ToggleButtonTwoWayValue ? "Mute" : "Unmute")"
                                     IconName=@(ToggleButtonTwoWayValue ? "MicOff" : "Microphone")>
                    </BitToggleButton>
                </div>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>&lt<span class="light-blue">input</span> type=checkbox id="BitTogleButtonTwoWayValue" <span class="light-yellow-bg">&#64;</span><span class="dark-green">bind</span><span>="TogleButtonTwoWayValue"></span></p>
                <p>&lt<span class="light-blue">label</span> for="BitTogleButtonTwoWayValue">Checked Toggle Button<span>&lt/</span><span class="light-blue">label</span><span>&gt;</span></p>
                <p>&lt<span class="dark-green">BitToggleButton </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked</span>="TogleButtonTwoWayValue"</p>
                <p><span class="m-l-120"><span class="dark-green">Label</span>="<span class="light-yellow-bg">&#64;(</span>TogleButtonTwoWayValue ? <span class="dark-orange">"Mute"</span> : <span class="dark-orange">"Unmute"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">IconName</span>="<span class="light-yellow-bg">&#64;(</span>TogleButtonTwoWayValue ? <span class="dark-orange">"MicOff"</span> : <span class="dark-orange">"Microphone"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span>&lt/</span><span class="dark-green">BitToggleButton</span><span>&gt;</span></p>
                <p>
                    &lt<span class="light-blue">span></span><span>Check status is: <span class="light-yellow-bg">&#64;</span>OnToggleButtonChanged</span><span class="light-blue">&lt/span></span>
                </p>
                <div class="code m-t-10">
                    <span class="light-yellow-bg">&#64;code {</span>
                    <p class="m-l-70">
                        <span class="light-blue">private bool</span> ToggleButtonTwoWayValue = <span class="light-blue">true</span>;
                    </p>
                    <span class="light-yellow-bg">}</span>
                </div>
            </div>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Arias for Screen Reader" Description="Aria attribues can also set for a BitToggleButton.">
        <SampleContent>
            <div>
                <BitToggleButton @bind-IsChecked="ToggleButtonChecked"
                                 Label="@(ToggleButtonChecked ? "Aria Description Mute" : "Aria Description Unmute")"
                                 IconName=@(ToggleButtonChecked ? "MicOff" : "Microphone")
                                 AriaDescription="Detailed description used for screen reader">
                </BitToggleButton>
                <BitToggleButton @bind-IsChecked="ToggleButtonChecked"
                                 Class="aria-hidden-tgl-btn"
                                 Label="@(ToggleButtonChecked ? "Aria Hidden Mute" : "Aria Hidden Unmute")"
                                 IconName=@(ToggleButtonChecked ? "MicOff" : "Microphone")
                                 AriaHidden="true">
                </BitToggleButton>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <div>
                <p>&lt<span class="dark-green">BitToggleButton </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked</span>="ToggleButtonChecked"</p>
                <p><span class="m-l-120"><span class="dark-green">Label</span>="<span class="light-yellow-bg">&#64;(</span>ToggleButtonChecked ? <span class="dark-orange">"Aria Description Mute"</span> : <span class="dark-orange">"Aria Description Unmute"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">IconName</span>="<span class="light-yellow-bg">&#64;(</span>ToggleButtonChecked ? <span class="dark-orange">"MicOff"</span> : <span class="dark-orange">"Microphone"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">AriaDescription</span>="Detailed description used for screen reader"&gt;</span></p>
                <p><span>&lt/</span><span class="dark-green">BitToggleButton</span><span>&gt;</span></p>
                <p>&lt<span class="dark-green">BitToggleButton </span><span class="light-yellow-bg">&#64;</span><span class="dark-green">bind-IsChecked</span>="ToggleButtonChecked"</p>
                <p><span class="m-l-120"><span class="dark-green">Label</span>="<span class="light-yellow-bg">&#64;(</span>ToggleButtonChecked ? <span class="dark-orange">"Aria Hidden Mute"</span> : <span class="dark-orange">"Aria Hidden Unmute"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">IconName</span>="<span class="light-yellow-bg">&#64;(</span>ToggleButtonChecked ? <span class="dark-orange">"MicOff"</span> : <span class="dark-orange">"Microphone"</span><span class="light-yellow-bg">)</span>"</span></p>
                <p><span class="m-l-120"><span class="dark-green">AriaHidden</span>="<span class="light-blue">true</span>"&gt;</span></p>
                <p><span>&lt/</span><span class="dark-green">BitToggleButton</span><span>&gt;</span></p>
                <div class="code m-t-10">
                    <span class="light-yellow-bg">&#64;code {</span>
                    <p class="m-l-70"><span class="light-blue">private bool</span> ToggleButtonChecked = <span class="light-blue">false</span>;</p>
                    <span class="light-yellow-bg">}</span>
                </div>
            </div>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>