@page "/components/toggle-button"

<ComponentDemo ComponentName="ToggleButton" ComponentDescription="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs.
    Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitToggleButton" ExampleSourceCodeForCopy="@toggleButtonSampleCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">BitToggleButton component represents a button as a checkbox and can use in form pages.</div>
            <div>
                <BitToggleButton @bind-IsChecked="TogglePrimaryButtonChecked"
                                 Class="tgl-btn"
                                 Label="@(TogglePrimaryButtonChecked ? "Primary Mute":"Primary Unmute")"
                                 IconName=@(TogglePrimaryButtonChecked ? BitIcon.MicOff : BitIcon.Microphone)
                                 ButtonStyle="BitButtonStyle.Primary">
                </BitToggleButton>
                <BitToggleButton @bind-IsChecked="ToggleStandardButtonChecked"
                                 Class="tgl-btn"
                                 Label="@(ToggleStandardButtonChecked ? "Standard Mute":"Standard Unmute")"
                                 IconName=@(ToggleStandardButtonChecked ? BitIcon.MicOff : BitIcon.Microphone)
                                 ButtonStyle="BitButtonStyle.Standard">
                </BitToggleButton>
                <BitToggleButton @bind-IsChecked="ToggleDisabledButtonChecked"
                                 Class="tgl-btn"
                                 IsEnabled="false"
                                 Label="@(ToggleDisabledButtonChecked ? "Disabled Mute" : "Disabled Unmute")"
                                 IconName=@(ToggleDisabledButtonChecked ? BitIcon.MicOff : BitIcon.Microphone)>
                </BitToggleButton>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &ltBitToggleButton &#64;bind-IsChecked="TogglePrimaryButtonChecked"
                             Class="tgl-btn"
                             Label="&#64;(TogglePrimaryButtonChecked ? "Primary Mute":"Primary Unmute")"
                             IconName=&#64;(TogglePrimaryButtonChecked ? BitIcon.MicOff : BitIcon.Microphone)
                             ButtonStyle="BitButtonStyle.Primary">
            &lt/BitToggleButton>
            &ltBitToggleButton &#64;bind-IsChecked="ToggleStandardButtonChecked"
                             Class="tgl-btn"
                             Label="&#64;(ToggleStandardButtonChecked ? "Standard Mute":"Standard Unmute")"
                             IconName=&#64;(ToggleStandardButtonChecked ? BitIcon.MicOff : BitIcon.Microphone)
                             ButtonStyle="BitButtonStyle.Standard">
            &lt/BitToggleButton>
            &ltBitToggleButton &#64;bind-IsChecked="ToggleDisabledButtonChecked"
                             Class="tgl-btn"
                             IsEnabled="false"
                             Label="&#64;(ToggleDisabledButtonChecked ? "Disabled Mute" : "Disabled Unmute")"
                             IconName=&#64;(ToggleDisabledButtonChecked ? BitIcon.MicOff : BitIcon.Microphone)>
            &lt/BitToggleButton>

            &#64;code {
                    private bool TogglePrimaryButtonChecked;
                    private bool ToggleStandardButtonChecked;
                    private bool ToggleDisabledButtonChecked;
            }
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Toggle Button with OnChange event" ExampleSourceCodeForCopy="@onChangeSampleCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">Check status is: @OnToggleButtonChanged</div>
            <div class="m-t-20">
                <BitToggleButton @bind-IsChecked="ToggleButtonForOnChange"
                                 Label="@(ToggleButtonForOnChange ? "Mute" : "Unmute")"
                                 IconName=@(ToggleButtonForOnChange ? BitIcon.MicOff : BitIcon.Microphone)
                                 OnChange="ToggleButtonChanged">
                </BitToggleButton>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &ltBitToggleButton &#64;bind-IsChecked="ToggleButtonForOnChange"
                             Label="&#64;(ToggleButtonForOnChange ? "Mute" : "Unmute")"
                             IconName=&#64;(ToggleButtonForOnChange ? BitIcon.MicOff : BitIcon.Microphone)
                             OnChange="ToggleButtonChanged">
            &lt/BitToggleButton>

            &#64;code {
                    private bool ToggleButtonForOnChange = true;
                    private bool OnToggleButtonChanged = true;
            }
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Toggle Button with two way binding" ExampleSourceCodeForCopy="@twoWayBindingSampleCode" ExampleId="example3">
        <ExamplePreview>
            <div>
                <input type=checkbox id="BitToggleButtonTwoWayValue" @bind="ToggleButtonTwoWayValue">
                <label class="checkbox-status" for="BitToggleButtonTwoWayValue">Checked Toggle Button</label>
                <div class="m-t-10">
                    <BitToggleButton @bind-IsChecked="ToggleButtonTwoWayValue"
                                     Label="@(ToggleButtonTwoWayValue ? "Mute" : "Unmute")"
                                     IconName=@(ToggleButtonTwoWayValue ? BitIcon.MicOff : BitIcon.Microphone)>
                    </BitToggleButton>
                </div>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &ltlabel class="checkbox-status" for="BitToggleButtonTwoWayValue">Checked Toggle Button&lt/label>
            &ltBitToggleButton &#64;bind-IsChecked="ToggleButtonTwoWayValue"
                             Label="&#64;(ToggleButtonTwoWayValue ? "Mute" : "Unmute")"
                             IconName=&#64;(ToggleButtonTwoWayValue ? BitIcon.MicOff : BitIcon.Microphone)>
            &lt/BitToggleButton>

            &#64;code {
                    private bool ToggleButtonTwoWayValue = true;
            }
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Arias for Screen Reader" ExampleSourceCodeForCopy="@ariasSampleCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">Aria attribues can also set for a BitToggleButton.</div>
            <div>
                <BitToggleButton @bind-IsChecked="ToggleButtonChecked"
                                 Label="@(ToggleButtonChecked ? "Aria Description Mute" : "Aria Description Unmute")"
                                 IconName="@(ToggleButtonChecked ? BitIcon.MicOff : BitIcon.Microphone)"
                                 AriaDescription="Detailed description used for screen reader">
                </BitToggleButton>
                <BitToggleButton @bind-IsChecked="ToggleButtonChecked"
                                 Class="aria-hidden-tgl-btn"
                                 Label="@(ToggleButtonChecked ? "Aria Hidden Mute" : "Aria Hidden Unmute")"
                                 IconName="@(ToggleButtonChecked ? BitIcon.MicOff : BitIcon.Microphone)"
                                 AriaHidden="true">
                </BitToggleButton>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &lt/BitToggleButton &#64;bind-IsChecked="ToggleButtonChecked"
                             Label="&#64;(ToggleButtonChecked ? "Aria Description Mute" : "Aria Description Unmute")"
                             IconName="&#64;(ToggleButtonChecked ? BitIcon.MicOff : BitIcon.Microphone)"
                             AriaDescription="Detailed description used for screen reader">
            &lt//BitToggleButton>
            &lt/BitToggleButton &#64;bind-IsChecked="ToggleButtonChecked"
                             Class="aria-hidden-tgl-btn"
                             Label="&#64;(ToggleButtonChecked ? "Aria Hidden Mute" : "Aria Hidden Unmute")"
                             IconName="&#64;(ToggleButtonChecked ? BitIcon.MicOff : BitIcon.Microphone)"
                             AriaHidden="true">
            &lt//BitToggleButton>

            &#64;code {
                    private bool ToggleButtonChecked = false;
            }
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>
</ComponentDemo>