@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <input id="@_id"
           type="radio"
           checked=@IsChecked
           name="@Name"
           value="@Value"
           hidden
           @onclick="@HandleClick"
           @onchange="@HandleChange" />
    <label for="@_id">
        <span>
            @Text
        </span>
    </label>
</div>