@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <input id="@UniqueId"
           type="radio"
           checked=@IsChecked
           name="@Name"
           value="@Value"
           hidden
           @onclick="@HandleClick"
           @onchange="@HandleChange" />

    <label for="@UniqueId">
        @if (ImageSrc.HasValue())
        {
            <div>
                <div class="@(IsChecked?"image-wrapper-is-hidden":string.Empty)">
                    <div style="@imageSizeStyle">
                        <img src="@ImageSrc" alt="@ImageAlt">
                    </div>
                </div>
                <div class="@(!IsChecked?"image-wrapper-is-hidden":string.Empty)">
                    <div style="@imageSizeStyle">
                        <img src="@SelectedImageSrc" alt="@ImageAlt">
                    </div>
                </div>
            </div>
            <div>
                <span>@Text</span>
            </div>
        }
        else
        {
            <span>
                @Text
            </span>
        }
    </label>
</div>