@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     @onclick="HandleClick">
    <span>
        @if (SelectedItem is not null)
        {
            @SelectedItem.Text
        }
        else
        {
            @Placeholder
        }
    </span>
    <span>
        <i class="bit-icon"></i>
    </span>
    @if (isOpen)
    {
        <div>
            @for (int index = 0; index < Items.Count; index++)
            {
                DropDownItem item = Items[index];
                if (item.ItemType == DropDownItemType.Header)
                {
                    <div class="@RootElementClass-head-@VisualClassRegistrar()">
                        @item.Text
                    </div>
                }
                else if (item.ItemType == DropDownItemType.Normal)
                {
                    <button class="@(SelectedItem == item
                                       ?$"{RootElementClass}-slc-{VisualClassRegistrar()}"
                                       :"")"
                            type="button"
                            title="@item.Text"
                            disabled=@item.IsDisabled
                            @onclick="()=>HandleItemSelect(item)">
                        @item.Text
                    </button>
                }
                else if (item.ItemType == DropDownItemType.Divider)
                {
                    <div class="@RootElementClass-div-@VisualClassRegistrar()">
                    </div>
                }
            }
        </div>
    }
</div>