@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     id="@UniqueId.ToString()">
    @if (Label.HasValue())
    {
        <label class="bit-drp-lbl" id="@DropdownLabelId">@Label</label>
    }
    else if (LabelFragment != null)
    {
        <label class="bit-drp-lbl" id="@DropdownLabelId">@LabelFragment</label>
    }

    @if (isOpen)
    {
        <div class="bit-drp-overlay"
             @onclick="CloseCallout"></div>
    }

    <div class="bit-drp-wrapper"
         id="@DropDownId"
         tabindex=@(IsEnabled ? 0 : -1)
         role="combobox"
         data-is-focusable="true"
         aria-expanded=@(isOpen ? "true" : "false")
         aria-labelledby="@GetDropdownAriaLabelledby"
         aria-required="@IsRequired"
         aria-disabled="@(IsEnabled is false)"
         aria-haspopup="listbox"
         aria-controls="@(IsOpen ? $"{DropDownId}-list" : null)"
         title="@Title"
         @onclick="HandleClick">
        <span id="@DropDownOptionId"
              aria-live="polite"
              aria-atomic="true"
              aria-invalid="false">
            @if (text.HasValue())
            {
                @text
            }
            else
            {
                @Placeholder
            }
        </span>
        <span>
            <i class="bit-icon" aria-hidden="true"></i>
        </span>
    </div>
    @if (isOpen)
    {
        <div class="bit-drp-items-wrapper"
             id="@($"{DropDownId}-list")"
             tabindex="0"
             role="listbox"
             aria-labelledby="@DropdownLabelId">
            @foreach ((BitDropDownItem item, Int32 i) in Items.Select((item, i) => (item, i)))
            {
                if (item.ItemType == BitDropDownItemType.Header)
                {
                    <div class="@RootElementClass-head-@VisualClassRegistrar()"
                         id="@($"{DropDownId}{item.Text?.ToLower()}Header")">
                        @item.Text
                    </div>
                }
                else if (item.ItemType == BitDropDownItemType.Normal)
                {
                    @if (IsMultiSelect)
                    {
                        <BitCheckbox Class="@(Items.Any(prop=>prop.IsSelected && prop.Value.Equals(item.Value))
                                           ?$"{RootElementClass}-slc-{VisualClassRegistrar()}"
                                           :"")"
                                     IsChecked="item.IsSelected"
                                     IsEnabled="item.IsEnabled"
                                     OnClick="(e) => HandleItemClick(item)">
                            @item.Text
                        </BitCheckbox>
                    }
                    else
                    {
                        <button class="@(Items.Any(prop=>prop.IsSelected && prop.Value.Equals(item.Value))
                                           ?$"{RootElementClass}-slc-{VisualClassRegistrar()}"
                                           :"")"
                                id="@($"{DropDownId}-list{i}")"
                                type="button"
                                role="option"
                                data-is-focusable="@(item.IsEnabled ? "true" : "false")"
                                disabled=@(!item.IsEnabled)
                                data-index="@i"
                                aria-disabled="@(!item.IsEnabled)"
                                aria-selected="@(item.IsSelected ? "true" : "false")"
                                aria-setsize="@NormalDropDownItems.Count"
                                aria-posinset="@GetItemPosInSet(item)"
                                tabindex="@(item.IsEnabled ? 0 : -1)"
                                @onclick="()=> HandleItemClick(item)">
                            @item.Text
                        </button>
                    }
                }
                else if (item.ItemType == BitDropDownItemType.Divider)
                {
                    <div class="@RootElementClass-div-@VisualClassRegistrar()"
                         role="separator">
                    </div>
                }
            }
        </div>
    }
</div>