@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <span @onclick="HandleClick">
        @if (Text.HasValue())
        {
            @Text
        }
        else
        {
            @Placeholder
        }
    </span>
    <span @onclick="HandleClick">
        <i class="bit-icon"></i>
    </span>
    @if (isOpen)
    {
        <div>
            @for (int index = 0; index < Items.Count; index++)
            {
                DropDownItem item = Items[index];
                if (item.ItemType == DropDownItemType.Header)
                {
                    <div class="@RootElementClass-head-@VisualClassRegistrar()">
                        @item.Text
                    </div>
                }
                else if (item.ItemType == DropDownItemType.Normal)
                {
                    @if (IsMultiSelect)
                    {
                        <BitCheckbox @bind-IsChecked="@item.IsSelected"
                                     IsEnabled="@(!item.IsDisabled)"
                                     OnChange="(isChecked) => HandleItemSelect(isChecked?item:null)">
                            @item.Text
                        </BitCheckbox>
                    }
                    else
                    {
                        <button class="@(Items.Any(prop=>prop.IsSelected && prop.Value.Equals(item.Value))
                                           ?$"{RootElementClass}-slc-{VisualClassRegistrar()}"
                                           :"")"
                                type="button"
                                title="@item.Text"
                                disabled=@item.IsDisabled
                                @onclick="()=>HandleItemSelect(item)">
                            @item.Text
                        </button>
                    }
                }
                else if (item.ItemType == DropDownItemType.Divider)
                {
                    <div class="@RootElementClass-div-@VisualClassRegistrar()">
                    </div>
                }
            }
        </div>
    }
</div>