@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     id="@UniqueId.ToString()">
    @if (Label.HasValue())
    {
        <label id="@DropdownLabelId">@Label</label>
    }

    <div class="bit-drp-wrapper"
         id="@DropDownId"
         tabindex=@(IsEnabled ? 0 : -1)
         role="combobox"
         data-is-focusable="true"
         aria-expanded=@(isOpen ? "true" : "false")
         aria-labelledby="@GetDropdownAriaLabelledby"
         aria-required="@IsRequired"
         aria-disabled="@(IsEnabled is false)"
         aria-controls=""
         title="@Title"
         @onclick="HandleClick">
        <span id="@DropDownOptionId"
              aria-live="polite"
              aria-atomic="true"
              aria-invalid="false">
            @if (text.HasValue())
            {
                @text
            }
            else
            {
                @Placeholder
            }
        </span>
        <span>
            <i class="bit-icon" aria-hidden="true"></i>
        </span>
    </div>
    @if (isOpen)
    {
        <div class="bit-drp-items-wrapper"
             id="@($"{DropDownId}-list")"
             tabindex="0"
             role="listbox"
             aria-labelledby="@DropdownLabelId">
            @foreach (BitDropDownItem item in Items)
            {
                if (item.ItemType == BitDropDownItemType.Header)
                {
                    <div class="@RootElementClass-head-@VisualClassRegistrar()">
                        @item.Text
                    </div>
                }
                else if (item.ItemType == BitDropDownItemType.Normal)
                {
                    @if (IsMultiSelect)
                    {
                        <BitCheckbox @bind-IsChecked="item.IsSelected"
                                     IsEnabled="item.IsEnabled"
                                     OnChange="(isChecked) => HandleItemClick(item)">
                            @item.Text
                        </BitCheckbox>
                    }
                    else
                    {
                        <button class="@(Items.Any(prop=>prop.IsSelected && prop.Value.Equals(item.Value))
                                           ?$"{RootElementClass}-slc-{VisualClassRegistrar()}"
                                           :"")"
                                type="button"
                                role="option"
                                data-is-focusable="@item.IsEnabled"
                                title="@item.Text"
                                disabled=@(!item.IsEnabled)
                                aria-disabled="@(!item.IsEnabled)"
                                aria-selected="@item.IsSelected"
                                tabindex="@(item.IsEnabled ? 0 : -1)"
                                @onclick="()=> HandleItemClick(item)">
                            @item.Text
                        </button>
                    }
                }
                else if (item.ItemType == BitDropDownItemType.Divider)
                {
                    <div class="@RootElementClass-div-@VisualClassRegistrar()"
                         role="separator">
                    </div>
                }
            }
        </div>
    }
</div>