@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div class="bit-txt-wrapper">
        @if (LabelFragment != null)
        {
            <label class="bit-txt-label">@LabelFragment</label>
        }
        else if (Label.HasValue())
        {
            <label class="bit-txt-label" for="@InputId">
                @Label
            </label>
        }

        <div class="bit-txt-field-grp">
            @if (Prefix is not null)
            {
                <div class="txt-prefix">
                    <span>@Prefix</span>
                </div>
            }

            @if (IsMultiline && Type == BitTextFieldType.Text)
            {
                <textarea id="@InputId"
                      class="txt-field"
                      rows="@Rows"
                      disabled=@(!IsEnabled)
                      readonly=@IsReadonly
                      required=@IsRequired
                      placeholder="@Placeholder"
                      maxlength="@MaxLength"
                      aria-label="@AriaLabel"
                      aria-labelledby="@(Label.HasValue() ? InputId : null)"
                      aria-invalid="false"
                      @onclick="@HandleClick"
                      @onfocusin="@HandleFocusIn"
                      @onfocusout="@HandleFocusOut"
                      @onfocus="@HandleFocus"
                      @oninput="@HandleChange"
                      @onchange="@HandleChange"
                      @onkeydown="@HandleKeyDown"
                      @onkeyup="@HandleKeyUp">
                    @Value
                </textarea>
            }
            else
            {
                <input id="@InputId"
                   class="txt-field"
                   disabled=@(!IsEnabled)
                   readonly=@IsReadonly
                   required=@IsRequired
                   type="@ElementType"
                   value="@Value"
                   placeholder="@Placeholder"
                   maxlength="@MaxLength"
                   aria-label="@AriaLabel"
                   aria-labelledby="@(Label.HasValue() ? InputId : null)"
                   aria-invalid="false"
                   @onclick="@HandleClick"
                   @onfocusin="@HandleFocusIn"
                   @onfocusout="@HandleFocusOut"
                   @onfocus="@HandleFocus"
                   @oninput="@HandleChange"
                   @onchange="@HandleChange"
                   @onkeydown="@HandleKeyDown"
                   @onkeyup="@HandleKeyUp" />
            }

            @if (CanRevealPassword && Type == BitTextFieldType.Password)
            {
                <button class="password-reveal-btn" @onclick="TogglePasswordRevealIcon" aria-pressed="@(ElementType == BitTextFieldType.Text ? "true" : "false")">
                    <span>
                        <i class="bit-icon bit-icon--@(ElementType == BitTextFieldType.Text ? "Hide" : "RedEye")"></i>
                    </span>
                </button>
            }

            @if (IconName is not null)
            {
                <i class="bit-icon bit-icon--@IconName"></i>
            }

            @if (Suffix is not null)
            {
                <div class="txt-suffix">
                    <span>@Suffix</span>
                </div>
            }

        </div>
    </div>
    @if (Description.HasValue() || DescriptionFragment is not null)
    {
        <span class="txt-desc">
            @if (DescriptionFragment is not null)
            {
                <span>@DescriptionFragment</span>
            }
            else if (Description.HasValue())
            {
                <span>@Description</span>
            }
        </span>
    }
</div>