@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    @if (IsMultiLine && Type == TextFieldType.Text)
    {
        <textarea rows="3"
                  disabled=@(!IsEnabled)
                  readonly=@IsReadonly
                  placeholder="@Placeholder"
                  maxlength="@MaxLength"
                  @onclick="@HandleClick"
                  @onfocusin="@HandleFocusIn"
                  @onfocusout="@HandleFocusOut"
                  @onfocus="@HandleFocus"
                  @onchange="@HandleChange"
                  @onkeydown="@HandleKeyDown"
                  @onkeyup="@HandleKeyUp">
            @Value
        </textarea>
    }
    else
    {
        <input disabled=@(!IsEnabled)
               readonly=@IsReadonly
               type="@Type.ToString()"
               value="@Value"
               placeholder="@Placeholder"
               maxlength="@MaxLength"
               @onclick="@HandleClick"
               @onfocusin="@HandleFocusIn"
               @onfocusout="@HandleFocusOut"
               @onfocus="@HandleFocus"
               @onchange="@HandleChange"
               @onkeydown="@HandleKeyDown"
               @onkeyup="@HandleKeyUp" />
    }

    @if (CanRevealPassword)
    {
        <span class="clickable" @onclick="HandlePasswordElementRevealIcon">
            <i class="bit-icon bit-icon--@revealPasswordIconName"></i>
        </span>
    }

    @if (IconName is not null)
    {
        <span>
            <i class="bit-icon bit-icon--@IconName"></i>
        </span>
    }

</div>
