@namespace Bit.BlazorUI
@inherits BitLoadingComponentBase

@code {
    protected override int OriginalSize { get; set; } = 64;
}

<style>
    .bit-ldn-Circle {
        display: inline-block;
        transform: translateZ(1px);
    }

        .bit-ldn-Circle > div {
            display: inline-block;
            width: @(Size)px;
            height: @(Size)px;
            margin: @(Convert(8))px;
            border-radius: 50%;
            background: @(Color ?? "var(--bit-clr-fg-primary)");
            animation: bit-ldn-Circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        }

    @@keyframes bit-ldn-Circle {
        0%, 100% {
            animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
        }

        0% {
            transform: rotateY(0deg);
        }

        50% {
            transform: rotateY(1800deg);
            animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
        }

        100% {
            transform: rotateY(3600deg);
        }
    }
</style>

<div style="@Style" class="bit-ldn-Circle @Class">
    <div style="@ChildStyle" class="@ChildClass"></div>
</div>