@namespace Bit.BlazorUI
@inherits BitLoadingComponentBase

<style>
    .bit-ldn-DuaRing {
        display: inline-block;
        width: @(Size)px;
        height: @(Size)px;
    }

        .bit-ldn-DuaRing:after {
            content: " ";
            display: block;
            width: @(Convert(64))px;
            height: @(Convert(64))px;
            margin: @(Convert(8))px;
            border-radius: 50%;
            border: @(Convert(6))px solid @Color;
            border-color: @Color transparent @Color transparent;
            animation: bit-ldn-DuaRing 1.2s linear infinite;
        }

    @@keyframes bit-ldn-DuaRing {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div style="@Style" class="bit-ldn-DuaRing @Class"></div>