@namespace Bit.BlazorUI
@inherits BitLoadingComponentBase

<style>
    .bit-ldn-DualRing {
        display: inline-block;
        width: @(Size)px;
        height: @(Size)px;
    }

        .bit-ldn-DualRing:after {
            content: " ";
            display: block;
            border-radius: 50%;
            margin: @(Convert(8))px;
            width: @(Convert(64))px;
            height: @(Convert(64))px;
            border: @(Convert(6))px solid @Color;
            animation: bit-ldn-DualRing 1.2s linear infinite;
            border-color: @(Color ?? "var(--bit-clr-fg-primary)") transparent @(Color ?? "var(--bit-clr-fg-primary)") transparent;
        }

    @@keyframes bit-ldn-DualRing {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
</style>

<div style="@Style" class="bit-ldn-DualRing @Class"></div>