@namespace Bit.BlazorUI
@inherits BitLoadingComponentBase

<style>
    .bit-ldn-Heart {
        display: inline-block;
        position: relative;
        width: @(Size)px;
        height: @(Size)px;
        transform: rotate(45deg);
        transform-origin: @(Convert(40))px @(Convert(40))px;
    }

        .bit-ldn-Heart div {
            position: absolute;
            top: @(Convert(32))px;
            left: @(Convert(32))px;
            width: @(Convert(32))px;
            height: @(Convert(32))px;
            background: @(Color ?? "var(--bit-clr-fg-primary)");
            animation: bit-ldn-Heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        }

            .bit-ldn-Heart div:after,
            .bit-ldn-Heart div:before {
                content: " ";
                display: block;
                position: absolute;
                width: @(Convert(32))px;
                height: @(Convert(32))px;
                background: @(Color ?? "var(--bit-clr-fg-primary)");
            }

            .bit-ldn-Heart div:before {
                left: -@(Convert(24))px;
                border-radius: 50% 0 0 50%;
            }

            .bit-ldn-Heart div:after {
                top: -@(Convert(24))px;
                border-radius: 50% 50% 0 0;
            }

    @@keyframes bit-ldn-Heart {
        0% {
            transform: scale(0.95);
        }

        5% {
            transform: scale(1.1);
        }

        39% {
            transform: scale(0.85);
        }

        45% {
            transform: scale(1);
        }

        60% {
            transform: scale(0.95);
        }

        100% {
            transform: scale(0.9);
        }
    }
</style>

<div style="@Style" class="bit-ldn-Heart @Class">
    <div style="@ChildStyle" class="@ChildClass"></div>
</div>