@namespace Bit.BlazorUI
@inherits BitLoadingComponentBase

<style>
    .bit-ldn-Ripple {
        display: inline-block;
        position: relative;
        width: @(Size)px;
        height: @(Size)px;
    }

        .bit-ldn-Ripple div {
            opacity: 1;
            position: absolute;
            border-radius: 50%;
            animation: bit-ldn-Ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
            border: @(Convert(4))px solid @(Color ?? "var(--bit-clr-fg-primary)");
        }

            .bit-ldn-Ripple div:nth-child(2) {
                animation-delay: -0.5s;
            }

    @@keyframes bit-ldn-Ripple {
        0% {
            top: @(Convert(36))px;
            left: @(Convert(36))px;
            width: 0;
            height: 0;
            opacity: 0;
        }

        4.9% {
            top: @(Convert(36))px;
            left: @(Convert(36))px;
            width: 0;
            height: 0;
            opacity: 0;
        }

        5% {
            top: @(Convert(36))px;
            left: @(Convert(36))px;
            width: 0;
            height: 0;
            opacity: 1;
        }

        100% {
            top: 0px;
            left: 0px;
            width: @(Convert(72))px;
            height: @(Convert(72))px;
            opacity: 0;
        }
    }
</style>

<div style="@Style" class="bit-ldn-Ripple @Class">
    <div style="@ChildStyle" class="@ChildClass"></div>
    <div style="@ChildStyle" class="@ChildClass"></div>
</div>