@page "/components/snackbar"

<PageOutlet Url="components/snackbar"
            Title="Snackbar"
            Description="snackbar component of the bit BlazorUI components" />

<ComponentDemo ComponentName="SnackBar"
               ComponentDescription="SnackBars provide brief notifications. The component is also known as a toast."
               ComponentParameters="componentParameters"
               ComponentSubEnums="componentSubEnums"
               ComponentSubClasses="componentSubClasses">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
        <ExamplePreview>
            <BitSnackBar @ref="basicRef" />
            <BitButton OnClick="OpenBasicSnackBar">Open SnackBar</BitButton>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Customization" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
        <ExamplePreview>
            <div class="example-box">
                <BitSnackBar @ref="customizationRef"
                             Dir="direction"
                             Position="@basicSnackBarPosition"
                             AutoDismiss="@basicSnackBarAutoDismiss"
                             AutoDismissTime="TimeSpan.FromSeconds(basicSnackBarDismissSeconds)" />

                <BitChoiceGroup @bind-Value="basicSnackBarType" Label="Type" TItem="BitChoiceGroupOption<BitSnackBarType>" TValue="BitSnackBarType">
                    <BitChoiceGroupOption Text="Info" Value="BitSnackBarType.Info" />
                    <BitChoiceGroupOption Text="Success" Value="BitSnackBarType.Success" />
                    <BitChoiceGroupOption Text="Warning" Value="BitSnackBarType.Warning" />
                    <BitChoiceGroupOption Text="SevereWarning" Value="BitSnackBarType.SevereWarning" />
                    <BitChoiceGroupOption Text="Error" Value="BitSnackBarType.Error" />
                </BitChoiceGroup>

                <BitChoiceGroup @bind-Value="basicSnackBarPosition" Label="Position" TItem="BitChoiceGroupOption<BitSnackBarPosition>" TValue="BitSnackBarPosition">
                    <BitChoiceGroupOption Text="TopLeft" Value="BitSnackBarPosition.TopLeft" />
                    <BitChoiceGroupOption Text="TopCenter" Value="BitSnackBarPosition.TopCenter" />
                    <BitChoiceGroupOption Text="TopRight" Value="BitSnackBarPosition.TopRight" />
                    <BitChoiceGroupOption Text="BottomLeft" Value="BitSnackBarPosition.BottomLeft" />
                    <BitChoiceGroupOption Text="BottomCenter" Value="BitSnackBarPosition.BottomCenter" />
                    <BitChoiceGroupOption Text="BottomRight" Value="BitSnackBarPosition.BottomRight" />
                </BitChoiceGroup>

                <BitChoiceGroup @bind-Value="direction" Label="Direction" TItem="BitChoiceGroupOption<BitDir>" TValue="BitDir">
                    <BitChoiceGroupOption Text="LTR" Value="BitDir.Ltr" />
                    <BitChoiceGroupOption Text="RTL" Value="BitDir.Rtl" />
                    <BitChoiceGroupOption Text="Auto" Value="BitDir.Auto" />
                </BitChoiceGroup>

                <div>
                    <BitTextField @bind-Value="basicSnackBarTitle" Label="Title" DefaultValue="Title" />
                    <BitTextField @bind-Value="basicSnackBarBody" Label="Body" IsMultiline="true" Rows="6" DefaultValue="This is a body!" />
                </div>

                <div>
                    <BitToggle @bind-Value="basicSnackBarAutoDismiss" Label="Auto Dismiss" />
                    <BitNumberField @bind-Value="basicSnackBarDismissSeconds" Step="1" Min="1" Label="Dismiss Time (based on second)" />
                </div>
            </div>
            <br />
            <BitButton OnClick="OpenCustomizationSnackBar">Show</BitButton>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Templates" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
        <ExamplePreview>
            <BitSnackBar @ref="dismissIconNameRef" DismissIconName="@BitIconName.Go" />
            <BitButton OnClick="OpenDismissIconName">Dismiss Icon Name</BitButton>
            <br /><br />
            <BitSnackBar @ref="titleTemplateRef" AutoDismiss="false">
                <TitleTemplate Context="title">
                    <div style="display: flex; flex-direction: row; gap: 10px;">
                        <span>@title</span>
                        <BitProgress Thickness="20" Style="width: 40px;" Indeterminate />
                    </div>
                </TitleTemplate>
            </BitSnackBar>
            <BitButton OnClick="OpenTitleTemplate">Title Template</BitButton>
            <br /><br />
            <BitSnackBar @ref="bodyTemplateRef" AutoDismiss="false">
                <BodyTemplate Context="body">
                    <div style="display: flex; flex-flow: column nowrap; gap: 5px;">
                        <span style="font-size: 12px; margin-bottom: 5px;">@body</span>
                        <div style="display: flex; gap: 10px;">
                            <BitButton OnClick="@(() => bodyTemplateAnswer = "Yes")">Yes</BitButton>
                            <BitButton OnClick="@(() => bodyTemplateAnswer = "No")">No</BitButton>
                        </div>
                        <span>Answer: @bodyTemplateAnswer</span>
                    </div>
                </BodyTemplate>
            </BitSnackBar>
            <BitButton OnClick="OpenBodyTemplate">Body Template</BitButton>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
        <ExamplePreview>
            <div>
                <div>Item's Style & Class:</div><br />
                <BitSnackBar @ref="snackBarStyleRef" />
                <BitButton OnClick="OpenSnackBarStyle">Custom style</BitButton>
                <br /><br />
                <BitSnackBar @ref="snackBarClassRef" />
                <BitButton OnClick="OpenSnackBarClass">Custom style</BitButton>
                <br /><br /><br /><br />
                <div>Styles & Classes:</div><br />
                <BitSnackBar @ref="snackBarStylesRef"
                             Styles="@(new() { Container = "width: 16rem; background-color: purple;",
                                               Header = "background-color: rebeccapurple; padding: 0.2rem;" })" />
                <BitButton OnClick="OpenSnackBarStyles">Custom styles</BitButton>
                <br /><br />
                <BitSnackBar @ref="snackBarClassesRef"
                             Classes="@(new() { Container = "custom-container",
                                                ProgressBar = "custom-progress" })" />
                <BitButton OnClick="OpenSnackBarClasses">Custom classes</BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>