@inherits AppComponentBase

<section>
    <BitPivot Alignment="BitAlignment.Center">
        <BitPivotItem Key="@nameof(AppStrings.Email)" HeaderText="@Localizer[nameof(AppStrings.Email)]">
            <ChangeEmailTab Email="@CurrentUser?.Email" />
        </BitPivotItem>
        <BitPivotItem Key="@nameof(AppStrings.Phone)" HeaderText="@Localizer[nameof(AppStrings.Phone)]">
            <ChangePhoneNumberTab PhoneNumber="@CurrentUser?.PhoneNumber" />
        </BitPivotItem>
        @if (showPasswordless)
        {
            <BitPivotItem Key="@nameof(AppStrings.Passwordless)" HeaderText="@Localizer[nameof(AppStrings.Passwordless)]">
                <PasswordlessTab User="CurrentUser" />
            </BitPivotItem>
        }
        <BitPivotItem Key="@nameof(AppStrings.Delete)">
            <Header>
                <BitText Color="BitColor.Error">@Localizer[nameof(AppStrings.Delete)]</BitText>
            </Header>
            <Body>
                <DeleteAccountTab />
            </Body>
        </BitPivotItem>
    </BitPivot>
</section>
