@inherits AppComponentBase;

<section>
    <a href="@Urls.HomePage">
        <BitIcon IconName="@BitIconName.Home" Color="@(IsActive(Urls.HomePage) ? BitColor.Primary : BitColor.SecondaryForeground)" />
        <BitText Typography="BitTypography.Caption2" Color="@(IsActive(Urls.HomePage) ? BitColor.Primary : BitColor.SecondaryForeground)">
            @Localizer[nameof(AppStrings.Home)]
        </BitText>
    </a>


    <a href="@Urls.DashboardPage">
        <BitIcon IconName="@BitIconName.BarChartVerticalFill" Color="@(IsActive(Urls.DashboardPage) ? BitColor.Primary : BitColor.SecondaryForeground)" />
        <BitText Typography="BitTypography.Caption2" Color="@(IsActive(Urls.DashboardPage) ? BitColor.Primary : BitColor.SecondaryForeground)">
            @Localizer[nameof(AppStrings.Dashboard)]
        </BitText>
    </a>

    <a href="@Urls.ProductsPage">
        <BitIcon IconName="@BitIconName.Product" Color="@(IsActive(Urls.ProductsPage) ? BitColor.Primary : BitColor.SecondaryForeground)" />
        <BitText Typography="BitTypography.Caption2" Color="@(IsActive(Urls.ProductsPage) ? BitColor.Primary : BitColor.SecondaryForeground)">
            @Localizer[nameof(AppStrings.Products)]
        </BitText>
    </a>

    <a href="@Urls.CategoriesPage">
        <BitIcon IconName="@BitIconName.BuildQueue" Color="@(IsActive(Urls.CategoriesPage) ? BitColor.Primary : BitColor.SecondaryForeground)" />
        <BitText Typography="BitTypography.Caption2" Color="@(IsActive(Urls.CategoriesPage) ? BitColor.Primary : BitColor.SecondaryForeground)">
            @Localizer[nameof(AppStrings.Categories)]
        </BitText>
    </a>

    <a href="@Urls.TermsPage">
        <BitIcon IconName="@BitIconName.EntityExtraction" Color="@(IsActive(Urls.TermsPage) ? BitColor.Primary : BitColor.SecondaryForeground)" />
        <BitText Typography="BitTypography.Caption2" Color="@(IsActive(Urls.TermsPage) ? BitColor.Primary : BitColor.SecondaryForeground)">
            @Localizer[nameof(AppStrings.Terms)]
        </BitText>
    </a>
</section>