@page "/components/pivot"

<PageOutlet Url="components/pivot"
            Title="Pivot"
            Description="pivot component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Pivot"
               ComponentDescription="The Pivot control and related tabs pattern are used for navigating frequently accessed, distinct content categories. Pivots allow for navigation between two or more contentviews and relies on text headers to articulate the different sections of content. Tapping on a pivot item header navigates to that header's section content. Tabs are a visual variant of Pivot that use a combination of icons and textor just icons to articulate section content."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <BitPivot>
                <BitPivotItem HeaderText="File">
                    <div style="margin-top:10px">
                        <h1>Pivot #1</h1>
                        <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Shared with me">
                    <div style="margin-top:15px">
                        <h2>Pivot #2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent">
                    <div style="margin-top:10px">
                        <h3>Pivot #3</h3>
                        <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.<br />Suspendisse blandit erat ac lobortis pulvinar. Donec nunc leo, tempus sit amet accumsan in, sagittis sed odio. Pellentesque tristique felis sed purus pellentesque, ac dictum ex fringilla. Integer a tincidunt eros, non porttitor turpis. Sed gravida felis massa, in viverra massa aliquam sit amet. Etiam vitae dolor in velit sodales tristique id nec turpis. Proin sit amet urna sollicitudin, malesuada enim et, lacinia mi. Fusce nisl massa, efficitur sit amet elementum convallis, porttitor vel turpis. Fusce congue dui sit amet mollis pulvinar. Suspendisse vulputate leo quis nunc tincidunt, nec dictum risus congue.</p>
                    </div>
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Count and Icon" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <BitPivot OverflowBehavior="@BitPivotOverflowBehavior.Scroll">
                <BitPivotItem HeaderText="Files" IconName="@BitIconName.Info">
                    <div style="margin-top:10px">
                        <h1>Pivot #1: Files</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Shared with me" ItemCount="32">
                    <div style="margin-top:10px">
                        <h1>Pivot #2: Shared with me</h1>
                        <p>Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent" IconName="@BitIconName.Info" ItemCount="12">
                    <div style="margin-top:10px">
                        <h1>Pivot #3: Recent</h1>
                        <p>Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Some tab" IconName="@BitIconName.Info" ItemCount="6">
                    <div style="margin-top:10px">
                        <h1>Pivot #4: Some tab</h1>
                        <p>Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Latest" IconName="@BitIconName.Info" ItemCount="8">
                    <div style="margin-top:10px">
                        <h1>Pivot #5: Latest</h1>
                        <p>Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus. Suspendisse blandit erat ac lobortis pulvinar.</p>
                    </div>
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Large link size" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <BitPivot LinkSize="@BitSize.Large">
                <BitPivotItem HeaderText="Large File">
                    <div style="margin-top:10px">
                        <h1>Pivot #1: Large File</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Large Shared with me">
                    <div style="margin-top:10px">
                        <h1>Pivot #2: Large Shared with me</h1>
                        <p>Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Large Recent">
                    <div style="margin-top:10px">
                        <h1>Pivot #3: Large Recent</h1>
                        <p>Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum.</p>
                    </div>
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Tab style" RazorCode="@example4RazorCode" Id="example4">
        <ExamplePreview>
            <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs">
                <BitPivotItem HeaderText="File tab">
                    <div style="margin-top:10px">
                        <h1>Pivot #1: File tab</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Shared with me tab">
                    <div style="margin-top:10px">
                        <h1>Pivot #2: Shared with me tab</h1>
                        <p>Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent tab">
                    <div style="margin-top:10px">
                        <h1>Pivot #3: Recent tab</h1>
                        <p>Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum.</p>
                    </div>
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Large Tab style" RazorCode="@example5RazorCode" Id="example5">
        <ExamplePreview>
            <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs" LinkSize="@BitSize.Large">
                <BitPivotItem HeaderText="Large File tab">
                    <div style="margin-top:10px">
                        <h1>Pivot #1: Large File tab</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Large Shared with me tab">
                    <div style="margin-top:10px">
                        <h1>Pivot #2: Large Shared with me tab</h1>
                        <p>Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Large Recent tab">
                    <div style="margin-top:10px">
                        <h1>Pivot #3: Large Recent tab</h1>
                        <p>Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum.</p>
                    </div>
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Change tabs from outside of the component" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
        <ExamplePreview>
            <BitPivot @bind-SelectedKey="OverridePivotSelectedKey" LinkFormat="@BitPivotLinkFormat.Tabs" LinkSize="@BitSize.Large">
                <BitPivotItem Key="1" HeaderText="Samples">
                    <div style="margin-top:10px">
                        <h1>Pivot #1: Samples</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem Key="2" HeaderText="Files">
                    <div style="margin-top:10px">
                        <h1>Pivot #2: Files</h1>
                        <p>Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem Key="3" HeaderText="Recent">
                    <div style="margin-top:10px">
                        <h1>Pivot #3: Recent</h1>
                        <p>Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem Key="4" HeaderText="Last">
                    <div style="margin-top:10px">
                        <h1>Pivot #4: Last</h1>
                        <p>Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi.</p>
                    </div>
                </BitPivotItem>
            </BitPivot>
            <div style="margin-top:50px;display:flex;gap:10px">
                <BitButton IsEnabled="@(OverridePivotSelectedKey != "1")" Variant="BitVariant.Outline"
                           OnClick="(() => OverridePivotSelectedKey = (int.Parse(OverridePivotSelectedKey) - 1).ToString())">
                    <div style="display:flex;gap:2px">
                        <BitIcon IconName="@BitIconName.CaretSolidLeft" /> Prev
                    </div>
                </BitButton>
                <BitButton IsEnabled="@(OverridePivotSelectedKey != "4")" Variant="BitVariant.Outline"
                           OnClick="(() => OverridePivotSelectedKey = (int.Parse(OverridePivotSelectedKey) + 1).ToString())">
                    <div style="display:flex;gap:2px">
                        Next <BitIcon IconName="@BitIconName.CaretSolidRight" />
                    </div>
                </BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Render content separately" RazorCode="@example7RazorCode" CsharpCode="@example7CsharpCode" Id="example7">
        <ExamplePreview>
            <div style="margin-bottom:25px;border:1px solid #afafaf;width:fit-content;padding:10px;">
                @if (SelectedKey == "Foo")
                {
                    <div>Hello I am Foo</div>
                }
                else if (SelectedKey == "Bar")
                {
                    <div>Hello I am Bar</div>
                }
                else if (SelectedKey == "Bas")
                {
                    <div>Hello I am Bas</div>
                }
                else if (SelectedKey == "Biz")
                {
                    <div>Hello I am Biz</div>
                }
            </div>
            <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs"
                      DefaultSelectedKey="Foo"
                      LinkSize="@BitSize.Large"
                      HeadersOnly="true"
                      OnItemClick="@(item => SelectedKey = item?.Key)">
                <BitPivotItem HeaderText="Foo" Key="Foo"></BitPivotItem>
                <BitPivotItem HeaderText="Bar" Key="Bar"></BitPivotItem>
                <BitPivotItem HeaderText="Bas" Key="Bas"></BitPivotItem>
                <BitPivotItem HeaderText="Biz" Key="Biz"></BitPivotItem>
            </BitPivot>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Events" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
        <ExamplePreview>
            <div style="margin-bottom:25px">
                Last Pivot clicked: <strong>@SelectedPivotItem?.HeaderText</strong>
            </div>
            <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs" LinkSize="@BitSize.Large" OnItemClick="@(item => SelectedPivotItem = item)">
                <BitPivotItem HeaderText="Foo">
                    <div style="margin-top:10px">
                        <h1>Pivot #1: Foo</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Bar">
                    <div style="margin-top:10px">
                        <h1>Pivot #2: Bar</h1>
                        <p>Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Bas" Key="aaa">
                    <div style="margin-top:10px">
                        <h1>Pivot #3: Bas</h1>
                        <p>Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Biz">
                    <div style="margin-top:10px">
                        <h1>Pivot #4: Biz</h1>
                        <p>Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Baq">
                    <div style="margin-top:10px">
                        <h1>Pivot #5: Baq</h1>
                        <p>Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus. Suspendisse blandit erat ac lobortis pulvinar.</p>
                    </div>
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Show/Hide tabs" RazorCode="@example9RazorCode" CsharpCode="@example9CsharpCode" Id="example9">
        <ExamplePreview>
            <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs" LinkSize="@BitSize.Large">
                <BitPivotItem HeaderText="Foo">
                    <div style="margin-top:10px">
                        <h1>Pivot #1: Foo</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Bar">
                    <div style="margin-top:10px">
                        <h1>Pivot #2: Bar</h1>
                        <p>Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem Visibility="@PivotItemVisibility" HeaderText="Biz">
                    <div style="margin-top:10px">
                        <h1>Pivot #3: Biz</h1>
                        <p>Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan.</p>
                    </div>
                </BitPivotItem>
            </BitPivot>
            <div style="margin-top:50px">
                <BitButton Variant="BitVariant.Outline" OnClick="TogglePivotItemVisibility">Hide/Show Biz</BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Custom Header" RazorCode="@example10RazorCode" Id="example10">
        <ExamplePreview>
            <BitPivot>
                <BitPivotItem>
                    <Header>
                        <div>
                            <span style="color:red">Header #1</span>
                        </div>
                    </Header>
                    <Body>
                        <div style="margin-top:10px">
                            <h1>Pivot #1</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                        </div>
                    </Body>
                </BitPivotItem>
                <BitPivotItem ItemCount="99">
                    <Header>
                        <div>
                            <i style="color:green" class="bit-icon bit-icon--HeartFill"></i>
                            <span style="color:blue">Header #2</span>
                            <i style="color:green" class="bit-icon bit-icon--HeartFill"></i>
                        </div>
                    </Header>
                    <Body>
                        <div style="margin-top:10px">
                            <h1>Pivot #2</h1>
                            <p>Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel.</p>
                        </div>
                    </Body>
                </BitPivotItem>
                <BitPivotItem IconName="@BitIconName.Inbox">
                    <Header>
                        <div>
                            <span style="color:rebeccapurple">Header <i style="color:purple" class="bit-icon bit-icon--HeartFill"></i> #3</span>
                        </div>
                    </Header>
                    <Body>
                        <div style="margin-top:10px">
                            <h1>Pivot #3</h1>
                            <p>Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum.</p>
                        </div>
                    </Body>
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Position" RazorCode="@example11RazorCode" Id="example11">
        <ExamplePreview>
            <div class="subtitle">Pivot Position: <strong>Top</strong></div>
            <div class="box">
                <BitPivot Position="BitPivotPosition.Top">
                    <BitPivotItem HeaderText="File">
                        <div style="margin-top:10px">
                            <h1>Pivot #1: File</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. </p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Shared">
                        <div style="margin-top:15px">
                            <h1>Pivot #2: Shared</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Recent">
                        <div style="margin-top:10px">
                            <h1>Pivot #3: Recent</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. </p>
                        </div>
                    </BitPivotItem>
                </BitPivot>
            </div>
            <br />
            <div class="subtitle">Pivot Position: <strong>Bottom</strong></div>
            <div class="box">
                <BitPivot Position="BitPivotPosition.Bottom">
                    <BitPivotItem HeaderText="File">
                        <div style="margin-top:10px">
                            <h1>Pivot #1: File</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. </p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Shared">
                        <div style="margin-top:15px">
                            <h1>Pivot #2: Shared</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Recent">
                        <div style="margin-top:10px">
                            <h1>Pivot #3: Recent</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. </p>
                        </div>
                    </BitPivotItem>
                </BitPivot>
            </div>
            <br />
            <div class="subtitle">Pivot Position: <strong>Left</strong></div>
            <div class="box">
                <BitPivot Position="BitPivotPosition.Left">
                    <BitPivotItem HeaderText="File">
                        <div style="margin-top:10px">
                            <h1>Pivot #1: File</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. </p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Shared with me" Style="width:130px">
                        <div style="margin-top:15px">
                            <h1>Pivot #2: Shared with me</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Recent">
                        <div style="margin-top:10px">
                            <h1>Pivot #3: Recent</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. </p>
                        </div>
                    </BitPivotItem>
                </BitPivot>
            </div>
            <br />
            <div class="subtitle">Pivot Position: <strong>Right</strong></div>
            <div class="box">
                <BitPivot Position="BitPivotPosition.Right">
                    <BitPivotItem HeaderText="File">
                        <div style="margin-top:10px">
                            <h1>Pivot #1: File</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. </p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Shared with me" Style="width:130px">
                        <div style="margin-top:15px">
                            <h1>Pivot #2: Shared with me</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Recent">
                        <div style="margin-top:10px">
                            <h1>Pivot #3: Recent</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. </p>
                        </div>
                    </BitPivotItem>
                </BitPivot>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled state" RazorCode="@example12RazorCode" CsharpCode="@example12CsharpCode" Id="example12">
        <ExamplePreview>
            <BitButton OnClick="() => PivotEnabled = !PivotEnabled">Toggle Pivot's IsEnabled</BitButton>
            <BitButton OnClick="() => PivotItemEnabled = !PivotItemEnabled">Toggle Pivot Item's IsEnabled</BitButton>
            <BitPivot IsEnabled="PivotEnabled">
                <BitPivotItem HeaderText="File">
                    <div style="margin-top:10px">
                        <h1>Pivot #1</h1>
                        <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Shared with me" IsEnabled="PivotItemEnabled">
                    <div style="margin-top:15px">
                        <h2>Pivot #2</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent">
                    <div style="margin-top:10px">
                        <h3>Pivot #3</h3>
                        <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.<br />Suspendisse blandit erat ac lobortis pulvinar. Donec nunc leo, tempus sit amet accumsan in, sagittis sed odio. Pellentesque tristique felis sed purus pellentesque, ac dictum ex fringilla. Integer a tincidunt eros, non porttitor turpis. Sed gravida felis massa, in viverra massa aliquam sit amet. Etiam vitae dolor in velit sodales tristique id nec turpis. Proin sit amet urna sollicitudin, malesuada enim et, lacinia mi. Fusce nisl massa, efficitur sit amet elementum convallis, porttitor vel turpis. Fusce congue dui sit amet mollis pulvinar. Suspendisse vulputate leo quis nunc tincidunt, nec dictum risus congue.</p>
                    </div>
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" RazorCode="@example13RazorCode" Id="example13">
        <ExamplePreview>
            <div>
                <div>Component's Style & Class:</div>
                <br />
                <BitPivot Style="border: 1px solid tomato;">
                    <BitPivotItem HeaderText="File">
                        <div style="margin-top:10px">
                            <h1>Pivot #1</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Shared with me">
                        <div style="margin-top:15px">
                            <h2>Pivot #2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Recent">
                        <div style="margin-top:10px">
                            <h3>Pivot #3</h3>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.<br />Suspendisse blandit erat ac lobortis pulvinar. Donec nunc leo, tempus sit amet accumsan in, sagittis sed odio. Pellentesque tristique felis sed purus pellentesque, ac dictum ex fringilla. Integer a tincidunt eros, non porttitor turpis. Sed gravida felis massa, in viverra massa aliquam sit amet. Etiam vitae dolor in velit sodales tristique id nec turpis. Proin sit amet urna sollicitudin, malesuada enim et, lacinia mi. Fusce nisl massa, efficitur sit amet elementum convallis, porttitor vel turpis. Fusce congue dui sit amet mollis pulvinar. Suspendisse vulputate leo quis nunc tincidunt, nec dictum risus congue.</p>
                        </div>
                    </BitPivotItem>
                </BitPivot>
                <br />
                <BitPivot Class="custom-class">
                    <BitPivotItem HeaderText="File">
                        <div style="margin-top:10px">
                            <h1>Pivot #1</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Shared with me">
                        <div style="margin-top:15px">
                            <h2>Pivot #2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Recent">
                        <div style="margin-top:10px">
                            <h3>Pivot #3</h3>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.<br />Suspendisse blandit erat ac lobortis pulvinar. Donec nunc leo, tempus sit amet accumsan in, sagittis sed odio. Pellentesque tristique felis sed purus pellentesque, ac dictum ex fringilla. Integer a tincidunt eros, non porttitor turpis. Sed gravida felis massa, in viverra massa aliquam sit amet. Etiam vitae dolor in velit sodales tristique id nec turpis. Proin sit amet urna sollicitudin, malesuada enim et, lacinia mi. Fusce nisl massa, efficitur sit amet elementum convallis, porttitor vel turpis. Fusce congue dui sit amet mollis pulvinar. Suspendisse vulputate leo quis nunc tincidunt, nec dictum risus congue.</p>
                        </div>
                    </BitPivotItem>
                </BitPivot>
                <br /><br /><br />
                <div><b>Styles</b> & <b>Classes</b>:</div>
                <br />
                <BitPivot Styles="@(new() { HeaderIcon = "color: tomato;", HeaderText = "color: purple;" })">
                    <BitPivotItem HeaderText="File" IconName="Info">
                        <div style="margin-top:10px">
                            <h1>Pivot #1</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Shared with me">
                        <div style="margin-top:15px">
                            <h2>Pivot #2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Recent">
                        <div style="margin-top:10px">
                            <h3>Pivot #3</h3>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.<br />Suspendisse blandit erat ac lobortis pulvinar. Donec nunc leo, tempus sit amet accumsan in, sagittis sed odio. Pellentesque tristique felis sed purus pellentesque, ac dictum ex fringilla. Integer a tincidunt eros, non porttitor turpis. Sed gravida felis massa, in viverra massa aliquam sit amet. Etiam vitae dolor in velit sodales tristique id nec turpis. Proin sit amet urna sollicitudin, malesuada enim et, lacinia mi. Fusce nisl massa, efficitur sit amet elementum convallis, porttitor vel turpis. Fusce congue dui sit amet mollis pulvinar. Suspendisse vulputate leo quis nunc tincidunt, nec dictum risus congue.</p>
                        </div>
                    </BitPivotItem>
                </BitPivot>
                <br />
                <BitPivot Classes="@(new() { ContentView = "custom-content-view", SelectedItem = "custom-selected-item", Header = "custom-header" })">
                    <BitPivotItem HeaderText="File">
                        <div style="margin-top:10px">
                            <h1>Pivot #1</h1>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Shared with me">
                        <div style="margin-top:15px">
                            <h2>Pivot #2</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra.</p>
                        </div>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Recent">
                        <div style="margin-top:10px">
                            <h3>Pivot #3</h3>
                            <p style="white-space:pre-wrap">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ligula quis orci accumsan pharetra. Fusce mattis sit amet enim vitae imperdiet. Maecenas hendrerit sapien nisl, quis consectetur mi bibendum vel. Pellentesque vel rhoncus quam, non bibendum arcu. Vivamus euismod tellus non felis finibus, dictum finibus eros elementum. Vivamus a massa sit amet leo volutpat blandit at vel tortor. Praesent posuere, nulla eu tempus accumsan, nibh elit rhoncus mauris, eu semper tellus risus et nisi. Duis felis ipsum, luctus eget ultrices sit amet, scelerisque quis metus.<br />Suspendisse blandit erat ac lobortis pulvinar. Donec nunc leo, tempus sit amet accumsan in, sagittis sed odio. Pellentesque tristique felis sed purus pellentesque, ac dictum ex fringilla. Integer a tincidunt eros, non porttitor turpis. Sed gravida felis massa, in viverra massa aliquam sit amet. Etiam vitae dolor in velit sodales tristique id nec turpis. Proin sit amet urna sollicitudin, malesuada enim et, lacinia mi. Fusce nisl massa, efficitur sit amet elementum convallis, porttitor vel turpis. Fusce congue dui sit amet mollis pulvinar. Suspendisse vulputate leo quis nunc tincidunt, nec dictum risus congue.</p>
                        </div>
                    </BitPivotItem>
                </BitPivot>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL" RazorCode="@example14RazorCode" Id="example14">
        <ExamplePreview>
            <BitPivot Dir="BitDir.Rtl" OverflowBehavior="@BitPivotOverflowBehavior.Scroll">
                <BitPivotItem HeaderText="اسناد" IconName="@BitIconName.Info">
                    <br />
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                    </p>
                </BitPivotItem>
                <BitPivotItem HeaderText="آخرین ها" IconName="@BitIconName.Info" ItemCount="8">
                    <br />
                    <p>
                        چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                    </p>
                </BitPivotItem>
                <BitPivotItem HeaderText="شخصی" IconName="@BitIconName.Info" ItemCount="6">
                    <br />
                    <p>
                        کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.
                    </p>
                </BitPivotItem>
                <BitPivotItem HeaderText="اخیرا" IconName="@BitIconName.Info" ItemCount="12">
                    <br />
                    <p>
                        در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                    </p>
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>

@code {
    private string? SelectedKey = "Foo";
    private BitPivotItem SelectedPivotItem = default!;
    private string OverridePivotSelectedKey = "1";
    private BitVisibility PivotItemVisibility;
    private bool PivotEnabled = true;
    private bool PivotItemEnabled = true;

    private void TogglePivotItemVisibility()
    {
        PivotItemVisibility = PivotItemVisibility == BitVisibility.Visible ? BitVisibility.Collapsed : BitVisibility.Visible;
    }
}
