@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-describedby="@AriaDescribedby"
     role="@RootElementRole">

    @if (IsMultiline)
    {
        <div class="multiline">
            <div class="content">
                <div class="icon" aria-hidden="true">
                    <i class="bit-icon bit-icon--@messageBarIcon.GetName()"></i>
                </div>

                <div class="text"
                     id="@LabelId"
                     role="@(Role is not null ? Role : GetTextRole())"
                     aria-live="@GetAnnouncementPriority()">
                    <span class="innertext">
                        <span>
                            @ChildContent
                        </span>
                    </span>
                </div>

                @if (HasDismiss)
                {
                    <div class="dismiss">
                        <button @onclick="OnDismiss"
                                type="button"
                                title="@(DismissButtonAriaLabel.HasValue() ? DismissButtonAriaLabel : null)"
                                aria-label="@(DismissButtonAriaLabel.HasValue() ? DismissButtonAriaLabel : null)">
                            <span>
                                <i class="bit-icon bit-icon--@DismissIconName.GetName()" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                }
            </div>

            @if (Actions is not null)
            {
                <div class="actions">@Actions</div>
            }
        </div>
    }
    else
    {
        <div class="singleline">
            <div class="content">
                <div class="icon" aria-hidden="true">
                    <i class="bit-icon bit-icon--@messageBarIcon"></i>
                </div>
                <div class="text @(ExpandSingleLine ? "open": string.Empty)"
                     id="@LabelId"
                     role="@(Role is not null ? Role : GetTextRole())"
                     aria-live="@GetAnnouncementPriority()">
                    <span class="innertext">
                        <span>
                            @ChildContent
                        </span>
                    </span>
                </div>

                @if (Actions is not null)
                {
                    <div class="actions">@Actions</div>
                }
                else if (Truncated)
                {
                    <div class="truncate">
                        <button @onclick="ToggleExpandSingleLine"
                                type="button"
                                aria-label="@(OverflowButtonAriaLabel.HasValue()? OverflowButtonAriaLabel : null)"
                                aria-expanded="@(ExpandSingleLine ? "true" : "false")">
                            <i class="bit-icon bit-icon--@((ExpandSingleLine ? BitIconName.DoubleChevronUp : BitIconName.DoubleChevronDown).GetName())" aria-hidden="true"></i>
                        </button>
                    </div>
                }

                @if (HasDismiss)
                {
                    <div class="dismiss">
                        <button @onclick="OnDismiss"
                                type="button"
                                title="@(DismissButtonAriaLabel.HasValue() ? DismissButtonAriaLabel : null)"
                                aria-label="@(DismissButtonAriaLabel.HasValue() ? DismissButtonAriaLabel : null)">
                            <span>
                                <i class="bit-icon bit-icon--@DismissIconName.GetName()" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                }
            </div>
        </div>
    }
</div>
