@page "/components/date-picker"

<ComponentDemo ComponentName="DatePicker" ComponentDescription="Picking a date can be tough without context. A BitDatePicker offers a drop-down control that’s optimized for picking a single date from a calendar view where contextual information like the day of the week or fullness of the calendar is important.
                                                        You can modify the calendar to provide additional context or to limit available dates."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="Default BitDatePicker" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <BitDatePicker Style="max-width: 300px"
                           AriaLabel="Select a date"
                           Placeholder="Select a date..." />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled BitDatePicker" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <BitDatePicker IsEnabled=false
                           Style="max-width: 300px"
                           AriaLabel="Select a date"
                           Placeholder="Select a date..." />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled BitDatePicker with label" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <BitDatePicker IsEnabled=false
                           Style="max-width: 300px"
                           Label="Start date"
                           AriaLabel="Select a date"
                           Placeholder="Select a date..." />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitDatePicker with week numbers" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <BitDatePicker Style="max-width: 300px"
                           ShowWeekNumbers=true
                           ShowMonthPickerAsOverlay=true
                           AriaLabel="Select a date"
                           Placeholder="Select a date..." />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Required BitDatePicker" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">Validation will happen when the <code>Submit</code> button is clicked.</div>
            @if (string.IsNullOrEmpty(SuccessMessage))
            {
                <EditForm Model="formValidationDatePickerModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                    <DataAnnotationsValidator />

                    <div class="validation-summary">
                        <ValidationSummary />
                    </div>
                    <div>
                        <BitDatePicker Style="max-width: 300px"
                                   @bind-Value="formValidationDatePickerModel.Date"
                                   AriaLabel="Select a date"
                                   Placeholder="Select a date..."
                                   Label="Date required (with label)" />

                        <ValidationMessage For="@(() => formValidationDatePickerModel.Date)" />
                    </div>
                    <br />
                    <BitButton ButtonType="BitButtonType.Submit">
                        Submit
                    </BitButton>
                </EditForm>
            }
            else
            {
                <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                    @SuccessMessage
                </BitMessageBar>
            }
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitDatePicker allowing text input" HTMLSourceCode="@example6HTMLCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-desc">
                The input field will open the BitDatePicker, and clicking the field again will dismiss the BitDatePicker and
                allow text input. Please note to use this feature, you must enter the date in the exact <code>FormatDate</code> provided for the BitDatePicker.
            </div>
            <BitDatePicker Style="max-width: 300px"
                           AllowTextInput=true
                           HighlightSelectedMonth=true
                           Label="Start date"
                           AriaLabel="Select a date" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitDatePicker with custom date formatting" HTMLSourceCode="@example7HTMLCode" ExampleId="example7">
        <ExamplePreview>
            <div class="example-desc">
                Applications can customize how dates are formatted and parsed. Formatted dates can be ambiguous, so the control will avoid parsing the formatted strings of dates selected using the UI when text input is allowed.
                In this example, we are formatting and parsing dates as dd=MM(yy).
            </div>
            <BitDatePicker Style="max-width: 300px"
                           AriaLabel="Select a date."
                           Placeholder="Select a date..."
                           FormatDate="dd=MM(yy)" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitDatePicker with date boundaries" HTMLSourceCode="@example8HTMLCode" ExampleId="example8">
        <ExamplePreview>
            <div class="example-desc">
                When date boundaries are set (via MinDate and MaxDate params) the BitDatePicker will not allow out-of-bounds dates to be picked or entered.
                <br />
                In the first example, the allowed dates are between 5 days after now and 5 days before now.
                <br />
                In the second example, the allowed dates are between 1 month after now and 2 months before now.
                <br />
                In the third example, the allowed dates are between 1 year after now and 5 years before now.
                <br />
            </div>
            <BitDatePicker Style="max-width: 300px"
                           AriaLabel="Select a date"
                           Placeholder="Select a date..."
                           MaxDate="DateTimeOffset.Now.AddDays(5)"
                           MinDate="DateTimeOffset.Now.AddDays(-5)" />
            <br />
            <BitDatePicker Style="max-width: 300px"
                           AriaLabel="Select a date"
                           Placeholder="Select a date..."
                           MaxDate="DateTimeOffset.Now.AddMonths(1)"
                           MinDate="DateTimeOffset.Now.AddMonths(-2)" />
            <br />
            <BitDatePicker Style="max-width: 300px"
                           AriaLabel="Select a date"
                           Placeholder="Select a date..."
                           MaxDate="DateTimeOffset.Now.AddYears(1)"
                           MinDate="DateTimeOffset.Now.AddYears(-5)" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitDatePicker with a custom label" HTMLSourceCode="@example9HTMLCode" CSharpSourceCode="@example9CSharpCode" ExampleId="example9">
        <ExamplePreview>
            <div class="example-desc">
                In this example, the callout of the BitDatePicker would be opened and closed using an icon button which is customely located in the label.
                This functionality has been implemented using a public API provided in the BitDatePicker.
            </div>
            <BitDatePicker @ref="datePicker"
                           Style="max-width: 300px"
                           AriaLabel="Select a date"
                           Placeholder="Select a date...">
                <LabelFragment>
                    Custom label <BitIconButton IconName="BitIconName.Calendar" OnClick="OpenCallout"></BitIconButton>
                </LabelFragment>
            </BitDatePicker>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitDatePicker with value two-way binding" HTMLSourceCode="@example10HTMLCode" CSharpSourceCode="@example10CSharpCode" ExampleId="example10">
        <ExamplePreview>
            <BitDatePicker Style="max-width: 300px"
                           @bind-Value="@selectedDate"
                           AriaLabel="Select a date"
                           Placeholder="Select a date..." />
            <BitLabel>Selected date: @selectedDate.ToString()</BitLabel>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Jalali BitDatePicker" HTMLSourceCode="@example11HTMLCode" ExampleId="example11">
        <ExamplePreview>
            <div class="example-desc">In this sample, you can see the usage of CultureInfoHelper class to specify a particular format for the BitDatePicker. You can also provide your own class for any custom culture of your interest. For more information, you can visit <a href="https://github.com/bitfoundation/bitplatform/blob/develop/src/BlazorUI/Bit.BlazorUI/Utils/CultureInfoHelper.cs">here</a>.</div>
            <div class="example-desc">Please note to reduce the download size of this page, the sample is not implemented here. In order to use this example, it's required to set InvariantGlobalization to false in the project setting, which causes an extra download size for the website.</div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Jalali BitDatePicker with Finglish names" HTMLSourceCode="@example12HTMLCode" ExampleId="example12">
        <ExamplePreview>
            <div class="example-desc">In this sample, you can see the usage of CultureInfoHelper class to specify a particular format for the BitDatePicker. You can also provide your own class for any custom culture of your interest. For more information, you can visit <a href="https://github.com/bitfoundation/bitplatform/blob/develop/src/BlazorUI/Bit.BlazorUI/Utils/CultureInfoHelper.cs">here</a>.</div>
            <div class="example-desc">Please note to reduce the download size of this page, the sample is not implemented here. In order to use this example, it's required to set InvariantGlobalization to false in the project setting, which causes an extra download size for the website.</div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitDatePicker with a custom style for the day cell" HTMLSourceCode="@example13HTMLCode" ExampleId="example13">
        <ExamplePreview>
            <div class="example-desc">
                In this sample, you can see how to implement a custom template for day cells of the BitDatePicker which have some specific style class for the weekend.
            </div>
            <BitDatePicker Style="max-width: 300px"
                           AriaLabel="Select a date"
                           Placeholder="Select a date...">
                <DayCellTemplate>
                    <span class="@(context.DayOfWeek == DayOfWeek.Sunday ? "weekend-cell" : null)">
                        @context.Day
                    </span>
                </DayCellTemplate>
            </BitDatePicker>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitDatePicker with a custom template for the day, month, and year cell" HTMLSourceCode="@example14HTMLCode" CSharpSourceCode="@example14CSharpCode" ExampleId="example14">
        <ExamplePreview>
            <div class="example-desc">
                In this sample, you can see how to implement a totally custom template for day, month, and year cells of the BitDatePicker which will display a discount badge for some days, a Xmas badge for the first month of the year, and a AC suffix for years.
            </div>
            <div class="date-picker-wrapper">
                <BitDatePicker Style="max-width: 300px"
                               AriaLabel="Select a date"
                               Placeholder="Select a date...">
                    <DayCellTemplate>
                        <span class="custom-day-cell">
                            @context.Day

                            @if (context.Day % 5 is 0)
                            {
                                <span class="discount-badge">off</span>
                            }
                        </span>
                    </DayCellTemplate>
                    <MonthCellTemplate>
                        <span>
                            @this.Culture.DateTimeFormat.GetAbbreviatedMonthName(context.Month)

                            @if (context.Month == 1)
                            {
                                <span class="discount-badge">Xmas</span>
                            }
                        </span>
                    </MonthCellTemplate>
                    <YearCellTemplate>
                        <span style="position: relative">
                            @context
                            <span class="year-suffix">AC</span>
                        </span>
                    </YearCellTemplate>
                </BitDatePicker>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>