@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="@HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     role="group"
     aria-label="@GetRootElAriaLabel()">
    <div class="bit-clr-pkr-panel">
        <div @ref="SaturationPickerRef"
             @onmousedown="OnSaturationPickerMouseDown"
             class="bit-clr-pkr-rectangle"
             style=@($"background-color: {saturationPickerBackgroundRgbCss}")
             role="slider"
             tabindex="0"
             aria-valuetext="@($"Saturation {color.Hsv.Saturation} brightness {color.Hsv.Value}")"
             aria-valuenow="@(true ? color.Hsv.Saturation : color.Hsv.Value)"
             aria-valuemin="0"
             aria-valuemax="100"
             aria-label="Saturation and brightness"
             aria-describedby="@ColorRectangleDescriptionId">
            <div class="description" id="@ColorRectangleDescriptionId">Use left and right arrow keys to set saturation. Use up and down arrow keys to set brightness.</div>
            <div class="bit-clr-pkr-light"></div>
            <div class="bit-clr-pkr-dark"></div>
            <div class="bit-clr-pkr-thumb" style=@($"top: {saturationPickerThumbPosition?.Top}px; left: {saturationPickerThumbPosition?.Left}px; background: {Rgb};")>
            </div>
        </div>

        <div class="bit-clr-pkr-flex-container">
            <div class="bit-clr-pkr-slider-container">
                <div class="bit-clr-pkr-slider hue-slider">
                    <input type="range"
                           role="slider"
                           tabindex="0"
                           aria-label="Hue"
                           min="0"
                           max="359"
                           aria-valuetext="@hue"
                           aria-valuenow="@hue"
                           aria-valuemin="0"
                           aria-valuemax="359"
                           value="@hue"
                           @oninput="PickMainColor">
                </div>

                @if (ShowAlphaSlider)
                {
                    <div class="bit-clr-pkr-slider alpha-slider" style=@($"background: linear-gradient(to left,{Rgb} 0%, transparent 100%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQYV2N89erVfwY0ICYmxoguxjgUFKI7GsTH5m4M3w1ChQC1/Ca8i2n1WgAAAABJRU5ErkJggg==);")>
                        <input type="range"
                           role="slider"
                           tabindex="0"
                           aria-label="Alpha"
                           min="0"
                           max="100"
                           aria-valuetext="@(color.Alpha * 100)"
                           aria-valuenow="@(color.Alpha * 100)"
                           aria-valuemin="0"
                           aria-valuemax="100"
                           value="@(color.Alpha * 100)"
                           @oninput="PickAlphaColor">
                    </div>
                }
            </div>
            @if (ShowPreview)
            {
                <div class="preview-box" style=@($"background: {(ShowAlphaSlider ? color.Rgba : color.Rgb)}")></div>
            }
        </div>
    </div>
</div>  