@inherits AppComponentBase

<div>
    <BitModal @bind-IsOpen="isOpen" FullSize>
        <BitStack FillContent Class="container">
            <BitStack Horizontal AutoHeight VerticalAlign="BitAlignment.Center">
                <BitText Typography="BitTypography.H3">Diagnostic</BitText>
                <BitSpacer />
                <BitButton IconOnly
                           Color="BitColor.Info"
                           Variant="BitVariant.Text"
                           OnClick="() => isOpen = false"
                           IconName="@BitIconName.ChromeClose" />
            </BitStack>

            <BitStack Horizontal FitHeight>
                <BitSearchBox Immediate DebounceTime="500" OnChange="HandleOnSearchChange" />
                <BitDropdown FitWidth
                             Items="logLevelItems"
                             DefaultValue="LogLevel.Information"
                             OnChange="HandleOnLogLevelFilter"
                             TItem="BitDropdownItem<LogLevel>" TValue="LogLevel" />
            </BitStack>

            <BitBasicList @ref="logStackRef"
                          Style="height:unset"
                          EnableVirtualization
                          Items="filteredLogs.Indexed().ToArray()">
                <EmptyContent>nothing to show!</EmptyContent>
                <RowTemplate Context="logIndex">
                    <BitStack @key="logIndex.index.ToString()" Horizontal AutoHeight>
                        <BitText Style="min-width:2rem">@($"{logIndex.index + 1}.")</BitText>
                        <BitButton IconOnly
                                   Title="Copy"
                                   Color="BitColor.Info"
                                   Variant="BitVariant.Text"
                                   IconName="@BitIconName.Copy"
                                   OnClick="() => CopyException(logIndex.item)" />
                        <BitText Style="white-space:nowrap" Color="GetColor(logIndex.item.Level)">@logIndex.item.Message</BitText>
                    </BitStack>
                    <br />
                </RowTemplate>
            </BitBasicList>
        </BitStack>

        <BitButton IconOnly
                   OnClick="GoTop"
                   Color="BitColor.Info"
                   Class="go-top-button"
                   Variant="BitVariant.Text"
                   IconName="@BitIconName.Up" />
    </BitModal>
</div>