@*+:cnd:noEmit*@
@inherits AppComponentBase;

<section>
    <BitNavBar TItem="BitNavBarOption" Style="width:100%">

        <BitNavBarOption Text="@Localizer[nameof(AppStrings.Home)]" IconName="@BitIconName.Home" Url="@PageUrls.Home" />

        @*#if (sample == true)*@
        <AuthorizeView Policy="@AppFeatures.Todo.ManageTodo">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Todo)]" IconName="@BitIconName.ToDoLogoOutline" Url="@PageUrls.Todo" />
        </AuthorizeView>
        @*#endif*@

        @*#if (module == "Admin")*@
        <AuthorizeView Policy="@AppFeatures.AdminPanel.Dashboard">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Dashboard)]" IconName="@BitIconName.BarChartVerticalFill" Url="@PageUrls.Dashboard" />
        </AuthorizeView>
        <AuthorizeView Policy="@AppFeatures.AdminPanel.ManageProductCatalog">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Categories)]" IconName="@BitIconName.BuildQueue" Url="@PageUrls.Categories" />
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Products)]" IconName="@BitIconName.Product" Url="@PageUrls.Products" />
        </AuthorizeView>
        @*#endif*@

        <BitNavBarOption Text="@Localizer[nameof(AppStrings.Terms)]" IconName="@BitIconName.EntityExtraction" Url="@PageUrls.Terms" />

        @*#if (module != "Admin" && sample != true)*@
        <BitNavBarOption Text="@Localizer[nameof(AppStrings.About)]" IconName="@BitIconName.Info" Url="@PageUrls.About" />
        @*#endif*@

    </BitNavBar>
</section>