@*+:cnd:noEmit*@
@inherits AppComponentBase;

<section>
    <BitNavBar TItem="BitNavBarOption" Style="width:100%">

        <BitNavBarOption Text="@Localizer[nameof(AppStrings.Home)]" IconName="@BitIconName.Home" Url="@Urls.HomePage" />

        @*#if (sample == true)*@
        <AuthorizeView Policy="@AppFeatures.Todo.ManageTodo">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Todo)]" IconName="@BitIconName.ToDoLogoOutline" Url="@Urls.TodoPage" />
        </AuthorizeView>
        @*#endif*@

        @*#if (sample == Admin)*@
        <AuthorizeView Policy="@AppFeatures.AdminPanel.Dashboard">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Dashboard)]" IconName="@BitIconName.BarChartVerticalFill" Url="@Urls.DashboardPage" />
        </AuthorizeView>
        <AuthorizeView Policy="@AppFeatures.AdminPanel.ManageProductCatalog">
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Categories)]" IconName="@BitIconName.BuildQueue" Url="@Urls.CategoriesPage" />
            <BitNavBarOption Text="@Localizer[nameof(AppStrings.Products)]" IconName="@BitIconName.Product" Url="@Urls.ProductsPage" />
        </AuthorizeView>
        @*#endif*@

        <BitNavBarOption Text="@Localizer[nameof(AppStrings.Terms)]" IconName="@BitIconName.EntityExtraction" Url="@Urls.TermsPage" />

        @*#if (module != "Admin" && sample != true)*@
        <BitNavBarOption Text="@Localizer[nameof(AppStrings.About)]" IconName="@BitIconName.Info" Url="@Urls.AboutPage" />
        @*#endif*@

    </BitNavBar>
</section>