@inherits AppComponentBase;

@if (IsMenuOpen)
{
    <div class="menu-overlay" @onclick=CloseMenu></div>
}

@{
    var imageUrl = user.ProfileImageName is null ? null : $"{profileImageUrl}&file={user.ProfileImageName}";
}

<section class="@(IsMenuOpen ? null : "closed")">
    <BitCard Class="panel">
        <BitStack>
            <BitPersona Class="persona"
                        PrimaryText="@user.FullName"
                        SecondaryText="@user.DisplayName"
                        Size=@BitPersonaSize.Size48
                        Presence="BitPersonaPresence.Online"
                        ImageUrl="@imageUrl"
                        OnImageClick=GoToProfile>
                <ImageOverlayTemplate>
                    <span>@Localizer[nameof(AppStrings.Edit)]</span>
                </ImageOverlayTemplate>
            </BitPersona>

            <BitSeparator />

            <BitNav Items="navItems" FullWidth IconOnly
                    DefaultSelectedItem="navItems[0]"
                    Styles="@(new() { SelectedItemContainer = "background-color: var(--bit-clr-bg-sec-active)" })"
                    OnItemClick="(BitNavItem item) => HandleNavItemClick(item)">
            </BitNav>

            <BitSpacer />

            <BitActionButton IconName="@BitIconName.SignOut" OnClick="DoSignOut" Style="width:fit-content">
                @Localizer[nameof(AppStrings.SignOut)]
            </BitActionButton>
        </BitStack>
    </BitCard>
</section>

<SignOutConfirmModal @bind-IsOpen=isSignOutModalOpen></SignOutConfirmModal>