<CascadingValue Value="CurrentDir">
    <CascadingValue Value="CurrentTheme" Name="@Parameters.CurrentTheme">
        <CascadingValue Value="CurrentUrl" Name="@Parameters.CurrentUrl">
            <CascadingValue Value="CurrentRouteData" Name="@Parameters.CurrentRouteData">
                <CascadingValue Value="IsAuthenticated" Name="@Parameters.IsAuthenticated">
                    <CascadingValue Value="IsCrossLayoutPage" Name="@Parameters.IsCrossLayoutPage">
                        <div class="layout">
                            <div class="inset-top"></div>
                            <div class="inset-center" dir="@CurrentDir?.ToString().ToLower()">
                                <div class="inset-left"></div>
                                <div class="inset-main">
                                    <AppErrorBoundary>
                                        @ChildContent
                                    </AppErrorBoundary>
                                </div>
                                <div class="inset-right"></div>
                            </div>
                            <div class="inset-bottom"></div>
                        </div>
                    </CascadingValue>
                </CascadingValue>
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>