@namespace Bit.BlazorUI
@inherits BitInputBase<DateTimeOffset?>

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    @if (LabelTemplate is not null)
    {
        <label id="@_labelId" for="@_textFieldId">
            @LabelTemplate
        </label>
    }
    else if (Label.HasValue())
    {
        <label class="bit-dtp-lbl" id="@_labelId" for="@_textFieldId">
            @Label
        </label>
    }

    <div class="bit-dtp-wrp" id="@_datePickerId" aria-owns="@(IsOpen ? _calloutId : null)" @onclick="HandleOnClick">
        <div class="bit-dtp-icn">
            <input @attributes="InputHtmlAttributes"
                   @onfocus="@HandleOnFocus"
                   @oninput="@HandleOnChange"
                   @onfocusin="@HandleOnFocusIn"
                   @onfocusout="@HandleOnFocusOut"
                   type="text"
                   role="combobox"
                   id="@_textFieldId"
                   tabindex="@TabIndex"
                   aria-haspopup="dialog"
                   aria-label="@AriaLabel"
                   placeholder="@Placeholder"
                   value="@CurrentValueAsString"
                   disabled=@(IsEnabled is false)
                   readonly=@(AllowTextInput is false)
                   aria-expanded="@(IsOpen ? "true" : "false")"
                   aria-controls="@(IsOpen ? _calloutId : null)"
                   aria-labelledby="@((LabelTemplate is not null || Label.HasValue()) ? _labelId : null)"
                   class="bit-dtp-inp@(AllowTextInput ? " bit-dtp-ein" : null)" />
            @if (IconTemplate is not null)
            {
                @IconTemplate
            }
            else
            {
                <i class="bit-dtp-ico bit-icon bit-icon--@IconName" aria-hidden="true" />
            }
        </div>
    </div>

    <div @onclick="CloseCallout"
         style="display:@(IsOpen ? "block" : "none")"
         class="bit-dtp-ovl"></div>

    <div class="bit-dtp-cal" id="@_calloutId">
        <div class="bit-dtp-cac" role="dialog" @attributes=@CalloutHtmlAttributes aria-label="@CalloutAriaLabel">
            <div class="bit-dtp-grp" role="group" aria-label="">
                <div class="bit-dtp-sdt" aria-live="polite" aria-atomic="true">Selected date @CurrentValueAsString</div>
                @if ((_showMonthPickerAsOverlayInternal && _isMonthPickerOverlayOnTop is false) || _showMonthPickerAsOverlayInternal is false)
                {
                    <div class="bit-dtp-dwp">
                        <div class="bit-dtp-pkh">
                            @if (_showMonthPickerAsOverlayInternal)
                            {
                                <button @onclick="@ToggleMonthPickerAsOverlay"
                                        tabindex="0"
                                        type="button"
                                        aria-live="polite"
                                        aria-atomic="true"
                                        class="bit-dtp-ptb"
                                        aria-label="@($"{_monthTitle}, change month")">
                                    @_monthTitle
                                </button>
                            }
                            else
                            {
                                <div class="bit-dtp-pkt"
                                     aria-live="polite"
                                     aria-atomic="true"
                                     tabindex="-1">
                                    @_monthTitle
                                </div>
                            }
                            <div class="bit-dtp-nbc">
                                <button @onclick="() => HandleMonthChange(false)"
                                        type="button"
                                        class="bit-dtp-nbt"
                                        title="@GoToPrevMonthTitle"
                                        disabled="@(CanChangeMonth(false) is false)"
                                        aria-disabled="@(CanChangeMonth(false) is false)">
                                    <i class="bit-icon bit-icon--Up" aria-hidden="true" />
                                </button>
                                @if (_showMonthPickerAsOverlayInternal && ShowGoToToday)
                                {
                                    <button @onclick="HandleGoToToday"
                                            type="button"
                                            class="bit-dtp-gtb"
                                            title="@GoToTodayTitle"
                                            disabled="@IsGoTodayButtonDisabled()">
                                        <i class="bit-icon bit-icon--GotoToday" aria-hidden="true" />
                                    </button>
                                }
                                <button @onclick="() => HandleMonthChange(true)"
                                        type="button"
                                        class="bit-dtp-nbt"
                                        title="@GoToNextMonthTitle"
                                        disabled="@(CanChangeMonth(true) is false)"
                                        aria-disabled="@(CanChangeMonth(true) is false)">
                                    <i class="bit-icon bit-icon--Down" aria-hidden="true" />
                                </button>
                                @if (ShowCloseButton)
                                {
                                    <button @onclick="CloseCallout"
                                            type="button"
                                            class="bit-dtp-nbt"
                                            title="Close date picker">
                                        <i class="bit-icon bit-icon--Cancel" aria-hidden="true" />
                                    </button>
                                }
                            </div>
                        </div>
                        <div class="bit-dtp-dgh">
                            @if (ShowWeekNumbers)
                            {
                                <div class="bit-dtp-wlb"></div>
                            }

                            @for (var index = 0; index < 7; index++)
                            {
                                var dayOfWeekName = Culture.DateTimeFormat.GetShortestDayName(GetDayOfWeek(index));
                                <div class="bit-dtp-wlb" scope="col" title="@dayOfWeekName">@dayOfWeekName[0]</div>
                            }
                        </div>
                        @for (var week = 0; week < 6; week++)
                        {
                            //to ignore the last empty week out of month || to ignore the first whole week out of month
                            if (_daysOfCurrentMonth[week, 0] == 0 || (week == 0 && _daysOfCurrentMonth[week, 6] > 20)) continue;

                            <div class="bit-dtp-dgr">
                                @if (ShowWeekNumbers)
                                {
                                    var weekNumber = GetWeekNumber(week);
                                    <div class="bit-dtp-wnm"
                                         title="@($"Week number {weekNumber}")"
                                         aria-label="@($"Week number {weekNumber}")"
                                         scope="row">
                                        @weekNumber
                                    </div>
                                }

                                @for (var day = 0; day < 7; day++)
                                {
                                    var w = week;
                                    var d = day;
                                    var disabled = IsWeekDayOutOfMinAndMaxDate(d, w);
                                    <button @onclick="() => SelectDate(d, w)"
                                            type="button"
                                            role="gridcell"
                                            class="bit-dtp-dbt@(GetDateButtonCssClass(d, w))"
                                            aria-readonly="true"
                                            disabled="@disabled"
                                            aria-disabled="@disabled"
                                            tabindex="@(week == _selectedDateWeek && day == _selectedDateDayOfWeek ? 0 : -1)"
                                            aria-selected="@(week == _selectedDateWeek && day == _selectedDateDayOfWeek ? "true" : "false")">
                                        @if (DayCellTemplate is not null)
                                        {
                                            @DayCellTemplate(GetDateTimeOfDayCell(d, w))
                                        }
                                        else
                                        {
                                            @_daysOfCurrentMonth[w, d]
                                        }
                                    </button>
                                }
                            </div>
                        }

                        @if (ShowTimePicker)
                        {
                            <div class="bit-dtp-tgp">
                                <div class="bit-dtp-twp">
                                    <input @ref="_inputTimeHourRef"
                                           @bind="@_timeHourView"
                                           @bind:event="oninput"
                                           @onfocus="HandleOnTimeHourFocus"
                                           min="0"
                                           max="@(TimeFormat == BitTimeFormat.TwelveHours ? "12" : "23")"
                                           type="number"
                                           inputmode="numeric"
                                           class="bit-dtp-tin"
                                           autocomplete="@BitAutoCompleteValue.NewPassword" />
                                    <span class="bit-dtp-tdv">:</span>
                                    <input @ref="_inputTimeMinuteRef"
                                           @bind="@_timeMinuteView"
                                           @bind:event="oninput"
                                           @onfocus="HandleOnTimeMinuteFocus"
                                           min="0"
                                           max="59"
                                           type="number"
                                           inputmode="numeric"
                                           class="bit-dtp-tin"
                                           autocomplete="@BitAutoCompleteValue.NewPassword" />
                                </div>

                                @if (TimeFormat == BitTimeFormat.TwelveHours)
                                {
                                    <div class="bit-dtp-apc">
                                        <button @onclick="ToggleAmPmTime"
                                                type="button"
                                                class="bit-dtp-apb"
                                                disabled="@(_timeHour < 12)">
                                            @Culture.DateTimeFormat.AMDesignator
                                        </button>
                                        <button @onclick="ToggleAmPmTime"
                                                type="button"
                                                class="bit-dtp-apb"
                                                disabled="@(_timeHour >= 12)">
                                            @Culture.DateTimeFormat.PMDesignator
                                        </button>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }

                @if (_showMonthPickerAsOverlayInternal is false)
                {
                    <div class="bit-dtp-dvd"></div>
                }

                @if ((_showMonthPickerAsOverlayInternal && _isMonthPickerOverlayOnTop) || _showMonthPickerAsOverlayInternal is false)
                {
                    <div class="bit-dtp-mwp">
                        @if (_showMonthPicker)
                        {
                            var prevDisabled = CanChangeYear(false) is false;
                            var nextDisabled = CanChangeYear(true) is false;
                            <div class="bit-dtp-pkh">
                                <button @onclick="ToggleBetweenMonthAndYearPicker"
                                        tabindex="0"
                                        type="button"
                                        aria-atomic="true"
                                        aria-live="polite"
                                        class="bit-dtp-ptb"
                                        aria-label="@($"{_displayYear}, change year")">
                                    @_displayYear
                                </button>
                                <div class="bit-dtp-nbc">
                                    <button @onclick="() => HandleYearChange(false)"
                                            type="button"
                                            class="bit-dtp-nbt"
                                            title="Go to previous year @(_displayYear - 1)"
                                            disabled="@prevDisabled"
                                            aria-disabled="@prevDisabled">
                                        <i class="bit-icon bit-icon--Up" aria-hidden="true" />
                                    </button>
                                    @if (ShowGoToToday)
                                    {
                                        <button @onclick="HandleGoToToday"
                                                type="button"
                                                class="bit-dtp-gtb"
                                                title="@GoToTodayTitle"
                                                disabled="@IsGoTodayButtonDisabled()">
                                            <i class="bit-icon bit-icon--GotoToday" aria-hidden="true" />
                                        </button>
                                    }
                                    <button @onclick="() => HandleYearChange(true)"
                                            type="button"
                                            class="bit-dtp-nbt"
                                            title="Go to next year @(_displayYear + 1)"
                                            aria-disabled="@nextDisabled"
                                            disabled="@nextDisabled">
                                        <i class="bit-icon bit-icon--Down" aria-hidden="true" />
                                    </button>
                                </div>
                            </div>
                            <div class="bit-dtp-pkc" role="grid" aria-label="@_displayYear">
                                @for (var rowIndex = 0; rowIndex <= 2; rowIndex++)
                                {
                                    <div class="bit-dtp-pkr" role="row">
                                        @for (var cellIndex = 1; cellIndex <= 4; cellIndex++)
                                        {
                                            var month = (rowIndex * 4) + cellIndex;
                                            var monthName = Culture.DateTimeFormat.GetMonthName(month);
                                            var disabled = IsMonthOutOfMinAndMaxDate(month);
                                            var selected = month == _currentMonth;
                                            <button @onclick="() => SelectMonth(month)"
                                                    type="button"
                                                    role="gridcell"
                                                    title="@monthName"
                                                    aria-readonly="true"
                                                    aria-label="@monthName"
                                                    class="bit-dtp-pkb@(GetMonthCellCssClass(month))"
                                                    disabled="@disabled"
                                                    tabindex="@(selected ? 0 : -1)"
                                                    aria-disabled="@disabled"
                                                    aria-selected="@(selected ? "true" : "false")">
                                                @if (MonthCellTemplate is not null)
                                                {
                                                    @MonthCellTemplate(GetDateTimeOfMonthCell(month))
                                                }
                                                else
                                                {
                                                    @Culture.DateTimeFormat.GetAbbreviatedMonthName(month)
                                                }
                                            </button>
                                        }
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            var prevDisabled = CanChangeYearRange(false) is false;
                            var nextDisabled = CanChangeYearRange(true) is false;
                            <div class="bit-dtp-pkh">
                                <button @onclick="ToggleBetweenMonthAndYearPicker"
                                        type="button"
                                        aria-atomic="true"
                                        aria-live="polite"
                                        class="bit-dtp-ptb"
                                        aria-label="@($"{_yearPickerStartYear} - {_yearPickerEndYear}, change month")">
                                    @_yearPickerStartYear - @_yearPickerEndYear
                                </button>
                                <div class="bit-dtp-nbc">
                                    <button @onclick="() => HandleYearRangeChange(false)"
                                            type="button"
                                            class="bit-dtp-nbt"
                                            disabled="@prevDisabled"
                                            aria-disabled="@prevDisabled"
                                            title="previous year range @(_yearPickerStartYear - 12) - @(_yearPickerStartYear - 1)">
                                        <i class="bit-icon bit-icon--Up" aria-hidden="true" />
                                    </button>
                                    @if (ShowGoToToday)
                                    {
                                        <button @onclick="HandleGoToToday"
                                                type="button"
                                                class="bit-dtp-gtb"
                                                title="@GoToTodayTitle"
                                                disabled="@IsGoTodayButtonDisabled()">
                                            <i class="bit-icon bit-icon--GotoToday" aria-hidden="true" />
                                        </button>
                                    }
                                    <button @onclick="() => HandleYearRangeChange(true)"
                                            type="button"
                                            class="bit-dtp-nbt"
                                            disabled="@nextDisabled"
                                            aria-disabled="@nextDisabled"
                                            title="next year range @(_yearPickerStartYear + 12) - @(_yearPickerEndYear + 12)">
                                        <i class="bit-icon bit-icon--Down" aria-hidden="true" />
                                    </button>
                                </div>
                            </div>
                            <div class="bit-dtp-pkc" role="grid" aria-label="@_yearPickerStartYear - @_yearPickerEndYear">
                                @for (var rowIndex = 0; rowIndex <= 2; rowIndex++)
                                {
                                    <div class="bit-dtp-pkr" role="row">
                                        @for (var cellIndex = 0; cellIndex <= 3; cellIndex++)
                                        {
                                            var year = _yearPickerStartYear + (rowIndex * 4) + cellIndex;
                                            var disabled = IsYearOutOfMinAndMaxDate(year);
                                            var selected = year == _currentYear;
                                            <button @onclick="() => SelectYear(year)"
                                                    type="button"
                                                    role="gridcell"
                                                    class="bit-dtp-pkb"
                                                    aria-readonly="true"
                                                    disabled="@disabled"
                                                    tabindex="@(selected ? 0 : -1)"
                                                    aria-disabled="@disabled"
                                                    aria-selected="@(selected ? "true" : "false")">
                                                @if (YearCellTemplate is not null)
                                                {
                                                    @YearCellTemplate(year)
                                                }
                                                else
                                                {
                                                    @year
                                                }
                                            </button>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>