@namespace Bit.BlazorUI
@inherits BitInputBase<DateTimeOffset?>

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    @if (LabelTemplate is not null)
    {
        <label class="bit-dtp-lbl" id="@_labelId" for="@_textFieldId">
            @LabelTemplate
        </label>
    }
    else if (Label.HasValue())
    {
        <label class="bit-dtp-lbl" id="@_labelId" for="@_textFieldId">
            @Label
        </label>
    }
    <div class="bit-dtp-wrp" id="@_wrapperId" aria-owns="@(IsOpen ? _calloutId : null)" @onclick="HandleOnClick">
        <div class="bit-dtp-fld-grp @(AllowTextInput ? "bit-dtp-edt-inp" : null)">
            <input @attributes="InputHtmlAttributes"
                   @onfocus="@HandleOnFocus"
                   @oninput="@HandleOnChange"
                   @onfocusin="@HandleOnFocusIn"
                   @onfocusout="@HandleOnFocusOut"
                   type="text"
                   role="combobox"
                   id="@_textFieldId"
                   tabindex="@TabIndex"
                   aria-haspopup="dialog"
                   aria-label="@AriaLabel"
                   placeholder="@Placeholder"
                   value="@CurrentValueAsString"
                   disabled=@(IsEnabled is false)
                   readonly=@(AllowTextInput is false)
                   aria-expanded="@(IsOpen ? "true" : "false")"
                   aria-controls="@(IsOpen ? _calloutId : null)"
                   aria-labelledby="@(Label.HasValue() ? _labelId : null)" />

            @if (IconTemplate is not null)
            {
                @IconTemplate
            }
            else
            {
                <i class="bit-icon bit-icon--@IconName" aria-hidden="true" />
            }
        </div>
    </div>

    <div class="bit-dtp-ovl" id="@_overlayId" @onclick="CloseCallout"></div>

    <div class="bit-dtp-cal@(IsResponsive ? " bit-dtp-rsp" : string.Empty)" id="@_calloutId">
        <div class="bit-dtp-mcal" role="dialog" @attributes=@CalloutHtmlAttributes aria-label="@PickerAriaLabel">
            <div aria-hidden="true" tabindex="0" style="pointer-events: none; position: fixed;"></div>
            <div class="bit-dtp-grp" role="group" aria-label="">
                <div class="bit-dtp-sd" aria-live="polite" aria-atomic="true">Selected date @CurrentValueAsString</div>
                @if ((_showMonthPickerAsOverlayInternal && _isMonthPickerOverlayOnTop is false) || _showMonthPickerAsOverlayInternal is false)
                {
                    <div class="bit-dtp-dwp">
                        <div class="bit-dtp-pkr-hdr">
                            @if (_showMonthPickerAsOverlayInternal)
                            {
                                <button @onclick="@ToggleMonthPickerAsOverlay"
                                        tabindex="0"
                                        type="button"
                                        aria-live="polite"
                                        aria-atomic="true"
                                        class="bit-dtp-pkr-tit"
                                        aria-label="@($"{_monthTitle}, change month")">
                                    <span id="@_monthTitleId">@_monthTitle</span>
                                </button>
                            }
                            else
                            {
                                <div class="bit-dtp-pkr-tit"
                                     aria-live="polite"
                                     aria-atomic="true"
                                     tabindex="-1">
                                    <span id="@_monthTitleId">@_monthTitle</span>
                                </div>
                            }
                            <div class="bit-dtp-nbc">
                                <button @onclick="() => HandleOnMonthChange(ChangeDirection.Previous)"
                                        type="button"
                                        class="bit-dtp-nbt"
                                        title="@GoToPrevMonthTitle"
                                        disabled="@(CanMonthChange(ChangeDirection.Previous) is false)"
                                        aria-disabled="@(CanMonthChange(ChangeDirection.Previous) is false)">
                                    <i class="bit-icon bit-icon--Up" aria-hidden="true" />
                                </button>
                                @if (_showMonthPickerAsOverlayInternal && ShowGoToToday)
                                {
                                    <button @onclick="HandleGoToToday"
                                            type="button"
                                            class="bit-dtp-gtb"
                                            title="@GoToToday"
                                            disabled="@IsGoTodayDisabled()">
                                        <i class="bit-icon bit-icon--GotoToday" aria-hidden="true" />
                                    </button>
                                }
                                <button @onclick="() => HandleOnMonthChange(ChangeDirection.Next)"
                                        type="button"
                                        class="bit-dtp-nbt"
                                        title="@GoToNextMonthTitle"
                                        disabled="@(CanMonthChange(ChangeDirection.Next) is false)"
                                        aria-disabled="@(CanMonthChange(ChangeDirection.Next) is false)">
                                    <i class="bit-icon bit-icon--Down" aria-hidden="true" />
                                </button>
                                @if (ShowCloseButton)
                                {
                                    <button @onclick="CloseCallout"
                                            type="button"
                                            class="bit-dtp-nbt bit-dtp-cbtn"
                                            title="Close date picker">
                                        <i class="bit-icon bit-icon--Cancel" aria-hidden="true" />
                                    </button>
                                }
                            </div>
                        </div>
                        <table role="grid"
                               aria-readonly="true"
                               aria-multiselectable="false"
                               aria-labelledby="@_monthTitleId"
                               aria-activedescendant="@_activeDescendantId">
                            <tbody>
                                <tr>
                                    @if (ShowWeekNumbers)
                                    {
                                        <th class="bit-dtp-wd-lbl"></th>
                                    }

                                    @for (var index = 0; index < 7; index++)
                                    {
                                        <th class="bit-dtp-wd-lbl" scope="col" title="@Culture.DateTimeFormat.GetShortestDayName(GetDayOfWeek(index))">
                                            @Culture.DateTimeFormat.GetShortestDayName(GetDayOfWeek(index))[0]
                                        </th>
                                    }
                                </tr>
                                @for (var week = 0; week < 6; week++)
                                {
                                    //to ignore the last empty week out of month || to ignore the first whole week out of month
                                    if (_currentMonthCalendar[week, 0] == 0 || (week == 0 && _currentMonthCalendar[week, 6] > 20))
                                    {
                                        continue;
                                    }

                                    <tr>
                                        @if (ShowWeekNumbers)
                                        {
                                            <th class="bit-dtp-wnumc"
                                                title="@($"Week number {GetWeekNumber(week)}")"
                                                aria-label="@($"Week number {GetWeekNumber(week)}")"
                                                scope="row">
                                                <span>@GetWeekNumber(week)</span>
                                            </th>
                                        }

                                        @for (var day = 0; day < 7; day++)
                                        {
                                            var localWeek = week;
                                            var localDay = day;
                                            <td class="bit-dtp-dc @GetDateElClass(localDay, localWeek)" role="presentation">
                                                <button @onclick="() => SelectDate(localDay, localWeek)"
                                                        type="button"
                                                        role="gridcell"
                                                        class="bit-dtp-dbtn"
                                                        aria-readonly="true"
                                                        aria-label="@GetDateAriaLabel(localWeek, localDay)"
                                                        disabled="@IsWeekDayOutOfMinAndMaxDate(localDay, localWeek)"
                                                        aria-disabled="@IsWeekDayOutOfMinAndMaxDate(localDay, localWeek)"
                                                        tabindex="@(week == _selectedDateWeek && day == _selectedDateDayOfWeek ? 0 : -1)"
                                                        aria-selected="@(week == _selectedDateWeek && day == _selectedDateDayOfWeek ? "true" : "false")">
                                                    @if (DayCellTemplate is not null)
                                                    {
                                                        @DayCellTemplate(GetDayCellDate(localDay, localWeek))
                                                    }
                                                    else
                                                    {
                                                        <span aria-hidden="true">@_currentMonthCalendar[localWeek, localDay]</span>
                                                    }
                                                </button>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>

                        @if (ShowTimePicker)
                        {
                            <div class="bit-dtp-tgrp">
                                <div class="bit-dtp-time-wrp">
                                    <input @ref="_inputTimeHourRef"
                                           @bind="@_timeHourView"
                                           @bind:event="oninput"
                                           @onfocus="HandleOnTimeHourFocus"
                                           min="0"
                                           max="@(TimeFormat == BitTimeFormat.TwelveHours ? "12" : "23")"
                                           type="number"
                                           inputmode="numeric"
                                           class="bit-dtp-tinp"
                                           autocomplete="@BitAutoCompleteValue.NewPassword" />
                                    <span class="bit-dtp-tdiv">:</span>
                                    <input @ref="_inputTimeMinuteRef"
                                           @bind="@_timeMinuteView"
                                           @bind:event="oninput"
                                           @onfocus="HandleOnTimeMinuteFocus"
                                           min="0"
                                           max="59"
                                           type="number"
                                           inputmode="numeric"
                                           class="bit-dtp-tinp"
                                           autocomplete="@BitAutoCompleteValue.NewPassword" />
                                </div>

                                @if (TimeFormat == BitTimeFormat.TwelveHours)
                                {
                                    <div class="bit-dtp-ampm-ctn">
                                        <button @onclick="ToggleTimeAmPm"
                                                type="button"
                                                class="bit-dtp-ampm-btn"
                                                disabled="@(_timeHour < 12)">
                                            @Culture.DateTimeFormat.AMDesignator
                                        </button>
                                        <button @onclick="ToggleTimeAmPm"
                                                type="button"
                                                class="bit-dtp-ampm-btn"
                                                disabled="@(_timeHour >= 12)">
                                            @Culture.DateTimeFormat.PMDesignator
                                        </button>
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }

                @if (_showMonthPickerAsOverlayInternal is false)
                {
                    <div class="bit-dtp-div"></div>
                }

                @if ((_showMonthPickerAsOverlayInternal && _isMonthPickerOverlayOnTop) || _showMonthPickerAsOverlayInternal is false)
                {
                    <div class="bit-dtp-mwp">
                        @if (_showMonthPicker)
                        {
                            <div class="bit-dtp-pkr-hdr">
                                <button @onclick="ToggleBetweenMonthAndYearPicker"
                                        tabindex="0"
                                        type="button"
                                        aria-atomic="true"
                                        aria-live="polite"
                                        class="bit-dtp-pkr-tit"
                                        aria-label="@($"{_displayYear}, change year")">
                                    @_displayYear
                                </button>
                                <div class="bit-dtp-nbc">
                                    <button @onclick="() => HandleYearChange(ChangeDirection.Previous)"
                                            type="button"
                                            class="bit-dtp-nbt"
                                            title="Go to previous year @(_displayYear - 1)"
                                            disabled="@(CanYearChange(ChangeDirection.Previous) is false)"
                                            aria-disabled="@(CanYearChange(ChangeDirection.Previous) is false)">
                                        <i class="bit-icon bit-icon--Up" aria-hidden="true" />
                                    </button>
                                    @if (ShowGoToToday)
                                    {
                                        <button @onclick="HandleGoToToday"
                                                type="button"
                                                class="bit-dtp-gtb"
                                                title="@GoToToday"
                                                disabled="@IsGoTodayDisabled()">
                                            <i class="bit-icon bit-icon--GotoToday" aria-hidden="true" />
                                        </button>
                                    }
                                    <button @onclick="() => HandleYearChange(ChangeDirection.Next)"
                                            type="button"
                                            class="bit-dtp-nbt"
                                            title="Go to next year @(_displayYear + 1)"
                                            aria-disabled="@(CanYearChange(ChangeDirection.Next) is false)"
                                            disabled="@(CanYearChange(ChangeDirection.Next) is false)">
                                        <i class="bit-icon bit-icon--Down" aria-hidden="true" />
                                    </button>
                                </div>
                            </div>
                            <div class="bit-dtp-gctn" role="grid" aria-label="@_displayYear">
                                @for (var rowIndex = 0; rowIndex <= 2; rowIndex++)
                                {
                                    <div class="bit-dtp-btn-row" role="row">
                                        @for (var cellIndex = 1; cellIndex <= 4; cellIndex++)
                                        {
                                            var monthIndex = (rowIndex * 4) + cellIndex;
                                            var monthName = Culture.DateTimeFormat.GetMonthName(monthIndex);
                                            <button @onclick="() => SelectMonth(monthIndex)"
                                                    type="button"
                                                    role="gridcell"
                                                    title="@monthName"
                                                    aria-readonly="true"
                                                    aria-label="@monthName"
                                                    class="bit-dtp-rbtn @GetMonthCellClassName(monthIndex)"
                                                    disabled="@IsMonthOutOfMinAndMaxDate(monthIndex)"
                                                    tabindex="@(IsMonthSelected(monthIndex) ? 0 : -1)"
                                                    aria-disabled="@IsMonthOutOfMinAndMaxDate(monthIndex)"
                                                    aria-selected="@(IsMonthSelected(monthIndex) ? "true" : "false")">
                                                @if (MonthCellTemplate is not null)
                                                {
                                                    @MonthCellTemplate(GetMonthCellDate(monthIndex))
                                                }
                                                else
                                                {
                                                    <span aria-hidden="true">@Culture.DateTimeFormat.GetAbbreviatedMonthName(monthIndex)</span>
                                                }
                                            </button>
                                        }
                                    </div>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="bit-dtp-pkr-hdr">
                                <button @onclick="ToggleBetweenMonthAndYearPicker"
                                        type="button"
                                        aria-atomic="true"
                                        aria-live="polite"
                                        class="bit-dtp-pkr-tit"
                                        aria-label="@($"{_yearRangeFrom} - {_yearRangeTo}, change month")">
                                    @_yearRangeFrom - @_yearRangeTo
                                </button>
                                <div class="bit-dtp-nbc">
                                    <button @onclick="() => HandleOnYearRangeChange(ChangeDirection.Previous)"
                                            type="button"
                                            class="bit-dtp-nbt"
                                            disabled="@(CanYearRangeChange(ChangeDirection.Previous) is false)"
                                            aria-disabled="@(CanYearRangeChange(ChangeDirection.Previous) is false)"
                                            title="previous year range @(_yearRangeFrom - 12) - @(_yearRangeFrom - 1)">
                                        <i class="bit-icon bit-icon--Up" aria-hidden="true" />
                                    </button>
                                    @if (ShowGoToToday)
                                    {
                                        <button @onclick="HandleGoToToday"
                                                type="button"
                                                class="bit-dtp-gtb
                                                title="@GoToToday"
                                                disabled="@IsGoTodayDisabled()">
                                            <i class="bit-icon bit-icon--GotoToday" aria-hidden="true" />
                                        </button>
                                    }
                                    <button @onclick="() => HandleOnYearRangeChange(ChangeDirection.Next)"
                                            type="button"
                                            class="bit-dtp-nbt"
                                            disabled="@(CanYearRangeChange(ChangeDirection.Next) is false)"
                                            aria-disabled="@(CanYearRangeChange(ChangeDirection.Next) is false)"
                                            title="next year range @(_yearRangeFrom + 12) - @(_yearRangeTo + 12)">
                                        <i class="bit-icon bit-icon--Down" aria-hidden="true" />
                                    </button>
                                </div>
                            </div>
                            <div class="bit-dtp-gctn" role="grid" aria-label="@_yearRangeFrom - @_yearRangeTo">
                                @for (var rowIndex = 0; rowIndex <= 2; rowIndex++)
                                {
                                    <div class="bit-dtp-btn-row" role="row">
                                        @for (var cellIndex = 0; cellIndex <= 3; cellIndex++)
                                        {
                                            var year = _yearRangeFrom + (rowIndex * 4) + cellIndex;
                                            <button @onclick="() => SelectYear(year)"
                                                    type="button"
                                                    role="gridcell"
                                                    class="bit-dtp-rbtn"
                                                    aria-readonly="true"
                                                    disabled="@IsYearOutOfMinAndMaxDate(year)"
                                                    tabindex="@(IsYearSelected(year) ? 0 : -1)"
                                                    aria-disabled="@IsYearOutOfMinAndMaxDate(year)"
                                                    aria-selected="@(IsYearSelected(year) ? "true" : "false")">
                                                @if (YearCellTemplate is not null)
                                                {
                                                    @YearCellTemplate(year)
                                                }
                                                else
                                                {
                                                    <span aria-hidden="true">@year</span>
                                                }
                                            </button>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
            <div aria-hidden="true" tabindex="0" style="pointer-events: none; position: fixed;"></div>
        </div>
    </div>
</div>