@page "/components/splitter"

<PageOutlet Url="components/splitter"
            Title="Splitter"
            Description="splitter component of the bit BlazorUI components" />

<DemoPage Name="Splitter"
          Description="The BitSplitter component divides a container into two adjustable sections, either horizontally or vertically. Users can resize these sections by dragging the divider."
          Parameters="componentParameters"
          GitHubDemoUrl="Surfaces/Splitter/BitSplitterDemo.razor">
    <DemoExample Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <BitSplitter>
            <FirstPanel>
                <p style="padding: 4px;">
                    First Panel -  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                </p>
            </FirstPanel>
            <SecondPanel>
                <p style="padding: 4px;">
                    Second Panel -  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                </p>
            </SecondPanel>
        </BitSplitter>
    </DemoExample>
    <DemoExample Title="Vertical" RazorCode="@example2RazorCode" Id="example2">
        <BitSplitter Vertical>
            <FirstPanel>
                <p style="padding: 4px;">
                    First Panel -  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                </p>
            </FirstPanel>
            <SecondPanel>
                <p style="padding: 4px;">
                    Second Panel -  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                </p>
            </SecondPanel>
        </BitSplitter>
    </DemoExample>
    <DemoExample Title="Panel Size" RazorCode="@example3RazorCode" Id="example3">
        <BitSplitter FirstPanelMinSize="128" FirstPanelSize="128" SecondPanelMinSize="64">
            <FirstPanel>
                <p style="padding: 4px;">
                    First Panel -  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                </p>
            </FirstPanel>
            <SecondPanel>
                <p style="padding: 4px;">
                    Second Panel -  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                </p>
            </SecondPanel>
        </BitSplitter>
    </DemoExample>
    <DemoExample Title="Nested" RazorCode="@example4RazorCode" Id="example4">
        <BitSplitter>
            <FirstPanel>
                <p style="padding: 4px;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                </p>
            </FirstPanel>
            <SecondPanel>
                <BitSplitter Vertical>
                    <FirstPanel>
                        <p style="padding: 4px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                        </p>
                    </FirstPanel>
                    <SecondPanel>
                        <p style="padding: 4px;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                        </p>
                    </SecondPanel>
                </BitSplitter>
            </SecondPanel>
        </BitSplitter>
    </DemoExample>
    <DemoExample Title="Gutter Size" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5">
        <div>
            <BitSlider @bind-Value="gutterSize" Max="50" />
            <br />
            <BitSplitter GutterSize="@((int)gutterSize)">
                <FirstPanel>
                    <p style="padding: 4px;">
                        First Panel -  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                    </p>
                </FirstPanel>
                <SecondPanel>
                    <p style="padding: 4px;">
                        Second Panel -  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                    </p>
                </SecondPanel>
            </BitSplitter>
        </div>
    </DemoExample>
    <DemoExample Title="Gutter Icon" RazorCode="@example6RazorCode" Id="example6">
        <BitSplitter GutterIcon="@BitIconName.GripperDotsVertical">
            <FirstPanel>
                <p style="padding: 4px;">
                    First Panel -  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                </p>
            </FirstPanel>
            <SecondPanel>
                <p style="padding: 4px;">
                    Second Panel -  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Eget dolor morbi non arcu risus quis varius. Turpis tincidunt id aliquet risus feugiat in ante.
                </p>
            </SecondPanel>
        </BitSplitter>
    </DemoExample>
</DemoPage>