@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@UniqueId"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    @if (LabelTemplate is not null)
    {
        <div class="bit-pin-lbl" id="@LabelId">
            @LabelTemplate
        </div>
    }
    else if (Label.HasValue())
    {
        <div class="bit-pin-lbl" id="@LabelId">
            @Label
        </div>
    }

    @if (IsProgressHidden is false)
    {
        @if (ProgressTemplate is not null)
        {
            @ProgressTemplate(this)
        }
        else
        {
            <div class="bit-pin-wrp" style="@($"height: {BarHeight}px;")">
                <div class="bit-pin-trc"></div>
                <div class="bit-pin-bar"
                     role="progressbar"
                     aria-labelledby="@LabelId"
                     aria-valuetext="@AriaValueText"
                     aria-describedby="@DescriptionId"
                     aria-valuemin="@(PercentComplete is not null ? 0 : null)"
                     aria-valuemax="@(PercentComplete is not null ? 100 : null)"
                     aria-valuenow="@(PercentComplete is not null ? Math.Floor(PercentComplete.Value) : null)"
                     style="@($"{(PercentComplete is not null ? $"width: {percentComplete}%" : string.Empty)};")">
                </div>
            </div>
        }
    }

    @if (DescriptionTemplate is not null)
    {
        <div class="bit-pin-des" id="@DescriptionId">
            @DescriptionTemplate
        </div>
    }
    else if (Description.HasValue())
    {
        <div class="bit-pin-des" id="@DescriptionId">
            @Description
        </div>
    }
</div>