@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">
    @if (LabelTemplate is not null)
    {
        <div style="@Styles?.LabelContainer" class="bit-pin-lbl @Classes?.LabelContainer" id="@_labelId">
            @LabelTemplate
        </div>
    }
    else if (Label.HasValue())
    {
        <div style="@Styles?.LabelContainer" class="bit-pin-lbl @Classes?.LabelContainer" id="@_labelId">
            @Label
        </div>
    }

    @if (IsProgressHidden is false)
    {
        @if (ProgressTemplate is not null)
        {
            @ProgressTemplate(this)
        }
        else
        {
            <div style="@($"height: {BarHeight}px;") @Styles?.IndicatorWrapper" class="bit-pin-wrp @Classes?.IndicatorWrapper">
                <div style="@Styles?.Tracker" class="bit-pin-trc @Classes?.Tracker"></div>
                <div class="bit-pin-bar @Classes?.Bar"
                     role="progressbar"
                     aria-labelledby="@_labelId"
                     aria-valuetext="@AriaValueText"
                     aria-describedby="@_descriptionId"
                     aria-valuemin="@(PercentComplete is not null ? 0 : null)"
                     aria-valuemax="@(PercentComplete is not null ? 100 : null)"
                     aria-valuenow="@(PercentComplete is not null ? Math.Floor(PercentComplete.Value) : null)"
                     style="@GetProgressBarStyle() @Styles?.Bar">
                </div>
            </div>
        }
    }

    @if (DescriptionTemplate is not null)
    {
        <div style="@Styles?.DescriptionContainer" class="bit-pin-des @Classes?.DescriptionContainer" id="@_descriptionId">
            @DescriptionTemplate
        </div>
    }
    else if (Description.HasValue())
    {
        <div style="@Styles?.DescriptionContainer" class="bit-pin-des @Classes?.DescriptionContainer" id="@_descriptionId">
            @Description
        </div>
    }
</div>