@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div id="@LabelId">
        @Label
    </div>
    @if (IsProgressHidden is false)
    {
        <div style="@($"height: {BarHeight}px;")">
            <div></div>
            <div style="@($"{(PercentCompleteHasBeenSet ? $"width: {percentComplete}%" : string.Empty)};")"></div>
        </div>
    }

    <div id="@DescriptionId">
        @Description
    </div>
</div>