@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    @if (LabelFragment is not null)
    {
        <div class="bit-pi-lbl" id="@LabelId">
            @LabelFragment
        </div>
    }
    else if (Label.HasValue())
    {
        <div class="bit-pi-lbl" id="@LabelId">
            @Label
        </div>
    }

    @if (IsProgressHidden is false)
    {
        @if (ProgressTemplate is not null)
        {
            @ProgressTemplate(this)
        }
        else
        {
            <div class="bit-pi-wrapper" style="@($"height: {BarHeight}px;")">
                <div class="bit-pi-track"></div>
                <div class="bit-pi-bar"
                     style="@($"{(PercentComplete is not null ? $"width: {percentComplete}%" : string.Empty)};")"
                     role="progressbar"
                     aria-describedby="@DescriptionId"
                     aria-labelledby="@LabelId"
                     aria-valuemin="@(PercentComplete is not null ? 0 : null)"
                     aria-valuemax="@(PercentComplete is not null ? 100 : null)"
                     aria-valuenow="@(PercentComplete is not null ? Math.Floor(PercentComplete.Value) : null)"
                     aria-valuetext="@AriaValueText">
                </div>
            </div>
        }
    }

    @if (DescriptionFragment is not null)
    {
        <div class="bit-pi-dsc" id="@DescriptionId">
            @DescriptionFragment
        </div>
    }
    else if (Description.HasValue())
    {
        <div class="bit-pi-dsc" id="@DescriptionId">
            @Description
        </div>
    }
</div>