@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    @if (Label.HasValue())
    {
        <div class="bit-pi-lbl" id="@LabelId">
            @Label
        </div>
    }

    @if (IsProgressHidden is false)
    {
        <div class="bit-pi-wrapper" style="@($"height: {BarHeight}px;")">
            <div class="bit-pi-track"></div>
            <div class="bit-pi-bar" 
                 style="@($"{(PercentCompleteHasBeenSet ? $"width: {percentComplete}%" : string.Empty)};")"></div>
        </div>
    }

    @if (Description.HasValue())
    {
        <div class="bit-pi-dsc" id="@DescriptionId">
            @Description
        </div>
    }
</div>