@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    @if (Label.HasValue())
    {
        <div id="@LabelId">
            @Label
        </div>
    }

    @if (IsProgressHidden is false)
    {
        <div style="@($"height: {BarHeight}px;")">
            <div></div>
            <div style="@($"{(PercentCompleteHasBeenSet ? $"width: {percentComplete}%" : string.Empty)};")"></div>
        </div>
    }

    @if (Description.HasValue())
    {
        <div id="@DescriptionId">
            @Description
        </div>
    }
</div>