@page "/components/nav"

<ComponentDemo ComponentName="Nav"
               ComponentDescription="A navigation pane (Nav) provides links to the main areas of an app or site."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses"
               ComponentSubEnums="componentSubEnums">
    <BitPivot>
        <BitPivotItem HeaderText="Item">
            <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1NavItemHTMLCode" CSharpSourceCode="@example1NavItemCSharpCode" ExampleId="example1">
                <ExamplePreview>
                    <div class="example-box">
                        <BitNav Items="BitPlatformNavMenu" />
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Grouped" HTMLSourceCode="@example2NavItemHTMLCode" CSharpSourceCode="@example2NavItemCSharpCode" ExampleId="example2">
                <ExamplePreview>
                    <div class="example-box">
                        <BitNav Items="CarNavMenu" RenderType="BitNavRenderType.Grouped" />
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Manual Mode" HTMLSourceCode="@example3NavItemHTMLCode" CSharpSourceCode="@example3NavItemCSharpCode" ExampleId="example3">
                <ExamplePreview>
                    <div class="example-box">
                        <div>
                            <BitLabel>Basic</BitLabel>
                            <BitNav Items="FoodNavMenu"
                                    DefaultSelectedItem="FoodNavMenu[0].ChildItems[2]"
                                    Mode="BitNavMode.Manual" />
                        </div>

                        <br />
                        <hr style="width:100%" />
                        <br />

                        <div class="margin-top">
                            <BitLabel>Two-Way Bind</BitLabel>

                            <BitNav @bind-SelectedItem="SelectedItemNav"
                                    Items="FoodNavMenu"
                                    Mode="BitNavMode.Manual"
                                    OnSelectItem="(BitNavItem item) => SelectedItemText = FoodMenuDropdownItems.FirstOrDefault(i => i.Text == item.Text)?.Text" />

                            <BitDropdown @bind-Value="SelectedItemText"
                                         Label="Select Item"
                                         Items="FoodMenuDropdownItems"
                                         OnSelectItem="(item) => SelectedItemNav = Flatten(FoodNavMenu).FirstOrDefault(i => i.Text == item.Value)" />
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Custom Templates" HTMLSourceCode="@example4NavItemHTMLCode" CSharpSourceCode="@example4NavItemCSharpCode" ExampleId="example4">
                <ExamplePreview>
                    <div class="example-box">
                        <div>
                            <BitLabel>Header Template (in Grouped mode)</BitLabel>
                            <BitNav Items="CarNavMenu" RenderType="BitNavRenderType.Grouped">
                                <HeaderTemplate Context="item">
                                    <div class="nav-custom-header">
                                        <BitIcon IconName="BitIconName.FavoriteStarFill" />
                                        <span>@item.Text</span>
                                    </div>
                                </HeaderTemplate>
                            </BitNav>
                        </div>

                        <div class="margin-top">
                            <BitLabel>Item Template</BitLabel>
                            <BitNav Items="FoodNavMenu" Mode="BitNavMode.Manual">
                                <ItemTemplate Context="item">
                                    <div class="nav-custom-item @(item.IsEnabled is false ? "disabled-item" : "")">
                                        <BitCheckbox IsEnabled="@(item.IsEnabled)" />
                                        @if (item.IconName.HasValue)
                                        {
                                            <BitIcon IconName="@item.IconName.Value" />
                                        }
                                        <span>@item.Text</span>
                                    </div>
                                </ItemTemplate>
                            </BitNav>
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Events" HTMLSourceCode="@example5NavItemHTMLCode" CSharpSourceCode="@example5NavItemCSharpCode" ExampleId="example5">
                <ExamplePreview>
                    <div class="events-example-box">
                        <BitNav Items="FoodNavMenu"
                                DefaultSelectedItem="FoodNavMenu[0].ChildItems[2]"
                                Mode="BitNavMode.Manual"
                                OnItemClick="(BitNavItem item) => ClickedItem = item"
                                OnSelectItem="(BitNavItem item) => SelectedItem = item"
                                OnItemToggle="(BitNavItem item) => ToggledItem = item" />

                        <div class="flex">
                            <span>Clicked Item: @ClickedItem?.Text</span>
                            <span>Selected Item: @SelectedItem?.Text</span>
                            <span>Toggled Item: @(ToggledItem is null ? "N/A" : $"{ToggledItem.Text} ({(ToggledItem.IsExpanded ? "Expanded" : "Collapsed")})")</span>
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Custom Styles" HTMLSourceCode="@example6NavItemHTMLCode" CSharpSourceCode="@example6NavItemCSharpCode" ExampleId="example6">
                <ExamplePreview>
                    <div class="example-box">
                        <BitNav Items="BitPlatformNavMenu"
                                ClassStyles="@(new() { ItemContainer = new() { Style="border:1px solid green;margin:2px" },
                                                       ToggleButton = new() { Style="color:cyan" },
                                                       Item = new() { Style="color:red" } })" />
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>
        </BitPivotItem>

        <BitPivotItem HeaderText="Custom">
            <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1CustomItemHTMLCode" CSharpSourceCode="@example1CustomItemCSharpCode" ExampleId="example1">
                <ExamplePreview>
                    <div class="example-box">
                        <BitNav Items="CustomBitPlatformNavMenu"
                                TextField="@nameof(BitPlatformMenu.Text)"
                                UrlField="@nameof(BitPlatformMenu.Url)"
                                IsEnabledField="@nameof(BitPlatformMenu.IsEnabled)"
                                ChildItemsField="@nameof(BitPlatformMenu.Links)" />
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Grouped" HTMLSourceCode="@example2CustomItemHTMLCode" CSharpSourceCode="@example2CustomItemCSharpCode" ExampleId="example2">
                <ExamplePreview>
                    <div class="example-box">
                        <BitNav Items="CustomCarNavMenu"
                                TextField="@nameof(CarMenu.Name)"
                                UrlField="@nameof(CarMenu.PageUrl)"
                                TargetField="@nameof(CarMenu.UrlTarget)"
                                TitleField="@nameof(CarMenu.Tooltip)"
                                IsExpandedField="@nameof(CarMenu.IsExpandedParent)"
                                CollapseAriaLabelField="@nameof(CarMenu.CollapsedAriaLabel)"
                                ExpandAriaLabelField="@nameof(CarMenu.ExpandedAriaLabel)"
                                ChildItemsField="@nameof(CarMenu.Links)"
                                RenderType="BitNavRenderType.Grouped" />
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Manual Mode" HTMLSourceCode="@example3CustomItemHTMLCode" CSharpSourceCode="@example3CustomItemCSharpCode" ExampleId="example3">
                <ExamplePreview>
                    <div class="example-box">
                        <div>
                            <BitLabel>Basic</BitLabel>
                            <BitNav Items="CustomFoodNavMenu"
                                    TextFieldSelector="item => item.Name"
                                    IconNameFieldSelector="item => item.Icon"
                                    IsExpandedFieldSelector="item => item.IsExpanded"
                                    ChildItemsFieldSelector="item => item.Childs"
                                    DefaultSelectedItem="CustomFoodNavMenu[0].Childs[2]"
                                    Mode="BitNavMode.Manual" />
                        </div>

                        <br />
                        <hr style="width:100%" />
                        <br />

                        <div class="margin-top">
                            <BitLabel>Two-Way Bind</BitLabel>

                            <BitNav @bind-SelectedItem="CustomSelectedFood"
                                    Items="CustomFoodNavMenu"
                                    TextFieldSelector="item => item.Name"
                                    IconNameFieldSelector="item => item.Icon"
                                    IsExpandedFieldSelector="item => item.IsExpanded"
                                    ChildItemsFieldSelector="item => item.Childs"
                                    Mode="BitNavMode.Manual"
                                    OnSelectItem="(FoodMenu item) => CustomSelectedFoodName = FoodMenuDropdownItems.FirstOrDefault(i => i.Text == item.Name)?.Text" />

                            <BitDropdown @bind-Value="CustomSelectedFoodName"
                                         Label="Select Item"
                                         Items="FoodMenuDropdownItems"
                                         OnSelectItem="(item) => CustomSelectedFood = Flatten(CustomFoodNavMenu).FirstOrDefault(i => i.Name == item.Value)" />
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Custom Templates" HTMLSourceCode="@example4CustomItemHTMLCode" CSharpSourceCode="@example4CustomItemCSharpCode" ExampleId="example4">
                <ExamplePreview>
                    <div class="example-box">
                        <div>
                            <BitLabel>Header Template (in Grouped mode)</BitLabel>
                            <BitNav Items="CustomCarNavMenu"
                                    TextField="@nameof(CarMenu.Name)"
                                    UrlField="@nameof(CarMenu.PageUrl)"
                                    TargetField="@nameof(CarMenu.UrlTarget)"
                                    TitleField="@nameof(CarMenu.Tooltip)"
                                    IsExpandedField="@nameof(CarMenu.IsExpandedParent)"
                                    CollapseAriaLabelField="@nameof(CarMenu.CollapsedAriaLabel)"
                                    ExpandAriaLabelField="@nameof(CarMenu.ExpandedAriaLabel)"
                                    ChildItemsField="@nameof(CarMenu.Links)"
                                    RenderType="BitNavRenderType.Grouped">

                                <HeaderTemplate Context="item">
                                    <div class="nav-custom-header">
                                        <BitIcon IconName="BitIconName.FavoriteStarFill" />
                                        <span>@item.Name</span>
                                    </div>
                                </HeaderTemplate>
                            </BitNav>
                        </div>

                        <div class="margin-top">
                            <BitLabel>Item Template</BitLabel>
                            <BitNav Items="CustomFoodNavMenu"
                                    TextFieldSelector="item => item.Name"
                                    IconNameFieldSelector="item => item.Icon"
                                    IsExpandedFieldSelector="item => item.IsExpanded"
                                    ChildItemsFieldSelector="item => item.Childs"
                                    Mode="BitNavMode.Manual">

                                <ItemTemplate Context="item">
                                    <div class="nav-custom-item">
                                        <BitCheckbox />
                                        <BitIcon IconName="@item.Icon" />
                                        <span>@item.Name</span>
                                    </div>
                                </ItemTemplate>
                            </BitNav>
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Events" HTMLSourceCode="@example5CustomItemHTMLCode" CSharpSourceCode="@example5CustomItemCSharpCode" ExampleId="example5">
                <ExamplePreview>
                    <div class="events-example-box">
                        <BitNav Items="CustomFoodNavMenu"
                                TextFieldSelector="item => item.Name"
                                IconNameFieldSelector="item => item.Icon"
                                IsExpandedFieldSelector="item => item.IsExpanded"
                                ChildItemsFieldSelector="item => item.Childs"
                                DefaultSelectedItem="CustomFoodNavMenu[0].Childs[2]"
                                Mode="BitNavMode.Manual"
                                OnItemClick="(FoodMenu item) => CustomClickedItem = item"
                                OnSelectItem="(FoodMenu item) => CustomSelectedItem = item"
                                OnItemToggle="(FoodMenu item) => CustomToggledItem = item" />

                        <div class="flex">
                            <span>Clicked Item: @CustomClickedItem?.Name</span>
                            <span>Selected Item: @CustomSelectedItem?.Name</span>
                            <span>Toggled Item: @(CustomToggledItem is null ? "N/A" : $"{CustomToggledItem.Name} ({(CustomToggledItem.IsExpanded ? "Expanded" : "Collapsed")})")</span>
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Custom Styles" HTMLSourceCode="@example6CustomItemHTMLCode" CSharpSourceCode="@example6CustomItemCSharpCode" ExampleId="example6">
                <ExamplePreview>
                    <div class="example-box">
                        <BitNav Items="CustomBitPlatformNavMenu"
                                TextField="@nameof(BitPlatformMenu.Text)"
                                UrlField="@nameof(BitPlatformMenu.Url)"
                                IsEnabledField="@nameof(BitPlatformMenu.IsEnabled)"
                                ChildItemsField="@nameof(BitPlatformMenu.Links)"
                                ClassStyles="@(new() { ItemContainer = new() { Style="border:1px solid green;margin:2px" },
                                                       ToggleButton = new() { Style="color:cyan" },
                                                       Item = new() { Style="color:red" } })" />
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>
        </BitPivotItem>

        <BitPivotItem HeaderText="Option">
            <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1NavOptionHTMLCode" ExampleId="example1">
                <ExamplePreview>
                    <div class="example-box">
                        <BitNav TItem="BitNavOption">
                            <BitNavOption Text="Bit Platform"
                                          ExpandAriaLabel="Bit Platform Expanded"
                                          CollapseAriaLabel="Bit Platform Collapsed">
                                <BitNavOption Text="Home" Url="https://bitplatform.dev/" Target="_blank" />
                                <BitNavOption Text="Products & Services">
                                    <BitNavOption Text="Project Templates">
                                        <BitNavOption Text="TodoTemplate" Url="https://bitplatform.dev/todo-template/overview" Target="_blank" />
                                        <BitNavOption Text="AdminPanel" Url="https://bitplatform.dev/admin-panel/overview" Target="_blank" />
                                    </BitNavOption>
                                    <BitNavOption Text="BlazorUI" Url="https://bitplatform.dev/components" Target="_blank" />
                                    <BitNavOption Text="Cloud hosting solutions" IsEnabled="false" />
                                    <BitNavOption Text="Bit academy" IsEnabled="false" />
                                </BitNavOption>
                                <BitNavOption Text="Pricing" Url="https://bitplatform.dev/pricing" Target="_blank" />
                                <BitNavOption Text="About" Url="https://bitplatform.dev/about-us" Target="_blank" />
                                <BitNavOption Text="Contact us" Url="https://bitplatform.dev/contact-us" Target="_blank" />
                            </BitNavOption>

                            <BitNavOption Text="Community"
                                          ExpandAriaLabel="Community Expanded"
                                          CollapseAriaLabel="Community Collapsed">
                                <BitNavOption Text="Linkedin" Url="https://www.linkedin.com/company/bitplatformhq/about" Target="_blank" />
                                <BitNavOption Text="Twitter" Url="https://twitter.com/bitplatformhq" Target="_blank" />
                                <BitNavOption Text="Github repo" Url="https://github.com/bitfoundation/bitplatform" Target="_blank" />
                            </BitNavOption>

                            <BitNavOption Text="Iconography" Url="/icons" Target="_blank" />
                        </BitNav>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Grouped" HTMLSourceCode="@example2NavOptionHTMLCode" ExampleId="example2">
                <ExamplePreview>
                    <div class="example-box">
                        <BitNav TItem="BitNavOption" RenderType="BitNavRenderType.Grouped">
                            <BitNavOption Text="Mercedes-Benz"
                                          ExpandAriaLabel="Mercedes-Benz Expanded"
                                          CollapseAriaLabel="Mercedes-Benz Collapsed"
                                          Title="Mercedes-Benz Car Models"
                                          IsExpanded="true">
                                <BitNavOption Text="SUVs">
                                    <BitNavOption Text="GLA" Url="https://www.mbusa.com/en/vehicles/class/gla/suv" Target="_blank" />
                                    <BitNavOption Text="GLB" Url="https://www.mbusa.com/en/vehicles/class/glb/suv" Target="_blank" />
                                    <BitNavOption Text="GLC" Url="https://www.mbusa.com/en/vehicles/class/glc/suv" Target="_blank" />
                                </BitNavOption>
                                <BitNavOption Text="Sedans & Wagons">
                                    <BitNavOption Text="A Class" Url="https://www.mbusa.com/en/vehicles/class/a-class/sedan" Target="_blank" />
                                    <BitNavOption Text="C Class" Url="https://www.mbusa.com/en/vehicles/class/c-class/sedan" Target="_blank" />
                                    <BitNavOption Text="E Class" Url="https://www.mbusa.com/en/vehicles/class/e-class/sedan" Target="_blank" />
                                </BitNavOption>
                                <BitNavOption Text="Coupes">
                                    <BitNavOption Text="CLA Coupe" Url="https://www.mbusa.com/en/vehicles/class/cla/coupe" Target="_blank" />
                                    <BitNavOption Text="C Class Coupe" Url="https://www.mbusa.com/en/vehicles/class/c-class/coupe" Target="_blank" />
                                    <BitNavOption Text="E Class Coupe" Url="https://www.mbusa.com/en/vehicles/class/e-class/coupe" Target="_blank" />
                                </BitNavOption>
                            </BitNavOption>
                            <BitNavOption Text="Tesla"
                                          ExpandAriaLabel="Tesla Expanded"
                                          CollapseAriaLabel="Tesla Collapsed"
                                          Title="Tesla Car Models">
                                <BitNavOption Text="Model S" Url="https://www.tesla.com/models" Target="_blank" />
                                <BitNavOption Text="Model X" Url="https://www.tesla.com/modelx" Target="_blank" />
                                <BitNavOption Text="Model Y" Url="https://www.tesla.com/modely" Target="_blank" />
                            </BitNavOption>
                        </BitNav>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Manual Mode" HTMLSourceCode="@example3NavOptionHTMLCode" CSharpSourceCode="@example3NavOptionCSharpCode" ExampleId="example3">
                <ExamplePreview>
                    <div class="example-box">
                        <div>
                            <BitLabel>Basic</BitLabel>
                            <BitNav TItem="BitNavOption"
                                    Mode="BitNavMode.Manual">
                                <BitNavOption Text="Fast-Foods" IconName="BitIconName.HeartBroken">
                                    <BitNavOption Text="Burgers">
                                        <BitNavOption Text="Beef Burger" Key="Beef Burger" />
                                        <BitNavOption Text="Veggie Burger" Key="Veggie Burger" />
                                        <BitNavOption Text="Bison Burger" Key="Bison Burger" />
                                        <BitNavOption Text="Wild Salmon Burger" Key="Wild Salmon Burger" />
                                    </BitNavOption>
                                    <BitNavOption Text="Pizzas">
                                        <BitNavOption Text="Cheese Pizza" Key="Cheese Pizza" />
                                        <BitNavOption Text="Veggie Pizza" Key="Veggie Pizza" />
                                        <BitNavOption Text="Pepperoni Pizza" Key="Pepperoni Pizza" />
                                        <BitNavOption Text="Meat Pizza" Key="Meat Pizza" />
                                    </BitNavOption>
                                    <BitNavOption Text="French Fries" Key="French Fries" />
                                </BitNavOption>
                                <BitNavOption Text="Fruits">
                                    <BitNavOption Text="Apple" Key="Apple" />
                                    <BitNavOption Text="Orange" Key="Orange" />
                                    <BitNavOption Text="Benana" Key="Benana" />
                                </BitNavOption>
                                <BitNavOption Text="Ice Cream" Key="Ice Cream" />
                                <BitNavOption Text="Cookie" Key="Cookie" />
                            </BitNav>
                        </div>

                        <br />
                        <hr style="width:100%" />
                        <br />

                        <div class="margin-top">
                            <BitLabel>Two-Way Bind</BitLabel>
                            <BitNav TItem="BitNavOption" Mode="BitNavMode.Manual">
                                <BitNavOption Text="Fast-Foods"
                                              IconName="BitIconName.HeartBroken"
                                              IsExpanded="true">
                                    <BitNavOption Text="Burgers">
                                        <BitNavOption Text="Beef Burger" Key="Beef Burger" />
                                        <BitNavOption Text="Veggie Burger" Key="Veggie Burger" />
                                        <BitNavOption Text="Bison Burger" Key="Bison Burger" />
                                        <BitNavOption Text="Wild Salmon Burger" Key="Wild Salmon Burger" />
                                    </BitNavOption>
                                    <BitNavOption Text="Pizzas">
                                        <BitNavOption Text="Cheese Pizza" Key="Cheese Pizza" />
                                        <BitNavOption Text="Veggie Pizza" Key="Veggie Pizza" />
                                        <BitNavOption Text="Pepperoni Pizza" Key="Pepperoni Pizza" />
                                        <BitNavOption Text="Meat Pizza" Key="Meat Pizza" />
                                    </BitNavOption>
                                    <BitNavOption Text="French Fries" Key="French Fries" />
                                </BitNavOption>
                                <BitNavOption Text="Fruits">
                                    <BitNavOption Text="Aplle" Key="Aplle" />
                                    <BitNavOption Text="Orange" Key="Orange" />
                                    <BitNavOption Text="Benana" Key="Benana" />
                                </BitNavOption>
                                <BitNavOption Text="Ice Cream" Key="Ice Cream" />
                                <BitNavOption Text="Cookie" Key="Cookie" />
                            </BitNav>

                            <BitDropdown @bind-Value="SelectedOptionKey"
                                         DefaultValue="French Fries"
                                         Label="Pick one"
                                         Items="FoodMenuDropdownItems" />
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Custom Templates" HTMLSourceCode="@example4NavOptionHTMLCode" ExampleId="example4">
                <ExamplePreview>
                    <div class="example-box">
                        <div>
                            <BitLabel>Header Template (in Grouped mode)</BitLabel>
                            <BitNav TItem="BitNavOption" RenderType="BitNavRenderType.Grouped">
                                <HeaderTemplate Context="item">
                                    <div class="nav-custom-header">
                                        <BitIcon IconName="BitIconName.FavoriteStarFill" />
                                        <span>@item.Text</span>
                                    </div>
                                </HeaderTemplate>
                                <ChildContent>
                                    <BitNavOption Text="Mercedes-Benz"
                                                  ExpandAriaLabel="Mercedes-Benz Expanded"
                                                  CollapseAriaLabel="Mercedes-Benz Collapsed"
                                                  Title="Mercedes-Benz Car Models"
                                                  IsExpanded="true">
                                        <BitNavOption Text="SUVs">
                                            <BitNavOption Text="GLA" Url="https://www.mbusa.com/en/vehicles/class/gla/suv" Target="_blank" />
                                            <BitNavOption Text="GLB" Url="https://www.mbusa.com/en/vehicles/class/glb/suv" Target="_blank" />
                                            <BitNavOption Text="GLC" Url="https://www.mbusa.com/en/vehicles/class/glc/suv" Target="_blank" />
                                        </BitNavOption>
                                        <BitNavOption Text="Sedans & Wagons">
                                            <BitNavOption Text="A Class" Url="https://www.mbusa.com/en/vehicles/class/a-class/sedan" Target="_blank" />
                                            <BitNavOption Text="C Class" Url="https://www.mbusa.com/en/vehicles/class/c-class/sedan" Target="_blank" />
                                            <BitNavOption Text="E Class" Url="https://www.mbusa.com/en/vehicles/class/e-class/sedan" Target="_blank" />
                                        </BitNavOption>
                                        <BitNavOption Text="Coupes">
                                            <BitNavOption Text="CLA Coupe" Url="https://www.mbusa.com/en/vehicles/class/cla/coupe" Target="_blank" />
                                            <BitNavOption Text="C Class Coupe" Url="https://www.mbusa.com/en/vehicles/class/c-class/coupe" Target="_blank" />
                                            <BitNavOption Text="E Class Coupe" Url="https://www.mbusa.com/en/vehicles/class/e-class/coupe" Target="_blank" />
                                        </BitNavOption>
                                    </BitNavOption>
                                    <BitNavOption Text="Tesla"
                                                  ExpandAriaLabel="Tesla Expanded"
                                                  CollapseAriaLabel="Tesla Collapsed"
                                                  Title="Tesla Car Models">
                                        <BitNavOption Text="Model S" Url="https://www.tesla.com/models" Target="_blank" />
                                        <BitNavOption Text="Model X" Url="https://www.tesla.com/modelx" Target="_blank" />
                                        <BitNavOption Text="Model Y" Url="https://www.tesla.com/modely" Target="_blank" />
                                    </BitNavOption>
                                </ChildContent>
                            </BitNav>
                        </div>

                        <div class="margin-top">
                            <BitLabel>Option Template</BitLabel>
                            <BitNav TItem="BitNavOption" Mode="BitNavMode.Manual">
                                <ItemTemplate Context="option">
                                    <div class="nav-custom-item">
                                        <BitCheckbox IsEnabled="@(option.IsEnabled)" />
                                        <span>@option.Text</span>
                                    </div>
                                </ItemTemplate>
                                <ChildContent>
                                    <BitNavOption Text="Fast-Foods"
                                                  IsExpanded="true">
                                        <BitNavOption Text="Burgers">
                                            <BitNavOption Text="Beef Burger" />
                                            <BitNavOption Text="Veggie Burger" />
                                            <BitNavOption Text="Bison Burger" />
                                            <BitNavOption Text="Wild Salmon Burger" />
                                        </BitNavOption>
                                        <BitNavOption Text="Pizzas">
                                            <BitNavOption Text="Cheese Pizza" />
                                            <BitNavOption Text="Veggie Pizza" />
                                            <BitNavOption Text="Pepperoni Pizza" />
                                            <BitNavOption Text="Meat Pizza" />
                                        </BitNavOption>
                                        <BitNavOption Text="French Fries" />
                                    </BitNavOption>
                                    <BitNavOption Text="Fruits">
                                        <BitNavOption Text="Aplle" />
                                        <BitNavOption Text="Orange" />
                                        <BitNavOption Text="Benana" />
                                    </BitNavOption>
                                    <BitNavOption Text="Ice Cream" />
                                    <BitNavOption Text="Cookie" />
                                </ChildContent>
                            </BitNav>
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Events" HTMLSourceCode="@example5NavOptionHTMLCode" CSharpSourceCode="@example5NavOptionCSharpCode" ExampleId="example5">
                <ExamplePreview>
                    <div class="events-example-box">
                        <BitNav Mode="BitNavMode.Manual"
                                OnItemClick="(BitNavOption option) => ClickedOption = option"
                                OnSelectItem="(BitNavOption option) => SelectedOption = option"
                                OnItemToggle="(BitNavOption option) => ToggledOption = option">
                            <BitNavOption Text="Fast-Foods"
                                          IconName="BitIconName.HeartBroken"
                                          IsExpanded="true">
                                <BitNavOption Text="Burgers">
                                    <BitNavOption Text="Beef Burger" Key="Beef Burger" />
                                    <BitNavOption Text="Veggie Burger" Key="Veggie Burger" />
                                    <BitNavOption Text="Bison Burger" Key="Bison Burger" />
                                    <BitNavOption Text="Wild Salmon Burger" Key="Wild Salmon Burger" />
                                </BitNavOption>
                                <BitNavOption Text="Pizzas">
                                    <BitNavOption Text="Cheese Pizza" Key="Cheese Pizza" />
                                    <BitNavOption Text="Veggie Pizza" Key="Veggie Pizza" />
                                    <BitNavOption Text="Pepperoni Pizza" Key="Pepperoni Pizza" />
                                    <BitNavOption Text="Meat Pizza" Key="Meat Pizza" />
                                </BitNavOption>
                                <BitNavOption Text="French Fries" Key="French Fries" />
                            </BitNavOption>
                            <BitNavOption Text="Fruits">
                                <BitNavOption Text="Aplle" Key="Aplle" />
                                <BitNavOption Text="Orange" Key="Orange" />
                                <BitNavOption Text="Benana" Key="Benana" />
                            </BitNavOption>
                            <BitNavOption Text="Ice Cream" Key="Ice Cream" />
                            <BitNavOption Text="Cookie" Key="Cookie" />
                        </BitNav>

                        <div class="flex">
                            <span>Clicked Option: @ClickedOption?.Text</span>
                            <span>Selected Option: @SelectedOption?.Text</span>
                            <span>Toggled Option: @(ToggledOption is null ? "N/A" : $"{ToggledOption.Text} ({(ToggledOption.IsExpanded ? "Expanded" : "Collapsed")})")</span>
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Custom Styles" HTMLSourceCode="@example6NavOptionHTMLCode" ExampleId="example6">
                <ExamplePreview>
                    <div class="example-box">
                        <BitNav TItem="BitNavOption"
                                ClassStyles="@(new() { ItemContainer = new() { Style="border:1px solid green;margin:2px" },
                                                       ToggleButton = new() { Style="color:cyan" },
                                                       Item = new() { Style="color:red" } })">
                            <BitNavOption Text="Bit Platform"
                                          ExpandAriaLabel="Bit Platform Expanded"
                                          CollapseAriaLabel="Bit Platform Collapsed">
                                <BitNavOption Text="Home" Url="https://bitplatform.dev/" Target="_blank" />
                                <BitNavOption Text="Products & Services">
                                    <BitNavOption Text="Project Templates">
                                        <BitNavOption Text="TodoTemplate" Url="https://bitplatform.dev/todo-template/overview" Target="_blank" />
                                        <BitNavOption Text="AdminPanel" Url="https://bitplatform.dev/admin-panel/overview" Target="_blank" />
                                    </BitNavOption>
                                    <BitNavOption Text="BlazorUI" Url="https://bitplatform.dev/components" Target="_blank" />
                                    <BitNavOption Text="Cloud hosting solutions" IsEnabled="false" />
                                    <BitNavOption Text="Bit academy" IsEnabled="false" />
                                </BitNavOption>
                                <BitNavOption Text="Pricing" Url="https://bitplatform.dev/pricing" Target="_blank" />
                                <BitNavOption Text="About" Url="https://bitplatform.dev/about-us" Target="_blank" />
                                <BitNavOption Text="Contact us" Url="https://bitplatform.dev/contact-us" Target="_blank" />
                            </BitNavOption>

                            <BitNavOption Text="Community"
                                          ExpandAriaLabel="Community Expanded"
                                          CollapseAriaLabel="Community Collapsed">
                                <BitNavOption Text="Linkedin" Url="https://www.linkedin.com/company/bitplatformhq/about" Target="_blank" />
                                <BitNavOption Text="Twitter" Url="https://twitter.com/bitplatformhq" Target="_blank" />
                                <BitNavOption Text="Github repo" Url="https://github.com/bitfoundation/bitplatform" Target="_blank" />
                            </BitNavOption>

                            <BitNavOption Text="Iconography" Url="/icons" Target="_blank" />
                        </BitNav>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>
        </BitPivotItem>
    </BitPivot>
</ComponentDemo>