@page "/console"
@using Console = Bit.Butil.Console

@code {
    private string _value = string.Empty;
}

<PageTitle>Console Samples</PageTitle>

<h1>Console</h1>

<h3>Open the DevTools</h3>

<div class="container">
    <input @bind-value="_value" /><br />
    <br /><button @onclick="@(() => Console.Assert(true, "This is a test assert:", _value))">assert</button><br />
    <br /><button @onclick="@(() => Console.Count(_value))">count</button> <button @onclick="@(() => Console.CountReset(_value))">countReset</button><br />
    <br /><button @onclick="@(() => Console.Error("This is a test error:", _value))">error</button><br />
    <br /><button @onclick="@(() => Console.Info("This is a test info:", _value))">info</button><br />
    <br /><button @onclick="@(() => Console.Log("This is a test log:", _value))">log</button><br />
    <br /><button @onclick="@(() => Console.Warn("This is a test warn:", _value))">warn</button><br />
</div>
