@namespace Bit.BlazorUI
@inherits BitInputBase<TValue>
@typeparam TItem
@typeparam TValue

@if (ChildContent is not null)
{
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
}

<div @ref="RootElement"
@attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel">

    <div role="radiogroup" aria-labelledby="@GetAriaLabelledBy()">

        <label class="bit-chg-lbl" id="@_labelId" disabled="@(IsEnabled is false)">
            @if (LabelTemplate is not null)
            {
                @LabelTemplate
            }
            else if (Label.HasValue())
            {
                @Label
            }
        </label>

        <div class="bit-chg-cnt @LayoutFlow?.GetDisplayName()">
            @foreach (var item in _items)
            {
                <div class="@GetDivClassNameItem(item)">
                    <input @attributes="InputHtmlAttributes"
                    @onclick="HandleClick"
                    @onchange="() => HandleChange(new ChangeEventArgs { Value = GetValue(item) })"
                           id="@GetInputId(item)"
                           class="bit-chgi-input"
                           aria-label="@GetAriaLabel(item)"
                           type="radio"
                           checked=@GetIsCheckedItem(item)
                           name="@Name"
                           value="@GetValue(item)?.ToString()"
                           required="@IsRequired"
                           disabled="@(GetIsEnabled(item) is false)"
                           hidden />

                    <label for="@GetInputId(item)">
                        @if (ItemTemplate is not null)
                        {
                            @ItemTemplate(item)
                        }
                        else
                        {
                            <div class="@GetLabelClassNameItem(item)">
                                @if (ItemLabelTemplate is not null)
                                {
                                    @ItemLabelTemplate(item)
                                }
                                else
                                {
                                    @if (GetImageSrc(item).HasValue())
                                    {
                                        <div class="bit-chgi-img-cnt">
                                            <div class="bit-chgi-img-wrp">
                                                <div class="bit-chgi-img" style="@($"width:{GetImageSize(item).Width}px; height:{GetImageSize(item).Height}px;")">
                                                    <img src="@(GetIsCheckedItem(item) ? GetSelectedImageSrc(item) : GetImageSrc(item))" alt="@GetImageAlt(item)">
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    var iconName = GetIconName(item);

                                    @if (iconName.HasValue)
                                    {
                                        <div class="bit-chgi-ico-cnt">
                                            <div class="bit-chgi-ico-wrp">
                                                <i aria-hidden="true" class="bit-icon bit-icon--@iconName.GetName()" />
                                            </div>
                                        </div>
                                    }

                                    @if (GetImageSrc(item).HasValue() || iconName.HasValue)
                                    {
                                        <div class="bit-chgi-wrp">
                                            <span class="bit-chgi-txt">@GetText(item)</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <span class="bit-chgi-txt">@GetText(item)</span>
                                    }
                                }
                            </div>
                        }
                    </label>
                </div>
            }
        </div>
    </div>
</div>