@inherits BitComponentBase

<div class="bit-searchbox bit-searchbox-container @(VisualClass) @(EnabledClass) @(InputValueClass) @InputFocusClass 
     @AnimationClass
     @UndelinedClass" style="@WidthStyle">
    <div class="bit-searchbox-item bit-searchbox-item__search-icon-container">
        <i class="bit-icon bit-icon--@IconName"></i>
    </div>
    <input type="text" @ref="InputRef" class="bit-searchbox-item bit-searchbox-item__input" 
           placeholder="@Placeholder"
           @bind-value="Value"
           @bind-value:event="oninput"
           @onkeydown="@((k) => HandleOnKeyDown($"{Value}{k.Key}",k.Code))"
           @onfocusin="HandleInputFocusIn"
           @onfocusout="HandleInputFocusOut" 
           disabled="@(IsEnabled is false)"
           />
    <div class="bit-searchbox-item bit-searchbox-item__clear-button-container">
        <button type="button" class="bit-searchbox-item__clear-button" @onclick="HandleOnClear">
            <i class="bit-icon bit-icon--Clear"></i>
        </button>
    </div>
</div>