@page "/components/tag"

<PageOutlet Url="components/tag"
            Title="Tag"
            Description="Tag component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Tag"
               ComponentDescription="Tag component provides a visual representation of an attribute, person, or asset."
               ComponentParameters="componentParameters"
               ComponentSubEnums="componentSubEnums"
               ComponentSubClasses="componentSubClasses">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div>The tag offers three appearance options: Primary (default), Standard, and Text.</div>
            <br />
            <div class="tags-container">
                <BitTag Text="Text" />
                <br />
                <br />
                <BitTag Text="Text" Appearance="BitAppearance.Standard" />
                <br />
                <br />
                <BitTag Text="Text" Appearance="BitAppearance.Text" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Primary tag" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <div>
                Primary tags are attention-grabbing, featuring a filled appearance. They're designed for essential actions at the core of your application.
            </div>
            <br />
            <div class="tags-container">
                <BitTag Text="Primary" />
                <BitTag Text="Disabled" IsEnabled="false" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Standard tag" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <div>
                Standard tags offer a moderate level of emphasis, suitable for important actions that aren't central to the application. They serve as a middle ground between Text tags and the more prominent Primary tags, providing flexibility in emphasis.
            </div>
            <br />
            <div class="tags-container">
                <BitTag Text="Standard" Appearance="BitAppearance.Standard" />
                <BitTag Text="Disabled" Appearance="BitAppearance.Standard" IsEnabled="false" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Text tag" RazorCode="@example4RazorCode" Id="example4">
        <ExamplePreview>
            <div>
                Text tags are best suited for understated actions, serving as a less prominent choice in various interface elements.
            </div>
            <br />
            <div class="tags-container">
                <BitTag Text="Text" Appearance="BitAppearance.Text" />
                <BitTag Text="Disabled" Appearance="BitAppearance.Text" IsEnabled="false" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Icon" RazorCode="@example5RazorCode" Id="example5">
        <ExamplePreview>
            <BitTag Text="Text" IconName="@BitIconName.Calendar" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Dismiss" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
        <ExamplePreview>
            @if (isDismissed is false)
            {
                <BitTag IconName="@BitIconName.AlarmClock" Text="Dismiss me" OnDismiss="() => isDismissed = true" />
            }
            <br />
            <br />
            <BitButton IsEnabled="isDismissed" ButtonStyle="BitButtonStyle.Standard" OnClick="() => isDismissed = false">
                Dismissed, click to reset
            </BitButton>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Color" RazorCode="@example7RazorCode" Id="example7">
        <ExamplePreview>
            <div>
                Offering a range of specialized color variants, providing visual cues for specific actions or states within your application.
            </div>
            <br />
            <div class="tags-container-grid">
                <div>
                    <BitTag Text="Info" IconName="@BitIconName.Calendar" Color="BitColor.Info" />
                    <BitTag Text="Info" IconName="@BitIconName.Calendar" Color="BitColor.Info" Appearance="BitAppearance.Standard" />
                    <BitTag Text="Info" IconName="@BitIconName.Calendar" Color="BitColor.Info" Appearance="BitAppearance.Text" />
                </div>
                <br />
                <div>
                    <BitTag Text="Success" IconName="@BitIconName.Calendar" Color="BitColor.Success" />
                    <BitTag Text="Success" IconName="@BitIconName.Calendar" Color="BitColor.Success" Appearance="BitAppearance.Standard" />
                    <BitTag Text="Success" IconName="@BitIconName.Calendar" Color="BitColor.Success" Appearance="BitAppearance.Text" />
                </div>
                <br />
                <div>
                    <BitTag Text="Warning" IconName="@BitIconName.Calendar" Color="BitColor.Warning" />
                    <BitTag Text="Warning" IconName="@BitIconName.Calendar" Color="BitColor.Warning" Appearance="BitAppearance.Standard" />
                    <BitTag Text="Warning" IconName="@BitIconName.Calendar" Color="BitColor.Warning" Appearance="BitAppearance.Text" />
                </div>
                <br />
                <div>
                    <BitTag Text="SevereWarning" IconName="@BitIconName.Calendar" Color="BitColor.SevereWarning" />
                    <BitTag Text="SevereWarning" IconName="@BitIconName.Calendar" Color="BitColor.SevereWarning" Appearance="BitAppearance.Standard" />
                    <BitTag Text="SevereWarning" IconName="@BitIconName.Calendar" Color="BitColor.SevereWarning" Appearance="BitAppearance.Text" />
                </div>
                <br />
                <div>
                    <BitTag Text="Error" IconName="@BitIconName.Calendar" Color="BitColor.Error" />
                    <BitTag Text="Error" IconName="@BitIconName.Calendar" Color="BitColor.Error" Appearance="BitAppearance.Standard" />
                    <BitTag Text="Error" IconName="@BitIconName.Calendar" Color="BitColor.Error" Appearance="BitAppearance.Text" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Template" RazorCode="@example8RazorCode" Id="example8">
        <ExamplePreview>
            <BitTag>
                <BitStack Horizontal Gap="0.5rem" Style="padding-inline: 0.5rem;">
                    <BitLabel>Custom content</BitLabel>
                    <BitRollerLoading Size="32" />
                </BitStack>
            </BitTag>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" RazorCode="@example9RazorCode" CsharpCode="@example9CsharpCode" Id="example9">
        <ExamplePreview>
            <div>
                Empower customization by overriding default styles and classes, allowing tailored design modifications to suit specific UI requirements.
            </div>
            <br />
            <div>Component's Style & Class:</div>
            <br />
            <div class="tags-container">
                <BitTag Text="Styled Tag"
                        IconName="@BitIconName.People"
                        Style="border-radius: 1rem; font-weight:bold" />
                <BitTag Text="Classed Tag"
                        IconName="@BitIconName.People"
                        Class="custom-class" Appearance="BitAppearance.Standard" />
            </div>
            <br /><br /><br />
            <div><b>Styles</b> & <b>Classes</b>:</div>
            <br />
            <div class="tags-container">
                @if (isDismissed2 is false)
                {
                    <BitTag Text="Primary"
                            IconName="@BitIconName.People"
                            OnDismiss="() => isDismissed2 = true"
                            Styles="@(new() { Root = "border-color: darkblue; border-width: 0.25rem;",
                                              Text = "color: darkblue; font-weight: 600;",
                                              DismissIcon = "color: darkblue; font-weight: 600;" })" />
                }

                @if (isDismissed3 is false)
                {
                    <BitTag Text="Standard"
                            IconName="@BitIconName.People"
                            OnDismiss="() => isDismissed3 = true"
                            Appearance="BitAppearance.Standard"
                            Classes="@(new() { Root = "custom-root",
                                               Icon = "custom-icon",
                                               DismissButton = "custom-dismiss" })" />
                }
            </div>
            <br />
            <BitButton IsEnabled="@(isDismissed3 && isDismissed2)" ButtonStyle="BitButtonStyle.Standard" OnClick="() => isDismissed2 = isDismissed3 = false">
                Dismissed, click to reset
            </BitButton>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>