@page "/components/message"
@page "/components/messagebar"
@page "/components/message-bar"

<PageOutlet Url="components/message"
            Title="Message"
            Description="message component of the bit BlazorUI components" />
<ComponentDemo ComponentName="Message"
               ComponentDescription="A Message displays errors, warnings, or important information. For example, if a file failed to upload an error message should appear."
               ComponentParameters="componentParameters"
               ComponentSubEnums="componentSubEnums"
               ComponentSubClasses="componentSubClasses">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <BitMessage>
                This is a Message. <BitLink Href="https://bitplatform.dev">Visit our website.</BitLink>
            </BitMessage>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Severity" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <div class="box">
                <BitMessage Severity="BitSeverity.Info">Info (default).</BitMessage>
                <BitMessage Severity="BitSeverity.Success">Success.</BitMessage>
                <BitMessage Severity="BitSeverity.Warning">Warning.</BitMessage>
                <BitMessage Severity="BitSeverity.SevereWarning">SevereWarning.</BitMessage>
                <BitMessage Severity="BitSeverity.Error">Error.</BitMessage>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Variant" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <div class="box">
                <div>Fill (default):</div>
                <BitMessage Severity="BitSeverity.Info" Variant="BitVariant.Fill">Info.</BitMessage>
                <BitMessage Severity="BitSeverity.Success" Variant="BitVariant.Fill">Success.</BitMessage>
                <BitMessage Severity="BitSeverity.Warning" Variant="BitVariant.Fill">Warning.</BitMessage>
                <BitMessage Severity="BitSeverity.SevereWarning" Variant="BitVariant.Fill">SevereWarning.</BitMessage>
                <BitMessage Severity="BitSeverity.Error" Variant="BitVariant.Fill">Error.</BitMessage>
            </div>
            <br />
            <br />
            <div class="box">
                <div>Outline:</div>
                <BitMessage Severity="BitSeverity.Info" Variant="BitVariant.Outline">Info.</BitMessage>
                <BitMessage Severity="BitSeverity.Success" Variant="BitVariant.Outline">Success.</BitMessage>
                <BitMessage Severity="BitSeverity.Warning" Variant="BitVariant.Outline">Warning.</BitMessage>
                <BitMessage Severity="BitSeverity.SevereWarning" Variant="BitVariant.Outline">SevereWarning.</BitMessage>
                <BitMessage Severity="BitSeverity.Error" Variant="BitVariant.Outline">Error.</BitMessage>
            </div>
            <br />
            <br />
            <div class="box">
                <div>Text:</div>
                <BitMessage Severity="BitSeverity.Info" Variant="BitVariant.Text">Info.</BitMessage>
                <BitMessage Severity="BitSeverity.Success" Variant="BitVariant.Text">Success.</BitMessage>
                <BitMessage Severity="BitSeverity.Warning" Variant="BitVariant.Text">Warning.</BitMessage>
                <BitMessage Severity="BitSeverity.SevereWarning" Variant="BitVariant.Text">SevereWarning.</BitMessage>
                <BitMessage Severity="BitSeverity.Error" Variant="BitVariant.Text">Error.</BitMessage>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Multiline" RazorCode="@example4RazorCode" Id="example4">
        <ExamplePreview>
            <BitMessage Multiline Severity="BitSeverity.Success">
                <b>Multiline</b> parameter makes the content to be rendered in multiple lines.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
            </BitMessage>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Truncate" RazorCode="@example5RazorCode" Id="example5">
        <ExamplePreview>
            <BitMessage Truncate Severity="BitSeverity.Warning">
                <b>Truncate</b> parameter cut the overflowed content at the end of the single line Message.
                Truncation is not available if you use multiline and should be used sparingly.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
            </BitMessage>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Dismiss" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
        <ExamplePreview>
            @if (isDismissed is false)
            {
                <BitMessage OnDismiss="() => isDismissed = true" Severity="BitSeverity.SevereWarning">
                    Dismiss option enabled by adding <strong>OnDismiss</strong> parameter.
                </BitMessage>
            }
            else
            {
                <BitButton OnClick="() => isDismissed = false">Dismissed, click to reset</BitButton>
            }
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Actions" RazorCode="@example7RazorCode" Id="example7">
        <ExamplePreview>
            <BitMessage>
                <Actions>
                    <BitIconButton IconName="@BitIconName.TriangleSolidUp12" />
                    &nbsp;
                    <BitIconButton IconName="@BitIconName.TriangleSolidDown12" />
                </Actions>
                <Content>
                    Message with single line and action buttons.
                </Content>
            </BitMessage>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="HideIcon" RazorCode="@example8RazorCode" Id="example8">
        <ExamplePreview>
            <div class="box">
                <div>HideIcon parameter removes the icon:</div>
                <BitMessage Severity="BitSeverity.Info" HideIcon>Info (default) Message.</BitMessage>
                <BitMessage Severity="BitSeverity.Success" HideIcon>Success Message.</BitMessage>
                <BitMessage Severity="BitSeverity.Warning" HideIcon>Warning Message.</BitMessage>
                <BitMessage Severity="BitSeverity.SevereWarning" HideIcon>SevereWarning Message.</BitMessage>
                <BitMessage Severity="BitSeverity.Error" HideIcon>Error Message.</BitMessage>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Icons" RazorCode="@example9RazorCode" Id="example9">
        <ExamplePreview>
            <BitMessage Severity="BitSeverity.Success" IconName="@BitIconName.CheckMark">
                Message with a custom icon.
            </BitMessage>
            <br />
            <BitMessage Severity="BitSeverity.Warning" OnDismiss="() => {}" DismissIconName="@BitIconName.Blocked2Solid">
                Message with a custom dismiss icon.
            </BitMessage>
            <br />
            <BitMessage Truncate Severity="BitSeverity.Warning"
                        ExpandIconName="@BitIconName.ChevronDownEnd"
                        CollapseIconName="@BitIconName.ChevronUpEnd">
                Message with custom expand and collapse icon.
                Truncation is not available if you use multiline and should be used sparingly.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
            </BitMessage>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" RazorCode="@example10RazorCode" Id="example10">
        <ExamplePreview>
            <div>
                <div>Component's Style & Class:</div>
                <br />
                <BitMessage Severity="BitSeverity.Info" Multiline OnDismiss="() => {}"
                            Style="padding:8px;color:red;">
                    <b>Styled Message.</b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
                </BitMessage>
                <br />
                <BitMessage Severity="BitSeverity.Success" Truncate Class="custom-class">
                    <b>Classed Message.</b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
                </BitMessage>
                <br />
                <br />
                <br />
                <div><b>Styles</b> & <b>Classes</b>:</div>
                <br />
                <BitMessage Severity="BitSeverity.Warning" OnDismiss="() => {}" Multiline
                            Styles="@(new() { Root="padding:1rem",
                                              IconContainer="line-height:1.25",
                                              Content="color:pink",
                                              ContentContainer="margin:0 10px",
                                              DismissIcon="font-size:1rem",
                                              Actions="justify-content:center;gap:1rem" })">
                    <Content>
                        <b>Styles.</b>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
                    </Content>
                    <Actions>
                        <BitButton Variant="BitVariant.Text">Ok</BitButton>
                        <BitButton Variant="BitVariant.Text">Cancel</BitButton>
                    </Actions>
                </BitMessage>
                <br />
                <BitMessage Severity="BitSeverity.SevereWarning" OnDismiss="() => {}" Truncate
                            Classes="@(new() { Icon="custom-icon",
                                               Content="custom-content",
                                               ExpanderIcon="custom-expander-icon",
                                               DismissIcon="custom-dismiss-icon" })">
                    <b>Classes.</b>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
                </BitMessage>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Advanced" RazorCode="@example11RazorCode" CsharpCode="@example11CsharpCode" Id="example11">
        <ExamplePreview>
            @if (isWarningDismissed is false)
            {
                <BitMessage Truncate OnDismiss="() => isWarningDismissed = true" Severity="BitSeverity.Warning">
                    <Content>
                        <b>Truncate</b> with <b>OnDismiss</b> and <b>Actions</b>.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
                    </Content>
                    <Actions>
                        <div style="display:flex;align-items:center;gap:4px;min-height:32px">
                            <button>Yes</button>
                            <button>No</button>
                        </div>
                    </Actions>
                </BitMessage>
            }
            else
            {
                <BitButton OnClick="() => isWarningDismissed = false">Dismissed, click to reset</BitButton>
                <br />
            }
            <br />
            @if (isErrorDismissed is false)
            {
                <BitMessage Multiline OnDismiss="() => isErrorDismissed = true" Severity="BitSeverity.Error">
                    <Content>
                        <b>Multiline</b> with <b>OnDismiss</b> and <b>Actions</b>.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
                    </Content>
                    <Actions>
                        <BitButton Variant="BitVariant.Outline">Yes</BitButton>
                        &nbsp;
                        <BitButton Variant="BitVariant.Outline">No</BitButton>
                    </Actions>
                </BitMessage>
            }
            else
            {
                <BitButton OnClick="() => isErrorDismissed = false">Dismissed, click to reset</BitButton>
            }
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL" RazorCode="@example12RazorCode" Id="example12">
        <ExamplePreview>
            <div class="box">
                <BitMessage Dir="BitDir.Rtl" Severity="BitSeverity.Info">
                    پیام خبری (پیش فرض). <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                </BitMessage>

                <BitMessage Dir="BitDir.Rtl" Severity="BitSeverity.Success" Truncate OnDismiss="() => {}">
                    پیام موفق. <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
                </BitMessage>

                <BitMessage Dir="BitDir.Rtl" Severity="BitSeverity.Warning" Multiline OnDismiss="() => {}">
                    پیام هشدار. <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi luctus, purus a lobortis tristique, odio augue pharetra metus, ac placerat nunc mi nec dui. Vestibulum aliquam et nunc semper scelerisque. Curabitur vitae orci nec quam condimentum porttitor et sed lacus. Vivamus ac efficitur leo. Cras faucibus mauris libero, ac placerat erat euismod et. Donec pulvinar commodo odio sit amet faucibus. In hac habitasse platea dictumst. Duis eu ante commodo, condimentum nibh pellentesque, laoreet enim. Fusce massa lorem, ultrices eu mi a, fermentum suscipit magna. Integer porta purus pulvinar, hendrerit felis eget, condimentum mauris.
                </BitMessage>

                <BitMessage Dir="BitDir.Rtl" Severity="BitSeverity.SevereWarning">
                    پیام هشدار شدید. <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                </BitMessage>

                <BitMessage Dir="BitDir.Rtl" Severity="BitSeverity.Error">
                    پیام خطا. <BitLink Href="https://bitplatform.dev">به وبسایت ما سر بزنید.</BitLink>
                </BitMessage>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>
