@namespace Bit.BlazorUI
@inherits BitComponentBase
@typeparam TItem

<CascadingValue Value="this" IsFixed="true">
    <div style="display:none" hidden>@(Options ?? ChildContent)</div>
</CascadingValue>

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()"
     aria-label="@AriaLabel">

    <div @onclick="CloseCallout" @onclick:stopPropagation
         style="display:@(_isCalloutOpen ? "block" : "none")"
         class="bit-brc-ovl"></div>

    <div class="bit-brc-iwp">
        <ul>
            @foreach ((TItem item, int index) in _displayItems.Select((item, index) => (item, index)))
            {
                <li @key="GetKey(item)">
                    @if (_overflowItems.Any() && index == _internalOverflowIndex)
                    {
                        <button id="@_overflowAnchorId"
                                type="button"
                                class="bit-brc-obt"
                                aria-label="@OverflowAriaLabel" @onclick="OpenCallout">
                            @if(OverflowIconTemplate is not null)
                            {
                                @OverflowIconTemplate
                            }
                            else
                            {
                                <span class="bit-brc-oic">
                                    <i class="bit-icon bit-icon--@OverflowIconName" />
                                </span>
                            }
                        </button>
                    }
                    else
                    {
                        var template = GetTemplate(item);
                        if (GetItemHref(item).HasValue())
                        {
                            <a href="@GetItemHref(item)"
                               aria-current="@(GetIsSelected(item) ? "page" : null)"
                               style="@GetStyles(item)"
                               class="bit-brc-itm @GetClasses(item)">
                                @if (template is not null)
                                {
                                    @template(item)
                                }
                                else if (ItemTemplate is not null)
                                {
                                    @ItemTemplate(item)
                                }
                                else
                                {
                                    var iconName = GetIconName(item);
                                    @if (iconName.HasValue())
                                    {
                                        <i class="bit-icon bit-icon--@iconName" />
                                    }
                                    <span>@GetItemText(item)</span>
                                }
                            </a>
                        }
                        else
                        {
                            <button type="button"
                                    aria-current="@(GetIsSelected(item) ? "page" : null)"
                                    style="@GetStyles(item)"
                                    class="bit-brc-itm @GetClasses(item)" @onclick="() => HandleOnItemClick(item)">
                                @if (template is not null)
                                {
                                    @template(item)
                                }
                                else if (ItemTemplate is not null)
                                {
                                    @ItemTemplate(item)
                                }
                                else
                                {
                                    var iconName = GetIconName(item);
                                    @if (iconName.HasValue())
                                    {
                                        <i class="bit-icon bit-icon--@iconName" />
                                    }
                                    <span>@GetItemText(item)</span>
                                }
                            </button>
                        }
                    }
                </li>

                @if (index != _displayItems.Count - 1)
                {
                    @if (DividerIconTemplate is not null)
                    {
                        @DividerIconTemplate
                    }
                    else
                    {
                        <i class="bit-brc-div bit-icon bit-icon--@(DividerIconName ?? "ChevronRight") @(Dir == BitDir.Rtl && DividerIconName is null ? "bit-brc-rdi" : "")" />
                    }
                }
            }
        </ul>
    </div>

    <div id="@_calloutId"
         tabindex="0"
         role="listbox"
         class="bit-brc-cal">
        <ul id="@_scrollContainerId" class="bit-brc-scn">
            @foreach (var item in _overflowItems)
            {
                var overflowTemplate = GetOverflowTemplate(item);
                <li @key="GetKey(item)">
                    @if (GetItemHref(item).HasValue())
                    {
                        <a href="@GetItemHref(item)"
                           aria-current="@(GetIsSelected(item) ? "page" : null)"
                           style="@GetStyles(item)"
                           class="bit-brc-oitm @GetClasses(item)">
                            @if (overflowTemplate is not null)
                            {
                                @overflowTemplate(item)
                            }
                            else if (OverflowTemplate is not null)
                            {
                                @OverflowTemplate(item)
                            }
                            else
                            {
                                var iconName = GetIconName(item);
                                @if (iconName.HasValue())
                                {
                                    <i class="bit-icon bit-icon--@iconName" />
                                }
                                <span>@GetItemText(item)</span>
                            }
                        </a>
                    }
                    else
                    {
                        <button type="button"
                                aria-current="@(GetIsSelected(item) ? "page" : null)"
                                style="@GetStyles(item)"
                                class="bit-brc-oitm @GetClasses(item)" @onclick="() => HandleOnItemClick(item)">
                            @if (overflowTemplate is not null)
                            {
                                @overflowTemplate(item)
                            }
                            else if (OverflowTemplate is not null)
                            {
                                @OverflowTemplate(item)
                            }
                            else
                            {
                                var iconName = GetIconName(item);
                                @if (iconName.HasValue())
                                {
                                    <i class="bit-icon bit-icon--@iconName" />
                                }
                                <span>@GetItemText(item)</span>
                            }
                        </button>
                    }
                </li>
            }
        </ul>
    </div>
</div>