@if (IsNavOpen is true)
{
    <div class="menu-shadow mobile-nav" @onclick="@ToggleMenu"></div>
}
<div class="navbar @(IsNavOpen is false ? "desktop-nav" : "")">
    <BitSearchBox Placeholder="Search"
                  Class="search-box"
                  IconName=""
                  Value="@searchText"
                  ValueChanged="@HandleChange"
                  OnClear="@HandleClear" />
    <div class="border-top"></div>
    <div class="nav-container">
        <BitLink Href="\components\overview">Components</BitLink>
        <BitNav Class="nav-link"
                NavLinkItems="filteredNavLinks"
                RenderType="renderType"
                AriaLabel="Bit Component Nav"
                OnLinkClick="HandleLinkClick">
        </BitNav>
    </div>
</div>