<ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Single select"
                         Items="GetBasicItems()"
                         Placeholder="Select an item"
                         TItem="BitDropdownItem<string>" TValue="string" />

            <BitDropdown Label="Multi select"
                         Items="GetBasicItems()"
                         DefaultValue="@("")"
                         Placeholder="Select items"
                         IsMultiSelect="true" />

            <BitDropdown Label="IsRequired"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         IsRequired="true" />

            <BitDropdown Label="Disabled"
                         Items="GetBasicItems()"
                         DefaultValue="@("f-ora")"
                         Placeholder="Select an item"
                         IsEnabled="false" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Style & Class" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
    <ExamplePreview>
        <div>Component's Style & Class:</div>
        <br />
        <div class="example-content">
            <BitDropdown Label="Styled Dropdown"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         Style="padding: 1rem;border-radius: 4px;background-color: darkred;" />

            <BitDropdown Label="Classed Dropdown"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         Class="custom-class" />
        </div>
        <br /><br /><br /><br />
        <div>Item's Style & Class:</div>
        <br />
        <div class="example-content">
            <BitDropdown Items="GetStyleClassItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item" />
        </div>
        <br /><br /><br /><br />
        <div><b>Styles</b> & <b>Classes</b>:</div>
        <br />
        <div class="example-content">
            <BitDropdown Label="Styles"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         Styles="@(new() { Label = "font-size:18px;color:darkblue", ItemText = "color:darkred" })" />

            <BitDropdown Label="Classes"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         Classes="@(new() { Label = "custom-label", ItemText = "custom-text" })" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Binding" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
    <ExamplePreview>
        <div>Two-way binding:</div>
        <br />
        <div class="example-content">
            <div>
                <BitDropdown @bind-Value="controlledValue"
                             Label="Single select"
                             Items="GetBasicItems()"
                             Placeholder="Select an item" />
                <BitLabel>Selected Value: @controlledValue</BitLabel>
            </div>
            <div>
                <BitDropdown @bind-Values="controlledValues"
                             Label="Multi select"
                             Items="GetBasicItems()"
                             Placeholder="Select items"
                             IsMultiSelect="true" />
                <BitLabel>Selected Values: @string.Join(",", controlledValues)</BitLabel>
            </div>
        </div>
        <br /><br /><br /><br />
        <div>OnChange:</div>
        <br />
        <div class="example-content">
            <div>
                <BitDropdown Label="Single select"
                             Items="GetBasicItems()"
                             Placeholder="Select an item"
                             TItem="BitDropdownItem<string>" TValue="string"
                             OnChange="(BitDropdownItem<string>[] items) => changedItem = items.SingleOrDefault()" />
                <BitLabel>Changed Value: @changedItem?.Value</BitLabel>
            </div>
            <div>
                <BitDropdown Label="Multi select"
                             IsMultiSelect="true"
                             Items="GetBasicItems()"
                             Placeholder="Select items"
                             TItem="BitDropdownItem<string>" TValue="string"
                             OnChange="(BitDropdownItem<string>[] items) => changedItems = items" />
                <BitLabel>Changed Values: @string.Join(",", changedItems.Select(i => i.Value))</BitLabel>
            </div>
        </div>
        <br /><br /><br /><br />
        <div>OnSelectItem:</div>
        <br />
        <div class="example-content">
            <div>
                <BitDropdown Label="Single select"
                             Items="GetBasicItems()"
                             DefaultValue="@string.Empty"
                             Placeholder="Select an item"
                             OnSelectItem="(BitDropdownItem<string> item) => selectedItem1 = item" />
                <BitLabel>Selected Value: @selectedItem1?.Value</BitLabel>
            </div>
            <div>
                <BitDropdown Label="Multi select"
                             Items="GetBasicItems()"
                             DefaultValue="@string.Empty"
                             Placeholder="Select items"
                             IsMultiSelect="true"
                             OnSelectItem="(BitDropdownItem<string> item) => selectedItem2 = item" />
                <BitLabel>Selected Value: @selectedItem2?.Value</BitLabel>
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Customization" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Text & Item templates"
                         Items="GetDataItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item">
                <TextTemplate Context="dropdown">
                    <div class="custom-drp custom-drp-txt">
                        <BitIcon IconName="@((dropdown.SelectedItem?.Data as DropdownItemData)?.IconName)" />
                        <BitLabel>@dropdown.SelectedItem?.Text</BitLabel>
                    </div>
                </TextTemplate>
                <ItemTemplate Context="item">
                    <div class="custom-drp custom-drp-item">
                        <BitIcon IconName="@((item.Data as DropdownItemData)?.IconName)" />
                        <BitLabel Style="text-decoration:underline">@item.Text</BitLabel>
                    </div>
                </ItemTemplate>
            </BitDropdown>

            <BitDropdown Label="Placeholder template"
                         Items="GetDataItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item">
                <PlaceholderTemplate Context="dropdown">
                    <div class="custom-drp custom-drp-ph">
                        <BitIcon IconName="@BitIconName.MessageFill" />
                        <BitLabel>@dropdown.Placeholder</BitLabel>
                    </div>
                </PlaceholderTemplate>
            </BitDropdown>

            <BitDropdown Label="Label template"
                         Items="GetDataItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item">
                <LabelTemplate>
                    <div class="custom-drp custom-drp-lbl">
                        <BitLabel>Custom label</BitLabel>
                        <BitIcon IconName="@BitIconName.Info" AriaLabel="Info" />
                    </div>
                </LabelTemplate>
            </BitDropdown>

            <BitDropdown Label="CaretDownIconName"
                         Items="GetDataItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         CaretDownIconName="@BitIconName.ScrollUpDown" />

            <BitDropdown Label="Callout templates"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item">
                <CalloutHeaderTemplate>
                    <BitLabel Style="padding:0.5rem;border-bottom:1px solid #555">Best in the world</BitLabel>
                </CalloutHeaderTemplate>
                <CalloutFooterTemplate>
                    <BitActionButton IconName="@BitIconName.Add">New Item</BitActionButton>
                </CalloutFooterTemplate>
            </BitDropdown>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Responsive" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5">
    <ExamplePreview>
        <div class="example-desc">When the <strong>IsResponsive</strong> parameter is true, on small screens the drop down items will render in a side panel.</div>
        <div class="example-content">
            <BitDropdown Label="Responsive Dropdown"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         IsResponsive=true />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="SearchBox" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
    <ExamplePreview>
        <div>Default search function:</div>
        <br />
        <div class="example-content">
            <BitDropdown Label="Single select & auto focus"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         ShowSearchBox="true"
                         AutoFocusSearchBox="true"
                         SearchBoxPlaceholder="Search item" />

            <BitDropdown Label="Multi select"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select items"
                         IsMultiSelect="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="Search items" />
        </div>
        <br /><br /><br /><br />
        <div>Custom search function:</div>
        <br />
        <div class="example-content">
            <BitDropdown Label="Single select & auto focus"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         ShowSearchBox="true"
                         AutoFocusSearchBox="true"
                         SearchFunction="(items, text) => items.Where(i => i.Text?.StartsWith(text, StringComparison.OrdinalIgnoreCase) ?? false).ToArray()"
                         SearchBoxPlaceholder="Search item" />

            <BitDropdown Label="Multi select"
                         Items="GetBasicItems()"
                         DefaultValue="@string.Empty"
                         Placeholder="Select items"
                         IsMultiSelect="true"
                         ShowSearchBox="true"
                         SearchFunction="(items, text) => items.Where(i => i.Text?.EndsWith(text, StringComparison.OrdinalIgnoreCase) ?? false).ToArray()"
                         SearchBoxPlaceholder="Search items" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="ComboBox" RazorCode="@example7RazorCode" CsharpCode="@example7CsharpCode" Id="example7">
    <ExamplePreview>
        <div class="example-desc">When the <strong>Combo</strong> parameter is true, you can type in BitDropdown input and search between items.</div>
        <div class="example-content-cb">
            <BitDropdown @bind-Value="comboBoxValueSample1"
                         Combo
                         Label="Single select combo box"
                         Placeholder="Select an option"
                         Items="comboBoxItems" />
            <strong>Value: @comboBoxValueSample1</strong>
        </div>
        <br />
        <br />
        <div class="example-desc">When the <strong>Chips</strong> parameter is true, shows the selected items like chips in the ComboBox.</div>
        <div class="example-content-cb">
            <BitDropdown @bind-Value="comboBoxValueSample2"
                         Combo Chips
                         Label="Single select combo box"
                         Placeholder="Select an option"
                         Items="comboBoxItems" />
            <strong>Value: @comboBoxValueSample2</strong>
        </div>
        <br />
        <br />
        <div class="example-desc">When the <strong>Dynamic</strong> parameter is true, you can add a new item in the ComboBox.</div>
        <div class="example-content-cb">
            <BitDropdown @bind-Value="comboBoxValueSample3"
                         Combo Dynamic
                         Label="Single select combo box"
                         Placeholder="Select an option"
                         Items="comboBoxItems"
                         DynamicValueGenerator="(BitDropdownItem<string> item) => item.Text"
                         OnDynamicAdd="(BitDropdownItem<string> item) => HandleOnDynamicAdd(item)" />
            <strong>Value: @comboBoxValueSample3</strong>
        </div>
        <br />
        <br />
        <div class="example-desc">When the <strong>Combo</strong>, <strong>Chips</strong> and <strong>Dynamic</strong> parameters are true, you can add a new item in the ComboBox (pressing the enter key or touching the add button on the mobile).</div>
        <div class="example-content-cb">
            <BitDropdown @bind-Value="comboBoxValueSample4"
                         Combo Chips Dynamic
                         Label="Single select combo box"
                         Placeholder="Select an option"
                         Items="comboBoxItems"
                         IsResponsive="true"
                         DynamicValueGenerator="(BitDropdownItem<string> item) => item.Text"
                         OnDynamicAdd="(BitDropdownItem<string> item) => HandleOnDynamicAdd(item)" />
            <strong>Value: @comboBoxValueSample4</strong>
            <br />
            <BitDropdown @bind-Values="comboBoxValues"
                         Combo Chips Dynamic
                         Label="Multi select combo box"
                         Placeholder="Select options"
                         Items="comboBoxItems"
                         IsMultiSelect="true"
                         IsResponsive="true"
                         DynamicValueGenerator="(BitDropdownItem<string> item) => item.Text"
                         OnDynamicAdd="(BitDropdownItem<string> item) => HandleOnDynamicAdd(item)" />
            <strong>Values: @string.Join(',', comboBoxValues)</strong>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Prefix & Suffix" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Prefix"
                         Prefix="Fruits:"
                         Items="GetBasicItems()"
                         Placeholder="Select an item"
                         TItem="BitDropdownItem<string>"
                         TValue="string" />

            <BitDropdown Label="Suffix"
                         Suffix="kg"
                         Items="GetBasicItems()"
                         Placeholder="Select an item"
                         TItem="BitDropdownItem<string>"
                         TValue="string" />


            <BitDropdown Label="Prefix and Suffix"
                         Prefix="Fruits:"
                         Suffix="kg"
                         Items="GetBasicItems()"
                         Placeholder="Select an item"
                         TItem="BitDropdownItem<string>"
                         TValue="string" />

            <BitDropdown Label="Disabled"
                         Prefix="Fruits:"
                         Suffix="kg"
                         Items="GetBasicItems()"
                         Placeholder="Select an item"
                         TItem="BitDropdownItem<string>"
                         TValue="string"
                         IsEnabled="false" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="RTL" RazorCode="@example9RazorCode" CsharpCode="@example9CsharpCode" Id="example9">
    <ExamplePreview>
        <div style="display:flex;justify-content:end">
            <div class="example-content">
                <BitDropdown Label="تک انتخابی"
                             Items="GetRtlItems()"
                             DefaultValue="@string.Empty"
                             Placeholder="لطفا انتخاب کنید"
                             Dir="BitDir.Rtl" />

                <BitDropdown Label="چند انتخابی"
                             Items="GetRtlItems()"
                             DefaultValue="@string.Empty"
                             Placeholder="انتخاب چند گزینه ای"
                             IsMultiSelect="true"
                             Dir="BitDir.Rtl" />
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Drop direction" RazorCode="@example10RazorCode" CsharpCode="@example10CsharpCode" Id="example10">
    <ExamplePreview>
        <div class="example-content">
            <BitDropdown Label="Auto"
                         Items="dropDirectionItems"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         DropDirection="BitDropDirection.Auto" />

            <BitDropdown Label="TopAndBottom"
                         Items="dropDirectionItems"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         DropDirection="BitDropDirection.TopAndBottom" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Clear button" RazorCode="@example11RazorCode" CsharpCode="@example11CsharpCode" Id="example11">
    <ExamplePreview>
        <div class="example-content">
            <div>
                <BitDropdown @bind-Value="clearValue"
                             Label="Single select dropdown"
                             Items="GetBasicItems()"
                             Placeholder="Select an option"
                             ShowClearButton="true" />
                <BitLabel>Value: @clearValue</BitLabel>
            </div>
            <br>
            <div>
                <BitDropdown @bind-Values="clearValues"
                             Label="Multi select dropdown"
                             Items="GetBasicItems()"
                             Placeholder="Select options"
                             IsMultiSelect="true"
                             ShowClearButton="true" />
                <BitLabel>Values: @string.Join(',', clearValues)</BitLabel>
            </div>
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Validation" RazorCode="@example12RazorCode" CsharpCode="@example12CsharpCode" Id="example12">
    <ExamplePreview>
        <div class="example-content">
            @if (string.IsNullOrEmpty(successMessage))
            {
                <EditForm style="width: 100%" Model="validationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                    <DataAnnotationsValidator />

                    <BitDropdown @bind-Value="validationModel.Category"
                                 Label="Select 1 item"
                                 Items="GetBasicItems()"
                                 Placeholder="Select and item" />

                    <ValidationMessage For="@(() => validationModel.Category)" />

                    <br />

                    <BitDropdown @bind-Values="validationModel.Products"
                                 Label="Select min 1 and max 2 items"
                                 Items="GetBasicItems()"
                                 Placeholder="Select items"
                                 IsMultiSelect="true" />

                    <ValidationMessage For="@(() => validationModel.Products)" />

                    <br />

                    <BitButton ButtonType="BitButtonType.Submit">Submit</BitButton>
                </EditForm>
            }
            else
            {
                <BitMessage Severity="BitSeverity.Success">@successMessage</BitMessage>
            }
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Virtualization" RazorCode="@example13RazorCode" CsharpCode="@example13CsharpCode" Id="example13">
    <ExamplePreview>
        <div style="font-size:1.125rem;font-weight:bold">Items:</div>
        <br />
        <div class="example-content">
            <BitDropdown Label="Single select"
                         Items="virtualizeItems1"
                         DefaultValue="@string.Empty"
                         Placeholder="Select an item"
                         Virtualize="true" />

            <BitDropdown Label="Multi select"
                         Items="virtualizeItems2"
                         DefaultValue="@string.Empty"
                         IsMultiSelect="true"
                         Placeholder="Select items"
                         Virtualize="true" />
        </div>
        <br /><br /><br /><br /><br />
        <div style="font-size:1.125rem;font-weight:bold">ItemsProvider:</div>
        <br />
        <div class="example-content">
            <BitDropdown Label="Single select"
                         Virtualize="true"
                         ItemsProvider="LoadItems"
                         Placeholder="Select an item"
                         TItem="BitDropdownItem<string>" TValue="string" />

            <BitDropdown Label="Multi select"
                         Virtualize="true"
                         IsMultiSelect="true"
                         ItemsProvider="LoadItems"
                         Placeholder="Select items"
                         TItem="BitDropdownItem<string>" TValue="string" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>
