@page "/templates"
@page "/templates/overview"

<div class="page-container">
    <h1 class="page-main-title">Project templates</h1>
    <div class="page-desc">
        Coding templates based on .Net MAUI / Blazor that enables high quality speedy cross-platform development for web, android and iOS and also has pixel-perfect, ready to use UIs.
    </div>
    <div class="card-list">
        <div class="template-card">
            <div class="template-img-container">
                <a href="@Urls.TodoTemplate">
                    <img class="template-img" src="/images/templates/todo-template.webp" alt="TodoTemplate preview" />
                </a>
                <a class="preview-btn" href="@Urls.TodoTemplateSpa" target="_blank">Live preview</a>
            </div>
            <div class="template-name">TodoTemplate</div>
            <div class="template-desc">
                TodoTemplate is based on ASP.NET core, identity, web api and ef core for the server side + blazor at client side.<br />
                It allows you building Android, iOS, Windows, Web applications from single code base.
            </div>
            <a class="template-link" href="@Urls.TodoTemplate">Read more about TodoTemplate <span class="template-link-arrow"></span></a>
        </div>
        <div class="template-card">
            <div class="template-img-container">
                <a href="@Urls.AdminPanel">
                    <img class="template-img" src="/images/templates/admin-panel.webp" alt="AdminPanel preview" />
                </a>
                <a class="preview-btn" href="@Urls.AdminPanelSpa" target="_blank">Live preview</a>
            </div>
            <div class="template-name">AdminPanel</div>
            <div class="template-desc">
                AdminPanel is based on ASP.NET core, identity, web api and ef core for the server side + blazor at client side.<br />
                It allows you building Android, iOS, Windows, Web applications from single code base.
            </div>
            <a class="template-link" href="@Urls.AdminPanel">Read more about AdminPanel <span class="template-link-arrow"></span></a>
        </div>
    </div>
</div>