@namespace Bit.BlazorUI.Demo.Client.Shared
@inherits AppComponentBase

<header class="header @(_currentUrl == "/" ? "header--full-page" : null)">
    <div class="container">
        <div class="content">
            @if (_currentUrl != "/")
            {
                <BitIconButton Class="menu-btn" IconName=BitIconName.CollapseMenu OnClick=@WrapHandled(ToggleNavMenu) AriaLabel="Header menu button" />
            }
            <a class="logo" href="/" aria-label="Homepage"></a>
            <a class="link @(_currentUrl == "/" ? "link--active" : "")" href="/">Home</a>
            <a class="link @(_currentUrl != "/" ? "link--active" : "")" href="/overview">Docs</a>
        </div>
        <div class="right-section">
            <a class="github-btn" target="_blank" aria-label="Github repository" href="https://github.com/bitfoundation/bitplatform"></a>
            <BitIconButton OnClick="WrapHandled(ToggleTheme)"
                           Class="@($"toggle-theme-btn{(_isDarkMode ? " fix-light-icon" : "")}")"
                           IconName="@(_isDarkMode ? BitIconName.Sunny : BitIconName.ClearNight)"
                           Title="@(_isDarkMode ? "Turn on light" : "Turn off light")" />
        </div>
    </div>
</header>