@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel">

    <button @onclick="HandleOnClick"
            role="button"
            class="bit-acd-hdr"
            aria-expanded="@IsExpanded"
            tabindex="@(IsEnabled ? 0 : -1)">
        @if (HeaderTemplate is not null)
        {
            @HeaderTemplate(IsExpanded)
        }
        else
        {
            <div class="bit-acd-wrp">
                <div class="bit-acd-ttl">@Title</div>
                <div class="bit-acd-des">@Description</div>
            </div>
            <i class="bit-icon bit-icon--ChevronDown bit-acd-hic@(IsExpanded ? " bit-acd-hex" : "")"></i>
        }
    </button>

    <div>
        <div role="region"
             tabindex="@(IsEnabled ? 0 : -1)"
             class="bit-acd-con @(IsExpanded ? "bit-acd-cex" : "bit-acd-cco")">
            @ChildContent
        </div>
    </div>
</div>