@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()"
     aria-label="@AriaLabel">
    <button @onclick="HandleOnClick"
            role="button"
            type="button"
            style="@Styles?.Header"
            class="bit-acd-hdr @Classes?.Header"
            aria-expanded="@IsExpanded"
            tabindex="@(IsEnabled ? 0 : -1)">
        @if (HeaderTemplate is not null)
        {
            @HeaderTemplate(IsExpanded)
        }
        else
        {
            <div style="@Styles?.HeaderContent" class="bit-acd-wrp @Classes?.HeaderContent">
                <div style="@Styles?.Title" class="bit-acd-ttl @Classes?.Title">
                    @Title
                </div>
                <div style="@Styles?.Description" class="bit-acd-des @Classes?.Description">
                    @Description
                </div>
            </div>
            <i style="@Styles?.ChevronDownIcon" class="@Classes?.ChevronDownIcon bit-icon bit-icon--ChevronDown bit-acd-hic" />
        }
    </button>
    <div role="region"
         style="@Styles?.Content"
         class="@Classes?.Content bit-acd-con"
         tabindex="@(IsEnabled ? 0 : -1)">
        @ChildContent
    </div>
</div>