@page "/components/nav"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Nav" OverviewDesc="A navigation pane (Nav) provides links to the main areas of an app or site."
               ComponentParameters="componentParameters" EnumParameters="enumParameters" ComponentSubParameters="componentSubParameters">
    <CodeSample Title="Basic Nav With Sample Links" Description="" CodeSampleContentForCopy="@navLinksSampleCode">
        <SampleContent>
            <div>
                <BitNav Style="width: 208px;
                   height: 350px;
                   box-sizing: border-box;
                   border: 1px solid #eee;
                   overflow-y: auto;"
                        NavLinkItems="BasicNavLinks"
                        IsOnTop="true"
                        AriaLabel="Nav basic example"
                        SelectedKey="key3">
                </BitNav>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitNav Style</span>="width: 208px;height: 350px;box-sizing: border-box;border: 1px solid #eee;overflow-y: auto;"
                                 <span class="soco-component-attr">NavLinkItems</span> = "BasicNavLinks"
                                 <span class="soco-component-attr">IsOnTop</span>="<span class="soco-tag-type-def">true</span>"
                                 <span class="soco-component-attr">AriaLabel</span> = "Nav basic example"
                                 <span class="soco-component-attr">SelectedKey</span> = "key3">
                &lt/<span class="soco-component-attr">BitNav</span>&gt;
                <span class="soco-code">&#64;code {</span>
                    <span class="soco-tag-type-def">private readonly </span>List&ltBitNavLinkItem> BasicNavLinks = <span class=soco-tag-type-def>new</span>()
                    {
                        <span class="soco-tag-type-def">new </span>BitNavLinkItem
                        {
                            Name = <span class="soco-string">"Home"</span>,
                            Url = <span class="soco-tag-type-def">"http://example.com"</span>,
                            ExpandAriaLabel = <span class="soco-string">"Expand Home section"</span>,
                            CollapseAriaLabel = <span class="soco-string">"Collapse Home section"</span>,
                            IsExpanded = <span class="soco-tag-type-def">true</span>,
                            Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                            {
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span> { Name = <span class="soco-string">"Activity"</span>, Url = "<span class="soco-tag-type-def">http://msn.com</span>", Key = <span class="soco-string">"key1"</span>, Target=<span class="soco-string">"_blank"</span> },
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span> { Name = <span class="soco-string">"MSN"</span>, Url = "<span class="soco-tag-type-def">http://msn.com</span>", Key = <span class="soco-string">"key2"</span>, IsEnabled = <span class="soco-tag-type-def">false</span>, Target = <span class="soco-string">"_blank"</span> }
                            }
                        },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Documents"</span><span>, Url = "</span><span class="soco-tag-type-def">http://example.com</span>" , <span>Key = </span><span class="soco-string">"key2"</span> , <span>Target = </span><span class="soco-string">"_blank"</span> , <span>IsExpanded = </span><span class="soco-tag-type-def">true</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Pages"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key3"</span> , <span>Target = </span><span class="soco-string">"_parent"</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Notebook"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key4"</span> , <span>IsEnabled = </span><span class="soco-tag-type-def">false</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Communication and Media"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key5"</span> , <span>Target = </span><span class="soco-string">"_top"</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"News"</span><span>, Title = </span><span class="soco-string">"News"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key6"</span> , <span>Target = </span><span class="soco-string">"_self"</span> , <span>Icon = </span><span class="soco-string">News</span> }
                    }
                <span class="soco-code">};</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>

    <CodeSample Title="Nav With Wrapped Link Text And No Tooltips" Description="" CodeSampleContentForCopy="@navLinksWithoutTooltipSampleCode">
        <SampleContent>
            <div>
                <BitNav Style="width: 208px;
                   height: 350px;
                   box-sizing: border-box;
                   border: 1px solid #eee;
                   overflow-y: auto;"
                        Class="bit-nav-wrapped-link"
                        SelectedKey="key6"
                        AriaLabel="Nav example with wrapped link text"
                        NavLinkItems="BasicNoToolTipNavLinks">
                </BitNav>
            </div>
        </SampleContent>
        <CodeSampleContent>
             <pre>
                &lt<span class="soco-component-attr">BitNav Style</span>="width: 208px;height: 350px;box-sizing: border-box;border: 1px solid #eee;overflow-y: auto;"
                                 <span class="soco-component-attr">Class</span>="bit-nav-wrapped-link"
                                 <span class="soco-component-attr">SelectedKey</span>="key5">
                                 <span class="soco-component-attr">AriaLabel</span>="Nav example with wrapped link text"
                                 <span class="soco-component-attr">NavLinkItems</span>="BasicNoToolTipNavLinks">
                &lt/<span class="soco-component-attr">BitNav</span>&gt;
                <span class="soco-code">&#64;code {</span>
                    <span class="soco-tag-type-def">private readonly </span><span>List&ltBitNavLinkItem></span> BasicNoToolTipNavLinks = <span class=soco-tag-type-def>new</span>()
                    {
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span>
                        {
                            Name = <span class="soco-string">"Home"</span>,
                            Url = <span class="soco-tag-type-def">"http://example.com"</span>,
                            IsExpanded = <span class="soco-tag-type-def">true</span>,
                            CollapseAriaLabel = <span class="soco-string">"Collapse Home section"</span>,
                            ExpandAriaLabel = <span class="soco-string">"Expand Home section"</span>,
                            Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                            {
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span> { Name = <span class="soco-string">"Activity"</span>, Url = "<span class="soco-tag-type-def">http://msn.com</span>", Key = <span class="soco-string">"key1"</span>, Target=<span class="soco-string">"_blank"</span>, Title = <span class="soco-string">""</span> },
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span> { Name = <span class="soco-string">"MSN"</span>, Url = "<span class="soco-tag-type-def">http://msn.com</span>", Key = <span class="soco-string">"key2"</span>, IsEnabled = <span class="soco-tag-type-def">false</span>, Target = <span class="soco-string">"_blank"</span>, Title = <span class="soco-string">"</span> }
                            }
                        },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Shared Documents and Files"</span><span>, Url = "</span><span class="soco-tag-type-def">http://example.com</span>" , <span>Key = </span><span class="soco-string">"key2"</span> , <span>Target = </span><span class="soco-string">"_blank"</span>},
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Pages"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key3"</span> , <span>Target = </span><span class="soco-string">"_parent"</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Notebook"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key4"</span> , <span>IsEnabled = </span><span class="soco-tag-type-def">false</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Communication and Media"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key5"</span> , <span>Target = </span><span class="soco-string">"_top"</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"News"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key6"</span> , <span>Target = </span><span class="soco-string">"_self"</span> , <span>Icon = </span><span class="soco-string">"News"</span> }
                    };
                <span class="soco-code">}</span>
            </pre>    
        </CodeSampleContent>
    </CodeSample>

    <CodeSample Title="Nav Without Url" Description="" CodeSampleContentForCopy="@navLinksWithNoUrlSampleCode">
        <SampleContent>
            <div>
                <BitNav Style="width: 300px;"
                        NavLinkItems="BasicNoUrlNavLinks"
                        RenderType="BitNavRenderType.Grouped"
                        AriaLabel="Nav example similar to one found in this demo page">
                </BitNav>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitNav Style</span><span>="width: 300px;"</span>
                                 <span class="soco-component-attr">NavLinkItems</span>="BasicNoUrlNavLinks"
                                 <span class="soco-component-attr">RenderType</span>="BitNavRenderType.Grouped"
                                 <span class="soco-component-attr">AriaLabel</span>="Nav example similar to one found in this demo page"
                &lt/<span class="soco-component-attr">BitNav</span>&gt;
                <span class="soco-code">&#64;code {</span>
                    <span class="soco-tag-type-def">private readonly </span> List&ltBitNavLinkItem> BasicNoUrlNavLinks = <span class=soco-tag-type-def>new</span>()
                    {
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span>
                        {
                            Name = <span class="soco-string">"Basic components"</span>,
                            CollapseAriaLabel = <span class="soco-string">"Collapse Basic components section"</span>,
                            IsExpanded = <span class="soco-tag-type-def">true</span>,
                            Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                            {
                                <span class="soco-tag-type-def">new </span><span> List&ltBitNavLinkItem></span> 
                                {
                                    <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"ActivityItem"</span><span>, Url = "</span><span class="soco-string">#/examples/activityitem</span>" , <span>Key = </span><span class="soco-string">"ActivityItem"</span> },                        
                                    <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Breadcrumb"</span><span>, Url = "</span><span class="soco-string">#/examples/breadcrumb</span>" , <span>Key = </span><span class="soco-string">"Breadcrumb"</span> },                        
                                    <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Button"</span><span>, Url = "</span><span class="soco-string">#/examples/button</span>" , <span>Key = </span><span class="soco-string">"Button"</span> }                        
                                }
                            },
                            <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span>
                            {
                                Name = <span class="soco-string">"Extended components"</span>,
                                CollapseAriaLabel = <span class="soco-string">"Collapse Extended components section"</span>,
                                IsExpanded = <span class="soco-tag-type-def">true</span>,
                                Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                                {
                                    <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"ColorPicker"</span><span>, Url = "</span><span class="soco-string">#/examples/colorpicker</span>" , <span>Key = </span><span class="soco-string">"ColorPicker"</span> },                        
                                    <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"ExtendedPeoplePicker"</span><span>, Url = "</span><span class="soco-string">#/examples/extendedpeoplepicker</span>" , <span>Key = </span><span class="soco-string">"ExtendedPeoplePicker"</span> },                        
                                    <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"GroupedList"</span><span>, Url = "</span><span class="soco-string">#/examples/groupedlist</span>" , <span>Key = </span><span class="soco-string">"GroupedList"</span> }                                                                
                                },
                            }
                            <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span>
                            {
                                Name = <span class="soco-string">"Utilities"</span>,
                                CollapseAriaLabel = <span class="soco-string">"Collapse Utilities section"</span>,
                                IsExpanded = <span class="soco-tag-type-def">true</span>,
                                Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                                {
                                    <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"FocusTrapZone"</span><span>, Url = "</span><span class="soco-string">#/examples/focustrapzone</span>" , <span>Key = </span><span class="soco-string">"FocusTrapZone"</span> },                        
                                    <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"FocusZone"</span><span>, Url = "</span><span class="soco-string">#/examples/focuszone</span>" , <span>Key = </span><span class="soco-string">"FocusZone"</span> },                        
                                    <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"MarqueeSelection"</span><span>, Url = "</span><span class="soco-string">#/examples/marqueeselection</span>" , <span>Key = </span><span class="soco-string">"MarqueeSelection"</span> }                                                                
                                }
                            }
                        }
                    };
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>

    <CodeSample Title="Nav With Nested Links" Description="" CodeSampleContentForCopy="@navWithNestedLinksSampleCode">
        <SampleContent>
            <div>
                <BitNav NavLinkItems="NestedLinks"
                        AriaLabel="Nav example with nested links"
                        SelectedKey="Key1-1-2">
                </BitNav>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-component-attr">BitNav NavLinkItems</span>="NestedLinks"
                                  <span class="soco-component-attr">AriaLabel</span>="Nav example with nested links" 
                                  <span class="soco-component-attr">SelectedKey</span>="Key1-1-2"&gt;
                &lt;/<span class="soco-component-attr">BitNav</span>&gt;
                <span class="soco-code">&#64;code {</span>
                    <span class="soco-tag-type-def">private readonly </span><span>List&ltBitNavLinkItem></span> NestedLinks = <span class=soco-tag-type-def>new</span>()                        
                    {
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span>
                        {
                            Name = <span class="soco-string">"Parent link 1"</span>,
                            Url = <span class="soco-string">"http://example.com"</span>,
                            Key = <span class="soco-string">"key1"</span>,
                            Title = <span class="soco-string">"Parent link 1"</span>,
                            CollapseAriaLabel = <span class="soco-string">"Collapse Parent link 1"</span>,
                            Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                            {                        
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span> 
                                {                        
                                    Name = <span class="soco-string">"Child link 1"</span>,
                                    Url = <span class="soco-tag-type-def">"http://msn.com"</span>,
                                    Key = <span class="soco-string">"key1-1"</span>,
                                    Title = <span class="soco-string">"Child link 1"</span>,
                                    Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                                    {
                                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"3rd level link 1"</span><span>, Url = "</span><span class="soco-string">http://msn.com</span>" , <span>Title = </span><span class="soco-string">"3rd level link 1"</span> , <span>Key = </span><span class="soco-string">"Key1-1-1"</span> },
                                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"3rd level link 2"</span><span>, Url = "</span><span class="soco-string">http://msn.com</span>" , <span>Title = </span><span class="soco-string">"3rd level link 2"</span> , <span>Key = </span><span class="soco-string">"Key1-1-2"</span> , <span>IsEnabled = "</span><span class="soco-tag-type-def">false</span>" },
                                    }
                                },
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"3rd level link 2"</span><span>, Url = "</span><span class="soco-string">http://msn.com</span>" , <span>Title = </span><span class="soco-string">"3rd level link 2"</span> , <span>Key = </span><span class="soco-string">"Key1-2"</span> },
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"3rd level link 3"</span><span>, Url = "</span><span class="soco-string">http://msn.com</span>" , <span>Title = </span><span class="soco-string">"3rd level link 3"</span> , <span>Key = </span><span class="soco-string">"Key1-3"</span> , <span>IsEnabled = "</span><span class="soco-tag-type-def">false</span>" },
                            }
                        },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span>
                        {
                            Name = <span class="soco-string">"Parent link 2"</span>,
                            Key = <span class="soco-string">"key2"</span>,
                            Title = <span class="soco-string">Parent link 2</span>,
                            Url = <span class="soco-tag-type-def">http://example.com</span>,
                            CollapseAriaLabel = <span class="soco-string">"Collapse Parent link 2"</span>,
                            Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                            {
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Child link 4"</span><span>, Title = </span><span class="soco-string">"Child link 4"</span><span>, Url = "</span><span class="soco-tag-type-def">http://example.com</span>" , <span>Key = </span><span class="soco-string">"Key2-1"</span> }
                            }
                        }
                    };
                <span class="soco-code">}</span>
            </pre>          
        </CodeSampleContent>
    </CodeSample>

    <CodeSample Title="Nav With Custom Group Header" Description="" CodeSampleContentForCopy="@navWithCustomHeaderLinksSampleCode">
        <SampleContent>
            <div>
                <BitNav NavLinkItems="CustomHeaderLinks"
                        RenderType="BitNavRenderType.Grouped"
                        AriaLabel="Nav with custom group header">
                    <HeaderTemplate Context="link">
                        <h3> @link.Name </h3>
                    </HeaderTemplate>
                </BitNav>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-component-attr">BitNav NavLinkItems</span>="CustomHeaderLinks"
                                  <span class="soco-component-attr">RenderType</span>="BitNavRenderType.Grouped"
                                  <span class="soco-component-attr">AriaLabel</span>="Nav with custom group header"&gt;
                      &lt;<span class="soco-component-attr">HeaderTemplate Context</span>="link"&gt;
                                &lt;<span class="soco-tag-type-def">h3</span>&gt;<span class="soco-code">&#64;</span>link.Name &lt;/<span class="soco-tag-type-def">h3</span>&gt;
                      &lt;/<span class="soco-component-attr">HeaderTemplate</span>="link"&gt;
                &lt;/<span class="soco-component-attr">BitNav</span>&gt;
                <span class="soco-code">&#64;code {</span>
                    <span class="soco-tag-type-def">private readonly </span> <span>List&ltBitNavLinkItem></span> CustomHeaderLinks = <span class=soco-tag-type-def>new</span>()
                    {
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span>
                        {
                            Name = <span class="soco-string">"Pages"</span>,
                            Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                            {
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Activity"</span><span> , Title = </span><span class="soco-string">"Activity"</span><span>, Url = "</span><span class="soco-string">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"Key2-1"</span> },
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"News"</span><span> , Title = </span><span class="soco-string">"News"</span><span> Url = "</span><span class="soco-string">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"Key2-1"</span> }
                            }
                        },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span>
                        {                        
                            Name = <span class="soco-string">"More pages"</span>,
                            Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                            {
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Settings"</span><span> , Title = </span><span class="soco-string">"Settings"</span><span>, Url = "</span><span class="soco-string">http://example.com</span>" , <span>Key = </span><span class="soco-string">"Key2-1"</span> },
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Notes"</span><span> , Title = </span><span class="soco-string">"Notes"</span><span> Url = "</span><span class="soco-string">http://example.com</span>" , <span>Key = </span><span class="soco-string">"Key2-1"</span> }
                            }
                        }
                    };
                <span class="soco-code">}</span>
            </pre>        
        </CodeSampleContent>
    </CodeSample>

    <CodeSample Title="Basic Nav, Top Of The Another Element" Description="" CodeSampleContentForCopy="@navTopOfAnotherSampleCode">
        <SampleContent>
            <div>
                <BitNav Style="width: 208px;
                            height: 350px;
                            box-sizing: border-box;
                            border: 1px solid #eee;
                            overflow-y: auto;
                            z-index: 2;
                            background-color: white;"
                        NavLinkItems="BasicNavLinks"
                        IsOnTop="true"
                        AriaLabel="Nav basic example"
                        SelectedKey="key3">
                </BitNav>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-tag-type-def">div style</span>="position: relative;"&gt
                     &lt;<span class="soco-tag-type-def">div </span><span class="soco-var-attr">style</span>="width: 200px;height: 500px;background-color: rebeccapurple;"&lt;/<span class="soco-tag-type-def">div</span>&gt;
                     &lt;<span class="soco-component-attr">BitNav Style</span>="width: 208px;height: 350px;box-sizing: border-box;border: 1px solid #eee;overflow-y: auto;background-color: white;"
                                       <span class="soco-component-attr">NavLinkItems</span>="BasicNavLinks"
                                       <span class="soco-component-attr">IsOnTop</span>="<span class="soco-tag-type-def">true</span>"
                                       <span class="soco-component-attr">AriaLabel</span>="Nav basic example"
                                       <span class="soco-component-attr">SelectedKey</span>="key3">
                     &lt;/<span class="soco-component-attr">BitNav</span><span>&gt;</span>
                &lt;/<span class="soco-tag-type-def">div</span>&gt;
                <span class="soco-code">&#64;code {</span>
                    <span class="soco-tag-type-def">private readonly </span> <span>List&ltBitNavLinkItem></span> BasicNavLinks = <span class=soco-tag-type-def>new</span>()
                    {
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span>
                        {
                            Name = <span class="soco-string">"Home"</span>,
                            Url = <span class="soco-tag-type-def">"http://example.com"</span>,
                            ExpandAriaLabel = <span class="soco-string">"Expand Home section"</span>,
                            CollapseAriaLabel = <span class="soco-string">"Collapse Home section"</span>,
                            IsExpanded = <span class="soco-tag-type-def">true</span>,
                            Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                            {
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span> { Name = <span class="soco-string">"Activity"</span>, Url = "<span class="soco-tag-type-def">http://msn.com</span>", Key = <span class="soco-string">"key1"</span>, Target=<span class="soco-string">"_blank"</span> },
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span> { Name = <span class="soco-string">"MSN"</span>, Url = "<span class="soco-tag-type-def">http://msn.com</span>", Key = <span class="soco-string">"key2"</span>, IsEnabled = <span class="soco-tag-type-def">false</span>, Target = <span class="soco-string">"_blank"</span> }
                            }
                        },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Documents"</span><span>, Url = "</span><span class="soco-tag-type-def">http://example.com</span>" , <span>Key = </span><span class="soco-string">"key2"</span> , <span>Target = </span><span class="soco-string">"_blank"</span> , <span>IsExpanded = </span><span class="soco-tag-type-def">true</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Pages"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key3"</span> , <span>Target = </span><span class="soco-string">"_parent"</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Notebook"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key4"</span> , <span>IsEnabled = </span><span class="soco-tag-type-def">false</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Communication and Media"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key5"</span> , <span>Target = </span><span class="soco-string">"_top"</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"News"</span><span>, Title = </span><span class="soco-string">"News"</span><span>, Url = "</span><span class="soco-tag-type-def">http://msn.com</span>" , <span>Key = </span><span class="soco-string">"key6"</span> , <span>Target = </span><span class="soco-string">"_self"</span> , <span>Icon = </span><span class="soco-string">News</span> }
                    };
                <span class="soco-code">}</span>
            </pre>   
        </CodeSampleContent>
    </CodeSample>

    <CodeSample Title="Basic Nav With Manual Mode" Description="" CodeSampleContentForCopy="@navWithManualModeLinksSampleCode">
        <SampleContent>
            <div>
                <BitNav Style="width: 208px;
                   height: 350px;
                   box-sizing: border-box;
                   border: 1px solid #eee;
                   overflow-y: auto;"
                        NavLinkItems="BasicNavLinksWithoutURL"
                        Mode="BitNavMode.Manual"
                        AriaLabel="Nav manual mode example"
                        SelectedKey="@BitNavManualModeSelectedKey"
                        SelectedKeyChanged="HandleSelectedKeyChange">
                </BitNav>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitNav Style</span>="width: 208px;height: 350px;box-sizing: border-box;border: 1px solid #eee;overflow-y: auto;" 
                                 <span class="soco-component-attr">NavLinkItems</span>="BasicNavLinksWithoutURL"
                                 <span class="soco-component-attr">Mode</span>="BitNavMode.Manual"
                                 <span class="soco-component-attr">AriaLabel</span>="Nav manual mode example"
                                 <span class="soco-component-attr">SelectedKey</span>="<span class="soco-code">&#64;</span>BitNavManualModeSelectedKey"
                                 <span class="soco-component-attr">SelectedKeyChanged</span>="HandleSelectedKeyChange">
                &lt;/<span class="soco-component-attr">BitNav</span>&gt;
                <span class="soco-code">&#64;code {</span>
                    <span class="soco-tag-type-def">private readonly </span> <span>List&ltBitNavLinkItem></span> BasicNavLinksWithoutURL = <span class=soco-tag-type-def>new</span>()
                    {
                        <span class="soco-tag-type-def">new </span><span class="soco-component-attr">BitNavLinkItem</span>
                        {
                            Name = <span class="soco-string">"Home"</span>,
                            ExpandAriaLabel = <span class="soco-string">"Expand Home section"</span>,
                            CollapseAriaLabel = <span class="soco-string">"Collapse Home section"</span>,
                            IsExpanded = <span class="soco-tag-type-def">true</span>,
                            Links = <span class="soco-tag-type-def">new</span><span> List&ltBitNavLinkItem></span>
                            {
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span> { Name = <span class="soco-string">"Activity"</span>, Key = <span class="soco-string">"key1"</span>, Target = <span class="soco-string">"_blank"</span> },
                                <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span> { Name = <span class="soco-string">"MSN"</span>, Key = "key2", IsEnabled = <span class="soco-tag-type-def">false</span>, Target = <span class="soco-string">"_blank"</span> }
                            }
                        },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Documents"</span>, <span>Key = </span><span class="soco-string">"key2"</span> , <span>Target = </span><span class="soco-string">"_blank"</span> , <span>IsExpanded = </span><span class="soco-tag-type-def">true</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Pages"</span>, <span>Key = </span><span class="soco-string">"key3"</span> , <span>Target = </span><span class="soco-string">"_parent"</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Notebook"</span>, <span>Key = </span><span class="soco-string">"key4"</span> , <span>IsEnabled = </span><span class="soco-tag-type-def">false</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"Communication and Media"</span>, <span>Key = </span><span class="soco-string">"key5"</span> , <span>Target = </span><span class="soco-string">"_top"</span> },
                        <span class="soco-tag-type-def">new </span><span>BitNavLinkItem</span><span> { Name = </span><span class="soco-string">"News"</span><span>, Title = </span><span class="soco-string">"News"</span>, <span>Key = </span><span class="soco-string">"key6"</span> , <span>Target = </span><span class="soco-string">"_self"</span> , <span>Icon = </span><span class="soco-string">News</span> }
                    };
                    <span class="soco-tag-type-def">private string</span> BitNavManualModeSelectedKey = <span class="soco-string">"key3"</span>;
                    <span class="soco-tag-type-def">private void</span> HandleSelectedKeyChange(<span class="soco-tag-type-def">string</span> selectedKey)
                    <span>{</span>
                        BitNavManualModeSelectedKey = selectedKey;
                    <span>}</span>
                <span class="soco-code">}</span>
            </pre>     
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>