@page "/components/accordion"

<PageOutlet Url="components/accordion"
            Title="Accordion"
            Description="accordion component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Accordion"
               ComponentDescription="The Accordion component allows the user to show and hide sections of related content on a page."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <BitAccordion Title="Accordion">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit. Sed consequat condimentum massa, non euismod magna gravida vitae. Donec rhoncus suscipit blandit. Nunc ultrices vulputate nisl. Duis lobortis tristique nunc, id egestas ligula condimentum quis. Integer elementum tempor cursus. Phasellus vestibulum neque non laoreet faucibus. Nunc eu congue urna, in dapibus justo.
            </BitAccordion>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="NoBorder" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <BitAccordion Title="Accordion" NoBorder>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit. Sed consequat condimentum massa, non euismod magna gravida vitae. Donec rhoncus suscipit blandit. Nunc ultrices vulputate nisl. Duis lobortis tristique nunc, id egestas ligula condimentum quis. Integer elementum tempor cursus. Phasellus vestibulum neque non laoreet faucibus. Nunc eu congue urna, in dapibus justo.
            </BitAccordion>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Multiple" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <div>You can define multiple accordions together.</div><br />
            <BitAccordion Title="Accordion 1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit. Sed consequat condimentum massa, non euismod magna gravida vitae. Donec rhoncus suscipit blandit. Nunc ultrices vulputate nisl.
            </BitAccordion>
            <BitAccordion Title="Accordion 2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor.
            </BitAccordion>
            <BitAccordion Title="Accordion 3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit. Sed consequat condimentum massa, non euismod magna gravida vitae. Donec rhoncus suscipit blandit. Nunc ultrices vulputate nisl. Duis lobortis tristique nunc, id egestas ligula condimentum quis. Integer elementum tempor cursus. Phasellus vestibulum neque non laoreet faucibus. Nunc eu congue urna, in dapibus justo.
            </BitAccordion>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Description" RazorCode="@example4RazorCode" Id="example4">
        <ExamplePreview>
            <div>You can set a short description inside the Accordion header.</div><br />
            <BitAccordion Title="General settings" Description="The general settings of the application">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu.
            </BitAccordion>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Controlled" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5">
        <ExamplePreview>
            <div>You can control the accordions to open only one at a time.</div><br />
            <BitAccordion Title="General settings"
                          Description="I am an accordion"
                          OnClick="() => controlledAccordionExpandedItem = 1"
                          IsExpanded="controlledAccordionExpandedItem == 1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit. Sed consequat condimentum massa, non euismod magna gravida vitae. Donec rhoncus suscipit blandit. Nunc ultrices vulputate nisl.
            </BitAccordion>
            <BitAccordion Title="Users"
                          Description="You are currently not an owner"
                          OnClick="() => controlledAccordionExpandedItem = 2"
                          IsExpanded="controlledAccordionExpandedItem == 2">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor.
            </BitAccordion>
            <BitAccordion Title="Advanced settings"
                          Description="Filtering has been entirely disabled for whole web server"
                          OnClick="() => controlledAccordionExpandedItem = 3"
                          IsExpanded="controlledAccordionExpandedItem == 3">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu.
            </BitAccordion>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Binding" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
        <ExamplePreview>
            <div>You can bind values ​​with Accordion.</div><br />
            <BitToggle @bind-Value="AccordionToggleIsEnabled" OnText="Enabled" OffText="Disabled" />
            <br />
            <BitToggle @bind-Value="AccordionToggleIsExpanded" OnText="Expanded" OffText="Collapsed" />
            <br /><br />
            <BitAccordion Title="Accordion"
                          Description="I am an accordion"
                          IsEnabled="AccordionToggleIsEnabled"
                          @bind-IsExpanded="AccordionToggleIsExpanded">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit.
            </BitAccordion>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Customization" RazorCode="@example7RazorCode" Id="example7">
        <ExamplePreview>
            <div>This Accordion header is customized.</div><br />
            <BitAccordion>
                <HeaderTemplate Context="isExpanded">
                    <BitButton Variant="BitVariant.Text" IconName="@(isExpanded ? BitIconName.ChevronDown : BitIconName.ChevronRight)" />
                    <div class="custom-header">
                        <span class="custom-title">Accordion 1</span>
                        <span class="custom-desc">I am an accordion</span>
                    </div>
                </HeaderTemplate>
                <ChildContent>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
                </ChildContent>
            </BitAccordion>
            <br /><br />
            <div>This Accordion content is customized by the BitCarousel.</div><br />
            <BitAccordion Title="Nature" Description="I am an accordion">
                <BitCarousel AnimationDuration="1">
                    <BitCarouselItem>
                        <img src="/_content/Bit.BlazorUI.Demo.Client.Core/images/carousel/img1.jpg">
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <img src="/_content/Bit.BlazorUI.Demo.Client.Core/images/carousel/img2.jpg" />
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <img src="/_content/Bit.BlazorUI.Demo.Client.Core/images/carousel/img3.jpg" />
                    </BitCarouselItem>
                    <BitCarouselItem>
                        <img src="/_content/Bit.BlazorUI.Demo.Client.Core/images/carousel/img4.jpg" />
                    </BitCarouselItem>
                </BitCarousel>
            </BitAccordion>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL" RazorCode="@example8RazorCode" Id="example8">
        <ExamplePreview>
            <div>Use BitAccordion in right-to-left (RTL).</div><br />
            <BitAccordion Dir="BitDir.Rtl"
                          Title="تنظیمات"
                          Description="من یک آکاردئون هستم!">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
            </BitAccordion>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>