@inherits AppComponentBase

<section class="main-container">
    <div class="content-container">
        <div class="product-list">
            @foreach (var product in _allProducts)
            {
                <button @onclick="(() => _selectedProduct = product)"
                        class="product-row @(product == _selectedProduct ? "product-row--active" : "") @BitCss.Class.Color.Foreground.Primary">
                    <div class="product-info-container">
                        <div class="product-name">@product.Name</div>
                        <div class="product-desc">@product.Description</div>
                        <BitLink Href="@product.Url" Class="product-link">
                            More about @product.Name
                            <BitIcon Class="link-chevron-right" IconName="@BitIconName.ChevronRight" />
                        </BitLink>
                    </div>
                </button>
            }
        </div>
        <BitCarousel Class="product-carousel" ShowNextPrev="false" OnChange="i => _selectedProduct = _allProducts[i]">
            @foreach (var product in _allProducts)
            {
                <BitCarouselItem Style="width: 100%">
                    <button class="product-row @(product == _selectedProduct ? "product-row--active" : "")">
                        <div class="product-info-container">
                            <div class="product-name">@product.Name</div>
                            <div class="product-desc">@product.Description</div>
                            <BitLink Href="@product.Url" Class="product-link">
                                More about @product.Name
                                <BitIcon Class="link-chevron-right" IconName="@BitIconName.ChevronRight" />
                            </BitLink>
                        </div>
                    </button>
                </BitCarouselItem>
            }
        </BitCarousel>
    </div>

    <div class="content-container sample-side">
        <div class="example-preview">
            <div class="product-container">
                <div>
                    <span>@_selectedProduct.Name</span>
                    &nbsp;&nbsp;
                    <BitLink Href="@_selectedProduct.Url" Class="product-link">
                        Learn more
                        <BitIcon Class="link-chevron-right" IconName="@BitIconName.ChevronRight" />
                    </BitLink>
                </div>
                <br />
                @if (_selectedProduct == _allProducts[0])
                {
                    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
                        bit Boilerplate is a Visual studio and .NET project template that enables high-quality, speedy cross-platform development
                        for PWA/SSR enabled websites and Android, iOS, macOS, Windows apps.
                    </BitTypography>
                    <div class="template-terminal">
                        <BitIcon IconName="@BitIconName.ChevronRightSmall" /> <span>dotnet</span> <span>new</span> <span>bit-bp</span>
                        <span>--database</span>
                        <span class="animation-container"><span class="animated a-2">sqlite&nbsp;&nbsp;&nbsp;</span> <span class="animated a-2 delayed d-2">sqlserver</span></span>
                        <span>--pipeline</span>
                        <span class="animation-container"><span class="animated a-3">github</span> <span class="animated a-3 delayed d-3">azure</span></span>
                        <span>--sample</span>
                        <span class="animation-container"><span class="animated a-4">admin</span> <span class="animated a-4 delayed d-4">todo</span></span>
                        <span>--name</span> <span>MyAwesomeProject</span>
                    </div>
                }
                else if (_selectedProduct == _allProducts[1])
                {
                    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
                        bit Butil helps C# developers to access the browser APIs that are only accessible through JavaScript in C#.
                    </BitTypography>
                    <div>
                        <pre class="code-box">@@inject Bit.Butil.Crypto crypto

@@code {
    var encryptedBytes = await crypto.Encrypt(CryptoAlgorithm.AesCbc, key, textAsUtf8Bytes, iv: iv);
}</pre>
                    </div>
                }
                else if (_selectedProduct == _allProducts[2])
                {
                    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
                        bit Bswup is a set of tools that assists developers in making the most out of the Service Worker when building apps with Blazor.
                    </BitTypography>
                    <div>
                        <img src="/images/bswup/bswup4-1.webp" style="max-width:100%;margin-bottom:0.5rem" />
                        <img src="/images/bswup/bswup4-2.webp" style="max-width:100%;" />
                    </div>
                }
                else if (_selectedProduct == _allProducts[3])
                {
                    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
                        bit Besql facilitates the use of Entity Framework and sqlite in web browsers with Blazor WebAssembly.
                    </BitTypography>
                    <div>
                        <pre class="code-box">services.AddBesqlDbContextFactory();</pre>
                    </div>
                }
                else if (_selectedProduct == _allProducts[4])
                {
                    <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
                        bit BlazorUI components are native, easy-to-customize, and work seamlessly in all Blazor modes (WASM, Server, Hybrid, pre-rendering),
                        saving you time and making development enjoyable.
                    </BitTypography>
                    <div>
                        <pre class="code-box">
&lt;BitDropdown @@bind-Values="comboValues"
                Label="Multi select combo box"
                Placeholder="Select options"
                Items="comboBoxItems"
                Combo Chips Dynamic
                OnDynamicAdd="(BitDropdownItem&lt;string> item) => HandleOnDynamicAdd(item)" /></pre>
                    </div>
                }
            </div>
        </div>
    </div>
</section>