@inherits BitComponentBase

<div class="bit-text-field @(VisualClass) @(EnabledClass)">
    <input class="bit-text-field-input @(ReadonlyClass)" type="text" value="@Value" placeholder="@Placeholder"/>
</div>
