@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    <label>@ChildContent</label>

    <div>
        <button @onclick="HandleOnClick"><span></span></button>
        @if (OnText.HasValue() && OffText.HasValue())
        {
            @if (isChecked)
            {
                <label>@OnText</label>
            }
            else
            {
                <label>@OffText</label>
            }
        }
    </div>
</div>
