@using AdminPanel.Shared.Dtos.Products

@page "/products"
@inherits AppComponentBase;

<PageTitle>@Localizer[nameof(AppStrings.ProductsPageTitle)]</PageTitle>

<div class="page-container">
    @if (IsLoading)
    {
        <div class="loading-contianer">
            <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
        </div>
    }
    <div class="page-row">
        <h1 class="page-title">@Localizer[nameof(AppStrings.Products)]</h1>
        <BitButton OnClick="WrapHandled(CreateProduct)">@Localizer[nameof(AppStrings.AddProduct)]</BitButton>
    </div>
    <div class="grid">
        <BitDataGrid ItemsProvider="@productsProvider" TGridItem="@ProductDto" ResizableColumns="true" Pagination="@pagination" @ref="dataGrid">
            <BitDataGridPropertyColumn Title="@Localizer[nameof(AppStrings.Id)]" Property="@(c => c.Id)" Sortable="true" Align="BitDataGridAlign.Left" IsDefaultSort="BitDataGridSortDirection.Ascending" Class="id-col" />
            <BitDataGridPropertyColumn Title="@Localizer[nameof(AppStrings.Name)]"  Property="@(c => c.Name)" Sortable="true" Class="column1">
                <ColumnOptions>
                    <BitSearchBox @bind-Value="ProductNameFilter"
                                  Placeholder="@Localizer[(nameof(AppStrings.SearchOnName))]"
                                  InputHtmlAttributes="@(new Dictionary<string, object> {{"autofocus", true}})" />
                </ColumnOptions>
            </BitDataGridPropertyColumn>
            <BitDataGridPropertyColumn Title="@Localizer[nameof(AppStrings.Category)]" Property="@(c => c.CategoryId)" Sortable="true" Align="BitDataGridAlign.Left" />
            <BitDataGridPropertyColumn Title="@Localizer[nameof(AppStrings.Price)]" Property="@(c => c.Price)" Sortable="true" Align="BitDataGridAlign.Left" />
            <BitDataGridTemplateColumn Title="@Localizer[(nameof(AppStrings.Action))]" Align="BitDataGridAlign.Center">
                <BitIconButton Style="color:#605E5C;" IconName="BitIconName.Edit" OnClick=@(() => EditProduct(context)) Title="@Localizer[(nameof(AppStrings.Edit))]" />
                <BitIconButton Style="color:#605E5C;" IconName="BitIconName.Delete" OnClick="WrapHandled(() => DeleteProduct(context))" Title="@Localizer[(nameof(AppStrings.Delete))]" />
            </BitDataGridTemplateColumn>
        </BitDataGrid>
        <BitDataGridPaginator Value="@pagination" />
    </div>
</div>

<CreateEditProductModal @ref="modal" />
<ConfirmMessageBox />