<section class="box" id="@ExampleId">
    <div class="box-header">
        <div class="header-title">@Title</div>
        <div class="header-btn-group">
            <BitToggleButton Class="com-example-box-header-btn"
                             @bind-IsChecked="showCode"
                             IconName="BitIconName.CodeEdit"
                             Title="@(showCode ? "Hide code" : "Show code")">
            </BitToggleButton>
            <BitIconButton Class="com-example-box-header-btn"
                           IconName="BitIconName.Link"
                           Title="Copy link"
                           OnClick="@CopyLinkToClipboard">
            </BitIconButton>
        </div>
    </div>

    <div class="box-content" style="@(showCode ? "max-height: unset;" : null)">
        @if (!showCode)
        {
            <div class="example-container">
                @ExamplePreview
            </div>
        }
        else
        {
            <BitIconButton Class="com-example-box-copy-btn"
                       OnClick=CopyCodeToClipboard
                       IconName="BitIconName.Copy"
                       Title="Copy source">
            </BitIconButton>
            
            <pre class="code">
                <code class="html">@HTMLSourceCode</code>

                @if(CSharpSourceCode.HasValue())
                {
                    <code class="csharp">@CSharpSourceCode</code>
                }
            </pre>
        }
    </div>
</section>