<header class="main-header">
    <div class="header-main-container">
        <div class="header-content-container">
            @if (currentUrl != "/")
            {
                <BitIconButton Class="header-menu-btn" IconName=BitIconName.CollapseMenu OnClick=@ToggleMenu />
            }
            <a class="header-logo" href="/"></a>
            <a class="header-link @(currentUrl == "/" ? "header-link--active" : "")" href="/">Home</a>
            <a class="header-link @(currentUrl == "/components/overview" ? "header-link--active" : "")" href="/components/overview">Demo</a>
            <a class="header-link @(currentUrl == "/get-started" ? "header-link--active" : "")" href="/get-started">Get Started</a>
            <a class="header-link @(currentUrl == "/icons" ? "header-link--active" : "")" href="/icons">Iconography</a>
        </div>
        <div class="header-content-container">
            @if (currentUrl != "/get-started")
            {
                <a class="btn--primary" href="/get-started" id="headerBtn">Try for Free!</a>
            }
            <a class="github-btn" target="_blank" href="https://github.com/bitfoundation/bitframework"></a>
        </div>
    </div>

    <div class="header-second-row">
        <BitActionButton Class="header-action-button"
                         IconName=@(isHeaderMenuOpen ? BitIconName.ChevronDown : BitIconName.ChevronUp)
                         OnClick=ToggleHeaderMenu>@GetActiveRouteName()</BitActionButton>
    </div>
</header>

@if (isHeaderMenuOpen)
{
    <div class="header-nav">
        <BitIconButton Class="header-nav-close-btn"
                   IconName=BitIconName.Cancel
                   OnClick=ToggleHeaderMenu />
        <a class="header-nav-link @(currentUrl == "/" ? "header-nav-link--active" : "")" href="/" @onclick=ToggleHeaderMenu>Home</a>
        <a class="header-nav-link @(currentUrl == "/components/overview" ? "header-nav-link--active" : "")" href="/components/overview" @onclick=ToggleHeaderMenu>Demo</a>
        <a class="header-nav-link @(currentUrl == "/get-started" ? "header-nav-link--active" : "")" href="/get-started" @onclick=ToggleHeaderMenu>Get Started</a>
        <a class="header-nav-link @(currentUrl == "/icons" ? "header-nav-link--active" : "")" href="/icons" @onclick=ToggleHeaderMenu>Iconography</a>
    </div>
}