@page "/components/file-upload"

<ComponentDemo ComponentName="FileUpload" ComponentDescription="BitFileUpload component wraps the HTML file input element(s) and uploads them to a given URL. The files can be removed by
    specifying the URL they have been uploaded. Moreover, it provides several other options including single or multiple or automatic file uploading.
    By automatic, it means the files can be automatically uploaded after being selected. It is possible to specify a maximum size for each file if need be.
    Additionally, by specifying file extensions, the files can be restricted to certain types."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitFileUpload" ExampleSourceCodeForCopy="@fileUploadSampleCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">Files can be uploaded automatically after selecting them.</div>
            <div>
                <BitFileUpload Label="Select or drag and drop files"
                               UploadUrl="@UploadUrl"
                               RemoveUrl="@RemoveUrl">
                </BitFileUpload>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitFileUpload Label="Select or drag and drop files"
               UploadUrl="&#64;UploadUrl"
               RemoveUrl="&#64;RemoveUrl">
&lt/BitFileUpload></code>

            <code>&#64;code {
        private string UploadUrl;
        private string RemoveUrl;
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Auto & Multiple" ExampleSourceCodeForCopy="@autoSampleCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">Multiple files can be selected to upload automatically.</div>
            <div>
                <BitFileUpload IsMultiSelect="true"
                               Label="Select or drag and drop files"
                               UploadUrl="@UploadUrl"
                               RemoveUrl="@RemoveUrl">
                </BitFileUpload>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitFileUpload Label="Select or drag and drop files"
                IsMultiSelect="true"    
                UploadUrl="&#64;UploadUrl"
                RemoveUrl="&#64;RemoveUrl">
&lt/BitFileUpload></code>

            <code>&#64;code {
        private string UploadUrl;
        private string RemoveUrl;
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Auto & Multiple with max-size limitation" ExampleSourceCodeForCopy="@maxSizeSampleCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">Multiple files can be selected to upload automatically with limited size.</div>
            <div>
                <BitFileUpload IsMultiSelect="true"
                               Label="Select or drag and drop files"
                               MaxSize="1024 * 1024 * 100"
                               UploadUrl="@UploadUrl"
                               RemoveUrl="@RemoveUrl">
                </BitFileUpload>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitFileUpload Label="Select or drag and drop files"
                IsMultiSelect="true"   
                MaxSize="1024 * 1024 * 100"
                UploadUrl="&#64;UploadUrl"
                RemoveUrl="&#64;RemoveUrl">
&lt/BitFileUpload></code>

            <code>&#64;code {
        private string UploadUrl;
        private string RemoveUrl;
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>
    <ComponentExampleBox Title="Individual & Multiple (limited by extensions format)" ExampleSourceCodeForCopy="@extensionSampleCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">Single or multiple file uploading limited only by file extensions, which in this case the allowed file extensions include gif, jpg and mp4.</div>
            <div>
                <BitFileUpload IsMultiSelect="true"
                               AutoUploadEnabled="false"
                               AllowedExtensions="@(new List<string> { ".gif",".jpg",".mp4" })"
                               Label="Select or drag and drop files"
                               UploadUrl="@UploadUrl"
                               RemoveUrl="@RemoveUrl">
                </BitFileUpload>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitFileUpload Label="Select or drag and drop files"
                IsMultiSelect="true"   
                AutoUploadEnabled="false"
                   AllowedExtensions="&#64;(new List&ltstring> { ".gif",".jpg",".mp4" })"
                UploadUrl="&#64;UploadUrl"
                RemoveUrl="&#64;RemoveUrl">
&lt/BitFileUpload></code>

            <code>&#64;code {
        private string UploadUrl;
        private string RemoveUrl;
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>
</ComponentDemo>