@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" class="@ClassBuilder.Value" style="@StyleBuilder.Value">
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="description">@Label</label>
    }
<div class="bit-slider-container">
    <input type="range" min="@Min" max="@Max" step="@Step" value="@Value" @onchange="@HandleChange" @oninput="@HandleInput" style="@styleProgress" />
    @if (ShowValue)
    {
        <label class="valueLabel">@GetValueDisplay()</label>
    }
</div>
</div>