@page "/components/bread-list"

<ComponentDemo ComponentName="BreadList"
               ComponentDescription="BreadList should be used as a navigational aid in your app or site. They indicate the current page’s location within a hierarchy and help the user understand where they are in relation to the rest of that hierarchy. They also afford one-click access to higher levels of that hierarchy."
               ComponentParameters="componentParameters">

    <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Field parameter</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)" />
                </div>
                <div>
                    <BitLabel>Selector parameter</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextFieldSelector="item => item.Name"
                                  HrefFieldSelector="item => item.Href"
                                  IsSelectedFieldSelector="item => item.IsSelected" />
                </div>
                <div>
                    <BitLabel>Disabled</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextFieldSelector="item => item.Name"
                                  HrefFieldSelector="item => item.Href"
                                  IsSelectedFieldSelector="item => item.IsSelected"
                                  IsEnabled="false" />
                </div>
                <div>
                    <BitLabel>Item Disabled</BitLabel>
                    <BitBreadList Items="BasicBreadListItemsDisabled"
                                  TextFieldSelector="item => item.Name"
                                  HrefFieldSelector="item => item.Href"
                                  IsEnabledFieldSelector="item => item.IsEnabled"
                                  IsSelectedFieldSelector="item => item.IsSelected" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="MaxDisplayedItems & OverflowIndex" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">
                You can specify how many items are displayed among the items you have and the rest of the items are displayed as overflow.
                You can also choose which index the overflow icon should be placed in.
            </div>
            <div class="example-box">
                <div>
                    <BitLabel>MaxDisplayedItems (1)</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  MaxDisplayedItems="1" />
                </div>
                <div>
                    <BitLabel>MaxDisplayedItems (2)</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  MaxDisplayedItems="2" />
                </div>
                <div>
                    <BitLabel>MaxDisplayedItems (3)</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  MaxDisplayedItems="3" />
                </div>
                <div>
                    <BitLabel>MaxDisplayedItems (3), OverflowIndex (0)</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  MaxDisplayedItems="3"
                                  OverflowIndex="0" />
                </div>
                <div>
                    <BitLabel>MaxDisplayedItems (3), OverflowIndex (1)</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  MaxDisplayedItems="3"
                                  OverflowIndex="1" />
                </div>
                <div>
                    <BitLabel>MaxDisplayedItems (3), OverflowIndex (2)</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  MaxDisplayedItems="3"
                                  OverflowIndex="2" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Overflow with Icon" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>BitIconName (ChevronDown)</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  MaxDisplayedItems="3"
                                  OverflowIndex="2"
                                  OverflowIcon="BitIconName.ChevronDown" />
                </div>
                <div>
                    <BitLabel>BitIconName (CollapseMenu)</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  MaxDisplayedItems="3"
                                  OverflowIndex="2"
                                  OverflowIcon="BitIconName.CollapseMenu" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Class & Style" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Items Class</BitLabel>
                    <BitBreadList Items="BreadListItemsWithClass"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  ClassField="@nameof(PageInfoModel.HtmlClass)" />
                </div>
                <div>
                    <BitLabel>Items Style</BitLabel>
                    <BitBreadList Items="BreadListItemsWithStyle"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  StyleField="@nameof(PageInfoModel.HtmlStyle)" />
                </div>
                <div>
                    <BitLabel>Selected Item Class</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  SelectedItemClass="custom-selected-item" />
                </div>
                <div>
                    <BitLabel>Selected Item Style</BitLabel>
                    <BitBreadList Items="BasicBreadListItems"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  HrefField="@nameof(PageInfoModel.Href)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  SelectedItemStyle="color:red; background:lightgreen;" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Controlled BitBreadList" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">By clicking on the items, the Selected item will change and match the SelectedItemStyle.</div>
            <div class="example-box">
                <BitBreadList Items="BreadListItemsWithControlled"
                              TextField="@nameof(PageInfoModel.Name)"
                              IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                              MaxDisplayedItems="3"
                              OverflowIndex="2"
                              OnItemClick="(PageInfoModel item) => HandleOnItemClick(item)"
                              SelectedItemStyle="color:red; background:lightgreen;" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Customized Parameters" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitBreadList Items="BreadListItemsWithCustomized"
                                  TextField="@nameof(PageInfoModel.Name)"
                                  IsSelectedField="@nameof(PageInfoModel.IsSelected)"
                                  MaxDisplayedItems="@MaxDisplayedItems"
                                  OverflowIndex="@OverflowIndex"
                                  OnItemClick="(PageInfoModel item) => HandleOnItemClick_Customized(item)" />
                </div>

                <div class="operators">
                    <div>
                        <BitButton OnClick="AddItem">Add Item</BitButton>
                        <BitButton OnClick="RemoveItem">Remove Item</BitButton>
                    </div>
                    <div>
                        <BitNumericTextField @bind-Value="MaxDisplayedItems" Step="@NumericTextFieldStep" Label="MaxDisplayedItems" ShowArrows="true" />
                        <BitNumericTextField @bind-Value="OverflowIndex" Step="@NumericTextFieldStep" Label="OverflowIndex" ShowArrows="true" />
                    </div>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>