@page "/components/spinbutton"
@page "/components/spin-button"

<PageOutlet Url="components/spinbutton"
            Title="SpinButton"
            Description="spinbutton component of the bit BlazorUI components" />

<ComponentDemo ComponentName="SpinButton"
               ComponentDescription="A spin button (SpinButton) allows someone to incrementally adjust a value in small steps. It’s mainly used for numeric values, but other values are supported too."
               ComponentParameters="componentParameters"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic" HtmlCode="@example1HTMLCode" Id="example1">
        <ExamplePreview>
            <div class="example-box">
                <BitSpinButton Label="Basic" />
                <br />
                <BitSpinButton Label="Disabled" IsEnabled="false" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="LabelPosition" HtmlCode="@example2HTMLCode" Id="example2">
        <ExamplePreview>
            <div class="example-box">
                <BitSpinButton Label="Label & Icon" IconName="@BitIconName.Lightbulb" />
                <br />
                <BitSpinButton Label="Left Label" IconName="@BitIconName.Lightbulb" LabelPosition="BitSpinButtonLabelPosition.Left" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="LabelTemplate" HtmlCode="@example3HTMLCode" Id="example3">
        <ExamplePreview>
            <div class="example-box">
                <BitSpinButton>
                    <LabelTemplate>
                        <div style="display:flex; align-items: center; gap: 10px">
                            <BitLabel Style="color: green;">This is custom Label</BitLabel>
                            <BitIcon IconName="@BitIconName.Filter" />
                        </div>
                    </LabelTemplate>
                </BitSpinButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Spin Icon" HtmlCode="@example4HTMLCode" Id="example4">
        <ExamplePreview>
            <div class="example-box">
                <BitSpinButton Label="Like and Dislike"
                               IncrementButtonIconName="@BitIconName.LikeSolid"
                               DecrementButtonIconName="@BitIconName.DislikeSolid" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Min, Max & Step" HtmlCode="@example5HTMLCode" Id="example5">
        <ExamplePreview>
            <div class="example-box">
                <BitSpinButton Label="Min: -10, Max: 10" Min="-10" Max="10" />
                <br />
                <BitSpinButton Label="Min: -20, Max: 20, Step: 2" Min="-20" Max="20" Step="2" />
                <br />
                <BitSpinButton Label="Min: -1, Max: 1, Step: 0.1" Min="-1" Max="1" Step="0.1" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Suffix" HtmlCode="@example6HTMLCode" Id="example6">
        <ExamplePreview>
            <div class="example-box">
                <BitSpinButton Label="Height"
                               Suffix=" cm"
                               DefaultValue="150"
                               IconName="@BitIconName.AutoHeight" />
                <br />
                <BitSpinButton Label="Weight"
                               Step="0.5"
                               Suffix=" kg"
                               DefaultValue="50"
                               IconName="@BitIconName.Weights" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Controlled" HtmlCode="@example7HTMLCode" CsharpCode="@example7CSharpCode" Id="example7">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitSpinButton Label="One-way" Value="OneWayValue" />
                    <BitRating @bind-Value="OneWayValue" />
                </div>
                <br />
                <div>
                    <BitSpinButton Label="Two-way" Step="0.5" @bind-Value="TwoWayValue" />
                    <BitRating @bind-Value="TwoWayValue" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Events" HtmlCode="@example8HTMLCode" CsharpCode="@example8CSharpCode" Id="example8">
        <ExamplePreview>
            <div class="example-box">
                <div class="column">
                    <BitSpinButton @bind-Value="IncrementEventValue"
                                   Label="OnIncrement / OnDecrement"
                                   Step="0.1"
                                   OnIncrement="() => OnIncrementCounter++"
                                   OnDecrement="() => OnDecrementCounter++" />
                    <BitLabel>OnIncrement Counter: @OnIncrementCounter</BitLabel>
                    <BitLabel>OnDecrement Counter: @OnDecrementCounter</BitLabel>
                </div>
                <br />
                <div class="column">
                    <BitSpinButton @bind-Value="OnChangeEventBindedValue"
                                   Label="OnChange"
                                   Step="0.1"
                                   OnChange="HandleOnChangeEvent" />
                    <BitLabel>OnChange Clicked Counter: @OnChangeClickedCounter</BitLabel>
                    <BitLabel>OnChange Returned Value: @OnChangeEventReturnedValue</BitLabel>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Validation" HtmlCode="@example9HTMLCode" CsharpCode="@example9CSharpCode" Id="example9">
        <ExamplePreview>
            <div class="example-box">
                @if (string.IsNullOrEmpty(SuccessMessage))
                {
                    <EditForm Model="@ValidationModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

                        <DataAnnotationsValidator />

                        <div class="validation-summary">
                            <ValidationSummary />
                        </div>

                        <BitSpinButton Label="Age" @bind-Value="@ValidationModel.AgeInYears"></BitSpinButton>
                        <ValidationMessage For="@(() => ValidationModel.AgeInYears)" />

                        <BitButton Style="margin-top: 10px;" ButtonType="BitButtonType.Submit">
                            Submit
                        </BitButton>
                    </EditForm>
                }
                else
                {
                    <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                        @SuccessMessage
                    </BitMessageBar>
                }
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>

@code {
    private double OneWayValue = 3;
    private double TwoWayValue = 5;

    private double IncrementEventValue;
    private int OnIncrementCounter;
    private int OnDecrementCounter;

    private double OnChangeEventBindedValue;
    private double OnChangeEventReturnedValue;
    private int OnChangeClickedCounter;
    private void HandleOnChangeEvent(double value)
    {
        OnChangeEventReturnedValue = value;

        OnChangeClickedCounter++;
    }

    private string SuccessMessage = string.Empty;
    private BitSpinButtonValidationModel ValidationModel = new();

    private async Task HandleValidSubmit()
    {
        SuccessMessage = "Form Submitted Successfully!";
        await Task.Delay(3000);
        SuccessMessage = string.Empty;
        StateHasChanged();
    }

    private void HandleInvalidSubmit()
    {
        SuccessMessage = string.Empty;
    }
}