@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()"
     aria-label="@AriaLabel">
    <img @attributes="ImageAttributes" @onclick="HandleOnClick" @onload="HandleOnLoad" @onerror="HandleOnError" @onloadstart="HandleOnLoadStart"
         style="@Styles?.Image"
         class="@GetImageClasses()"
         alt="@Alt"
         src="@Src"
         title="@Title"
         loading="@Loading" />
</div>