@namespace Bit.BlazorUI
@inherits BitLoadingComponentBase

<style>
    .bit-ldn-Grid {
        display: inline-block;
        position: relative;
        width: @(Size)px;
        height: @(Size)px;
    }

        .bit-ldn-Grid div {
            position: absolute;
            border-radius: 50%;
            width: @(Convert(16))px;
            height: @(Convert(16))px;
            animation: bit-ldn-Grid 1.2s linear infinite;
            background: @(Color ?? "var(--bit-clr-fg-pri)");
        }

            .bit-ldn-Grid div:nth-child(1) {
                top: @(Convert(8))px;
                left: @(Convert(8))px;
                animation-delay: 0s;
            }

            .bit-ldn-Grid div:nth-child(2) {
                top: @(Convert(8))px;
                left: @(Convert(32))px;
                animation-delay: -0.4s;
            }

            .bit-ldn-Grid div:nth-child(3) {
                top: @(Convert(8))px;
                left: @(Convert(56))px;
                animation-delay: -0.8s;
            }

            .bit-ldn-Grid div:nth-child(4) {
                top: @(Convert(32))px;
                left: @(Convert(8))px;
                animation-delay: -0.4s;
            }

            .bit-ldn-Grid div:nth-child(5) {
                top: @(Convert(32))px;
                left: @(Convert(32))px;
                animation-delay: -0.8s;
            }

            .bit-ldn-Grid div:nth-child(6) {
                top: @(Convert(32))px;
                left: @(Convert(56))px;
                animation-delay: -1.2s;
            }

            .bit-ldn-Grid div:nth-child(7) {
                top: @(Convert(56))px;
                left: @(Convert(8))px;
                animation-delay: -0.8s;
            }

            .bit-ldn-Grid div:nth-child(8) {
                top: @(Convert(56))px;
                left: @(Convert(32))px;
                animation-delay: -1.2s;
            }

            .bit-ldn-Grid div:nth-child(9) {
                top: @(Convert(56))px;
                left: @(Convert(56))px;
                animation-delay: -1.6s;
            }

    @@keyframes bit-ldn-Grid {
        0%, 100% {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }
    }
</style>

<div style="@Style" class="bit-ldn-Grid @Class">
    @for (int i = 0; i < 9; i++)
    {
        <div style="@ChildStyle" class="@ChildClass"></div>
    }
</div>