@namespace Bit.BlazorUI
@inherits BitLoadingBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    @for (int i = 0; i < 9; i++)
    {
        <div style="@ChildStyle" class="@ChildClass"></div>
    }
    @if (!string.IsNullOrEmpty(Label))
    {
        <label class="bit-ldn-lbl-@(LabelPosition?.ToString().ToLower())">@Label</label>
    }
</div>
