@namespace Bit.BlazorUI
@inherits BitLoadingBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div style="@ChildStyle" class="@ChildClass"></div>
    <div style="@ChildStyle" class="@ChildClass"></div>
</div>