@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue())
{
    <a @ref="RootElement"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       aria-label="@AriaLabel"
       aria-describedby="@AriaDescription"
       aria-hidden="@AriaHidden"
       title="@Title"
       target="@Target"
       href="@Href">
        @ChildContent
    </a>
}
else
{
    <button @ref="RootElement"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            aria-label="@AriaLabel"
            aria-describedby="@AriaDescription"
            aria-hidden="@AriaHidden"
            @onclick="HandleOnClick">
        @ChildContent
    </button>
}
