@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

@if (string.IsNullOrEmpty(Href) is false)
{
    <a @ref="RootElement"
   style="@StyleBuilder.Value"
   class="@ClassBuilder.Value"
   aria-label="@AriaLabel"
   aria-describedby="@AriaDescription"
   aria-hidden="@AriaHidden"
   title="@Title"
   target="@Target"
   href="@Href"
   @attributes="SetNewAttributes()">
        @ChildContent
    </a>
}
else
{
    <button @ref="RootElement"
        style="@StyleBuilder.Value"
        class="@ClassBuilder.Value"
        aria-label="@AriaLabel"
        aria-describedby="@AriaDescription"
        aria-hidden="@AriaHidden"
        @attributes="SetNewAttributes()"
        @onclick="HandleOnClick">
        @ChildContent
    </button>
}