@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<button @ref="RootElement"
        style="@StyleBuilder.Value"
        class="@ClassBuilder.Value"
        aria-label="@AriaLabel"
        aria-describedby="@AriaDescription"
        aria-hidden="@AriaHidden"
        @onclick="HandleOnClick">
    <span class="no-text-select">
        <span>
            @Text
        </span>
        <span>
            @SecondaryText
        </span>
    </span>
</button>
