@namespace Bit.BlazorUI
@inherits BitComponentBase

<button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
        style="@StyleBuilder.Value"
        class="@ClassBuilder.Value"
        type="@_buttonType.GetValue()"
        title="@Title"
        tabindex="@_tabIndex"
        aria-label="@AriaLabel"
        aria-hidden="@AriaHidden"
        aria-describedby="@AriaDescription">
    @if (IsLoading)
    {
        if (LoadingTemplate is not null)
        {
            @LoadingTemplate
        }
        else
        {
            <div class="bit-ldb-ldg @GetLabelPositionClass()">
                <div class="bit-ldb-spn"></div>
                @if (LoadingLabel.HasValue())
                {
                    <div class="bit-ldb-lbl">
                        @LoadingLabel
                    </div>
                }
            </div>
        }
    }
    else
    {
        @ChildContent
    }
</button>