@namespace Bit.BlazorUI
@inherits BitComponentBase

<button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
        style="@StyleBuilder.Value"
        class="@ClassBuilder.Value"
        type="@_buttonType.GetValue()"
        title="@Title"
        tabindex="@_tabIndex"
        aria-label="@AriaLabel"
        aria-hidden="@AriaHidden"
        aria-describedby="@AriaDescription">
    @if (IsLoading)
    {
        if (LoadingTemplate is not null)
        {
            @LoadingTemplate
        }
        else
        {
            <div style="@ClassStyles?.LoadingContainer?.Style" class="bit-ldb-ldg @GetLabelPositionClass() @ClassStyles?.LoadingContainer?.Class">
                <div style="@ClassStyles?.Spinner?.Style" class="bit-ldb-spn @ClassStyles?.Spinner?.Class"></div>
                @if (LoadingLabel.HasValue())
                {
                    <div style="@ClassStyles?.LoadingLabel?.Style" class="bit-ldb-lbl @ClassStyles?.LoadingLabel?.Class">
                        @LoadingLabel
                    </div>
                }
            </div>
        }
    }
    else
    {
        @ChildContent
    }
</button>