@namespace Bit.BlazorUI
@inherits BitComponentBase

<button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
        id="@_Id"
        style="@StyleBuilder.Value"
        class="@ClassBuilder.Value"
        type="@_buttonType.GetValue()"
        title="@Title"
        tabindex="@_tabIndex"
        aria-label="@AriaLabel"
        aria-hidden="@AriaHidden"
        aria-describedby="@AriaDescription">
    @if (IsLoading)
    {
        if (LoadingTemplate is not null)
        {
            @LoadingTemplate
        }
        else
        {
            <div style="@Styles?.LoadingContainer" class="bit-ldb-ldg @GetLabelPositionClass() @Classes?.LoadingContainer">
                <div style="@Styles?.Spinner" class="bit-ldb-spn @Classes?.Spinner"></div>
                @if (LoadingLabel.HasValue())
                {
                    <div style="@Styles?.LoadingLabel" class="bit-ldb-lbl @Classes?.LoadingLabel">
                        @LoadingLabel
                    </div>
                }
            </div>
        }
    }
    else
    {
        @ChildContent
    }
</button>