@namespace Bit.BlazorUI
@inherits BitInputBase<string?>

<div @ref="RootElement"
     id="@UniqueId"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    @if (LabelTemplate is not null)
    {
        <label class="bit-drp-lbl" id="@_dropdownLabelId">@LabelTemplate</label>
    }
    else if (Label.HasValue())
    {
        <label class="bit-drp-lbl" id="@_dropdownLabelId">@Label</label>
    }

    <div class="bit-drp-ovl" id="@_dropdownOverlayId" @onclick="CloseCallout"></div>

    <div class="bit-drp-wrp"
         id="@_dropdownId"
         tabindex=@(IsEnabled ? 0 : -1)
         role="combobox"
         aria-expanded=@(IsOpen ? "true" : "false")
         aria-labelledby="@GetDropdownAriaLabelledby"
         aria-required="@IsRequired"
         aria-disabled="@(IsEnabled is false)"
         aria-haspopup="listbox"
         aria-controls="@(IsOpen ? $"{_dropdownId}-list" : null)"
         title="@Title"
         @onclick="HandleOnClick">
        <span class="bit-drp-txt-ctn"
              id="@_dropdownOptionId"
              aria-live="polite"
              aria-atomic="true"
              aria-invalid="false">
            @if (_text.HasValue())
            {
                @if (TextTemplate is not null)
                {
                    @TextTemplate(this)
                }
                else
                {
                    @_text
                }
            }
            else
            {
                @if (PlaceholderTemplate is not null)
                {
                    @PlaceholderTemplate(this)
                }
                else
                {
                    @Placeholder
                }
            }
        </span>
        @if (ShowClearButton && SelectedItems.Count > 0 && IsEnabled)
        {
            <button type="button" @onclick:stopPropagation @onclick="Clear" class="bit-drp-icn bit-drp-clr">
                <i class="bit-icon bit-icon--ChromeClose"></i>
            </button>
        }
        <span class="bit-drp-icn">
            @if (CaretDownTemplate is not null)
            {
                @CaretDownTemplate
            }
            else
            {
                <i class="@($"bit-icon bit-icon--{CaretDownIconName.GetName()}")" aria-hidden="true"></i>
            }
        </span>
    </div>

    <div class="bit-drp-iwp" id="@_dropdownCalloutId" tabindex="0" role="listbox" aria-labelledby="@_dropdownLabelId">
        @if (IsResponsiveModeEnabled)
        {
            <div class="bit-drp-rsp-lbl-ctn">
                @if (LabelTemplate is not null)
                {
                    <label class="bit-drp-lbl">@LabelTemplate</label>
                }
                else if (Label.HasValue())
                {
                    <label class="bit-drp-lbl">@Label</label>
                }
                <button class="bit-drp-cls"
                        type="button"
                        aria-label="Close"
                        aria-describedby="Close"
                        aria-hidden="Close"
                        title="Close" @onclick="CloseCallout">
                    <span>
                        <i class="bit-icon bit-icon--ChromeClose"></i>
                    </span>
                </button>
            </div>
        }
        @if (ShowSearchBox)
        {
            <div class="@GetSearchBoxClasses()">
                <div class="bit-drp-sic" aria-hidden="true">
                    <i class="bit-icon bit-icon--Search" aria-hidden="true"></i>
                </div>
                <input @ref="_searchInputElement"
                       @onfocusin="HandleSearchBoxFocusIn"
                       @onfocusout="HandleSearchBoxFocusOut"
                       @oninput="@HandleFilterChange"
                       class="bit-drp-sin"
                       type="text"
                       aria-label="Search text"
                       placeholder="@SearchBoxPlaceholder"
                       role="searchbox"
                       value="@_searchText" />
                @if (_searchText.HasValue())
                {
                    <div class="bit-drp-sbcc">
                        <button class="bit-drp-sbc"
                                type="button"
                                aria-label="Clear text"
                                aria-hidden="true"
                                disabled="@(_searchText.HasNoValue())"
                                @onclick="HandleSearchBoxOnClear">
                            <span>
                                <i class="bit-icon bit-icon--Clear" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                }
            </div>
        }

        <div @ref="_scrollWrapperElement" id="@_dropdownCalloutId" class="bit-drp-scr-wrp">
            @if (Virtualize)
            {
                if (ItemsProvider is null)
                {
                    <Virtualize Items="@GetItems()"
                        Context="item"
                        ItemSize="@ItemSize"
                        OverscanCount="@OverscanCount"
                        Placeholder="VirtualizePlaceholder">
                        @dropdownItemTemplate!(item)
                    </Virtualize>
                }
                else
                {
                    <Virtualize @ref="_virtualizeElement"
                        Context="item"
                        OverscanCount="@OverscanCount"
                        ItemsProvider="ProvideVirtualizedItems"
                        Placeholder="VirtualizePlaceholder">
                        @dropdownItemTemplate!(item)
                    </Virtualize>
                }
            }
            else
            {
                @foreach (var item in GetItems())
                {
                    @dropdownItemTemplate(item)
                }
            }
        </div>

    </div>
    <select @attributes="InputHtmlAttributes" class="bit-input-hidden" multiple>
        @foreach (BitDropdownItem item in SelectedItems)
        {
            <option value="@item.Value" selected>@item.Text</option>
        }
    </select>
</div>

@code {
    private RenderFragment<(int? index, BitDropdownItem item)> dropdownItemTemplate => dropdownItem => __builder =>
    {
        if (dropdownItem.item.ItemType == BitDropdownItemType.Header)
        {
            <div class="bit-drp-ihdr">
                @dropdownItem.item.Text
            </div>
        }
        else if (dropdownItem.item.ItemType == BitDropdownItemType.Normal)
        {
            @if (IsMultiSelect)
            {
                <div style="@(dropdownItem.item.IsHidden ? "display: none" : string.Empty)" class="@GetCssClassForItem(dropdownItem.item)">
                    <label class="bit-drp-chb-ctn" @onclick="@((e) => HandleOnItemClick(dropdownItem.item))">
                        <div class="bit-drp-chb">
                            <i class="bit-drp-chm bit-icon bit-icon--Accept"
                               aria-hidden="true"
                               aria-label="@dropdownItem.item.Text"></i>
                        </div>

                        <span class="bit-drp-txt bit-nts">
                            @if (ItemTemplate is not null)
                            {
                                @ItemTemplate(dropdownItem.item)
                            }
                            else
                            {
                                @dropdownItem.item.Text
                            }
                        </span>
                    </label>
                </div>
            }
            else
            {
                <button class="bit-drp-itm @(dropdownItem.item.IsSelected ? $"{RootElementClass}-sel" : string.Empty)"
                        style="@(dropdownItem.item.IsHidden ? "display: none" : string.Empty)"
                        type="button"
                        role="option"
                        disabled=@(!dropdownItem.item.IsEnabled)
                        aria-disabled="@(!dropdownItem.item.IsEnabled)"
                        aria-selected="@(dropdownItem.item.IsSelected ? "true" : "false")"
                        aria-setsize="@GetTotalItems()"
                        aria-posinset="@GetItemPosInSet(dropdownItem.item)"
                        tabindex="@(dropdownItem.item.IsEnabled ? 0 : -1)"
                        title="@dropdownItem.item.Title"
                        aria-label="@dropdownItem.item.AriaLabel"
                        @onclick="()=> HandleOnItemClick(dropdownItem.item)">
                    @if (ItemTemplate is not null)
                    {
                        @ItemTemplate(dropdownItem.item)
                    }
                    else
                    {
                        @dropdownItem.item.Text
                    }
                </button>
            }
        }
        else if (dropdownItem.item.ItemType == BitDropdownItemType.Divider)
        {
            <div class="bit-drp-idiv" role="separator"></div>
        }
    };
}