@namespace Bit.BlazorUI
@inherits BitInputBase<string>
<div @ref="RootElement"
     id="@UniqueId"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    @if (LabelFragment is not null)
    {
        <label class="lbl" id="@DropdownLabelId">@LabelFragment</label>
    }
    else if (Label.HasValue())
    {
        <label class="lbl" id="@DropdownLabelId">@Label</label>
    }

    <div class="drp-overlay"
         id="@DropDownOverlayId"
         @onclick="CloseCallout"></div>

    <div class="drp-wrapper"
         id="@DropDownId"
         tabindex=@(IsEnabled ? 0 : -1)
         role="combobox"
         data-is-focusable="true"
         aria-expanded=@(isOpen ? "true" : "false")
         aria-labelledby="@GetDropdownAriaLabelledby"
         aria-required="@IsRequired"
         aria-disabled="@(IsEnabled is false)"
         aria-haspopup="listbox"
         aria-controls="@(IsOpen ? $"{DropDownId}-list" : null)"
         title="@Title"
         @onclick="HandleClick">
        <span class="drp-wrapper-txt"
              id="@DropDownOptionId"
              aria-live="polite"
              aria-atomic="true"
              aria-invalid="false">
            @if (Text.HasValue())
            {
                @if (TextTemplate is not null)
                {
                    @TextTemplate(this)
                }
                else
                {
                    @Text
                }
            }
            else
            {
                @if (PlaceholderTemplate is not null)
                {
                    @PlaceholderTemplate(this)
                }
                else
                {
                    @Placeholder
                }
            }
        </span>
        <span class="drp-wrapper-ic">
            @if (CaretDownFragment is not null)
            {
                @CaretDownFragment
            }
            else
            {
                <i class="bit-icon" aria-hidden="true"></i>
            }
        </span>
    </div>

    <div class="items-wrapper"
         id="@DropDownCalloutId"
         tabindex="0"
         role="listbox"
         aria-labelledby="@DropdownLabelId">
        <div class="close-btn-contianer">
            <button class="close-btn"
                    type="button"
                    aria-label="Close"
                    aria-describedby="Close"
                    aria-hidden="Close"
                    title="Close"
                    @onclick="CloseCallout">
                <span>
                    <i class="bit-icon bit-icon--ChromeClose"></i>
                </span>
            </button>
        </div>
        @if (ShowSearchBox)
        {
            <div class="@GetSearchBoxClasses()">
                <div class="icon-container" aria-hidden="true">
                    <i class="bit-icon bit-icon--Search" aria-hidden="true"></i>
                </div>
                <input @ref="searchInputElement"
                   class="search-input"
                   type="text"
                   aria-label="Search text"
                   placeholder="@SearchBoxPlaceholder"
                   role="searchbox"
                   value="@searchText"
                   @onfocusin="HandleSearchBoxFocusIn"
                   @onfocusout="HandleSearchBoxFocusOut"
                   @oninput="@HandleFilterChange" />
                @if (searchText.HasValue())
                {
                    <div class="search-clear-btn-container">
                        <button class="search-clear-btn"
                        type="button"
                        aria-label="Clear text"
                        aria-hidden="true"
                        disabled="@(searchText.HasNoValue())"
                        @onclick="HandleSearchBoxOnClear">
                            <span>
                                <i class="bit-icon bit-icon--Clear" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                }
            </div>
        }

        <div id="@DropDownCalloutId" class="scroll-wrapper">
            @if (Virtualize)
            {
                if (ItemsProvider is null)
                {
                    <Virtualize Items="@GetItems()"
                        Context="item"
                        ItemSize="@ItemSize"
                        OverscanCount="@OverscanCount"
                        Placeholder="VirtualizePlaceholder">
                        @dropDownItemTemplate!(item)
                    </Virtualize>
                }
                else
                {
                    <Virtualize @ref="virtualizeElement"
                        Context="item"
                        OverscanCount="@OverscanCount"
                        ItemsProvider="ProvideVirtualizedItems"
                        Placeholder="VirtualizePlaceholder">
                        @dropDownItemTemplate!(item)
                    </Virtualize>
                }
            }
            else
            {
                @foreach (var item in GetItems())
                {
                    @dropDownItemTemplate(item)
                }
            }
        </div>

    </div>
    <select @attributes="InputHtmlAttributes" class="bit-input-hidden" multiple>
        @foreach (BitDropDownItem item in SelectedItems)
        {
            <option value="@item.Value" selected>@item.Text</option>
        }
    </select>
</div>

@code {
    private RenderFragment<(int? index, BitDropDownItem item)> dropDownItemTemplate => dropDownItem => __builder =>
    {
        if (dropDownItem.item.ItemType == BitDropDownItemType.Header)
        {
            <div class="item-header">
                @dropDownItem.item.Text
            </div>
        }
        else if (dropDownItem.item.ItemType == BitDropDownItemType.Normal)
        {
            @if (IsMultiSelect)
            {
                <div style="@(dropDownItem.item.IsHidden ? "display: none" : string.Empty)" class="@GetCssClassForItem(dropDownItem.item)">
                    <label class="drp-chb-lbl" @onclick="@((e) => HandleItemClick(dropDownItem.item))">
                        <div class="drp-chb-checkbox">
                            <i class="drp-chb-checkmark bit-icon bit-icon--Accept"
                               aria-hidden="true"
                               aria-label="@dropDownItem.item.Text"></i>
                        </div>

                        <span class="drp-chb-txt no-text-select">
                            @if (ItemTemplate is not null)
                            {
                                @ItemTemplate(dropDownItem.item)
                            }
                            else
                            {
                                @dropDownItem.item.Text
                            }
                        </span>
                    </label>
                </div>
            }
            else
            {
                <button class="drp-item @(dropDownItem.item.IsSelected ? "drp-slc" : string.Empty)"
                        style="@(dropDownItem.item.IsHidden ? "display: none" : string.Empty)"
                        type="button"
                        role="option"
                        data-is-focusable="@(dropDownItem.item.IsEnabled ? "true" : "false")"
                        disabled=@(!dropDownItem.item.IsEnabled)
                        data-index="@dropDownItem.index"
                        aria-disabled="@(!dropDownItem.item.IsEnabled)"
                        aria-selected="@(dropDownItem.item.IsSelected ? "true" : "false")"
                        aria-setsize="@GetTotalItems()"
                        aria-posinset="@GetItemPosInSet(dropDownItem.item)"
                        tabindex="@(dropDownItem.item.IsEnabled ? 0 : -1)"
                        title="@dropDownItem.item.Title"
                        aria-label="@dropDownItem.item.AriaLabel"
                        @onclick="()=> HandleItemClick(dropDownItem.item)">
                    @if (ItemTemplate is not null)
                    {
                        @ItemTemplate(dropDownItem.item)
                    }
                    else
                    {
                        @dropDownItem.item.Text
                    }
                </button>
            }
        }
        else if (dropDownItem.item.ItemType == BitDropDownItemType.Divider)
        {
            <div class="item-divider" role="separator"></div>
        }
    };
}