@page "/components/message-bar"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="MessageBar" OverviewDesc="A banner (MessageBar) displays errors, warnings, or important information about an open app or file.
                                                        For example, if a file failed to upload an error message bar should appear."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <CodeSample Title="Success" Description="For showing success messages, just set MessageBarType parameter to Success." CodeSampleContentForCopy="@successMessagebarSampleCode">
        <SampleContent>
            <div class="m-b-10">
                <BitMessageBar MessageBarType="@BitMessageBarType.Success" IsMultiline="false" Truncated="true" IsEnabled="false">
                    <Actions>
                        <BitButton>Ok</BitButton>
                    </Actions>
                    <ChildContent>
                        Action completed! This is a sample of message bar with dismiss ability
                        Action completed! This is a sample of message bar with dismiss ability
                        Action completed! This is a sample of message bar with dismiss ability
                        Action completed! This is a sample of message bar with dismiss ability
                        Action completed! This is a sample of message bar with dismiss ability
                    </ChildContent>
                </BitMessageBar>
                @if (IsMessageBarHidden2 is false)
                {
                    <div class="m-b-10">
                        <BitMessageBar MessageBarType="@BitMessageBarType.Success" OnDismiss="HideMessageBar2" IsMultiline="false" DismissIconName="BitIcon.SkypeCheck" DismissButtonAriaLabel="close">
                            Action completed! This is a sample of message bar with dismiss ability and custom dismiss icon
                        </BitMessageBar>
                    </div>
                }
                <BitMessageBar MessageBarType="@BitMessageBarType.Success" MessageBarIconName="BitIcon.Emoji2">
                    Action completed! This is a sample of message bar with dismiss ability and custom dismiss icon
                </BitMessageBar>
            </div>
            @if (IsMessageBarHidden1 is false)
            {
                <div class="m-b-10">
                    <BitMessageBar MessageBarType="@BitMessageBarType.Success" OnDismiss="HideMessageBar1" IsMultiline="false" Truncated="true" OverflowButtonAriaLabel="see more">
                        Action completed! This is a sample of message bar with dismiss ability
                        Action completed! This is a sample of message bar with dismiss ability
                        Action completed! This is a sample of message bar with dismiss ability
                        Action completed! This is a sample of message bar with dismiss ability
                        Action completed! This is a sample of message bar with dismiss ability
                    </BitMessageBar>
                </div>
            }
        </SampleContent>
        <CodeSampleContent>
            <pre>
                 &lt<span class="soco-component-attr">BitMessageBar MessageBarType=</span>"<span class="soco-code">&#64;</span>BitMessageBarType.Success"
                                                   <span class="soco-component-attr">Truncated</span>=<span class="soco-tag-type-def">"true"</span>
                                                   <span class="soco-component-attr">IsMultiline</span>=<span class="soco-tag-type-def">"false"</span>>
                     &lt<span class="soco-component-attr">ChildContent></span>
                              <span>Action completed! This is a sample of message bar with dismiss ability</span>
                              <span>Action completed! This is a sample of message bar with dismiss ability</span>
                              <span>Action completed! This is a sample of message bar with dismiss ability</span>
                              <span>Action completed! This is a sample of message bar with dismiss ability</span>
                              <span>Action completed! This is a sample of message bar with dismiss ability</span>
                     &lt/<span class="soco-component-attr">ChildContent</span>&gt;
                     &lt<span class="soco-component-attr">Actions></span>
                            &lt<span class="soco-component-attr">BitButton></span>ok<span>&lt/</span><span class="soco-component-attr">BitButton</span>&gt;
                     &lt/<span class="soco-component-attr">Actions</span>&gt;
                 &lt/<span class="soco-component-attr">BitMessageBar</span>&gt;
                 <span class="soco-code">&#64;</span><span class="soco-if-for">if </span> (IsMessageBarHidden2 <span class="soco-tag-type-def">is false</span>)
                 <span>{</span>
                     &lt<span class="soco-component-attr">BitMessageBar MessageBarType="</span><span class="soco-code">&#64;</span>BitMessageBarType.Success"
                                                       <span class="soco-component-attr">OnDismiss</span>="<span class="dark-yellow">HideMessageBar2</span>"
                                                       <span class="soco-component-attr">IsMultiline</span>="<span class="soco-tag-type-def">false</span>"
                                                       <span class="soco-component-attr">DismissIconName</span>="BitIcon.SkypeCheck"
                                                       <span class="soco-component-attr">DismissButtonAriaLabel</span>="close">
                              <span>Action completed! This is a sample of message bar with dismiss ability</span>
                     &lt/<span class="soco-component-attr">BitMessageBar</span>&gt;
                 <span>}</span>
                 &lt<span class="soco-component-attr">BitMessageBar MessageBarType="</span><span class="soco-code">&#64;</span>BitMessageBarType.Success"
                                                  <span class="soco-component-attr">MessageBarIconName</span>="BitIcon.Emoji2">
                          <span>Action completed! This is a sample of message bar with dismiss ability</span>
                 &lt/<span class="soco-component-attr">BitMessageBar</span>&gt;
                 <span class="soco-code">&#64;code {</span>
                     <span class="soco-tag-type-def">private bool </span>IsMessageBarHidden1 = <span class="soco-tag-type-def">false</span>;
                     <span class="soco-tag-type-def">private bool </span>IsMessageBarHidden2 = <span class="soco-tag-type-def">false</span>;
                     <span class="soco-tag-type-def">private void </span>HideMessageBar1()
                     <span>{</span>
                          <span>IsMessageBarHidden1 = <span class="soco-tag-type-def">true</span>;</span>
                     <span>}</span>
                     <span class="soco-tag-type-def">private void </span>HideMessageBar2()
                     <span>{</span>
                          <span>IsMessageBarHidden2 = <span class="soco-tag-type-def">true</span>;</span>
                     <span>}</span>
                 <span class="soco-code">}</span>
                 
                 <span class="soco-code">&#64;</span><span class="soco-if-for">if </span>(IsMessageBarHidden1 <span class="soco-tag-type-def">is false</span>)
                 <span>{</span>
                      &lt<span class="soco-component-attr">BitMessageBar MessageBarType=</span>"<span class="soco-code">&#64;</span>MessageBarType.Success"
                                                        <span class="soco-component-attr">OnDismiss</span>="HideMessageBar1"
                                                        <span class="soco-component-attr">Truncated</span>=<span class="soco-tag-type-def">"true"</span>
                                                        <span class="soco-component-attr">IsMultiline</span>=<span class="soco-tag-type-def">"false"</span>
                                                        <span class="soco-component-attr">OverflowButtonAriaLabel</span>="see more">
                               <span>Action completed! This is a sample of message bar with dismiss ability</span>
                               <span>Action completed! This is a sample of message bar with dismiss ability</span>
                               <span>Action completed! This is a sample of message bar with dismiss ability</span>
                               <span>Action completed! This is a sample of message bar with dismiss ability</span>
                               <span>Action completed! This is a sample of message bar with dismiss ability</span>
                      &lt/<span class="soco-component-attr">BitMessageBar</span>&gt;
                 <span>}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Error" Description="For showing error messages, just set MessageBarType parameter to Error." CodeSampleContentForCopy="@errorMessagebarSampleCode">
        <SampleContent>
            <BitMessageBar MessageBarType="@BitMessageBarType.Error" Truncated="false">
                <ChildContent>
                    This is an error message bar with the ability to truncate your text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </ChildContent>
                <Actions>
                    <BitButton>Ok</BitButton>
                </Actions>
            </BitMessageBar>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitMessageBar MessageBarType=</span>"<span class="soco-code">&#64;</span><span>BitMessageBarType.Error"
                                                  <span class="soco-component-attr">Truncated</span>=<span class="soco-tag-type-def">"false"</span>></span>
                    &lt<span class="soco-component-attr">ChildContent></span>
                             <span>This is an error message bar with the ability to truncate your text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</span>
                             <span>aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
                    &lt/<span class="soco-component-attr">ChildContent</span><span>&gt;</span>
                    &lt<span class="soco-component-attr">Actions></span>
                             &lt<span class="soco-component-attr">BitButton></span>ok<span>&lt/</span><span class="soco-component-attr">BitButton</span>&gt;
                    &lt/<span class="soco-component-attr">Actions</span><span>&gt;</span>
                &lt/<span class="soco-component-attr">BitMessageBar</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Blocked" Description="For showing blocked messages, just set MessageBarType parameter to Blocked." CodeSampleContentForCopy="@blockedMessagebarSampleCode">
        <SampleContent>
            <BitMessageBar MessageBarType="@BitMessageBarType.Blocked">
                Blocked MessageBar - single line Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </BitMessageBar>
        </SampleContent>
        <CodeSampleContent>
            <pre>
               &lt<span class="soco-component-attr">BitMessageBar MessageBarType=</span>"<span class="soco-code">&#64;</span><span>BitMessageBarType.Blocked"></span>
                        <span>Blocked MessageBar - single line Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</span>
                        <span>consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
               &lt/<span class="soco-component-attr">BitMessageBar</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Warning" Description="For showing warning messages or server warning, just set MessageBarType parameter to Warning or SevereWarning." CodeSampleContentForCopy="@warningMessagebarSampleCode">
        <SampleContent>
            <div class="m-b-10">
                <BitMessageBar MessageBarType="@BitMessageBarType.Warning" IsMultiline="false">
                    Caution! Action may takes long and also this message bar shown multiline messages time Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </BitMessageBar>
            </div>
            <BitMessageBar MessageBarType="@BitMessageBarType.SevereWarning">
                Cannot connect to server
            </BitMessageBar>
        </SampleContent>
        <CodeSampleContent>
            <pre>
               &lt<span class="soco-component-attr">BitMessageBar MessageBarType=</span>"<span class="soco-code">&#64;</span>BitMessageBarType.Warning"
                                                 <span class="soco-component-attr">IsMultiline</span>="<span class="soco-tag-type-def">false</span>">
                        <span>Caution! Action may takes long and also this message bar shown multiline messages time Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</span>
                        <span>ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
               &lt/<span class="soco-component-attr">BitMessageBar</span>&gt;
               &lt<span class="soco-component-attr">BitMessageBar MessageBarType="</span><span class="soco-code">&#64;</span><span>BitMessageBarType.SevereWarning"></span>
                        <span>Cannot connect to the server</span>
               &lt/<span class="soco-component-attr">BitMessageBar</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Info" Description="For showing info messages, just set MessageBarType parameter to Info." CodeSampleContentForCopy="@infoMessagebarSampleCode">
        <SampleContent>
            <BitMessageBar MessageBarType="@BitMessageBarType.Info">
                Visit repository <BitLink HasUnderline="true">the link is rendered as a button</BitLink>
            </BitMessageBar>
        </SampleContent>
        <CodeSampleContent>
            <pre>
               &lt<span class="soco-component-attr">BitMessageBar MessageBarType=</span>"<span class="soco-code">&#64;</span><span>BitMessageBarType.Info"></span>
                        <span>Visit repository</span>
               &lt<span class="soco-component-attr">BitLink HasUnderline</span>=<span class="soco-tag-type-def">"true"</span>>
                        <span>the link is rendered as a button</span>
               &lt/<span class="soco-component-attr">BitMessageBar</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>