@page "/components/date-picker"

<ComponentDemo ComponentName="DatePicker" ComponentDescription="Picking a date can be tough without context. A BitDatePicker offers a drop-down control that’s optimized for picking a single date from a calendar view where contextual information like the day of the week or fullness of the calendar is important.
                                                        You can modify the calendar to provide additional context or to limit available dates."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitDatePicker with month picker as overlay" ExampleSourceCodeForCopy="@datePickerWithMonthSampleCode" ExampleId="example1">
        <ExamplePreview>
            <div>
                <BitDatePicker Style="width: 300px"
                               ShowMonthPickerAsOverlay="true">
                </BitDatePicker>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitDatePicker Style="width: 300px"
               ShowMonthPickerAsOverlay="true">
&lt/BitDatePicker></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitDatePicker with week numbers" ExampleSourceCodeForCopy="@datePickerWithWeekSampleCode" ExampleId="example2">
        <ExamplePreview>
            <div>
                <BitDatePicker Style="width: 300px"
                               ShowWeekNumbers="true">
                </BitDatePicker>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitDatePicker Style="width: 300px"
               ShowWeekNumbers="true">
&lt/BitDatePicker></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Jalali BitDatePicker" ExampleSourceCodeForCopy="@jalaliDatePickerSampleCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">In this sample, you can see the usage of CultureInfoHelper class to specify a particular format for the DatePicker. You can also provide your own class for any custom culture of your interest.</div>
            <div>
                <BitDatePicker Culture="@(new System.Globalization.CultureInfo("fa-IR"))"
                               GoToToday="برو به امروز"
                               Style="width: 300px">
                </BitDatePicker>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitDatePicker Culture="&#64;(new System.Globalization.CultureInfo("fa-IR"))"
                 GoToToday="برو به امروز"
                 Style="width: 300px">
&lt/BitDatePicker></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Jalali BitDatePicker with Finglish names" ExampleSourceCodeForCopy="@finglishJalaliDatePickerSampleCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">In this sample, you can see the usage of CultureInfoHelper class to specify a particular format for the DatePicker. You can also provide your own class for any custom culture of your interest.</div>
            <div>
                <BitDatePicker Culture="Bit.Client.Web.BlazorUI.CultureInfoHelper.GetPersianCultureByFinglishNames()"
                               GoToToday="Boro be emrouz"
                               Style="width: 300px">
                </BitDatePicker>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitDatePicker Culture="Bit.Client.Web.BlazorUI.CultureInfoHelper.GetPersianCaltureByFinglishNames()"
                 GoToToday="Boro be emrouz"
                 Style="width: 300px">
&lt/BitDatePicker></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Value two-way binding" ExampleSourceCodeForCopy="@datePickerWithTwoWayBindingSampleCode" ExampleId="example5">
        <ExamplePreview>
            <div>
                <BitDatePicker @bind-Value="@selectedDate" Style="width: 300px"></BitDatePicker>
                <BitLabel>this is selected date: @selectedDate.ToString()</BitLabel>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitDatePicker &#64;bind-Value="&#64;selectedDate" Style="width: 300px">&lt/BitDatePicker>
&ltBitLabel>this is selected date: &#64;selectedDate.ToString()&lt/BitLabel></code>

            <code>&#64;code {
        private string selectedDate ="";
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="DatePicker with custom date formatting" ExampleSourceCodeForCopy="@datePickerWithcustomFormattingSampleCode" ExampleId="example6">
        <ExamplePreview>
            <div>
                <BitDatePicker FormatDate="d" Style="width: 300px"></BitDatePicker>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitDatePicker FormatDate="d" Style="width: 300px">&lt/BitDatePicker></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>
</ComponentDemo>