@page "/components/date-picker"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="DatePicker" OverviewDesc="Picking a date can be tough without context. A BitDatePicker offers a drop-down control that’s optimized for picking a single date from a calendar view where contextual information like the day of the week or fullness of the calendar is important.
                                                        You can modify the calendar to provide additional context or to limit available dates."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <CodeSample Title="BitDatePicker" Description="" CodeSampleContentForCopy="@datePickerSampleCode">
        <SampleContent>
            <div>
                <BitDatePicker Style="width: 300px"
                               FirstDayOfWeek="firstDayOfWeek">
                </BitDatePicker>
                <BitDropDown Style="width: 300px"
                             Items="@GetFirstDayOfWeekDropdownItems()"
                             Label="Select The First Day Of The Week"
                             DefaultSelectedKey="0"
                             OnSelectItem="@SelectFirstDayOfWeek">
                </BitDropDown>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitDatePicker Style</span>="width: 300px"
                                               <span class="soco-component-attr">FirstDayOfWeek</span>="firstDayOfWeek">
                &lt/<span class="soco-component-attr">BitDatePicker</span>>
                &lt<span class="soco-component-attr">BitDatePicker Style</span>="width: 300px"
                                               <span class="soco-component-attr">Items</span>="<span class="soco-code">@@</span>GetFirstDayOfWeekDropdownItems()"
                                               <span class="soco-component-attr">Label</span>="Select The First Day Of The Week"
                                               <span class="soco-component-attr">DefaultSelectedKey</span>="0"
                                               <span class="soco-component-attr">OnSelectItem</span>="<span class="soco-code">@@</span>SelectFirstDayOfWeek">
                &lt/<span class="soco-component-attr">BitDatePicker</span>>
                <span class="soco-code">&#64code {</span>
                      <span class="soco-tag-type-def">private </span>List&lt;BitDropDownItem> GetFirstDayOfWeekDropdownItems()
                      <span>{</span>
                              List&lt;BitDropDownItem> items = <span class="soco-tag-type-def">new</span>()
                              items.Add(<span class="soco-tag-type-def">new</span> BitDropDownItem()
                              <span>{</span>
                                  ItemType = BitDropDownItemType.Normal,
                                  Text = "<span class="soco-string">Sunday</span>",
                                  Value = "<span class="soco-string">0</span>"
                              <span>});</span>
                               items.Add(<span class="soco-tag-type-def">new</span> BitDropDownItem()
                              <span>{</span>
                                  ItemType = BitDropDownItemType.Normal,
                                  Text = "<span class="soco-string">Monday</span>",
                                  Value = "<span class="soco-string">1</span>"
                              <span>});</span>
                               items.Add(<span class="soco-tag-type-def">new</span> BitDropDownItem()
                              <span>{</span>
                                  ItemType = BitDropDownItemType.Normal,
                                  Text = "<span class="soco-string">Tuesday</span>",
                                  Value = "<span class="soco-string">2</span>"
                              <span>});</span>
                               items.Add(<span class="soco-tag-type-def">new</span> BitDropDownItem()
                              <span>{</span>
                                  ItemType = BitDropDownItemType.Normal,
                                  Text = "<span class="soco-string">Wednesday</span>",
                                  Value = "<span class="soco-string">3</span>"
                                   items.Add(<span class="soco-tag-type-def">new</span> BitDropDownItem()
                              <span>{</span>
                                  ItemType = BitDropDownItemType.Normal,
                                  Text = "<span class="soco-string">Thursday</span>",
                                  Value = "<span class="soco-string">4</span>"
                              <span>});</span>
                               items.Add(<span class="soco-tag-type-def">new</span> BitDropDownItem()
                              <span>{</span>
                                  ItemType = BitDropDownItemType.Normal,
                                  Text = "<span class="soco-string">Friday</span>",
                                  Value = "<span class="soco-string">5</span>"
                              <span>});</span>
                              
                               items.Add(<span class="soco-tag-type-def">new</span> BitDropDownItem()
                              <span>{</span>
                                  ItemType = BitDropDownItemType.Normal,
                                  Text = "<span class="soco-string">Saturday</span>",
                                  Value = "<span class="soco-string">6</span>"
                              <span>});</span>
                      <span>}</span>
                      <span class="soco-tag-type-def">private string</span> SelectFirstDayOfWeek(BitDropDownItem item)
                      <span>{</span>
                          firstDayOfWeek = (DayOfWeek)int.Parse(item.Value);
                      <span>}</span>
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>

    <CodeSample Title="BitDatePicker with month picker as overlay" Description="" CodeSampleContentForCopy="@datePickerWithMonthSampleCode">
        <SampleContent>
            <div>
                <BitDatePicker Style="width: 300px"
                               ShowMonthPickerAsOverlay="true">
                </BitDatePicker>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitDatePicker Style</span>="width: 300px"
                                               <span class="soco-component-attr">ShowMonthPickerAsOverlay</span>="<span class="soco-tag-type-def">true</span>">
                &lt/<span class="soco-component-attr">BitDatePicker</span>>
            </pre>
        </CodeSampleContent>
    </CodeSample>

    <CodeSample Title="BitDatePicker with week numbers" Description="" CodeSampleContentForCopy="@datePickerWithWeekSampleCode">
        <SampleContent>
            <div>
                <BitDatePicker Style="width: 300px"
                               ShowWeekNumbers="true">
                </BitDatePicker>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitDatePicker Style</span>="width: 300px" 
                                               <span class="soco-component-attr">ShowWeekNumbers</span>="<span class="soco-tag-type-def">true</span>">
                &lt/<span class="soco-component-attr">BitDatePicker</span>>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Shamsi BitDatePicker" Description="" CodeSampleContentForCopy="@shamsiDatePickerSampleCode">
        <SampleContent>
            <div>
                <BitDatePicker CalendarType="BitCalendarType.Persian"
                               Style="width: 300px"
                               FirstDayOfWeek="DayOfWeek.Saturday">
                </BitDatePicker>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                 &lt<span class="soco-component-attr">BitDatePicker CalendarType</span>="CalendarType.Persian"
                                                <span class="soco-component-attr">Style</span>="width: 300px"
                                                <span class="soco-component-attr">FirstDayOfWeek</span>="DayOfWeek.Saturday">
                 &lt/<span class="soco-component-attr">BitDatePicker</span>>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Value two-way binding" Description="" CodeSampleContentForCopy="@datePickerWithTwoWayBindingSampleCode">
        <SampleContent>
            <div>
                <BitDatePicker @bind-Value="@selectedDate" Style="width: 300px"></BitDatePicker>
                <BitLabel>this is selected date: @selectedDate</BitLabel>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitDatePicker </span><span class="soco-code">&#64</span>bind-Value="selectedDate"
                                               <span class="soco-component-attr">Style</span>="width: 300px">
                &lt/<span class="soco-component-attr">BitDatePicker</span>>
                &lt<span class="soco-component-attr">BitLabel </span>>this is selected date: <span class="soco-code">&#64</span>selectedDate &lt/<span class="soco-component-attr">BitLabel</span>>
                <span class="soco-code">&#64code {</span>
                      <span class="soco-tag-type-def">private string</span> selectedDate ="";
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="DatePicker with custom date formatting" Description="" CodeSampleContentForCopy="@datePickerWithcustomFormattingSampleCode">
        <SampleContent>
            <div>
                <BitDatePicker OnSelectDate="OnDateFormat" Style="width: 300px"></BitDatePicker>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitDatePicker<span class="soco-component-attr"> OnSelectDate</span> </span>="OnDateFormat"
                                               <span class="soco-component-attr">Style</span>="width: 300px">
                &lt/<span class="soco-component-attr">BitDatePicker</span>>
                <span class="soco-code">&#64code {</span>
                      <span class="soco-tag-type-def">private string</span> OnDateFormat(BitDate date) => $"{date.GetDate()}/{date.GetMonth()}/{date.GetYear()}";
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>