@namespace Bit.BlazorUI

@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    <div role="presentation" class="bit-prs-coin">
        @if (Size != BitPersonaSize.Size8)
        {
            string dimension = CoinSize != -1 ? $"{CoinSize.ToString()}px" : Size!;

            <div class="bit-prs-image-area" style="width:@dimension;height:@dimension">

                @if (ImageUrl != null)
                {
                    <div class="bit-prs-img-container">
                        <img src="@ImageUrl"
                     class="bit-prs-img"
                     alt="@ImageAlt"
                     width="@dimension"
                     height="@dimension" />
                    </div>
                }

                @if (Presence != BitPersonaPresenceStatus.None)
                {
                    <div title=@PresenceTitle class="bit-prs-presence">
                        <i class=@($"bit-prs-icon bit-icon--{DetermineIcon(Presence, IsOutOfOffice)}") role="presentation"></i>
                    </div>
                }
            </div>
        }
        else
        {
            if (Presence != BitPersonaPresenceStatus.None)
            {
                <div title=@PresenceTitle class="bit-prs-presence" style="@PresenceStyle">
                    @if (RenderIcon)
                    {
                        <i class=@($"bit-prs-icon bit-icon--{DetermineIcon(Presence, IsOutOfOffice)}") role="presentation" style="@IconStyle"></i>
                    }
                </div>
            }
            else
            {
                <span>
                    <i class="bit-icon bit-icon--person"></i>
                </span>
            }
        }
    </div>

    @if (HidePersonaDetails is false || Size == BitPersonaSize.Size8)
    {
        <div class="bit-prs-details">
            <div dir="auto" class="bit-prs-primary-text">
                @Text
            </div>
            <div dir="auto" class="bit-prs-secondary-text">
                @SecondaryText
            </div>
            <div dir="auto" class="bit-prs-tertiary-text">
                @TertiaryText
            </div>
            <div dir="auto" class="bit-prs-optional-text">
                @OptionalText
            </div>
        </div>
    }
</div>

