@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    <div role="presentation" class="coin">
        @if (Size != BitPersonaSize.Size20)
        {
            string dimension = CoinSize != -1 ? $"{CoinSize.ToString()}px" : Size!;

            <div class="image-area" style="width:@dimension;height:@dimension">

                <div class="img-container" @onclick="HandleImageClick">
                    @if (ImageUrl is not null)
                    {

                        @if (OnImageClick.HasDelegate)
                        {
                            <div class="img-overlay">
                                @if (ImageOverlayFragment is not null)
                                {
                                    @ImageOverlayFragment
                                }
                                else
                                {
                                    <span>Edit image</span>
                                }
                            </div>
                        }

                        @if ((ShowInitialsUntilImageLoads && _isLoaded is false) || _hasError)
                        {
                            <div class="initials">
                                @_internalInitials
                            </div>
                        }

                        @if (_hasError is false)
                        {
                            <img src="@ImageUrl"
                                 style="display:@(_isLoaded ? "unset": "none")"
                                 class="img"
                                 alt="@ImageAlt"
                                 width="@dimension"
                                 height="@dimension" @onerror="HandleOnError" @onload="HandleOnLoad" />
                        }
                    }
                    else
                    {
                        <div class="initials">
                            @_internalInitials
                        </div>
                    }
                </div>

                @if (OnActionClick.HasDelegate)
                {
                    @if (ActionFragment is not null)
                    {
                        @ActionFragment
                    }
                    else
                    {
                        <button @onclick="HandleActionClick" class="action-button" title="Edit image">
                            <span class="icon-container">
                                <i class="bit-icon bit-icon--@ActionIconName.GetName()"></i>
                            </span>
                        </button>
                    }
                }
                else if (Presence != BitPersonaPresenceStatus.None)
                {
                    <div title=@PresenceTitle class="presence">
                        <i class=@($"bit-icon bit-icon--{DetermineIcon()}") role="presentation"></i>
                    </div>
                }
            </div>
        }
        else
        {
            if (Presence != BitPersonaPresenceStatus.None)
            {
                <div title=@PresenceTitle class="presence" style="@_presenceStyle">
                    @if (_renderIcon)
                    {
                        <i class=@($"bit-icon bit-icon--{DetermineIcon()}") role="presentation" style="@_iconStyle"></i>
                    }
                </div>
            }
            else
            {
                <i class="bit-icon bit-icon--person"></i>
            }
        }
    </div>

    @if (HidePersonaDetails is false)
    {
        <div class="details">
            <div dir="auto" class="primary-text">
                @Text
            </div>
            <div dir="auto" class="secondary-text">
                @SecondaryText
            </div>
            <div dir="auto" class="tertiary-text">
                @TertiaryText
            </div>
            <div dir="auto" class="optional-text">
                @OptionalText
            </div>
        </div>
    }
</div>

