@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">

    <div role="presentation" class="bit-prs-coin">
        @if (Size != BitPersonaSize.Size20)
        {
            string dimension = CoinSize != -1 ? $"{CoinSize.ToString()}px" : Size!;

            <div class="bit-prs-ima" style="width:@dimension; height:@dimension">

                <div class="bit-prs-imc" @onclick="HandleImageClick">
                    @if (ImageUrl is not null)
                    {

                        @if (OnImageClick.HasDelegate)
                        {
                            <div class="bit-prs-imo">
                                @if (ImageOverlayFragment is not null)
                                {
                                    @ImageOverlayFragment
                                }
                                else
                                {
                                    <span>Edit image</span>
                                }
                            </div>
                        }

                        @if ((ShowInitialsUntilImageLoads && _isLoaded is false) || _hasError)
                        {
                            <div class="bit-prs-ini">
                                @_internalInitials
                            </div>
                        }

                        @if (_hasError is false)
                        {
                            <img src="@ImageUrl"
                                 style="display:@(_isLoaded ? "unset": "none")"
                                 class="bit-prs-img"
                                 alt="@ImageAlt"
                                 width="@dimension"
                                 height="@dimension" @onerror="HandleOnError" @onload="HandleOnLoad" />
                        }
                    }
                    else
                    {
                        <div class="initials">
                            @_internalInitials
                        </div>
                    }
                </div>

                @if (OnActionClick.HasDelegate)
                {
                    @if (ActionFragment is not null)
                    {
                        @ActionFragment
                    }
                    else
                    {
                        <button @onclick="HandleActionClick" type="button" class="bit-prs-abt" title="Edit image">
                            <span class="icon-container">
                                <i class="bit-icon bit-icon--@ActionIconName" />
                            </span>
                        </button>
                    }
                }
                else if (Presence != BitPersonaPresenceStatus.None)
                {
                    <div title=@PresenceTitle class="bit-prs-pre">
                        <i class=@($"bit-icon bit-icon--{DetermineIcon()}") role="presentation" />
                    </div>
                }
            </div>
        }
        else
        {
            if (Presence != BitPersonaPresenceStatus.None)
            {
                <div title=@PresenceTitle class="bit-prs-pre" style="@_presenceStyle">
                    @if (_shouldRenderIcon)
                    {
                        <i class="bit-icon bit-icon--@DetermineIcon()" role="presentation" style="@_iconStyle" />
                    }
                </div>
            }
            else
            {
                <i class="bit-icon bit-icon--person" />
            }
        }
    </div>

    @if (HidePersonaDetails is false)
    {
        <div class="bit-prs-det">
            <div dir="auto" class="bit-prs-ptx" title="@Text">
                @Text
            </div>
            <div dir="auto" class="bit-prs-stx" title="@SecondaryText">
                @SecondaryText
            </div>
            <div dir="auto" class="bit-prs-ttx" title="@TertiaryText">
                @TertiaryText
            </div>
            <div dir="auto" class="bit-prs-otx" title="@OptionalText">
                @OptionalText
            </div>
        </div>
    }
</div>

