@namespace Bit.BlazorUI
@inherits BitComponentBase
@typeparam TItem

<CascadingValue Value="this" IsFixed="true">
    <div style="display:none" hidden>
        @(Options ?? ChildContent)
    </div>
</CascadingValue>

<nav @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()"
     role="navigation"
     aria-label="@AriaLabel">

    <ul role="list">
        <CascadingValue Value="this" IsFixed="true">
            @foreach (var item in _items)
            {
                <_BitNavChild @key="GetItemKey(item)" Item="item" Depth="0" />
            }
        </CascadingValue>
    </ul>
</nav>