@namespace Bit.BlazorUI
@using Bit.BlazorUI.Components.Nav
@inherits BitComponentBase

<nav @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     role="navigation"
     aria-label="@AriaLabel">
    @if (RenderType == BitNavRenderType.Grouped)
    {
        @foreach (var item in Items)
        {
            @if (item is not null)
            {
                <div class="nav-group">
                    @if (item.Name.HasValue())
                    {

                        <button @onclick="(() => HandleOnItemExpand(item))"
                                class="chevron-btn group-chevron-btn"
                                tabindex="0"
                                type="button"
                                aria-label="@(_itemsExpanded[item] ? item.CollapseAriaLabel : item.ExpandAriaLabel)"
                                aria-expanded="@(_itemsExpanded[item])">
                            @if (HeaderTemplate is not null)
                            {
                                @HeaderTemplate(item)
                            }
                            else
                            {
                                <i class="bit-icon bit-icon--ChevronDown @(_itemsExpanded[item] ? "expand" : "")" aria-hidden="true"></i>
                                @item.Name
                            }
                        </button>
                    }

                    @if ((item.Items?.Any() ?? false) && _itemsExpanded[item])
                    {
                        <div class="group-content">
                            <ul class="nav-items" role="list">
                                @foreach (var childitem in item.Items)
                                {
                                    <CascadingValue Value="this" IsFixed="true">
                                        <BitNavChild Item="childitem"></BitNavChild>
                                    </CascadingValue>
                                }
                            </ul>
                        </div>
                    }
                </div>
            }
        }
    }
    else
    {
        <div class="nav-group">
            <div class="group-content">
                <ul class="nav-items" role="list">
                    @foreach (var childitem in Items)
                    {
                        <CascadingValue Value="this" IsFixed="true">
                            <BitNavChild Item="childitem"></BitNavChild>
                        </CascadingValue>
                    }
                </ul>
            </div>
        </div>
    }
</nav>