@foreach (var subClass in Classes)
{
    <div id="@subClass.Id" class="sec-con">
        <BitTypography Variant="BitTypographyVariant.H6" Gutter Class="subclass-title"><b>@subClass.Title</b> properties</BitTypography>
         <BitTypography Variant="BitTypographyVariant.Subtitle2" Gutter>@subClass.Description</BitTypography>
     <table class="table-view params-table">
         <tr class="th-row">
             <th class="th-cell"><BitTypography Variant="BitTypographyVariant.Subtitle1">Name</BitTypography></th>
             <th class="th-cell"><BitTypography Variant="BitTypographyVariant.Subtitle1">Type</BitTypography></th>
             <th class="th-cell"><BitTypography Variant="BitTypographyVariant.Subtitle1">Default value</BitTypography></th>
             <th class="th-cell"><BitTypography Variant="BitTypographyVariant.Subtitle1">Description</BitTypography></th>
         </tr>
         @foreach (var subParam in subClass.Parameters)
            {
                <tr class="tdata-row">
                    <td class="td-cell"><BitTypography Variant="BitTypographyVariant.Caption1">@subParam.Name</BitTypography></td>
                    <td class="td-cell">
                        @if (subParam.LinkType == LinkType.Link)
                        {
                            <BitLink Href="@subParam.Href">
                                <BitTypography Variant="BitTypographyVariant.Caption1">@subParam.Type</BitTypography>
                            </BitLink>
                        }
                        else
                        {
                            <BitTypography Variant="BitTypographyVariant.Caption1">@subParam.Type</BitTypography>
                        }
                    </td>
                    <td class="td-cell"><BitTypography Variant="BitTypographyVariant.Caption1">@subParam.DefaultValue</BitTypography></td>
                    <td class="td-cell"><BitTypography Variant="BitTypographyVariant.Caption1">@subParam.Description</BitTypography></td>
                </tr>
            }
        </table>
    </div>
}