<BitTypography Variant="BitTypographyVariant.H6" Gutter><b>@Name</b> @NameSuffix</BitTypography>
<table class="table-view params-table">
    <tr class="th-row">
        <th class="th-cell"><BitTypography Variant="BitTypographyVariant.Subtitle1">Name</BitTypography></th>
        <th class="th-cell"><BitTypography Variant="BitTypographyVariant.Subtitle1">Type</BitTypography></th>
        <th class="th-cell"><BitTypography Variant="BitTypographyVariant.Subtitle1">Default value</BitTypography></th>
        <th class="th-cell"><BitTypography Variant="BitTypographyVariant.Subtitle1">Description</BitTypography></th>
    </tr>
    @foreach (var param in Parameters)
    {
        <tr class="tdata-row">
            <td class="td-cell"><BitTypography Variant="BitTypographyVariant.Caption1">@param.Name</BitTypography></td>
            <td class="td-cell">
                @if (param.LinkType == LinkType.Link)
                {
                    <BitLink Href="@param.Href">
                        <BitTypography Variant="BitTypographyVariant.Caption1">@param.Type</BitTypography>
                    </BitLink>
                }
                else
                {
                    <BitTypography Variant="BitTypographyVariant.Caption1">@param.Type</BitTypography>
                }
            </td>
            <td class="td-cell"><BitTypography Variant="BitTypographyVariant.Caption1">@param.DefaultValue</BitTypography></td>
            <td class="td-cell"><BitTypography Variant="BitTypographyVariant.Caption1">@param.Description</BitTypography></td>
        </tr>
    }
</table>
