@namespace Bit.BlazorUI
@inherits BitInputBase<bool>

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <input @ref="_checkboxElement"
           @attributes="InputHtmlAttributes"
           id="@_inputId"
           type="checkbox"
           checked="@CurrentValueAsString"
           value="@CurrentValueAsString"
           disabled="@(IsEnabled is false)"
           aria-disabled="@(IsEnabled is false)"
           aria-label="@AriaLabel"
           aria-describedby="@AriaDescription"
           aria-labelledby="@AriaLabelledby"
           aria-setsize="@AriaSetSize"
           aria-posinset="@AriaPositionInSet"
           name="@Name"
           title="@Title"
           hidden />
    <label for="@_inputId" @onclick="@HandleCheckboxClick">
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <div class="bit-chb-lbl">
                <div class="bit-chb-checkbox">
                    <i class=@($"{RootElementClass}-checkmark bit-icon bit-icon--{CheckmarkIconName.GetName()}")
                   aria-hidden="true"
                   aria-label="@CheckmarkIconAriaLabel">
                    </i>
                </div>

                @if (LabelTemplate is not null)
                {
                    @LabelTemplate
                }
                else if (Label.HasValue())
                {
                    <span class="bit-chb-txt no-text-select">
                        @Label
                    </span>
                }
            </div>
        }
    </label>
</div>