@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel"
     rolo="toolbar">
    <CascadingValue Value="this" IsFixed="true">
        <div class="header-container" role="tablist">
            @ChildContent
        </div>
    </CascadingValue>
    @if (HeadersOnly is false)
    {
        <div class="content-container"
             role="tabpanel"
             aria-hidden="false"
             aria-labelledby="@GetAriaLabelledby">
            @(_selectedItem?.Body ?? _selectedItem?.ChildContent)
        </div>
    }
</div>