@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     role="toolbar"
     aria-label="@AriaLabel"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    <CascadingValue Value="this" IsFixed="true">
        <div style="@ClassStyles?.Header?.Style" class="bit-pvt-hct @ClassStyles?.Header?.Class" role="tablist">
            @ChildContent
        </div>
    </CascadingValue>

    @if (HeadersOnly is false)
    {
        <div role="tabpanel"
             aria-hidden="false"
             style="@GetSelectedItemStyle()"
             aria-labelledby="@GetAriaLabelledby"
             class="bit-pvt-cct@((_selectedItem?.IsEnabled??false) ? "" : " disabled")">
            @(_selectedItem?.Body ?? _selectedItem?.ChildContent)
        </div>
    }
</div>