@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel"
     rolo="toolbar">
    <CascadingValue Value="this" IsFixed="true">
        <div role="tablist">
            @ChildContent
        </div>
    </CascadingValue>
    @if (!HeadersOnly)
    {
        <div role="tabpanel"
             aria-hidden="false"
             aria-labelledby="@GetAriaLabelledby">
            @(SelectedItem?.BodyFragment ?? SelectedItem?.ChildContent)
        </div>
    }
</div>