@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="@RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    @if (LabelTemplate is not null)
    {
        <label for="@InputId">
            @LabelTemplate
        </label>
    }
    else if (Label.HasValue())
    {
        <label class="bit-upl-lbl" for="@InputId">
            @Label
        </label>
    }

    <input @ref="inputFileElement" @onchange="HandleOnChange"
           class="bit-upl-fi"
           id="@InputId"
           type="file"
           disabled="@(IsEnabled is false)"
           aria-labelledby="@(Label.HasValue() ? Label : null)"
           multiple="@IsMultiSelect"
           accept="@(Accept ?? string.Join(",", AllowedExtensions))" />

    @if (Files is not null)
    {
        <div class="bit-upl-fl">
            @for (var i = 0; i < Files.Count; i++)
            {
                var index = i;
                var file = Files[index];

                if (FileViewTemplate is not null)
                {
                    @FileViewTemplate(file)
                }
                else
                {
                    if (file.Status != BitFileUploadStatus.Removed)
                    {
                        var fileUploadPercent = GetFileUploadPercent(file);
                        <div class="bit-upl-itm @GetFileElClass(file.Status)">
                            <div class="bit-upl-fic">
                                <div title="@file.Name" class="bit-upl-fnc">
                                    <div class="bit-upl-fn">@file.Name</div>
                                </div>
                                <div class="bit-upl-fsc">
                                    <span class="bit-upl-fs">@($"{GetFileUploadSize(file)}/{FileSizeHumanizer.Humanize(file.Size)}")</span>
                                    <span class="bit-upl-pct">@fileUploadPercent%</span>
                                </div>
                                @if (file.Status is BitFileUploadStatus.InProgress or BitFileUploadStatus.Paused)
                                {
                                    <div class="bit-upl-pbc">
                                        <div class="bit-upl-pbr" role="progressbar" style="width:@fileUploadPercent%;" aria-valuemin="0" aria-valuemax="100" aria-valuenow="@fileUploadPercent"></div>
                                    </div>
                                }
                                else
                                {
                                    <div class="bit-upl-us">@GetUploadMessageStr(file)</div>
                                }
                            </div>
                            @if (file.Status is BitFileUploadStatus.Pending or BitFileUploadStatus.Paused)
                            {
                                <div class="bit-upl-usi" @onclick="() => Upload(file)">
                                    <i title="upload" class="bit-icon bit-icon--Play" aria-hidden="true" />
                                </div>
                            }

                            @if (file.Status == BitFileUploadStatus.InProgress)
                            {
                                <div class="bit-upl-usi" @onclick="() => PauseUpload(file)">
                                    <i title="pause" class="bit-icon bit-icon--Pause" aria-hidden="true" />
                                </div>
                            }

                            @if (file.Status is BitFileUploadStatus.InProgress or BitFileUploadStatus.Paused)
                            {
                                <div class="bit-upl-usi" @onclick="() => CancelUpload(file)">
                                    <i title="cancel" class="bit-icon bit-icon--Cancel" aria-hidden="true" />
                                </div>
                            }
                            else if (ShowRemoveButton)
                            {
                                <div class="bit-upl-usi" @onclick="() => RemoveFile(file)">
                                    <i title="remove" class="bit-icon bit-icon--Delete" aria-hidden="true" />
                                </div>
                            }
                        </div>
                    }
                }
            }
        </div>
    }
</div>