<CascadingValue Value="Visual">
    <BitActionButton OnClick="IncrementCount"
                     AllowDisabledFocus="AllowDisabledFocus"
                     IsEnabled="IsEnabled"
                     AriaDescription="@AriaDescription"
                     AriaLabel="@AriaLabel"
                     AriaHidden="AriaHidden"
                     IconName="@IconName"
                     Target="@Target"
                     Href="@Href"
                     Title="@Title"
                     ButtonType="@ButtonType">
        <span>span test</span>
    </BitActionButton>
</CascadingValue>

@code {
    [Parameter] public Visual Visual { get; set; }
    [Parameter] public bool AllowDisabledFocus { get; set; }
    [Parameter] public bool IsEnabled { get; set; }
    [Parameter] public string AriaDescription { get; set; }
    [Parameter] public string AriaLabel { get; set; }
    [Parameter] public bool AriaHidden { get; set; }
    [Parameter] public BitIconName IconName { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Href { get; set; }
    [Parameter] public string Target { get; set; }
    [Parameter] public BitButtonType ButtonType { get; set; }

    public int CurrentCount { get; set; }

    public void IncrementCount(MouseEventArgs e)
    {
        CurrentCount++;
    }
}
