<CascadingValue Value="Visual">
    <div>
        <BitToggleButton ChekedLabel="@ChekedLabel"
                         UnChekedLabel="@UnChekedLabel"
                         CheckedIconName="@CheckedIconName"
                         UnCheckedIconName="@UnCheckedIconName"
                         AllowDisabledFocus="AllowDisabledFocus"
                         IsEnabled="IsEnabled"
                         ButtonStyle="ButtonStyle"
                         AriaDescription="@AriaDescription"
                         AriaLabel="@AriaLabel"
                         AriaHidden="AriaHidden">
            >
        </BitToggleButton>
    </div>
</CascadingValue>

@code {
    [Parameter] public Visual Visual { get; set; }
    [Parameter] public bool AllowDisabledFocus { get; set; }
    [Parameter] public string? AriaDescription { get; set; }
    [Parameter] public bool AriaHidden { get; set; }
    [Parameter] public string? AriaLabel { get; set; }
    [Parameter] public bool IsDisabled { get; set; }
    [Parameter] public bool IsEnabled { get; set; }
    [Parameter] public bool Checked { get; set; } = true;
    [Parameter] public string? CheckedIconName { get; set; }
    [Parameter] public string? UnCheckedIconName { get; set; }
    [Parameter] public string? ChekedLabel { get; set; }
    [Parameter] public string? UnChekedLabel { get; set; }
//    [Parameter] public EventCallback<MouseEventArgs> OnClick { get; set; }
    [Parameter] public ButtonStyle ButtonStyle { get; set; }        
}
