@namespace Bit.BlazorUI
@inherits BitInputBase<string?>

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@UniqueId"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div style="@Styles?.SearchIconContainer" class="bit-srb-ict @Classes?.SearchIconContainer" aria-hidden="true">
        <i style="@Styles?.SearchIcon" class="bit-icon bit-icon--@IconName @Classes?.SearchIcon" aria-hidden="true" />
    </div>
    <input @ref="_inputRef" @attributes="InputHtmlAttributes" @onkeydown="@((k) => HandleOnKeyDown(k))" @onfocusin="HandleInputFocusIn" @onfocusout="HandleInputFocusOut" @oninput="@HandleOnChange"
           id="@_inputId"
           style="@Styles?.Input"
           class="bit-srb-inp @Classes?.Input"
           type="text"
           role="searchbox"
           value="@CurrentValue"
           aria-label="@AriaLabel"
           placeholder="@Placeholder"
           autocomplete="@Autocomplete"
           disabled="@(IsEnabled is false)" />
    @if (CurrentValue.HasValue())
    {
        <div style="@Styles?.ClearButtonContainer" class="bit-srb-cbc @Classes?.ClearButtonContainer">
            <button @onclick="HandleOnClear"
                    style="@Styles?.ClearButton"
                    class="bit-srb-cbt @Classes?.ClearButton"
                    type="button"
                    aria-hidden="true"
                    aria-label="Clear text"
                    disabled="@(CurrentValue.HasNoValue())">
                <span style="@Styles?.ClearButtonIconContainer" class="@Classes?.ClearButtonIconContainer">
                    <i style="@Styles?.ClearButtonIcon" class="bit-icon bit-icon--Cancel @Classes?.ClearButtonIcon" aria-hidden="true" />
                </span>
            </button>
        </div>
    }
</div>
