@inherits AppComponentBase

@if (ChildContent is not null)
{
    <div class="code-box">
        @if (HideCopyButton is false)
        {
            <BitButton Class="@($"copy-btn {(isCodeCopied ? "copied" : string.Empty)}")"
                       Variant="BitVariant.Text"
                       Title="@copyCodeMessage"
                       IconName="@codeIcon"
                       OnClick="@CopyCodeToClipboard">
                @if (isCodeCopied)
                {
                    <span>@copyCodeMessage</span>
                }
            </BitButton>
        }

        <pre @ref="preElementRefrence"
             class="code-box-content"
             style="@(string.IsNullOrWhiteSpace(MaxHeight) ? null : $"max-height:{MaxHeight}")">@ChildContent</pre>
    </div>
}
