@page "/demo"
@page "/demos"
@inherits AppComponentBase

<PageOutlet Url="demos"
            Title="Demos"
            Description="bit platform products demo" />

<div class="page-container">
    <div class="page-content">
        <div class="page-section-content">
            <BitText Typography="BitTypography.H1" Align="BitTextAlign.Center" Gutter>Products Demo</BitText>

            <BitText Typography="BitTypography.H5" Align="BitTextAlign.Center" Gutter>
                We've published a few apps using our own products in different platforms to showcase what we can achieve using them.
            </BitText>
        </div>

        <br />
        <br />
        <br />

        <BitText Typography="BitTypography.H4" Gutter>AdminPanel</BitText>
        <div class="page-flex-container">
            <div class="page-content-container">
                <img class="template-img dark-image" src="/images/demos/admin-dark.webp" alt="AdminPanel sample" />
                <img class="template-img light-image" src="/images/demos/admin-light.webp" alt="AdminPanel sample" />
            </div>

            <div class="page-content-container">
                <BitText Typography="BitTypography.Body1">
                    The <b>AdminPanel</b> sample includes all the necessary parts to create a fully-featured cross-platform admin/management website/app.
                </BitText>
                <br />
                <a class="primary-btn" href="@Urls.AdminPanelPwa" target="_blank" title="SPA">PWA</a>
                <a class="secondary-btn" href="@Urls.AdminPanelGooglePlay" target="_blank" title="Google Play"><span class="btn-img google-play"></span>Android</a>
                <a class="secondary-btn" href="@Urls.AdminPanelAppleStore" target="_blank" title="Apple Store"><span class="btn-img apple-store"></span>iOS - macOS</a>
                <a class="secondary-btn" href="@Urls.AdminPanelWindows" target="_blank" title="Windows"><span class="btn-img windows"></span>Windows</a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <BitText Typography="BitTypography.H4" Gutter>Sales</BitText>
        <div class="page-flex-container">
            <div class="page-content-container">
                <img class="template-img dark-image" src="/images/demos/sales-dark.webp" alt="Sales sample" />
                <img class="template-img light-image" src="/images/demos/sales-light.webp" alt="Sales sample" />
            </div>

            <div class="page-content-container">
                <BitText Typography="BitTypography.Body1">
                    The <b>Sales</b> sample showcases how a real-world retail solution should work.
                </BitText>
                <br />
                <a class="primary-btn" href="@Urls.SalesSpa" target="_blank" title="SPA">SPA</a>
                <a class="secondary-btn" href="@Urls.SalesWindows" target="_blank" title="Windows"><span class="btn-img windows"></span>Windows</a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <BitText Typography="BitTypography.H4" Gutter>BlazorUI</BitText>
        <div class="page-flex-container">
            <div class="page-content-container">
                <img class="template-img dark-image" src="/images/demos/blazorui-dark.webp" alt="BlazorUI sample" />
                <img class="template-img light-image" src="/images/demos/blazorui-light.webp" alt="BlazorUI sample" />
            </div>

            <div class="page-content-container">
                <BitText Typography="BitTypography.Body1">
                    The <b>bit BlazorUI</b> is a Blazor component library that is written entirely in C# and provides high performance in all interactive Blazor modes (WASM, Server, Hybrid, pre-rendering).
                </BitText>
                <br />
                <a class="primary-btn" href="@Urls.BlazorUiPwa" target="_blank" title="SPA">PWA</a>
                <a class="secondary-btn" href="@Urls.BlazorUiGooglePlay" target="_blank" title="Google Play"><span class="btn-img google-play"></span>Android</a>
                <a class="secondary-btn" href="@Urls.BlazorUiAppleStore" target="_blank" title="Apple Store"><span class="btn-img apple-store"></span>iOS - macOS</a>
                <a class="secondary-btn" href="@Urls.BlazorUiWindows" target="_blank" title="Windows"><span class="btn-img windows"></span>Windows</a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <BitText Typography="BitTypography.H4" Gutter>Todo</BitText>
        <div class="page-flex-container">
            <div class="page-content-container">
                <img class="template-img dark-image" src="/images/demos/todo-dark.webp" alt="Todo sample" />
                <img class="template-img light-image" src="/images/demos/todo-light.webp" alt="Todo sample" />
            </div>

            <div class="page-content-container">
                <BitText Typography="BitTypography.Body1">
                    The <b>Todo</b> sample includes work packages and actions that you can apply to various cross-platform projects.
                </BitText>
                <br />
                <a class="primary-btn" href="@Urls.TodoTemplatePwaPrerendered" target="_blank" title="Prerendered PWA demo">Prerendered PWA</a>
                <a class="secondary-btn" href="@Urls.TodoTemplateGooglePlay" target="_blank" title="Google Play"><i class="btn-img google-play" />Android</a>
                <a class="secondary-btn" href="@Urls.TodoTemplateAppleStore" target="_blank" title="Apple Store"><span class="btn-img apple-store"></span>iOS - macOS</a>
                <a class="secondary-btn" href="@Urls.TodoTemplateWindows" target="_blank" title="Windows"><span class="btn-img windows"></span>Windows</a>
            </div>
        </div>
    </div>
</div>