@page "/demo"
@page "/demos"
@inherits AppComponentBase

<PageOutlet Url="demos"
            Title="Demos"
            Description="bit platform products demo" />

<div class="page-container">
    <div class="page-content">
        <div class="page-section-content">
            <BitText Typography="BitTypography.H1" Align="BitTextAlign.Center" Gutter>Products Demo</BitText>

            <BitText Typography="BitTypography.H5" Align="BitTextAlign.Center" Gutter>
                We've published a few apps using our own products in different platforms to showcase what we can achieve using them.
            </BitText>
        </div>

        <br />
        <br />
        <br />

        <BitText Typography="BitTypography.H4" Gutter>Platform website</BitText>
        <div class="page-flex-container">
            <div class="page-content-container">
                <img class="template-img dark-image" src="/images/demos/platform-dark.webp" alt="bitplatform website" />
                <img class="template-img light-image" src="/images/demos/platform-light.webp" alt="bitplatform website" />
            </div>

            <div class="page-content-container">
                <BitText Gutter>
                    Experience the blazing speed of bitplatform.dev! This site was built using our own product, showcasing the exceptional performance you can achieve for your projects.
                </BitText>
                <a class="primary-btn" href="@Urls.PlatformSpa" target="_blank" title="SPA">SPA</a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <BitText Typography="BitTypography.H4" Gutter>BlazorUI</BitText>
        <div class="page-flex-container">
            <div class="page-content-container">
                <img class="template-img dark-image" src="/images/demos/blazorui-dark.webp" alt="BlazorUI sample" />
                <img class="template-img light-image" src="/images/demos/blazorui-light.webp" alt="BlazorUI sample" />
            </div>

            <div class="page-content-container">
                <BitText Gutter>
                    Meet bit BlazorUI, a lightweight yet powerful component library for C# developers.
                    It’s ideal for building consumer-facing apps and websites that are fast, responsive, and optimized for both desktop and mobile.
                </BitText>
                <a class="primary-btn" href="@Urls.BlazorUiPwa" target="_blank" title="PWA">PWA</a>
                <a class="secondary-btn" href="@Urls.BlazorUiGooglePlay" target="_blank" title="Google Play"><span class="btn-img google-play"></span>Android</a>
                <a class="secondary-btn" href="@Urls.BlazorUiAppleStore" target="_blank" title="Apple Store"><span class="btn-img apple-store"></span>iOS - macOS</a>
                <a class="secondary-btn" href="@Urls.BlazorUiWindows" target="_blank" title="Windows"><span class="btn-img windows"></span>Windows</a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <BitText Typography="BitTypography.H4" Gutter>Boilerplate</BitText>
        <BitText Gutter>
            Our Boilerplate is a feature-packed project template that accelerates your development. Watch the video to see its built-in capabilities in action.
        </BitText>
        <br />
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/MCrF1iwN1h4"
                    width="560" height="315" title="YouTube video player" frameborder="0" allowfullscreen
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
            </iframe>
        </div>
        <br />
        <BitText Gutter>
            Check out our samples to see the Boilerplate across various platforms.
            Notably, both bitplatform.dev and blazorui.bitplatform.dev were built using this template.
            With our straightforward setup and a bit of time to get familiar with the Boilerplate, you’ll have a project with the same functionality deployed in production in less than a week.
        </BitText>

        <br />
        <br />
        <br />

        <BitText Typography="BitTypography.H4" Gutter>AdminPanel</BitText>
        <div class="page-flex-container">
            <div class="page-content-container">
                <img class="template-img dark-image" src="/images/demos/admin-dark.webp" alt="AdminPanel sample" />
                <img class="template-img light-image" src="/images/demos/admin-light.webp" alt="AdminPanel sample" />
            </div>

            <div class="page-content-container">
                <BitText Gutter>
                    Our AdminPanel app delivers a seamless and high-performance experience on both mobile and desktop, ensuring optimal functionality across devices.
                </BitText>
                <a class="primary-btn" href="@Urls.AdminPanelPwa" target="_blank" title="PWA">PWA</a>
                <a class="secondary-btn" href="@Urls.AdminPanelGooglePlay" target="_blank" title="Google Play"><span class="btn-img google-play"></span>Android</a>
                <a class="secondary-btn" href="@Urls.AdminPanelAppleStore" target="_blank" title="Apple Store"><span class="btn-img apple-store"></span>iOS - macOS</a>
                <a class="secondary-btn" href="@Urls.AdminPanelWindows" target="_blank" title="Windows"><span class="btn-img windows"></span>Windows</a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <BitText Typography="BitTypography.H4" Gutter>Sales (still shaping up)</BitText>
        <div class="page-flex-container">
            <div class="page-content-container">
                <img class="template-img dark-image" src="/images/demos/sales-dark.webp" alt="Sales sample" />
                <img class="template-img light-image" src="/images/demos/sales-light.webp" alt="Sales sample" />
            </div>

            <div class="page-content-container">
                <BitText Gutter>
                    See the speed of a website built with our Boilerplate.
                </BitText>
                <a class="primary-btn" href="@Urls.SalesSpa" target="_blank" title="SPA">SPA</a>
                <a class="secondary-btn" href="#" target="_blank" title="Google Play"><span class="btn-img google-play"></span>Android (Coming soon)</a>
                <a class="secondary-btn" href="#" target="_blank" title="Apple Store"><span class="btn-img apple-store"></span>iOS - macOS (Coming soon)</a>
                <a class="secondary-btn" href="@Urls.SalesWindows" target="_blank" title="Windows"><span class="btn-img windows"></span>Windows</a>
            </div>
        </div>

        <br />
        <br />
        <br />

        <BitText Typography="BitTypography.H4" Gutter>Todo</BitText>
        <div class="page-flex-container">
            <div class="page-content-container">
                <img class="template-img dark-image" src="/images/demos/todo-dark.webp" alt="Todo sample" />
                <img class="template-img light-image" src="/images/demos/todo-light.webp" alt="Todo sample" />
            </div>

            <div class="page-content-container">
                <BitText Gutter>
                    Experience the rapid performance of our sample app on mobile, desktop, and web—all built with our Boilerplate.
                </BitText>
                <a class="primary-btn" href="@Urls.TodoTemplatePwaPrerendered" target="_blank" title="Prerendered PWA">Prerendered PWA</a>
                <a class="secondary-btn" href="@Urls.TodoTemplateGooglePlay" target="_blank" title="Google Play"><i class="btn-img google-play" />Android</a>
                <a class="secondary-btn" href="@Urls.TodoTemplateAppleStore" target="_blank" title="Apple Store"><span class="btn-img apple-store"></span>iOS - macOS</a>
                <a class="secondary-btn" href="@Urls.TodoTemplateWindows" target="_blank" title="Windows"><span class="btn-img windows"></span>Windows</a>
            </div>
        </div>
    </div>
</div>