@page "/components/radio-button-list"

<ComponentDemo ComponentName="RadioButtonList"
               ComponentDescription="RadiobuttonList let people select a single option from two or more choices."
               ComponentParameters="componentParameters">

    <ComponentExampleBox Title="Basic RadioButtonList" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a RadioButtonList you can use a BitRadioButtonList component with two different approaches.</div>
            <div class="rbl-box">
                <BitRadioButtonList @bind-Value="@example1FieldApproacheValue"
                                    Label="Field parameter"
                                    Items="BasicGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)" />

                <BitRadioButtonList @bind-Value="@example1SelectorApproacheValue"
                                    Label="Selector parameter"
                                    Items="BasicGenderItems"
                                    TextFieldSelector="item => item.GenderText"
                                    ValueFieldSelector="item => item.GenderId" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">You can disable All RadioButton items or specific items.</div>
            <div class="rbl-box">
                <BitRadioButtonList @bind-Value="@example2DisableItemsValue"
                                    Label="All item disabled"
                                    Items="BasicGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    IsEnabled="false" />

                <BitRadioButtonList @bind-Value="@example2DisableItemValue"
                                    Label="Specific item disabled"
                                    Items="DisabledGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    IsEnabledField="@nameof(GenderModel.IsEnabled)" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonList with images" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">BitRadioButtonList with image.</div>
            <BitRadioButtonList @bind-Value="@example3Value"
                                Items="ImageGenderItems"
                                TextField="@nameof(GenderModel.GenderText)"
                                ValueField="@nameof(GenderModel.GenderId)"
                                ImageSrcField="@nameof(GenderModel.ImageName)"
                                ImageAltField="alt for image"
                                SelectedImageSrcField="@nameof(GenderModel.ImageName)"
                                ImageSize="new System.Drawing.Size( width: 32, height: 32)" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonList with icons" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">BitRadioButtonList with icon.</div>
            <BitRadioButtonList @bind-Value="@example4Value"
                                Items="IconGenderItems"
                                TextFieldSelector="item => item.GenderText"
                                ValueFieldSelector="item => item.GenderId"
                                IconNameFieldSelector="item => (BitIconName)item.IconName" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonList with LabelTemplate" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">Customize the RadioButtonList Label content.</div>
            <BitRadioButtonList @bind-Value="@example5Value"
                                Items="BasicGenderItems"
                                TextField="@nameof(GenderModel.GenderText)"
                                ValueField="@nameof(GenderModel.GenderId)">
                <LabelTemplate>
                    <div class="custom-label">
                        Custom label <BitIcon IconName="BitIconName.Filter" />
                    </div>
                </LabelTemplate>
            </BitRadioButtonList>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonList with ItemTemplate" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-desc">Customize the RadioButtonList Item content.</div>
            <div class="rbl-box">
                <BitRadioButtonList @bind-Value="@example6ItemTemplateValue"
                                    Label="Item Template"
                                    Items="IconGenderItems"
                                    ValueField="@nameof(GenderModel.GenderId)">
                    <ItemTemplate Context="item">
                        <div class="custom-item @(example6ItemTemplateValue == item.GenderId ? "selected-item" : "")">
                            <div class="radio-pointer"></div>
                            <BitIcon IconName="@((BitIconName)item.IconName)" />
                            <span>@item.GenderText</span>
                        </div>
                    </ItemTemplate>
                </BitRadioButtonList>
                <BitRadioButtonList @bind-Value="@example6ItemLabelTemplateValue"
                                    Label="Item Label Template"
                                    Items="IconGenderItems"
                                    ValueField="@nameof(GenderModel.GenderId)">
                    <ItemLabelTemplate Context="item">
                        <div style="margin-left: 27px;" class="custom-item @(example6ItemLabelTemplateValue == item.GenderId ? "selected-item" : "")">
                            <BitIcon IconName="@((BitIconName)item.IconName)" />
                            <span>@item.GenderText</span>
                        </div>
                    </ItemLabelTemplate>
                </BitRadioButtonList>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonList with LayoutFlow" HTMLSourceCode="@example7HTMLCode" CSharpSourceCode="@example7CSharpCode" ExampleId="example7">
        <ExamplePreview>
            <div class="example-desc">You can define the RadioButtonList in Horizontal or Vertical mode.</div>
            <div class="rbl-box column">
                <BitRadioButtonList @bind-Value="@example7Basic"
                                    Label="Basic"
                                    Items="BasicGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    LayoutFlow="BitLayoutFlow.Horizontal" />

                <BitRadioButtonList @bind-Value="@example7Disabled"
                                    Label="Disabled"
                                    Items="BasicGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    IsEnabled="false"
                                    LayoutFlow="BitLayoutFlow.Horizontal" />

                <BitRadioButtonList @bind-Value="@example7Image"
                                    Label="Image"
                                    Items="ImageGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    ImageSrcField="@nameof(GenderModel.ImageName)"
                                    ImageAltField="alt for image"
                                    SelectedImageSrcField="@nameof(GenderModel.ImageName)"
                                    ImageSize="new System.Drawing.Size( width: 32, height: 32)"
                                    LayoutFlow="BitLayoutFlow.Horizontal" />

                <BitRadioButtonList @bind-Value="@example7Icon"
                                    Label="Icon"
                                    Items="IconGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    IconNameField="@nameof(GenderModel.IconName)"
                                    LayoutFlow="BitLayoutFlow.Horizontal" />

                <BitRadioButtonList @bind-Value="@example7LabelTemplate"
                                    Items="BasicGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    LayoutFlow="BitLayoutFlow.Horizontal">
                    <LabelTemplate>
                        <div class="custom-label">
                            Label Template <BitIcon IconName="BitIconName.Filter" />
                        </div>
                    </LabelTemplate>
                </BitRadioButtonList>

                <BitRadioButtonList @bind-Value="@example7ItemTemplate"
                                    Label="Item Template"
                                    Items="IconGenderItems"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    LayoutFlow="BitLayoutFlow.Horizontal">
                    <ItemTemplate Context="item">
                        <div class="custom-item @(example7ItemTemplate == item.GenderId ? "selected-item" : "")">
                            <div class="radio-pointer"></div>
                            <BitIcon IconName="@((BitIconName)item.IconName)" />
                            <span>@item.GenderText</span>
                        </div>
                    </ItemTemplate>
                </BitRadioButtonList>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL Direction" HTMLSourceCode="@example8HTMLCode" CSharpSourceCode="@example8CSharpCode" ExampleId="example8">
        <ExamplePreview>
            <div class="rbl-box column">
                <BitRadioButtonList @bind-Value="@example8Basic"
                                    Label="Basic"
                                    Items="BasicGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    IsRtl="true" />

                <BitRadioButtonList @bind-Value="@example8Disabled"
                                    Label="Disabled"
                                    Items="BasicGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    IsEnabled="false"
                                    IsRtl="true" />

                <BitRadioButtonList @bind-Value="@example8Image"
                                    Label="Image"
                                    Items="ImageGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    ImageSrcField="@nameof(GenderModel.ImageName)"
                                    ImageAltField="alt for image"
                                    SelectedImageSrcField="@nameof(GenderModel.ImageName)"
                                    ImageSize="new System.Drawing.Size( width: 32, height: 32)"
                                    LayoutFlow="BitLayoutFlow.Horizontal"
                                    IsRtl="true" />

                <BitRadioButtonList @bind-Value="@example8Icon"
                                    Label="Icon"
                                    Items="IconGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    IconNameField="@nameof(GenderModel.IconName)"
                                    LayoutFlow="BitLayoutFlow.Horizontal"
                                    IsRtl="true" />

                <BitRadioButtonList @bind-Value="@example8LabelTemplate"
                                    Items="BasicGenderItems"
                                    TextField="@nameof(GenderModel.GenderText)"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    LayoutFlow="BitLayoutFlow.Horizontal"
                                    IsRtl="true">
                    <LabelTemplate>
                        <div class="custom-label">
                            Label Template <BitIcon IconName="BitIconName.Filter" />
                        </div>
                    </LabelTemplate>
                </BitRadioButtonList>

                <BitRadioButtonList @bind-Value="@example8ItemTemplate"
                                    Label="Item Template"
                                    Items="IconGenderItems"
                                    ValueField="@nameof(GenderModel.GenderId)"
                                    LayoutFlow="BitLayoutFlow.Horizontal"
                                    IsRtl="true">
                    <ItemTemplate Context="item">
                        <div class="custom-item @(example8ItemTemplate == item.GenderId ? "selected-item" : "")">
                            <div class="radio-pointer"></div>
                            <BitIcon IconName="@((BitIconName)item.IconName)" />
                            <span>@item.GenderText</span>
                        </div>
                    </ItemTemplate>
                </BitRadioButtonList>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitRadioButtonList validation" HTMLSourceCode="@example9HTMLCode" CSharpSourceCode="@example9CSharpCode" ExampleId="example9">
        <ExamplePreview>
            @if (string.IsNullOrEmpty(SuccessMessage))
            {
                <EditForm Model="FormValidationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="validation-summary">
                        <ValidationSummary />
                    </div>
                    <div>
                        <BitRadioButtonList @bind-Value="@FormValidationModel.GenderId"
                                        Items="BasicGenderItems"
                                        TextField="@nameof(GenderModel.GenderText)"
                                        ValueField="@nameof(GenderModel.GenderId)" />
                        <ValidationMessage For="@(() => FormValidationModel.GenderId)" />
                    </div>
                    <BitButton Style="margin-top: 10px;" ButtonType="BitButtonType.Submit">
                        Submit
                    </BitButton>
                </EditForm>
            }
            else
            {
                <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                    @SuccessMessage
                </BitMessageBar>
            }
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>