@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <BitTextField IsEnabled="IsEnabled"
                  IsMultiLine="false"
                  IconName="CalendarMirrored"
                  OnClick="HandleClick"
                  OnFocusIn="HandleFocusIn"
                  OnFocusOut="HandleFocusOut"
                  Placeholder="@Placeholder"
                  Value="@selectedDate"
                  IsReadonly="true">
    </BitTextField>
    @if (IsOpen)
    {
        <div class="div-all">
            <div role="dialog">
                <div>
                    <div aria-hidden="true" tabindex="0" data-is-visible="true" style="pointer-events: none; position: fixed;"></div>
                    <div role="group">
                        <div class="live-region" aria-live="polite" aria-atomic="true">
                            Selected date @selectedDate
                        </div>
                        <div class="left">
                            <div class="header1">
                                <div class="month">
                                    <span class="month-span">@monthTitle</span>
                                </div>
                                <div class="change-month">
                                    <button class="up-previous" title="Go to previous month" @onclick="() => HandleMonthChange(false)">
                                        <i class="up bit-icon"></i>
                                    </button>
                                    <button class="down-next" title="Go to next month" @onclick="() => HandleMonthChange(true)">
                                        <i class="down bit-icon"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="table-container">
                                <table class="weeks" role="grid">
                                    <tbody class="tbody">
                                        <tr class="week-name">
                                            @if (CalendarType is CalendarType.Gregorian)
                                            {
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Sunday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Sunday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Monday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Monday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Tuesday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Tuesday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Wednesday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Wednesday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Thursday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Thursday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Friday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Friday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Saturday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Saturday)[0]
                                                </th>
                                            }
                                            else if (CalendarType is CalendarType.Persian)
                                            {
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Saturday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Saturday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Sunday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Sunday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Monday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Monday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Tuesday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Tuesday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Wednesday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Wednesday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Thursday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Thursday)[0]
                                                </th>
                                                <th scope="col" title="@calendar.GetDayOfWeekName(DayOfWeek.Friday)">
                                                    @calendar.GetDayOfWeekName(DayOfWeek.Friday)[0]
                                                </th>
                                            }
                                        </tr>
                                        <tr role="presentation">
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="20, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">20</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-label="21, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">21</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="22, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">22</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="23, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">23</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="24, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">24</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" class="dayButton-357" aria-label="25, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">25</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="26, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">26</span></button>
                                            </td>
                                        </tr>
                                        @{
                                            bool currentMonthIsStarted = false;
                                            int todayYear = calendar.GetYear(DateTime.Now);
                                            int todayMonth = calendar.GetMonth(DateTime.Now);
                                            int todayDay = calendar.GetDayOfMonth(DateTime.Now);
                                            @for (int weekIndex = 0;
                                       weekIndex < monthWeeks.GetLength(0);
                                       weekIndex++)
                                            {
                                                int localWeekIndex = weekIndex;
                                                if (monthWeeks[weekIndex, 0] == 0)
                                                {
                                                    weekIndex = 0;
                                                    break;
                                                }
                                                <tr>
                                                    @for (int dayIndex = 0; dayIndex < monthWeeks.GetLength(1); dayIndex++)
                                                    {
                                                        int localDayIndex = dayIndex;
                                                        if (monthWeeks[localWeekIndex, localDayIndex] == 1)
                                                        {
                                                            currentMonthIsStarted = !currentMonthIsStarted;
                                                        }
                                                        if (currentMonthIsStarted)
                                                        {
                                                            string todayClass = "";
                                                            if (todayYear == currentYear
                                                            && todayMonth == currentMonth
                                                            && todayDay == monthWeeks[localWeekIndex, localDayIndex])
                                                            {
                                                                todayClass = "bit-dtp-today";
                                                            }
                                                            <td class="@todayClass"
                                                                @onclick="() => HandleDateChoose(localDayIndex, monthWeeks[localWeekIndex, localDayIndex], currentMonth)">
                                                                <button>
                                                                    <span>@monthWeeks[localWeekIndex, localDayIndex]</span>
                                                                </button>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            int localMonth = weekIndex >= 4 ? currentMonth + 1 : currentMonth - 1;
                                                            <td @onclick="() => HandleDateChoose(localDayIndex, monthWeeks[localWeekIndex, localDayIndex], localMonth)">
                                                                <button>
                                                                    <span>@monthWeeks[localWeekIndex, localDayIndex]</span>
                                                                </button>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                        <tr role="presentation">
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="1, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">1</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="2, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">2</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="3, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">3</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="4, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">4</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="5, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">5</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="6, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">6</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="7, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">7</span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="div"></div>
                        <div class="right">
                            @if (isMonthsShown)
                            {
                                <div>
                                    <div class="header-year">
                                        <button type="button"
                                                @onclick="HandleMonthsShownChanged">
                                            @currentYear
                                        </button>
                                        <div class="">
                                            <button title="Go to previous year @(currentYear - 1)"
                                                    class="previous-year"
                                                    @onclick="() => HandleYearChanged(false)">
                                                <i class="up bit-icon"></i>
                                            </button>
                                            <button title="Go to previous year @(currentYear + 1)"
                                                    class="next-year"
                                                    @onclick="() => HandleYearChanged(true)">
                                                <i class="down bit-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="months-rows">
                                        <div role="grid">
                                            <div role="row">
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(1)"
                                                        @onclick="() => HandleMonthChange(1)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(1)</span>
                                                </button>
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(2)"
                                                        @onclick="() => HandleMonthChange(2)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(2)</span>
                                                </button>
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(3)"
                                                        @onclick="() => HandleMonthChange(3)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(3)</span>
                                                </button>
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(4)"
                                                        @onclick="() => HandleMonthChange(4)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(4)</span>
                                                </button>
                                            </div>
                                            <div role="row">
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(5)"
                                                        @onclick="() => HandleMonthChange(5)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(5)</span>
                                                </button>
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(6)"
                                                        @onclick="() => HandleMonthChange(6)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(6)</span>
                                                </button>
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(7)"
                                                        @onclick="() => HandleMonthChange(7)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(7)</span>
                                                </button>
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(8)"
                                                        @onclick="() => HandleMonthChange(8)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(8)</span>
                                                </button>
                                            </div>
                                            <div role="row">
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(9)"
                                                        @onclick="() => HandleMonthChange(9)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(9)</span>
                                                </button>
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(10)"
                                                        @onclick="() => HandleMonthChange(10)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(10)</span>
                                                </button>
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(11)"
                                                        @onclick="() => HandleMonthChange(11)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(11)</span>
                                                </button>
                                                <button type="button"
                                                        aria-label="@calendar.GetMonthName(12)"
                                                        @onclick="() => HandleMonthChange(12)">
                                                    <span aria-hidden="true">@calendar.GetMonthShortName(12)</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <div class="header-year">
                                        <button type="button"
                                                @onclick="HandleMonthsShownChanged">
                                            @yearRangeFrom - @yearRangeTo
                                        </button>
                                        <div class="">
                                            <button title="Previous year range @(yearRangeFrom - 12) - @(yearRangeFrom - 1)"
                                                    class="previous-year"
                                                    @onclick="() => HandleYearRangeChanged(yearRangeFrom-12)">
                                                <i class="up bit-icon"></i>
                                            </button>
                                            <button title="Next year range @(yearRangeFrom + 12) - @(yearRangeTo + 12)"
                                                    class="next-year"
                                                    @onclick="() => HandleYearRangeChanged(yearRangeFrom+12)">
                                                <i class="down bit-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="months-rows">
                                        <div role="grid">
                                            @for (int i = yearRangeFrom; i <= yearRangeTo; i++)
                                            {
                                                <div role="row">
                                                    <button type="button"
                                                            aria-label="@i"
                                                            @onclick="() => HandleYearChanged(i)">
                                                        <span aria-hidden="true">@i</span>
                                                    </button>
                                                    <button type="button"
                                                            aria-label="@(i+1)"
                                                            @onclick="() => HandleYearChanged(i+1)">
                                                        <span aria-hidden="true">@(i+1)</span>
                                                    </button>
                                                    <button type="button"
                                                            aria-label="@(i+2)"
                                                            @onclick="() => HandleYearChanged(i+2)">
                                                        <span aria-hidden="true">@(i+2)</span>
                                                    </button>
                                                    <button type="button"
                                                            aria-label="@(i+3)"
                                                            @onclick="() => HandleYearChanged(i+3)">
                                                        <span aria-hidden="true">@(i+3)</span>
                                                    </button>
                                                </div>
                                                i = i + 3;
                                            }
                                        </div>
                                    </div>
                                </div>
                            }

                            <button type="button"
                                    @onclick="HandleGoToToday">
                                @GoToToday
                            </button>
                        </div>
                    </div>
                    <div aria-hidden="true" tabindex="0" data-is-visible="true" style="pointer-events: none; position: fixed;"></div>
                </div>
            </div>
        </div>
    }
</div>