@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <BitTextField IsEnabled="IsEnabled"
                  IsMultiLine="false"
                  IconName="CalendarMirrored"
                  OnClick="HandleClick"
                  OnFocusIn="HandleFocusIn"
                  OnFocusOut="HandleFocusOut">
    </BitTextField>
    @if (IsOpen)
    {
        <div class="div-all">
            <div role="dialog">
                <div>
                    <div aria-hidden="true" tabindex="0" data-is-visible="true" style="pointer-events: none; position: fixed;"></div>
                    <div role="group">
                        <div class="live-region" aria-live="polite" aria-atomic="true">Selected date July 6, 2021</div>
                        <div class="left">
                            <div class="header1">
                                <div class="month">
                                    <span class="month-span">@monthTitle</span>
                                </div>
                                <div class="change-month">
                                    <button class="up-previous" title="Go to previous month" @onclick="() => HandleMonthChanged(false)">
                                        <i class="up"></i>
                                    </button>
                                    <button class="down-next" title="Go to next month" @onclick="() => HandleMonthChanged(true)">
                                        <i class="down"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="table-container">
                                <table class="weeks" role="grid">
                                    <tbody class="tbody">
                                        <tr class="week-name">
                                            <th scope="col" title="Sunday">S</th>
                                            <th scope="col" title="Monday">M</th>
                                            <th scope="col" title="Tuesday">T</th>
                                            <th scope="col" title="Wednesday">W</th>
                                            <th scope="col" title="Thursday">T</th>
                                            <th scope="col" title="Friday">F</th>
                                            <th scope="col" title="Saturday">S</th>
                                        </tr>
                                        <tr role="presentation">
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="20, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">20</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-label="21, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">21</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="22, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">22</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="23, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">23</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="24, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">24</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" class="dayButton-357" aria-label="25, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">25</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="26, June, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">26</span></button>
                                            </td>
                                        </tr>
                                        @for (int weekIndex = 0; weekIndex < monthWeeks.GetLength(0); weekIndex++)
                                        {
                                            if (monthWeeks[weekIndex, 0] == 0)
                                            {
                                                break;
                                            }
                                            <tr>
                                                @for (int dayIndex = 0; dayIndex < monthWeeks.GetLength(1); dayIndex++)
                                                {
                                                    <td>
                                                        <button>
                                                            <span>@monthWeeks[weekIndex, dayIndex]</span>
                                                        </button>
                                                    </td>
                                                }
                                            </tr>
                                        }
                                        <tr role="presentation">
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="1, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">1</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="2, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">2</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="3, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">3</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="4, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">4</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="5, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">5</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="6, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">6</span></button>
                                            </td>
                                            <td aria-hidden="true" role="presentation">
                                                <button aria-hidden="true" aria-label="7, August, 2021" aria-selected="false" data-is-focusable="false" aria-disabled="false" type="button" role="gridcell" aria-readonly="true" tabindex="-1"><span aria-hidden="true">7</span></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="div"></div>
                        <div class="right">
                            <div>
                                <div class="header-year">
                                    <button type="button">@currentYear</button>
                                    <div class="">
                                        <button title="Go to previous year @(currentYear - 1)"
                                                class="previous-year"
                                                @onclick="() => HandleYearChanged(false)">
                                            <i class="up"></i>
                                        </button>
                                        <button title="Go to previous year @(currentYear + 1)"
                                                class="next-year"
                                                @onclick="() => HandleYearChanged(true)">
                                            <i class="down"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="months-rows">
                                    <div role="grid">
                                        <div role="row">
                                            <button type="button" aria-label="@calendar.GetMonthName(1)"><span aria-hidden="true">@calendar.GetMonthShortName(1)</span></button>
                                            <button type="button" aria-label="@calendar.GetMonthName(2)"><span aria-hidden="true">@calendar.GetMonthShortName(2)</span></button>
                                            <button type="button" aria-label="@calendar.GetMonthName(3)"><span aria-hidden="true">@calendar.GetMonthShortName(3)</span></button>
                                            <button type="button" aria-label="@calendar.GetMonthName(4)"><span aria-hidden="true">@calendar.GetMonthShortName(4)</span></button>
                                        </div>
                                        <div role="row">
                                            <button type="button" aria-label="@calendar.GetMonthName(5)"><span aria-hidden="true">@calendar.GetMonthShortName(5)</span></button>
                                            <button type="button" aria-label="@calendar.GetMonthName(6)"><span aria-hidden="true">@calendar.GetMonthShortName(6)</span></button>
                                            <button type="button" aria-label="@calendar.GetMonthName(7)"><span aria-hidden="true">@calendar.GetMonthShortName(7)</span></button>
                                            <button type="button" aria-label="@calendar.GetMonthName(8)"><span aria-hidden="true">@calendar.GetMonthShortName(8)</span></button>
                                        </div>
                                        <div role="row">
                                            <button type="button" aria-label="@calendar.GetMonthName(9)"><span aria-hidden="true">@calendar.GetMonthShortName(9)</span></button>
                                            <button type="button" aria-label="@calendar.GetMonthName(10)"><span aria-hidden="true">@calendar.GetMonthShortName(10)</span></button>
                                            <button type="button" aria-label="@calendar.GetMonthName(11)"><span aria-hidden="true">@calendar.GetMonthShortName(11)</span></button>
                                            <button type="button" aria-label="@calendar.GetMonthName(12)"><span aria-hidden="true">@calendar.GetMonthShortName(12)</span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button type="button">@GoToToday</button>
                        </div>
                    </div>
                    <div aria-hidden="true" tabindex="0" data-is-visible="true" style="pointer-events: none; position: fixed;"></div>
                </div>
            </div>
        </div>
    }
</div>