@page "/components/accordion"

<ComponentDemo ComponentName="Accordion"
               ComponentDescription="The Accordion component allows the user to show and hide sections of related content on a page."
               ComponentParameters="componentParameters">

    <ComponentExampleBox Title="Basic Accordion" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="accordion-example-box">
                <BitAccordion Title="Accordion 1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit. Sed consequat condimentum massa, non euismod magna gravida vitae. Donec rhoncus suscipit blandit. Nunc ultrices vulputate nisl. Duis lobortis tristique nunc, id egestas ligula condimentum quis. Integer elementum tempor cursus. Phasellus vestibulum neque non laoreet faucibus. Nunc eu congue urna, in dapibus justo.
                </BitAccordion>
            </div>

            <div class="example-desc">You can define multiple accordions together.</div>
            <div class="accordion-example-box">
                <BitAccordion Title="Accordion 1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit. Sed consequat condimentum massa, non euismod magna gravida vitae. Donec rhoncus suscipit blandit. Nunc ultrices vulputate nisl.
                </BitAccordion>
                <BitAccordion Title="Accordion 2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor.
                </BitAccordion>
                <BitAccordion Title="Accordion 3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit. Sed consequat condimentum massa, non euismod magna gravida vitae. Donec rhoncus suscipit blandit. Nunc ultrices vulputate nisl. Duis lobortis tristique nunc, id egestas ligula condimentum quis. Integer elementum tempor cursus. Phasellus vestibulum neque non laoreet faucibus. Nunc eu congue urna, in dapibus justo.
                </BitAccordion>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Accordion with Description" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">You can set a short description inside the Accordion header.</div>
            <div class="accordion-example-box">
                <BitAccordion Title="General settings" Description="I am an accordion">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu.
                </BitAccordion>
                <BitAccordion Title="Users" Description="You are currently not an owner">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique.
                </BitAccordion>
                <BitAccordion Title="Advanced settings" Description="Filtering has been entirely disabled for whole web server">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit.
                </BitAccordion>
                <BitAccordion Title="Advanced settings" Description="Filtering has been entirely disabled for whole web server">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit. Sed consequat condimentum massa, non euismod magna gravida vitae.
                </BitAccordion>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Controlled Accordion" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">Only one Accordion can be open.</div>
            <div class="accordion-example-box">
                <BitAccordion Title="General settings"
                              Description="I am an accordion"
                              OnClick="() => controlledAccordionExpandedItem = 1"
                              IsExpanded="controlledAccordionExpandedItem == 1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit. Sed consequat condimentum massa, non euismod magna gravida vitae. Donec rhoncus suscipit blandit. Nunc ultrices vulputate nisl.
                </BitAccordion>
                <BitAccordion Title="Users"
                              Description="You are currently not an owner"
                              OnClick="() => controlledAccordionExpandedItem = 2"
                              IsExpanded="controlledAccordionExpandedItem == 2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor.
                </BitAccordion>
                <BitAccordion Title="Advanced settings"
                              Description="Filtering has been entirely disabled for whole web server"
                              OnClick="() => controlledAccordionExpandedItem = 3"
                              IsExpanded="controlledAccordionExpandedItem == 3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu.
                </BitAccordion>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled Accordion & Two way binding" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">You can bind values ​​with Accordion.</div>
            <div class="example-operator-box">
                <BitToggle @bind-Value="AccordionToggleIsEnabled" OnText="Enabled" OffText="Disabled" Style="margin-right: 10px;" />
                <BitToggle @bind-Value="AccordionToggleIsExpanded" OnText="Expanded" OffText="Collapsed" />
            </div>
            <div class="accordion-example-box disabled-example">
                <BitAccordion Title="Accordion 1"
                              Description="I am an accordion"
                              IsEnabled="@AccordionToggleIsEnabled"
                              @bind-IsExpanded="AccordionToggleIsExpanded">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a elit vel lacus tincidunt dignissim. Phasellus mollis mauris orci, eget fermentum diam porta eu. Integer a consequat sapien, pellentesque aliquam velit. Nullam quis ligula vitae nisi accumsan auctor. Ut faucibus nulla a est commodo, vel sagittis neque tristique. In nec urna hendrerit, iaculis turpis sed, dictum elit. Sed id sagittis nunc, vitae ornare elit.
                </BitAccordion>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Customized Accordion" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">This Accordion header is Customized.</div>
            <div class="accordion-example-box">
                <BitAccordion Class="custom-acd">
                    <HeaderTemplate Context="isExpanded">
                        @if (isExpanded)
                        {
                            <BitIconButton IconName="BitIconName.ChevronDown" />
                        }
                        else
                        {
                            <BitIconButton IconName="BitIconName.ChevronRight" />
                        }
                        <div class="custom-header-intro">
                            <span class="custom-header-title">Accordion 1</span>
                            <span>I am an accordion</span>
                        </div>
                    </HeaderTemplate>
                    <ChildContent>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse malesuada lacus ex, sit amet blandit leo lobortis eget.
                    </ChildContent>
                </BitAccordion>
            </div>

            <div class="example-desc">This Accordion content is Customized by the BitCarousel.</div>
            <div class="accordion-example-box">
                <BitAccordion Title="Nature"
                              Description="I am an accordion">
                    <BitCarousel AnimationDuration="1">
                        <BitCarouselItem>
                            <img src="/images/carousel/img1.jpg">
                        </BitCarouselItem>
                        <BitCarouselItem>
                            <img src="/images/carousel/img2.jpg" />
                        </BitCarouselItem>
                        <BitCarouselItem>
                            <img src="/images/carousel/img3.jpg" />
                        </BitCarouselItem>
                        <BitCarouselItem>
                            <img src="/images/carousel/img4.jpg" />
                        </BitCarouselItem>
                    </BitCarousel>
                </BitAccordion>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>