@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div aria-hidden="true">
        <i class="bit-icon bit-icon--@IconName.GetName()" aria-hidden="true"></i>
    </div>
    <input type="text"
           aria-label="@AriaLabel"
           class="search-input"
           disabled="@(IsEnabled is false)"
           placeholder="@Placeholder"
           role="searchbox"
           value="@Value"
           @ref="InputRef"
           @onkeydown="@((k) => HandleOnKeyDown(k))"
           @onfocusin="HandleInputFocusIn"
           @onfocusout="HandleInputFocusOut"
           @oninput="@HandleChange" />
    @if (Value.HasValue())
    {
        <div>
            <button aria-label="Clear text"
                    aria-hidden="true"
                    disabled="@(Value.HasNoValue())"
                    type="button"
                    @onclick="HandleOnClear">
                <span>
                    <i class="bit-icon bit-icon--Clear"></i>
                </span>
            </button>
        </div>
    }
</div>
