@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div>
        <i class="bit-icon bit-icon--@IconName"></i>
    </div>
    <input type="text" @ref="InputRef" class="search-input"
           placeholder="@Placeholder"
           @bind-value="Value"
           @onkeydown="@((k) => HandleOnKeyDown(k))"
           @onfocusin="HandleInputFocusIn"
           @onfocusout="HandleInputFocusOut"
           @oninput="@HandleChange"
           aria-label="@AriaLabel"
           disabled="@(IsEnabled is false)" />
    <div>
        <button type="button" disabled="@(!Value.HasValue())" @onclick="HandleOnClear">
            <i class="bit-icon bit-icon--Clear"></i>
        </button>
    </div>
</div>
