@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     class="@ClassBuilder.Value"
     style="@StyleBuilder.Value"
     dir="@Dir?.ToString().ToLower()">

    <div class="bit-spn-snr"></div>

    @if (Label.HasValue())
    {
        <div class="bit-spn-lbl">@Label</div>
    }

    @if (AriaLabel.HasValue())
    {
        <div role="status" aria-live="@AriaLive">
            <div class="bit-spn-alb">@AriaLabel</div>
        </div>
    }
</div>
