@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     class="@ClassBuilder.Value"
     style="@StyleBuilder.Value">

    <div class="spinner"></div>

    @if (Label.HasValue())
    {
        <div class="label">@Label</div>
    }

    @if (AriaLabel.HasValue())
    {
        <div role="status" aria-live="@AriaLive">
            <div class="aria-label">@AriaLabel</div>
        </div>
    }
</div>
