@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue() && IsEnabled)
{
    <a @ref="RootElement" @attributes="HtmlAttributes"
       id="@_Id"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       href="@Href"
       title="@Title"
       target="@Target"
       tabindex="@_tabIndex"
       aria-label="@AriaLabel"
       aria-hidden="@AriaHidden"
       aria-describedby="@AriaDescription">
        @ChildContent
    </a>
}
else
{
    <button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
            id="@_Id"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            title="@Title"
            tabindex="@_tabIndex"
            type="@_buttonType.GetValue()"
            aria-label="@AriaLabel"
            aria-hidden="@AriaHidden"
            aria-describedby="@AriaDescription">
        @ChildContent
    </button>
}
