@page "/components/choice-group"
@using System.Drawing;

<ComponentDemo ComponentName="ChoiceGroup"
               ComponentDescription="ChoiceGroup let people select a single option from two or more choices."
               ComponentParameters="componentParameters"
               ComponentSubParameters="@componentSubParameters">

    <BitPivot>
        <BitPivotItem HeaderText="BitChoiceGroupItem">
            <ComponentExampleBox Title="Basic ChoiceGroup" HTMLSourceCode="@example1BitChoiceGroupItemHtmlCode" CSharpSourceCode="@example1BitChoiceGroupItemCSharpCode" ExampleId="example1">
                <ExamplePreview>
                    <div class="example-desc">To create a ChoiceGroup you can use a BitChoiceGroup component</div>
                    <BitChoiceGroup Label="Pick one" Items="ChoiceGroupBasicItems" DefaultValue="@("A")" />
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Disabled" HTMLSourceCode="@example2BitChoiceGroupItemHtmlCode" CSharpSourceCode="@example2BitChoiceGroupItemCSharpCode" ExampleId="example2">
                <ExamplePreview>
                    <div class="example-desc">you can disable ChoiceGroup or ChoiceGroupOption.</div>
                    <div class="chg-box">
                        <BitChoiceGroup Label="Disabled ChoiceGroup"
                                        Items="ChoiceGroupBasicItems"
                                        IsEnabled="false"
                                        DefaultValue="@("A")" />

                        <BitChoiceGroup Label="ChoiceGroup with Disabled Option"
                                        Items="ChoiceGroupDisabledItems"
                                        DefaultValue="@("A")" />
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with images" HTMLSourceCode="@example3BitChoiceGroupItemHtmlCode" CSharpSourceCode="@example3BitChoiceGroupItemCSharpCode" ExampleId="example3">
                <ExamplePreview>
                    <div class="example-desc">
                        ChoiceGroup with images also you can set the selected image src for selected mode.
                        in addition, image size style and img tag alt attribute are settable.
                    </div>
                    <BitChoiceGroup Label="Pick one image" Items="ChoiceGroupImageItems" DefaultValue="@("Bar")" />
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with icons" HTMLSourceCode="@example4BitChoiceGroupItemHtmlCode" CSharpSourceCode="@example4BitChoiceGroupItemCSharpCode" ExampleId="example4">
                <ExamplePreview>
                    <div class="example-desc">by BitIconName Interface you can select an icon name for showing in your option.</div>
                    <BitChoiceGroup Label="Pick one icon" Items="ChoiceGroupIconItems" DefaultValue="@("Day")" />
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with LabelTemplate" HTMLSourceCode="@example5BitChoiceGroupItemHtmlCode" CSharpSourceCode="@example5BitChoiceGroupItemCSharpCode" ExampleId="example5">
                <ExamplePreview>
                    <div class="example-desc">Customize the ChoiceGroup Label content.</div>
                    <BitChoiceGroup Items="ChoiceGroupBasicItems" DefaultValue="@("A")">
                        <LabelTemplate>
                            <div class="custom-label">
                                Custom label <BitIcon IconName="BitIconName.Filter" />
                            </div>
                        </LabelTemplate>
                    </BitChoiceGroup>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with Option Templates" HTMLSourceCode="@example6BitChoiceGroupItemHtmlCode" CSharpSourceCode="@example6BitChoiceGroupItemCSharpCode" ExampleId="example6">
                <ExamplePreview>
                    <div class="example-desc">Customize the ChoiceGroup Option content.</div>
                    <div class="chg-box">
                        <BitChoiceGroup Label="Option Template"
                                        Items="ChoiceGroupItemsTemplate"
                                        @bind-Value="ChoiceGroupWithOptionTemplateValue">
                            <ItemTemplate Context="option">
                                <div class="custom-option @(ChoiceGroupWithOptionTemplateValue == option.Value ? "selected-option" : string.Empty)">
                                    <div class="option-pointer"></div>
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Text</span>
                                </div>
                            </ItemTemplate>
                        </BitChoiceGroup>
                        <BitChoiceGroup Label="Option Label Template"
                                        Items="ChoiceGroupItemsTemplate"
                                        @bind-Value="ChoiceGroupWithOptionLabelTemplateValue">
                            <ItemLabelTemplate Context="option">
                                <div style="margin-left: 27px;" class="custom-option @(ChoiceGroupWithOptionLabelTemplateValue == option.Value ? "selected-option" : string.Empty)">
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Text</span>
                                </div>
                            </ItemLabelTemplate>
                        </BitChoiceGroup>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup Binding" HTMLSourceCode="@example7BitChoiceGroupItemHtmlCode" CSharpSourceCode="@example7BitChoiceGroupItemCSharpCode" ExampleId="example7">
                <ExamplePreview>
                    <div class="chg-box">
                        <div>
                            <BitChoiceGroup Label="One-way"
                                            Items="ChoiceGroupBasicItems"
                                            Value="@ChoiceGroupOneWayValue" />
                            <div class="chg-output">
                                <BitTextField @bind-Value="ChoiceGroupOneWayValue" />
                            </div>
                        </div>
                        <div>
                            <BitChoiceGroup Label="Two-way"
                                            Items="ChoiceGroupBasicItems"
                                            @bind-Value="ChoiceGroupTwoWayValue" />
                            <div class="chg-output">
                                <BitTextField @bind-Value="ChoiceGroupTwoWayValue" />
                            </div>
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with Horizotal LayoutFlow" HTMLSourceCode="@example8BitChoiceGroupItemHtmlCode" CSharpSourceCode="@example8BitChoiceGroupItemCSharpCode" ExampleId="example8">
                <ExamplePreview>
                    <div class="chg-box column">
                        <BitChoiceGroup Label="Basic" Items="ChoiceGroupBasicItems" DefaultValue="@("A")" LayoutFlow="BitLayoutFlow.Horizontal" />
                        <BitChoiceGroup Label="Disabled" Items="ChoiceGroupBasicItems" IsEnabled="false" DefaultValue="@("A")" LayoutFlow="BitLayoutFlow.Horizontal" />
                        <BitChoiceGroup Label="Image" Items="ChoiceGroupImageItems" DefaultValue="@("Bar")" LayoutFlow="BitLayoutFlow.Horizontal" />
                        <BitChoiceGroup Label="Icon" Items="ChoiceGroupIconItems" DefaultValue="@("Day")" LayoutFlow="BitLayoutFlow.Horizontal" />
                        <BitChoiceGroup Items="ChoiceGroupBasicItems" DefaultValue="@("A")" LayoutFlow="BitLayoutFlow.Horizontal">
                            <LabelTemplate>
                                <div class="custom-label">
                                    Label Template <BitIcon IconName="BitIconName.Filter" />
                                </div>
                            </LabelTemplate>
                        </BitChoiceGroup>
                        <BitChoiceGroup Label="Option Template" @bind-Value="@ChoiceGroupLayoutFlowWithOptionTemplateValue"
                                        Items="ChoiceGroupItemsTemplate"
                                        LayoutFlow="BitLayoutFlow.Horizontal">
                            <ItemTemplate Context="option">
                                <div class="custom-option @(ChoiceGroupLayoutFlowWithOptionTemplateValue == option.Value ? "selected-option" : "")">
                                    <div class="option-pointer"></div>
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Text</span>
                                </div>
                            </ItemTemplate>
                        </BitChoiceGroup>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="RTL Direction" HTMLSourceCode="@example9BitChoiceGroupItemHtmlCode" CSharpSourceCode="@example9BitChoiceGroupItemCSharpCode" ExampleId="example9">
                <ExamplePreview>
                    <div class="chg-box column">
                        <BitChoiceGroup Label="Basic" Items="ChoiceGroupBasicItems" DefaultValue="@("A")" IsRtl="true" />
                        <BitChoiceGroup Label="Disabled" Items="ChoiceGroupBasicItems" IsEnabled="false" DefaultValue="@("A")" IsRtl="true" />
                        <BitChoiceGroup Label="Image" Items="ChoiceGroupImageItems" DefaultValue="@("Bar")" LayoutFlow="BitLayoutFlow.Horizontal" IsRtl="true" />
                        <BitChoiceGroup Label="Icon" Items="ChoiceGroupIconItems" DefaultValue="@("Day")" LayoutFlow="BitLayoutFlow.Horizontal" IsRtl="true" />
                        <BitChoiceGroup Items="ChoiceGroupBasicItems" DefaultValue="@("A")" LayoutFlow="BitLayoutFlow.Horizontal" IsRtl="true">
                            <LabelTemplate>
                                <div class="custom-label">
                                    Label Template <BitIcon IconName="BitIconName.Filter" />
                                </div>
                            </LabelTemplate>
                        </BitChoiceGroup>
                        <BitChoiceGroup Label="Option Template" @bind-Value="@ChoiceGroupRtlLayoutFlowWithOptionTemplateValue"
                                        Items="ChoiceGroupItemsTemplate"
                                        LayoutFlow="BitLayoutFlow.Horizontal"
                                        IsRtl="true">
                            <ItemTemplate Context="option">
                                <div class="custom-option @(ChoiceGroupRtlLayoutFlowWithOptionTemplateValue == option.Value ? "selected-option" : "")">
                                    <div class="option-pointer"></div>
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Text</span>
                                </div>
                            </ItemTemplate>
                        </BitChoiceGroup>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup validation" HTMLSourceCode="@example10BitChoiceGroupItemHtmlCode" CSharpSourceCode="@example10BitChoiceGroupItemCSharpCode" ExampleId="example10">
                <ExamplePreview>
                    <div class="example-desc">ChoiceGroup validation in form (Required pick one)</div>
                    @if (string.IsNullOrEmpty(SuccessMessage))
                    {
                        <EditForm Model="@ValidationModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                            <DataAnnotationsValidator />
                            <div class="validation-summary">
                                <ValidationSummary />
                            </div>
                            <div>
                                <BitChoiceGroup Items="ChoiceGroupBasicItems" @bind-Value="ValidationModel.Value" />
                                <ValidationMessage For="@(() => ValidationModel.Value)" />
                            </div>
                            <BitButton Style="margin-top: 10px;" ButtonType="BitButtonType.Submit">Submit</BitButton>
                        </EditForm>
                    }
                    else
                    {
                        <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                            @SuccessMessage
                        </BitMessageBar>
                    }
                    <br />
                    <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick="() => { ValidationModel = new(); SuccessMessage=string.Empty; }">Reset</BitButton>
                </ExamplePreview>
            </ComponentExampleBox>
        </BitPivotItem>

        <BitPivotItem HeaderText="Custom Item">
            <ComponentExampleBox Title="Basic ChoiceGroup" HTMLSourceCode="@example1CustomItemHtmlCode" CSharpSourceCode="@example1CustomItemCSharpCode" ExampleId="example1">
                <ExamplePreview>
                    <div class="example-desc">To create a ChoiceGroup you can use a BitChoiceGroup component</div>
                    <BitChoiceGroup Label="Pick one"
                                    Items="CustomChoiceGroupBasicItems"
                                    TextField="@nameof(ChoiceModel.Name)"
                                    ValueField="@nameof(ChoiceModel.ItemValue)"
                                    DefaultValue="@("A")" />
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Disabled" HTMLSourceCode="@example2CustomItemHtmlCode" CSharpSourceCode="@example2CustomItemCSharpCode" ExampleId="example2">
                <ExamplePreview>
                    <div class="example-desc">you can disable ChoiceGroup or ChoiceGroupOption.</div>
                    <div class="chg-box">
                        <BitChoiceGroup Label="Disabled ChoiceGroup"
                                        Items="CustomChoiceGroupBasicItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        IsEnabled="false"
                                        DefaultValue="@("A")" />

                        <BitChoiceGroup Label="ChoiceGroup with Disabled Option"
                                        Items="CustomChoiceGroupDisabledItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        DefaultValue="@("A")" />
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with images" HTMLSourceCode="@example3CustomItemHtmlCode" CSharpSourceCode="@example3CustomItemCSharpCode" ExampleId="example3">
                <ExamplePreview>
                    <div class="example-desc">
                        ChoiceGroup with images also you can set the selected image src for selected mode.
                        in addition, image size style and img tag alt attribute are settable.
                    </div>
                    <BitChoiceGroup Label="Pick one image"
                                    Items="CustomChoiceGroupImageItems"
                                    TextField="@nameof(ChoiceModel.Name)"
                                    ValueField="@nameof(ChoiceModel.ItemValue)"
                                    ImageSrcField="@nameof(ChoiceModel.ImageAddress)"
                                    ImageAltField="@nameof(ChoiceModel.ImageDescription)"
                                    ImageSizeField="@nameof(ChoiceModel.ImageSize)"
                                    SelectedImageSrcField="@nameof(ChoiceModel.SelectedImageAddress)"
                                    DefaultValue="@("Bar")" />
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with icons" HTMLSourceCode="@example4CustomItemHtmlCode" CSharpSourceCode="@example4CustomItemCSharpCode" ExampleId="example4">
                <ExamplePreview>
                    <div class="example-desc">by BitIconName Interface you can select an icon name for showing in your option.</div>
                    <BitChoiceGroup Label="Pick one icon"
                                    Items="CustomChoiceGroupIconItems"
                                    TextField="@nameof(ChoiceModel.Name)"
                                    ValueField="@nameof(ChoiceModel.ItemValue)"
                                    IconNameField="@nameof(ChoiceModel.IconName)"
                                    DefaultValue="@("Day")" />
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with LabelTemplate" HTMLSourceCode="@example5CustomItemHtmlCode" CSharpSourceCode="@example5CustomItemCSharpCode" ExampleId="example5">
                <ExamplePreview>
                    <div class="example-desc">Customize the ChoiceGroup Label content.</div>
                    <BitChoiceGroup Items="CustomChoiceGroupBasicItems"
                                    TextField="@nameof(ChoiceModel.Name)"
                                    ValueField="@nameof(ChoiceModel.ItemValue)"
                                    DefaultValue="@("A")">
                        <LabelTemplate>
                            <div class="custom-label">
                                Custom label <BitIcon IconName="BitIconName.Filter" />
                            </div>
                        </LabelTemplate>
                    </BitChoiceGroup>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with Option Templates" HTMLSourceCode="@example6CustomItemHtmlCode" CSharpSourceCode="@example6CustomItemCSharpCode" ExampleId="example6">
                <ExamplePreview>
                    <div class="example-desc">Customize the ChoiceGroup Option content.</div>
                    <div class="chg-box">
                        <BitChoiceGroup Label="Option Template"
                                        Items="CustomChoiceGroupItemsTemplate"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        IconNameField="@nameof(ChoiceModel.IconName)"
                                        @bind-Value="ChoiceGroupWithOptionTemplateValue">
                            <ItemTemplate Context="option">
                                <div class="custom-option @(ChoiceGroupWithOptionTemplateValue == option.ItemValue ? "selected-option" : string.Empty)">
                                    <div class="option-pointer"></div>
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Name</span>
                                </div>
                            </ItemTemplate>
                        </BitChoiceGroup>
                        <BitChoiceGroup Label="Option Label Template"
                                        Items="CustomChoiceGroupItemsTemplate"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        IconNameField="@nameof(ChoiceModel.IconName)"
                                        @bind-Value="ChoiceGroupWithOptionLabelTemplateValue">
                            <ItemLabelTemplate Context="option">
                                <div style="margin-left: 27px;" class="custom-option @(ChoiceGroupWithOptionLabelTemplateValue == option.ItemValue ? "selected-option" : string.Empty)">
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Name</span>
                                </div>
                            </ItemLabelTemplate>
                        </BitChoiceGroup>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup Binding" HTMLSourceCode="@example7CustomItemHtmlCode" CSharpSourceCode="@example7CustomItemCSharpCode" ExampleId="example7">
                <ExamplePreview>
                    <div class="chg-box">
                        <div>
                            <BitChoiceGroup Label="One-way"
                                            Items="CustomChoiceGroupBasicItems"
                                            TextField="@nameof(ChoiceModel.Name)"
                                            ValueField="@nameof(ChoiceModel.ItemValue)"
                                            Value="@ChoiceGroupOneWayValue" />
                            <div class="chg-output">
                                <BitTextField @bind-Value="ChoiceGroupOneWayValue" />
                            </div>
                        </div>
                        <div>
                            <BitChoiceGroup Label="Two-way"
                                            Items="CustomChoiceGroupBasicItems"
                                            TextField="@nameof(ChoiceModel.Name)"
                                            ValueField="@nameof(ChoiceModel.ItemValue)"
                                            @bind-Value="ChoiceGroupTwoWayValue" />
                            <div class="chg-output">
                                <BitTextField @bind-Value="ChoiceGroupTwoWayValue" />
                            </div>
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with Horizotal LayoutFlow" HTMLSourceCode="@example8CustomItemHtmlCode" CSharpSourceCode="@example8CustomItemCSharpCode" ExampleId="example8">
                <ExamplePreview>
                    <div class="chg-box column">
                        <BitChoiceGroup Label="Basic"
                                        Items="CustomChoiceGroupBasicItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        DefaultValue="@("A")"
                                        LayoutFlow="BitLayoutFlow.Horizontal" />

                        <BitChoiceGroup Label="Disabled"
                                        Items="CustomChoiceGroupBasicItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        IsEnabled="false" DefaultValue="@("A")"
                                        LayoutFlow="BitLayoutFlow.Horizontal" />

                        <BitChoiceGroup Label="Image"
                                        Items="CustomChoiceGroupImageItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        ImageSrcField="@nameof(ChoiceModel.ImageAddress)"
                                        ImageAltField="@nameof(ChoiceModel.ImageDescription)"
                                        ImageSizeField="@nameof(ChoiceModel.ImageSize)"
                                        SelectedImageSrcField="@nameof(ChoiceModel.SelectedImageAddress)"
                                        DefaultValue="@("Bar")"
                                        LayoutFlow="BitLayoutFlow.Horizontal" />

                        <BitChoiceGroup Label="Icon"
                                        Items="CustomChoiceGroupIconItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        IconNameField="@nameof(ChoiceModel.IconName)"
                                        DefaultValue="@("Day")"
                                        LayoutFlow="BitLayoutFlow.Horizontal" />

                        <BitChoiceGroup Items="CustomChoiceGroupBasicItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        DefaultValue="@("A")"
                                        LayoutFlow="BitLayoutFlow.Horizontal">
                            <LabelTemplate>
                                <div class="custom-label">
                                    Label Template <BitIcon IconName="BitIconName.Filter" />
                                </div>
                            </LabelTemplate>
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="Option Template"
                                        @bind-Value="@ChoiceGroupLayoutFlowWithOptionTemplateValue"
                                        Items="CustomChoiceGroupItemsTemplate"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        IconNameField="@nameof(ChoiceModel.IconName)"
                                        LayoutFlow="BitLayoutFlow.Horizontal">
                            <ItemTemplate Context="option">
                                <div class="custom-option @(ChoiceGroupLayoutFlowWithOptionTemplateValue == option.ItemValue ? "selected-option" : "")">
                                    <div class="option-pointer"></div>
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Name</span>
                                </div>
                            </ItemTemplate>
                        </BitChoiceGroup>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="RTL Direction" HTMLSourceCode="@example9CustomItemHtmlCode" CSharpSourceCode="@example9CustomItemCSharpCode" ExampleId="example9">
                <ExamplePreview>
                    <div class="chg-box column">
                        <BitChoiceGroup Label="Basic"
                                        Items="CustomChoiceGroupBasicItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        DefaultValue="@("A")"
                                        IsRtl="true" />

                        <BitChoiceGroup Label="Disabled"
                                        Items="CustomChoiceGroupBasicItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        IsEnabled="false"
                                        DefaultValue="@("A")"
                                        IsRtl="true" />

                        <BitChoiceGroup Label="Image"
                                        Items="CustomChoiceGroupImageItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        ImageSrcField="@nameof(ChoiceModel.ImageAddress)"
                                        ImageAltField="@nameof(ChoiceModel.ImageDescription)"
                                        ImageSizeField="@nameof(ChoiceModel.ImageSize)"
                                        SelectedImageSrcField="@nameof(ChoiceModel.SelectedImageAddress)"
                                        DefaultValue="@("Bar")"
                                        LayoutFlow="BitLayoutFlow.Horizontal"
                                        IsRtl="true" />

                        <BitChoiceGroup Label="Icon"
                                        Items="CustomChoiceGroupIconItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        IconNameField="@nameof(ChoiceModel.IconName)"
                                        DefaultValue="@("Day")"
                                        LayoutFlow="BitLayoutFlow.Horizontal"
                                        IsRtl="true" />

                        <BitChoiceGroup Items="CustomChoiceGroupBasicItems"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        DefaultValue="@("A")"
                                        LayoutFlow="BitLayoutFlow.Horizontal"
                                        IsRtl="true">
                            <LabelTemplate>
                                <div class="custom-label">
                                    Label Template <BitIcon IconName="BitIconName.Filter" />
                                </div>
                            </LabelTemplate>
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="Option Template" @bind-Value="@ChoiceGroupRtlLayoutFlowWithOptionTemplateValue"
                                        Items="CustomChoiceGroupItemsTemplate"
                                        TextField="@nameof(ChoiceModel.Name)"
                                        ValueField="@nameof(ChoiceModel.ItemValue)"
                                        IconNameField="@nameof(ChoiceModel.IconName)"
                                        LayoutFlow="BitLayoutFlow.Horizontal"
                                        IsRtl="true">
                            <ItemTemplate Context="option">
                                <div class="custom-option @(ChoiceGroupRtlLayoutFlowWithOptionTemplateValue == option.ItemValue ? "selected-option" : "")">
                                    <div class="option-pointer"></div>
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Name</span>
                                </div>
                            </ItemTemplate>
                        </BitChoiceGroup>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup validation" HTMLSourceCode="@example10CustomItemHtmlCode" CSharpSourceCode="@example10CustomItemCSharpCode" ExampleId="example10">
                <ExamplePreview>
                    <div class="example-desc">ChoiceGroup validation in form (Required pick one)</div>
                    @if (string.IsNullOrEmpty(SuccessMessage))
                    {
                        <EditForm Model="@ValidationModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                            <DataAnnotationsValidator />
                            <div class="validation-summary">
                                <ValidationSummary />
                            </div>
                            <div>
                                <BitChoiceGroup Items="CustomChoiceGroupBasicItems"
                                            TextField="@nameof(ChoiceModel.Name)"
                                            ValueField="@nameof(ChoiceModel.ItemValue)"
                                            @bind-Value="ValidationModel.Value" />
                                <ValidationMessage For="@(() => ValidationModel.Value)" />
                            </div>
                            <BitButton Style="margin-top: 10px;" ButtonType="BitButtonType.Submit">Submit</BitButton>
                        </EditForm>
                    }
                    else
                    {
                        <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                            @SuccessMessage
                        </BitMessageBar>
                    }
                    <br />
                    <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick="() => { ValidationModel = new(); SuccessMessage=string.Empty; }">Reset</BitButton>
                </ExamplePreview>
            </ComponentExampleBox>
        </BitPivotItem>

        <BitPivotItem HeaderText="BitChoiceGroupOption">
            <ComponentExampleBox Title="Basic ChoiceGroup" HTMLSourceCode="@example1BitChoiceGroupOptionHtmlCode" ExampleId="example1">
                <ExamplePreview>
                    <div class="example-desc">To create a ChoiceGroup you can use a BitChoiceGroup component</div>
                    <BitChoiceGroup TItem="BitChoiceGroupOption<string>" TValue="string" Label="Pick one" DefaultValue="@("A")">
                        <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                        <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                        <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                        <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                    </BitChoiceGroup>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="Disabled" HTMLSourceCode="@example2BitChoiceGroupOptionHtmlCode" ExampleId="example2">
                <ExamplePreview>
                    <div class="example-desc">you can disable ChoiceGroup or ChoiceGroupOption.</div>
                    <div class="chg-box">
                        <BitChoiceGroup TItem="BitChoiceGroupOption<string>"
                                        TValue="string"
                                        Label="Disabled ChoiceGroup"
                                        IsEnabled="false"
                                        DefaultValue="@("A")">
                            <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                            <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                            <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                            <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="ChoiceGroup with Disabled Option"
                                        TItem="BitChoiceGroupOption<string>"
                                        TValue="string"
                                        DefaultValue="@("A")">
                            <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                            <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                            <BitChoiceGroupOption Text="Option C" Value="@("C")" IsEnabled="false" />
                            <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                        </BitChoiceGroup>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with images" HTMLSourceCode="@example3BitChoiceGroupOptionHtmlCode" ExampleId="example3">
                <ExamplePreview>
                    <div class="example-desc">
                        ChoiceGroup with images also you can set the selected image src for selected mode.
                        in addition, image size style and img tag alt attribute are settable.
                    </div>
                    <BitChoiceGroup Label="Pick one image"
                                    TItem="BitChoiceGroupOption<string>"
                                    TValue="string"
                                    DefaultValue="@("Bar")">
                        <BitChoiceGroupOption Text="Bar"
                                              Value="@("Bar")"
                                              ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png"
                                              SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png"
                                              ImageAlt="Alt for Bar image"
                                              ImageSize="@(new Size(32, 32))" />
                        <BitChoiceGroupOption Text="Pie"
                                              Value="@("Pie")"
                                              ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-pie-unselected.png"
                                              SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-pie-selected.png"
                                              ImageAlt="Alt for Pie image"
                                              ImageSize="@(new Size(32, 32))" />
                    </BitChoiceGroup>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with icons" HTMLSourceCode="@example4BitChoiceGroupOptionHtmlCode" ExampleId="example4">
                <ExamplePreview>
                    <div class="example-desc">by BitIconName Interface you can select an icon name for showing in your option.</div>
                    <BitChoiceGroup Label="Pick one icon"
                                    TItem="BitChoiceGroupOption<string>"
                                    TValue="string"
                                    DefaultValue="@("Day")">
                        <BitChoiceGroupOption Text="Day" Value="@("Day")" IconName="BitIconName.CalendarDay" />
                        <BitChoiceGroupOption Text="Week" Value="@("Week")" IconName="BitIconName.CalendarWeek" />
                        <BitChoiceGroupOption Text="Month" Value="@("Month")" IconName="BitIconName.Calendar" IsEnabled="false" />
                    </BitChoiceGroup>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with LabelTemplate" HTMLSourceCode="@example5BitChoiceGroupOptionHtmlCode" ExampleId="example5">
                <ExamplePreview>
                    <div class="example-desc">Customize the ChoiceGroup Label content.</div>
                    <BitChoiceGroup TItem="BitChoiceGroupOption<string>" TValue="string" DefaultValue="@("A")">
                        <LabelTemplate>
                            <div class="custom-label">
                                Custom label <BitIcon IconName="BitIconName.Filter" />
                            </div>
                        </LabelTemplate>
                        <ChildContent>
                            <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                            <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                            <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                            <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                        </ChildContent>
                    </BitChoiceGroup>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with Option Templates" HTMLSourceCode="@example6BitChoiceGroupOptionHtmlCode" CSharpSourceCode="@example6BitChoiceGroupOptionCSharpCode" ExampleId="example6">
                <ExamplePreview>
                    <div class="example-desc">Customize the ChoiceGroup Option content.</div>
                    <div class="chg-box">
                        <BitChoiceGroup Label="Option Template"
                                        TItem="BitChoiceGroupOption<string>"
                                        TValue="string"
                                        @bind-Value="ChoiceGroupWithOptionTemplateValue">
                            <ChildContent>
                                <BitChoiceGroupOption Text="Day" Value="@("Day")" IconName="BitIconName.CalendarDay" />
                                <BitChoiceGroupOption Text="Week" Value="@("Week")" IconName="BitIconName.CalendarWeek" />
                                <BitChoiceGroupOption Text="Month" Value="@("Month")" IconName="BitIconName.Calendar" />
                            </ChildContent>
                            <ItemTemplate Context="option">
                                <div class="custom-option @(ChoiceGroupWithOptionTemplateValue == option.Value ? "selected-option" : string.Empty)">
                                    <div class="option-pointer"></div>
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Text</span>
                                </div>
                            </ItemTemplate>
                        </BitChoiceGroup>
                        <BitChoiceGroup Label="Option Label Template"
                                        TItem="BitChoiceGroupOption<string>"
                                        TValue="string"
                                        @bind-Value="ChoiceGroupWithOptionLabelTemplateValue">
                            <ChildContent>
                                <BitChoiceGroupOption Text="Day" Value="@("Day")" IconName="BitIconName.CalendarDay" />
                                <BitChoiceGroupOption Text="Week" Value="@("Week")" IconName="BitIconName.CalendarWeek" />
                                <BitChoiceGroupOption Text="Month" Value="@("Month")" IconName="BitIconName.Calendar" />
                            </ChildContent>
                            <ItemLabelTemplate Context="option">
                                <div style="margin-left: 27px;" class="custom-option @(ChoiceGroupWithOptionLabelTemplateValue == option.Value ? "selected-option" : string.Empty)">
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Text</span>
                                </div>
                            </ItemLabelTemplate>
                        </BitChoiceGroup>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup Binding" HTMLSourceCode="@example7BitChoiceGroupOptionHtmlCode" CSharpSourceCode="@example7BitChoiceGroupOptionCSharpCode" ExampleId="example7">
                <ExamplePreview>
                    <div class="chg-box">
                        <div>
                            <BitChoiceGroup TItem="BitChoiceGroupOption<string>"
                                            TValue="string"
                                            Label="One-way"
                                            Value="@ChoiceGroupOneWayValue">
                                <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                                <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                                <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                                <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                            </BitChoiceGroup>
                            <div class="chg-output">
                                <BitTextField @bind-Value="ChoiceGroupOneWayValue" />
                            </div>
                        </div>
                        <div>
                            <BitChoiceGroup TItem="BitChoiceGroupOption<string>"
                                            TValue="string"
                                            Label="Two-way"
                                            @bind-Value="ChoiceGroupTwoWayValue">
                                <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                                <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                                <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                                <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                            </BitChoiceGroup>

                            <div class="chg-output">
                                <BitTextField @bind-Value="ChoiceGroupTwoWayValue" />
                            </div>
                        </div>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup with Horizotal LayoutFlow" HTMLSourceCode="@example8BitChoiceGroupOptionHtmlCode" CSharpSourceCode="@example8BitChoiceGroupOptionCSharpCode" ExampleId="example8">
                <ExamplePreview>
                    <div class="chg-box column">
                        <BitChoiceGroup Label="Basic" TItem="BitChoiceGroupOption<string>" TValue="string" DefaultValue="@("A")" LayoutFlow="BitLayoutFlow.Horizontal">
                            <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                            <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                            <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                            <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="Disabled" TItem="BitChoiceGroupOption<string>" TValue="string" IsEnabled="false" DefaultValue="@("A")" LayoutFlow="BitLayoutFlow.Horizontal">
                            <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                            <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                            <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                            <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="Image" TItem="BitChoiceGroupOption<string>" TValue="string" DefaultValue="@("Bar")" LayoutFlow="BitLayoutFlow.Horizontal">
                            <BitChoiceGroupOption Text="Bar"
                                                  Value="@("Bar")"
                                                  ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png"
                                                  SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png"
                                                  ImageAlt="Alt for Bar image"
                                                  ImageSize="@(new Size(32, 32))" />
                            <BitChoiceGroupOption Text="Pie"
                                                  Value="@("Pie")"
                                                  ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-pie-unselected.png"
                                                  SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-pie-selected.png"
                                                  ImageAlt="Alt for Pie image"
                                                  ImageSize="@(new Size(32, 32))" />
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="Icon" TItem="BitChoiceGroupOption<string>" TValue="string" DefaultValue="@("Day")" LayoutFlow="BitLayoutFlow.Horizontal">
                            <BitChoiceGroupOption Text="Day" Value="@("Day")" IconName="BitIconName.CalendarDay" />
                            <BitChoiceGroupOption Text="Week" Value="@("Week")" IconName="BitIconName.CalendarWeek" />
                            <BitChoiceGroupOption Text="Month" Value="@("Month")" IconName="BitIconName.Calendar" IsEnabled="false" />
                        </BitChoiceGroup>

                        <BitChoiceGroup TItem="BitChoiceGroupOption<string>" TValue="string" DefaultValue="@("A")" LayoutFlow="BitLayoutFlow.Horizontal">
                            <LabelTemplate>
                                <div class="custom-label">
                                    Label Template <BitIcon IconName="BitIconName.Filter" />
                                </div>
                            </LabelTemplate>
                            <ChildContent>
                                <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                                <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                                <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                                <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                            </ChildContent>
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="Option Template" @bind-Value="@ChoiceGroupLayoutFlowWithOptionTemplateValue"
                                        TItem="BitChoiceGroupOption<string>"
                                        TValue="string"
                                        LayoutFlow="BitLayoutFlow.Horizontal">
                            <ChildContent>
                                <BitChoiceGroupOption Text="Day" Value="@("Day")" IconName="BitIconName.CalendarDay" />
                                <BitChoiceGroupOption Text="Week" Value="@("Week")" IconName="BitIconName.CalendarWeek" />
                                <BitChoiceGroupOption Text="Month" Value="@("Month")" IconName="BitIconName.Calendar" />
                            </ChildContent>
                            <ItemTemplate Context="option">
                                <div class="custom-option @(ChoiceGroupLayoutFlowWithOptionTemplateValue == option.Value?.ToString() ? "selected-option" : "")">
                                    <div class="option-pointer"></div>
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Text</span>
                                </div>
                            </ItemTemplate>
                        </BitChoiceGroup>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="RTL Direction" HTMLSourceCode="@example9BitChoiceGroupOptionHtmlCode" CSharpSourceCode="@example9BitChoiceGroupOptionCSharpCode" ExampleId="example9">
                <ExamplePreview>
                    <div class="chg-box column">
                        <BitChoiceGroup Label="Basic" TItem="BitChoiceGroupOption<string>" TValue="string" DefaultValue="@("A")" IsRtl="true">
                            <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                            <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                            <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                            <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="Disabled" TItem="BitChoiceGroupOption<string>" TValue="string" IsEnabled="false" DefaultValue="@("A")" IsRtl="true">
                            <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                            <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                            <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                            <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="Image" TItem="BitChoiceGroupOption<string>" TValue="string" DefaultValue="@("Bar")" LayoutFlow="BitLayoutFlow.Horizontal" IsRtl="true">
                            <BitChoiceGroupOption Text="Bar"
                                                  Value="@("Bar")"
                                                  ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png"
                                                  SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png"
                                                  ImageAlt="Alt for Bar image"
                                                  ImageSize="@(new Size(32, 32))" />
                            <BitChoiceGroupOption Text="Pie"
                                                  Value="@("Pie")"
                                                  ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-pie-unselected.png"
                                                  SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-pie-selected.png"
                                                  ImageAlt="Alt for Pie image"
                                                  ImageSize="@(new Size(32, 32))" />
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="Icon" TItem="BitChoiceGroupOption<string>" TValue="string" DefaultValue="@("Day")" LayoutFlow="BitLayoutFlow.Horizontal" IsRtl="true">
                            <BitChoiceGroupOption Text="Day" Value="@("Day")" IconName="BitIconName.CalendarDay" />
                            <BitChoiceGroupOption Text="Week" Value="@("Week")" IconName="BitIconName.CalendarWeek" />
                            <BitChoiceGroupOption Text="Month" Value="@("Month")" IconName="BitIconName.Calendar" IsEnabled="false" />
                        </BitChoiceGroup>

                        <BitChoiceGroup TItem="BitChoiceGroupOption<string>" TValue="string" DefaultValue="@("A")" LayoutFlow="BitLayoutFlow.Horizontal" IsRtl="true">
                            <LabelTemplate>
                                <div class="custom-label">
                                    Label Template <BitIcon IconName="BitIconName.Filter" />
                                </div>
                            </LabelTemplate>
                            <ChildContent>
                                <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                                <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                                <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                                <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                            </ChildContent>
                        </BitChoiceGroup>

                        <BitChoiceGroup Label="Option Template" @bind-Value="@ChoiceGroupRtlLayoutFlowWithOptionTemplateValue"
                                        TItem="BitChoiceGroupOption<string>"
                                        TValue="string"
                                        LayoutFlow="BitLayoutFlow.Horizontal"
                                        IsRtl="true">
                            <ChildContent>
                                <BitChoiceGroupOption Text="Day" Value="@("Day")" IconName="BitIconName.CalendarDay" />
                                <BitChoiceGroupOption Text="Week" Value="@("Week")" IconName="BitIconName.CalendarWeek" />
                                <BitChoiceGroupOption Text="Month" Value="@("Month")" IconName="BitIconName.Calendar" />
                            </ChildContent>
                            <ItemTemplate Context="option">
                                <div class="custom-option @(ChoiceGroupRtlLayoutFlowWithOptionTemplateValue == option.Value?.ToString() ? "selected-option" : "")">
                                    <div class="option-pointer"></div>
                                    <BitIcon IconName="@option.IconName.Value" />
                                    <span>@option.Text</span>
                                </div>
                            </ItemTemplate>
                        </BitChoiceGroup>
                    </div>
                </ExamplePreview>
            </ComponentExampleBox>

            <ComponentExampleBox Title="ChoiceGroup validation" HTMLSourceCode="@example10BitChoiceGroupOptionHtmlCode" CSharpSourceCode="@example10BitChoiceGroupOptionCSharpCode" ExampleId="example10">
                <ExamplePreview>
                    <div class="example-desc">ChoiceGroup validation in form (Required pick one)</div>
                    @if (string.IsNullOrEmpty(SuccessMessage))
                    {
                        <EditForm Model="@ValidationModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                            <DataAnnotationsValidator />
                            <div class="validation-summary">
                                <ValidationSummary />
                            </div>
                            <div>
                                <BitChoiceGroup TItem="BitChoiceGroupOption<string>" TValue="string" @bind-Value="ValidationModel.Value">
                                    <BitChoiceGroupOption Text="Option A" Value="@("A")" />
                                    <BitChoiceGroupOption Text="Option B" Value="@("B")" />
                                    <BitChoiceGroupOption Text="Option C" Value="@("C")" />
                                    <BitChoiceGroupOption Text="Option D" Value="@("D")" />
                                </BitChoiceGroup>
                                <ValidationMessage For="@(() => ValidationModel.Value)" />
                            </div>
                            <BitButton Style="margin-top: 10px;" ButtonType="BitButtonType.Submit">Submit</BitButton>
                        </EditForm>
                    }
                    else
                    {
                        <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                            @SuccessMessage
                        </BitMessageBar>
                    }
                    <br />
                    <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick="() => { ValidationModel = new(); SuccessMessage=string.Empty; }">Reset</BitButton>
                </ExamplePreview>
            </ComponentExampleBox>
        </BitPivotItem>
    </BitPivot>
</ComponentDemo>