@namespace Bit.BlazorUI
@inherits BitInputBase<string?>

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div role="radiogroup" aria-labelledby="@GetAriaLabelledBy()">
        @if (LabelTemplate is not null)
        {
            <label class="bit-rbg-label" id="@_labelId" disabled="@(IsEnabled is false)">
                @LabelTemplate
            </label>
        }
        else if (Label.HasValue())
        {
            <label class="bit-rbg-label" id="@_labelId" disabled="@(IsEnabled is false)">
                @Label
            </label>
        }

        <div class="choice-field-group">
            <CascadingValue Value="this" IsFixed="true">
                @ChildContent
            </CascadingValue>
        </div>
    </div>
</div>