@namespace Bit.BlazorUI
@inherits BitComponentBase

<button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
        id="@UniqueId"
        style="@StyleBuilder.Value"
        class="@ClassBuilder.Value"
        type="button"
        title="@GetTitle()"
        tabindex="@_tabIndex"
        aria-label="@AriaLabel"
        aria-hidden="@AriaHidden"
        aria-describedby="@AriaDescription">
    <span style="@Styles?.Container" class="bit-tgb-con @Classes?.Container">
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            <i style="@Styles?.Icon" class="bit-icon bit-icon--@GetIconName() @Classes?.Icon" />
            <span style="@Styles?.Text" class="bit-tgb-txt @Classes?.Text">@GetText()</span>
        }
    </span>
</button>
