@namespace Bit.BlazorUI
@inherits BitComponentBase

<button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
        id="@_Id"
        style="@StyleBuilder.Value"
        class="@ClassBuilder.Value"
        dir="@Dir?.ToString().ToLower()"
        type="button"
        title="@GetTitle()"
        tabindex="@_tabIndex"
        aria-label="@AriaLabel"
        aria-hidden="@AriaHidden"
        aria-describedby="@AriaDescription">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        var iconName = GetIconName();
        if (iconName.HasValue())
        {
            <i style="@Styles?.Icon" class="bit-tgb-ico bit-icon bit-icon--@iconName @Classes?.Icon" />
        }
        <span style="@Styles?.Text" class="bit-tgb-btx @Classes?.Text">@GetText()</span>
    }
</button>
