@namespace Bit.BlazorUI

<div class="bit-fin-itm @GetFileElClass(Item.IsValid)">
    <div class="bit-fin-fic">
        <div title="@Item.Name" class="bit-fin-fnc">
            <div class="bit-fin-fn">@Item.Name</div>
        </div>
        <div class="bit-fin-fsc">
            <span class="bit-fin-fs">@FileSizeHumanizer.Humanize(Item.Size)</span>
        </div>
        @if (Item.IsValid is false)
        {
            <div class="bit-fin-us">@Item.Message</div>
        }
    </div>
    @if (FileInput.ShowRemoveButton)
    {
        <div class="bit-fin-usi" @onclick="() => FileInput.RemoveFile(Item)">
            <i title="remove" class="bit-icon bit-icon--Delete" aria-hidden="true" />
        </div>
    }
</div>
