@namespace Bit.BlazorUI.Demo.Client.Shared.Pages
@inherits AppComponentBase

<BitTypography Variant="BitTypographyVariant.H3" Class="@BitCss.Text.Primary2" Gutter>Bit BlazorUI components</BitTypography>

<div class="list-group">
    <div class="list-col">
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6" Class="@BitCss.Text.Primary3">Basic inputs</BitTypography>
            <BitLink Href="/components/button" title="Button">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Button</BitTypography>
            </BitLink>
            <BitLink Href="/components/action-button" title="ActionButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ActionButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/compound-button" title="CompoundButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">CompoundButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/icon-button" title="IconButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">IconButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/loading-button" title="LoadingButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">LoadingButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/toggle-button" title="ToggleButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ToggleButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/menu-button" title="MenuButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">MenuButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/split-button" title="SplitButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">SplitButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/check-box" title="Checkbox">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Checkbox</BitTypography>
            </BitLink>
            <BitLink Href="/components/choice-group" title="ChoiceGroup">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ChoiceGroup</BitTypography>
            </BitLink>
            <BitLink Href="/components/dropdown" title="Dropdown" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Dropdown</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle1" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/file-upload" title="FileUpload" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">FileUpload</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle1" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/label" title="Label">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Label</BitTypography>
            </BitLink>
            <BitLink Href="/components/link" title="Link">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Link</BitTypography>
            </BitLink>
            <BitLink Href="/components/rating" title="Rating">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Rating</BitTypography>
            </BitLink>
            <BitLink Href="/components/search-box" title="SearchBox">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">SearchBox</BitTypography>
            </BitLink>
            <BitLink Href="/components/slider" title="Slider">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Slider</BitTypography>
            </BitLink>
            <BitLink Href="/components/spin-button" title="SpinButton">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">SpinButton</BitTypography>
            </BitLink>
            <BitLink Href="/components/text-field" title="TextField">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">TextField</BitTypography>
            </BitLink>
            <BitLink Href="/components/numeric-text-field" title="NumericTextField">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">NumericTextField</BitTypography>
            </BitLink>
            <BitLink Href="/components/otp-input" title="OtpInput">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">OtpInput</BitTypography>
            </BitLink>
            <BitLink Href="/components/toggle" title="Toggle (Switch)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Toggle (Switch)</BitTypography>
            </BitLink>
            <BitLink Href="/components/typography" title="Typography">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Typography</BitTypography>
            </BitLink>
        </div>
    </div>
    <div class="list-col">
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6" Class="@BitCss.Text.Primary3">Galleries & Pickers</BitTypography>
            <BitLink Href="/components/color-picker" title="ColorPicker" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ColorPicker</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle1" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/date-picker" title="DatePicker" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">DatePicker</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle1" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/date-range-picker" title="DateRangePicker" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">DateRangePicker</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle1" Class="featured">featured</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6" Class="@BitCss.Text.Primary3">Items & Lists</BitTypography>
            <BitLink Href="/components/basic-list" title="BasicList">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">BasicList</BitTypography>
            </BitLink>
            <BitLink Href="/components/carousel" title="Carousel" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Carousel</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle1" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/persona" title="Persona (AvatarView)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Persona (AvatarView)</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6" Class="@BitCss.Text.Primary3">Commands, Menus & Navs</BitTypography>
            <BitLink Href="/components/nav" title="Nav (TreeList)" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Nav (TreeList)</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle1" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/pivot" title="Pivot (Tab)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Pivot (Tab)</BitTypography>
            </BitLink>
            <BitLink Href="/components/breadcrumb" title="Breadcrumb">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Breadcrumb</BitTypography>
            </BitLink>
        </div>
    </div>
    <div class="list-col">
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6" Class="@BitCss.Text.Primary3">Notification & Engagement</BitTypography>
            <BitLink Href="/components/message-bar" title="MessageBar">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">MessageBar</BitTypography>
            </BitLink>
            <BitLink Href="/components/SnackBar" title="SnackBar">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">SnackBar</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6" Class="@BitCss.Text.Primary3">Progress</BitTypography>
            <BitLink Href="/components/progress-indicator" title="ProgressIndicator">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">ProgressIndicator</BitTypography>
            </BitLink>
            <BitLink Href="/components/spinner" title="Spinner (BusyIndicator)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Spinner (BusyIndicator)</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6" Class="@BitCss.Text.Primary3">Surfaces</BitTypography>
            <BitLink Href="/components/accordion" title="Accordion (Expander)">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Accordion (Expander)</BitTypography>
            </BitLink>
            <BitLink Href="/components/modal" title="Modal">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Modal</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6" Class="@BitCss.Text.Primary3">Utilities</BitTypography>
            <BitLink Href="/components/icon" title="Icon">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Icon</BitTypography>
            </BitLink>
            <BitLink Href="/components/overlay" title="Overlay">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Overlay</BitTypography>
            </BitLink>
        </div>
        <div class="list">
            <BitTypography Variant="BitTypographyVariant.H6" Class="@BitCss.Text.Primary3">Extras</BitTypography>
            <BitLink Href="/components/data-grid" title="DataGrid" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">DataGrid</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle1" Class="featured">featured</BitTypography>
            </BitLink>
            <BitLink Href="/components/chart" title="Chart" Style="display: flex">
                <BitTypography Variant="BitTypographyVariant.Subtitle1">Chart</BitTypography>
                <BitTypography Variant="BitTypographyVariant.Subtitle1" Class="featured">featured</BitTypography>
            </BitLink>
        </div>
    </div>
</div>