@using Bit.IdentityServer.Contracts
@using Bit.IdentityServer.Model
@inherits Bit.Owin.Implementations.RazorViewTemplate

@{
    SSOPageModel ssoPageModel = Resolve<ISSOPageModelProvider>().GetSSOPageModel();
}

<!DOCTYPE html>
<html>

<head>
    <title>@(ssoPageModel.AppTitle)</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <base href="/" />

    <script type="text/javascript">
        clientAppProfile = {
            theme: "@(ssoPageModel.Theme)",
            culture: "@(ssoPageModel.Culture)",
            version: "@(ssoPageModel.AppVersion)",
            isDebugMode: @(ssoPageModel.DebugMode.ToString().ToLowerInvariant()),
            appTitle: "@(ssoPageModel.AppTitle)",
            appName: "@(ssoPageModel.AppName)",
            desiredTimeZone: "@(ssoPageModel.DesiredTimeZoneValue)",
            environmentConfigs: @(ssoPageModel.EnvironmentConfigsJSON)
            };
    </script>

    <script src="Files/V@(ssoPageModel.AppVersion)/bit-framework/src/TypeScriptClient/Bit.TSClient.Core/bit.core.js"></script>
    <script src="Files/V@(ssoPageModel.AppVersion)/bit-framework/src/TypeScriptClient/Bit.TSClient.AngularJS/bit.ng1.js"></script>
    <script src="Files/V@(ssoPageModel.AppVersion)/bit-framework/src/TypeScriptClient/Bit.TSClient.AngularJS.Test/bit.ng1.test.js"></script>
    <script src="Files/V@(ssoPageModel.AppVersion)/bit-framework/src/TypeScriptClient/Bit.TSClient.AngularJS.Tests/identity/bit.identity.tests.js"></script>
    <script type="text/javascript">
        Bit.DependencyManager.getCurrent().init();
    </script>

</head>

<body>

    <login></login>

    <script id="modelJson" type="application/json">
        {model}
    </script>

</body>

</html>