@inherits AppComponentBase

<header class="header">
    <div class="header-contact">
        @if (_isUserAuthenticated)
        {
            <BitIconButton Class="header-menu" IconName=@BitIconName.CollapseMenu OnClick=ToggleMenu />
        }
        <a class="logo-lnk" href="/"></a>
    </div>
    <div class="header-contact">
        @if (!_isUserAuthenticated)
        {
            <BitActionButton Class="header-item" IconName="@BitIconName.EntityExtraction" Href="/privacy">@Localizer[nameof(AppStrings.Privacy)]</BitActionButton>
            <BitActionButton Class="header-item" IconName="@BitIconName.AddFriend" Href="/sign-up">@Localizer[nameof(AppStrings.SignUp)]</BitActionButton>
            <BitActionButton Class="header-item" IconName="@BitIconName.Signin" Href="/sign-in">@Localizer[nameof(AppStrings.SignIn)]</BitActionButton>
        }
    </div>
</header>