@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     @onfocusin="@HandleFocusIn"
     @onfocusout="@HandleFocusOut"
     @onmouseup="@HandleMouseUp"
     @onmouseenter="@HandleMouseEnter"
     @onmouseleave="@HandleMouseLeave"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    @(Anchor ?? ChildContent)

    <div style="@Styles?.TooltipWrapper" class="bit-ttp-wrp @Classes?.TooltipWrapper">
        <div style="@Styles?.Tooltip" class="bit-ttp-ctn @GetTooltipClasses() @Classes?.Tooltip">
            @if (Template is not null)
            {
                @Template
            }
            else
            {
                @Text
            }
        </div>
    </div>
</div>