@inherits AppComponentBase

<header class="main-header @(CurrentUrl == "/" ? "main-header--full-page" : null)">
    <div class="header-main-container">
        <div class="header-content-container">
            @if (CurrentUrl != "/")
            {
                <BitIconButton ButtonStyle=BitButtonStyle.Standard Class="header-menu-btn" IconName=BitIconName.CollapseMenu OnClick=@WrapHandled(ToggleMenu) AriaLabel="Header menu button" />
            }
            <a class="header-logo" href="/" aria-label="Homepage"></a>
            <a class="header-link @(CurrentUrl == "/" ? "header-link--active" : "")" href="/">Home</a>
            <a class="header-link @(CurrentUrl != "/" ? "header-link--active" : "")" href="/overview">Docs</a>
        </div>
        <a class="github-btn" target="_blank" aria-label="Github repository" href="https://github.com/bitfoundation/bitplatform"></a>
    </div>

    <div class="header-second-row">
        <BitActionButton ButtonStyle=BitButtonStyle.Standard Class="header-action-button"
                         IconName=@(IsHeaderMenuOpen ? BitIconName.ChevronDown : BitIconName.ChevronUp)
                         OnClick=ToggleHeaderMenu>
            @GetActiveRouteName()
        </BitActionButton>
    </div>
</header>

@if (IsHeaderMenuOpen)
{
    <nav class="header-nav">
        <BitIconButton ButtonStyle=BitButtonStyle.Standard Class="header-nav-close-btn" IconName=BitIconName.Cancel OnClick=ToggleHeaderMenu />
        <a class="header-nav-link @(CurrentUrl == "/" ? "header-nav-link--active" : "")" href="/" @onclick=ToggleHeaderMenu>Home</a>
        <a class="header-nav-link @(CurrentUrl != "/" ? "header-nav-link--active" : "")" href="/overview" @onclick=ToggleHeaderMenu>Docs</a>
    </nav>
}