@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (IsOpen)
{
    <div @ref="RootElement" @attributes="HtmlAttributes"
         id="@_Id"
         style="@StyleBuilder.Value"
         class="@ClassBuilder.Value"
         dir="@Dir?.ToString().ToLower()"
         aria-labelledby="@TitleAriaId"
         aria-describedby="@SubtitleAriaId"
         aria-modal="@((Modeless is false).ToString())"
         role=@((IsAlert ?? (Blocking && Modeless is false))? "alertdialog": "dialog")>
        @if (Modeless is false)
        {
            <div @onclick="HandleOnOverlayClick"
                 aria-hidden="true"
                 style="@Styles?.Overlay"
                 class="bit-mdl-ovl @Classes?.Overlay" />
        }
        <div id="@_containerId"
             style="@Styles?.Content"
             class="bit-mdl-ctn @Classes?.Content">
            @ChildContent
        </div>
    </div>
}
