@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (IsOpen)
{
    <div @ref="RootElement" @attributes="HtmlAttributes"
         id="@_Id"
         style="@StyleBuilder.Value"
         class="@ClassBuilder.Value"
         dir="@Dir?.ToString().ToLower()"
         role=@((IsAlert ?? (Blocking && Modeless is false))? "alertdialog": "dialog")
         aria-modal="@((Modeless is false).ToString())"
         aria-labelledby="@TitleAriaId"
         aria-describedby="@SubtitleAriaId">
        @if (Modeless is false)
        {
            <div style="@Styles?.Overlay" class="bit-mdl-ovl @Classes?.Overlay" aria-hidden="true" @onclick="CloseModal" />
        }
        <div id="@_containerId" style="@Styles?.Content" class="bit-mdl-ctn @Classes?.Content">
            @ChildContent
        </div>
    </div>
}
