@inherits AppComponentBase;

<BitModal @bind-IsOpen="isOpen" IsBlocking="true" AutoToggleScroll="false">
    <div class="main-container">
        <div class="header">
            <span class="title">@title</span>
            <BitButton IconName="@BitIconName.ChromeClose" OnClick="@(() => Confirm(false))" Variant="BitVariant.Text" />
        </div>
        <div class="body">
            @message
        </div>
        <div class="btn-group">
            <BitButton Style="margin-inline-end: 0.5rem" OnClick="@(() => Confirm(true))">
                @Localizer[nameof(AppStrings.Yes)]
            </BitButton>

            <BitButton Variant="BitVariant.Outline" OnClick="@(() => Confirm(false))">
                @Localizer[nameof(AppStrings.No)]
            </BitButton>
        </div>
    </div>
</BitModal>