@inherits AppComponentBase

@if (_isNavOpen)
{
    <div class="nav-menu-shadow nav-menu--mobile" @onclick="@WrapHandled(ToggleMenu)"></div>
}
<div class="nav-menu @(_isNavOpen is false ? "nav-menu--desktop" : null)">
    <div class="search-box-container">
        <BitSearchBox Class="nav-menu-search-box"
                      Placeholder="Search"
                      IconName="@BitIconName.Search"
                      IsUnderlined="true"
                      Value="@_searchText"
                      ValueChanged="@HandleValueChanged"
                      OnClear="@HandleOnClear" />
        @if (_filteredNavLinks.Count == 0)
        {
            <br />
            <div>nothing found!</div>
        }
    </div>
    <div class="nav-menu-list">
        <BitNav Class="@GetNavMenuClass()"
                Items="_filteredNavLinks"
                AriaLabel="bit project templates doc nav"
                OnItemClick="WrapHandled<BitNavItem>(HandleOnItemClick)"
                ClassStyles="@(new() { SelectedItemContainer = new() { Style = $"background-color:var({BitCss.Var.Color.Background.Primary});" } })" />
    </div>
</div>