@inherits AppComponentBase

<BitModal @bind-IsOpen="IsOpen" IsBlocking="true" AutoToggleScroll="false">
    <div class="modal-body">
        <div class="modal-close-btn-container">
            <BitButton OnClick="CloseModal" IconName="@BitIconName.ChromeClose" Title="Close" Variant="BitVariant.Text" />
        </div>
        <div class="modal-title">
            @Localizer[nameof(AppStrings.DeleteAccount)]
        </div>
        <div class="modal-desc">
            @Localizer[nameof(AppStrings.DeleteAccountPrompt)]
        </div>
        <div>
            <BitButton OnClick="DeleteAccount">
                @Localizer[nameof(AppStrings.Yes)]
            </BitButton>
            <BitButton OnClick="CloseModal" Variant="BitVariant.Outline">
                @Localizer[nameof(AppStrings.No)]
            </BitButton>
        </div>
    </div>
</BitModal>