@namespace Bit.BlazorUI
@inherits BitInputBase<bool>

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">

    @if (LabelTemplate is not null)
    {
        <label for="@_buttonId">
            @LabelTemplate
        </label>
    }
    else if (Label.HasValue())
    {
        <label for="@_buttonId">
            @Label
        </label>
    }

    <div class="container">
        <button id="@_buttonId"
                aria-label="@AriaLabel"
                aria-checked="@_ariaChecked"
                aria-labelledby="@_labelledById"
                role="@Role"
                type="button"
                data-is-focusable="true"
                data-ktp-target="true"
                @onclick="HandleOnClick">
            <span class="state"></span>
        </button>
        @if (_stateText.HasValue())
        {
            <label for="@_buttonId" class="state-text">
                @_stateText
            </label>
        }
    </div>
    <input @attributes="InputHtmlAttributes" type="checkbox" value="@CurrentValueAsString" class="bit-input-hidden" />
</div>
