@namespace Bit.BlazorUI
@inherits BitComponentBase

@{
    RenderFragment b = @<div style="@Styles?.Content" class="bit-acb-con @Classes?.Content">@(Body ?? ChildContent)</div>;
    var body = ((Body ?? ChildContent) is not null && IconOnly is false) ? b : null;
    var icon = BitIconInfo.From(Icon, IconName);
}

@if (Href.HasNoValue())
{
    <button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
            id="@_Id"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            type="@_buttonType.GetValue()"
            dir="@Dir?.ToString().ToLower()"
            disabled="@(IsEnabled is false)"
            title="@Title"
            tabindex="@_tabIndex"
            aria-label="@AriaLabel"
            aria-hidden="@AriaHidden"
            aria-describedby="@AriaDescription"
            aria-busy="@(_isLoading ? "true" : null)">
        <div class="bit-acb-inn">
            @if (_isLoading)
            {
                @if (LoadingTemplate is not null)
                {
                    @LoadingTemplate
                }
                else
                {
                    <div style="@Styles?.Spinner" class="bit-acb-spn @Classes?.Spinner"></div>

                    @body
                }
            }
            else
            {
                @if (icon is not null)
                {
                    <i style="@Styles?.Icon" class="bit-acb-ico @icon.GetCssClasses() @Classes?.Icon" />
                }

                @body
            }
        </div>
    </button>
}
else
{
    <a @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
       id="@_Id"
       rel="@_rel"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       dir="@Dir?.ToString().ToLower()"
       disabled="@(IsEnabled is false)"
       href="@(IsEnabled? Href : null)"
       title="@Title"
       target="@Target"
       tabindex="@_tabIndex"
       aria-label="@AriaLabel"
       aria-hidden="@AriaHidden"
       aria-describedby="@AriaDescription">
        <span class="bit-acb-inn">
            @if (icon is not null)
            {
                <i style="@Styles?.Icon" class="bit-acb-ico @icon.GetCssClasses() @Classes?.Icon" />
            }

            @body
        </span>
    </a>
}