@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     @onpointermove="HandlePointerMove"
     @onpointerdown="HandlePointerDown"
     @onpointerdown:preventDefault
     @onpointerup="HandlePointerUp">

    <div @ref="_swiper"
         class="swiper"
         style="@_directionStyle">
        <CascadingValue Value="this" IsFixed="true">
            @ChildContent
        </CascadingValue>
    </div>

    @if (ShowNextPrev)
    {
        <div class="right-btn" @onclick="async() => await Go(true)" style="@_rightButtonStyle" @onpointerdown:stopPropagation>
            <i class="bit-icon bit-icon--ChevronRight"></i>
        </div>

        <div class="left-btn" @onclick="async () => await Go(false)" style="@_leftButtonStyle" @onpointerdown:stopPropagation>
            <i class="bit-icon bit-icon--ChevronLeft"></i>
        </div>
    }

    @*@if (ShowDots)
    {
    <div class="dots" style="@_directionStyle">
    @for (int i = 0; i < _pagesCount; i++)
    {
    int index = i;
    <div class="@(_currentPage == index ? " current" : null)" @onclick="(() => GotoPage(index))"></div>
    }
    </div>
    }*@
</div>