@namespace Bit.BlazorUI
@inherits BitInputBase<string?>

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel">

    @for (var i = 0; i < InputCount; i++)
    {
        int index = i;

        <input class="otp-input"
               type="@_inputType"
               value="@_inputValue[index]"
               disabled="@(IsEnabled is false)"
               autocomplete="@BitAutoCompleteValue.NewPassword"
               @ref="_inputRef[index]" 
               @onfocusin="(e) => HandleOnFocusIn(e, index)"
               @onfocusout="HandleOnFocusOut"
               @onkeydown="(e) => HandleOnKeyDown(e, index)"
               @onpaste="HandleOnPaste" />
    }

</div>