@namespace Bit.BlazorUI
@inherits BitInputBase<string?>

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel">

    @for (var i = 0; i < Length; i++)
    {
        int index = i;

        <input class="input"
               type="@_inputType"
               inputmode="@_inputMode"
               value="@_inputValue[index]"
               disabled="@(IsEnabled is false)"
               autocomplete="@BitAutoCompleteValue.NewPassword"
               @ref="_inputRefs[index]" 
               @onfocusin="HandleOnFocusIn"
               @onfocusout="HandleOnFocusOut"
               @onkeydown="(e) => HandleOnKeyDown(e, index)"
               @oninput="(e) => HandleOnInput(e, index)"
               @onpaste="HandleOnPaste" />
    }
</div>
