@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue() && IsEnabled)
{
    <a @ref="RootElement"
       @attributes="HtmlAttributes"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       aria-label="@AriaLabel"
       aria-describedby="@AriaDescription"
       aria-hidden="@AriaHidden"
       title="@Title"
       target="@Target"
       href="@Href"
       tabindex="@tabIndex">
        <span>
            <i class="bit-icon bit-icon--@IconName.GetName()"></i>
        </span>
        <span>
            @ChildContent
        </span>
    </a>
}
else
{
    <button @ref="RootElement"
            @attributes="HtmlAttributes"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            type="@ButtonType.GetDisplayName(toLowerDisplayName: true)"
            aria-label="@AriaLabel"
            aria-describedby="@AriaDescription"
            aria-hidden="@AriaHidden"
            tabindex="@tabIndex"
            title="@Title"
            @onclick="HandleOnClick">
        <span>
            <i class="bit-icon bit-icon--@IconName.GetName()"></i>
        </span>
        <span>
            @ChildContent
        </span>
    </button>
}