@namespace Bit.BlazorUI
@inherits BitInputBase<string?>

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div class="icon-container" aria-hidden="true">
        <i class="bit-icon bit-icon--@IconName.GetName()" aria-hidden="true"></i>
    </div>
    <input @attributes="InputHtmlAttributes"
           class="search-box-input"
           id="@_inputId"
           type="text"
           aria-label="@AriaLabel"
           disabled="@(IsEnabled is false)"
           placeholder="@Placeholder"
           role="searchbox"
           value="@CurrentValue"
           autocomplete="@Autocomplete"
           @ref="_inputRef"
           @onkeydown="@((k) => HandleOnKeyDown(k))"
           @onfocusin="HandleInputFocusIn"
           @onfocusout="HandleInputFocusOut"
           @oninput="@HandleOnChange" />
    @if (CurrentValue.HasValue())
    {
        <div class="clear-btn-container">
            <button class="clear-btn"
                type="button"
                aria-label="Clear text"
                aria-hidden="true"
                disabled="@(CurrentValue.HasNoValue())"
                @onclick="HandleOnClear">
                <span>
                    <i class="bit-icon bit-icon--Clear" aria-hidden="true"></i>
                </span>
            </button>
        </div>
    }
</div>
