@namespace Bit.BlazorUI
@inherits BitInputBase<string?>

<div @ref="RootElement" @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div class="bit-srb-ict" aria-hidden="true">
        <i class="bit-icon bit-icon--@IconName.GetName()" aria-hidden="true" />
    </div>
    <input @ref="_inputRef" @attributes="InputHtmlAttributes" @onkeydown="@((k) => HandleOnKeyDown(k))" @onfocusin="HandleInputFocusIn" @onfocusout="HandleInputFocusOut" @oninput="@HandleOnChange"
           class="bit-srb-inp"
           id="@_inputId"
           type="text"
           aria-label="@AriaLabel"
           disabled="@(IsEnabled is false)"
           placeholder="@Placeholder"
           role="searchbox"
           value="@CurrentValue"
           autocomplete="@Autocomplete" />
    @if (CurrentValue.HasValue())
    {
        <div class="bit-srb-cbc">
            <button @onclick="HandleOnClear"
                    class="bit-srb-cbt"
                    type="button"
                    aria-label="Clear text"
                    aria-hidden="true"
                    disabled="@(CurrentValue.HasNoValue())">
                <span>
                    <i class="bit-icon bit-icon--Cancel" aria-hidden="true" />
                </span>
            </button>
        </div>
    }
</div>
