<ComponentExampleBox Title="Basic" HTMLSourceCode="@example1CustomItemHTMLCode" CSharpSourceCode="@example1CustomItemCSharpCode" ExampleId="example21">
    <ExamplePreview>
        <div class="example-content">
            <BitMenuButton Text="Primary"
                           ButtonStyle="BitButtonStyle.Primary"
                           Items="basicCustoms"
                           TextField="@nameof(MenuActionItem.Name)"
                           KeyField="@nameof(MenuActionItem.Id)"
                           IconNameField="@nameof(MenuActionItem.Icon)"
                           OnItemClick="(MenuActionItem item) => example1SelectedItem = item.Id" />

            <BitMenuButton Text="Standard"
                           ButtonStyle="BitButtonStyle.Standard"
                           Items="basicCustoms"
                           TextField="@nameof(MenuActionItem.Name)"
                           KeyField="@nameof(MenuActionItem.Id)"
                           IconNameField="@nameof(MenuActionItem.Icon)"
                           OnItemClick="(MenuActionItem item) => example1SelectedItem = item.Id" />

            <BitMenuButton Text="Disabled"
                           Items="basicCustoms"
                           TextFieldSelector="item => item.Name"
                           KeyFieldSelector="item => item.Id"
                           IconNameFieldSelector="item => item.Icon"
                           OnItemClick="(MenuActionItem item) => example1SelectedItem = item.Id"
                           IsEnabled="false" />

            <BitMenuButton Text="Item Disabled"
                           Items="itemDisabledCustoms"
                           TextFieldSelector="item => item.Name"
                           KeyFieldSelector="item => item.Id"
                           IconNameFieldSelector="item => item.Icon"
                           OnItemClick="(MenuActionItem item) => example1SelectedItem = item.Id" />
        </div>
        <div class="clicked-item">Clicked Item: @example1SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="IconName" HTMLSourceCode="@example2CustomItemHTMLCode" CSharpSourceCode="@example2CustomItemCSharpCode" ExampleId="example22">
    <ExamplePreview>
        <div class="example-content">
            <BitMenuButton Text="Primary Button"
                           IconName="@BitIconName.Edit"
                           ButtonStyle="BitButtonStyle.Primary"
                           Items="basicCustoms"
                           TextFieldSelector="item => item.Name"
                           KeyFieldSelector="item => item.Id"
                           IconNameFieldSelector="item => item.Icon"
                           OnItemClick="(MenuActionItem item) => example2SelectedItem = item.Id" />

            <BitMenuButton Text="Standard Button"
                           IconName="@BitIconName.Add"
                           ButtonStyle="BitButtonStyle.Standard"
                           Items="basicCustoms"
                           TextField="@nameof(MenuActionItem.Name)"
                           KeyField="@nameof(MenuActionItem.Id)"
                           IconNameField="@nameof(MenuActionItem.Icon)"
                           OnItemClick="(MenuActionItem item) => example2SelectedItem = item.Id" />
        </div>
        <div class="clicked-item">Clicked Item: @example2SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Style & Class" HTMLSourceCode="@example3CustomItemHTMLCode" CSharpSourceCode="@example3CustomItemCSharpCode" ExampleId="example23">
    <ExamplePreview>
        <div>Component's Style & Class:</div>
        <br />
        <div class="example-content">
            <BitMenuButton Text="Styled Button"
                           Items="basicCustoms"
                           TextField="@nameof(MenuActionItem.Name)"
                           KeyField="@nameof(MenuActionItem.Id)"
                           IconNameField="@nameof(MenuActionItem.Icon)"
                           OnItemClick="(MenuActionItem item) => example31SelectedItem = item.Id"
                           Style="width: 200px; height: 40px; background-color: #8A8886; border-color: black;" />

            <BitMenuButton Text="Classed Button"
                           Items="basicCustoms"
                           TextFieldSelector="item => item.Name"
                           KeyFieldSelector="item => item.Id"
                           IconNameFieldSelector="item => item.Icon"
                           OnItemClick="(MenuActionItem item) => example31SelectedItem = item.Id"
                           Class="custom-class" />
        </div>
        <div class="clicked-item">Clicked Item: @example31SelectedItem</div>
        <br /><br /><br /><br />
        <div>Item's Style & Class:</div>
        <br />
        <div class="example-content">
            <BitMenuButton Text="Item Styled & Classed Button"
                           Items="itemStyleClassCustoms" 
                           TextField="@nameof(MenuActionItem.Name)"
                           KeyField="@nameof(MenuActionItem.Id)"
                           IconNameField="@nameof(MenuActionItem.Icon)"
                           StyleField="@nameof(MenuActionItem.Style)"
                           ClassField="@nameof(MenuActionItem.Class)"
                           OnItemClick="(MenuActionItem item) => example32SelectedItem = item.Id" />
        </div>
        <div class="clicked-item">Clicked Item: @example32SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="HeaderTemplate" HTMLSourceCode="@example4CustomItemHTMLCode" CSharpSourceCode="@example4CustomItemCSharpCode" ExampleId="example24">
    <ExamplePreview>
        <div class="example-content">
            <BitMenuButton Items="basicCustoms"
                           TextFieldSelector="item => item.Name"
                           KeyFieldSelector="item => item.Id"
                           IconNameFieldSelector="item => item.Icon"
                           OnItemClick="(MenuActionItem item) => example4SelectedItem = item.Id"
                           ButtonStyle="BitButtonStyle.Primary">
                <HeaderTemplate>
                    <BitIcon IconName="@BitIconName.Warning" />
                    <div style="font-weight: 600; color: white;">
                        Custom Header!
                    </div>
                    <BitIcon IconName="@BitIconName.Warning" />
                </HeaderTemplate>
            </BitMenuButton>

            <BitMenuButton Items="basicCustoms"
                           TextField="@nameof(MenuActionItem.Name)"
                           KeyField="@nameof(MenuActionItem.Id)"
                           IconNameField="@nameof(MenuActionItem.Icon)"
                           OnItemClick="(MenuActionItem item) => example4SelectedItem = item.Id"
                           ButtonStyle="BitButtonStyle.Standard">
                <HeaderTemplate>
                    <div style="font-weight: bold; color: #d13438;">
                        Custom Header!
                    </div>
                </HeaderTemplate>
            </BitMenuButton>
        </div>
        <div class="clicked-item">Clicked Item: @example4SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="ItemTemplate" HTMLSourceCode="@example5CustomItemHTMLCode" CSharpSourceCode="@example5CustomItemCSharpCode" ExampleId="example25">
    <ExamplePreview>
        <div class="example-content">
            <BitMenuButton Text="Primary Button"
                           IconName="@BitIconName.Edit"
                           Items="itemTemplateCustoms"
                           TextFieldSelector="item => item.Name"
                           KeyFieldSelector="item => item.Id"
                           IconNameFieldSelector="item => item.Icon"
                           OnItemClick="(MenuActionItem item) => example51SelectedItem = item.Id"
                           ButtonStyle="BitButtonStyle.Primary">
                <ItemTemplate Context="item">
                    <div class="item-template-box">
                        <span style="color: @(item.Id == "add-key" ? "green" : item.Id == "edit-key" ? "yellow" : "red");">
                            @item.Name (@item.Id)
                        </span>
                    </div>
                </ItemTemplate>
            </BitMenuButton>

            <BitMenuButton Text="Standard Button"
                           IconName="@BitIconName.Edit"
                           Items="itemTemplateCustoms"
                           TextField="@nameof(MenuActionItem.Name)"
                           KeyField="@nameof(MenuActionItem.Id)"
                           IconNameField="@nameof(MenuActionItem.Icon)"
                           OnItemClick="(MenuActionItem item) => example51SelectedItem = item.Id"
                           ButtonStyle="BitButtonStyle.Standard">
                <ItemTemplate Context="item">
                    <div class="item-template-box">
                        <span style="color: @(item.Id == "add-key" ? "green" : item.Id == "edit-key" ? "yellow" : "red");">
                            @item.Name (@item.Id)
                        </span>
                    </div>
                </ItemTemplate>
            </BitMenuButton>
        </div>
        <div class="clicked-item">Clicked Item: @example51SelectedItem</div>
        <br /><br /><br /><br />
        <div>Item's Template</div>
        <br />
        <div class="example-content">
            <BitMenuButton Text="Primary Button"
                           IconName="@BitIconName.Edit"
                           Items="itemTemplateCustoms2"
                           TextField="@nameof(MenuActionItem.Name)"
                           KeyField="@nameof(MenuActionItem.Id)"
                           IconNameField="@nameof(MenuActionItem.Icon)"
                           TemplateField="@nameof(MenuActionItem.Fragment)"
                           OnItemClick="(MenuActionItem item) => example52SelectedItem = item.Id"
                           ButtonStyle="BitButtonStyle.Primary" />
        </div>
        <div class="clicked-item">Clicked Item: @example52SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>



@code {
    private string? example1SelectedItem;
    private string? example2SelectedItem;
    private string? example31SelectedItem;
    private string? example32SelectedItem;
    private string? example4SelectedItem;
    private string? example51SelectedItem;
    private string? example52SelectedItem;

    private List<MenuActionItem> itemTemplateCustoms2 = new()
    {
        new()
        {
            Name = "Add",
            Id = "add-key",
            Icon = BitIconName.Add,
            Fragment = (item => @<div class="item-template-box" style="color:green">@item.Name (@item.Id)</div>)
        },
        new()
        {
            Name = "Edit",
            Id = "edit-key",
            Icon = BitIconName.Edit,
            Fragment = (item => @<div class="item-template-box" style="color:yellow">@item.Name (@item.Id)</div>)
        },
        new()
        {
            Name = "Delete",
            Id = "delete-key",
            Icon = BitIconName.Delete,
            Fragment = (item => @<div class="item-template-box" style="color:red">@item.Name (@item.Id)</div>)
        }
    };
}