<ComponentExampleBox Title="Basic" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example21">
    <ExamplePreview>
        <div class="example-content">
            <BitMenuButton Text="Primary"
                           Items="basicCustoms"
                           NameSelectors="@(new() { Text = { Name = nameof(MenuActionItem.Name) },
                                                    Key = { Name = nameof(MenuActionItem.Id) },
                                                    IconName = { Name = nameof(MenuActionItem.Icon) } })"
                           OnItemClick="(MenuActionItem item) => example1SelectedItem = item.Id" />

            <BitMenuButton Text="Standard"
                           ButtonStyle="BitButtonStyle.Standard"
                           Items="basicCustoms"
                           NameSelectors="@(new() { Text = { Name = nameof(MenuActionItem.Name) },
                                                    Key = { Name = nameof(MenuActionItem.Id) },
                                                    IconName = { Name = nameof(MenuActionItem.Icon) } })"
                           OnItemClick="(MenuActionItem item) => example1SelectedItem = item.Id" />

            <BitMenuButton Text="Disabled" Items="basicCustoms" IsEnabled="false" />

            <BitMenuButton Text="Item Disabled"
                           Items="itemDisabledCustoms"
                           NameSelectors="@(new() { Text = { Selector = item => item.Name },
                                                    Key = { Selector = item => item.Id },
                                                    IconName = { Selector = item => item.Icon } })"
                           OnItemClick="(MenuActionItem item) => example1SelectedItem = item.Id" />

            <BitMenuButton Text="Item OnClick"
                           Items="basicCustomsWithOnClick"
                           NameSelectors="@(new() { Text = { Selector = item => item.Name },
                                                    Key = { Selector = item => item.Id },
                                                    IconName = { Selector = item => item.Icon },
                                                    OnClick = { Selector = item => item.Clicked } })" />
        </div>
        <div class="clicked-item">Clicked Item: @example1SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="IconName" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example22">
    <ExamplePreview>
        <div class="example-content">
            <BitMenuButton Text="Primary Button"
                           IconName="@BitIconName.Edit"
                           Items="basicCustoms"
                           NameSelectors="@(new() { Text = { Selector = item => item.Name },
                                                    Key = { Selector = item => item.Id },
                                                    IconName = { Selector = item => item.Icon } })"
                           OnItemClick="(MenuActionItem item) => example2SelectedItem = item.Id" />

            <BitMenuButton Text="Standard Button"
                           IconName="@BitIconName.Add"
                           ButtonStyle="BitButtonStyle.Standard"
                           Items="basicCustoms"
                           NameSelectors="@(new() { Text = { Selector = item => item.Name },
                                                    Key = { Selector = item => item.Id },
                                                    IconName = { Selector = item => item.Icon } })"
                           OnItemClick="(MenuActionItem item) => example2SelectedItem = item.Id" />
        </div>
        <div class="clicked-item">Clicked Item: @example2SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Style & Class" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example23">
    <ExamplePreview>
        <div>Component's Style & Class:</div>
        <br />
        <div class="example-content">
            <BitMenuButton Text="Styled Button"
                           Items="basicCustoms"
                           Style="width: 200px; height: 40px; background-color: #8A8886; border-color: black;"
                           NameSelectors="@(new() { Text = { Name = nameof(MenuActionItem.Name) },
                                                    Key = { Name = nameof(MenuActionItem.Id) },
                                                    IconName = { Name = nameof(MenuActionItem.Icon) } })"
                           OnItemClick="(MenuActionItem item) => example31SelectedItem = item.Id" />

            <BitMenuButton Text="Classed Button"
                           Items="basicCustoms"
                           Class="custom-class" 
                           NameSelectors="@(new() { Text = { Selector = item => item.Name },
                                                    Key = { Selector = item => item.Id },
                                                    IconName = { Selector = item => item.Icon } })"
                           OnItemClick="(MenuActionItem item) => example31SelectedItem = item.Id" />
        </div>
        <div class="clicked-item">Clicked Item: @example31SelectedItem</div>
        <br /><br /><br /><br />
        <div>Item's Style & Class:</div>
        <br />
        <div class="example-content">
            <BitMenuButton Text="Item Styled & Classed Button"
                           Items="itemStyleClassCustoms"
                           NameSelectors="@(new() { Text = { Name = nameof(MenuActionItem.Name) },
                                                    Key = { Name = nameof(MenuActionItem.Id) },
                                                    IconName = { Name = nameof(MenuActionItem.Icon) },
                                                    Class = { Name = nameof(MenuActionItem.Class) },
                                                    Style = { Name = nameof(MenuActionItem.Style) } })"
                           OnItemClick="(MenuActionItem item) => example32SelectedItem = item.Id" />
        </div>
        <div class="clicked-item">Clicked Item: @example32SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="HeaderTemplate" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example24">
    <ExamplePreview>
        <div class="example-content">
            <BitMenuButton Items="basicCustoms"
                           NameSelectors="@(new() { Text = { Selector = item => item.Name },
                                                    Key = { Selector = item => item.Id },
                                                    IconName = { Selector = item => item.Icon } })"
                           OnItemClick="(MenuActionItem item) => example4SelectedItem = item.Id">
                <HeaderTemplate>
                    <BitIcon IconName="@BitIconName.Warning" />
                    <div style="font-weight: 600; color: white;">
                        Custom Header!
                    </div>
                    <BitIcon IconName="@BitIconName.Warning" />
                </HeaderTemplate>
            </BitMenuButton>

            <BitMenuButton Items="basicCustoms"
                           ButtonStyle="BitButtonStyle.Standard"
                           NameSelectors="@(new() { Text = { Name = nameof(MenuActionItem.Name) },
                                                    Key = { Name = nameof(MenuActionItem.Id) },
                                                    IconName = { Name = nameof(MenuActionItem.Icon) } })"
                           OnItemClick="(MenuActionItem item) => example4SelectedItem = item.Id">
                <HeaderTemplate>
                    <div style="font-weight: bold; color: #d13438;">
                        Custom Header!
                    </div>
                </HeaderTemplate>
            </BitMenuButton>
        </div>
        <div class="clicked-item">Clicked Item: @example4SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="ItemTemplate" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example25">
    <ExamplePreview>
        <div class="example-content">
            <BitMenuButton Text="Primary Button"
                           IconName="@BitIconName.Edit"
                           Items="itemTemplateCustoms"
                           NameSelectors="@(new() { Text = { Selector = item => item.Name },
                                                    Key = { Selector = item => item.Id },
                                                    IconName = { Selector = item => item.Icon } })"
                           OnItemClick="(MenuActionItem item) => example51SelectedItem = item.Id">
                <ItemTemplate Context="item">
                    <div class="item-template-box">
                        <span style="color: @(item.Id == "add-key" ? "green" : item.Id == "edit-key" ? "yellow" : "red");">
                            @item.Name (@item.Id)
                        </span>
                    </div>
                </ItemTemplate>
            </BitMenuButton>

            <BitMenuButton Text="Standard Button"
                           IconName="@BitIconName.Edit"
                           Items="itemTemplateCustoms"
                           ButtonStyle="BitButtonStyle.Standard"
                           NameSelectors="@(new() { Text = { Name = nameof(MenuActionItem.Name) },
                                                    Key = { Name = nameof(MenuActionItem.Id) },
                                                    IconName = { Name = nameof(MenuActionItem.Icon) } })"
                           OnItemClick="(MenuActionItem item) => example51SelectedItem = item.Id">
                <ItemTemplate Context="item">
                    <div class="item-template-box">
                        <span style="color: @(item.Id == "add-key" ? "green" : item.Id == "edit-key" ? "yellow" : "red");">
                            @item.Name (@item.Id)
                        </span>
                    </div>
                </ItemTemplate>
            </BitMenuButton>
        </div>
        <div class="clicked-item">Clicked Item: @example51SelectedItem</div>
        <br /><br /><br /><br />
        <div>Item's Template</div>
        <br />
        <div class="example-content">
            <BitMenuButton Text="Primary Button"
                           IconName="@BitIconName.Edit"
                           Items="itemTemplateCustoms2"
                           NameSelectors="@(new() { Text = { Name = nameof(MenuActionItem.Name) },
                                                    Key = { Name = nameof(MenuActionItem.Id) },
                                                    IconName = { Name = nameof(MenuActionItem.Icon) },
                                                    Template = { Name = nameof(MenuActionItem.Fragment)} })"
                           OnItemClick="(MenuActionItem item) => example52SelectedItem = item.Id" />
        </div>
        <div class="clicked-item">Clicked Item: @example52SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="ClassStyles" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example26">
    <ExamplePreview>
        <div class="example-content">
            <BitMenuButton Text="ClassStyles"
                           Items="basicCustoms"
                           IconName="@BitIconName.ExpandMenu"
                           ChevronDownIcon="@BitIconName.DoubleChevronDown"
                           NameSelectors="@(new() { Text = { Selector = item => item.Name },
                                                    Key = { Selector = item => item.Id },
                                                    IconName = { Selector = item => item.Icon } })"
                           OnItemClick="(MenuActionItem item) => example6SelectedItem = item.Id"
                           ClassStyles="@(new() { Icon = { Style = "color:red" },
                                                  Text = { Style = "color:aqua" },
                                                  ChevronDown = { Style = "color:darkred;font-size:10px" } })" />
        </div>
        <div class="clicked-item">Clicked Item: @example6SelectedItem</div>
    </ExamplePreview>
</ComponentExampleBox>

@code {
    private string? example1SelectedItem;
    private string? example2SelectedItem;
    private string? example31SelectedItem;
    private string? example32SelectedItem;
    private string? example4SelectedItem;
    private string? example51SelectedItem;
    private string? example52SelectedItem;
    private string? example6SelectedItem;

    private List<MenuActionItem> itemTemplateCustoms2 = new()
    {
        new()
        {
            Name = "Add",
            Id = "add-key",
            Icon = BitIconName.Add,
            Fragment = (item => @<div class="item-template-box" style="color:green">@item.Name (@item.Id)</div>)
        },
        new()
        {
            Name = "Edit",
            Id = "edit-key",
            Icon = BitIconName.Edit,
            Fragment = (item => @<div class="item-template-box" style="color:yellow">@item.Name (@item.Id)</div>)
        },
        new()
        {
            Name = "Delete",
            Id = "delete-key",
            Icon = BitIconName.Delete,
            Fragment = (item => @<div class="item-template-box" style="color:red">@item.Name (@item.Id)</div>)
        }
    };
}