@page "/components/element"

<PageOutlet Url="components/element"
            Title="Element"
            Description="element component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Element"
               ComponentDescription="A simple component with a customizable HTML tag, offering full control over styling, attributes, and directional flow, designed to integrate seamlessly into the bit BlazorUI."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <BitElement>This is default (div)</BitElement>
        </ExamplePreview>
    </ComponentExampleBox>
    <ComponentExampleBox Title="Element" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
        <ExamplePreview>
            <div>Render different HTML elements by setting the Element property of BitElement.</div>
            <br />
            <BitElement Element="input" placeholder="Input" />
            <br /><br />
            <BitElement Element="a" href="https://bitplatform.dev/" target="_blank">Anchor (Link)</BitElement>
            <br /><br />
            <BitElement Element="button" @onclick="@(() => counter++)">Button (Click count @counter)</BitElement>
        </ExamplePreview>
    </ComponentExampleBox>
    <ComponentExampleBox Title="Advanced" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
        <ExamplePreview>
            <div>Change the HTML tag dynamically using the Element property.</div>
            <br /><br />
            <BitElement Element="@element"
                        placeholder="@element"
                        target="_blank"
                        href="https://bitplatform.dev/">
                @element
            </BitElement>
            <BitDropdown Label="Elements" Items="elementsList" @bind-Value="element" Style="width: 8rem; margin-top: 0.5rem;" />
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>
