@page "/components/radio-button-group"

<ComponentDemo ComponentName="RadioButtonGroup"
               ComponentDescription="Radio buttons (RadioButtonGroup) let people select a single option from two or more choices."
               ComponentParameters="componentParameters"
               ComponentSubParameters="componentSubParameters">

    <ComponentExampleBox Title="Basic RadioButtonGroup" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a RadioButtonGroup you can use a BitRadioButtonGroup component.</div>
            <BitRadioButtonGroup Name="Group1" Label="Pick one">
                <BitRadioButtonOption Text="Option A" Value="A" />
                <BitRadioButtonOption Text="Option B" Value="B" />
                <BitRadioButtonOption Text="Option C" Value="C" />
            </BitRadioButtonGroup>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">you can disable RadioButtonGroup or RadioButtonOption.</div>
            <div class="rbg-box">
                <BitRadioButtonGroup Name="Group1" Label="Disabled RadioButtonGroup" IsEnabled="false">
                    <BitRadioButtonOption Text="Option A" Value="A" />
                    <BitRadioButtonOption Text="Option B" Value="B" />
                    <BitRadioButtonOption Text="Option C" Value="C" />
                </BitRadioButtonGroup>

                <BitRadioButtonGroup Name="Group1" Label="Disabled RadioButtonOption">
                    <BitRadioButtonOption Text="Option A" Value="A" />
                    <BitRadioButtonOption Text="Option B" Value="B" IsEnabled="false" />
                    <BitRadioButtonOption Text="Option C" Value="C" />
                </BitRadioButtonGroup>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonGroup with images" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">RadioButtonGroup with images also you can set the selected image src for selected mode. in addition, image size style and img tag alt attribute are settable.</div>
            <BitRadioButtonGroup Name="Group1" Label="Pick one image" DefaultValue="bar">
                <BitRadioButtonOption Text="Clustered bar chart"
                                      Value="bar"
                                      ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png"
                                      ImageAlt="alt for image Option 1"
                                      SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png"
                                      ImageSize="new System.Drawing.Size( width: 32, height: 32)" />
                <BitRadioButtonOption Text="Pie chart"
                                      Value="pie"
                                      ImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-unselected.png"
                                      ImageAlt="alt for image Option 2"
                                      SelectedImageSrc="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-react-assets/choicegroup-bar-selected.png"
                                      ImageSize="new System.Drawing.Size( width: 32, height: 32)" />
            </BitRadioButtonGroup>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonGroup with icons" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">by BitIconName Interface you can select an icon name for showing in your option.</div>
            <BitRadioButtonGroup Name="Group1" Label="Pick one icon">
                <BitRadioButtonOption Text="Day" Value="day" IconName="BitIconName.CalendarDay" />
                <BitRadioButtonOption Text="Week" Value="week" IconName="BitIconName.CalendarWeek" />
                <BitRadioButtonOption Text="Month" Value="month" IconName="BitIconName.Calendar" IsEnabled="false" />
            </BitRadioButtonGroup>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonGroup with LabelTemplate" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">Customize the RadioButtonGroup Label content.</div>
            <BitRadioButtonGroup Name="Group1">
                <LabelTemplate>
                    <div class="custom-label">
                        Custom label <BitIcon IconName="BitIconName.Filter" />
                    </div>
                </LabelTemplate>
                <ChildContent>
                    <BitRadioButtonOption Text="Option A" Value="A" />
                    <BitRadioButtonOption Text="Option B" Value="B" />
                    <BitRadioButtonOption Text="Option C" Value="C" />
                </ChildContent>
            </BitRadioButtonGroup>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonGroup with custom Option" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-desc">Customize the RadioButtonGroup Option content.</div>
            <div class="rbg-box">
                <BitRadioButtonGroup Name="Group1" Label="Option Template" @bind-Value="OptionTemplateValue" DefaultValue="Day">
                    <BitRadioButtonOption Value="Day">
                        <div class="custom-option @(OptionTemplateValue is "Day" ? "selected-option" : "")">
                            <div class="radio-pointer"></div>
                            <BitIcon IconName="BitIconName.CalendarDay" />
                            <span>Day</span>
                        </div>
                    </BitRadioButtonOption>
                    <BitRadioButtonOption Value="Week">
                        <div class="custom-option @(OptionTemplateValue is "Week" ? "selected-option" : "")">
                            <div class="radio-pointer"></div>
                            <BitIcon IconName="BitIconName.CalendarWeek" />
                            <span>Week</span>
                        </div>
                    </BitRadioButtonOption>
                    <BitRadioButtonOption Value="Month">
                        <div class="custom-option @(OptionTemplateValue is "Month" ? "selected-option" : "")">
                            <div class="radio-pointer"></div>
                            <BitIcon IconName="BitIconName.Calendar" />
                            <span>Month</span>
                        </div>
                    </BitRadioButtonOption>
                </BitRadioButtonGroup>

                <BitRadioButtonGroup Name="Group1" Label="Option Label Template" @bind-Value="OptionLabelTemplateValue" DefaultValue="Day">
                    <BitRadioButtonOption Value="Day">
                       <LabelTemplate>
                            <div style="margin-left: 27px;" class="custom-option @(OptionLabelTemplateValue == "Day" ? "selected-option" : "")">
                                <BitIcon IconName="BitIconName.CalendarDay" />
                                <span>Day</span>
                            </div>
                       </LabelTemplate>
                    </BitRadioButtonOption>
                    <BitRadioButtonOption Value="Week">
                        <LabelTemplate>
                            <div style="margin-left: 27px;" class="custom-option @(OptionLabelTemplateValue is "Week" ? "selected-option" : "")">
                                <BitIcon IconName="BitIconName.CalendarWeek" />
                                <span>Week</span>
                            </div>
                        </LabelTemplate>
                    </BitRadioButtonOption>
                    <BitRadioButtonOption Value="Month">
                        <LabelTemplate>
                            <div style="margin-left: 27px;" class="custom-option @(OptionLabelTemplateValue is "Month" ? "selected-option" : "")">
                                <BitIcon IconName="BitIconName.Calendar" />
                                <span>Month</span>
                            </div>
                        </LabelTemplate>
                    </BitRadioButtonOption>
                </BitRadioButtonGroup>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonGroup Binding" HTMLSourceCode="@example7HTMLCode" CSharpSourceCode="@example7CSharpCode" ExampleId="example7">
        <ExamplePreview>
            <div class="rbg-box">
                <div>
                    <BitRadioButtonGroup Name="Group1" Label="One-way" Value="@ChoiceGroupOneWayValue">
                        <BitRadioButtonOption Text="Option A" Value="A" />
                        <BitRadioButtonOption Text="Option B" Value="B" />
                        <BitRadioButtonOption Text="Option C" Value="C" />
                    </BitRadioButtonGroup>
                    <div class="rbg-output">
                        <BitTextField Placeholder="A..." @bind-Value="ChoiceGroupOneWayValue" />
                    </div>
                </div>
                <div>
                    <BitRadioButtonGroup Name="Group1" Label="Two-way" @bind-Value="ChoiceGroupTwoWayValue">
                        <BitRadioButtonOption Text="Option A" Value="A" />
                        <BitRadioButtonOption Text="Option B" Value="B" />
                        <BitRadioButtonOption Text="Option C" Value="C" />
                    </BitRadioButtonGroup>
                    <div class="rbg-output">
                        <BitTextField @bind-Value="ChoiceGroupTwoWayValue" />
                    </div>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RadioButtonGroup with validation" HTMLSourceCode="@example8HTMLCode" CSharpSourceCode="@example8CSharpCode" ExampleId="example8">
        <ExamplePreview>
            <div class="example-desc">RadioButtonGroup validation in form (Required pick one)</div>
            @if (string.IsNullOrEmpty(SuccessMessage))
            {
                <EditForm Model="FormValidationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <div class="validation-summary">
                        <ValidationSummary />
                    </div>
                    <div>
                        <BitRadioButtonGroup Name="Group1" Label="Pick one" @bind-Value="@FormValidationModel.Option">
                            <BitRadioButtonOption Text="Option A" Value="A"></BitRadioButtonOption>
                            <BitRadioButtonOption Text="Option B" Value="B"></BitRadioButtonOption>
                            <BitRadioButtonOption Text="Disabled option C" Value="C" IsEnabled="false"></BitRadioButtonOption>
                        </BitRadioButtonGroup>
                        <ValidationMessage For="@(() => FormValidationModel.Option)" />
                    </div>
                    <BitButton Style="margin-top: 10px;" ButtonType="BitButtonType.Submit">Submit</BitButton>
                </EditForm>
            }
            else
            {
                <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                    @SuccessMessage
                </BitMessageBar>
            }
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>