@page "/edit-profile"
@attribute [Authorize]
@inherits AppComponentBase;

<PageTitle>@TodoStrings.ResourceManager.Translate(TodoStrings.EditProfileTitle)</PageTitle>

<div class="page-container">
    <div class="content-container--white">
        @if (string.IsNullOrEmpty(EditProfileMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@EditProfileMessageType"
                       OnDismiss="() => EditProfileMessage = null">
                @EditProfileMessage
            </BitMessageBar>
        }

        <h1 class="page-title">
            @TodoStrings.ResourceManager.Translate(TodoStrings.EditProfileTitle)
        </h1>
        @if (IsLoadingData)
        {
            <div class="loading-container">
                <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
            </div>
        }
        else
        {
            <div class="form-profile-container">
                <div class="form-profile-img">
                    @if (User.ProfileImageName != null)
                    {
                        <img src="@ProfileImageUrl" class="profile-img" alt="User profile image"/>
                    }
                    else if (string.IsNullOrEmpty(User.FullName) is false && User.FullName.Length >= 2)
                    {
                        @User.FullName?.ToUpper()[..2]
                    }
                    else
                    {
                        @User.UserName?.ToUpper()[..2]
                    }
                </div>
                <div class="form-profile-email">
                    @User.UserName
                </div>
            </div>
            <div class="form-input-container">
                <BitLabel>Profile image</BitLabel>
                <BitFileUpload Label="Upload a new profile image"
                           AutoUploadEnabled="true"
                           UploadUrl="@ProfileImageUploadUrl"
                           OnUploadComplete="WrapHandled(LoadEditProfileData)"
                           OnUploadFailed="() => ProfileImageError = ErrorStrings.FileUploadFailed"
                           @onfocus="() => ProfileImageError = null" />
                <div class="form-input-error">@ProfileImageError</div>
            </div>
            <EditForm Model="UserToEdit" OnSubmit="WrapHandled(Save)" class="edit-profile-form">
                <div class="form-input-container">
                    <BitTextField Label="Full name"
                              @bind-Value="UserToEdit.FullName"
                              Placeholder="@TodoStrings.ResourceManager.Translate(TodoStrings.FullName)" />
                </div>
                <div class="form-input-container">
                    <BitDatePicker Label="Birthday"
                               Class="edit-profile-dtp"
                               @bind-Value="UserToEdit.BirthDate"
                               Placeholder="@TodoStrings.ResourceManager.Translate(TodoStrings.SelectBirthDate)" />
                </div>
                <div class="form-choice-container">
                    <BitRadioButtonGroup Label="Gender" @bind-Value="UserToEdit.GenderAsString">
                        <BitRadioButtonOption Value="@Gender.Male.ToString()" Text="Male" AriaLabel="@TodoStrings.ResourceManager.Translate(TodoStrings.GenderMale)"></BitRadioButtonOption>
                        <BitRadioButtonOption Value="@Gender.Female.ToString()" Text="Famale" AriaLabel="@TodoStrings.ResourceManager.Translate(TodoStrings.GenderFemale)"></BitRadioButtonOption>
                        <BitRadioButtonOption Value="@Gender.Custom.ToString()" Text="Custom" AriaLabel="@TodoStrings.ResourceManager.Translate(TodoStrings.GenderCustom)"></BitRadioButtonOption>
                    </BitRadioButtonGroup>
                </div>
                <BitButton ButtonStyle="BitButtonStyle.Primary"
                       AriaLabel="@TodoStrings.ResourceManager.Translate(TodoStrings.Save)"
                       Title="@TodoStrings.ResourceManager.Translate(TodoStrings.Save)"
                       IsEnabled="IsSubmitButtonEnabled"
                       ButtonType="BitButtonType.Submit">
                    @if (IsSavingData)
                    {
                        <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                    }
                    else
                    {
                        <span>@TodoStrings.ResourceManager.Translate(TodoStrings.Save)</span>
                    }
                </BitButton>
            </EditForm>
        }
    </div>
</div>