@page "/email-confirmation"

@inherits AppComponentBase;

<PageTitle>@TodoStrings.ResourceManager.Translate(TodoStrings.EmailConfirmationTitle)</PageTitle>

<div class="page-container">
    <div class="form--white">
        @if (string.IsNullOrEmpty(EmailConfirmationMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@EmailConfirmationMessageType"
                       OnDismiss="() => EmailConfirmationMessage = null">
                @EmailConfirmationMessage
            </BitMessageBar>
        }
        @if (EmailConfirmed)
        {
            <h1 class="form-title">
                @TodoStrings.ResourceManager.Translate(TodoStrings.EmailConfirmedSuccessfullyMessage)
            </h1>
            <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   Title="@TodoStrings.ResourceManager.Translate(TodoStrings.SignIn)"
                   AriaLabel="@TodoStrings.ResourceManager.Translate(TodoStrings.SignIn)"
                   OnClick="WrapHandled(RedirectToSignIn)">
                <span>@TodoStrings.ResourceManager.Translate(TodoStrings.SignIn)</span>
            </BitButton>
        }
        else
        {
            <h1 class="form-title">
                @TodoStrings.ResourceManager.Translate(TodoStrings.EmailConfirmationFailedMessage)
            </h1>
            <div class="form-description">
                @TodoStrings.ResourceManager.Translate(TodoStrings.InvalidConfirmationLinkMessage)
            </div>
            <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   IsEnabled="@(IsLoading is false)"
                   Title="@TodoStrings.ResourceManager.Translate(TodoStrings.ResendEmail)"
                   AriaLabel="@TodoStrings.ResourceManager.Translate(TodoStrings.ResendEmail)"
                   OnClick="WrapHandled(ResendLink)">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>@TodoStrings.ResourceManager.Translate(TodoStrings.ResendEmail)</span>
                }
            </BitButton>
        }
    </div>
</div>