@page "/forgot-password"

@inherits AppComponentBase;

<PageTitle>@Localizer[nameof(AppStrings.ForgetPasswordTitle)]</PageTitle>

<div class="page-container">
    <EditForm Model="ForgotPasswordModel" OnValidSubmit="WrapHandled(Submit)" class="form--white">

        <DataAnnotationsValidator />

        @if (string.IsNullOrEmpty(ForgotPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@ForgotPasswordMessageType"
                       OnDismiss="() => ForgotPasswordMessage = null">
                @ForgotPasswordMessage
            </BitMessageBar>
        }
        <h1 class="form-title">@Localizer[nameof(AppStrings.ForgetPasswordTitle)]</h1>
        <div class="form-description">
            @Localizer[nameof(AppStrings.ForgetPasswordMessage)]
        </div>
        <div class="form-input-container">
            <BitTextField Label="@Localizer[nameof(AppStrings.Email)]"
                          Placeholder="@Localizer[nameof(AppStrings.Email)]"
                          Type="BitTextFieldType.Email"
                          @bind-Value="ForgotPasswordModel.Email" />
            <ValidationMessage For="@(() => ForgotPasswordModel.Email)" />
        </div>
        <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   IsEnabled="IsSubmitButtonEnabled"
                   Title="@Localizer[nameof(AppStrings.Submit)]"
                   AriaLabel="@Localizer[nameof(AppStrings.Submit)]"
                   ButtonType="BitButtonType.Submit">
            @if (IsLoading)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>@Localizer[nameof(AppStrings.Submit)]</span>
            }
        </BitButton>
    </EditForm>
</div>