@page "/privacy"

@inherits AppComponentBase;

<PageTitle>@TodoStrings.ResourceManager.Translate(TodoStrings.PrivacyPolicyTitle)</PageTitle>

<div class="page-container">
    <div class="page-content">
        <section class="main-section">
            <h1 class="main-section-title">@TodoStrings.ResourceManager.Translate(TodoStrings.PrivacyPolicyTitle)</h1>
            <div class="section-desc">
                @TodoStrings.ResourceManager.Translate(TodoStrings.PrivacyPolicySectionMessage)
            </div>
        </section>
        <section class="sub-section">
            <h2 class="sub-section-title">@TodoStrings.ResourceManager.Translate(TodoStrings.PrivacyPolicyTitle)</h2>
            <div class="section-desc">
                @TodoStrings.ResourceManager.Translate(TodoStrings.PrivacyPolicyPageMessage)
            </div>
        </section>
    </div>
</div>
