@page "/privacy"

@inherits AppComponentBase;

<PageTitle>@AppStrings.PrivacyPolicyTitle</PageTitle>

<div class="page-container">
    <div class="page-content">
        <section class="main-section">
            <h1 class="main-section-title">@AppStrings.PrivacyPolicyTitle</h1>
            <div class="section-desc">
                @AppStrings.PrivacyPolicySectionMessage
            </div>
        </section>
        <section class="sub-section">
            <h2 class="sub-section-title">@AppStrings.PrivacyPolicyTitle</h2>
            <div class="section-desc">
                @AppStrings.PrivacyPolicyPageMessage
            </div>
        </section>
    </div>
</div>
