@page "/reset-password"

@inherits AppComponentBase;

<PageTitle>@TodoStrings.ResourceManager.Translate(TodoStrings.ResetPasswordTitle)</PageTitle>

<div class="page-container">
    <EditForm Model="ResetPasswordModel" OnValidSubmit="WrapHandled(Submit)" class="form--white">

        <DataAnnotationsValidator />

        @if (string.IsNullOrEmpty(ResetPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@ResetPasswordMessageType"
                       OnDismiss="() => ResetPasswordMessage = null">
                @ResetPasswordMessage
            </BitMessageBar>
        }
        <h1 class="form-title">@TodoStrings.ResourceManager.Translate(TodoStrings.ResetPasswordTitle)</h1>
        <div class="form-input-container">
            <BitTextField Label="@TodoStrings.ResourceManager.Translate(TodoStrings.NewPassword)"
                          @bind-Value="ResetPasswordModel.Password"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="@TodoStrings.ResourceManager.Translate(TodoStrings.NewPassword)" />
            <ValidationMessage For="@(() => ResetPasswordModel.Password)" />
        </div>
        <div class="form-input-container">
            <BitTextField Label="@TodoStrings.ResourceManager.Translate(TodoStrings.ConfirmNewPassword)"
                          @bind-Value="ResetPasswordModel.ConfirmPassword"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="@TodoStrings.ResourceManager.Translate(TodoStrings.ConfirmNewPassword)" />
            <ValidationMessage For="@(() => ResetPasswordModel.ConfirmPassword)" />
        </div>
        <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   IsEnabled="IsSubmitButtonEnabled"
                   Title="@TodoStrings.ResourceManager.Translate(TodoStrings.Submit)"
                   AriaLabel="@TodoStrings.ResourceManager.Translate(TodoStrings.Submit)"
                   ButtonType="BitButtonType.Submit">
            @if (IsLoading)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>@TodoStrings.ResourceManager.Translate(TodoStrings.ResetPassword)</span>
            }
        </BitButton>
    </EditForm>
</div>