@page "/sign-up"

@inherits AppComponentBase;

<PageTitle>@TodoStrings.ResourceManager.Translate(TodoStrings.SingUpTitle)</PageTitle>

<div class="page-container">
    <EditForm Model="SignUpModel" OnValidSubmit="WrapHandled(DoSignUp)" class="form--white">

        <DataAnnotationsValidator />

        @if (string.IsNullOrEmpty(SignUpMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@SignUpMessageType"
                       OnDismiss="() => SignUpMessage = null">
                @SignUpMessage
            </BitMessageBar>
        }
        @if (IsSignedUp)
        {
            <h1 class="form-title">
                @TodoStrings.ResourceManager.Translate(TodoStrings.ConfirmEmailTitle)
            </h1>
            <div class="form-description">
                @TodoStrings.ResourceManager.Translate(TodoStrings.ConfirmEmailMessage)
            </div>
            <div class="form-link">
                @TodoStrings.ResourceManager.Translate(TodoStrings.NotReceivedConfirmationEmailMessage)
            </div>
            <div class="form-note">
                @TodoStrings.ResourceManager.Translate(TodoStrings.CheckSpamMailMessage)
                <br />
                - @TodoStrings.ResourceManager.Translate(TodoStrings.Or) -
            </div>
            <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   Title="@TodoStrings.ResourceManager.Translate(TodoStrings.ResendEmail)"
                   AriaLabel="@TodoStrings.ResourceManager.Translate(TodoStrings.ResendEmail)"
                   OnClick="WrapHandled(ResendLink)">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>@TodoStrings.ResourceManager.Translate(TodoStrings.ResendEmail)</span>
                }
            </BitButton>
        }
        else
        {
            <h1 class="form-title">
                @TodoStrings.ResourceManager.Translate(TodoStrings.SignUp)
            </h1>
            <div class="form-input-container">
                <BitTextField Label="@TodoStrings.ResourceManager.Translate(TodoStrings.Email)"
                          Placeholder="@TodoStrings.ResourceManager.Translate(TodoStrings.Email)"
                          Type="BitTextFieldType.Email"
                          @bind-Value="SignUpModel.UserName" />
                <ValidationMessage For="@(() => SignUpModel.UserName)" />
            </div>
            <div class="form-input-container">
                <BitTextField Label="@TodoStrings.ResourceManager.Translate(TodoStrings.Password)"
                          @bind-Value="SignUpModel.Password"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="@TodoStrings.ResourceManager.Translate(TodoStrings.Password)" />
                <ValidationMessage For="@(() => SignUpModel.Password)" />
            </div>

            <div class="form-input-container form-input-container--no-margin">
                <BitCheckbox Class="form-checkbox" @bind-Value="SignUpModel.IsAcceptPrivacy">
                    @TodoStrings.ResourceManager.Translate(TodoStrings.PrivacyPolicyAgreementMessage) <BitLink Href="/privacy" Target="_blank">@TodoStrings.ResourceManager.Translate(TodoStrings.PrivacyPolicyTitle)</BitLink>
                </BitCheckbox>
            </div>

            <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   IsEnabled="IsSubmitButtonEnabled"
                   Title="@TodoStrings.ResourceManager.Translate(TodoStrings.SignUp)"
                   AriaLabel="@TodoStrings.ResourceManager.Translate(TodoStrings.SignUp)"
                   ButtonType="BitButtonType.Submit">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>@TodoStrings.ResourceManager.Translate(TodoStrings.SignUp)</span>
                }
            </BitButton>

            <div>
                @TodoStrings.ResourceManager.Translate(TodoStrings.AlreadyHaveAccountMessage) <BitLink Href="/sign-in">@TodoStrings.ResourceManager.Translate(TodoStrings.SignIn)</BitLink>
            </div>
        }

    </EditForm>
</div>