@page "/sign-in"

@inherits AppComponentBase;

<PageTitle>@Localizer[nameof(AppStrings.SignInTitle)]</PageTitle>

<div class="page-container">
    <EditForm OnValidSubmit="WrapHandled(DoSignIn)" class="form--white" Model="SignInModel">

        <AppDataAnnotationsValidator />

        @if (string.IsNullOrEmpty(SignInMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@SignInMessageType"
                       OnDismiss="() => SignInMessage = null">
                @SignInMessage
            </BitMessageBar>
        }
        <h1 class="form-title">@Localizer[nameof(AppStrings.SignInTitle)]</h1>
        <div class="form-input-container">
            <BitTextField Label="@Localizer[nameof(AppStrings.Email)]"
                          Placeholder="@Localizer[nameof(AppStrings.Email)]"
                          Type="BitTextFieldType.Email"
                          @bind-Value="SignInModel.UserName" />
            <ValidationMessage For="@(() => SignInModel.UserName)" />
        </div>
        <div class="form-input-container">
            <BitTextField Label="@Localizer[nameof(AppStrings.Password)]"
                          @bind-Value="SignInModel.Password"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="@Localizer[nameof(AppStrings.Password)]" />
            <ValidationMessage For="@(() => SignInModel.Password)" />
        </div>
        <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   IsEnabled="IsSubmitButtonEnabled"
                   Title="@Localizer[nameof(AppStrings.SignIn)]"
                   AriaLabel="@Localizer[nameof(AppStrings.SignIn)]"
                   ButtonType="BitButtonType.Submit">
            @if (IsLoading)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>@Localizer[nameof(AppStrings.SignIn)]</span>
            }
        </BitButton>
        <div class="form-forgot-password">
            <BitLink Href="/forgot-password">@Localizer[nameof(AppStrings.ForgotPasswordLink)]</BitLink>
        </div>
        <div>
            @Localizer[nameof(AppStrings.DontHaveAccountMessage)] <BitLink Href="/sign-up">@Localizer[nameof(AppStrings.SignUp)]</BitLink>
        </div>
    </EditForm>
</div>