@page "/sign-in"

@inherits AppComponentBase;

<PageTitle>@TodoStrings.ResourceManager.Translate(TodoStrings.SignInTitle)</PageTitle>

<div class="page-container">
    <EditForm Model="SignInModel" OnValidSubmit="WrapHandled(DoSignIn)" class="form--white">

        <DataAnnotationsValidator />

        @if (string.IsNullOrEmpty(SignInMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@SignInMessageType"
                       OnDismiss="() => SignInMessage = null">
                @SignInMessage
            </BitMessageBar>
        }
        <h1 class="form-title">@TodoStrings.ResourceManager.Translate(TodoStrings.SignInTitle)</h1>
        <div class="form-input-container">
            <BitTextField Label="@TodoStrings.ResourceManager.Translate(TodoStrings.Email)"
                          Placeholder="@TodoStrings.ResourceManager.Translate(TodoStrings.Email)"
                          Type="BitTextFieldType.Email"
                          @bind-Value="SignInModel.UserName" />
            <ValidationMessage For="@(() => SignInModel.UserName)" />
        </div>
        <div class="form-input-container">
            <BitTextField Label="@TodoStrings.ResourceManager.Translate(TodoStrings.Password)"
                          @bind-Value="SignInModel.Password"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="@TodoStrings.ResourceManager.Translate(TodoStrings.Password)" />
            <ValidationMessage For="@(() => SignInModel.Password)" />
        </div>
        <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   IsEnabled="IsSubmitButtonEnabled"
                   Title="@TodoStrings.ResourceManager.Translate(TodoStrings.SignIn)"
                   AriaLabel="@TodoStrings.ResourceManager.Translate(TodoStrings.SignIn)"
                   ButtonType="BitButtonType.Submit">
            @if (IsLoading)
            {
                <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
            }
            else
            {
                <span>@TodoStrings.ResourceManager.Translate(TodoStrings.SignIn)</span>
            }
        </BitButton>
        <div class="form-forgot-password">
            <BitLink Href="/forgot-password">@TodoStrings.ResourceManager.Translate(TodoStrings.ForgotPasswordLink)</BitLink>
        </div>
        <div>
            @TodoStrings.ResourceManager.Translate(TodoStrings.DontHaveAccountMessage) <BitLink Href="/sign-up">@TodoStrings.ResourceManager.Translate(TodoStrings.SignUp)</BitLink>
        </div>
    </EditForm>
</div>