@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue() && IsEnabled)
{
    <a @ref="RootElement"
       @attributes="HtmlAttributes"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       aria-label="@AriaLabel"
       aria-describedby="@AriaDescription"
       aria-hidden="@AriaHidden"
       href="@Href"
       target="@Target"
       title="@Title"
       tabindex="@_tabIndex">
        <span class="bit-cmb-tcn">
            @if (Text.HasValue())
            {
                <span class="bit-cmb-prt">
                    @Text
                </span>
            }
            @if (SecondaryText.HasValue())
            {
                <span class="bit-cmb-sct">
                    @SecondaryText
                </span>
            }
        </span>
    </a>
}
else
{
    <button @ref="RootElement"
            @attributes="HtmlAttributes"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            aria-label="@AriaLabel"
            aria-describedby="@AriaDescription"
            aria-hidden="@AriaHidden"
            tabindex="@_tabIndex"
            type="@ButtonType?.GetValue()"
            title="@Title"
            @onclick="HandleOnClick">
        <span class="bit-cmb-tcn">
            @if (Text.HasValue())
            {
                <span class="bit-cmb-prt">
                    @Text
                </span>
            }
            @if (SecondaryText.HasValue())
            {
                <span class="bit-cmb-sct">
                    @SecondaryText
                </span>
            }
        </span>
    </button>
}