@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue() && IsEnabled)
{
    <a @ref="RootElement" @attributes="HtmlAttributes"
       id="@UniqueId"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       href="@Href"
       title="@Title"
       target="@Target"
       tabindex="@_tabIndex"
       aria-label="@AriaLabel"
       aria-hidden="@AriaHidden"
       aria-describedby="@AriaDescription">
        <span style="@ClassStyles?.Container?.Style" class="bit-cmb-tcn @ClassStyles?.Container?.Class">

            <span style="@ClassStyles?.Primary?.Style" class="bit-cmb-prt @ClassStyles?.Primary?.Class">@(PrimaryTemplate ?? ChildContent)</span>

            @if (SecondaryTemplate is not null)
            {
                @SecondaryTemplate
            }
            else
            {
                <span style="@ClassStyles?.Secondary?.Style" class="bit-cmb-sct @ClassStyles?.Secondary?.Class">@SecondaryText</span>
            }
        </span>
    </a>
}
else
{
    <button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
            id="@UniqueId"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            title="@Title"
            tabindex="@_tabIndex"
            type="@_buttonType.GetValue()"
            aria-label="@AriaLabel"
            aria-hidden="@AriaHidden"
            aria-describedby="@AriaDescription">
        <span style="@ClassStyles?.Container?.Style" class="bit-cmb-tcn @ClassStyles?.Container?.Class">
            <span style="@ClassStyles?.Primary?.Style" class="bit-cmb-prt @ClassStyles?.Primary?.Class">@(PrimaryTemplate ?? ChildContent)</span>
            @if (SecondaryTemplate is not null)
            {
                @SecondaryTemplate
            }
            else
            {
                <span style="@ClassStyles?.Secondary?.Style" class="bit-cmb-sct @ClassStyles?.Secondary?.Class">@SecondaryText</span>
            }
        </span>
    </button>
}