@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue() && IsEnabled)
{
    <a @ref="RootElement" @attributes="HtmlAttributes"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       href="@Href"
       title="@Title"
       target="@Target"
       tabindex="@_tabIndex"
       aria-label="@AriaLabel"
       aria-hidden="@AriaHidden"
       aria-describedby="@AriaDescription">
        <span class="bit-cmb-tcn">
            @if (Text.HasValue())
            {
                <span class="bit-cmb-prt">@Text</span>
            }

            @if (SecondaryText.HasValue())
            {
                <span class="bit-cmb-sct">@SecondaryText</span>
            }
        </span>
    </a>
}
else
{
    <button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            title="@Title"
            tabindex="@_tabIndex"
            type="@_buttonType.GetValue()"
            aria-label="@AriaLabel"
            aria-hidden="@AriaHidden"
            aria-describedby="@AriaDescription">
        <span class="bit-cmb-tcn">
            @if (Text.HasValue())
            {
                <span class="bit-cmb-prt">@Text</span>
            }

            @if (SecondaryText.HasValue())
            {
                <span class="bit-cmb-sct">@SecondaryText</span>
            }
        </span>
    </button>
}