@namespace Bit.BlazorUI
@inherits BitComponentBase

@if (Href.HasValue() && IsEnabled)
{
    <a @ref="RootElement" @attributes="HtmlAttributes"
       id="@_Id"
       style="@StyleBuilder.Value"
       class="@ClassBuilder.Value"
       dir="@Dir?.ToString().ToLower()"
       href="@Href"
       title="@Title"
       target="@Target"
       tabindex="@_tabIndex"
       aria-label="@AriaLabel"
       aria-hidden="@AriaHidden"
       aria-describedby="@AriaDescription">
        @if (IconName.HasValue())
        {
            <i style="@Styles?.Icon" class="bit-cmb-icn bit-icon bit-icon--@IconName @Classes?.Icon" />
        }
        <span style="@Styles?.Container" class="bit-cmb-tcn @Classes?.Container">
            <span style="@Styles?.Primary" class="bit-cmb-prt @Classes?.Primary">
                @(PrimaryTemplate ?? ChildContent)
            </span>
            @if (SecondaryTemplate is not null)
            {
                @SecondaryTemplate
            }
            else
            {
                <span style="@Styles?.Secondary" class="bit-cmb-sct @Classes?.Secondary">@SecondaryText</span>
            }
        </span>
    </a>
}
else
{
    <button @ref="RootElement" @attributes="HtmlAttributes" @onclick="HandleOnClick"
            id="@_Id"
            style="@StyleBuilder.Value"
            class="@ClassBuilder.Value"
            dir="@Dir?.ToString().ToLower()"
            type="@_buttonType.GetValue()"
            title="@Title"
            tabindex="@_tabIndex"
            aria-label="@AriaLabel"
            aria-hidden="@AriaHidden"
            aria-describedby="@AriaDescription">
        @if (IconName.HasValue())
        {
            <i style="@Styles?.Icon" class="bit-cmb-icn bit-icon bit-icon--@IconName @Classes?.Icon" />
        }
        <span style="@Styles?.Container" class="bit-cmb-tcn @Classes?.Container">
            <span style="@Styles?.Primary" class="bit-cmb-prt @Classes?.Primary">
                @(PrimaryTemplate ?? ChildContent)
            </span>
            @if (SecondaryTemplate is not null)
            {
                @SecondaryTemplate
            }
            else
            {
                <span style="@Styles?.Secondary" class="bit-cmb-sct @Classes?.Secondary">@SecondaryText</span>
            }
        </span>
    </button>
}