@page "/components/nav"

<PageOutlet Url="components/nav"
            Title="Nav"
            Description="nav component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="Nav"
                   ComponentDescription="A navigation pane (Nav) provides links to the main areas of an app or site."
                   ComponentParameters="componentParameters"
                   ComponentSubClasses="componentSubClasses"
                   ComponentSubEnums="componentSubEnums"
                   Notes="The BitNav is a Multi-API component which can accept the list of Items in 3 different ways: BitNavItem class, a custom Generic class, and BitNavOption component.">
        <BitPivot Classes="@(new() { Header = "pivot-sticky-header" })">
            <BitPivotItem HeaderText="Item">
                <ComponentExampleBox Title="Basic" RazorCode="@example1NavItemRazorCode" CsharpCode="@example1NavItemCsharpCode" Id="example1">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitNav Items="BitPlatformNavMenu" />
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Grouped" RazorCode="@example2NavItemRazorCode" CsharpCode="@example2NavItemCsharpCode" Id="example2">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitNav Items="CarNavMenu" RenderType="BitNavRenderType.Grouped" />
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Manual Mode" RazorCode="@example3NavItemRazorCode" CsharpCode="@example3NavItemCsharpCode" Id="example3">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Basic</BitLabel>
                                <BitNav Items="FoodNavMenu"
                                        DefaultSelectedItem="FoodNavMenu[0].ChildItems[2]"
                                        Mode="BitNavMode.Manual" />
                            </div>

                            <br />
                            <br />
                            <br />

                            <div class="margin-top">
                                <BitLabel>Two-Way Bind</BitLabel>

                                <BitNav @bind-SelectedItem="SelectedItemNav"
                                        Items="FoodNavMenu"
                                        Mode="BitNavMode.Manual"
                                        OnSelectItem="(BitNavItem item) => SelectedItemText = FoodMenuDropdownItems.FirstOrDefault(i => i.Text == item.Text)?.Text" />

                                <BitDropdown @bind-Value="SelectedItemText"
                                             Label="Select Item"
                                             Items="FoodMenuDropdownItems"
                                             OnSelectItem="(BitDropdownItem<string> item) => SelectedItemNav = Flatten(FoodNavMenu).FirstOrDefault(i => i.Text == item.Value)" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Custom Templates" RazorCode="@example4NavItemRazorCode" CsharpCode="@example4NavItemCsharpCode" Id="example4">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Header Template (Grouped)</BitLabel>
                                <BitNav Items="CarNavMenu" RenderType="BitNavRenderType.Grouped">
                                    <HeaderTemplate Context="item">
                                        <div class="nav-custom-header">
                                            <BitIcon IconName="@BitIconName.FavoriteStarFill" />
                                            <span>@item.Text</span>
                                        </div>
                                    </HeaderTemplate>
                                </BitNav>
                            </div>

                            <br />
                            <br />
                            <br />

                            <div class="margin-top">
                                <BitLabel>Item Template</BitLabel>
                                <BitNav Items="FoodNavMenu" Mode="BitNavMode.Manual">
                                    <ItemTemplate Context="item">
                                        <div class="nav-custom-item">
                                            <BitCheckbox />
                                            <BitIcon IconName="@item.IconName" />
                                            <span>@item.Text</span>
                                        </div>
                                    </ItemTemplate>
                                </BitNav>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Events" RazorCode="@example5NavItemRazorCode" CsharpCode="@example5NavItemCsharpCode" Id="example5">
                    <ExamplePreview>
                        <div class="events-example-box">
                            <BitNav Items="FoodNavMenu"
                                    Mode="BitNavMode.Manual"
                                    OnItemClick="(BitNavItem item) => ClickedItem = item"
                                    OnSelectItem="(BitNavItem item) => SelectedItem = item"
                                    OnItemToggle="(BitNavItem item) => ToggledItem = item" />

                            <div class="flex">
                                <span>Clicked Item: <b>@ClickedItem?.Text</b></span>
                                <span>Selected Item: <b>@SelectedItem?.Text</b></span>
                                <span>Toggled Item: <b>@(ToggledItem is null ? "N/A" : $"{ToggledItem.Text} ({(ToggledItem.IsExpanded ? "Expanded" : "Collapsed")})")</b></span>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Custom Styles" RazorCode="@example6NavItemRazorCode" CsharpCode="@example6NavItemCsharpCode" Id="example6">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitNav Items="CustomStyleNavMenu"
                                    Styles="@(new() { ItemContainer = "border: 1px solid green; margin: 2px;",
                                                      ToggleButton = "color: cyan;",
                                                      Item = "color: red;",
                                                      ItemIcon = "color: gold; margin-right: 15px;" })" />
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>
            </BitPivotItem>

            <BitPivotItem HeaderText="Custom">
                <ComponentExampleBox Title="Basic" RazorCode="@example1CustomItemRazorCode" CsharpCode="@example1CustomItemCsharpCode" Id="example1">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitNav Items="CustomBitPlatformNavMenu"
                                    NameSelectors="@(new() { IconName =  { Name = nameof(BitPlatformMenu.Icon) },
                                                             ChildItems =  { Name = nameof(BitPlatformMenu.Links) },
                                                             Description =  { Name = nameof(BitPlatformMenu.Comment) } })" />
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Grouped" RazorCode="@example2CustomItemRazorCode" CsharpCode="@example2CustomItemCsharpCode" Id="example2">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitNav Items="CustomCarNavMenu"
                                    RenderType="BitNavRenderType.Grouped"
                                    NameSelectors="@(new() { Text =  { Name = nameof(CarMenu.Name) },
                                                             Url =  { Name = nameof(CarMenu.PageUrl) },
                                                             Target =  { Name = nameof(CarMenu.UrlTarget) },
                                                             Title =  { Name = nameof(CarMenu.Tooltip) },
                                                             IsExpanded =  { Name = nameof(CarMenu.IsExpandedParent) },
                                                             CollapseAriaLabel =  { Name = nameof(CarMenu.CollapsedAriaLabel) },
                                                             ExpandAriaLabel =  { Name = nameof(CarMenu.ExpandedAriaLabel) },
                                                             ChildItems =  { Name = nameof(CarMenu.Links) },
                                                             Description =  { Name = nameof(CarMenu.Comment) } })" />
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Manual Mode" RazorCode="@example3CustomItemRazorCode" CsharpCode="@example3CustomItemCsharpCode" Id="example3">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Basic</BitLabel>
                                <BitNav Items="CustomFoodNavMenu"
                                        Mode="BitNavMode.Manual"
                                        DefaultSelectedItem="CustomFoodNavMenu[0].Childs[2]"
                                        NameSelectors="@(new() { Text =  { Selector = item => item.Name },
                                                                 IconName =  { Selector = item => item.Icon },
                                                                 ChildItems =  { Selector = item => item.Childs },
                                                                 Description =  { Selector = item => item.Comment } })" />
                            </div>

                            <br />
                            <br />
                            <br />

                            <div class="margin-top">
                                <BitLabel>Two-Way Bind</BitLabel>

                                <BitNav @bind-SelectedItem="CustomSelectedFood"
                                        Items="CustomFoodNavMenu"
                                        Mode="BitNavMode.Manual"
                                        DefaultSelectedItem="CustomFoodNavMenu[0].Childs[2]"
                                        NameSelectors="@(new() { Text =  { Selector = item => item.Name },
                                                                 IconName =  { Selector = item => item.Icon },
                                                                 ChildItems =  { Selector = item => item.Childs },
                                                                 Description =  { Selector = item => item.Comment } })"
                                        OnSelectItem="(FoodMenu item) => CustomSelectedFoodName = FoodMenuDropdownItems.Single(i => i.Text == item.Name).Text" />

                                <BitDropdown @bind-Value="CustomSelectedFoodName"
                                             Label="Select Item"
                                             Items="FoodMenuDropdownItems"
                                             OnSelectItem="(BitDropdownItem<string> item) => CustomSelectedFood = Flatten(CustomFoodNavMenu).Single(i => i.Name == item.Value)" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Custom Templates" RazorCode="@example4CustomItemRazorCode" CsharpCode="@example4CustomItemCsharpCode" Id="example4">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Header Template (Grouped)</BitLabel>
                                <BitNav Items="CustomCarNavMenu"
                                        RenderType="BitNavRenderType.Grouped"
                                        NameSelectors="@(new() { Text =  { Name = nameof(CarMenu.Name) },
                                                                 Url =  { Name = nameof(CarMenu.PageUrl) },
                                                                 Target =  { Name = nameof(CarMenu.UrlTarget) },
                                                                 Title =  { Name = nameof(CarMenu.Tooltip) },
                                                                 IsExpanded =  { Name = nameof(CarMenu.IsExpandedParent) },
                                                                 CollapseAriaLabel =  { Name = nameof(CarMenu.CollapsedAriaLabel) },
                                                                 ExpandAriaLabel =  { Name = nameof(CarMenu.ExpandedAriaLabel) },
                                                                 ChildItems =  { Name = nameof(CarMenu.Links) },
                                                                 Description =  { Name = nameof(CarMenu.Comment) } })">
                                    <HeaderTemplate Context="item">
                                        <div class="nav-custom-header">
                                            <BitIcon IconName="@BitIconName.FavoriteStarFill" />
                                            <span>@item.Name</span>
                                        </div>
                                    </HeaderTemplate>
                                </BitNav>
                            </div>

                            <br />
                            <br />
                            <br />

                            <div class="margin-top">
                                <BitLabel>Item Template</BitLabel>
                                <BitNav Items="CustomFoodNavMenu"
                                        Mode="BitNavMode.Manual"
                                        NameSelectors="@(new() { Text =  { Selector = item => item.Name },
                                                                 IconName =  { Selector = item => item.Icon },
                                                                 ChildItems =  { Selector = item => item.Childs },
                                                                 Description =  { Selector = item => item.Comment } })">
                                    <ItemTemplate Context="item">
                                        <div class="nav-custom-item">
                                            <BitCheckbox />
                                            <BitIcon IconName="@item.Icon" />
                                            <span>@item.Name</span>
                                        </div>
                                    </ItemTemplate>
                                </BitNav>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Events" RazorCode="@example5CustomItemRazorCode" CsharpCode="@example5CustomItemCsharpCode" Id="example5">
                    <ExamplePreview>
                        <div class="events-example-box">
                            <BitNav Items="CustomFoodNavMenu"
                                    Mode="BitNavMode.Manual"
                                    OnItemClick="(FoodMenu item) => CustomClickedItem = item"
                                    OnSelectItem="(FoodMenu item) => CustomSelectedItem = item"
                                    OnItemToggle="(FoodMenu item) => CustomToggledItem = item"
                                    NameSelectors="@(new() { Text =  { Selector = item => item.Name },
                                                             IconName =  { Selector = item => item.Icon },
                                                             ChildItems =  { Selector = item => item.Childs },
                                                             Description =  { Selector = item => item.Comment } })" />
                            <div class="flex">
                                <span>Clicked Item: <b>@CustomClickedItem?.Name</b></span>
                                <span>Selected Item: <b>@CustomSelectedItem?.Name</b></span>
                                <span>Toggled Item: <b>@(CustomToggledItem is null ? "N/A" : $"{CustomToggledItem.Name} ({(CustomToggledItem.IsExpanded ? "Expanded" : "Collapsed")})")</b></span>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Custom Styles" RazorCode="@example6CustomItemRazorCode" CsharpCode="@example6CustomItemCsharpCode" Id="example6">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitNav Items="CustomCustomStyleNavMenu"
                                    NameSelectors="@(new() { IconName =  { Name = nameof(BitPlatformMenu.Icon) },
                                                             ChildItems =  { Name = nameof(BitPlatformMenu.Links) },
                                                             Description =  { Name = nameof(BitPlatformMenu.Comment) } })"
                                    Styles="@(new() { ItemContainer = "border: 1px solid green; margin: 2px;",
                                                      ToggleButton = "color: cyan;",
                                                      Item = "color: red;",
                                                      ItemIcon = "color: gold; margin-right: 15px;" })" />
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>
            </BitPivotItem>

            <BitPivotItem HeaderText="Option">
                <ComponentExampleBox Title="Basic" RazorCode="@example1NavOptionRazorCode" Id="example1">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitNav TItem="BitNavOption">
                                <BitNavOption Text="bit platform"
                                              Description="the bit platform description"
                                              ExpandAriaLabel="bit platform Expanded"
                                              CollapseAriaLabel="bit platform Collapsed">
                                    <BitNavOption Text="Home" IconName="@BitIconName.Home" Url="https://bitplatform.dev/" Target="_blank" />
                                    <BitNavOption IsSeparator />
                                    <BitNavOption Text="Products & Services">
                                        <BitNavOption Text="Project Templates">
                                            <BitNavOption IconName="@BitIconName.ToDoLogoOutline" Text="Todo sample" Url="https://bitplatform.dev/templates/overview" Target="_blank" />
                                            <BitNavOption IconName="@BitIconName.LocalAdmin" Text="AdminPanel sample" Url="https://bitplatform.dev/templates/overview" Target="_blank" />
                                        </BitNavOption>
                                        <BitNavOption Text="BlazorUI" IconName="@BitIconName.F12DevTools" Url="https://bitplatform.dev/components" Target="_blank" />
                                        <BitNavOption Text="Cloud hosting solutions" IconName="@BitIconName.Cloud" IsEnabled="false" />
                                        <BitNavOption Text="Bit academy" IconName="@BitIconName.LearningTools" IsEnabled="false" />
                                    </BitNavOption>
                                    <BitNavOption Text="Pricing" IconName="@BitIconName.Money" Url="https://bitplatform.dev/pricing" Target="_blank" />
                                    <BitNavOption Text="About" IconName="@BitIconName.Info" Url="https://bitplatform.dev/about-us" Target="_blank" />
                                    <BitNavOption Text="Contact us" IconName="@BitIconName.Contact" Url="https://bitplatform.dev/contact-us" Target="_blank" />
                                </BitNavOption>
                                <BitNavOption IsSeparator>
                                    <Template>
                                        <div style="width:100%;height:0;border:2px dashed"></div>
                                    </Template>
                                </BitNavOption>
                                <BitNavOption Text="Community"
                                              ExpandAriaLabel="Community Expanded"
                                              CollapseAriaLabel="Community Collapsed">
                                    <BitNavOption Text="LinkedIn" IconName="@BitIconName.LinkedInLogo" Url="https://www.linkedin.com/company/bitplatformhq" Target="_blank" />
                                    <BitNavOption Text="Twitter" IconName="@BitIconName.Globe" Url="https://twitter.com/bitplatformhq" Target="_blank" />
                                    <BitNavOption Text="Github repo" IconName="@BitIconName.GitGraph" Url="https://github.com/bitfoundation/bitplatform" Target="_blank" />
                                </BitNavOption>

                                <BitNavOption Text="Iconography" IconName="@BitIconName.AppIconDefault" Url="/iconography" Target="_blank" />
                            </BitNav>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Grouped" RazorCode="@example2NavOptionRazorCode" Id="example2">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitNav TItem="BitNavOption" RenderType="BitNavRenderType.Grouped">
                                <BitNavOption Text="Mercedes-Benz"
                                              Description="Cars manufactured under the brand of Mercedes-Benz"
                                              ExpandAriaLabel="Mercedes-Benz Expanded"
                                              CollapseAriaLabel="Mercedes-Benz Collapsed"
                                              Title="Mercedes-Benz Car Models"
                                              IsExpanded="true">
                                    <BitNavOption Text="SUVs">
                                        <BitNavOption Text="GLA" Url="https://www.mbusa.com/en/vehicles/class/gla/suv" Target="_blank" />
                                        <BitNavOption Text="GLB" Url="https://www.mbusa.com/en/vehicles/class/glb/suv" Target="_blank" />
                                        <BitNavOption Text="GLC" Url="https://www.mbusa.com/en/vehicles/class/glc/suv" Target="_blank" />
                                    </BitNavOption>
                                    <BitNavOption Text="Sedans & Wagons">
                                        <BitNavOption Text="A Class" Url="https://www.mbusa.com/en/vehicles/class/a-class/sedan" Target="_blank" />
                                        <BitNavOption Text="C Class" Url="https://www.mbusa.com/en/vehicles/class/c-class/sedan" Target="_blank" />
                                        <BitNavOption Text="E Class" Url="https://www.mbusa.com/en/vehicles/class/e-class/sedan" Target="_blank" />
                                    </BitNavOption>
                                    <BitNavOption Text="Coupes">
                                        <BitNavOption Text="CLA Coupe" Url="https://www.mbusa.com/en/vehicles/class/cla/coupe" Target="_blank" />
                                        <BitNavOption Text="C Class Coupe" Url="https://www.mbusa.com/en/vehicles/class/c-class/coupe" Target="_blank" />
                                        <BitNavOption Text="E Class Coupe" Url="https://www.mbusa.com/en/vehicles/class/e-class/coupe" Target="_blank" />
                                    </BitNavOption>
                                </BitNavOption>
                                <BitNavOption Text="Tesla"
                                              ExpandAriaLabel="Tesla Expanded"
                                              CollapseAriaLabel="Tesla Collapsed"
                                              Title="Tesla Car Models">
                                    <BitNavOption Text="Model S" Url="https://www.tesla.com/models" Target="_blank" />
                                    <BitNavOption Text="Model X" Url="https://www.tesla.com/modelx" Target="_blank" />
                                    <BitNavOption Text="Model Y" Url="https://www.tesla.com/modely" Target="_blank" />
                                </BitNavOption>
                            </BitNav>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Manual Mode" RazorCode="@example3NavOptionRazorCode" CsharpCode="@example3NavOptionCsharpCode" Id="example3">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Basic</BitLabel>
                                <BitNav TItem="BitNavOption" Mode="BitNavMode.Manual">
                                    <BitNavOption Text="Fast foods" Description="List of fast foods"
                                                  IconName="@BitIconName.HeartBroken" IsExpanded="true">
                                        <BitNavOption Text="Burgers" Description="List of burgers">
                                            <BitNavOption Text="Beef Burger" Key="Beef Burger" />
                                            <BitNavOption Text="Veggie Burger" Key="Veggie Burger" />
                                            <BitNavOption Text="Bison Burger" Key="Bison Burger" />
                                            <BitNavOption Text="Wild Salmon Burger" Key="Wild Salmon Burger" />
                                        </BitNavOption>
                                        <BitNavOption Text="Pizza">
                                            <BitNavOption Text="Cheese Pizza" Key="Cheese Pizza" />
                                            <BitNavOption Text="Veggie Pizza" Key="Veggie Pizza" />
                                            <BitNavOption Text="Pepperoni Pizza" Key="Pepperoni Pizza" />
                                            <BitNavOption Text="Meat Pizza" Key="Meat Pizza" />
                                        </BitNavOption>
                                        <BitNavOption Text="French Fries" Key="French Fries" />
                                    </BitNavOption>
                                    <BitNavOption Text="Fruits" IconName="@BitIconName.Health">
                                        <BitNavOption Text="Apple" Key="Apple" />
                                        <BitNavOption Text="Orange" Key="Orange" />
                                        <BitNavOption Text="Benana" Key="Benana" />
                                    </BitNavOption>
                                    <BitNavOption Text="Ice Cream" Key="Ice Cream" />
                                    <BitNavOption Text="Cookie" Key="Cookie" />
                                </BitNav>
                            </div>

                            <br />
                            <br />
                            <br />

                            <div class="margin-top">
                                <BitLabel>Two-Way Bind</BitLabel>
                                <BitNav TItem="BitNavOption" Mode="BitNavMode.Manual">
                                    <BitNavOption Text="Fast foods" Description="List of fast foods"
                                                  IconName="@BitIconName.HeartBroken" IsExpanded="true">
                                        <BitNavOption Text="Burgers" Description="List of burgers">
                                            <BitNavOption Text="Beef Burger" Key="Beef Burger" />
                                            <BitNavOption Text="Veggie Burger" Key="Veggie Burger" />
                                            <BitNavOption Text="Bison Burger" Key="Bison Burger" />
                                            <BitNavOption Text="Wild Salmon Burger" Key="Wild Salmon Burger" />
                                        </BitNavOption>
                                        <BitNavOption Text="Pizza">
                                            <BitNavOption Text="Cheese Pizza" Key="Cheese Pizza" />
                                            <BitNavOption Text="Veggie Pizza" Key="Veggie Pizza" />
                                            <BitNavOption Text="Pepperoni Pizza" Key="Pepperoni Pizza" />
                                            <BitNavOption Text="Meat Pizza" Key="Meat Pizza" />
                                        </BitNavOption>
                                        <BitNavOption Text="French Fries" Key="French Fries" />
                                    </BitNavOption>
                                    <BitNavOption Text="Fruits" IconName="@BitIconName.Health">
                                        <BitNavOption Text="Aplle" Key="Aplle" />
                                        <BitNavOption Text="Orange" Key="Orange" />
                                        <BitNavOption Text="Benana" Key="Benana" />
                                    </BitNavOption>
                                    <BitNavOption Text="Ice Cream" Key="Ice Cream" />
                                    <BitNavOption Text="Cookie" Key="Cookie" />
                                </BitNav>

                                <BitDropdown @bind-Value="SelectedOptionKey"
                                             DefaultValue="@("French Fries")"
                                             Label="Pick one"
                                             Items="FoodMenuDropdownItems" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Custom Templates" RazorCode="@example4NavOptionRazorCode" Id="example4">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Header Template (Grouped)</BitLabel>
                                <BitNav TItem="BitNavOption" RenderType="BitNavRenderType.Grouped">
                                    <HeaderTemplate Context="item">
                                        <div class="nav-custom-header">
                                            <BitIcon IconName="@BitIconName.FavoriteStarFill" />
                                            <span>@item.Text</span>
                                        </div>
                                    </HeaderTemplate>
                                    <ChildContent>
                                        <BitNavOption Text="Mercedes-Benz"
                                                      ExpandAriaLabel="Mercedes-Benz Expanded"
                                                      CollapseAriaLabel="Mercedes-Benz Collapsed"
                                                      Title="Mercedes-Benz Car Models"
                                                      IsExpanded="true">
                                            <BitNavOption Text="SUVs">
                                                <BitNavOption Text="GLA" Url="https://www.mbusa.com/en/vehicles/class/gla/suv" Target="_blank" />
                                                <BitNavOption Text="GLB" Url="https://www.mbusa.com/en/vehicles/class/glb/suv" Target="_blank" />
                                                <BitNavOption Text="GLC" Url="https://www.mbusa.com/en/vehicles/class/glc/suv" Target="_blank" />
                                            </BitNavOption>
                                            <BitNavOption Text="Sedans & Wagons">
                                                <BitNavOption Text="A Class" Url="https://www.mbusa.com/en/vehicles/class/a-class/sedan" Target="_blank" />
                                                <BitNavOption Text="C Class" Url="https://www.mbusa.com/en/vehicles/class/c-class/sedan" Target="_blank" />
                                                <BitNavOption Text="E Class" Url="https://www.mbusa.com/en/vehicles/class/e-class/sedan" Target="_blank" />
                                            </BitNavOption>
                                            <BitNavOption Text="Coupes">
                                                <BitNavOption Text="CLA Coupe" Url="https://www.mbusa.com/en/vehicles/class/cla/coupe" Target="_blank" />
                                                <BitNavOption Text="C Class Coupe" Url="https://www.mbusa.com/en/vehicles/class/c-class/coupe" Target="_blank" />
                                                <BitNavOption Text="E Class Coupe" Url="https://www.mbusa.com/en/vehicles/class/e-class/coupe" Target="_blank" />
                                            </BitNavOption>
                                        </BitNavOption>
                                        <BitNavOption Text="Tesla"
                                                      ExpandAriaLabel="Tesla Expanded"
                                                      CollapseAriaLabel="Tesla Collapsed"
                                                      Title="Tesla Car Models">
                                            <BitNavOption Text="Model S" Url="https://www.tesla.com/models" Target="_blank" />
                                            <BitNavOption Text="Model X" Url="https://www.tesla.com/modelx" Target="_blank" />
                                            <BitNavOption Text="Model Y" Url="https://www.tesla.com/modely" Target="_blank" />
                                        </BitNavOption>
                                    </ChildContent>
                                </BitNav>
                            </div>

                            <br />
                            <br />
                            <br />

                            <div class="margin-top">
                                <BitLabel>Item Template</BitLabel>
                                <BitNav TItem="BitNavOption" Mode="BitNavMode.Manual">
                                    <ItemTemplate Context="option">
                                        <div class="nav-custom-item">
                                            <BitCheckbox />
                                            <BitIcon IconName="@option.IconName" />
                                            <span>@option.Text</span>
                                        </div>
                                    </ItemTemplate>
                                    <ChildContent>
                                        <BitNavOption Text="Fast foods" Description="List of fast foods"
                                                      IconName="@BitIconName.HeartBroken" IsExpanded="true">
                                            <BitNavOption Text="Burgers" Description="List of burgers">
                                                <BitNavOption Text="Beef Burger" />
                                                <BitNavOption Text="Veggie Burger" />
                                                <BitNavOption Text="Bison Burger" />
                                                <BitNavOption Text="Wild Salmon Burger" />
                                            </BitNavOption>
                                            <BitNavOption Text="Pizza">
                                                <BitNavOption Text="Cheese Pizza" />
                                                <BitNavOption Text="Veggie Pizza" />
                                                <BitNavOption Text="Pepperoni Pizza" />
                                                <BitNavOption Text="Meat Pizza" />
                                            </BitNavOption>
                                            <BitNavOption Text="French Fries" />
                                        </BitNavOption>
                                        <BitNavOption Text="Fruits" IconName="@BitIconName.Health">
                                            <BitNavOption Text="Aplle" />
                                            <BitNavOption Text="Orange" />
                                            <BitNavOption Text="Benana" />
                                        </BitNavOption>
                                        <BitNavOption Text="Ice Cream" />
                                        <BitNavOption Text="Cookie" />
                                    </ChildContent>
                                </BitNav>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Events" RazorCode="@example5NavOptionRazorCode" CsharpCode="@example5NavOptionCsharpCode" Id="example5">
                    <ExamplePreview>
                        <div class="events-example-box">
                            <BitNav Mode="BitNavMode.Manual"
                                    OnItemClick="(BitNavOption option) => ClickedOption = option"
                                    OnSelectItem="(BitNavOption option) => SelectedOption = option"
                                    OnItemToggle="(BitNavOption option) => ToggledOption = option">
                                <BitNavOption Text="Fast foods" Description="List of fast foods"
                                              IconName="@BitIconName.HeartBroken" IsExpanded="true">
                                    <BitNavOption Text="Burgers" Description="List of burgers">
                                        <BitNavOption Text="Beef Burger" Key="Beef Burger" />
                                        <BitNavOption Text="Veggie Burger" Key="Veggie Burger" />
                                        <BitNavOption Text="Bison Burger" Key="Bison Burger" />
                                        <BitNavOption Text="Wild Salmon Burger" Key="Wild Salmon Burger" />
                                    </BitNavOption>
                                    <BitNavOption Text="Pizza">
                                        <BitNavOption Text="Cheese Pizza" Key="Cheese Pizza" />
                                        <BitNavOption Text="Veggie Pizza" Key="Veggie Pizza" />
                                        <BitNavOption Text="Pepperoni Pizza" Key="Pepperoni Pizza" />
                                        <BitNavOption Text="Meat Pizza" Key="Meat Pizza" />
                                    </BitNavOption>
                                    <BitNavOption Text="French Fries" Key="French Fries" />
                                </BitNavOption>
                                <BitNavOption Text="Fruits"  IconName="@BitIconName.Health">
                                    <BitNavOption Text="Aplle" Key="Aplle" />
                                    <BitNavOption Text="Orange" Key="Orange" />
                                    <BitNavOption Text="Benana" Key="Benana" />
                                </BitNavOption>
                                <BitNavOption Text="Ice Cream" Key="Ice Cream" />
                                <BitNavOption Text="Cookie" Key="Cookie" />
                            </BitNav>

                            <div class="flex">
                                <span>Clicked Option: <b>@ClickedOption?.Text</b></span>
                                <span>Selected Option: <b>@SelectedOption?.Text</b></span>
                                <span>Toggled Option: <b>@(ToggledOption is null ? "N/A" : $"{ToggledOption.Text} ({(ToggledOption.IsExpanded ? "Expanded" : "Collapsed")})")</b></span>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Custom Styles" RazorCode="@example6NavOptionRazorCode" Id="example6">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitNav TItem="BitNavOption"
                                    Styles="@(new() { ItemContainer = "border: 1px solid green; margin: 2px;",
                                                      ToggleButton = "color: cyan;",
                                                      Item = "color: red;",
                                                      ItemIcon = "color: gold; margin-right: 15px;" })">
                                <BitNavOption Text="bit platform"
                                              ExpandAriaLabel="bit platform Expanded"
                                              CollapseAriaLabel="bit platform Collapsed">
                                    <BitNavOption Text="Home" IconName="@BitIconName.Home" Url="https://bitplatform.dev/" Target="_blank" />
                                    <BitNavOption Text="Products & Services">
                                        <BitNavOption Text="Project Templates">
                                            <BitNavOption IconName="@BitIconName.ToDoLogoOutline" Text="Todo sample" Url="https://bitplatform.dev/templates/overview" Target="_blank" />
                                            <BitNavOption IconName="@BitIconName.LocalAdmin" Text="AdminPanel sample" Url="https://bitplatform.dev/templates/overview" Target="_blank" />
                                        </BitNavOption>
                                        <BitNavOption Text="BlazorUI" IconName="@BitIconName.F12DevTools" Url="https://bitplatform.dev/components" Target="_blank" />
                                        <BitNavOption Text="Cloud hosting solutions" IconName="@BitIconName.Cloud" IsEnabled="false" />
                                        <BitNavOption Text="Bit academy" IconName="@BitIconName.LearningTools" IsEnabled="false" />
                                    </BitNavOption>
                                    <BitNavOption Text="Pricing" IconName="@BitIconName.Money" Url="https://bitplatform.dev/pricing" Target="_blank" />
                                    <BitNavOption Text="About" IconName="@BitIconName.Info" Url="https://bitplatform.dev/about-us" Target="_blank" />
                                    <BitNavOption Text="Contact us" IconName="@BitIconName.Contact" Url="https://bitplatform.dev/contact-us" Target="_blank" />
                                </BitNavOption>

                                <BitNavOption Text="Community"
                                              ExpandAriaLabel="Community Expanded"
                                              CollapseAriaLabel="Community Collapsed">
                                    <BitNavOption Text="LinkedIn" IconName="@BitIconName.LinkedInLogo" Url="https://www.linkedin.com/company/bitplatformhq" Target="_blank" />
                                    <BitNavOption Text="Twitter" IconName="@BitIconName.Globe" Url="https://twitter.com/bitplatformhq" Target="_blank" />
                                    <BitNavOption Text="GitHub repo" IconName="@BitIconName.GitGraph" Url="https://github.com/bitfoundation/bitplatform" Target="_blank" />
                                </BitNavOption>

                                <BitNavOption Text="Iconography" IconName="@BitIconName.AppIconDefault" Url="/iconography" Target="_blank" />
                            </BitNav>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>
            </BitPivotItem>
        </BitPivot>
    </ComponentDemo>
</div>

@code {
    // Basic
    private static readonly List<BitNavItem> BitPlatformNavMenu = new()
    {
        new()
        {
            Text = "bit platform",
            Description = "the bit platform description",
            ChildItems = new()
            {
                new() { Text = "Home", IconName = BitIconName.Home, Url = "https://bitplatform.dev/" },
                new() { IsSeparator = true },
                new()
                {
                    Text = "Products & Services",
                    ChildItems = new()
                    {
                        new()
                        {
                            Text = "Project Templates",
                            ChildItems = new()
                            {
                                new() { Text = "Todo sample", IconName = BitIconName.ToDoLogoOutline, Url = "https://bitplatform.dev/templates/overview" },
                                new() { Text = "AdminPanel sample", IconName = BitIconName.LocalAdmin, Url = "https://bitplatform.dev/templates/overview" },
                            }
                        },
                        new() { Text = "BlazorUI", IconName = BitIconName.F12DevTools, Url = "https://bitplatform.dev/components" },
                        new() { Text = "Cloud hosting solutions", IconName = BitIconName.Cloud, Url = "https://bitplatform.dev/#", IsEnabled = false },
                        new() { Text = "Bit academy", IconName = BitIconName.LearningTools, Url = "https://bitplatform.dev/#", IsEnabled = false },
                    }
                },
                new() { Text = "Pricing", IconName = BitIconName.Money, Url = "https://bitplatform.dev/pricing" },
                new() { Text = "About", IconName = BitIconName.Info, Url = "https://bitplatform.dev/about-us" },
                new() { Text = "Contact us", IconName = BitIconName.Contact, Url = "https://bitplatform.dev/contact-us" },
            },
        },
        new()
        {
            IsSeparator = true,
            Template = (BitNavItem item) => @<div style="width:100%;height:0;border:2px dashed"></div>
        },
        new()
        {
            Text = "Community",
            ChildItems = new()
            {
                new() { Text = "LinkedIn", IconName = BitIconName.LinkedInLogo , Url = "https://www.linkedin.com/company/bitplatformhq" },
                new() { Text = "Twitter", IconName = BitIconName.Globe , Url = "https://twitter.com/bitplatformhq" },
                new() { Text = "GitHub repo", IconName = BitIconName.GitGraph , Url = "https://github.com/bitfoundation/bitplatform" },
            }
        },
        new() { Text = "Iconography", IconName = BitIconName.AppIconDefault, Url = "/iconography" },
    };
    // Grouped
    private static readonly List<BitNavItem> CarNavMenu = new()
    {
        new()
        {
            Text = "Mercedes-Benz",
            ExpandAriaLabel = "Mercedes-Benz Expanded",
            CollapseAriaLabel = "Mercedes-Benz Collapsed",
            Title = "Mercedes-Benz Car Models",
            IsExpanded = true,
            Description = "Cars manufactured under the brand of Mercedes-Benz",
            ChildItems = new()
            {
                new()
                {
                    Text = "SUVs",
                    ChildItems = new()
                    {
                        new() { Text = "GLA", Url = "https://www.mbusa.com/en/vehicles/class/gla/suv", Target = "_blank" },
                        new() { Text = "GLB", Url = "https://www.mbusa.com/en/vehicles/class/glb/suv", Target = "_blank" },
                        new() { Text = "GLC", Url = "https://www.mbusa.com/en/vehicles/class/glc/suv", Target = "_blank" },
                    }
                },
                new()
                {
                    Text = "Sedans & Wagons",
                    ChildItems = new()
                    {
                        new() { Text = "A Class", Url = "https://www.mbusa.com/en/vehicles/class/a-class/sedan", Target = "_blank" },
                        new() { Text = "C Class", Url = "https://www.mbusa.com/en/vehicles/class/c-class/sedan", Target = "_blank" },
                        new() { Text = "E Class", Url = "https://www.mbusa.com/en/vehicles/class/e-class/sedan", Target = "_blank" },
                    }
                },
                new()
                {
                    Text = "Coupes",
                    ChildItems = new()
                    {
                        new() { Text = "CLA Coupe", Url = "https://www.mbusa.com/en/vehicles/class/cla/coupe", Target = "_blank" },
                        new() { Text = "C Class Coupe", Url = "https://www.mbusa.com/en/vehicles/class/c-class/coupe", Target = "_blank" },
                        new() { Text = "E Class Coupe", Url = "https://www.mbusa.com/en/vehicles/class/e-class/coupe", Target = "_blank" },
                    }
                },
            }
        },
        new()
        {
            Text = "Tesla",
            ExpandAriaLabel = "Tesla Expanded",
            CollapseAriaLabel= "Tesla Collapsed",
            Title = "Tesla Car Models",
            ChildItems = new List<BitNavItem>
            {
                new() { Text = "Model S", Url = "https://www.tesla.com/models", Target = "_blank" },
                new() { Text = "Model X", Url = "https://www.tesla.com/modelx", Target = "_blank" },
                new() { Text = "Model Y", Url = "https://www.tesla.com/modely", Target = "_blank" },
            }
        },
    };
    // Manual
    private static readonly List<BitNavItem> FoodNavMenu = new()
    {
        new()
        {
            Text = "Fast foods",
            IconName = BitIconName.HeartBroken,
            IsExpanded = true,
            Description = "List of fast foods",
            ChildItems = new()
            {
                new()
                {
                    Text = "Burgers",
                    Description = "List of burgers",
                    ChildItems = new()
                    {
                        new() { Text = "Beef Burger" },
                        new() { Text = "Veggie Burger" },
                        new() { Text = "Bison Burger" },
                        new() { Text = "Wild Salmon Burger" },
                    }
                },
                new()
                {
                    Text = "Pizza",
                    ChildItems = new()
                    {
                        new() { Text = "Cheese Pizza" },
                        new() { Text = "Veggie Pizza" },
                        new() { Text = "Pepperoni Pizza" },
                        new() { Text = "Meat Pizza" },
                    }
                },
                new() { Text = "French Fries" },
            }
        },
        new()
        {
            Text = "Fruits",
            IconName = BitIconName.Health,
            ChildItems = new()
            {
                new() { Text = "Apple" },
                new() { Text = "Orange" },
                new() { Text = "Banana" },
            }
        },
        new() { Text = "Ice Cream" },
        new() { Text = "Cookie" },
    };
    // Custom style
    private static readonly List<BitNavItem> CustomStyleNavMenu = new()
    {
        new()
        {
            Text = "bit platform",
            Description = "the bit platform description",
            ChildItems = new()
            {
                new() { Text = "Home", IconName = BitIconName.Home, Url = "https://bitplatform.dev/" },
                new()
                {
                    Text = "Products & Services",
                    ChildItems = new()
                    {
                        new()
                        {
                            Text = "Project Templates",
                            ChildItems = new()
                            {
                                new() { Text = "Todo sample", IconName = BitIconName.ToDoLogoOutline, Url = "https://bitplatform.dev/templates/overview" },
                                new() { Text = "AdminPanel sample", IconName = BitIconName.LocalAdmin, Url = "https://bitplatform.dev/templates/overview" },
                            }
                        },
                        new() { Text = "BlazorUI", IconName = BitIconName.F12DevTools, Url = "https://bitplatform.dev/components" },
                        new() { Text = "Cloud hosting solutions", IconName = BitIconName.Cloud, Url = "https://bitplatform.dev/#", IsEnabled = false },
                        new() { Text = "Bit academy", IconName = BitIconName.LearningTools, Url = "https://bitplatform.dev/#", IsEnabled = false },
                    }
                },
                new() { Text = "Pricing", IconName = BitIconName.Money, Url = "https://bitplatform.dev/pricing" },
                new() { Text = "About", IconName = BitIconName.Info, Url = "https://bitplatform.dev/about-us" },
                new() { Text = "Contact us", IconName = BitIconName.Contact, Url = "https://bitplatform.dev/contact-us" },
            },
        },
        new()
        {
            Text = "Community",
            ChildItems = new()
            {
                new() { Text = "LinkedIn", IconName = BitIconName.LinkedInLogo , Url = "https://www.linkedin.com/company/bitplatformhq" },
                new() { Text = "Twitter", IconName = BitIconName.Globe , Url = "https://twitter.com/bitplatformhq" },
                new() { Text = "GitHub repo", IconName = BitIconName.GitGraph , Url = "https://github.com/bitfoundation/bitplatform" },
            }
        },
        new() { Text = "Iconography", IconName = BitIconName.AppIconDefault, Url = "/iconography" },
    };

    private static List<BitNavItem> Flatten(IList<BitNavItem> e) => e.SelectMany(c => Flatten(c.ChildItems)).Concat(e).ToList();
    private BitNavItem? SelectedItemNav = FoodNavMenu[0].ChildItems[2];
    private string? SelectedItemText = FoodNavMenu[0].ChildItems[2].Text;

    private BitNavItem ClickedItem;
    private BitNavItem SelectedItem;
    private BitNavItem ToggledItem;


    // Basic
    private static readonly List<BitPlatformMenu> CustomBitPlatformNavMenu = new()
    {
        new()
        {
            Text = "bit platform",
            Comment = "the bit platform description",
            Links = new()
            {
                new() { Text = "Home", Icon = BitIconName.Home, Url = "https://bitplatform.dev/" },
                new() { IsSeparator = true },
                new()
                {
                    Text = "Products & Services",
                    Links = new()
                    {
                        new()
                        {
                            Text = "Project Templates",
                            Links = new()
                            {
                                new() { Text = "Todo sample", Icon = BitIconName.ToDoLogoOutline, Url = "https://bitplatform.dev/templates/overview" },
                                new() { Text = "AdminPanel sample", Icon = BitIconName.LocalAdmin, Url = "https://bitplatform.dev/templates/overview" },
                            }
                        },
                        new() { Text = "BlazorUI", Icon = BitIconName.F12DevTools, Url = "https://bitplatform.dev/components" },
                        new() { Text = "Cloud hosting solutions", Icon = BitIconName.Cloud, Url = "https://bitplatform.dev/#", IsEnabled = false },
                        new() { Text = "Bit academy", Icon = BitIconName.LearningTools, Url = "https://bitplatform.dev/#", IsEnabled = false },
                    }
                },
                new() { Text = "Pricing", Icon = BitIconName.Money, Url = "https://bitplatform.dev/pricing" },
                new() { Text = "About", Icon = BitIconName.Info, Url = "https://bitplatform.dev/about-us" },
                new() { Text = "Contact us", Icon = BitIconName.Contact, Url = "https://bitplatform.dev/contact-us" },
            },
        },
        new()
        {
            IsSeparator = true,
            Template = (BitPlatformMenu item) => @<div style="width:100%;height:0;border:2px dashed"></div>
        },
        new()
        {
            Text = "Community",
            Links = new()
            {
                new() { Text = "Linkedin", Icon = BitIconName.LinkedInLogo, Url = "https://www.linkedin.com/company/bitplatformhq" },
                new() { Text = "Twitter", Icon = BitIconName.Globe, Url = "https://twitter.com/bitplatformhq" },
                new() { Text = "Github repo", Icon = BitIconName.GitGraph, Url = "https://github.com/bitfoundation/bitplatform" },
            }
        },
        new() { Text = "Iconography", Icon = BitIconName.AppIconDefault, Url = "/iconography" },
    };
    // Grouped
    private static readonly List<CarMenu> CustomCarNavMenu = new()
    {
        new()
        {
            Name = "Mercedes-Benz",
            ExpandedAriaLabel = "Mercedes-Benz Expanded",
            CollapsedAriaLabel = "Mercedes-Benz Collapsed",
            Tooltip = "Mercedes-Benz Car Models",
            IsExpandedParent = true,
            Comment = "Cars manufactured under the brand of Mercedes-Benz",
            Links = new()
            {
                new()
                {
                    Name = "SUVs",
                    Links = new()
                    {
                        new() { Name = "GLA", PageUrl = "https://www.mbusa.com/en/vehicles/class/gla/suv", UrlTarget = "_blank" },
                        new() { Name = "GLB", PageUrl = "https://www.mbusa.com/en/vehicles/class/glb/suv", UrlTarget = "_blank" },
                        new() { Name = "GLC", PageUrl = "https://www.mbusa.com/en/vehicles/class/glc/suv", UrlTarget = "_blank" },
                    }
                },
                new()
                {
                    Name = "Sedans & Wagons",
                    Links = new()
                    {
                        new() { Name = "A Class", PageUrl = "https://www.mbusa.com/en/vehicles/class/a-class/sedan", UrlTarget = "_blank" },
                        new() { Name = "C Class", PageUrl = "https://www.mbusa.com/en/vehicles/class/c-class/sedan", UrlTarget = "_blank" },
                        new() { Name = "E Class", PageUrl = "https://www.mbusa.com/en/vehicles/class/e-class/sedan", UrlTarget = "_blank" },
                    }
                },
                new()
                {
                    Name = "Coupes",
                    Links = new()
                    {
                        new() { Name = "CLA Coupe", PageUrl = "https://www.mbusa.com/en/vehicles/class/cla/coupe", UrlTarget = "_blank" },
                        new() { Name = "C Class Coupe", PageUrl = "https://www.mbusa.com/en/vehicles/class/c-class/coupe", UrlTarget = "_blank" },
                        new() { Name = "E Class Coupe", PageUrl = "https://www.mbusa.com/en/vehicles/class/e-class/coupe", UrlTarget = "_blank" },
                    }
                },
            }
        },
        new()
        {
            Name = "Tesla",
            ExpandedAriaLabel = "Tesla Expanded",
            CollapsedAriaLabel = "Tesla Collapsed",
            Tooltip = "Tesla Car Models",
            Links = new()
            {
                new() { Name = "Model S", PageUrl = "https://www.tesla.com/models", UrlTarget = "_blank" },
                new() { Name = "Model X", PageUrl = "https://www.tesla.com/modelx", UrlTarget = "_blank" },
                new() { Name = "Model Y", PageUrl = "https://www.tesla.com/modely", UrlTarget = "_blank" },
            }
        },
    };
    // Manual
    private static readonly List<FoodMenu> CustomFoodNavMenu = new()
    {
        new()
        {
            Name = "Fast foods",
            Icon = BitIconName.HeartBroken,
            IsExpanded = true,
            Comment = "List of fast foods",
            Childs = new()
            {
                new()
                {
                    Name = "Burgers",
                    Comment = "List of burgers",
                    Childs = new()
                    {
                        new() { Name = "Beef Burger" },
                        new() { Name = "Veggie Burger" },
                        new() { Name = "Bison Burger" },
                        new() { Name = "Wild Salmon Burger" },
                    }
                },
                new()
                {
                    Name = "Pizza",
                    Childs = new()
                    {
                        new() { Name = "Cheese Pizza" },
                        new() { Name = "Veggie Pizza" },
                        new() { Name = "Pepperoni Pizza" },
                        new() { Name = "Meat Pizza" },
                    }
                },
                new() { Name = "French Fries" },
            }
        },
        new()
        {
            Name = "Fruits",
            Icon = BitIconName.Health,
            Childs = new()
            {
                new() { Name = "Apple" },
                new() { Name = "Orange" },
                new() { Name = "Banana" },
            }
        },
        new() { Name = "Ice Cream" },
        new() { Name = "Cookie" },
    };
    // Basic
    private static readonly List<BitPlatformMenu> CustomCustomStyleNavMenu = new()
    {
        new()
        {
            Text = "bit platform",
            Comment = "the bit platform description",
            Links = new()
            {
                new() { Text = "Home", Icon = BitIconName.Home, Url = "https://bitplatform.dev/" },
                new()
                {
                    Text = "Products & Services",
                    Links = new()
                    {
                        new()
                        {
                            Text = "Project Templates",
                            Links = new()
                            {
                                new() { Text = "Todo sample", Icon = BitIconName.ToDoLogoOutline, Url = "https://bitplatform.dev/templates/overview" },
                                new() { Text = "AdminPanel sample", Icon = BitIconName.LocalAdmin, Url = "https://bitplatform.dev/templates/overview" },
                            }
                        },
                        new() { Text = "BlazorUI", Icon = BitIconName.F12DevTools, Url = "https://bitplatform.dev/components" },
                        new() { Text = "Cloud hosting solutions", Icon = BitIconName.Cloud, Url = "https://bitplatform.dev/#", IsEnabled = false },
                        new() { Text = "Bit academy", Icon = BitIconName.LearningTools, Url = "https://bitplatform.dev/#", IsEnabled = false },
                    }
                },
                new() { Text = "Pricing", Icon = BitIconName.Money, Url = "https://bitplatform.dev/pricing" },
                new() { Text = "About", Icon = BitIconName.Info, Url = "https://bitplatform.dev/about-us" },
                new() { Text = "Contact us", Icon = BitIconName.Contact, Url = "https://bitplatform.dev/contact-us" },
            },
        },
        new()
        {
            Text = "Community",
            Links = new()
            {
                new() { Text = "Linkedin", Icon = BitIconName.LinkedInLogo, Url = "https://www.linkedin.com/company/bitplatformhq" },
                new() { Text = "Twitter", Icon = BitIconName.Globe, Url = "https://twitter.com/bitplatformhq" },
                new() { Text = "Github repo", Icon = BitIconName.GitGraph, Url = "https://github.com/bitfoundation/bitplatform" },
            }
        },
        new() { Text = "Iconography", Icon = BitIconName.AppIconDefault, Url = "/iconography" },
    };

    private static List<FoodMenu> Flatten(IList<FoodMenu> e) => e.SelectMany(c => Flatten(c.Childs)).Concat(e).ToList();
    private FoodMenu CustomSelectedFood = CustomFoodNavMenu[0].Childs[2];
    private string? CustomSelectedFoodName = CustomFoodNavMenu[0].Childs[2].Name;

    private FoodMenu CustomClickedItem;
    private FoodMenu CustomSelectedItem;
    private FoodMenu CustomToggledItem;


    private string? SelectedOptionKey;

    private BitNavOption ClickedOption;
    private BitNavOption SelectedOption;
    private BitNavOption ToggledOption;


    private static readonly List<BitDropdownItem<string>> FoodMenuDropdownItems = new()
    {
        new()
        {
            Text = "Beef Burger",
            Value = "Beef Burger",
        },
        new()
        {
            Text = "Veggie Burger",
            Value = "Veggie Burger",
        },
        new()
        {
            Text = "Bison Burger",
            Value = "Bison Burger",
        },
        new()
        {
            Text = "Wild Salmon Burger",
            Value = "Wild Salmon Burger",
        },
        new()
        {
            Text = "Cheese Pizza",
            Value = "Cheese Pizza",
        },
        new()
        {
            Text = "Veggie Pizza",
            Value = "Veggie Pizza",
        },
        new()
        {
            Text = "Pepperoni Pizza",
            Value = "Pepperoni Pizza",
        },
        new()
        {
            Text = "Meat Pizza",
            Value = "Meat Pizza",
        },
        new()
        {
            Text = "French Fries",
            Value = "French Fries",
        },
        new()
        {
            Text = "Apple",
            Value = "Apple",
        },
        new()
        {
            Text = "Orange",
            Value = "Orange",
        },
        new()
        {
            Text = "Banana",
            Value = "Banana",
        },
        new()
        {
            Text = "Ice Cream",
            Value = "Ice Cream",
        },
        new()
        {
            Text = "Cookie",
            Value = "Cookie",
        },
    };

}