<ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
    <ExamplePreview>
        <BitNavBar Items="basicNavBarItems" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Disabled" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
    <ExamplePreview>
        <div>Disabled:</div><br />
        <BitNavBar Items="basicNavBarItems" IsEnabled="false" />
        <br /><br /><br /><br />
        <div>Disabled item:</div><br />
        <BitNavBar Items="basicNavBarItemsDisabled" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Mode" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
    <ExamplePreview>
        <div>Defines the mode in which navigation is handled by the nav bar component.</div>
        <BitNavBar Mode="BitNavMode.Manual"
                   Items="basicNavBarItems"
                   DefaultSelectedItem="basicNavBarItems[0]" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Color" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
    <ExamplePreview>
        <div>Offering a range of specialized colors, providing visual cues for specific states within your application.</div>
        <br /><br />
        <div>Primary</div>
        <BitNavBar Color="BitColor.Primary" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>Secondary</div>
        <BitNavBar Color="BitColor.Secondary" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>Tertiary</div>
        <BitNavBar Color="BitColor.Tertiary" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>Info</div>
        <BitNavBar Color="BitColor.Info" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>Success</div>
        <BitNavBar Color="BitColor.Success" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>Warning</div>
        <BitNavBar Color="BitColor.Warning" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>SevereWarning</div>
        <BitNavBar Color="BitColor.SevereWarning" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>Error</div>
        <BitNavBar Color="BitColor.Error" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div style="background:var(--bit-clr-fg-sec);padding:1rem">
            <div style="color:var(--bit-clr-bg-pri)">PrimaryBackground</div>
            <BitNavBar Color="BitColor.PrimaryBackground" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
            <br /><br />
            <div style="color:var(--bit-clr-bg-pri)">SecondaryBackground</div>
            <BitNavBar Color="BitColor.SecondaryBackground" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
            <br /><br />
            <div style="color:var(--bit-clr-bg-pri)">TertiaryBackground</div>
            <BitNavBar Color="BitColor.TertiaryBackground" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        </div>
        <br /><br />
        <div>PrimaryForeground</div>
        <BitNavBar Color="BitColor.PrimaryForeground" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>SecondaryForeground</div>
        <BitNavBar Color="BitColor.SecondaryForeground" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>TertiaryForeground</div>
        <BitNavBar Color="BitColor.TertiaryForeground" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>PrimaryBorder</div>
        <BitNavBar Color="BitColor.PrimaryBorder" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>SecondaryBorder</div>
        <BitNavBar Color="BitColor.SecondaryBorder" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
        <br /><br />
        <div>TertiaryBorder</div>
        <BitNavBar Color="BitColor.TertiaryBorder" Items="basicNavBarItems" DefaultSelectedItem="basicNavBarItems[0]" Mode="BitNavMode.Manual" />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="IconOnly" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5">
    <ExamplePreview>
        <div>Only renders the icon of each navbar item.</div>
        <BitNavBar Items="basicNavBarItems" IconOnly />
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Templates" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
    <ExamplePreview>
        <div>Explore BitNavBar's customization capabilities.</div>
        <BitNavBar Items="basicNavBarItems">
            <ItemTemplate Context="item">
                <span style="font-size:12px">@item.Text</span>
                <i class="bit-icon bit-icon--@item.IconName" />
            </ItemTemplate>
        </BitNavBar>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="Style & Class" RazorCode="@example7RazorCode" CsharpCode="@example7CsharpCode" Id="example7">
    <ExamplePreview>
        <div>Empower customization by overriding default styles and classes, allowing tailored design modifications to suit specific UI requirements.</div>
        <br /><br />
        <div>
            <div>Component's style & class:</div>
            <BitNavBar Items="basicNavBarItems" Style="border-radius: 1rem; margin: 1rem; box-shadow: tomato 0 0 1rem;" />
            <br />
            <BitNavBar Items="basicNavBarItems" Class="custom-class" />
        </div>
        <br /><br />
        <div>
            <div>Item's style & class:</div>
            <BitNavBar Items="styleClassItems" />
        </div>
        <br /><br />
        <div>
            <div>Styles & Classes:</div>
            <BitNavBar Items="basicNavBarItems" Classes="@(new() { ItemIcon = "custom-item-ico", ItemText = "custom-item-txt" })" />
            <br />
            <BitNavBar Items="basicNavBarItems" Styles="@(new() { ItemIcon = "color: aqua;", ItemText = "color: tomato;" })" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>

<ComponentExampleBox Title="RTL" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
    <ExamplePreview>
        <div>Use BitNavBar in right-to-left (RTL).</div>
        <br />
        <div dir="rtl">
            <BitNavBar Dir="BitDir.Rtl" Items="rtlItems" />
        </div>
    </ExamplePreview>
</ComponentExampleBox>