@page "/components/compoundbutton"
@page "/components/compound-button"

<PageOutlet Url="components/compoundbutton"
            Title="CompoundButton"
            Description="CompoundButton component of the bit BlazorUI components" />

<ComponentDemo ComponentName="CompoundButton"
               ComponentDescription="CompoundButton is a button containing a secondary text describing the main action of the button."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div class="buttons-container">
                <BitCompoundButton SecondaryText="This is the secondary text">Compound Button</BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Variant" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <div>The CompoundButton offers three variants: Fill (default), Outline, and Text.</div>
            <br />
            <div class="buttons-container">
                <BitCompoundButton Variant="BitVariant.Fill" SecondaryText="This is the secondary text">Fill</BitCompoundButton>
                <BitCompoundButton Variant="BitVariant.Outline" SecondaryText="This is the secondary text">Outline</BitCompoundButton>
                <BitCompoundButton Variant="BitVariant.Text" SecondaryText="This is the secondary text">Text</BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Fill button" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <div>
                Fill buttons are attention-grabbing, featuring a filled appearance. They're designed for essential actions at the core of your application.
            </div>
            <br />
            <div class="buttons-container">
                <BitCompoundButton SecondaryText="This is the secondary text">Fill</BitCompoundButton>
                <BitCompoundButton SecondaryText="This is the secondary text" IsEnabled="false">Disabled</BitCompoundButton>
                <BitCompoundButton SecondaryText="This is the secondary text" Href="https://bitplatform.dev">Link</BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Outline button" RazorCode="@example4RazorCode" Id="example4">
        <ExamplePreview>
            <div>
                Outline buttons offer a moderate level of emphasis, suitable for important actions that aren't central to the application. 
                They serve as a middle ground between Text buttons and the more prominent Fill buttons, providing flexibility in emphasis.
            </div>
            <br />
            <div class="buttons-container">
                <BitCompoundButton Variant="BitVariant.Outline" SecondaryText="This is the secondary text">Outline</BitCompoundButton>
                <BitCompoundButton Variant="BitVariant.Outline" SecondaryText="This is the secondary text" IsEnabled="false">Disabled</BitCompoundButton>
                <BitCompoundButton Variant="BitVariant.Outline" SecondaryText="This is the secondary text" Href="https://bitplatform.dev">Link</BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Text button" RazorCode="@example5RazorCode" Id="example5">
        <ExamplePreview>
            <div>
                Text buttons are best suited for understated actions, serving as a less prominent choice in various interface elements.
            </div>
            <br />
            <div class="buttons-container">
                <BitCompoundButton Variant="BitVariant.Text" SecondaryText="This is the secondary text">Text</BitCompoundButton>
                <BitCompoundButton Variant="BitVariant.Text" SecondaryText="This is the secondary text" IsEnabled="false">Disabled</BitCompoundButton>
                <BitCompoundButton Variant="BitVariant.Text" SecondaryText="This is the secondary text" Href="https://bitplatform.dev">Link</BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Icon" RazorCode="@example6RazorCode" Id="example6">
        <ExamplePreview>
            <div>
                BitCompoundButton has an icon slot that, if specified, renders an icon that can be set at the start or end of component using IconPosition.
            </div>
            <br />
            <div class="buttons-container">
                <BitCompoundButton IconName="@BitIconName.Emoji" SecondaryText="IconPosition Start">
                    Default (Start)
                </BitCompoundButton>

                <BitCompoundButton IconName="@BitIconName.Emoji2"
                                   IconPosition="BitButtonIconPosition.End"
                                   SecondaryText="IconPosition End"
                                   Variant="BitVariant.Outline">
                    End
                </BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Events" RazorCode="@example7RazorCode" CsharpCode="@example7CsharpCode" Id="example7">
        <ExamplePreview>
            <div>
                Managing button click event (OnClick).
            </div>
            <br />
            <div class="buttons-container">
                <BitCompoundButton OnClick="() => clickCounter++" SecondaryText="@($"Click count is: {@clickCounter}")">Click me</BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Button Type" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
        <ExamplePreview>
            <div>
                BitCompoundButton supports three different types, 'Submit' for sending form data, 'Reset' to clear form inputs, and 'Button' to provide flexibility for different interaction purposes.
            </div>
            <br />
            <div class="form-container">
                @if (formIsValidSubmit is false)
                {
                    <EditForm Model="buttonValidationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" novalidate>
                        <DataAnnotationsValidator />

                        <BitTextField Label="Required" Required @bind-Value="buttonValidationModel.RequiredText" />
                        <ValidationMessage For="() => buttonValidationModel.RequiredText" />
                        <br />
                        <BitTextField Label="Non Required" @bind-Value="buttonValidationModel.NonRequiredText" />
                        <ValidationMessage For="() => buttonValidationModel.NonRequiredText" />
                        <br />
                        <div class="buttons-container">
                            <BitCompoundButton ButtonType=BitButtonType.Submit SecondaryText="This is a Submit button">Submit</BitCompoundButton>
                            <BitCompoundButton ButtonType=BitButtonType.Reset SecondaryText="This is a Reset button">Reset</BitCompoundButton>
                            <BitCompoundButton ButtonType=BitButtonType.Button SecondaryText="This is just a button">Button</BitCompoundButton>
                        </div>
                    </EditForm>
                }
                else
                {
                    <BitMessage Severity="BitSeverity.Success">
                        The form submitted successfully.
                    </BitMessage>
                }
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Template" RazorCode="@example9RazorCode" Id="example9">
        <ExamplePreview>
            <div>
                Here are some examples of customizing the button content.
            </div>
            <br />
            <div class="buttons-container">
                <BitCompoundButton>
                    <PrimaryTemplate>
                        <span style="color:red">Primary Template!</span>
                    </PrimaryTemplate>
                    <SecondaryTemplate>
                        <BitIcon IconName="@BitIconName.AirplaneSolid" />
                        <span style="color:blueviolet">Secondary Template goes here!</span>
                    </SecondaryTemplate>
                </BitCompoundButton>

                <BitCompoundButton Variant="BitVariant.Outline">
                    <PrimaryTemplate>
                        <span style="color:darkcyan">Primary Template!</span>
                    </PrimaryTemplate>
                    <SecondaryTemplate>
                        <span style="color:blueviolet">Secondary Template goes here!</span>
                        <BitGridLoading Size="20" Color="@($"var({BitCss.Var.Color.Foreground.Primary})")" />
                    </SecondaryTemplate>
                </BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Severity" RazorCode="@example10RazorCode" Id="example10">
        <ExamplePreview>
            <div>
                Offering a range of specialized color variants, providing visual cues for specific actions or states within your application.
            </div>
            <br />
            <div class="buttons-container-grid">
                <div>
                    <BitCompoundButton Severity="BitSeverity.Info" SecondaryText="This is the secondary text">Info</BitCompoundButton>
                    <BitCompoundButton Severity="BitSeverity.Info" SecondaryText="This is the secondary text" Variant="BitVariant.Outline">Info</BitCompoundButton>
                    <BitCompoundButton Severity="BitSeverity.Info" SecondaryText="This is the secondary text" Variant="BitVariant.Text">Info</BitCompoundButton>
                </div>
                <div>
                    <BitCompoundButton Severity="BitSeverity.Success" SecondaryText="This is the secondary text">Success</BitCompoundButton>
                    <BitCompoundButton Severity="BitSeverity.Success" SecondaryText="This is the secondary text" Variant="BitVariant.Outline">Success</BitCompoundButton>
                    <BitCompoundButton Severity="BitSeverity.Success" SecondaryText="This is the secondary text" Variant="BitVariant.Text">Success</BitCompoundButton>
                </div>
                <div>
                    <BitCompoundButton Severity="BitSeverity.Warning" SecondaryText="This is the secondary text">Warning</BitCompoundButton>
                    <BitCompoundButton Severity="BitSeverity.Warning" SecondaryText="This is the secondary text" Variant="BitVariant.Outline">Warning</BitCompoundButton>
                    <BitCompoundButton Severity="BitSeverity.Warning" SecondaryText="This is the secondary text" Variant="BitVariant.Text">Warning</BitCompoundButton>
                </div>
                <div>
                    <BitCompoundButton Severity="BitSeverity.SevereWarning" SecondaryText="This is the secondary text">SevereWarning</BitCompoundButton>
                    <BitCompoundButton Severity="BitSeverity.SevereWarning" SecondaryText="This is the secondary text" Variant="BitVariant.Outline">SevereWarning</BitCompoundButton>
                    <BitCompoundButton Severity="BitSeverity.SevereWarning" SecondaryText="This is the secondary text" Variant="BitVariant.Text">SevereWarning</BitCompoundButton>
                </div>
                <div>
                    <BitCompoundButton Severity="BitSeverity.Error" SecondaryText="This is the secondary text">Error</BitCompoundButton>
                    <BitCompoundButton Severity="BitSeverity.Error" SecondaryText="This is the secondary text" Variant="BitVariant.Outline">Error</BitCompoundButton>
                    <BitCompoundButton Severity="BitSeverity.Error" SecondaryText="This is the secondary text" Variant="BitVariant.Text">Error</BitCompoundButton>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Size" RazorCode="@example11RazorCode" Id="example11">
        <ExamplePreview>
            <div>
                Varying sizes for buttons tailored to meet diverse design needs, ensuring flexibility and visual hierarchy within your interface.
            </div>
            <br />
            <div class="buttons-container-grid">
                <div>
                    <BitCompoundButton Size="BitSize.Small" SecondaryText="This is the secondary text" Variant="BitVariant.Fill">Small</BitCompoundButton>
                    <BitCompoundButton Size="BitSize.Medium" SecondaryText="This is the secondary text" Variant="BitVariant.Fill">Medium</BitCompoundButton>
                    <BitCompoundButton Size="BitSize.Large" SecondaryText="This is the secondary text" Variant="BitVariant.Fill">Large</BitCompoundButton>
                </div>
                <div>
                    <BitCompoundButton Size="BitSize.Small" SecondaryText="This is the secondary text" Variant="BitVariant.Outline">Small</BitCompoundButton>
                    <BitCompoundButton Size="BitSize.Medium" SecondaryText="This is the secondary text" Variant="BitVariant.Outline">Medium</BitCompoundButton>
                    <BitCompoundButton Size="BitSize.Large" SecondaryText="This is the secondary text" Variant="BitVariant.Outline">Large</BitCompoundButton>
                </div>
                <div>
                    <BitCompoundButton Size="BitSize.Small" SecondaryText="This is the secondary text" Variant="BitVariant.Text">Small</BitCompoundButton>
                    <BitCompoundButton Size="BitSize.Medium" SecondaryText="This is the secondary text" Variant="BitVariant.Text">Medium</BitCompoundButton>
                    <BitCompoundButton Size="BitSize.Large" SecondaryText="This is the secondary text" Variant="BitVariant.Text">Large</BitCompoundButton>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="ClassStyles" RazorCode="@example12RazorCode" Id="example12">
        <ExamplePreview>
            <div>
                Empower customization by overriding default styles and classes, allowing tailored design modifications to suit specific UI requirements.
            </div>
            <br />
            <div class="buttons-container">
                <BitCompoundButton SecondaryText="This is the secondary text"
                                   Styles="@(new() { Container = "line-height: 2;",
                                                     Primary = "color: darkmagenta;",
                                                     Secondary = "color: darkslateblue;" })">
                    Fill
                </BitCompoundButton>

                <BitCompoundButton SecondaryText="This is the secondary text"
                                   Variant="BitVariant.Outline"
                                   Classes="@(new() { Container = "custom-container",
                                                      Primary = "custom-primary",
                                                      Secondary = "custom-secondary" })">
                    Outline
                </BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Visibility" RazorCode="@example13RazorCode" Id="example13">
        <ExamplePreview>
            <div>
                You can control the display of buttons with three settings, 'Visible' for full display, 'Hidden' for concealing buttons without altering layout, and 'Collapsed' to remove the button and its space.
            </div>
            <br />
            <div class="buttons-container-grid">
                <div>Visible: [ <BitCompoundButton Visibility="BitVisibility.Visible" SecondaryText="This is a visible compound button">Visible</BitCompoundButton> ]</div>
                <div>Hidden: [<BitCompoundButton Visibility="BitVisibility.Hidden" SecondaryText="This is a hidden compound button">Hidden</BitCompoundButton>]</div>
                <div>Collapsed: [ <BitCompoundButton Visibility="BitVisibility.Collapsed" SecondaryText="This is a collapsed compound button">Collapsed</BitCompoundButton> ]</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL" RazorCode="@example14RazorCode" Id="example14">
        <ExamplePreview>
            <div class="buttons-container">
                <BitCompoundButton Dir="BitDir.Rtl" 
                                   IconName="@BitIconName.Emoji" 
                                   SecondaryText="محل قرار گیری نماد در ابتدا">
                    پیش فرض (ابتدا)
                </BitCompoundButton>

                <BitCompoundButton Dir="BitDir.Rtl"
                                   IconName="@BitIconName.Emoji2"
                                   Variant="BitVariant.Outline"
                                   IconPosition="BitButtonIconPosition.End"
                                   SecondaryText="محل قرار گیری نماد در انتها">
                    انتها
                </BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>

@code {
    private int clickCounter;

    private bool formIsValidSubmit;
    private ButtonValidationModel buttonValidationModel = new();

    private async Task HandleValidSubmit()
    {
        formIsValidSubmit = true;

        await Task.Delay(2000);

        buttonValidationModel = new();

        formIsValidSubmit = false;

        StateHasChanged();
    }

    private void HandleInvalidSubmit()
    {
        formIsValidSubmit = false;
    }
}