@inherits AppComponentBase

<BitModal @bind-IsOpen="isOpen" IsBlocking="true">
    <div class="main-container">
        <div class="header">
            <span class="title">
                @if (product.Id != 0)
                {
                    @Localizer[nameof(AppStrings.EditProduct)]
                }
                else
                {
                    @Localizer[nameof(AppStrings.AddProduct)]
                }
            </span>
            <BitIconButton IconName="@BitIconName.ChromeClose" OnClick="OnCloseClick" />
        </div>
        <EditForm Model="product" OnValidSubmit="WrapHandled(Save)" style="width: 100%; display: flex; flex-direction: column;align-items: center">
            <AppDataAnnotationsValidator />

            <div class="form-input-container">
                <BitTextField @bind-Value="product.Name"
                              AutoComplete="@BitAutoCompleteValue.Off"
                              Label="@Localizer[(nameof(AppStrings.Name))]"
                              Placeholder="@Localizer[nameof(AppStrings.EnterProductName)]" />
                <ValidationMessage For="() => product.Name" />
            </div>

            <div class="form-input-container">
                <BitDropdown @bind-Value="selectedCategoyId"
                             IsMultiSelect="false"
                             Items="allCategoryList"
                             OnSelectItem="((BitDropdownItem<string> item) => { product.CategoryId = int.Parse(item.Value!); product.CategoryName = item.Text; })"
                             Placeholder="@Localizer[(nameof(AppStrings.SelectCategory))]"
                             Label="@Localizer[(nameof(AppStrings.SelectCategory))]" />
                <ValidationMessage For="@(() => product.CategoryId)" />
            </div>

            <div class="form-input-container">
                <BitNumericTextField @bind-Value="product.Price"
                                     Precision="2"
                                     Suffix="$"
                                     Label="@Localizer[(nameof(AppStrings.Price))]"
                                     LabelPosition="@BitNumericTextFieldLabelPosition.Top" />
                <ValidationMessage For="() => product.Price" />
            </div>

            <div class="form-input-container">
                <BitTextField @bind-Value="product.Description"
                              Rows="3"
                              IsMultiline="true"
                              Label="@Localizer[(nameof(AppStrings.Description))]" />
                <ValidationMessage For="() => product.Description" />
            </div>

            <BitButton IsLoading="isSaving" ButtonType="BitButtonType.Submit">
                @Localizer[nameof(AppStrings.Save)]
            </BitButton>
        </EditForm>
    </div>
</BitModal>