@page "/components/stack"

<PageOutlet Url="components/stack"
            Title="BitStack"
            Description="stack component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="Stack"
                   ComponentDescription="A Stack is a container-type component that abstracts the implementation of a flexbox in order to define the layout of its children components."
                   ComponentParameters="componentParameters"
                   ComponentSubEnums="componentSubEnums">
        <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
            <ExamplePreview>
                <div style="color: white;">
                    <BitLabel>Default stack (Vertical)</BitLabel>
                    <BitStack Style="background-color: dodgerblue;">
                        <div>Item 1</div>
                        <div>Item 2</div>
                        <div>Item 3</div>
                    </BitStack>
                    <br /><br />
                    <BitLabel>Horizontal stack</BitLabel>
                    <BitStack Horizontal Style="background-color: dodgerblue;">
                         <div>Item 1</div>
                         <div>Item 2</div>
                         <div>Item 3</div>
                     </BitStack>
                     <br /><br />
                     <BitLabel>Reversed vertical stack</BitLabel>
                     <BitStack Reversed Style="background-color: dodgerblue;">
                         <div>Item 1</div>
                         <div>Item 2</div>
                         <div>Item 3</div>
                     </BitStack>
                     <br /><br />
                     <BitLabel>Reversed horizontal stack</BitLabel>
                     <BitStack Horizontal Reversed Style="background-color: dodgerblue;">
                         <div>Item 1</div>
                         <div>Item 2</div>
                         <div>Item 3</div>
                     </BitStack>
                 </div>
             </ExamplePreview>
         </ComponentExampleBox>

         <ComponentExampleBox Title="Nested" RazorCode="@example2RazorCode" Id="example2">
             <ExamplePreview>
                 <div style="color: white;">
                     <BitStack Style="background-color: lightskyblue;">
                         <BitStack Class="stack-item">Item 1</BitStack>
                         <BitStack Class="stack-item">Item 2</BitStack>
                         <BitStack Class="stack-item">Item 3</BitStack>
                     </BitStack>
                 </div>
             </ExamplePreview>
         </ComponentExampleBox>

         <ComponentExampleBox Title="Gap" RazorCode="@example3RazorCode" Id="example4">
             <ExamplePreview>
                 <div style="color: white;">
                     <BitStack Gap="1rem" Style="background-color: lightskyblue; height: 18rem;">
                         <div class="item">Item 1</div>
                         <div class="item">Item 2</div>
                         <div class="item">Item 3</div>
                     </BitStack>
                 </div>
             </ExamplePreview>
         </ComponentExampleBox>

         <ComponentExampleBox Title="Width & Height" RazorCode="@example4RazorCode" Id="example4">
             <ExamplePreview>
                 <div style="color: white;">
                     <BitStack Height="18rem" Gap="0.5rem" Style="background-color: lightskyblue;">
                         <BitStack Width="5rem" Style="background-color: dodgerblue;">Item 1</BitStack>
                         <BitStack MinWidth="50%" Style="background-color: dodgerblue;">Item 2</BitStack>
                         <BitStack MinHeight="48px" Style="background-color: dodgerblue;">Item 3</BitStack>
                         <BitStack Width="100%" MaxWidth="8rem" Style="background-color: dodgerblue;">Item 5</BitStack>
                         <BitStack Height="100%" MaxHeight="80px" Style="background-color: dodgerblue;">Item 4</BitStack>
                     </BitStack>
                 </div>
             </ExamplePreview>
         </ComponentExampleBox>

         <ComponentExampleBox Title="Alignment" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5">
             <ExamplePreview>
                 <div style="color: white;">
                     <BitStack Style="background-color: lightskyblue;"
                               Height="18rem"
                               Reversed="isReversed"
                               Horizontal="isHorizontal"
                               VerticalAlign="verticalAlign"
                               HorizontalAlign="horizontalAlign">
                         <div class="item">Item 1</div>
                         <div class="item">Item 2</div>
                         <div class="item">Item 3</div>
                     </BitStack>
                     <br />
                     <BitStack Horizontal Wrap Gap="0.5rem">
                         <BitToggle @bind-Value="isHorizontal" DefaultText="Is Horizontal" />
                         <BitToggle @bind-Value="isReversed" DefaultText="Is Reversed" />
                     </BitStack>
                     <br />
                     <BitChoiceGroup Label="Horizontal Align"
                                     @bind-Value="horizontalAlign"
                                     LayoutFlow="@BitLayoutFlow.Horizontal"
                                     TItem="BitChoiceGroupOption<BitStackAlignment>"
                                     TValue="BitStackAlignment">
                         <BitChoiceGroupOption Text="Start" Value="BitStackAlignment.Start" />
                         <BitChoiceGroupOption Text="Center" Value="BitStackAlignment.Center" />
                         <BitChoiceGroupOption Text="End" Value="BitStackAlignment.End" />
                         <BitChoiceGroupOption Text="SpaceBetween" Value="BitStackAlignment.SpaceBetween" />
                         <BitChoiceGroupOption Text="SpaceAround" Value="BitStackAlignment.SpaceAround" />
                         <BitChoiceGroupOption Text="SpaceEvenly" Value="BitStackAlignment.SpaceEvenly" />
                         <BitChoiceGroupOption Text="Baseline" Value="BitStackAlignment.Baseline" />
                         <BitChoiceGroupOption Text="Stretch" Value="BitStackAlignment.Stretch" />
                     </BitChoiceGroup>
                     <br />
                     <BitChoiceGroup Label="Vertical Align"
                                     @bind-Value="verticalAlign"
                                     LayoutFlow="@BitLayoutFlow.Horizontal"
                                     TItem="BitChoiceGroupOption<BitStackAlignment>"
                                     TValue="BitStackAlignment">
                         <BitChoiceGroupOption Text="Start" Value="BitStackAlignment.Start" />
                         <BitChoiceGroupOption Text="Center" Value="BitStackAlignment.Center" />
                         <BitChoiceGroupOption Text="End" Value="BitStackAlignment.End" />
                         <BitChoiceGroupOption Text="SpaceBetween" Value="BitStackAlignment.SpaceBetween" />
                         <BitChoiceGroupOption Text="SpaceAround" Value="BitStackAlignment.SpaceAround" />
                         <BitChoiceGroupOption Text="SpaceEvenly" Value="BitStackAlignment.SpaceEvenly" />
                         <BitChoiceGroupOption Text="Baseline" Value="BitStackAlignment.Baseline" />
                         <BitChoiceGroupOption Text="Stretch" Value="BitStackAlignment.Stretch" />
                     </BitChoiceGroup>
                 </div>
             </ExamplePreview>
         </ComponentExampleBox>

         <ComponentExampleBox Title="Padding" RazorCode="@example6RazorCode" Id="example6">
             <ExamplePreview>
                 <div style="color: white;">
                     <BitStack Padding="1rem" Height="18rem" Style="background-color: lightskyblue;">
                         <div class="item">Item 1</div>
                         <div class="item">Item 2</div>
                         <div class="item">Item 3</div>
                     </BitStack>
                 </div>
             </ExamplePreview>
         </ComponentExampleBox>

         <ComponentExampleBox Title="Wrap" RazorCode="@example7RazorCode" CsharpCode="@example7CsharpCode" Id="example7">
             <ExamplePreview>
                 <div style="color: white;">
                     <BitSlider Max="18"
                                @bind-Value="@stackHeight"
                                Label="Change the stack height to see how child items wrap onto multiple rows:" />
                     <br /><br />
                     <BitStack Wrap
                               Padding="1rem"
                               MinWidth="max-content"
                               Height="@($"{stackHeight}rem")"
                               Style="background-color: lightskyblue;">
                         @for (int i = 0; i < 20; i++)
                        {
                            var index = i;
                            <div class="item">Item @index</div>
                        }
                    </BitStack>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Fill" RazorCode="@example8RazorCode" Id="example8">
            <ExamplePreview>
                <div style="color: white;">
                    <BitStack Gap="1rem" Height="18rem" Style="background-color: lightskyblue;">
                        <BitStack HorizontalFill
                                   Padding="0.5rem"
                                   Style="background-color: dodgerblue;"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             Horizontal fill
                         </BitStack>
                         <BitStack Padding="0.5rem"
                                   Style="background-color: dodgerblue;"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             Normal
                         </BitStack>
                         <BitStack VerticalFill
                                   Padding="0.5rem"
                                   Style="background-color: dodgerblue;"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             Vertical fill
                         </BitStack>
                     </BitStack>
                 </div>
             </ExamplePreview>
         </ComponentExampleBox>

         <ComponentExampleBox Title="Disable shrink" RazorCode="@example9RazorCode" CsharpCode="@example9CsharpCode" Id="example9">
             <ExamplePreview>
                 <div style="color: white;">
                     <BitSlider Max="12"
                                @bind-Value="@shrinkStackHeight"
                                Label="Change the stack height to see how child items shrink:" />
                     <br /><br />
                     <BitStack Gap="0.5rem"
                               Height="@($"{shrinkStackHeight}rem")"
                               Style="background-color: lightskyblue; overflow:hidden;">
                         <BitStack HorizontalFill
                                   Class="stack-item"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             I will shrink
                         </BitStack>
                         <BitStack HorizontalFill DisableShrink
                                   Class="stack-item"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             I will not shrink
                         </BitStack>
                         <BitStack HorizontalFill
                                   Class="stack-item"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             I will shrink
                         </BitStack>
                     </BitStack>
                 </div>
             </ExamplePreview>
         </ComponentExampleBox>

         <ComponentExampleBox Title="Grow" RazorCode="@example10RazorCode" Id="example10">
             <ExamplePreview>
                 <BitLabel>The "Grows" parameter sets flex-grow to 1, while "Grow" accepts customizable values for more flexibility.</BitLabel>
                 <br />
                 <div style="color: white;">
                     <BitStack Gap="0.5rem"
                               Height="18rem"
                               Padding="0.5rem"
                               Style="background-color: lightskyblue;">
                         <BitStack HorizontalFill
                                   Grow="3"
                                   Style="background-color: dodgerblue;"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             Grow is 3
                         </BitStack>
                         <BitStack HorizontalFill
                                   Grow="2"
                                   Style="background-color: dodgerblue;"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             Grow is 2
                         </BitStack>
                         <BitStack HorizontalFill
                                   Grow="1"
                                   Style="background-color: dodgerblue;"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             Grow is 1
                         </BitStack>
                     </BitStack>
                     <br /> <br />
                     <BitStack Horizontal
                               Gap="0.5rem"
                               Height="18rem"
                               Padding="0.5rem"
                               Style="background-color: lightskyblue;">
                         <BitStack VerticalFill
                                   Style="background-color: dodgerblue;"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             Item 3
                         </BitStack>
                         <BitStack Grows VerticalFill
                                   Style="background-color: dodgerblue;"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             Item 2 (Grows)
                         </BitStack>
                         <BitStack VerticalFill
                                   Style="background-color: dodgerblue;"
                                   VerticalAlign="BitStackAlignment.Center"
                                   HorizontalAlign="BitStackAlignment.Center">
                             Item 1
                         </BitStack>
                     </BitStack>
                 </div>
             </ExamplePreview>
         </ComponentExampleBox>
     </ComponentDemo>
 </div>
