@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     id="@UniqueId"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel">

    <div class="items-wrapper" id="@_breadcrumbId">
        <ul>
            @foreach ((BitBreadcrumbItem item, int index) in _itemsToShowInBreadcrumb.Select((item, index) => (item, index)))
            {
                <li>
                    @if (_overflowItems.Any() && index == OverflowIndex)
                    {
                        <button type="button" class="overflow-btn" aria-label="@OverflowAriaLabel" id="@_overflowDropDownId" @onclick="HandleOnClick">
                            <span class="overflow-icon-container">
                                <i class="@($"bit-icon bit-icon--{OnRenderOverflowIcon.GetName()}")"></i>
                            </span>
                        </button>
                    }
                    else
                    {
                        if (item.Href.HasValue())
                        {
                            <a href="@item.Href"
                               aria-current="@(IsCurrentItem(item) ? "page" : null)"
                               style="@item.Style @GetItemStyles(item)"
                               class="@item.Class @GetItemClasses(item)">
                                @item.Text
                            </a>
                        }
                        else
                        {
                            <button aria-current="@(IsCurrentItem(item) ? "page" : null)"
                                    style="@item.Style @GetItemStyles(item)"
                                    class="@item.Class @GetItemClasses(item)"
                                    @onclick="() => HandleOnItemClick(item)">
                                @item.Text
                            </button>
                        }   
                    }

                    @if (IsLastItem(index) is false)
                    {
                        <i class="@($"bit-icon bit-icon--{DividerIcon.GetName()}")"></i>
                    }
                </li>
            }
        </ul>
    </div>

    <div class="bit-brc-overlay" id="@_overlayId" @onclick="CloseCallout"></div>

    <div class="overflow-menu-wrapper"
         id="@_calloutId"
         tabindex="0"
         role="listbox">
        <ul>
            @foreach ((BitBreadcrumbItem item, int index) in _overflowItems.Select((item, index) => (item, index)))
            {
                <li>
                    <a href="@item.Href"
                       aria-current=@(IsCurrentItem(item) ? "page" : null)
                       style="@item.Style @GetItemStyles(item)"
                       class="@item.Class @GetItemClasses(item)"
                       @onclick="() => HandleOnItemClick(item)">
                        @item.Text
                    </a>
                </li>
            }
        </ul>
    </div>
</div>