@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     id="@UniqueId"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel">

    <div class="items-wrapper" id="@_wrapperId">
        <ul>
            @foreach ((BitBreadcrumbItem item, int index) in _displayItems.Select((item, index) => (item, index)))
            {
                <li>
                    @if (_overflowItems.Any() && index == _internalOverflowIndex)
                    {
                        <button type="button" class="overflow-btn" aria-label="@OverflowAriaLabel" id="@_overflowDropDownId" @onclick="ToggleCallout">
                            <span class="overflow-icon-container">
                                <i class="@($"bit-icon bit-icon--{OverflowIcon.GetName()}")"></i>
                            </span>
                        </button>
                    }
                    else
                    {
                        if (item.Href.HasValue())
                        {
                            <a href="@item.Href"
                               aria-current="@(item.IsSelected ? "page" : null)"
                               style="@item.Style @GetItemStyles(item)"
                               class="@item.Class @GetItemClasses(item)">
                                @item.Text
                            </a>
                        }
                        else
                        {
                            <button aria-current="@(item.IsSelected ? "page" : null)"
                                    style="@item.Style @GetItemStyles(item)"
                                    class="@item.Class @GetItemClasses(item)"
                                    @onclick="() => HandleOnItemClick(item)">
                                @item.Text
                            </button>
                        }   
                    }
                </li>

                @if (index != _displayItems.Count - 1)
                {
                    <i class="@($"bit-icon bit-icon--{DividerIcon.GetName()}")"></i>
                }
            }
        </ul>
    </div>

    <div class="overlay" id="@_overlayId" @onclick="ToggleCallout"></div>

    <div class="overflow-menu-wrapper"
         id="@_calloutId"
         tabindex="0"
         role="listbox">
        <ul>
            @foreach (var item in _overflowItems)
            {
                <li>
                    @if (item.Href.HasValue())
                    {
                        <a href="@item.Href"
                           aria-current="@(item.IsSelected ? "page" : null)"
                           style="@item.Style @GetItemStyles(item)"
                           class="@item.Class @GetItemClasses(item)">
                            @item.Text
                        </a>
                    }
                    else
                    {
                        <button aria-current="@(item.IsSelected ? "page" : null)"
                                style="@item.Style @GetItemStyles(item)"
                                class="@item.Class @GetItemClasses(item)"
                                @onclick="() => HandleOnItemClick(item)">
                            @item.Text
                        </button>
                    }
                </li>
            }
        </ul>
    </div>
</div>