@namespace Bit.BlazorUI
@inherits BitComponentBase
@typeparam TItem

@if (ChildContent is not null)
{
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
}

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()"
     aria-label="@AriaLabel">

    <div @onclick="CloseCallout" @onclick:stopPropagation
         style="display:@(_isCalloutOpen ? "block" : "none")"
         class="bit-brc-ovl"></div>

    <div class="bit-brc-iwp">
        <ul>
            @foreach ((TItem item, int index) in _displayItems.Select((item, index) => (item, index)))
            {
                <li @key="GetKey(item)">
                    @if (_overflowItems.Any() && index == _internalOverflowIndex)
                    {
                        <button id="@_overflowAnchorId"
                                type="button"
                                class="bit-brc-obt"
                                aria-label="@OverflowAriaLabel" @onclick="OpenCallout">
                            <span class="bit-brc-oic">
                                <i class="bit-icon bit-icon--@OverflowIconName" />
                            </span>
                        </button>
                    }
                    else
                    {
                        if (GetItemHref(item).HasValue())
                        {
                            <a href="@GetItemHref(item)"
                               aria-current="@(GetIsSelected(item) ? "page" : null)"
                               style="@GetStyles(item)"
                               class="bit-brc-itm @GetClasses(item)">
                                @GetItemText(item)
                            </a>
                        }
                        else
                        {
                            <button type="button"
                                    aria-current="@(GetIsSelected(item) ? "page" : null)"
                                    style="@GetStyles(item)"
                                    class="bit-brc-itm @GetClasses(item)" @onclick="() => HandleOnItemClick(item)">
                                @GetItemText(item)
                            </button>
                        }
                    }
                </li>

                @if (index != _displayItems.Count - 1)
                {
                    <i class="bit-brc-sep bit-icon bit-icon--@(DividerIconName ?? _internalDividerIconName)" />
                }
            }
        </ul>
    </div>

    <div id="@_calloutId"
         tabindex="0"
         role="listbox"
         class="bit-brc-cal">
        <ul id="@_scrollContainerId" class="bit-brc-scn">
            @foreach (var item in _overflowItems)
            {
                <li @key="GetKey(item)">
                    @if (GetItemHref(item).HasValue())
                    {
                        <a href="@GetItemHref(item)"
                           aria-current="@(GetIsSelected(item) ? "page" : null)"
                           style="@GetStyles(item)"
                           class="bit-brc-oitm @GetClasses(item)">
                            @GetItemText(item)
                        </a>
                    }
                    else
                    {
                        <button type="button"
                                aria-current="@(GetIsSelected(item) ? "page" : null)"
                                style="@GetStyles(item)"
                                class="bit-brc-oitm @GetClasses(item)" @onclick="() => HandleOnItemClick(item)">
                            @GetItemText(item)
                        </button>
                    }
                </li>
            }
        </ul>
    </div>
</div>