@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     id="@UniqueId"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel">

    <div class="bit-brc-items-wrapper" id=@BreadcrumbItemsWrapperId>
        <ul>

            @foreach ((BitBreadcrumbItem value, int index) item in _itemsToShowInBreadcrumb.Select((item, index) => (item, index)))
            {
                <li style="@item.value.Style" class="@item.value.Class">
                    @if (_overflowItems.Any() && item.index == OverflowIndex)
                    {
                        <button type="button" aria-label="@OverflowAriaLabel" id=@OverflowDropDownId @onclick="HandleClick">
                            <span>
                                <i class=@($"bit-icon bit-icon--{OnRenderOverflowIcon.GetName()}")></i>
                            </span>
                        </button>
                    }
                    else
                    {
                        <a href="@item.value.href"
                           onclick="@item.value.OnClick"
                           aria-current=@(IsLastItem(item.index) ? "page" : "undefined")
                           class=@(IsLastItem(item.index) ? "bit-brc-lst-itm" :"bit-brc-itm")>@item.value.Text</a>
                    }

                 @if (IsLastItem(item.index) is false)
                 {
                     <i class=@($"bit-icon bit-icon--{DividerIcon.GetName()}")></i>
                 }

                </li>
            }
        </ul>
    </div>

    <div class="bit-brc-overlay"
         id="@OverflowDropDownMenuOverlayId"
         @onclick="CloseCallout">
    </div>

    <div class="bit-brc-overflow-menu-wrapper"
         id="@OverflowDropDownMenuCalloutId"
         tabindex="0"
         role="listbox">
        <ul>
            @foreach ((BitBreadcrumbItem item, int index) in _overflowItems.Select((item, index) => (item, index)))
            {
                <li>
                    <a href="@item.href" @onclick="@item.OnClick">@item.Text</a>
                </li>
            }
        </ul>
    </div>
</div>