@page "/components/snackbar"

<ComponentDemo ComponentName="Snackbar"
               ComponentDescription="Snackbars provide brief notifications. The component is also known as a toast."
               ComponentParameters="@componentParameters"
               EnumParameters="@enumParameters">

    <ComponentExampleBox Title="Type & Position" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-box">
                <BitSnackbar @ref="BasicSnackbarRef"
                             Position="@BasicSnackbarPosition"
                             AutoDismiss="@BasicSnackbarAutoDismiss"
                             AutoDismissTime="TimeSpan.FromSeconds(BasicSnackbarDissmissSeconds)" />

                <BitChoiceGroup @bind-Value="BasicSnackbarType" Label="Type" TItem="BitChoiceGroupOption<BitSnackbarType>" TValue="BitSnackbarType">
                    <BitChoiceGroupOption Text="Info" Value="BitSnackbarType.Info" />
                    <BitChoiceGroupOption Text="Success" Value="BitSnackbarType.Success" />
                    <BitChoiceGroupOption Text="Warning" Value="BitSnackbarType.Warning" />
                    <BitChoiceGroupOption Text="Error" Value="BitSnackbarType.Error" />
                </BitChoiceGroup>
                <BitChoiceGroup @bind-Value="BasicSnackbarPosition" Label="Position" TItem="BitChoiceGroupOption<BitSnackbarPosition>" TValue="BitSnackbarPosition">
                    <BitChoiceGroupOption Text="TopCenter" Value="BitSnackbarPosition.TopCenter" />
                    <BitChoiceGroupOption Text="TopRight" Value="BitSnackbarPosition.TopRight" />
                    <BitChoiceGroupOption Text="TopLeft" Value="BitSnackbarPosition.TopLeft" />
                    <BitChoiceGroupOption Text="BottomCenter" Value="BitSnackbarPosition.BottomCenter" />
                    <BitChoiceGroupOption Text="BottomRight" Value="BitSnackbarPosition.BottomRight" />
                    <BitChoiceGroupOption Text="BottomLeft" Value="BitSnackbarPosition.BottomLeft" />
                </BitChoiceGroup>
                <div>
                    <BitTextField @bind-Value="BasicSnackbarTitle" Label="Title" />
                    <BitTextField @bind-Value="BasicSnackbarBody" Label="Body" IsMultiline="true" Rows="6" />
                </div>
                <div>
                    <BitToggle @bind-Value="BasicSnackbarAutoDismiss" Label="Auto Dismiss" />
                    <BitNumericTextField @bind-Value="BasicSnackbarDissmissSeconds" Step="1" Min="1" Label="Dismiss Time (based on second)" />
                </div>
            </div>
            <BitButton Style="margin-top: 20px;" OnClick="OpenBasicSnackbar">Show</BitButton>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Customized" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">
                Snackbar can be customized in various ways, such as changing the dismiss icon by the DismissIconName parameter, 
                TitleTemplate parameter as a RenderFragment in Title container and BodyTemplate as a RenderFragment in Body(Content) container.
            </div>
            <div class="example-box">
                <div>
                    <BitSnackbar @ref="DismissIconName" DismissIconName="BitIconName.Go" />
                    <BitButton OnClick="OpenDismissIconName">Dismiss Icon Name</BitButton>
                </div>

                <div>
                    <BitSnackbar @ref="TitleTemplate" AutoDismiss="false">
                        <TitleTemplate Context="title">
                            <div style="display: flex; flex-direction: row; gap: 10px;">
                                <span>@title</span>
                                <BitProgressIndicator BarHeight="20" Style="width: 40px;" />
                            </div>
                        </TitleTemplate>
                    </BitSnackbar>
                    <BitButton OnClick="OpenTitleTemplate">Title Template</BitButton>
                </div>

                <div>
                    <BitSnackbar @ref="BodyTemplate" AutoDismiss="false">
                        <BodyTemplate Context="body">
                            <div style="display: flex; flex-flow: column nowrap; gap: 5px;">
                                <span style="font-size: 12px; margin-bottom: 5px;">@body</span>
                                <div style="display: flex; gap: 10px;">
                                    <BitButton OnClick="() => BodyTemplateAnswer = BodyTemplateYesAnswer">Yes</BitButton>
                                    <BitButton OnClick="() => BodyTemplateAnswer = BodyTemplateNoAnswer">No</BitButton>
                                </div>
                                <span>Answer: @BodyTemplateAnswer</span>
                            </div>
                        </BodyTemplate>
                    </BitSnackbar>
                    <BitButton OnClick="OpenBodyTemplate">Body Template</BitButton>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>