@namespace Bit.BlazorUI
@inherits BitComponentBase
@typeparam TItem

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     role="@Role">

    @if (EnableVirtualization)
    {
        <Virtualize Items="@Items"
                    Context="item"
                    ItemSize="@ItemSize"
                    OverscanCount="@OverscanCount">
            @RowTemplate(item)
        </Virtualize>
    }
    else
    {
        @foreach (var item in Items)
        {
            @RowTemplate(item)
        }
    }
</div>
