@inherits AppComponentBase

<div style="width:100%">
    <div @ref="messageRef" class="form-message-bar">
        @if (string.IsNullOrEmpty(message) is false)
        {
            <BitMessage Color="messageColor" OnDismiss="() => message = null">@message</BitMessage>
        }
    </div>

    <BitText Typography="BitTypography.H2">
        @Localizer[nameof(AppStrings.ChangeEmailTitle)]
    </BitText>

    <br />

    @if (Loading)
    {
        <div class="loading-container">
            <BitRingLoading />
        </div>
    }
    else
    {
        if (showConfirmation is false)
        {
            <EditForm Model="sendModel" OnValidSubmit="WrapHandled(SendToken)" class="change-email-form">
                <AppDataAnnotationsValidator />

                <div class="form-input-container">
                    <BitLabel>@Localizer[nameof(AppStrings.CurrentEmail)]</BitLabel>
                    <BitTag Variant="BitVariant.Outline" Text="@Email" Style="width:100%;max-width:unset" />
                </div>

                <div class="form-input-container">
                    <BitTextField @bind-Value="sendModel.Email"
                                  Type="BitTextFieldType.Email"
                                  Label="@Localizer[nameof(AppStrings.NewEmail)]"
                                  Placeholder="@Localizer[nameof(AppStrings.NewEmailPlaceholder)]" />
                    <ValidationMessage For="@(() => sendModel.Email)" />
                </div>

                <BitButton IsLoading="isWaiting" ButtonType="BitButtonType.Submit">
                    @Localizer[nameof(AppStrings.Submit)]
                </BitButton>
                <br />
                <div>
                    @Localizer[nameof(AppStrings.ConfirmMessageInProfile)]
                    <BitButton ButtonType="BitButtonType.Button"
                               Variant="BitVariant.Text"
                               OnClick="() => showConfirmation = true">
                        @Localizer[nameof(AppStrings.Confirm)]
                    </BitButton>
                </div>
            </EditForm>
        }
        else
        {
            <BitText Typography="BitTypography.Subtitle1" Gutter>
                @Localizer[nameof(AppStrings.ConfirmEmailSubtitle)]
                <br />
                @Localizer[nameof(AppStrings.ConfirmEmailMessage)]
            </BitText>
            <br />
            <EditForm Model="changeModel" OnValidSubmit="WrapHandled(ChangeEmail)" class="change-email-form">
                <AppDataAnnotationsValidator />

                <div class="form-input-container">
                    <BitTextField @bind-Value="changeModel.Email"
                                  IsEnabled="isEmailUnavailable"
                                  Type="BitTextFieldType.Email"
                                  Label="@Localizer[nameof(AppStrings.Email)]"
                                  Placeholder="@Localizer[nameof(AppStrings.EmailPlaceholder)]" />
                    <ValidationMessage For="@(() => changeModel.Email)" />
                </div>

                <div class="form-input-container">
                    <BitTextField @bind-Value="changeModel.Token"
                                  Type="BitTextFieldType.Number"
                                  Label="@Localizer[nameof(AppStrings.EmailToken)]"
                                  Placeholder="@Localizer[nameof(AppStrings.EmailTokenPlaceholder)]" />
                    <ValidationMessage For="@(() => changeModel.Token)" />
                </div>
                <br />
                <BitButton IsLoading="isWaiting" ButtonType="BitButtonType.Submit">
                    @Localizer[nameof(AppStrings.EmailTokenConfirmButtonText)]
                </BitButton>
                <br />
                <BitButton ButtonType="BitButtonType.Button"
                           Variant="BitVariant.Text"
                           IconName="@BitIconName.Back"
                           OnClick="GoBack">
                    @Localizer[nameof(AppStrings.GoBack)]
                </BitButton>
            </EditForm>
            @if (isEmailUnavailable is false)
            {
                <br />
                <br />
                <BitText Typography="BitTypography.Body1" Gutter>
                    @Localizer[nameof(AppStrings.NotReceivedConfirmationEmailMessage)]
                </BitText>
                <BitText Typography="BitTypography.Body1" Gutter>
                    @Localizer[nameof(AppStrings.CheckSpamMailMessage)]
                </BitText>
                <br />
                <BitButton IsLoading="isWaiting"
                           ButtonType="BitButtonType.Button"
                           Variant="BitVariant.Outline"
                           OnClick="WrapHandled(SendToken)">
                    @Localizer[nameof(AppStrings.ResendEmailTokenButtonText)]
                </BitButton>
            }
        }
    }
</div>
