@inherits AppComponentBase

<BitModal @bind-IsOpen="IsOpen" IsBlocking="true">
    <div class="modal-body">
        <div class="modal-close-btn-container">
            <BitIconButton OnClick="CloseModal" IconName="@BitIconName.ChromeClose" Title="Close" />
        </div>
        <div class="modal-title">@Localizer[nameof(AppStrings.DeleteAccount)]</div>
        <div class="modal-desc">@Localizer[nameof(AppStrings.DeleteAccountPrompt)]</div>
        <div>
            <BitButton ButtonStyle="BitButtonStyle.Primary" OnClick="DeleteAccount">@Localizer[nameof(AppStrings.Yes)]</BitButton>
            <BitButton ButtonStyle="BitButtonStyle.Standard" OnClick="CloseModal">@Localizer[nameof(AppStrings.No)]</BitButton>
        </div>
    </div>
</BitModal>