@inherits AppComponentBase

<div @ref="messageRef" class="form-message-bar">
    @if (string.IsNullOrEmpty(message) is false)
    {
        <BitMessage Multiline Severity="severity" OnDismiss="() => message = null">@message</BitMessage>
    }
</div>

<BitTypography Variant="BitTypographyVariant.H2" Style="text-align:center">
    @Localizer[nameof(AppStrings.UserSessionsTitle)]
</BitTypography>

<br />

@if (isLoading)
{
    <div class="loading-container">
        <BitSpinner Size="BitSpinnerSize.Large" Label="Loading..." LabelPosition="BitLabelPosition.Top"></BitSpinner>
    </div>
}
else
{
    <BitStack Gap="1.5rem" Style="width:100%">
        @if (currentSession is not null)
        {
            <BitStack Gap="0.5rem" Style="width:100%">
                <BitSeparator Style="width:100%">@Localizer[nameof(AppStrings.CurrentSession)]</BitSeparator>
                <BitPersona PrimaryText="@currentSession.Device"
                            SecondaryText="@currentSession.Address"
                            TertiaryText="@($"{currentSession.IP} - {currentSession.LastSeenOn}")"
                            Size="BitPersonaSize.Size72"
                            Style="width:100%;padding:8px"
                            Presence="@GetPresence(currentSession.LastSeenOn)"
                            Class="@BitCss.Class.Color.Background.Secondary"
                            Styles="@(new() { Image = "width:50%;height:50%" })"
                            ImageInitials="✓"
                            ImageUrl="@($"/_content/Boilerplate.Client.Core/images/os/{GetImageUrl(currentSession.Device)}")" />
            </BitStack>
        }
        <BitSeparator Style="width:100%">@Localizer[nameof(AppStrings.OtherSessions)]</BitSeparator>
        @foreach (var session in otherSessions)
        {
            <BitStack Horizontal Style="width:100%;padding:8px" Class="@BitCss.Class.Color.Background.Secondary">
                <BitPersona PrimaryText="@session.Device"
                            SecondaryText="@session.Address"
                            TertiaryText="@($"{session.IP} - {session.LastSeenOn}")"
                            Size="BitPersonaSize.Size72"
                            Style="flex-grow:1"
                            Presence="@GetPresence(session.LastSeenOn)"
                            Styles="@(new() { Image = "width:50%;height:50%" })"
                            ImageInitials="@(session.IsValid ? "✓" : "✘")"
                            ImageUrl="@($"/_content/Boilerplate.Client.Core/images/os/{GetImageUrl(session.Device)}")" />
                <BitIconButton IconName="@(isWaiting ? BitIconName.CloudUpload : BitIconName.Delete)" OnClick="() => RevokeSession(session)" />
            </BitStack>
        }
    </BitStack>
}
