@inherits AppComponentBase

<div>
    <div @ref="messageRef" class="form-message-bar">
        @if (string.IsNullOrEmpty(message) is false)
        {
            <BitMessage Multiline Color="messageColor" OnDismiss="() => message = null">@message</BitMessage>
        }
    </div>

    <BitTypography Variant="BitTypographyVariant.H2">
        @Localizer[nameof(AppStrings.EditProfileTitle)]
    </BitTypography>

    <br />

    @if (Loading)
    {
        <div class="loading-container">
            <BitRippleLoading />
        </div>
    }
    else
    {
        var imageUrl = user.ProfileImageName is null ? null : $"{profileImageUrl}&file={user.ProfileImageName}";
        <div class="form-input-container">
            <BitPersona ImageUrl="@imageUrl"
                        Size=@BitPersonaSize.Size72
                        PrimaryText="@user.FullName"
                        SecondaryText="@user.DisplayName"
                        Presence="BitPersonaPresence.Online" />
        </div>

        <div class="form-input-container">
            @if (user.ProfileImageName is not null)
            {
                <BitButton IsLoading="isRemoving" OnClick="RemoveProfileImage">
                    @Localizer[nameof(AppStrings.Remove)]
                </BitButton>
            }

            <BitLabel>@Localizer[nameof(AppStrings.ProfileImage)]</BitLabel>
            <BitFileUpload @onfocus="() => profileImageError = null"
                           Label="@Localizer[nameof(AppStrings.UploadNewProfileImage)]"
                           Accept="image/*"
                           AutoUploadEnabled="true"
                           MaxSize="1024 * 1024 * 10"
                           ChunkedUploadEnabled="false"
                           UploadUrl="@profileImageUploadUrl"
                           OnUploading="() => isUploading = true"
                           OnUploadComplete="WrapHandled(HandleOnUploadComplete)"
                           OnUploadFailed="() => profileImageError = Localizer[nameof(AppStrings.FileUploadFailed)]" />
            @if (isUploading)
            {
                <BitRippleLoading />
            }
            <div class="form-input-error">@profileImageError</div>
        </div>

        <EditForm Model="editUserDto" OnValidSubmit="WrapHandled(SaveProfile)" class="edit-profile-form">
            <AppDataAnnotationsValidator />

            <div class="form-input-container">
                <BitTextField @bind-Value="editUserDto.FullName"
                              Label="@Localizer[nameof(AppStrings.FullName)]"
                              Placeholder="@Localizer[nameof(AppStrings.FullName)]" />
                <ValidationMessage For="@(() => editUserDto.FullName)" />
            </div>

            <div class="form-input-container">
                <BitDatePicker IsResponsive @bind-Value="editUserDto.BirthDate"
                               Class="edit-profile-dtp"
                               Label="@Localizer[nameof(AppStrings.BirthDate)]"
                               GoToTodayTitle="@Localizer[nameof(AppStrings.GoToToday)]"
                               Placeholder="@Localizer[nameof(AppStrings.SelectBirthDate)]" />
                <ValidationMessage For="@(() => editUserDto.BirthDate)" />
            </div>

            <div class="form-input-container">
                <BitChoiceGroup Horizontal
                                @bind-Value="editUserDto.GenderAsString"
                                TItem="BitChoiceGroupOption<string>" TValue="string"
                                Label="@Localizer[nameof(AppStrings.Gender)]">
                    <BitChoiceGroupOption Value="@Gender.Male.ToString()"
                                          Text="@Localizer[nameof(AppStrings.GenderMale)]" />
                    <BitChoiceGroupOption Value="@Gender.Female.ToString()"
                                          Text="@Localizer[nameof(AppStrings.GenderFemale)]" />
                    <BitChoiceGroupOption Value="@Gender.Other.ToString()"
                                          Text="@Localizer[nameof(AppStrings.GenderOther)]" />
                </BitChoiceGroup>
            </div>

            <BitButton IsLoading="isSaving"
                       ButtonType="BitButtonType.Submit"
                       Title="@Localizer[nameof(AppStrings.Save)]">
                @Localizer[nameof(AppStrings.Save)]
            </BitButton>
        </EditForm>
    }
</div>
