@page "/components/search-box"

<ComponentDemo ComponentName="SearchBox" ComponentDescription="A search box (SearchBox) provides an input field for searching content within a site or app to find specific items."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitSearchBox" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a searchbox you can use a BitSearchbox component.</div>
            <div>
                <BitSearchBox Placeholder="Search"></BitSearchBox>
                <BitSearchBox Placeholder="Search" DefaultValue="this is default value"></BitSearchBox>
                <BitSearchBox Placeholder="Search with no animation" DisableAnimation=true></BitSearchBox>
                <BitSearchBox Placeholder="SearchBox with fixed icon" ShowIcon="true"></BitSearchBox>
                <BitSearchBox Placeholder="Search with Binded value" @bind-Value="@TextValue"></BitSearchBox>
                <BitLabel>The value you are looking for: @TextValue</BitLabel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Underlined SearchBox" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">BitSearchBox component can be like an underline.</div>
            <BitSearchBox Placeholder="Search" IsUnderlined="true"></BitSearchBox>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SearchBox with custom icon" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">BitSeachBox component also can get a custom icon.</div>
            <BitSearchBox Placeholder="Filter" IconName="BitIconName.Filter"></BitSearchBox>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SearchBox with fixed width" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">You can set width of searchbox by Width attribute.</div>
            <BitSearchBox Placeholder="Search" Width="250px"></BitSearchBox>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled SearchBox" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">BitSearchBox can be disabled or enabled by setting IsEnabled attribute.</div>
            <BitSearchBox Placeholder="Search" IsEnabled="false"></BitSearchBox>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Validation SearchBox" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-desc">BitSearchBox can be validation value.</div>
            <EditForm Model="validationSearchBoxModel">
                <DataAnnotationsValidator />
                <BitSearchBox DefaultValue="This is default value" @bind-Value="validationSearchBoxModel.Text" />
                <ValidationMessage For="()=>validationSearchBoxModel.Text"></ValidationMessage>
            </EditForm>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>