@page "/components/search-box"

<ComponentDemo ComponentName="SearchBox" ComponentDescription="A search box (SearchBox) provides an input field for searching content within a site or app to find specific items."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="BitSearchBox" ExampleSourceCodeForCopy="@searchBoxSampleCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a searchbox you can use a BitSearchbox component.</div>
            <div>
                <BitSearchBox Placeholder="Search"></BitSearchBox>
                <BitSearchBox Placeholder="Search" DefaultValue="this is default value"></BitSearchBox>
                <BitSearchBox Placeholder="Search with no animation" DisableAnimation=true></BitSearchBox>
                <BitSearchBox Placeholder="SearchBox with fixed icon" ShowIcon="true"></BitSearchBox>
                <BitSearchBox Placeholder="Search with Binded value" @bind-Value="@TextValue"></BitSearchBox>
                <BitLabel>The value you are looking for: @TextValue</BitLabel>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre class="code">
            <code class="html">&ltBitSearchBox Placeholder="Search">&lt/BitSearchBox>
&ltBitSearchBox Placeholder="Search" DefaultValue="this is default value">&lt/BitSearchBox>
&ltBitSearchBox Placeholder="Search with no animation" DisableAnimation=true>&lt/BitSearchBox>
&ltBitSearchBox Placeholder="SearchBox with fixed icon" ShowIcon="true">&lt/BitSearchBox>
&ltBitSearchBox Placeholder="Search with Binded value" &#64;bind-Value="&#64;TextValue">&lt/BitSearchBox>
&ltBitLabel>The value you are looking for: &#64;TextValue&lt/BitLabel></code>

            <code class="csharp">&#64;code {
        private string TextValue;
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Underlined SearchBox" ExampleSourceCodeForCopy="@underlineSearchBoxSampleCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">BitSearchBox component can be like an underline.</div>
            <div>
                <BitSearchBox Placeholder="Search" IsUnderlined="true"></BitSearchBox>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre class="code">
            <code class="html">&ltBitSearchBox Placeholder="Search" IsUnderlined="true">&lt/BitSearchBox></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SearchBox with custom icon" ExampleSourceCodeForCopy="@customIconSearchBoxSampleCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">BitSeachBox component also can get a custom icon.</div>
            <div>
                <BitSearchBox Placeholder="Filter" IconName="BitIcon.Filter"></BitSearchBox>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre class="code">
            <code class="html">&ltBitSearchBox Placeholder="Filter" IconName="BitIcon.Filter">&lt/BitSearchBox></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SearchBox with fixed width" ExampleSourceCodeForCopy="@fixedWidthSearchBoxSampleCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">You can set width of searchbox by Width attribute.</div>
            <div>
                <BitSearchBox Placeholder="Search" Width="250px"></BitSearchBox>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre class="code">
            <code class="html">&ltBitSearchBox Placeholder="Search" Width="250px">&lt/BitSearchBox></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Disabled SearchBox" ExampleSourceCodeForCopy="@disabledSearchBoxSampleCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">BitSearchBox can be disabled or enabled by setting IsEnabled attribute.</div>
            <div>
                <BitSearchBox Placeholder="Search" IsEnabled=false></BitSearchBox>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre class="code">
            <code class="html">&ltBitSearchBox Placeholder="Search" IsEnabled=false>&lt/BitSearchBox></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>
</ComponentDemo>