@inherits AppComponentBase

@if (isNavOpen)
{
    <div class="nav-menu-shadow nav-menu--mobile" @onclick="@ToggleMenu"></div>
}
<div class="nav-menu @(isNavOpen is false ? "nav-menu--desktop" : null)">
    <div class="search-box-container">
        <BitSearchBox Class="nav-menu-search-box"
                      Placeholder="Search components"
                      IconName="BitIconName.Search"
                      IsUnderlined="true"
                      Value="@searchText"
                      ValueChanged="@HandleChange"
                      OnClear="@HandleClear" />
    </div>
    <div class="nav-menu-list">
        <BitNav Class="@GetNavMenuClass()"
                Items="filteredNavLinks"
                AriaLabel="Bit Component Nav"
                OnItemClick="WrapHandled<BitNavItem>(HandleLinkClick)">
        </BitNav>
    </div>
</div>