@if (isNavOpen)
{
    <div class="nav-menu-shadow nav-menu-container--mobile" @onclick="@ToggleMenu"></div>
}
<div class="nav-menu-container @(isNavOpen is false ? "nav-menu-container--desktop" : "")">
    <div class="search-box-container">
        <BitSearchBox Class="nav-menu-search-box"
                      Placeholder="Search Components"
                      IconName="BitIconName.Search"
                      Value="@searchText"
                      ValueChanged="@HandleChange"
                      OnClear="@HandleClear" />
    </div>
    <div class="nav-menu-list">
        <BitLink Class="@GetDemoLinkClassName("overview")"
                 Href="/components/overview">Overview</BitLink>
        <BitLink Class="@GetDemoLinkClassName("get-started")"
                 Href="/get-started">Get started</BitLink>
        <BitNav Class="side-nav"
                NavLinkItems="filteredNavLinks"
                RenderType="renderType"
                AriaLabel="Bit Component Nav"
                OnLinkClick="HandleLinkClick">
        </BitNav>
    </div>
</div>