<section class="main-container">
    <div class="left-box">
        <span class="box-clipart"></span>
        <span class="plane-clipart plane-clipart--top"></span>
        <div class="component-list">
            @foreach (var com in Components)
            {
                @if (com.Name == SelectedComponent.Name)
                {
                    <div class="selected-component">
                        <div class="selected-component-icon">
                            @if (com.Name == "ColorPicker")
                            {
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9667 0.383496C8.8813 0.383496 5.9223 1.61266 3.7406 3.80058C1.55891 5.98851 0.333252 8.95597 0.333252 12.0502V12.7668C0.482825 15.2835 3.50752 15.7502 5.31901 13.9335C5.91145 13.4055 6.68267 13.1244 7.47492 13.1478C8.26717 13.1712 9.02057 13.4973 9.58101 14.0593C10.1415 14.6214 10.4666 15.3769 10.4899 16.1714C10.5132 16.9659 10.233 17.7394 9.70647 18.3335C7.87836 20.2668 8.39356 23.4502 11.036 23.6668H12.0332C15.1185 23.6668 18.0775 22.4377 20.2592 20.2497C22.4409 18.0618 23.6666 15.0944 23.6666 12.0002C23.6666 8.90597 22.4409 5.93851 20.2592 3.75058C18.0775 1.56266 15.1185 0.333496 12.0332 0.333496L11.9667 0.383496ZM11.9667 22.0502H11.1025C10.8823 22.0432 10.6712 21.9609 10.5042 21.8168C10.3721 21.6796 10.2851 21.5051 10.2549 21.3168C10.2019 20.992 10.2271 20.6592 10.3283 20.3461C10.4294 20.0331 10.6037 19.7487 10.8366 19.5168C11.7016 18.6241 12.1854 17.4283 12.1854 16.1835C12.1854 14.9387 11.7016 13.7429 10.8366 12.8502C10.3936 12.4057 9.8677 12.0531 9.28883 11.8125C8.70995 11.572 8.08949 11.4482 7.46288 11.4482C6.83628 11.4482 6.21581 11.572 5.63694 11.8125C5.05807 12.0531 4.53213 12.4057 4.08919 12.8502C3.90749 13.0631 3.67518 13.2267 3.41374 13.3257C3.1523 13.4248 2.87018 13.4561 2.59346 13.4168C2.45376 13.3901 2.32591 13.3201 2.22784 13.2168C2.11366 13.0825 2.0543 12.9099 2.06165 12.7335V12.1168C2.06165 10.139 2.64647 8.20562 3.74215 6.56113C4.83783 4.91664 6.39517 3.63491 8.21723 2.87803C10.0393 2.12116 12.0442 1.92312 13.9785 2.30898C15.9128 2.69483 17.6895 3.64724 19.0841 5.04576C20.4786 6.44429 21.4283 8.22612 21.8131 10.1659C22.1978 12.1057 22.0004 14.1164 21.2456 15.9437C20.4909 17.7709 19.2128 19.3327 17.573 20.4315C15.9332 21.5303 14.0053 22.1168 12.0332 22.1168L11.9667 22.0502ZM13.6286 5.3735C13.6286 5.81552 13.4535 6.23945 13.1418 6.55201C12.8302 6.86457 12.4075 7.04016 11.9667 7.04016C11.5259 7.04016 11.1032 6.86457 10.7915 6.55201C10.4799 6.23945 10.3048 5.81552 10.3048 5.3735C10.3048 4.93147 10.4799 4.50754 10.7915 4.19498C11.1032 3.88242 11.5259 3.70683 11.9667 3.70683C12.4075 3.70683 12.8302 3.88242 13.1418 4.19498C13.4535 4.50754 13.6286 4.93147 13.6286 5.3735ZM18.6144 17.0518C18.6144 17.4939 18.4393 17.9178 18.1276 18.2303C17.8159 18.5429 17.3932 18.7185 16.9524 18.7185C16.5117 18.7185 16.089 18.5429 15.7773 18.2303C15.4656 17.9178 15.2905 17.4939 15.2905 17.0518C15.2905 16.6098 15.4656 16.1859 15.7773 15.8733C16.089 15.5608 16.5117 15.3852 16.9524 15.3852C17.3932 15.3852 17.8159 15.5608 18.1276 15.8733C18.4393 16.1859 18.6144 16.6098 18.6144 17.0518ZM6.98093 8.7185C7.42169 8.7185 7.84441 8.5429 8.15608 8.23034C8.46775 7.91778 8.64285 7.49386 8.64285 7.05183C8.64285 6.6098 8.46775 6.18588 8.15608 5.87332C7.84441 5.56076 7.42169 5.38516 6.98093 5.38516C6.54016 5.38516 6.11744 5.56076 5.80577 5.87332C5.4941 6.18588 5.31901 6.6098 5.31901 7.05183C5.31901 7.49386 5.4941 7.91778 5.80577 8.23034C6.11744 8.5429 6.54016 8.7185 6.98093 8.7185ZM18.6144 7.05183C18.6144 7.49386 18.4393 7.91778 18.1276 8.23034C17.8159 8.5429 17.3932 8.7185 16.9524 8.7185C16.5117 8.7185 16.089 8.5429 15.7773 8.23034C15.4656 7.91778 15.2905 7.49386 15.2905 7.05183C15.2905 6.6098 15.4656 6.18588 15.7773 5.87332C16.089 5.56076 16.5117 5.38516 16.9524 5.38516C17.3932 5.38516 17.8159 5.56076 18.1276 5.87332C18.4393 6.18588 18.6144 6.6098 18.6144 7.05183ZM20.2763 12.0452C20.2763 12.4872 20.1012 12.9111 19.7895 13.2237C19.4778 13.5362 19.0551 13.7118 18.6144 13.7118C18.1736 13.7118 17.7509 13.5362 17.4392 13.2237C17.1275 12.9111 16.9524 12.4872 16.9524 12.0452C16.9524 11.6031 17.1275 11.1792 17.4392 10.8667C17.7509 10.5541 18.1736 10.3785 18.6144 10.3785C19.0551 10.3785 19.4778 10.5541 19.7895 10.8667C20.1012 11.1792 20.2763 11.6031 20.2763 12.0452Z" />
                                </svg>
                            }
                            else if (com.Name == "DatePicker")
                            {
                                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1471 0C14.5717 0 14.9164 0.343812 14.9164 0.767438L14.9168 1.63496C16.4144 1.73739 17.6581 2.24915 18.5384 3.1292C19.4994 4.09208 20.0051 5.47654 20 7.13728V16.4724C20 19.8819 17.8297 22 14.3374 22H5.66254C2.17025 22 0 19.8522 0 16.3946V7.13523C0 3.91935 1.93543 1.85509 5.09197 1.63531L5.0926 0.767438C5.0926 0.343812 5.43721 0 5.86182 0C6.28644 0 6.63105 0.343812 6.63105 0.767438L6.63074 1.61571H13.3774L13.3779 0.767438C13.3779 0.343812 13.7225 0 14.1471 0ZM18.4615 9.11103H1.53846V16.3946C1.53846 19.0203 3.00307 20.4651 5.66254 20.4651H14.3374C16.9969 20.4651 18.4615 19.0469 18.4615 16.4724L18.4615 9.11103ZM14.5653 15.5496C14.9899 15.5496 15.3345 15.8934 15.3345 16.3171C15.3345 16.7407 14.9899 17.0845 14.5653 17.0845C14.1407 17.0845 13.7919 16.7407 13.7919 16.3171C13.7919 15.8934 14.1314 15.5496 14.556 15.5496H14.5653ZM10.014 15.5496C10.4386 15.5496 10.7832 15.8934 10.7832 16.3171C10.7832 16.7407 10.4386 17.0845 10.014 17.0845C9.5894 17.0845 9.24068 16.7407 9.24068 16.3171C9.24068 15.8934 9.58017 15.5496 10.0048 15.5496H10.014ZM5.45321 15.5496C5.87782 15.5496 6.22244 15.8934 6.22244 16.3171C6.22244 16.7407 5.87782 17.0845 5.45321 17.0845C5.0286 17.0845 4.67885 16.7407 4.67885 16.3171C4.67885 15.8934 5.01937 15.5496 5.44398 15.5496H5.45321ZM14.5653 11.5726C14.9899 11.5726 15.3345 11.9164 15.3345 12.34C15.3345 12.7636 14.9899 13.1074 14.5653 13.1074C14.1407 13.1074 13.7919 12.7636 13.7919 12.34C13.7919 11.9164 14.1314 11.5726 14.556 11.5726H14.5653ZM10.014 11.5726C10.4386 11.5726 10.7832 11.9164 10.7832 12.34C10.7832 12.7636 10.4386 13.1074 10.014 13.1074C9.5894 13.1074 9.24068 12.7636 9.24068 12.34C9.24068 11.9164 9.58017 11.5726 10.0048 11.5726H10.014ZM5.45321 11.5726C5.87782 11.5726 6.22244 11.9164 6.22244 12.34C6.22244 12.7636 5.87782 13.1074 5.45321 13.1074C5.0286 13.1074 4.67885 12.7636 4.67885 12.34C4.67885 11.9164 5.01937 11.5726 5.44398 11.5726H5.45321ZM13.3774 3.15059H6.63074L6.63105 4.13496C6.63105 4.55858 6.28644 4.9024 5.86182 4.9024C5.43721 4.9024 5.0926 4.55858 5.0926 4.13496L5.09205 3.17382C2.79439 3.36639 1.53846 4.75592 1.53846 7.13523V7.57615H18.4615L18.4615 7.13523C18.4656 5.87152 18.1251 4.8892 17.4492 4.21385C16.8558 3.62017 15.9885 3.2656 14.9172 3.17431L14.9164 4.13496C14.9164 4.55858 14.5717 4.9024 14.1471 4.9024C13.7225 4.9024 13.3779 4.55858 13.3779 4.13496L13.3774 3.15059Z" />
                                </svg>
                            }
                            else if (com.Name == "FileUpload")
                            {
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.13984 6.17527C5.48484 6.17527 5.76484 6.44806 5.76484 6.78417C5.76484 7.12029 5.48484 7.39308 5.13984 7.39308H4.36234C3.01317 7.39308 1.9165 8.4615 1.9165 9.77512V13.733C1.9165 15.0474 3.01317 16.1158 4.36234 16.1158H13.6373C14.9857 16.1158 16.0832 15.0474 16.0832 13.733V9.76781C16.0832 8.45826 14.9898 7.39308 13.6465 7.39308H12.8607C12.5157 7.39308 12.2357 7.12029 12.2357 6.78417C12.2357 6.44806 12.5157 6.17527 12.8607 6.17527H13.6465C15.679 6.17527 17.3332 7.78684 17.3332 9.76781V13.733C17.3332 15.7188 15.6748 17.3337 13.6373 17.3337H4.36234C2.32484 17.3337 0.666504 15.7188 0.666504 13.733V9.77512C0.666504 7.79009 2.32484 6.17527 4.36234 6.17527H5.13984ZM9.442 0.839312L11.872 3.21648C12.1153 3.45517 12.1145 3.84 11.8703 4.07706C11.6253 4.31413 11.2303 4.31413 10.987 4.07544L9.624 2.74295L9.6245 11.6529H8.3745L8.374 2.74295L7.01284 4.07544C6.89117 4.1956 6.73034 4.25486 6.57034 4.25486C6.41117 4.25486 6.25117 4.1956 6.1295 4.07706C5.88534 3.84 5.88367 3.45517 6.12784 3.21648L8.557 0.839312C8.79117 0.609552 9.20784 0.609552 9.442 0.839312Z" />
                                </svg>
                            }
                            else if (com.Name == "DropDown")
                            {
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6123 1.6665C16.4365 1.6665 18.3332 3.64817 18.3332 6.5965V13.4032C18.3332 16.3515 16.4365 18.3332 13.6123 18.3332H6.38817C3.564 18.3332 1.6665 16.3515 1.6665 13.4032V6.5965C1.6665 3.64817 3.564 1.6665 6.38817 1.6665H13.6123ZM13.6123 2.9165H6.38817C4.27984 2.9165 2.9165 4.36067 2.9165 6.5965V13.4032C2.9165 15.639 4.27984 17.0832 6.38817 17.0832H13.6123C15.7207 17.0832 17.0832 15.639 17.0832 13.4032V6.5965C17.0832 4.36067 15.7207 2.9165 13.6123 2.9165Z" />
                                    <path d="M13.5196 9.39995C13.763 9.15495 13.7621 8.75912 13.518 8.51579C13.273 8.27246 12.8771 8.27245 12.6338 8.51745L10.1838 10.9791L7.73463 8.51745C7.4913 8.27245 7.09546 8.27246 6.85046 8.51579C6.6063 8.75912 6.60463 9.15495 6.8488 9.39995L9.7413 12.305C9.85796 12.4233 10.018 12.4891 10.1838 12.4891L10.2823 12.4813C10.4119 12.4607 10.533 12.3996 10.6263 12.305L13.5196 9.39995Z" />
                                </svg>
                            }
                            else if (com.Name == "Nav (TreeList)")
                            {
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.6665 5H17.4998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M6.6665 10H17.4998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M6.6665 15H17.4998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.5 5H2.50833" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.5 10H2.50833" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.5 15H2.50833" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            }
                        </div>
                        <div class="selected-component-name">@SelectedComponent.Name</div>
                        <div class="selected-component-desc">@SelectedComponent.Description</div>
                        <a class="demo-btn" href="@SelectedComponent.Url">More about @SelectedComponent.Name</a>
                    </div>
                }
                else
                {
                    <div class="component-row" @onclick="@(() => SelectComponent(com))">
                        <div class="component-row-icon">
                            @if (com.Name == "ColorPicker")
                            {
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9667 0.383496C8.8813 0.383496 5.9223 1.61266 3.7406 3.80058C1.55891 5.98851 0.333252 8.95597 0.333252 12.0502V12.7668C0.482825 15.2835 3.50752 15.7502 5.31901 13.9335C5.91145 13.4055 6.68267 13.1244 7.47492 13.1478C8.26717 13.1712 9.02057 13.4973 9.58101 14.0593C10.1415 14.6214 10.4666 15.3769 10.4899 16.1714C10.5132 16.9659 10.233 17.7394 9.70647 18.3335C7.87836 20.2668 8.39356 23.4502 11.036 23.6668H12.0332C15.1185 23.6668 18.0775 22.4377 20.2592 20.2497C22.4409 18.0618 23.6666 15.0944 23.6666 12.0002C23.6666 8.90597 22.4409 5.93851 20.2592 3.75058C18.0775 1.56266 15.1185 0.333496 12.0332 0.333496L11.9667 0.383496ZM11.9667 22.0502H11.1025C10.8823 22.0432 10.6712 21.9609 10.5042 21.8168C10.3721 21.6796 10.2851 21.5051 10.2549 21.3168C10.2019 20.992 10.2271 20.6592 10.3283 20.3461C10.4294 20.0331 10.6037 19.7487 10.8366 19.5168C11.7016 18.6241 12.1854 17.4283 12.1854 16.1835C12.1854 14.9387 11.7016 13.7429 10.8366 12.8502C10.3936 12.4057 9.8677 12.0531 9.28883 11.8125C8.70995 11.572 8.08949 11.4482 7.46288 11.4482C6.83628 11.4482 6.21581 11.572 5.63694 11.8125C5.05807 12.0531 4.53213 12.4057 4.08919 12.8502C3.90749 13.0631 3.67518 13.2267 3.41374 13.3257C3.1523 13.4248 2.87018 13.4561 2.59346 13.4168C2.45376 13.3901 2.32591 13.3201 2.22784 13.2168C2.11366 13.0825 2.0543 12.9099 2.06165 12.7335V12.1168C2.06165 10.139 2.64647 8.20562 3.74215 6.56113C4.83783 4.91664 6.39517 3.63491 8.21723 2.87803C10.0393 2.12116 12.0442 1.92312 13.9785 2.30898C15.9128 2.69483 17.6895 3.64724 19.0841 5.04576C20.4786 6.44429 21.4283 8.22612 21.8131 10.1659C22.1978 12.1057 22.0004 14.1164 21.2456 15.9437C20.4909 17.7709 19.2128 19.3327 17.573 20.4315C15.9332 21.5303 14.0053 22.1168 12.0332 22.1168L11.9667 22.0502ZM13.6286 5.3735C13.6286 5.81552 13.4535 6.23945 13.1418 6.55201C12.8302 6.86457 12.4075 7.04016 11.9667 7.04016C11.5259 7.04016 11.1032 6.86457 10.7915 6.55201C10.4799 6.23945 10.3048 5.81552 10.3048 5.3735C10.3048 4.93147 10.4799 4.50754 10.7915 4.19498C11.1032 3.88242 11.5259 3.70683 11.9667 3.70683C12.4075 3.70683 12.8302 3.88242 13.1418 4.19498C13.4535 4.50754 13.6286 4.93147 13.6286 5.3735ZM18.6144 17.0518C18.6144 17.4939 18.4393 17.9178 18.1276 18.2303C17.8159 18.5429 17.3932 18.7185 16.9524 18.7185C16.5117 18.7185 16.089 18.5429 15.7773 18.2303C15.4656 17.9178 15.2905 17.4939 15.2905 17.0518C15.2905 16.6098 15.4656 16.1859 15.7773 15.8733C16.089 15.5608 16.5117 15.3852 16.9524 15.3852C17.3932 15.3852 17.8159 15.5608 18.1276 15.8733C18.4393 16.1859 18.6144 16.6098 18.6144 17.0518ZM6.98093 8.7185C7.42169 8.7185 7.84441 8.5429 8.15608 8.23034C8.46775 7.91778 8.64285 7.49386 8.64285 7.05183C8.64285 6.6098 8.46775 6.18588 8.15608 5.87332C7.84441 5.56076 7.42169 5.38516 6.98093 5.38516C6.54016 5.38516 6.11744 5.56076 5.80577 5.87332C5.4941 6.18588 5.31901 6.6098 5.31901 7.05183C5.31901 7.49386 5.4941 7.91778 5.80577 8.23034C6.11744 8.5429 6.54016 8.7185 6.98093 8.7185ZM18.6144 7.05183C18.6144 7.49386 18.4393 7.91778 18.1276 8.23034C17.8159 8.5429 17.3932 8.7185 16.9524 8.7185C16.5117 8.7185 16.089 8.5429 15.7773 8.23034C15.4656 7.91778 15.2905 7.49386 15.2905 7.05183C15.2905 6.6098 15.4656 6.18588 15.7773 5.87332C16.089 5.56076 16.5117 5.38516 16.9524 5.38516C17.3932 5.38516 17.8159 5.56076 18.1276 5.87332C18.4393 6.18588 18.6144 6.6098 18.6144 7.05183ZM20.2763 12.0452C20.2763 12.4872 20.1012 12.9111 19.7895 13.2237C19.4778 13.5362 19.0551 13.7118 18.6144 13.7118C18.1736 13.7118 17.7509 13.5362 17.4392 13.2237C17.1275 12.9111 16.9524 12.4872 16.9524 12.0452C16.9524 11.6031 17.1275 11.1792 17.4392 10.8667C17.7509 10.5541 18.1736 10.3785 18.6144 10.3785C19.0551 10.3785 19.4778 10.5541 19.7895 10.8667C20.1012 11.1792 20.2763 11.6031 20.2763 12.0452Z" />
                                </svg>
                            }
                            else if (com.Name == "DatePicker")
                            {
                                <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1471 0C14.5717 0 14.9164 0.343812 14.9164 0.767438L14.9168 1.63496C16.4144 1.73739 17.6581 2.24915 18.5384 3.1292C19.4994 4.09208 20.0051 5.47654 20 7.13728V16.4724C20 19.8819 17.8297 22 14.3374 22H5.66254C2.17025 22 0 19.8522 0 16.3946V7.13523C0 3.91935 1.93543 1.85509 5.09197 1.63531L5.0926 0.767438C5.0926 0.343812 5.43721 0 5.86182 0C6.28644 0 6.63105 0.343812 6.63105 0.767438L6.63074 1.61571H13.3774L13.3779 0.767438C13.3779 0.343812 13.7225 0 14.1471 0ZM18.4615 9.11103H1.53846V16.3946C1.53846 19.0203 3.00307 20.4651 5.66254 20.4651H14.3374C16.9969 20.4651 18.4615 19.0469 18.4615 16.4724L18.4615 9.11103ZM14.5653 15.5496C14.9899 15.5496 15.3345 15.8934 15.3345 16.3171C15.3345 16.7407 14.9899 17.0845 14.5653 17.0845C14.1407 17.0845 13.7919 16.7407 13.7919 16.3171C13.7919 15.8934 14.1314 15.5496 14.556 15.5496H14.5653ZM10.014 15.5496C10.4386 15.5496 10.7832 15.8934 10.7832 16.3171C10.7832 16.7407 10.4386 17.0845 10.014 17.0845C9.5894 17.0845 9.24068 16.7407 9.24068 16.3171C9.24068 15.8934 9.58017 15.5496 10.0048 15.5496H10.014ZM5.45321 15.5496C5.87782 15.5496 6.22244 15.8934 6.22244 16.3171C6.22244 16.7407 5.87782 17.0845 5.45321 17.0845C5.0286 17.0845 4.67885 16.7407 4.67885 16.3171C4.67885 15.8934 5.01937 15.5496 5.44398 15.5496H5.45321ZM14.5653 11.5726C14.9899 11.5726 15.3345 11.9164 15.3345 12.34C15.3345 12.7636 14.9899 13.1074 14.5653 13.1074C14.1407 13.1074 13.7919 12.7636 13.7919 12.34C13.7919 11.9164 14.1314 11.5726 14.556 11.5726H14.5653ZM10.014 11.5726C10.4386 11.5726 10.7832 11.9164 10.7832 12.34C10.7832 12.7636 10.4386 13.1074 10.014 13.1074C9.5894 13.1074 9.24068 12.7636 9.24068 12.34C9.24068 11.9164 9.58017 11.5726 10.0048 11.5726H10.014ZM5.45321 11.5726C5.87782 11.5726 6.22244 11.9164 6.22244 12.34C6.22244 12.7636 5.87782 13.1074 5.45321 13.1074C5.0286 13.1074 4.67885 12.7636 4.67885 12.34C4.67885 11.9164 5.01937 11.5726 5.44398 11.5726H5.45321ZM13.3774 3.15059H6.63074L6.63105 4.13496C6.63105 4.55858 6.28644 4.9024 5.86182 4.9024C5.43721 4.9024 5.0926 4.55858 5.0926 4.13496L5.09205 3.17382C2.79439 3.36639 1.53846 4.75592 1.53846 7.13523V7.57615H18.4615L18.4615 7.13523C18.4656 5.87152 18.1251 4.8892 17.4492 4.21385C16.8558 3.62017 15.9885 3.2656 14.9172 3.17431L14.9164 4.13496C14.9164 4.55858 14.5717 4.9024 14.1471 4.9024C13.7225 4.9024 13.3779 4.55858 13.3779 4.13496L13.3774 3.15059Z" />
                                </svg>
                            }
                            else if (com.Name == "FileUpload")
                            {
                                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.13984 6.17527C5.48484 6.17527 5.76484 6.44806 5.76484 6.78417C5.76484 7.12029 5.48484 7.39308 5.13984 7.39308H4.36234C3.01317 7.39308 1.9165 8.4615 1.9165 9.77512V13.733C1.9165 15.0474 3.01317 16.1158 4.36234 16.1158H13.6373C14.9857 16.1158 16.0832 15.0474 16.0832 13.733V9.76781C16.0832 8.45826 14.9898 7.39308 13.6465 7.39308H12.8607C12.5157 7.39308 12.2357 7.12029 12.2357 6.78417C12.2357 6.44806 12.5157 6.17527 12.8607 6.17527H13.6465C15.679 6.17527 17.3332 7.78684 17.3332 9.76781V13.733C17.3332 15.7188 15.6748 17.3337 13.6373 17.3337H4.36234C2.32484 17.3337 0.666504 15.7188 0.666504 13.733V9.77512C0.666504 7.79009 2.32484 6.17527 4.36234 6.17527H5.13984ZM9.442 0.839312L11.872 3.21648C12.1153 3.45517 12.1145 3.84 11.8703 4.07706C11.6253 4.31413 11.2303 4.31413 10.987 4.07544L9.624 2.74295L9.6245 11.6529H8.3745L8.374 2.74295L7.01284 4.07544C6.89117 4.1956 6.73034 4.25486 6.57034 4.25486C6.41117 4.25486 6.25117 4.1956 6.1295 4.07706C5.88534 3.84 5.88367 3.45517 6.12784 3.21648L8.557 0.839312C8.79117 0.609552 9.20784 0.609552 9.442 0.839312Z" />
                                </svg>
                            }
                            else if (com.Name == "DropDown")
                            {
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6123 1.6665C16.4365 1.6665 18.3332 3.64817 18.3332 6.5965V13.4032C18.3332 16.3515 16.4365 18.3332 13.6123 18.3332H6.38817C3.564 18.3332 1.6665 16.3515 1.6665 13.4032V6.5965C1.6665 3.64817 3.564 1.6665 6.38817 1.6665H13.6123ZM13.6123 2.9165H6.38817C4.27984 2.9165 2.9165 4.36067 2.9165 6.5965V13.4032C2.9165 15.639 4.27984 17.0832 6.38817 17.0832H13.6123C15.7207 17.0832 17.0832 15.639 17.0832 13.4032V6.5965C17.0832 4.36067 15.7207 2.9165 13.6123 2.9165Z" />
                                    <path d="M13.5196 9.39995C13.763 9.15495 13.7621 8.75912 13.518 8.51579C13.273 8.27246 12.8771 8.27245 12.6338 8.51745L10.1838 10.9791L7.73463 8.51745C7.4913 8.27245 7.09546 8.27246 6.85046 8.51579C6.6063 8.75912 6.60463 9.15495 6.8488 9.39995L9.7413 12.305C9.85796 12.4233 10.018 12.4891 10.1838 12.4891L10.2823 12.4813C10.4119 12.4607 10.533 12.3996 10.6263 12.305L13.5196 9.39995Z" />
                                </svg>
                            }
                            else if (com.Name == "Nav (TreeList)")
                            {
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6.6665 5H17.4998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M6.6665 10H17.4998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M6.6665 15H17.4998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.5 5H2.50833" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.5 10H2.50833" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M2.5 15H2.50833" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            }
                        </div>
                        <div class="component-row-name">@com.Name</div>
                    </div>
                }
            }
        </div>
    </div>

    <div class="right-box">
        <span class="plane-clipart plane-clipart--bottom"></span>
        <div class="top-bar">
            <div class="top-bar-tab @(ActiveTab == "demo" ? "actvie-tab" : "")" @onclick="@(() => SelectTab("demo"))">Demo</div>
            <div class="top-bar-tab @(ActiveTab == "code" ? "actvie-tab" : "")" @onclick="@(() => SelectTab("code"))">Code</div>
        </div>

        <div class="tab-content" style="@(ActiveTab != "demo" ? "padding: 0" : null)">
            @if (ActiveTab == "demo")
            {
                @if (SelectedComponent.Name == "ColorPicker")
                {
                    <BitColorPicker ShowPreview="true" @bind-Alpha="@Alpha" @bind-Color="@ColorRgb">Default ColorPicker</BitColorPicker>
                }
                else if (SelectedComponent.Name == "DatePicker")
                {
                    <BitDatePicker Style="width: 300px"
                           ShowWeekNumbers="true">
                    </BitDatePicker>
                }
                else if (SelectedComponent.Name == "FileUpload")
                {
                    <BitFileUpload IsMultiSelect="true"
                           Label="Select files"
                           UploadUrl="@UploadUrl"
                           RemoveUrl="@RemoveUrl"
                           Style="flex-grow:1; max-width:none;">
                    </BitFileUpload>
                }
                else if (SelectedComponent.Name == "DropDown")
                {
                    <BitDropDown Label="Multi-select uncontrolled"
                         Items="GetDropdownItems()"
                         Placeholder="Select options"
                         IsMultiSelect="true"
                         Style="width: 290px; margin-bottom: 20px;">
                    </BitDropDown>
                }
                else if (SelectedComponent.Name == "Nav (TreeList)")
                {
                    <BitNav Style="width: 208px;
                       height: 350px;
                       box-sizing: border-box;
                       border: 1px solid #eee;
                       overflow-y: auto;"
                    NavLinkItems="BasicNavLinks"
                    AriaLabel="Nav basic example"
                    SelectedKey="key3">
                    </BitNav>
                }
            }
            else
            {
                @if (SelectedComponent.Name == "ColorPicker")
                {
                    <pre class="code">
                    <code class="html">&ltBitColorPicker ShowPreview="&#64;IsToggleChecked" &#64;ref="ColorPicker" &#64;bind-Color="&#64;Color" ShowAlphaSlider="false">Default ColorPicker&lt/BitColorPicker>
                                </code>
                    <code class="csharp">
        private BitColorPicker ColorPicker;
        private string Color = "#FFFFFF";
        private bool IsToggleChecked = false;
                                </code>
                            </pre>
                }
                else if (SelectedComponent.Name == "DatePicker")
                {
                    <pre class="code">
                    <code class="html">&ltBitDatePicker Style="width: 300px" ShowWeekNumbers="true"> &lt/BitDatePicker>
                                </code>
                            </pre>
                }
                else if (SelectedComponent.Name == "FileUpload")
                {
                    <pre class="code">
                    <code class="html">
        &ltBitFileUpload Label="Select or drag and drop files"
                                        IsMultiSelect="true"    
                                        UploadUrl="&#64;UploadUrl"
                                        RemoveUrl="&#64;RemoveUrl"
                                        Style="flex-grow:1; max-width:none;">
                                &lt/BitFileUpload>
                                </code>
                    <code class="csharp">
        private string UploadUrl;
        private string RemoveUrl;
                                </code>
                            </pre>
                }
                else if (SelectedComponent.Name == "DropDown")
                {
                    <pre class="code">
                    <code class="html">&ltBitDropDown Label="Multi-select controlled"
                                        Items="GetDropdownItems()"
                                        Placeholder="Select options"
                                        &#64;bind-SelectedMultipleKeys="ControlledSelectedMultipleKeys"
                                        IsMultiSelect="true"
                                        Style="width:290px; margin:20px 0 20px 0">
                                &lt/BitDropDown>
                                </code>
                    <code class="csharp">
        private List&ltstring> ControlledSelectedMultipleKeys = new List&ltstring>() { "Apple", "Banana", "Grape" };
        private List&ltBitDropDownItem> GetDropdownItems()
        {
            List&ltBitDropDownItem> items = new();

            items.Add(new BitDropDownItem()
            {
                ItemType = BitDropDownItemType.Header,
                Text = "Fruits"
            });

            items.Add(new BitDropDownItem()
            {
                ItemType = BitDropDownItemType.Normal,
                Text = "Apple",
                Value = "f-app"
            });

            items.Add(new BitDropDownItem()
            {
                ItemType = BitDropDownItemType.Normal,
                Text = "Orange",
                Value = "f-ora",
                IsEnabled = false
            });

            items.Add(new BitDropDownItem()
            {
                ItemType = BitDropDownItemType.Normal,
                Text = "Banana",
                Value = "f-ban",
            });

            items.Add(new BitDropDownItem()
            {
                ItemType = BitDropDownItemType.Divider,
            });

            items.Add(new BitDropDownItem()
            {
                ItemType = BitDropDownItemType.Header,
                Text = "Vegetables"
            });

            items.Add(new BitDropDownItem()
            {
                ItemType = BitDropDownItemType.Normal,
                Text = "Broccoli",
                Value = "v-bro",
            });

            return items;
        }
                                </code>
                            </pre>
                }
                else if (SelectedComponent.Name == "Nav (TreeList)")
                {
                    <pre class="code">
                    <code class="html">&ltBitNav Style="width: 208px;
                                       height: 350px;
                                       box-sizing: border-box;
                                       border: 1px solid #eee;
                                       overflow-y: auto;"
                                        NavLinkItems="BasicNavLinks"
                                        AriaLabel="Nav basic example"
                                        SelectedKey="key3">
                                &lt/BitNav>
                                </code>
                    <code class="csharp">
        private readonly List&ltBitNavLinkItem> BasicNavLinks = new()
        {
                new BitNavLinkItem
                {
                        Name = "Home",
                        Url = "http://example.com",
                        ExpandAriaLabel = "Expand Home section",
                        CollapseAriaLabel = "Collapse Home section",
                        IsExpanded = true,
                        Links = new List&ltBitNavLinkItem>
                        {
                                new BitNavLinkItem { Name = "Activity", Url = "http://msn.com", Key = "key1", Target="_blank" },
                                new BitNavLinkItem { Name = "MSN", Url = "http://msn.com", Key = "key2", IsEnabled = false, Target = "_blank" }
                        }
                },
                new BitNavLinkItem { Name = "Documents", Url = "http://example.com", Key = "key3", Target = "_blank", IsExpanded = true },
                new BitNavLinkItem { Name = "Pages", Url = "http://msn.com", Key = "key4", Target = "_parent" },
                new BitNavLinkItem { Name = "Notebook", Url = "http://msn.com", Key = "key5", IsEnabled = false },
                new BitNavLinkItem { Name = "Communication and Media", Url = "http://msn.com", Key = "key6", Target = "_top" },
                new BitNavLinkItem { Name = "News", Title = "News", Url = "http://msn.com", Key = "key7", Icon = "News", Target = "_self" },
        };
                                </code>
                            </pre>
                }
            }
        </div>
    </div>
</section>

<section class="card-container">
    @foreach (var com in Components)
    {
        <a class="card" href="@com.Url">
            <div class="card-icon">
                @if (com.Name == "ColorPicker")
                {
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9667 0.383496C8.8813 0.383496 5.9223 1.61266 3.7406 3.80058C1.55891 5.98851 0.333252 8.95597 0.333252 12.0502V12.7668C0.482825 15.2835 3.50752 15.7502 5.31901 13.9335C5.91145 13.4055 6.68267 13.1244 7.47492 13.1478C8.26717 13.1712 9.02057 13.4973 9.58101 14.0593C10.1415 14.6214 10.4666 15.3769 10.4899 16.1714C10.5132 16.9659 10.233 17.7394 9.70647 18.3335C7.87836 20.2668 8.39356 23.4502 11.036 23.6668H12.0332C15.1185 23.6668 18.0775 22.4377 20.2592 20.2497C22.4409 18.0618 23.6666 15.0944 23.6666 12.0002C23.6666 8.90597 22.4409 5.93851 20.2592 3.75058C18.0775 1.56266 15.1185 0.333496 12.0332 0.333496L11.9667 0.383496ZM11.9667 22.0502H11.1025C10.8823 22.0432 10.6712 21.9609 10.5042 21.8168C10.3721 21.6796 10.2851 21.5051 10.2549 21.3168C10.2019 20.992 10.2271 20.6592 10.3283 20.3461C10.4294 20.0331 10.6037 19.7487 10.8366 19.5168C11.7016 18.6241 12.1854 17.4283 12.1854 16.1835C12.1854 14.9387 11.7016 13.7429 10.8366 12.8502C10.3936 12.4057 9.8677 12.0531 9.28883 11.8125C8.70995 11.572 8.08949 11.4482 7.46288 11.4482C6.83628 11.4482 6.21581 11.572 5.63694 11.8125C5.05807 12.0531 4.53213 12.4057 4.08919 12.8502C3.90749 13.0631 3.67518 13.2267 3.41374 13.3257C3.1523 13.4248 2.87018 13.4561 2.59346 13.4168C2.45376 13.3901 2.32591 13.3201 2.22784 13.2168C2.11366 13.0825 2.0543 12.9099 2.06165 12.7335V12.1168C2.06165 10.139 2.64647 8.20562 3.74215 6.56113C4.83783 4.91664 6.39517 3.63491 8.21723 2.87803C10.0393 2.12116 12.0442 1.92312 13.9785 2.30898C15.9128 2.69483 17.6895 3.64724 19.0841 5.04576C20.4786 6.44429 21.4283 8.22612 21.8131 10.1659C22.1978 12.1057 22.0004 14.1164 21.2456 15.9437C20.4909 17.7709 19.2128 19.3327 17.573 20.4315C15.9332 21.5303 14.0053 22.1168 12.0332 22.1168L11.9667 22.0502ZM13.6286 5.3735C13.6286 5.81552 13.4535 6.23945 13.1418 6.55201C12.8302 6.86457 12.4075 7.04016 11.9667 7.04016C11.5259 7.04016 11.1032 6.86457 10.7915 6.55201C10.4799 6.23945 10.3048 5.81552 10.3048 5.3735C10.3048 4.93147 10.4799 4.50754 10.7915 4.19498C11.1032 3.88242 11.5259 3.70683 11.9667 3.70683C12.4075 3.70683 12.8302 3.88242 13.1418 4.19498C13.4535 4.50754 13.6286 4.93147 13.6286 5.3735ZM18.6144 17.0518C18.6144 17.4939 18.4393 17.9178 18.1276 18.2303C17.8159 18.5429 17.3932 18.7185 16.9524 18.7185C16.5117 18.7185 16.089 18.5429 15.7773 18.2303C15.4656 17.9178 15.2905 17.4939 15.2905 17.0518C15.2905 16.6098 15.4656 16.1859 15.7773 15.8733C16.089 15.5608 16.5117 15.3852 16.9524 15.3852C17.3932 15.3852 17.8159 15.5608 18.1276 15.8733C18.4393 16.1859 18.6144 16.6098 18.6144 17.0518ZM6.98093 8.7185C7.42169 8.7185 7.84441 8.5429 8.15608 8.23034C8.46775 7.91778 8.64285 7.49386 8.64285 7.05183C8.64285 6.6098 8.46775 6.18588 8.15608 5.87332C7.84441 5.56076 7.42169 5.38516 6.98093 5.38516C6.54016 5.38516 6.11744 5.56076 5.80577 5.87332C5.4941 6.18588 5.31901 6.6098 5.31901 7.05183C5.31901 7.49386 5.4941 7.91778 5.80577 8.23034C6.11744 8.5429 6.54016 8.7185 6.98093 8.7185ZM18.6144 7.05183C18.6144 7.49386 18.4393 7.91778 18.1276 8.23034C17.8159 8.5429 17.3932 8.7185 16.9524 8.7185C16.5117 8.7185 16.089 8.5429 15.7773 8.23034C15.4656 7.91778 15.2905 7.49386 15.2905 7.05183C15.2905 6.6098 15.4656 6.18588 15.7773 5.87332C16.089 5.56076 16.5117 5.38516 16.9524 5.38516C17.3932 5.38516 17.8159 5.56076 18.1276 5.87332C18.4393 6.18588 18.6144 6.6098 18.6144 7.05183ZM20.2763 12.0452C20.2763 12.4872 20.1012 12.9111 19.7895 13.2237C19.4778 13.5362 19.0551 13.7118 18.6144 13.7118C18.1736 13.7118 17.7509 13.5362 17.4392 13.2237C17.1275 12.9111 16.9524 12.4872 16.9524 12.0452C16.9524 11.6031 17.1275 11.1792 17.4392 10.8667C17.7509 10.5541 18.1736 10.3785 18.6144 10.3785C19.0551 10.3785 19.4778 10.5541 19.7895 10.8667C20.1012 11.1792 20.2763 11.6031 20.2763 12.0452Z" />
                    </svg>
                }
                else if (com.Name == "DatePicker")
                {
                    <svg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.1471 0C14.5717 0 14.9164 0.343812 14.9164 0.767438L14.9168 1.63496C16.4144 1.73739 17.6581 2.24915 18.5384 3.1292C19.4994 4.09208 20.0051 5.47654 20 7.13728V16.4724C20 19.8819 17.8297 22 14.3374 22H5.66254C2.17025 22 0 19.8522 0 16.3946V7.13523C0 3.91935 1.93543 1.85509 5.09197 1.63531L5.0926 0.767438C5.0926 0.343812 5.43721 0 5.86182 0C6.28644 0 6.63105 0.343812 6.63105 0.767438L6.63074 1.61571H13.3774L13.3779 0.767438C13.3779 0.343812 13.7225 0 14.1471 0ZM18.4615 9.11103H1.53846V16.3946C1.53846 19.0203 3.00307 20.4651 5.66254 20.4651H14.3374C16.9969 20.4651 18.4615 19.0469 18.4615 16.4724L18.4615 9.11103ZM14.5653 15.5496C14.9899 15.5496 15.3345 15.8934 15.3345 16.3171C15.3345 16.7407 14.9899 17.0845 14.5653 17.0845C14.1407 17.0845 13.7919 16.7407 13.7919 16.3171C13.7919 15.8934 14.1314 15.5496 14.556 15.5496H14.5653ZM10.014 15.5496C10.4386 15.5496 10.7832 15.8934 10.7832 16.3171C10.7832 16.7407 10.4386 17.0845 10.014 17.0845C9.5894 17.0845 9.24068 16.7407 9.24068 16.3171C9.24068 15.8934 9.58017 15.5496 10.0048 15.5496H10.014ZM5.45321 15.5496C5.87782 15.5496 6.22244 15.8934 6.22244 16.3171C6.22244 16.7407 5.87782 17.0845 5.45321 17.0845C5.0286 17.0845 4.67885 16.7407 4.67885 16.3171C4.67885 15.8934 5.01937 15.5496 5.44398 15.5496H5.45321ZM14.5653 11.5726C14.9899 11.5726 15.3345 11.9164 15.3345 12.34C15.3345 12.7636 14.9899 13.1074 14.5653 13.1074C14.1407 13.1074 13.7919 12.7636 13.7919 12.34C13.7919 11.9164 14.1314 11.5726 14.556 11.5726H14.5653ZM10.014 11.5726C10.4386 11.5726 10.7832 11.9164 10.7832 12.34C10.7832 12.7636 10.4386 13.1074 10.014 13.1074C9.5894 13.1074 9.24068 12.7636 9.24068 12.34C9.24068 11.9164 9.58017 11.5726 10.0048 11.5726H10.014ZM5.45321 11.5726C5.87782 11.5726 6.22244 11.9164 6.22244 12.34C6.22244 12.7636 5.87782 13.1074 5.45321 13.1074C5.0286 13.1074 4.67885 12.7636 4.67885 12.34C4.67885 11.9164 5.01937 11.5726 5.44398 11.5726H5.45321ZM13.3774 3.15059H6.63074L6.63105 4.13496C6.63105 4.55858 6.28644 4.9024 5.86182 4.9024C5.43721 4.9024 5.0926 4.55858 5.0926 4.13496L5.09205 3.17382C2.79439 3.36639 1.53846 4.75592 1.53846 7.13523V7.57615H18.4615L18.4615 7.13523C18.4656 5.87152 18.1251 4.8892 17.4492 4.21385C16.8558 3.62017 15.9885 3.2656 14.9172 3.17431L14.9164 4.13496C14.9164 4.55858 14.5717 4.9024 14.1471 4.9024C13.7225 4.9024 13.3779 4.55858 13.3779 4.13496L13.3774 3.15059Z" />
                    </svg>
                }
                else if (com.Name == "FileUpload")
                {
                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.13984 6.17527C5.48484 6.17527 5.76484 6.44806 5.76484 6.78417C5.76484 7.12029 5.48484 7.39308 5.13984 7.39308H4.36234C3.01317 7.39308 1.9165 8.4615 1.9165 9.77512V13.733C1.9165 15.0474 3.01317 16.1158 4.36234 16.1158H13.6373C14.9857 16.1158 16.0832 15.0474 16.0832 13.733V9.76781C16.0832 8.45826 14.9898 7.39308 13.6465 7.39308H12.8607C12.5157 7.39308 12.2357 7.12029 12.2357 6.78417C12.2357 6.44806 12.5157 6.17527 12.8607 6.17527H13.6465C15.679 6.17527 17.3332 7.78684 17.3332 9.76781V13.733C17.3332 15.7188 15.6748 17.3337 13.6373 17.3337H4.36234C2.32484 17.3337 0.666504 15.7188 0.666504 13.733V9.77512C0.666504 7.79009 2.32484 6.17527 4.36234 6.17527H5.13984ZM9.442 0.839312L11.872 3.21648C12.1153 3.45517 12.1145 3.84 11.8703 4.07706C11.6253 4.31413 11.2303 4.31413 10.987 4.07544L9.624 2.74295L9.6245 11.6529H8.3745L8.374 2.74295L7.01284 4.07544C6.89117 4.1956 6.73034 4.25486 6.57034 4.25486C6.41117 4.25486 6.25117 4.1956 6.1295 4.07706C5.88534 3.84 5.88367 3.45517 6.12784 3.21648L8.557 0.839312C8.79117 0.609552 9.20784 0.609552 9.442 0.839312Z" />
                    </svg>
                }
                else if (com.Name == "DropDown")
                {
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M13.6123 1.6665C16.4365 1.6665 18.3332 3.64817 18.3332 6.5965V13.4032C18.3332 16.3515 16.4365 18.3332 13.6123 18.3332H6.38817C3.564 18.3332 1.6665 16.3515 1.6665 13.4032V6.5965C1.6665 3.64817 3.564 1.6665 6.38817 1.6665H13.6123ZM13.6123 2.9165H6.38817C4.27984 2.9165 2.9165 4.36067 2.9165 6.5965V13.4032C2.9165 15.639 4.27984 17.0832 6.38817 17.0832H13.6123C15.7207 17.0832 17.0832 15.639 17.0832 13.4032V6.5965C17.0832 4.36067 15.7207 2.9165 13.6123 2.9165Z" />
                        <path d="M13.5196 9.39995C13.763 9.15495 13.7621 8.75912 13.518 8.51579C13.273 8.27246 12.8771 8.27245 12.6338 8.51745L10.1838 10.9791L7.73463 8.51745C7.4913 8.27245 7.09546 8.27246 6.85046 8.51579C6.6063 8.75912 6.60463 9.15495 6.8488 9.39995L9.7413 12.305C9.85796 12.4233 10.018 12.4891 10.1838 12.4891L10.2823 12.4813C10.4119 12.4607 10.533 12.3996 10.6263 12.305L13.5196 9.39995Z" />
                    </svg>
                }
                else if (com.Name == "Nav (TreeList)")
                {
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.6665 5H17.4998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.6665 10H17.4998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M6.6665 15H17.4998" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M2.5 5H2.50833" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M2.5 10H2.50833" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M2.5 15H2.50833" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                }
            </div>
            <div class="card-name">@com.Name</div>
        </a>
    }
</section>
