@*+:cnd:noEmit*@
@attribute [Route(Urls.SettingsPage + "/{Section?}")]
@attribute [Route("{culture?}" + Urls.SettingsPage + "/{Section?}")]
@attribute [Authorize]
@inherits AppPageBase

<PageTitle>@Localizer[nameof(AppStrings.SettingsPageTitle)]</PageTitle>

<section>
    <BitStack Class="stack">
        <Accordion @bind-Value="@openedAccordion"
                   Name="@Urls.SettingsSections.Profile"
                   Title="@Localizer[nameof(AppStrings.ProfileTitle)]"
                   Subtitle="@Localizer[nameof(AppStrings.ProfileSubtitle)]">
            <ProfileSection Loading="isLoading" User="user" />
        </Accordion>

        <Accordion @bind-Value="@openedAccordion"
                   Name="@Urls.SettingsSections.Account"
                   Title="@Localizer[nameof(AppStrings.AccountTitle)]"
                   Subtitle="@Localizer[nameof(AppStrings.AccountSubtitle)]">
            <BitPivot Alignment="BitAlignment.Center">
                <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Email)]">
                    <ChangeEmailSection Email="@user?.Email" />
                </BitPivotItem>
                <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Phone)]">
                    <ChangePhoneNumberSection PhoneNumber="@user?.PhoneNumber" />
                </BitPivotItem>
                <BitPivotItem>
                    <Header>
                        <BitText Color="BitColor.Error">@Localizer[nameof(AppStrings.Delete)]</BitText>
                    </Header>
                    <Body>
                        <DeleteAccountSection />
                    </Body>
                </BitPivotItem>
            </BitPivot>
        </Accordion>

        <Accordion @bind-Value="@openedAccordion"
                   Name="@Urls.SettingsSections.Tfa"
                   Title="@Localizer[nameof(AppStrings.TfaTitle)]"
                   Subtitle="@Localizer[nameof(AppStrings.TfaSubtitle)]">
            <TwoFactorSection />
        </Accordion>

        <Accordion @bind-Value="@openedAccordion"
                   Name="@Urls.SettingsSections.Sessions"
                   Title="@Localizer[nameof(AppStrings.SessionsTitle)]"
                   Subtitle="@Localizer[nameof(AppStrings.SessionsSubtitle)]">
            <SessionsSection />
        </Accordion>
    </BitStack>
</section>