@attribute [Route(Urls.HomePage)]
@attribute [Route("{culture?}" + Urls.HomePage)]
@inherits AppPageBase

<PageTitle>@Localizer[nameof(AppStrings.HomeTitle)]</PageTitle>

<section>
    <BitStack Alignment="BitAlignment.Center" Gap="2rem">
        <BitText Typography="BitTypography.H3" Align="BitTextAlign.Center">
            @Localizer[nameof(AppStrings.HomeTitle)]
        </BitText>

        <BitText Typography="BitTypography.H6" Align="BitTextAlign.Center">
            @Localizer[nameof(AppStrings.HomeMessage)]
        </BitText>

        <br />

        <BitButton Href="https://github.com/bitfoundation/bitplatform/tree/develop/src/Templates/Boilerplate"
                   Target="_blank"
                   Variant="BitVariant.Outline"
                   Title="@Localizer[nameof(AppStrings.GitHubRepo)]">
            @Localizer[nameof(AppStrings.GitHubRepo)]
        </BitButton>
    </BitStack>
</section>