@*+:cnd:noEmit*@
@attribute [Route(Urls.HomePage)]
@attribute [Route("{culture:nonfile?}" + Urls.HomePage)]
@attribute [AppResponseCache(SharedMaxAge = 3600 * 24)]
@inherits AppPageBase

<PageTitle>@Localizer[nameof(AppStrings.HomePageTitle)]</PageTitle>

<section>
    <BitStack Alignment="BitAlignment.Center" Gap="2rem" Class="root-stack">
        <BitText Typography="BitTypography.H4" Align="BitTextAlign.Center">
            @Localizer[nameof(AppStrings.HomePanelTitle)]
            <br />
            @Localizer[nameof(AppStrings.HomePanelSubtitle)]
        </BitText>

        <BitText Typography="BitTypography.H6" Align="BitTextAlign.Center">
            @Localizer[nameof(AppStrings.HomeMessage)]
        </BitText>

        <br />

        @*#if (module == "Sales")*@
        @if (carouselProducts is null)
        {
            <BitCard FullWidth Background="BitColorKind.Tertiary">
                <BitStack Horizontal Class="carousel-stack">
                    <ProductImage Width="50%" />
                    <BitStack AutoHeight>
                        <BitShimmer Height="5rem" Width="100%" />
                        <BitShimmer Height="1rem" Width="100%" />
                        <BitShimmer Height="1rem" Width="100%" />
                        <BitShimmer Height="3rem" Width="100%" />
                    </BitStack>
                </BitStack>
            </BitCard>
        }
        else
        {
            <BitCard FullWidth>
                <BitCarousel Class="carousel" AutoPlay AutoPlayInterval="5000" HideNextPrev InfiniteScrolling>
                    @foreach (var product in carouselProducts)
                    {
                        <BitCarouselItem>
                            <BitStack Horizontal Class="carousel-stack">
                                <ProductImage Src="@GetProductImageUrl(product)" Width="50%" />
                                <BitStack AutoHeight>
                                    <BitLink Href="@($"/product/{product.Id}")" NoUnderline>
                                        <BitText Typography="BitTypography.H1">@product.Name</BitText>
                                    </BitLink>
                                    <BitText Typography="BitTypography.H6" Class="carousel-desc">@product.Description</BitText>
                                    <BitText Typography="BitTypography.H4">@product.FormattedPrice</BitText>

                                </BitStack>
                            </BitStack>
                        </BitCarouselItem>
                    }
                </BitCarousel>
            </BitCard>
        }
        <br />
        <BitInfiniteScrolling ItemsProvider="LoadProducts" Class="products-inf-scr" ScrollerSelector="body" LastElementHeight="96px" Preload>
            <ItemTemplate Context="product">
                <BitLink Href="@($"/product/{product.Id}")" NoUnderline Class="product-item">
                    <BitCard FullSize>
                        <BitStack Class="product-stack">
                            <ProductImage Src="@GetProductImageUrl(product)" Width="100%" />
                            <BitText>@product.Name</BitText>
                            <BitText Typography="BitTypography.Body2">@product.Description</BitText>
                            <BitText Typography="BitTypography.H6">@product.FormattedPrice</BitText>
                        </BitStack>
                    </BitCard>
                </BitLink>
            </ItemTemplate>
            <LoadingTemplate>
                <BitStack>
                    <BitCard FullSize Class="product-item">
                        <BitStack Class="product-stack">
                            <ProductImage Width="100%" />
                            <BitShimmer Height="1rem" Width="100%" />
                            <BitShimmer Height="1rem" Width="100%" />
                            <BitShimmer Height="2rem" Width="100%" />
                        </BitStack>
                    </BitCard>
                </BitStack>
            </LoadingTemplate>
        </BitInfiniteScrolling>
        @*#endif*@

        @*#if (module != "Sales")*@
        <CascadingValue Value="BitDir.Ltr">
            <BitCard FullWidth Style="padding:2rem">
                <BitStack>
                    <BitText Typography="BitTypography.H5">Statistics</BitText>
                    <BitPivot Style="width:100%" Styles="@(new() { Body = "overflow:auto" })">
                        <BitPivotItem HeaderText="Nuget">
                            @if (isLoadingNuget)
                            {
                                <BitStack HorizontalAlign="BitAlignment.Center">
                                    <BitRippleLoading />
                                </BitStack>
                            }
                            else if (nugetStats is not null)
                            {
                                var data = nugetStats.Data[0];
                                <BitStack>
                                    <BitStack Horizontal>
                                        <BitText>Package id:</BitText>
                                        <BitText><b>@data.Id</b></BitText>
                                    </BitStack>
                                    <BitStack Horizontal>
                                        <BitText>Version:</BitText>
                                        <BitText><b>@data.Version</b></BitText>
                                    </BitStack>
                                    <BitStack Horizontal>
                                        <BitText>Total downloads:</BitText>
                                        <BitText><b>@data.TotalDownloads.ToString("N0")</b></BitText>
                                    </BitStack>
                                </BitStack>
                            }
                            else
                            {
                                <BitText Typography="BitTypography.H4">Nuget stats could not be loaded.</BitText>
                            }
                        </BitPivotItem>
                        <BitPivotItem HeaderText="GitHub">
                            @if (isLoadingGitHub)
                            {
                                <BitStack HorizontalAlign="BitAlignment.Center">
                                    <BitRippleLoading />
                                </BitStack>
                            }
                            else if (gitHubStats is not null)
                            {
                                <BitStack>
                                    <BitStack Horizontal>
                                        <BitText>Name:</BitText>
                                        <BitText><b>@gitHubStats.Name</b></BitText>
                                    </BitStack>
                                    <BitStack Horizontal>
                                        <BitText>Total stars:</BitText>
                                        <BitText><b>@gitHubStats.StargazersCount.ToString("N0")</b></BitText>
                                    </BitStack>
                                    <BitStack Horizontal>
                                        <BitText>Forks count:</BitText>
                                        <BitText><b>@gitHubStats.ForksCount.ToString("N0")</b></BitText>
                                    </BitStack>
                                    <BitStack Horizontal>
                                        <BitText>Repo:</BitText>
                                        @*-:cnd:noEmit*@
                                        <BitLink Target="_blank"
                                                 Href="https://github.com/bitfoundation/bitplatform/tree/develop/src/Templates/Boilerplate">
                                            <BitImage Alt="bitplatform GitHub stars"
                                                      Src="https://img.shields.io/github/stars/bitfoundation/bitplatform?style=social&label=Github%20%E2%9C%A8" />
                                        </BitLink>
                                        @*+:cnd:noEmit*@
                                    </BitStack>
                                </BitStack>
                            }
                            else
                            {
                                <BitText Typography="BitTypography.H4">GitHub stats could not be loaded.</BitText>
                            }
                        </BitPivotItem>
                    </BitPivot>
                </BitStack>
            </BitCard>
        </CascadingValue>
        <br />
        @*#endif*@

        <BitCard FullWidth Style="padding:4rem">
            <BitStack HorizontalAlign="BitAlignment.Center">
                <BitText Typography="BitTypography.H5">bit platform</BitText>
                <BitText Typography="BitTypography.Body1" Align="BitTextAlign.Center">@Localizer[nameof(AppStrings.BitPlatformMessage)]</BitText>
                <BitLink Href="https://bitplatform.dev" Target="_blank" NoUnderline>
                    <BitStack Horizontal VerticalAlign="BitAlignment.Baseline" Gap="0.5rem">
                        @Localizer[nameof(AppStrings.LearnMore)]
                        <BitIcon Size="BitSize.Small" IconName="@(currentDir is BitDir.Rtl ? BitIconName.ChromeBack : BitIconName.ChromeBackMirrored)" />
                    </BitStack>
                </BitLink>
                <BitLink Href="https://www.nuget.org/profiles/bit-foundation" Target="_blank" NoUnderline>
                    <BitImage Src="https://img.shields.io/badge/packages_download-5.7M-blue.svg?logo=nuget" Alt="nuget downloads" />
                </BitLink>
            </BitStack>
        </BitCard>

        <BitStack Horizontal Gap="2rem" Class="bit-products-stack">
            <BitCard Style="padding:3rem" FullWidth>
                <BitStack HorizontalAlign="BitAlignment.Center">
                    <BitText Typography="BitTypography.H5">bit BlazorUI</BitText>
                    <BitText Typography="BitTypography.Body1" Align="BitTextAlign.Center">
                        @Localizer[nameof(AppStrings.BitBlazorUIMessage)]
                    </BitText>
                    <BitButton Variant="BitVariant.Outline" Href="https://www.youtube.com/watch?v=ahgpbDAshmY" Target="_blank">
                        @Localizer[nameof(AppStrings.WatchVideo)]
                    </BitButton>
                    <BitLink Href="https://blazorui.bitplatform.dev/" Target="_blank" NoUnderline>
                        <BitStack Horizontal VerticalAlign="BitAlignment.Baseline" Gap="0.5rem">
                            @Localizer[nameof(AppStrings.LearnMore)]
                            <BitIcon Size="BitSize.Small" IconName="@(currentDir is BitDir.Rtl ? BitIconName.ChromeBack : BitIconName.ChromeBackMirrored)" />
                        </BitStack>
                    </BitLink>
                </BitStack>
            </BitCard>

            <BitCard Style="padding:3rem" FullWidth>
                <BitStack HorizontalAlign="BitAlignment.Center">
                    <BitText Typography="BitTypography.H5">bit project template</BitText>
                    <BitText Typography="BitTypography.Body1" Align="BitTextAlign.Center">
                        @Localizer[nameof(AppStrings.BitProjectTemplateMessage)]
                    </BitText>
                    <BitButton Variant="BitVariant.Outline" Href="https://www.youtube.com/watch?v=UjdWBvb0xac" Target="_blank">
                        @Localizer[nameof(AppStrings.WatchVideo)]
                    </BitButton>
                    <BitLink Href="https://bitplatform.dev/templates/overview/" Target="_blank" NoUnderline>
                        <BitStack Horizontal VerticalAlign="BitAlignment.Baseline" Gap="0.5rem">
                            @Localizer[nameof(AppStrings.LearnMore)]
                            <BitIcon Size="BitSize.Small" IconName="@(currentDir is BitDir.Rtl ? BitIconName.ChromeBack : BitIconName.ChromeBackMirrored)" />
                        </BitStack>
                    </BitLink>
                </BitStack>
            </BitCard>
        </BitStack>
        @*#endif*@
    </BitStack>
</section>