@attribute [Route(Urls.HomePage)]
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.HomeTitle)]</PageTitle>

<div class="page-container">
    <section class="page-section hero-section">
        <h1 class="hero-section-title">@Localizer[nameof(AppStrings.HomeTitle)]</h1>

        <div class="hero-section-desc">@Localizer[nameof(AppStrings.HomeMessage)]</div>

        <BitButton Href="https://github.com/bitfoundation/bitplatform/tree/develop/src/Templates/Boilerplate"
                   Target="_blank"
                   Variant="BitVariant.Outline"
                   Title="@Localizer[nameof(AppStrings.GitHubRepo)]">
            @Localizer[nameof(AppStrings.GitHubRepo)]
        </BitButton>
    </section>
</div>
