@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     class="@ClassBuilder.Value"
     style="@StyleBuilder.Value"
     aria-label="@AriaLabel">
    @for (int item = 0; item < Max; item++)
    {
        var index = item;
        <button @onclick="() => HandleClick(index + 1)" aria-label="@AriaLabel">
            <div>
                <i class="@RatingColorClasses[index] bit-icon bit-icon--@RatingIcons[index]"></i>
            </div>
        </button>
    }
</div>
