@inherits AppComponentBase

<section>
    <BitStack HorizontalAlign="BitAlignment.Center">
        <BitText Typography="BitTypography.H4">@Localizer[nameof(AppStrings.TwoFactorAuthTitle)]</BitText>
        <BitText Gutter>@Localizer[nameof(AppStrings.TfaProtectedSignInSubtitle)]</BitText>

        <BitPivot>
            <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.TwoFactorCode)]">
                <BitTextField @bind-Value="Model.TwoFactorCode"
                              Label="@Localizer[nameof(AppStrings.TfaEnterCodeInSignInMessage)]"
                              AutoComplete="@BitAutoCompleteValue.OneTimeCode"
                              Placeholder="@Localizer[nameof(AppStrings.TwoFactorCode)]" />
            </BitPivotItem>

            <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.TwoFactorRecoveryCode)]">
                <BitTextField @bind-Value="Model.TwoFactorRecoveryCode"
                              Label="@Localizer[nameof(AppStrings.TfaEnterRecoveryCodeInSignInMessage)]"
                              AutoComplete="@BitAutoCompleteValue.OneTimeCode"
                              Placeholder="@Localizer[nameof(AppStrings.TwoFactorRecoveryCode)]" />
            </BitPivotItem>
            <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.TwoFactorToken)]">
                <div>@Localizer[nameof(AppStrings.TfaTokenSignInTitle)]</div>
                <BitButton ButtonType="BitButtonType.Button" OnClick="WrapHandled(async () => await OnSendTfaToken.InvokeAsync())">
                    @Localizer[nameof(AppStrings.TfaTokenGenerateButtonText)]
                </BitButton>
                <BitTextField @bind-Value="Model.TwoFactorToken" Style="flex-grow:1"
                              AutoComplete="@BitAutoCompleteValue.OneTimeCode"
                              Placeholder="@Localizer[nameof(AppStrings.TwoFactorToken)]" />
            </BitPivotItem>
        </BitPivot>
    </BitStack>
</section>