@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div class="bit-rbo-wrapper">
        <input id="@InputId"
               class="bit-rbo-input"
               aria-label="@AriaLabel"
               type="radio"
               checked=@IsChecked
               name="@Name"
               value="@Value"
               hidden
               required="@(RadioButtonGroup?.IsRequired ?? false)"
               @onclick="@HandleClick"
               @onchange="@HandleChange" />

        <label for="@InputId" class="@GetLabelClassNameStr()">
            @if (ImageSrc.HasValue())
            {
                <div class="bit-rbo-img-inner-field">
                    <div class="bit-rbo-img-wrapper">
                        <div class="bit-rbo-img" style="@imageSizeStyle">
                            <img src="@(isChecked ? SelectedImageSrc : ImageSrc)" alt="@ImageAlt">
                        </div>
                    </div>
                </div>
            }

            @if (IconName.HasValue)
            {
                <div class="bit-rbo-icon-inner-field">
                    <div class="bit-rbo-icon-wrapper">
                        <i aria-hidden="true" class="bit-icon bit-icon--@IconName.GetName()"></i>
                    </div>
                </div>
            }

            @if (ImageSrc.HasValue() || IconName.HasValue)
            {
                <div class="bit-rbo-txt-wrapper">
                    <span class="bit-rbo-txt" id="@TextId">
                        @Text
                    </span>
                </div>
            }
            else
            {
                <span class="bit-rbo-txt" id="@TextId">
                    @Text
                </span>
            }
        </label>
    </div>
</div>