@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase
<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div role="radiogroup" aria-labelledby="@GetAriaLabelledBy()">
        @if (LabelFragment != null)
        {
            <label class="bit-rbg-label-@(VisualClassRegistrar())" id="@LabelId" disabled="@(IsEnabled is false)">
                @LabelFragment
            </label>
        }
        else if (Label.HasValue())
        {
            <label class="bit-rbg-label-@(VisualClassRegistrar())" id="@LabelId" disabled="@(IsEnabled is false)">
                @Label
            </label>
        }

        <div class="choice-field-group">
            <CascadingValue Value="this"
                            IsFixed="true">
                @ChildContent
            </CascadingValue>
        </div>
    </div>
</div>