@page "/privacy"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.PrivacyPolicyTitle)]</PageTitle>

<div class="page-container">
    <div class="page-content">
        <section class="main-section">
            <h1 class="main-section-title">@Localizer[nameof(AppStrings.PrivacyPolicyTitle)]</h1>
            <div class="section-desc">
                @Localizer[nameof(AppStrings.PrivacyPolicySectionMessage)]
            </div>
        </section>

        <section class="sub-section">
            <h2 class="sub-section-title">@Localizer[nameof(AppStrings.PrivacyPolicyTitle)]</h2>
            <div class="section-desc">
                @Localizer[nameof(AppStrings.PrivacyPolicyPageMessage)]
            </div>
        </section>
    </div>
</div>
