@page "/components/spin-button"

<ComponentDemo ComponentName="SpinButton" ComponentDescription="A spin button (SpinButton) allows someone to incrementally adjust a value in small steps. It’s mainly used for numeric values, but other values are supported too."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitSpinButton" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">Files can be uploaded automatically after selecting them.</div>
            <BitSpinButton @bind-Value="BasicSpinButtonValue"
                           Min="0"
                           Max="100"
                           Step="1"
                           Label="Basic SpinButton">
            </BitSpinButton>
            <BitSpinButton Min="-10"
                           Max="10"
                           Step="0.1"
                           Label="Decimal SpinButton">
            </BitSpinButton>
            <BitSpinButton @bind-Value="BasicSpinButtonDisableValue"
                           Min="0"
                           Max="100"
                           Step="1"
                           Label="Disabled SpinButton"
                           IsEnabled="false">
            </BitSpinButton>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SpinButton With Icon" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">Multiple files can be selected to upload automatically.</div>
            <BitSpinButton IconName="BitIconName.IncreaseIndentLegacy"
                           Min="0"
                           Max="100"
                           Step="1"
                           Label="With Icon">
            </BitSpinButton>
            <BitSpinButton IconName="BitIconName.IncreaseIndentLegacy"
                           Min="0"
                           Max="100"
                           Step="1"
                           Label="Disabled With Icon"
                           IsEnabled="false">
            </BitSpinButton>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SpinButton With Suffix" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">Multiple files can be selected to upload automatically with limited size.</div>
            <BitSpinButton Suffix="Inch"
                           Min="0"
                           Max="100"
                           Step="1"
                           Label="With suffix">
            </BitSpinButton>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SpinButton With Label Above" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">Single or multiple file uploading limited only by file extensions, which in this case the allowed file extensions include gif, jpg and mp4.</div>
            <BitSpinButton @bind-Value="SpinButtonWithLabelAboveValue"
                           Suffix="cm"
                           Min="0"
                           Max="100"
                           Step="1"
                           Label="With Labal Above"
                           LabelPosition="@BitSpinButtonLabelPosition.Top">
            </BitSpinButton>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Custom Styled SpinButton" example5HTMLCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <BitSpinButton Class="custom-spb"
                           Min="0"
                           Max="100"
                           Step="1"
                           Label="Custom Styled">
            </BitSpinButton>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Controlled SpinButton" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-desc">
                A controlled BitSpinButton provides two-way binding using either bind-value or Value parameters. With bind-value all the changes to the value can be seen by its parent
                but using Value, a custom handler should be implemented to reflect the changes outside the component.
            </div>
            <BitSpinButton Label="Controlled SpinButton with bind-value"
                           @bind-Value="BitSpinButtonBindValue"
                           Min="0"
                           Max="100"
                           Step="1">
            </BitSpinButton>
            <BitSpinButton Label="Controlled SpinButton with Value"
                           Value="BitSpinButtonValueChanged"
                           ValueChanged="HandleControlledSpinButtonValueChange"
                           Min="0"
                           Max="100"
                           Step="1">
            </BitSpinButton>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>