@page "/edit-profile"
@attribute [Authorize]

<PageTitle>Edit profile</PageTitle>

<div class="page-container">
    <form class="form--white">
        @if (HasMessageBar)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@(IsSuccessMessageBar ? BitMessageBarType.Success : BitMessageBarType.Error)"
                       OnDismiss="() => HasMessageBar = false">
                @MessageBarText
            </BitMessageBar>
        }
        <h1 class="form-title">
            Edit profile
        </h1>
        <div class="form-profile-container">
            <div class="form-profile-photo">
                @{
                    if (!string.IsNullOrEmpty(UserProfilePhotoUrl))
                    {
                      <img src="@UserProfilePhotoUrl" class="profile-photo"/>
                    }
                    else
                    {
                        @User?.UserName?.ToUpper()[..2]
                    }
                }
            </div>
            <div class="form-profile-email">
                @User?.UserName
            </div>
        </div>
        <div class="form-input-container">
            <BitLabel>Profile photo</BitLabel>
            <BitFileUpload Label="Select or drag and drops files"
                           UploadUrl="@ProfilePhotoUploadUrl"
                           RemoveUrl="@ProfilePhotoRemoveUrl"></BitFileUpload>
        </div>
        <div class="form-input-container">
            <BitLabel>Full-Name</BitLabel>
            <BitTextField @bind-Value="User!.FullName"></BitTextField>
        </div>
        <div class="form-input-container">
            <BitLabel>Birthday</BitLabel>
            <BitDatePicker @bind-Value="User!.BirthDate"></BitDatePicker>
        </div>
        <div class="form-choice-container">
            <BitLabel>Gender</BitLabel>
            <BitChoiceGroup @bind-SelectedKey="SelectedGender">
                <BitChoiceOption Key="@Gender.Male.ToString()" Text="Male"></BitChoiceOption>
                <BitChoiceOption Key="@Gender.Female.ToString()" Text="Famale"></BitChoiceOption>
                <BitChoiceOption Key="@Gender.Custom.ToString()" Text="Custom"></BitChoiceOption>
            </BitChoiceGroup>
        </div>
        <BitButton Class="form-submit-button" ButtonStyle="BitButtonStyle.Primary" IsEnabled="true" OnClick="Save">
            Save
        </BitButton>
    </form>
</div>