@page "/sign-up"

@inherits TodoTemplateComponentBase;

<PageTitle>Sign up</PageTitle>

<div class="page-container">
    <EditForm Model="SignUpModel" OnValidSubmit="WrapHandled(DoSignUp)" class="form--white">

        <DataAnnotationsValidator />

        @if (string.IsNullOrEmpty(SignUpMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@SignUpMessageType"
                       OnDismiss="() => SignUpMessage = null">
                @SignUpMessage
            </BitMessageBar>
        }
        <h1 class="form-title">
            Sign up
        </h1>

        @if (IsSignedUp)
        {
            <BitButton Class="form-submit-button"
                ButtonStyle="BitButtonStyle.Primary"
                Title="Re-send link"
                AriaLabel="Re-send link"
                OnClick="WrapHandled(ResendLink)">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>Re-send Link</span>
                }
            </BitButton>
        }
        else
        {
            <div class="form-input-container">
                <BitLabel>Email</BitLabel>
                <BitTextField @bind-Value="SignUpModel.Email" Placeholder="Email" />
                <ValidationMessage For="@(() => SignUpModel.Email)" />
            </div>
            <div class="form-input-container">
                <BitLabel>Password</BitLabel>
                <BitTextField @bind-Value="SignUpModel.Password"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="Password" />
                <ValidationMessage For="@(() => SignUpModel.Password)" />
            </div>

            <div>
                <BitCheckbox Class="form-checkbox" @bind-Value="SignUpModel.IsAcceptPrivacy">
                    I agree to the <BitLink Href="/privacy" Target="_blank">Bit Privacy Policy</BitLink>
                </BitCheckbox>
                <ValidationMessage For="@(() => SignUpModel.IsAcceptPrivacy)" />
            </div>

            <BitButton Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       Title="Sign up"
                       AriaLabel="Sign up"
                       IsEnabled="@context.Validate()"
                       ButtonType="BitButtonType.Submit">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>Sign up</span>
                }
            </BitButton>

            <div>
                Already on Bit? <BitLink Href="/sign-in">Sign in</BitLink>
            </div>
        }

    </EditForm>
</div>