@page "/sign-up"

<div class="page-container">
    <form class="form--white">
        @if (HasMessageBar)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@(OnClickSignUpResponse.IsSuccessStatusCode ? BitMessageBarType.Success : BitMessageBarType.Error)"
                       OnDismiss="() => HasMessageBar = false">
                @(OnClickSignUpResponse.IsSuccessStatusCode ? "Sign-up successfully" : OnClickSignUpResponse.StatusCode.ToString())
            </BitMessageBar>
        }
        <h1 class="form-title">
            Create your free account
        </h1>
        <div class="form-input-container">
            <BitLabel>Email</BitLabel>
            <BitTextField Placeholder="Email" @bind-Value="Email"></BitTextField>
            <div class="form-input-error">@(EmailError ?? string.Empty)</div>
        </div>
        <div class="form-input-container">
            <BitLabel>Password</BitLabel>
            <BitTextField Type="BitTextFieldType.Password" CanRevealPassword="true" Placeholder="Password" @bind-Value="Password"></BitTextField>
            <div class="form-input-error">@(PasswordError ?? string.Empty)</div>
        </div>
        <BitCheckbox Class="form-checkbox" @bind-IsChecked="IsAcceptPrivacy">
            Accept <BitLink Href="/privacy" Target="_blank">privacy and policy</BitLink>
        </BitCheckbox>
        <BitButton Class="form-submit-button" ButtonStyle="BitButtonStyle.Primary" IsEnabled="@(IsAcceptPrivacy)" OnClick="OnClickSignUp">
            Sign up
        </BitButton>
        <div>
            Already have an account? <BitLink Href="/sign-in">Sign in</BitLink>
        </div>
    </form>
</div>