@page "/todo"
@attribute [Authorize]

<div class="page-container">
    <div class="todo-form-white">
        <div class="search-todo-container">
            <BitSearchBox Class="todo-input" Placeholder="Search some todo..."></BitSearchBox>
        </div>
        <div class="todo-content">
            <h2 class="todo-title">Todos</h2>
            <div class="add-todo-container">
                <BitTextField @bind-Value="NewTodoItemTitle" Placeholder="Add a todo" Class="todo-input"></BitTextField>
                @if (IsLoading)
                {
                    <BitSpinner Class="todo-spinner"></BitSpinner>
                }
                else
                {
                    <BitButton OnClick="AddTodoItem" Class="todo-button" IsEnabled="@(string.IsNullOrEmpty(NewTodoItemTitle) is false)">
                        Add
                    </BitButton>
                }
            </div>
            <div class="todo-items-container">
                <div class="todo-sort-container">
                    <BitIconButton IconName="BitIconName.Sort"></BitIconButton>
                    <BitLabel Class="todo-sort-lbl">Sort by</BitLabel>
                </div>
                <BitPivot>
                    <BitPivotItem Class="todo-pivot-tab" HeaderText="All">
                        <div class="todo-items">
                            @if (TodoItemList?.Count != 0)
                            {
                                <BitBasicList Items="@TodoItemList" Virtualize="true">
                                    <RowTemplate>
                                        <div class="item">
                                            @if (!context.IsInEditMode)
                                        {
                                            <div class="todo-info">
                                                <BitCheckbox>@context.Title</BitCheckbox>
                                                <BitLabel Class="todo-date">@context.Date.ToString("MMMM dd , yyyy , dddd")</BitLabel>
                                            </div>
                                            <div class="todo-buttons-container">
                                                <BitIconButton IconName="BitIconName.Edit" OnClick="@(() => context.IsInEditMode = true)"></BitIconButton>
                                                <BitIconButton IconName="BitIconName.Delete" OnClick="@(() => DeleteTodoItem(context.Id))"></BitIconButton>
                                            </div>
                                        }
                                        else
                                        {
                                            <BitTextField Class="todo-input" @bind-Value="context.Title"></BitTextField>
                                            <div>
                                                <BitButton OnClick="@(() => EditTodoItem(context))">Edit</BitButton>
                                                <BitButton ButtonStyle="BitButtonStyle.Standard" Class="todo-button" OnClick="@(()=> context.IsInEditMode = false)">Cancel</BitButton>
                                            </div>
                                        }
                                    </div>
                                </RowTemplate>
                            </BitBasicList>
                            }
                            else
                            {
                                <div class="todo-empty">
                                    <img src="/images/empty-todo.svg">
                                    <BitLabel>No todos yet</BitLabel>
                                </div>
                            }
                        </div>
                    </BitPivotItem>
                    <BitPivotItem Class="todo-pivot-tab" HeaderText="Active">
                        <div class="todo-items">
                        </div>
                    </BitPivotItem>
                    <BitPivotItem Class="todo-pivot-tab" HeaderText="Completed">
                        <div class="todo-items">
                        </div>
                    </BitPivotItem>
                </BitPivot>
            </div>
        </div>
    </div>
</div>
