@page "/todo"
<div class="page-container">
    <div class="todo-form-white">
        <div class="search-todo-container">
            <BitSearchBox Class="todo-input" Placeholder="Search some todo..."></BitSearchBox>
        </div>
        <div class="todo-content">
            <h2 class="todo-title">Todos</h2>
            <div class="add-todo-container">
                <BitTextField @bind-Value="TodoItem.Title" Placeholder="Add a todo" Class="todo-input"></BitTextField>
                @if (IsLoading)
                {
                    <BitSpinner Class="todo-spinner"></BitSpinner>
                }
                else
                {
                    <BitButton OnClick="AddTodoItem" Class="todo-button"
                           IsEnabled="@(!string.IsNullOrEmpty(TodoItem.Title))">Add</BitButton>
                }
            </div>
            <div class="todo-items-container">
                <div class="todo-sort-container">
                    <BitIconButton IconName="BitIconName.Sort"></BitIconButton>
                    <BitLabel Class="todo-sort-lbl">Sort by</BitLabel>
                </div>
                <BitPivot>
                    <BitPivotItem Class="todo-pivot-tab" HeaderText="All">
                        <div class="todo-items">
                            @if (TodoList.Count != 0)
                            {
                                <BitBasicList Items="@TodoList" Virtualize="true">
                                    <RowTemplate Context="TodoItem">
                                        <div class="item">
                                            @if (!TodoItem.IsEdit)
                                        {
                                            <div class="todo-info">
                                                <BitCheckbox>@TodoItem.Title</BitCheckbox>
                                                <BitLabel Class="todo-date">@TodoItem.Date.ToString("MMMM dd , yyyy , dddd")</BitLabel>
                                            </div>
                                            <div class="todo-buttons-container">
                                                <BitIconButton IconName="BitIconName.Edit" OnClick="@(()=> ToggleItem(TodoItem))"></BitIconButton>
                                                <BitIconButton IconName="BitIconName.Delete" OnClick="@(()=> DeleteTodoItem(TodoItem.Id))"></BitIconButton>
                                            </div>
                                        }
                                        else
                                        {
                                            <BitTextField Class="todo-input" @bind-Value="TodoItem.Title"></BitTextField>
                                            <div>
                                                <BitButton OnClick="@(()=>EditTodoItem(TodoItem))">Edit</BitButton>
                                                <BitButton ButtonStyle="BitButtonStyle.Standard" Class="todo-button" OnClick="@(()=> ToggleItem(TodoItem))">Cancel</BitButton>
                                            </div>
                                        }
                                    </div>
                                </RowTemplate>
                            </BitBasicList>
                            }
                            else
                            {
                                <div class="todo-empty">
                                    <img src="/images/empty-todo.svg">
                                    <BitLabel>No todos yet</BitLabel>
                                </div>
                            }
                        </div>
                    </BitPivotItem>
                    <BitPivotItem Class="todo-pivot-tab" HeaderText="Active">
                        <div class="todo-items">
                        </div>
                    </BitPivotItem>
                    <BitPivotItem Class="todo-pivot-tab" HeaderText="Completed">
                        <div class="todo-items">
                        </div>
                    </BitPivotItem>
                </BitPivot>
            </div>
        </div>
    </div>
</div>
