@page "/email-confirmation"

@inherits AppComponentBase;

<PageTitle>@Localizer[nameof(AppStrings.EmailConfirmationTitle)]</PageTitle>

<div class="page-container">
    <div class="form--white">
        @if (string.IsNullOrEmpty(EmailConfirmationMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@EmailConfirmationMessageType"
                       OnDismiss="() => EmailConfirmationMessage = null">
                @EmailConfirmationMessage
            </BitMessageBar>
        }
        @if (EmailConfirmed)
        {
            <h1 class="form-title">
                @Localizer[nameof(AppStrings.EmailConfirmedSuccessfullyMessage)]
            </h1>
            <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   Title="@Localizer[nameof(AppStrings.SignIn)]"
                   AriaLabel="@Localizer[nameof(AppStrings.SignIn)]"
                   OnClick="WrapHandled(RedirectToSignIn)">
                <span>@Localizer[nameof(AppStrings.SignIn)]</span>
            </BitButton>
        }
        else
        {
            <h1 class="form-title">
                @Localizer[nameof(AppStrings.EmailConfirmationFailedMessage)]
            </h1>
            <div class="form-description">
                @Localizer[nameof(AppStrings.InvalidConfirmationLinkMessage)]
            </div>
            <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   IsEnabled="@(IsLoading is false)"
                   Title="@Localizer[nameof(AppStrings.ResendEmail)]"
                   AriaLabel="@Localizer[nameof(AppStrings.ResendEmail)]"
                   OnClick="WrapHandled(ResendLink)">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitElementSize.Small"></BitSpinner>
                }
                else
                {
                    <span>@Localizer[nameof(AppStrings.ResendEmail)]</span>
                }
            </BitButton>
        }
    </div>
</div>