@page "/forgot-password"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.ForgetPasswordTitle)]</PageTitle>

<div class="page-container">
    <EditForm Model="_forgotPasswordModel" OnValidSubmit="WrapHandled(DoSubmit)" class="form--white">
        <AppDataAnnotationsValidator />

        @if (string.IsNullOrEmpty(_forgotPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                           MessageBarType="@_forgotPasswordMessageType"
                           OnDismiss="() => _forgotPasswordMessage = null">
                @_forgotPasswordMessage
            </BitMessageBar>
        }

        <h1 class="form-title">@Localizer[nameof(AppStrings.ForgetPasswordTitle)]</h1>

        <div class="form-description">
            @Localizer[nameof(AppStrings.ForgetPasswordMessage)]
        </div>

        <div class="form-input-container">
            <BitTextField @bind-Value="_forgotPasswordModel.Email"
                          Label="@Localizer[nameof(AppStrings.Email)]"
                          Placeholder="@Localizer[nameof(AppStrings.Email)]"
                          Type="BitTextFieldType.Email" />
            <ValidationMessage For="@(() => _forgotPasswordModel.Email)" />
        </div>

        <BitLoadingButton IsLoading="_isLoading"
                          Class="form-submit-button"
                          ButtonStyle="BitButtonStyle.Primary"
                          Title="@Localizer[nameof(AppStrings.Submit)]"
                          AriaLabel="@Localizer[nameof(AppStrings.Submit)]"
                          ButtonType="BitButtonType.Submit">
            @Localizer[nameof(AppStrings.Submit)]
        </BitLoadingButton>
    </EditForm>
</div>