@page "/reset-password"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.ResetPasswordTitle)]</PageTitle>

<div class="page-container">
    <EditForm Model="_resetPasswordModel" OnValidSubmit="WrapHandled(DoSubmit)" class="form--white">
        <AppDataAnnotationsValidator />

        @if (string.IsNullOrEmpty(_resetPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                           MessageBarType="@_resetPasswordMessageType"
                           OnDismiss="() => _resetPasswordMessage = null">
                @_resetPasswordMessage
            </BitMessageBar>
        }

        <h1 class="form-title">@Localizer[nameof(AppStrings.ResetPasswordTitle)]</h1>
        <div class="form-input-container">
            <BitTextField @bind-Value="_resetPasswordModel.Password"
                          Label="@Localizer[nameof(AppStrings.NewPassword)]"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="@Localizer[nameof(AppStrings.NewPassword)]" />
            <ValidationMessage For="@(() => _resetPasswordModel.Password)" />
        </div>

        <div class="form-input-container">
            <BitTextField @bind-Value="_resetPasswordModel.ConfirmPassword"
                          Label="@Localizer[nameof(AppStrings.ConfirmNewPassword)]"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="@Localizer[nameof(AppStrings.ConfirmNewPassword)]" />
            <ValidationMessage For="@(() => _resetPasswordModel.ConfirmPassword)" />
        </div>

        <BitLoadingButton IsLoading="_isLoading"
                          Class="form-submit-button"
                          ButtonStyle="BitButtonStyle.Primary"
                          Title="@Localizer[nameof(AppStrings.Submit)]"
                          AriaLabel="@Localizer[nameof(AppStrings.Submit)]"
                          ButtonType="BitButtonType.Submit">
            @Localizer[nameof(AppStrings.ResetPassword)]
        </BitLoadingButton>
    </EditForm>
</div>
