@page "/reset-password"

@inherits AppComponentBase;

<PageTitle>@Localizer[nameof(AppStrings.ResetPasswordTitle)]</PageTitle>

<div class="page-container">
    <EditForm Model="ResetPasswordModel" OnValidSubmit="WrapHandled(Submit)" class="form--white">

        <AppDataAnnotationsValidator />

        @if (string.IsNullOrEmpty(ResetPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                       MessageBarType="@ResetPasswordMessageType"
                       OnDismiss="() => ResetPasswordMessage = null">
                @ResetPasswordMessage
            </BitMessageBar>
        }
        <h1 class="form-title">@Localizer[nameof(AppStrings.ResetPasswordTitle)]</h1>
        <div class="form-input-container">
            <BitTextField Label="@Localizer[nameof(AppStrings.NewPassword)]"
                          @bind-Value="ResetPasswordModel.Password"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="@Localizer[nameof(AppStrings.NewPassword)]" />
            <ValidationMessage For="@(() => ResetPasswordModel.Password)" />
        </div>
        <div class="form-input-container">
            <BitTextField Label="@Localizer[nameof(AppStrings.ConfirmNewPassword)]"
                          @bind-Value="ResetPasswordModel.ConfirmPassword"
                          Type="BitTextFieldType.Password"
                          CanRevealPassword="true"
                          Placeholder="@Localizer[nameof(AppStrings.ConfirmNewPassword)]" />
            <ValidationMessage For="@(() => ResetPasswordModel.ConfirmPassword)" />
        </div>
        <BitButton Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   IsEnabled="IsSubmitButtonEnabled"
                   Title="@Localizer[nameof(AppStrings.Submit)]"
                   AriaLabel="@Localizer[nameof(AppStrings.Submit)]"
                   ButtonType="BitButtonType.Submit">
            @if (IsLoading)
            {
                <BitSpinner Size="BitElementSize.Small"></BitSpinner>
            }
            else
            {
                <span>@Localizer[nameof(AppStrings.ResetPassword)]</span>
            }
        </BitButton>
    </EditForm>
</div>