@page "/todo"

@inherits AppComponentBase;

<PageTitle>@Localizer[nameof(AppStrings.TodoTitle)]</PageTitle>

<div class="page-container">
    <div class="page-content--white">
        <div class="search-box-container">
            <BitSearchBox OnChange="TodoItemSearch"
                          OnClear="@(()=>TodoItemSearch(""))"
                          Style="width: 300px"
                          Placeholder="@Localizer[nameof(AppStrings.TodoSearchPlaceholder)]" />
        </div>
        <div class="todo-content">
            <h1 class="main-title">@Localizer[nameof(AppStrings.TodoTitle)]</h1>
            <div class="add-todo-container">
                <BitTextField @bind-Value="NewTodoItemTitle"
                              Placeholder="@Localizer[nameof(AppStrings.TodoAddPlaceholder)]"
                              Class="add-todo-input" />
                <BitButton OnClick="WrapHandled(AddTodoItem)"
                           Class="add-todo-button"
                           Title="@Localizer[nameof(AppStrings.Add)]"
                           AriaLabel="@Localizer[nameof(AppStrings.Add)]"
                           IsEnabled="(string.IsNullOrEmpty(NewTodoItemTitle) is false)">
                    @if (IsAddLoading)
                    {
                        <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                    }
                    else
                    {
                        <span>@Localizer[nameof(AppStrings.Add)]</span>
                    }
                </BitButton>
            </div>
            <div class="todo-list-container">
                <div class="filter-container">
                    <BitPivot Class="filter-pivot" OnLinkClick="NavigatePivotItem">
                        <BitPivotItem Class="todo-pivot-tab" HeaderText="@Localizer[nameof(AppStrings.All)]" AriaLabel="@Localizer[nameof(AppStrings.All)]" />
                        <BitPivotItem Class="todo-pivot-tab" HeaderText="@Localizer[nameof(AppStrings.Active)]" AriaLabel="@Localizer[nameof(AppStrings.Active)]" />
                        <BitPivotItem Class="todo-pivot-tab" HeaderText="@Localizer[nameof(AppStrings.Completed)]" AriaLabel="@Localizer[nameof(AppStrings.Completed)]" />
                    </BitPivot>
                    <div class="sort-drp-container">
                        <BitDropDown OnSelectItem="TodoItemSort"
                                     Class="sort-todo-drp"
                                     Items="SortItemList"
                                     IsResponsiveModeEnabled="true">
                            <CaretDownFragment>
                                <BitActionButton IconName="BitIconName.Sort">@Localizer[nameof(AppStrings.SortBy)] @SelectedSortTodoItemName</BitActionButton>
                            </CaretDownFragment>
                        </BitDropDown>
                    </div>
                </div>
                <div class="todo-list">
                    @if (IsLoading)
                    {
                        <div class="todo-list-spinner">
                            <BitSpinner></BitSpinner>
                        </div>
                    }
                    else
                    {
                        if (ViewTodoItemList?.Count == 0)
                        {
                            <div class="todo-list--empty-state">
                                <img src="/_content/TodoTemplate.Client.Shared/images/backgrounds/empty-todo-list-bg.svg">
                                <BitLabel>@Localizer[nameof(AppStrings.NoTodos)]</BitLabel>
                            </div>
                        }
                        else
                        {
                            <BitBasicList Style="width: 100%; height: inherit"
                                  Items="ViewTodoItemList"
                                  Virtualize="true">
                                <RowTemplate>
                                    <div class="todo-item" role="listitem">
                                        @if (context.IsInEditMode)
                                {
                                    <BitTextField Class="todo-input" @bind-Value="context.Title" />
                                    <div class="todo-item-btn-group--edit-mode">
                                                <BitButton Title="@Localizer[nameof(AppStrings.Edit)]"
                                               AriaLabel="@Localizer[nameof(AppStrings.Edit)]"
                                               OnClick="WrapHandled(() => EditTodoItem(context))">@Localizer[nameof(AppStrings.Edit)]</BitButton>
                                        <BitButton ButtonStyle="BitButtonStyle.Standard"
                                               Class="todo-button"
                                               Title="@Localizer[nameof(AppStrings.Cancel)]"
                                               AriaLabel="@Localizer[nameof(AppStrings.Cancel)]"
                                               OnClick="WrapHandled(() => CancelEditMode(context))">@Localizer[nameof(AppStrings.Cancel)]</BitButton>
                                    </div>
                                }
                                else
                                {
                                    <div class="todo-info">
                                        <BitCheckbox DefaultValue="context.IsDone"
                                                 OnChange="()=>ToggleTodoItem(context)">
                                            @context.Title
                                        </BitCheckbox>

                                        <div Class="todo-item-date">
                                            @context.Date.ToString("MMMM dd , yyyy , dddd")
                                        </div>
                                    </div>
                                    <div class="todo-btn-group">
                                        <BitIconButton IconName="BitIconName.Edit"
                                                   Title="@Localizer[nameof(AppStrings.Edit)]"
                                                   AriaLabel="@Localizer[nameof(AppStrings.Edit)]"
                                                   OnClick="WrapHandled(() => ToggleToEditMode(context))" />

                                        <BitIconButton IconName="BitIconName.Delete"
                                                   Title="@Localizer[nameof(AppStrings.Remove)]"
                                                   AriaLabel="@Localizer[nameof(AppStrings.Remove)]"
                                                   OnClick="WrapHandled(() => DeleteTodoItem(context))" />
                                    </div>
                                }
                            </div>
                        </RowTemplate>
                    </BitBasicList>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>
