@page "/components/pivot"

<ComponentDemo ComponentName="Pivot" ComponentDescription=" The Pivot control and related tabs pattern are used for navigating frequently accessed,
        distinct content categories. Pivots allow for navigation between two or more content
        views and relies on text headers to articulate the different sections of content. Tapping on a pivot item header navigates to that header's section content. Tabs are a visual variant of Pivot that use a combination of icons and text
        or just icons to articulate section content."
               ComponentParameters="componentParameters" ComponentSubParameters="componentSubParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitPivot" ExampleSourceCodeForCopy="@pivotSampleCode" ExampleId="example1">
        <ExamplePreview>
            <BitPivot>
                <BitPivotItem HeaderText="File">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Shared with me">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent">
                    Pivot #3
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitPivot>
        &ltBitPivotItem HeaderText="File">
                Pivot #1
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Shared with me">
                Pivot #2
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Recent">
                Pivot #3
        &lt/BitPivotItem>
&lt/BitPivot></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Count and Icon" ExampleSourceCodeForCopy="@pivotWithCountAndIconSampleCode" ExampleId="example2">
        <ExamplePreview>
            <BitPivot OverflowBehavior="@BitPivotOverflowBehavior.Scroll">
                <BitPivotItem HeaderText="Files"
                              IconName="BitIcon.Info">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Shared with me"
                              ItemCount="32">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent"
                              IconName="BitIcon.Info"
                              ItemCount="12">
                    Pivot #3
                </BitPivotItem>
                <BitPivotItem HeaderText="Some tab"
                              IconName="BitIcon.Info"
                              ItemCount="6">
                    Pivot #4
                </BitPivotItem>
                <BitPivotItem HeaderText="Latest"
                              IconName="BitIcon.Info"
                              ItemCount="8">
                    Pivot #5
                </BitPivotItem>
                <BitPivotItem HeaderText="I also have a custom template for icon"
                              IconName="BitIcon.Info"
                              ItemCount="45">
                    <HeaderFragment>
                        <i class="bit-icon bit-icon--HeartFill"></i>
                    </HeaderFragment>
                    <BodyFragment>
                        Pivot #6
                    </BodyFragment>
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitPivot OverflowBehavior="&#64;BitPivotOverflowBehavior.Scroll">
        &ltBitPivotItem HeaderText="Files"
                      IconName="BitIcon.Info">
                Pivot #1
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Shared with me"
                      ItemCount="32">
                Pivot #2
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Recent"
                      IconName="BitIcon.Info"
                      ItemCount="12">
                Pivot #3
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Some tab"
                      IconName="BitIcon.Info"
                      ItemCount="6">
                Pivot #4
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Latest"
                      IconName="BitIcon.Info"
                      ItemCount="8">
                Pivot #5
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="I also have a custom template for icon"
                      IconName="BitIcon.Info"
                      ItemCount="45">
                &ltHeaderFragment>
                        &lti class="bit-icon bit-icon--HeartFill">&lt/i>
                &lt/HeaderFragment>
                &ltBodyFragment>
                        Pivot #6
                &lt/BodyFragment>
        &lt/BitPivotItem>
&lt/BitPivot></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Large link size" ExampleSourceCodeForCopy="@pivotWithLargeLinkSizeSampleCode" ExampleId="example3">
        <ExamplePreview>
            <BitPivot LinkSize="@BitPivotLinkSize.Large">
                <BitPivotItem HeaderText="File">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Shared with me">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent">
                    Pivot #3
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitPivot LinkSize="&#64;BitPivotLinkSize.Large">
        &ltBitPivotItem HeaderText="File">
                Pivot #1
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Shared with me">
                Pivot #2
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Recent">
                Pivot #3
        &lt/BitPivotItem>
&lt/BitPivot></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Links of tab style" ExampleSourceCodeForCopy="@pivotWithLinkSampleCode" ExampleId="example4">
        <ExamplePreview>
            <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs">
                <BitPivotItem HeaderText="Foo">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Bar">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Bas">
                    Pivot #3
                </BitPivotItem>
                <BitPivotItem HeaderText="Biz">
                    Pivot #4
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitPivot LinkFormat="&#64;BitPivotLinkFormat.Tabs">
        &ltBitPivotItem HeaderText="Foo">
                Pivot #1
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Bar">
                Pivot #2
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Bas">
                Pivot #3
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Biz">
                Pivot #4
        &lt/BitPivotItem>
&lt/BitPivot></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Links of large tab style" ExampleSourceCodeForCopy="@pivotWithLargeLinkSampleCode" ExampleId="example5">
        <ExamplePreview>
            <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs"
                      LinkSize="@BitPivotLinkSize.Large">
                <BitPivotItem HeaderText="Foo">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Bar">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Bas">
                    Pivot #3
                </BitPivotItem>
                <BitPivotItem HeaderText="Biz">
                    Pivot #4
                </BitPivotItem>
            </BitPivot>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitPivot LinkFormat="&#64;BitPivotLinkFormat.Tabs"
          LinkSize="&#64;BitPivotLinkSize.Large">
        &ltBitPivotItem HeaderText="Foo">
                Pivot #1
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Bar">
                Pivot #2
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Bas">
                Pivot #3
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Biz">
                Pivot #4
        &lt/BitPivotItem>
&lt/BitPivot></code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Change tabs from outside of the component" ExampleSourceCodeForCopy="@pivotChangeFromOutsideSampleCode" ExampleId="example6">
        <ExamplePreview>
            <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs"
                      LinkSize="@BitPivotLinkSize.Large"
                      SelectedKey="@OverridePivotSelectedKey"
                      SelectedKeyChanged="PivotSelectedKeyChanged">
                <BitPivotItem HeaderText="Samples">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Files">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent">
                    Pivot #3
                </BitPivotItem>
            </BitPivot>
            <BitButton OnClick="(() => OverridePivotSelectedKey = (((int.Parse(OverridePivotSelectedKey) + 3 - 1) % 3)).ToString())">Prev</BitButton>
            <BitButton OnClick="(() => OverridePivotSelectedKey = (((int.Parse(OverridePivotSelectedKey) + 1 ) % 3)).ToString())">Next</BitButton>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitPivot LinkFormat="&#64;BitPivotLinkFormat.Tabs"
          LinkSize="&#64;BitPivotLinkSize.Large"
          SelectedKey="&#64;OverridePivotSelectedKey"
          SelectedKeyChanged="PivotSelectedKeyChanged">
        &ltBitPivotItem HeaderText="Samples">
                Pivot #1
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Files">
                Pivot #2
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Recent">
                Pivot #3
        &lt/BitPivotItem>
&lt/BitPivot>
&ltBitButton OnClick="(() => OverridePivotSelectedKey = (((int.Parse(OverridePivotSelectedKey) + 3 - 1) % 3)).ToString())">Prev&lt/BitButton>
&ltBitButton OnClick="(() => OverridePivotSelectedKey = (((int.Parse(OverridePivotSelectedKey) + 1 ) % 3)).ToString())">Next&lt/BitButton></code>

            <code>&#64;code {
        private string OverridePivotSelectedKey = "1";
        private void PivotSelectedKeyChanged(string key)
        {
                OverridePivotSelectedKey = key;
        }
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Render content separately" ExampleSourceCodeForCopy="@pivotContent1SampleCode" ExampleId="example7">
        <ExamplePreview>
            <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs"
                      DefaultSelectedKey="Foo"
                      LinkSize="@BitPivotLinkSize.Large"
                      HeadersOnly="true"
                      OnLinkClick="@(item => SelectedKey = item.Key)">
                <BitPivotItem HeaderText="Foo" Key="Foo"></BitPivotItem>
                <BitPivotItem HeaderText="Bar" Key="Bar"></BitPivotItem>
                <BitPivotItem HeaderText="Bas" Key="Bas"></BitPivotItem>
                <BitPivotItem HeaderText="Biz" Key="Biz"></BitPivotItem>
            </BitPivot>
            <div class="m-t-20">
                @if (SelectedKey == "Foo")
                {
                    <div>Hello I am Foo</div>
                }
                else if (SelectedKey == "Bar")
                {
                    <div>Hello I am Bar</div>
                }
                else if (SelectedKey == "Bas")
                {
                    <div>Hello I am Bas</div>
                }
                else if (SelectedKey == "Biz")
                {
                    <div>Hello I am Biz</div>
                }
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitPivot LinkFormat="&#64;BitPivotLinkFormat.Tabs"
          DefaultSelectedKey="Foo"
          LinkSize="&#64;BitPivotLinkSize.Large"
          HeadersOnly="true"
          OnLinkClick="&#64;(item => SelectedKey = item.Key)">
        &ltBitPivotItem HeaderText="Foo" Key="Foo">&lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Bar" Key="Bar">&lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Bas" Key="Bas">&lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Biz" Key="Biz">&lt/BitPivotItem>
&lt/BitPivot>
&#64;if (SelectedKey == "Foo")
{
        &ltdiv>Hello I am Foo&lt/div>
}
else if &#40;SelectedKey == "Bar")
{
        &ltdiv>Hello I am Bar&lt/div>
}
else if &#40;SelectedKey == "Bas")
{
        &ltdiv>Hello I am Bas&lt/div>
}
else if &#40;SelectedKey == "Biz")
{
        &ltdiv>Hello I am Biz&lt/div>
}</code>   

            <code>&#64;code {
        private string SelectedKey = "Foo";
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Render content separately" ExampleSourceCodeForCopy="@pivotContent2SampleCode" ExampleId="example8">
        <ExamplePreview>
            <div>@SelectedPivotItem?.HeaderText Clicked</div>
            <div>
                <BitPivot LinkFormat="@BitPivotLinkFormat.Tabs"
                          LinkSize="@BitPivotLinkSize.Large"
                          OnLinkClick="@(item => SelectedPivotItem = item)">
                    <BitPivotItem HeaderText="Foo">
                        Pivot #1
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Bar">
                        Pivot #2
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Bas" Key="aaa">
                        Pivot #3
                    </BitPivotItem>
                    <BitPivotItem Visibility="@PivotItemVisibility" HeaderText="Biz">
                        Pivot #4
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Baq">
                        Pivot #5
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Baw">
                        Pivot #6
                    </BitPivotItem>
                </BitPivot>
            </div>
            <BitButton OnClick="TogglePivotItemVisobility">Hide/Show Biz</BitButton>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            <code>&ltBitPivot LinkFormat="&#64;BitPivotLinkFormat.Tabs"
              LinkSize="&#64;BitPivotLinkSize.Large"
              OnLinkClick="&#64;(item => SelectedPivotItem = item)">
        &ltBitPivotItem HeaderText="Foo">
                Pivot #1
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Bar">
                Pivot #2
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Bas" Key="aaa">
                Pivot #3
        &lt/BitPivotItem>
        &ltBitPivotItem Visibility="&#64;PivotItemVisibility" HeaderText="Biz">
                Pivot #4
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Baq">
                Pivot #5
        &lt/BitPivotItem>
        &ltBitPivotItem HeaderText="Baw">
                Pivot #6
        &lt/BitPivotItem>
&lt/BitPivot>
&ltBitButton OnClick="TogglePivotItemVisobility">Hide/Show Biz&lt/BitButton></code>

            <code>&#64;code {
        private BitPivotItem SelectedPivotItem;
        private BitComponentVisibility PivotItemVisibility;
        private void TogglePivotItemVisobility()
        {
                PivotItemVisibility = PivotItemVisibility == BitComponentVisibility.Visible ? BitComponentVisibility.Collapsed : BitComponentVisibility.Visible;
        }
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>
</ComponentDemo>