@page "/components/pivot"

<h2>Pivot</h2>

<div class="card">
    <p class="desc">
        The Pivot control and related tabs pattern are used for navigating frequently accessed, distinct content categories. Pivots allow for navigation between two or more content views and relies on text headers to articulate the different sections of content.
    </p>
    <p class="desc">- Tapping on a pivot item header navigates to that header's section content.</p>
    <p class="desc">Tabs are a visual variant of Pivot that use a combination of icons and text or just icons to articulate section content.</p>
</div>

<h2>Usage</h2>
<div class="wrapper">
    <div class="card">
        <h3>Default Pivot</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <BitPivot>
                        <BitPivotItem HeaderText="File">Pivot #1</BitPivotItem>
                        <BitPivotItem HeaderText="Shared with me">Pivot #2</BitPivotItem>
                        <BitPivotItem HeaderText="Recent">Pivot #3</BitPivotItem>
                    </BitPivot>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitPivot</span>>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="File">Pivot #1</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Shared with me">Pivot #2</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Recent">Pivot #3</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span>&lt/</span><span class="dark-green">BitPivot</span><span>&gt;</span>
                </p>
            </BitPivotItem>
        </BitPivot>
    </div>
    <div class="card">
        <h3>Count and Icon</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <BitPivot OverflowBehavior="@OverflowBehavior.Scroll">
                        <BitPivotItem HeaderText="Files" IconName="Info">Pivot #1</BitPivotItem>
                        <BitPivotItem HeaderText="Shared with me" ItemCount="32">Pivot #2</BitPivotItem>
                        <BitPivotItem HeaderText="Recent" IconName="Info" ItemCount="12">Pivot #3</BitPivotItem>
                        <BitPivotItem HeaderText="Some tab" IconName="Info" ItemCount="6">Pivot #4</BitPivotItem>
                        <BitPivotItem HeaderText="Latest" IconName="Info" ItemCount="8">Pivot #5</BitPivotItem>
                        <BitPivotItem HeaderText="I also have a custom template for icon" IconName="Info" ItemCount="45">
                            <HeaderContent>
                                <i class="bit-icon bit-icon--HeartFill"></i>
                            </HeaderContent>
                            <BodyContent>
                                Pivot #6
                            </BodyContent>
                        </BitPivotItem>
                    </BitPivot>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitPivot OverflowBehavior</span>="<span class="light-yellow-bg">&#64;</span><span>OverflowBehavior.Scroll"></span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Files" <span class="dark-green">IconName</span>="Info"></span>Pivot #1<span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Shared with me" <span class="dark-green">ItemCount</span>="32"></span>Pivot #2<span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Recent" <span class="dark-green">IconName</span>="Info" <span class="dark-green">ItemCount</span>="12"></span>Pivot #3<span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Some tab" <span class="dark-green">IconName</span>="Info" <span class="dark-green">ItemCount</span>="6"></span>Pivot #4<span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Latest" <span class="dark-green">IconName</span>="Info" <span class="dark-green">ItemCount</span>="8"></span>Pivot #5<span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="I also have a custom template for icon" <span class="dark-green">IconName</span>="Info" <span class="dark-green">ItemCount</span>="45"></span>
                    <br />
                    <span class="m-l-45">&lt<span class="dark-green">HeaderContent</span><span>&gt;</span></span>
                    <br />
                    <span class="m-l-60">&lt<span class="light-blue">i</span> class="bit-icon bit-icon--HeartFill"><span>&lt/</span><span class="light-blue">i</span><span>&gt;</span></span>
                    <br />
                    <span class="m-l-45">&lt/<span class="dark-green">HeaderContent</span><span>&gt;</span></span>
                    <br />
                    <span class="m-l-45">&lt<span class="dark-green">BodyContent</span><span>&gt;</span></span>
                    <br />
                    <span class="m-l-60">Pivot #6</span>
                    <br />
                    <span class="m-l-45">&lt/<span class="dark-green">BodyContent</span><span>&gt;</span></span>
                    <br />
                    <span>&lt/</span><span class="dark-green">BitPivot</span><span>&gt;</span>
                </p>
            </BitPivotItem>
        </BitPivot>
    </div>
    <div class="card">
        <h3>Large link size</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <BitPivot LinkSize="@LinkSize.Large">
                        <BitPivotItem HeaderText="File">Pivot #1</BitPivotItem>
                        <BitPivotItem HeaderText="Shared with me">Pivot #2</BitPivotItem>
                        <BitPivotItem HeaderText="Recent">Pivot #3</BitPivotItem>
                    </BitPivot>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitPivot LinkSize</span>="<span class="light-yellow-bg">&#64;</span>LinkSize.Large"<span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="File">Pivot #1</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Shared with me">Pivot #2</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Recent">Pivot #3</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span>&lt/</span><span class="dark-green">BitPivot</span><span>&gt;</span>
                </p>
            </BitPivotItem>
        </BitPivot>
    </div>
    <div class="card">
        <h3>Links of tab style</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <BitPivot LinkFormat="@LinkFormat.Tabs">
                        <BitPivotItem HeaderText="Foo">Pivot #1</BitPivotItem>
                        <BitPivotItem HeaderText="Bar">Pivot #2</BitPivotItem>
                        <BitPivotItem HeaderText="Bas">Pivot #3</BitPivotItem>
                        <BitPivotItem HeaderText="Biz">Pivot #4</BitPivotItem>
                    </BitPivot>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitPivot LinkFormat</span>="<span class="light-yellow-bg">&#64;</span>LinkFormat.Tabs"<span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Foo">Pivot #1</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Bar">Pivot #2</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Bas">Pivot #3</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Biz">Pivot #4</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span>&lt/</span><span class="dark-green">BitPivot</span><span>&gt;</span>
                </p>
            </BitPivotItem>
        </BitPivot>
    </div>
    <div class="card">
        <h3>Links of large tab style</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <BitPivot LinkFormat="@LinkFormat.Tabs" LinkSize="@LinkSize.Large">
                        <BitPivotItem HeaderText="Foo">Pivot #1</BitPivotItem>
                        <BitPivotItem HeaderText="Bar">Pivot #2</BitPivotItem>
                        <BitPivotItem HeaderText="Bas">Pivot #3</BitPivotItem>
                        <BitPivotItem HeaderText="Biz">Pivot #4</BitPivotItem>
                    </BitPivot>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitPivot LinkFormat</span>="<span class="light-yellow-bg">&#64;</span>LinkFormat.Tabs" <span class="dark-green">LinkSize</span>="<span class="light-yellow-bg">&#64;</span>LinkSize.Large"<span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Foo">Pivot #1</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Bar">Pivot #2</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Bas">Pivot #3</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Biz">Pivot #4</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span>&lt/</span><span class="dark-green">BitPivot</span><span>&gt;</span>
                </p>
            </BitPivotItem>
        </BitPivot>
    </div>
    <div class="card">
        <h3>Change tabs from outside of the component</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <BitPivot LinkFormat="@LinkFormat.Tabs" LinkSize="@LinkSize.Large" SelectedKey="@OverridePivotSelectedKey" SelectedKeyChanged="PivotSelectedKeyChanged">
                        <BitPivotItem HeaderText="Samples">Pivot #1</BitPivotItem>
                        <BitPivotItem HeaderText="Fiels">Pivot #2</BitPivotItem>
                        <BitPivotItem HeaderText="Recent">Pivot #3</BitPivotItem>
                    </BitPivot>
                    <br />
                    <BitButton OnClick="(() => OverridePivotSelectedKey = (((int.Parse(OverridePivotSelectedKey) + 3 - 1) % 3)).ToString())">Prev</BitButton>
                    <BitButton OnClick="(() => OverridePivotSelectedKey = (((int.Parse(OverridePivotSelectedKey) + 1 ) % 3)).ToString())">Next</BitButton>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitPivot LinkFormat</span>="<span class="light-yellow-bg">&#64;</span>LinkFormat.Tabs" <span class="dark-green">LinkSize</span>="<span class="light-yellow-bg">&#64;</span>LinkSize.Large" <span class="dark-green">SelectedKey</span>="<span class="light-yellow-bg">&#64;</span>OverridePivotSelectedKey" <span class="dark-green">SelectedKeyChanged</span>="<span class="dark-yellow">PivotSelectedKeyChanged</span>"<span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Samples">Pivot #1</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Fiels">Pivot #2</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Recent">Pivot #3</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span>&lt/</span><span class="dark-green">BitPivot</span><span>&gt;</span>
                    <br />
                    &lt<span class="dark-green">BitButton OnClick</span>="(() => OverridePivotSelectedKey = (((<span class="light-blue">int</span>.<span class="dark-yellow">Parse</span>(OverridePivotSelectedKey) + 3 - 1) % 3)).<span class="dark-yellow">ToString</span>())">prev<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                    <br />
                    &lt<span class="dark-green">BitButton OnClick</span>="(() => OverridePivotSelectedKey = (((<span class="light-blue">int</span>.<span class="dark-yellow">Parse</span>(OverridePivotSelectedKey) + 1 ) % 3)).<span class="dark-yellow">ToString</span>())">next<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                </p>
                <div>
                    <span class="light-yellow-bg">&#64;code {</span>
                    <p>
                        <span>public string OverridePivotSelectedKey { get; set; } = "1";</span>
                        <br />
                        <span>public void </span><span class="dark-yellow">PivotSelectedKeyChanged</span>(string key)
                        <br />
                        <span>{</span>
                        <br />
                        <span class="m-l-30">OverridePivotSelectedKey = key;</span>
                        <br />
                        <span>}</span>
                        <br />
                        <span class="light-yellow-bg">}</span>
                    </p>
                </div>
            </BitPivotItem>
        </BitPivot>
    </div>
    <div class="card">
        <h3>Render content separately</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <BitPivot LinkFormat="@LinkFormat.Tabs" DefaultSelectedKey="Foo" LinkSize="@LinkSize.Large" HeadersOnly="true" OnLinkClick="@(e => SelectedPivotKey = e)">
                        <BitPivotItem HeaderText="Foo" ItemKey="Foo"></BitPivotItem>
                        <BitPivotItem HeaderText="Bar" ItemKey="Bar"></BitPivotItem>
                        <BitPivotItem HeaderText="Bas" ItemKey="Bas"></BitPivotItem>
                        <BitPivotItem HeaderText="Biz" ItemKey="Biz"></BitPivotItem>
                    </BitPivot>

                    @if (SelectedPivotKey?.ItemKey == "Foo")
                    {
                        <div>Hello I Am Foo</div>
                    }
                    else if (SelectedPivotKey?.ItemKey == "Bar")
                    {
                        <div>Hello I Am Bar</div>
                    }
                    else if (SelectedPivotKey?.ItemKey == "Bas")
                    {
                        <div>Hello I Am Bas</div>
                    }
                    else if (SelectedPivotKey?.ItemKey == "Biz")
                    {
                        <div>Hello I Am Biz</div>
                    }

                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    &lt<span class="dark-green">BitPivot LinkFormat</span>="<span class="light-yellow-bg">&#64;</span>LinkFormat.Tabs" <span class="dark-green">LinkSize</span>="<span class="light-yellow-bg">&#64;</span>LinkSize.Large" <span class="dark-green">OnLinkClick</span>="<span class="light-yellow-bg">&#64;</span>(e => SelectedPivotKey = e)"<span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Foo" <span class="dark-green">ItemKey</span>="Foo"></span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Bar" <span class="dark-green">ItemKey</span>="Bar"></span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Bas" <span class="dark-green">ItemKey</span>="Bas"></span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Biz" <span class="dark-green">ItemKey</span>="Biz"></span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span>&lt/</span><span class="dark-green">BitPivot</span><span>&gt;</span>
                </p>
                <div>
                    <p>
                        <span class="light-yellow-bg">&#64;</span>if (SelectedPivotKey?.ItemKey == <span class="dark-orange">"Foo"</span>)
                        <span>{</span>
                        <br />
                        <span class="m-l-30"> &lt<span class="light-blue">div></span>Hello I Am Foo<span>&lt/</span><span class="light-blue">div</span><span>&gt;</span></span>
                        <br />
                        <span>}</span>
                    </p>
                    <p>
                        <span>else if (SelectedPivotKey?.ItemKey == <span class="dark-orange">"Bar"</span>)</span>
                        <span>{</span>
                        <br />
                        <span class="m-l-30"> &lt<span class="light-blue">div></span>Hello I Am Bar<span>&lt/</span><span class="light-blue">div</span><span>&gt;</span></span>
                        <br />
                        <span>}</span>
                    </p>
                    <p>
                        <span>else if (SelectedPivotKey?.ItemKey == <span class="dark-orange">"Bas"</span>)</span>
                        <span>{</span>
                        <br />
                        <span class="m-l-30"> &lt<span class="light-blue">div></span>Hello I Am Bas<span>&lt/</span><span class="light-blue">div</span><span>&gt;</span></span>
                        <br />
                        <span>}</span>
                    </p>
                    <p>
                        <span>else if (SelectedPivotKey?.ItemKey == <span class="dark-orange">"Biz"</span>)</span>
                        <span>{</span>
                        <br />
                        <span class="m-l-30"> &lt<span class="light-blue">div></span>Hello I Am Biz<span>&lt/</span><span class="light-blue">div</span><span>&gt;</span></span>
                        <br />
                        <span>}</span>
                    </p>
                </div>
                <div>
                    <span class="light-yellow-bg">&#64;code {</span>
                    <p>
                        <span>public <span class="dark-green">BitPivotItem</span> SelectedPivotKey { <span class=light-blue>get</span>; <span class=light-blue>set</span>; } = <span class=light-blue>new</span>  <span class="dark-green">BitPivotItem</span> { ItemKey = "<span class="dark-orange">Foo</span>" };</span>
                        <br /><br />
                        <span class="light-yellow-bg">}</span>
                    </p>
                </div>
            </BitPivotItem>
        </BitPivot>
    </div>
    <div class="card">
        <h3>Trigger onchange event</h3>
        <BitPivot>
            <BitPivotItem HeaderText="Example" IconName="ViewList">
                <div>
                    <span>@BitPivotItem?.HeaderText Clicked</span>
                    <div class="m-t-10">
                        <BitPivot LinkFormat="@LinkFormat.Tabs" LinkSize="@LinkSize.Large" OnLinkClick="@(e => BitPivotItem = e)">
                            <BitPivotItem HeaderText="Foo">Pivot #1</BitPivotItem>
                            <BitPivotItem HeaderText="Bar">Pivot #2</BitPivotItem>
                            <BitPivotItem HeaderText="Bas" ItemKey="aaa">Pivot #3</BitPivotItem>
                            <BitPivotItem Visibility="@PivotItemVisibility" HeaderText="Biz">Pivot #4</BitPivotItem>
                            <BitPivotItem HeaderText="Baq">Pivot #5</BitPivotItem>
                            <BitPivotItem HeaderText="Baw">Pivot #6</BitPivotItem>
                        </BitPivot>
                    </div>
                    <br />
                    <BitButton OnClick="TogglePivotItemVisobility">Hide/Show Biz</BitButton>
                </div>
            </BitPivotItem>
            <BitPivotItem HeaderText="Code" IconName="Source">
                <p>
                    <span class="light-yellow-bg">&#64;</span>BitPivotItem?.HeaderText Clicked
                    <br /><br />
                    &lt<span class="dark-green">BitPivot LinkFormat</span>="<span class="light-yellow-bg">&#64;</span>LinkFormat.Tabs" <span class="dark-green">LinkSize</span>="<span class="light-yellow-bg">&#64;</span>LinkSize.Large" <span class="dark-green">OnLinkClick</span>="<span class="light-yellow-bg">&#64;</span>(e => BitPivotItem = e)"<span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Foo">Pivot #1</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Bar">Pivot #2</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Bas" <span class="dark-green">ItemKey</span>="aaa">Pivot #3</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Biz"</span><span class="dark-green"> Visibility</span>="<span class="light-yellow-bg">&#64;</span>PivotItemVisibility"><span>Pivot #4</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Baq">Pivot #5</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span class="m-l-30">&lt<span class="dark-green">BitPivotItem HeaderText</span> ="Baw">Pivot #6</span><span>&lt/</span><span class="dark-green">BitPivotItem</span><span>&gt;</span>
                    <br />
                    <span>&lt/</span><span class="dark-green">BitPivot</span><span>&gt;</span>
                    <br />
                    &lt<span class="dark-green">BitButton OnClick</span>="<span class="dark-yellow">TogglePivotItemVisobility</span>>"Hide/Show Biz<span>&lt/</span><span class="dark-green">BitButton</span><span>&gt;</span>
                </p>
                <div>
                    <span class="light-yellow-bg">&#64;code {</span>
                    <p>
                        <span>public <span class="dark-yellow">ComponentVisibility</span> PivotItemVisibility { get; set; }</span>
                        <br />
                        <span>public <span class="dark-green">BitPivotItem</span> BitPivotItem { get; set; }</span>
                        <br /><br />
                        <span>public void </span><span class="dark-yellow">TogglePivotItemVisobility</span>()
                        <br />
                        <span>{</span>
                        <br />
                        <span class="m-l-30"> PivotItemVisibility = PivotItemVisibility == <span class="dark-yellow">ComponentVisibility</span>.Visible ? <span class="dark-yellow">ComponentVisibility</span>.Collapsed : <span class="dark-yellow">ComponentVisibility</span>.Visible;</span>
                        <br />
                        <span>}</span>
                        <br />
                        <span class="light-yellow-bg">}</span>
                    </p>
                </div>
            </BitPivotItem>
        </BitPivot>
    </div>
</div>
<h2>Implementation</h2>
<div class="card">
    <table>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Default value</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>bodyContent</td>
            <td>renderFragment</td>
            <td></td>
            <td>The content of the pivot item can be Any custom tag or a text, If HeaderContent provided value of this parameter show, otherwise use ChildContent.</td>
        </tr>
        <tr>
            <td>className</td>
            <td>string</td>
            <td></td>
            <td>If provided, additional class name to provide on the root element.</td>
        </tr>
        <tr>
            <td>childContent</td>
            <td>renderfragment</td>
            <td></td>
            <td>Any custom tag or text the developer wishes to associate with the pivot.</td>
        </tr>
        <tr>
            <td>defaultSelectedKey</td>
            <td>string</td>
            <td></td>
            <td>Default selected key for the pivot.</td>
        </tr>
        <tr>
            <td>headerContent</td>
            <td>eenderFragment</td>
            <td></td>
            <td>The content of the pivot item header, It can be Any custom tag or a text.</td>
        </tr>
        <tr>
            <td>headersOnly</td>
            <td>boolean</td>
            <td>false</td>
            <td>Whether to skip rendering the tabpanel with the content of the selected tab.</td>
        </tr>
        <tr>
            <td>headerText</td>
            <td>renderFragment</td>
            <td></td>
            <td>The text of the pivot item header, The text displayed of each pivot link.</td>
        </tr>
        <tr>
            <td>iconName</td>
            <td>string</td>
            <td></td>
            <td>The icon name for the icon shown next to the pivot link.</td>
        </tr>
        <tr>
            <td>itemCount</td>
            <td>int</td>
            <td>0</td>
            <td>Defines an optional item count displayed in parentheses just after the linkText.</td>
        </tr>
        <tr>
            <td>itemKey</td>
            <td>string</td>
            <td></td>
            <td>A required key to uniquely identify a pivot item.</td>
        </tr>
        <tr>
            <td>linkFormat</td>
            <td>linkFormat</td>
            <td>tabs</td>
            <td>Pivot link format, display mode for the pivot links.</td>
        </tr>
        <tr>
            <td>linkSize</td>
            <td>linkSize</td>
            <td>normal</td>
            <td>Pivot link size.</td>
        </tr>
        <tr>
            <td>onLinkClick</td>
            <td>eventCallback</td>
            <td></td>
            <td>Callback for when the selected pivot item is changed.</td>
        </tr>
        <tr>
            <td>overflowBehavior</td>
            <td>overflowBehavior</td>
            <td>none</td>
            <td>Overflow behavior when there is not enough room to display all of the links/tabs.</td>
        </tr>
        <tr>
            <td>selectedKey</td>
            <td>string</td>
            <td></td>
            <td>Key of the selected pivot item. Updating this will override the Pivot's selected item state.</td>
        </tr>
        <tr>
            <td>selectedKeyChanged</td>
            <td>eventCallback</td>
            <td></td>
            <td>Callback for when the selected key changed.</td>
        </tr>
        <tr>
            <td>ref</td>
            <td>elementreference</td>
            <td></td>
            <td>Access the public methods and properties of the component.</td>
        </tr>
        <tr>
            <td>styles</td>
            <td>string</td>
            <td></td>
            <td>Custom styling for individual elements within the pivot DOM.</td>
        </tr>
        <tr>
            <td>uniqueId</td>
            <td>guid</td>
            <td></td>
            <td>Unique ID to identify the item. Typically a duplicate of key value.</td>
        </tr>
    </table>
</div>
<h4>OverflowBehavior</h4>
<hr />
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>none</td>
        <td>0</td>
        <td></td>
    </tr>
    <tr>
        <td>menu</td>
        <td>1</td>
        <td></td>
    </tr>
    <tr>
        <td>scroll</td>
        <td>2</td>
        <td></td>
    </tr>
</table>

<h4>LinkFormat</h4>
<hr />
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>tabs</td>
        <td>0</td>
        <td></td>
    </tr>
    <tr>
        <td>links</td>
        <td>1</td>
        <td></td>
    </tr>
</table>
<h4>LinkSize</h4>
<hr />
<table>
    <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>normal</td>
        <td>0</td>
        <td></td>
    </tr>
    <tr>
        <td>large</td>
        <td>1</td>
        <td></td>
    </tr>
</table>
