@page "/components/pivot"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Pivot" OverviewDesc=" The Pivot control and related tabs pattern are used for navigating frequently accessed,
        distinct content categories. Pivots allow for navigation between two or more content
        views and relies on text headers to articulate the different sections of content. Tapping on a pivot item header navigates to that header's section content. Tabs are a visual variant of Pivot that use a combination of icons and text
        or just icons to articulate section content."
               ComponentParameters="componentParameters" ComponentSubParameters="componentSubParameters" EnumParameters="enumParameters">
    <CodeSample Title="BitPivot" Description="" CodeSampleContentForCopy="@pivotSampleCode">
        <SampleContent>
            <BitPivot>
                <BitPivotItem HeaderText="File">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Shared with me">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent">
                    Pivot #3
                </BitPivotItem>
            </BitPivot>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-component-attr">BitPivot</span>&gt;
                    &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span>="File">Pivot #1><span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span><span>&gt;</span>
                    &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span>="Shared with me">Pivot #2<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span><span>&gt;</span>
                    &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span>="Recent">Pivot #3><span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span><span>&gt;</span>
                &lt;/<span class="soco-component-attr">BitPivot</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Count and Icon" Description="" CodeSampleContentForCopy="@pivotWithCountAndIconSampleCode">
        <SampleContent>
            <BitPivot OverflowBehavior="@BitOverflowBehavior.Scroll">
                <BitPivotItem HeaderText="Files"
                              IconName="Info">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Shared with me"
                              ItemCount="32">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent"
                              IconName="Info"
                              ItemCount="12">
                    Pivot #3
                </BitPivotItem>
                <BitPivotItem HeaderText="Some tab"
                              IconName="Info"
                              ItemCount="6">
                    Pivot #4
                </BitPivotItem>
                <BitPivotItem HeaderText="Latest"
                              IconName="Info"
                              ItemCount="8">
                    Pivot #5
                </BitPivotItem>
                <BitPivotItem HeaderText="I also have a custom template for icon"
                              IconName="Info"
                              ItemCount="45">
                    <HeaderFragment>
                        <i class="bit-icon bit-icon--HeartFill"></i>
                    </HeaderFragment>
                    <BodyFragment>
                        Pivot #6
                    </BodyFragment>
                </BitPivotItem>
            </BitPivot>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-component-attr">BitPivot OverflowBehavior</span>="<span class="soco-code">&#64;</span><span>OverflowBehavior.Scroll"></span>
                        &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Files" <span class="soco-component-attr">IconName</span>="Info">Pivot #1<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                        &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Shared with me" <span class="soco-component-attr">ItemCount</span>="32">Pivot #2<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                        &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Recent" <span class="soco-component-attr">IconName</span>="Info" <span class="soco-component-attr">ItemCount</span>="12">Pivot #3<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                        &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Some tab" <span class="soco-component-attr">IconName</span>="Info" <span class="soco-component-attr">ItemCount</span>="6">Pivot #4<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                        &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Latest" <span class="soco-component-attr">IconName</span>="Info" <span class="soco-component-attr">ItemCount</span>="8">Pivot #5<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                        &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="I also have a custom template for icon" <span class="soco-component-attr">IconName</span>="Info" <span class="soco-component-attr">ItemCount</span>="45">&lt;/<span class="soco-component-attr">BitPivotItem</span>&gt;
                        &lt;<span class="soco-component-attr">HeaderContent</span>&gt;
                             &lt;<span class="soco-tag-type-def">i</span> <span class="soco-var-attr">class</span>="bit-icon bit-icon--HeartFill"><span>&lt;/</span><span class="soco-tag-type-def">i</span>&gt;
                        &lt;/<span class="soco-component-attr">HeaderContent</span>&gt;
                        &lt;<span class="soco-component-attr">BodyContent</span>&gt;
                             <span>Pivot #6</span>
                        &lt;/<span class="soco-component-attr">BodyContent</span>&gt;
                &lt;/<span class="soco-component-attr">BitPivot</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Large link size" Description="" CodeSampleContentForCopy="@pivotWithLargeLinkSizeSampleCode">
        <SampleContent>
            <BitPivot LinkSize="@BitLinkSize.Large">
                <BitPivotItem HeaderText="File">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Shared with me">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent">
                    Pivot #3
                </BitPivotItem>
            </BitPivot>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-component-attr">BitPivot LinkSize</span>="<span class="soco-code">&#64;</span>LinkSize.Large"<span>&gt;</span>
                        &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="File">Pivot #1<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                        &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Shared with me">Pivot #2<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                        &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Recent">Pivot #3<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                &lt;/<span class="soco-component-attr">BitPivot</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Links of tab style" Description="" CodeSampleContentForCopy="@pivotWithLinkSampleCode">
        <SampleContent>
            <BitPivot LinkFormat="@BitLinkFormat.Tabs">
                <BitPivotItem HeaderText="Foo">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Bar">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Bas">
                    Pivot #3
                </BitPivotItem>
                <BitPivotItem HeaderText="Biz">
                    Pivot #4
                </BitPivotItem>
            </BitPivot>
        </SampleContent>
        <CodeSampleContent>
            <pre>
               &lt;<span class="soco-component-attr">BitPivot LinkFormat</span>="<span class="soco-code">&#64;</span>LinkFormat.Tabs"<span>&gt;</span>
                       &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Foo">Pivot #1<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                       &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Bar">Pivot #2<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                       &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Bas">Pivot #3<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                       &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Biz">Pivot #4<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
               &lt;/<span class="soco-component-attr">BitPivot</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Links of large tab style" Description="" CodeSampleContentForCopy="@pivotWithLargeLinkSampleCode">
        <SampleContent>
            <BitPivot LinkFormat="@BitLinkFormat.Tabs"
                      LinkSize="@BitLinkSize.Large">
                <BitPivotItem HeaderText="Foo">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Bar">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Bas">
                    Pivot #3
                </BitPivotItem>
                <BitPivotItem HeaderText="Biz">
                    Pivot #4
                </BitPivotItem>
            </BitPivot>
        </SampleContent>
        <CodeSampleContent>
            <pre>
               &lt;<span class="soco-component-attr">BitPivot LinkFormat</span>="<span class="soco-code">&#64;</span>LinkFormat.Tabs" <span class="soco-component-attr">LinkSize</span>="<span class="soco-code">&#64;</span>LinkSize.Large"<span>&gt;</span>
                       <span>&lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Foo">Pivot #1</span><span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                       <span>&lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Bar">Pivot #2</span><span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                       <span>&lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Bas">Pivot #3</span><span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                       <span>&lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Biz">Pivot #4</span><span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
               &lt;/<span class="soco-component-attr">BitPivot</span>&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Change tabs from outside of the component" Description="" CodeSampleContentForCopy="@pivotChangeFromOutsideSampleCode">
        <SampleContent>
            <BitPivot LinkFormat="@BitLinkFormat.Tabs"
                      LinkSize="@BitLinkSize.Large"
                      SelectedKey="@OverridePivotSelectedKey"
                      SelectedKeyChanged="PivotSelectedKeyChanged">
                <BitPivotItem HeaderText="Samples">
                    Pivot #1
                </BitPivotItem>
                <BitPivotItem HeaderText="Files">
                    Pivot #2
                </BitPivotItem>
                <BitPivotItem HeaderText="Recent">
                    Pivot #3
                </BitPivotItem>
            </BitPivot>
            <BitButton OnClick="(() => OverridePivotSelectedKey = (((int.Parse(OverridePivotSelectedKey) + 3 - 1) % 3)).ToString())">Prev</BitButton>
            <BitButton OnClick="(() => OverridePivotSelectedKey = (((int.Parse(OverridePivotSelectedKey) + 1 ) % 3)).ToString())">Next</BitButton>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-component-attr">BitPivot LinkFormat</span>="<span class="soco-code">&#64;</span>LinkFormat.Tabs"
                                   <span class="soco-component-attr">LinkSize</span>="<span class="soco-code">&#64;</span>LinkSize.Large"
                                   <span class="soco-component-attr">SelectedKey</span>="<span class="soco-code">&#64;</span>OverridePivotSelectedKey"
                                   <span class="soco-component-attr">SelectedKeyChanged</span>="<span>PivotSelectedKeyChanged</span>"&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Samples">Pivot #1<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Files">Pivot #2<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Recent">Pivot #3<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                &lt;/<span class="soco-component-attr">BitPivot</span>&gt;
                &lt;<span class="soco-component-attr">BitButton OnClick</span>="(() => OverridePivotSelectedKey = (((<span class="soco-tag-type-def">int</span>.<span class="dark-yellow">Parse</span>(OverridePivotSelectedKey) + 3 - 1) % 3)).<span>ToString</span>())">prev<span>&lt;/</span><span class="soco-component-attr">BitButton</span>&gt;
                &lt;<span class="soco-component-attr">BitButton OnClick</span>="(() => OverridePivotSelectedKey = (((<span class="soco-tag-type-def">int</span>.Parse(OverridePivotSelectedKey) + 1 ) % 3)).<span class="dark-yellow">ToString</span>())">next<span>&lt;/</span><span class="soco-component-attr">BitButton</span>&gt;
                <span class="soco-code">&#64;code {</span>
                      <span class="soco-tag-type-def">public string </span>OverridePivotSelectedKey { <span class="soco-tag-type-def">get</span>; <span class="soco-tag-type-def">set</span>; } = <span class="soco-string">"1"</span>;
                      <span class="soco-tag-type-def">public void </span><span class="dark-yellow">PivotSelectedKeyChanged</span>(<span class="soco-tag-type-def">string</span> key)
                      <span>{</span>
                             <span>OverridePivotSelectedKey = key;</span>
                      <span>}</span>
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Render content separately" Description="" CodeSampleContentForCopy="@pivotContent1SampleCode">
        <SampleContent>
            <BitPivot LinkFormat="@BitLinkFormat.Tabs"
                      DefaultSelectedKey="Foo"
                      LinkSize="@BitLinkSize.Large"
                      HeadersOnly="true"
                      OnLinkClick="@(item => SelectedKey = item.Key)">
                <BitPivotItem HeaderText="Foo" Key="Foo"></BitPivotItem>
                <BitPivotItem HeaderText="Bar" Key="Bar"></BitPivotItem>
                <BitPivotItem HeaderText="Bas" Key="Bas"></BitPivotItem>
                <BitPivotItem HeaderText="Biz" Key="Biz"></BitPivotItem>
            </BitPivot>
            <div class="how-to-use m-t-20">
                @if (SelectedKey == "Foo")
                {
                    <div>Hello I am Foo</div>
                }
                else if (SelectedKey == "Bar")
                {
                    <div>Hello I am Bar</div>
                }
                else if (SelectedKey == "Bas")
                {
                    <div>Hello I am Bas</div>
                }
                else if (SelectedKey == "Biz")
                {
                    <div>Hello I am Biz</div>
                }
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-component-attr">BitPivot LinkFormat</span>="<span class="soco-code">&#64;</span>LinkFormat.Tabs"
                                   <span class="soco-component-attr">LinkSize</span>="<span class="soco-code">&#64;</span>LinkSize.Large"
                                   <span class="soco-component-attr">OnLinkClick</span>="<span class="soco-code">&#64;</span>(item => SelectedKey = item.Key)"<span>&gt;</span>
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Foo" <span class="soco-component-attr">Key</span>="Foo">&lt;/<span class="soco-component-attr">BitPivotItem</span>&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Bar" <span class="soco-component-attr">Key</span>="Bar">&lt;/<span class="soco-component-attr">BitPivotItem</span>&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Bas" <span class="soco-component-attr">Key</span>="Bas">&lt;/<span class="soco-component-attr">BitPivotItem</span>&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Biz" <span class="soco-component-attr">Key</span>="Biz">&lt;/<span class="soco-component-attr">BitPivotItem</span>&gt; 
                &lt;/<span class="soco-component-attr">BitPivot</span>&gt;
                <span class="soco-code">&#64;</span><span class="soco-if-for">if</span> (SelectedKey == <span class="soco-string">"Foo"</span>)
                <span>{</span>
                       &lt;<span class="soco-tag-type-def">div></span>Hello I am Foo<span>&lt;/</span><span class="soco-tag-type-def">div</span>&gt;
                <span>}</span>
                <span class="soco-if-for">else if </span>(SelectedKey == <span class="soco-string">"Bar"</span>)
                <span>{</span>
                       &lt;<span class="soco-tag-type-def">div></span>Hello I am Bar<span>&lt;/</span><span class="soco-tag-type-def">div</span>&gt;
                <span>}</span>
                <span class="soco-if-for">else if </span>(SelectedKey == <span class="soco-string">"Bas"</span>)
                <span>{</span>
                       &lt;<span class="soco-tag-type-def">div></span>Hello I am Bas<span>&lt;/</span><span class="soco-tag-type-def">div</span>&gt;
                <span>}</span>
                <span class="soco-if-for">else if </span>(SelectedKey == <span class="soco-string">"Biz"</span>)
                <span>{</span>
                       &lt;<span class="soco-tag-type-def">div></span>Hello I am Biz<span>&lt;/</span><span class="soco-tag-type-def">div</span>&gt;
                <span>}</span>
                <span class="soco-code">&#64;code {</span>
                      <span class="soco-tag-type-def">private string</span> SelectedKey = <span class="soco-string">"Foo"</span>;
                <span class="soco-code">}</span>
             </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Render content separately" Description="" CodeSampleContentForCopy="@pivotContent2SampleCode">
        <SampleContent>
            <span class="how-to-use">@SelectedPivotItem?.HeaderText Clicked</span>
            <div>
                <BitPivot LinkFormat="@BitLinkFormat.Tabs"
                          LinkSize="@BitLinkSize.Large"
                          OnLinkClick="@(item => SelectedPivotItem = item)">
                    <BitPivotItem HeaderText="Foo">
                        Pivot #1
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Bar">
                        Pivot #2
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Bas" Key="aaa">
                        Pivot #3
                    </BitPivotItem>
                    <BitPivotItem Visibility="@PivotItemVisibility" HeaderText="Biz">
                        Pivot #4
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Baq">
                        Pivot #5
                    </BitPivotItem>
                    <BitPivotItem HeaderText="Baw">
                        Pivot #6
                    </BitPivotItem>
                </BitPivot>
            </div>
            <BitButton OnClick="TogglePivotItemVisobility">Hide/Show Biz</BitButton>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-tag-type-def">span</span><span>&gt;</span><span class="soco-code">@@</span>SelectedPivotItem?.HeaderText Clicked<span>&lt;/</span><span class="soco-tag-type-def">span</span>&gt;
                &lt;<span class="soco-component-attr">BitPivot LinkFormat</span>="<span class="soco-code">&#64;</span>LinkFormat.Tabs"
                                   <span class="soco-component-attr">LinkSize</span>="<span class="soco-code">&#64;</span>LinkSize.Large"
                                   <span class="soco-component-attr">OnLinkClick</span>="<span class="soco-code">&#64;</span>(item => SelectedPivotItem = item)"<span>&gt;</span>
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Foo">Pivot #1<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Bar">Pivot #2<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Bas" <span class="soco-component-attr">Key</span>="aaa">Pivot #3<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Biz"<span class="soco-component-attr"> Visibility</span>="<span class="soco-code">&#64;</span>PivotItemVisibility"><span>Pivot #4</span><span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Baq">Pivot #5<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                          &lt;<span class="soco-component-attr">BitPivotItem HeaderText</span> ="Baw">Pivot #6<span>&lt;/</span><span class="soco-component-attr">BitPivotItem</span>&gt;
                &lt;/<span class="soco-component-attr">BitPivot</span>&gt;
                &lt;<span class="soco-component-attr">BitButton OnClick</span>="TogglePivotItemVisobility">Hide/Show Biz<span>&lt;/</span><span class="soco-component-attr">BitButton</span>&gt;
                <span class="soco-code">&#64;code {</span>
                      <span class="soco-tag-type-def">public </span>ComponentVisibility PivotItemVisibility { <span class="soco-tag-type-def">get</span>; <span class="soco-tag-type-def">set</span>; }
                      <span class="soco-tag-type-def">public </span>BitPivotItem SelectedPivotItem { <span class="soco-tag-type-def">get</span>; <span class="soco-tag-type-def">set</span>; }
                      <span class="soco-tag-type-def">public void </span>TogglePivotItemVisobility()
                      <span>{</span>
                             PivotItemVisibility = PivotItemVisibility == ComponentVisibility.Visible ? ComponentVisibility.Collapsed : ComponentVisibility.Visible;
                      <span>}</span>
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>