@page "/sign-in"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.SignInTitle)]</PageTitle>

<div class="page-container">
    <EditForm OnValidSubmit="WrapHandled(DoSignIn)" class="form" Model="signInModel">
        <AppDataAnnotationsValidator />

        @if (string.IsNullOrEmpty(signInMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                           MessageBarType="@signInMessageType"
                           OnDismiss="() => signInMessage = null">
                @signInMessage
            </BitMessageBar>
        }

        <h1 class="form-title">@Localizer[nameof(AppStrings.SignInTitle)]</h1>

        <div class="form-input-container">
            <BitTextField @bind-Value="signInModel.UserName"
                          Label="@Localizer[nameof(AppStrings.Email)]"
                          Placeholder="@Localizer[nameof(AppStrings.Email)]"
                          Type="BitTextFieldType.Email" />
            <ValidationMessage For="@(() => signInModel.UserName)" />
        </div>

        <div class="form-input-container">
            <BitTextField @bind-Value="signInModel.Password"
                          Label="@Localizer[nameof(AppStrings.Password)]"
                          Type="BitTextFieldType.Password"
                          AutoComplete="current-password"
                          CanRevealPassword="true"
                          Placeholder="@Localizer[nameof(AppStrings.Password)]" />
            <ValidationMessage For="@(() => signInModel.Password)" />
        </div>

        <div class="form-input-container form-input-container--no-margin">
            <BitCheckbox Class="form-checkbox" @bind-Value="signInModel.RememberMe" Label="@Localizer[nameof(AppStrings.RememberMe)]" />
        </div>

        <BitButton IsLoading="isLoading"
                   Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   Title="@Localizer[nameof(AppStrings.SignIn)]"
                   AriaLabel="@Localizer[nameof(AppStrings.SignIn)]"
                   ButtonType="BitButtonType.Submit">
            @Localizer[nameof(AppStrings.SignIn)]
        </BitButton>

        <div class="form-forgot-password">
            <BitLink Href="/forgot-password">@Localizer[nameof(AppStrings.ForgotPasswordLink)]</BitLink>
        </div>

        <div>
            @Localizer[nameof(AppStrings.DontHaveAccountMessage)] <BitLink Href="/sign-up">@Localizer[nameof(AppStrings.SignUp)]</BitLink>
        </div>
    </EditForm>
</div>
