<div>
    <BitAccordion Class="process-accordion">
        <HeaderTemplate Context="isExpanded">
            @if (isExpanded)
            {
                <BitButton Class="acc-icon"
                           Variant="BitVariant.Text"
                           IconName="@BitIconName.ChevronDown"
                           Classes="@(new() { Icon = "bold-icon" })" />
            }
            else
            {
                <BitButton Class="acc-icon"
                           Variant="BitVariant.Text"
                           IconName="@BitIconName.ChevronRight"
                           Classes="@(new() { Icon = "bold-icon" })" />
            }
            <div class="acc-title">@Title</div>
        </HeaderTemplate>
        <ChildContent>
            <div class="acc-body">@ChildContent</div>
        </ChildContent>
    </BitAccordion>
</div>