@page "/components/slider"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="Slider" OverviewDesc="A slider provides a visual indication of adjustable content, as well as the current setting in the total range of content. Use a slider when you want people to set defined values (such as volume or brightness), or when people would benefit from instant feedback on the effect of setting changes."
               ComponentParameters="componentParameters">
    <CodeSample Title="BitSlider" Description="" CodeSampleContentForCopy="@sliderSampleCode">
        <SampleContent>
            <BitSlider />
            <BitSlider Label="Snapping Slider"
                       Min="0"
                       Max="50"
                       Step="10"
                       DefaultValue="20" />
            <BitSlider Label="Disabled"
                       Min="50"
                       Max="500"
                       Step="50"
                       DefaultValue="300"
                       IsEnabled="false" />
            <BitSlider Label="Controlled"
                       Max="10"
                       @bind-Value="sliderHorizontalValue" />
            <BitButton Class="bit-btn-slider" OnClick="() => sliderHorizontalValue = 7">
                Change Value
            </BitButton>
            <BitSlider Label="Formatted value"
                       Max="100"
                       DefaultValue="31"
                       ValueFormat="P00" />
            <BitSlider Label="Formatted Value"
                       Max="1000"
                       DefaultValue="319"
                       ValueFormat="P01" />
            <BitSlider Label="Origin From Zero"
                       Min="-5"
                       Max="5"
                       Step="1"
                       DefaultValue="2"
                       IsRanged="true"
                       IsOriginFromZero="true" />
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitSlider</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Snapping Slider"</span>
                                    <span class="soco-component-attr">Min</span>="<span>0"</span>
                                    <span class="soco-component-attr">Max</span>="<span>50"</span>
                                    <span class="soco-component-attr">Step</span>="<span>10"</span>
                                    <span class="soco-component-attr">DefaultValue</span>="<span>20"</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Disabled"</span>
                                    <span class="soco-component-attr">Min</span>="<span>50"</span>
                                    <span class="soco-component-attr">Max</span>="<span>500"</span>
                                    <span class="soco-component-attr">Step</span>="<span>50"</span>
                                    <span class="soco-component-attr">DefaultValue</span>="<span>300"</span>
                                    <span class="soco-component-attr">IsEnabled</span>="<span class="soco-tag-type-def">false"</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Controlled"</span>
                                    <span class="soco-component-attr">Max</span>="<span>10"</span>
                                    <span class="soco-component-attr"><span class="soco-code">@@</span>bind-Value</span>="<span>sliderHorizontalValue"</span>/&gt;
                &lt<span class="soco-component-attr">BitButton</span> <span class="soco-component-attr">OnClick</span>="() => sliderHorizontalValue = 7"> Change Value &lt/<span class="soco-component-attr">BitButton</span>&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Formatted Value"</span>
                                    <span class="soco-component-attr">Max</span>="<span>100"</span>
                                    <span class="soco-component-attr">DefaultValue</span>="<span>31"</span>
                                    <span class="soco-component-attr">ValueFormat</span>="<span>P00"</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Formatted Value"</span>
                                    <span class="soco-component-attr">Max</span>="<span>1000"</span>
                                    <span class="soco-component-attr">DefaultValue</span>="<span>319"</span>
                                    <span class="soco-component-attr">ValueFormat</span>="<span>P01"</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Origin From Zero"</span>
                                    <span class="soco-component-attr">Min</span>="<span>-5"</span>
                                    <span class="soco-component-attr">Max</span>="<span>5"</span>
                                    <span class="soco-component-attr">Step</span>="<span>1"</span>
                                    <span class="soco-component-attr">DefaultValue</span>="<span>2"</span>
                                    <span class="soco-component-attr">IsOriginFromZero</span>="<span class="soco-tag-type-def">true"</span>/&gt
                <span class="soco-code">@@ code {</span>
                      <span class="soco-tag-type-def">private double? </span>sliderHorizontalValue = 2;
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Vertical Sliders" Description="" CodeSampleContentForCopy="@verticalSliderSampleCode">
        <SampleContent>
            <div class="flex-sliders">
                <BitSlider Label="Basic"
                           Min="1"
                           Max="5"
                           Step="1"
                           DefaultValue="2"
                           IsVertical="true" />
                <BitSlider Label="Disabled"
                           Min="50"
                           Max="500"
                           Step="50"
                           DefaultValue="300"
                           IsVertical="true" />
                <BitSlider Label="Formatted value"
                           Max="100" ValueFormat="P00"
                           IsVertical="true" />
                <BitSlider Label="Origin From Zero"
                           Min="-5"
                           Max="15"
                           Step="1"
                           DefaultValue="5"
                           IsVertical="true"
                           IsOriginFromZero="true" />
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Basic"</span>
                                    <span class="soco-component-attr">Min</span>="<span>1"</span>
                                    <span class="soco-component-attr">Max</span>="<span>5"</span>
                                    <span class="soco-component-attr">Step</span>="<span>1"</span>
                                    <span class="soco-component-attr">DefaultValue</span>="<span>2"</span>
                                    <span class="soco-component-attr">IsVertical</span>="<span class="soco-tag-type-def">true"</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Disabled"</span>
                                    <span class="soco-component-attr">Min</span>="<span>50"</span>
                                    <span class="soco-component-attr">Max</span>="<span>500"</span>
                                    <span class="soco-component-attr">Step</span>="<span>50"</span>
                                    <span class="soco-component-attr">DefaultValue</span>="<span>300"</span>
                                    <span class="soco-component-attr">IsEnabled</span>="<span class="soco-tag-type-def">false"</span>
                                    <span class="soco-component-attr">IsVertical</span>="<span class="soco-tag-type-def">true"</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Formatted value"</span>
                                    <span class="soco-component-attr">Max</span>="<span>100"</span>
                                    <span class="soco-component-attr">ValueFormat</span>="<span>P00"</span>
                                    <span class="soco-component-attr">IsVertical</span>="<span class="soco-tag-type-def">true"</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Origin From Zero"</span>
                                    <span class="soco-component-attr">Min</span>="<span>-5"</span>
                                    <span class="soco-component-attr">Max</span>="<span>5"</span>
                                    <span class="soco-component-attr">Step</span>="<span>1"</span>
                                    <span class="soco-component-attr">DefaultValue</span>="<span>2"</span>
                                    <span class="soco-component-attr">IsVertical</span>="<span class="soco-tag-type-def">true"</span>
                                    <span class="soco-component-attr">IsOriginFromZero</span>="<span class="soco-tag-type-def">true"</span>/&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Range Slider" Description="" CodeSampleContentForCopy="@rangeSliderSampleCode">
        <SampleContent>
            <div class="slider-container">
                <BitSlider Label="Range slider"
                           Min="0"
                           Max="10"
                           DefaultUpperValue="8"
                           DefaultLowerValue="2"
                           IsRanged="true" />
                <BitSlider Label="Disabled"
                           Min="50"
                           Max="500"
                           Step="50"
                           DefaultUpperValue="300"
                           IsRanged="true"
                           IsEnabled="false" />
                <BitSlider Label="Controlled example"
                           Max="10"
                           @bind-LowerValue="sliderRangedLowerValue"
                           @bind-UpperValue="sliderRangedUpperValue"
                           IsRanged="true" />
                <BitButton Class="bit-btn-slider" OnClick="ChangeBitSliderRangedValues">
                    Change Value
                </BitButton>
                <BitSlider Label="Formatted value"
                           Max="100"
                           IsRanged="true"
                           ValueFormat="P00" />
                <BitSlider Label="Origin from zero"
                           Min="-5"
                           Max="5"
                           Step="1"
                           DefaultUpperValue="2"
                           IsRanged="true"
                           IsOriginFromZero="true" />
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Range Slider"</span>
                                    <span class="soco-component-attr">Min</span>="<span>0"</span>
                                    <span class="soco-component-attr">Max</span>="<span>10"</span>
                                    <span class="soco-component-attr">DefaultUpperValue</span>="<span>8"</span>
                                    <span class="soco-component-attr">DefaultLowerValue</span>="<span>2"</span>
                                    <span class="soco-component-attr">IsRanged</span>="<span class="soco-tag-type-def">true"</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Disabled"</span>
                                    <span class="soco-component-attr">Min</span>="<span>50"</span>
                                    <span class="soco-component-attr">Max</span>="<span>500"</span>
                                    <span class="soco-component-attr">DefaultUpperValue</span>="<span>50"</span>
                                    <span class="soco-component-attr">DefaultValue</span>="<span>300"</span>
                                    <span class="soco-component-attr">IsRanged</span>="<span class="soco-tag-type-def">true"</span>
                                    <span class="soco-component-attr">IsEnabled</span>="<span class="soco-tag-type-def">false"</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Controlled"</span>
                                    <span class="soco-component-attr">Max</span>="<span>10"</span>
                                    <span class="soco-component-attr"><span class="soco-code">@@</span>bind-LowerValue</span>="<span>sliderRangedLowerValue"</span>
                                    <span class="soco-component-attr"><span class="soco-code">@@</span>bind-UpperValue</span>="<span>sliderRangedUpperValue"</span>
                                    <span class="soco-component-attr">IsRanged</span>="<span class="soco-tag-type-def">true"</span>/&gt;
                &lt<span class="soco-component-attr">BitButton</span> <span class="soco-component-attr">OnClick</span>="ChangeBitSliderRangedValues"> Change Value &lt/<span class="soco-component-attr">BitButton</span>&gt;
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Formatted Value"</span>
                                    <span class="soco-component-attr">Max</span>="<span>100"</span>
                                    <span class="soco-component-attr">IsRanged</span>="<span class="soco-tag-type-def">true"</span>
                                    <span class="soco-component-attr">ValueFormat</span><span>="P00"</span>/&gt;
                &lt<span class="soco-component-attr">BitSlider</span><span class="soco-component-attr">Label</span>="<span>Origin From Zero"</span>
                                    <span class="soco-component-attr">Min</span>="<span>-5"</span>
                                    <span class="soco-component-attr">Max</span>="<span>5"</span>
                                    <span class="soco-component-attr">Step</span>="<span>1"</span>
                                    <span class="soco-component-attr">DefaultUpperValue</span>="<span>2"</span>
                                    <span class="soco-component-attr">IsRanged</span>="<span class="soco-tag-type-def">true"</span>
                                    <span class="soco-component-attr">IsOriginFromZero</span>="<span class="soco-tag-type-def">true"</span>/&gt;
                <span class="soco-code">@@ code {</span>
                      <span class="soco-tag-type-def">private double? </span>sliderRangedLowerValue = 0;
                      <span class="soco-tag-type-def">private double? </span>sliderRangedUpperValue = 0;

                      <span class="soco-tag-type-def">private void </span>ChangeBitSliderRangedValues()
                      {
                          sliderRangedLowerValue = 3;
                          sliderRangedUpperValue = 7;
                      }
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Vertical Range Slider" Description="" CodeSampleContentForCopy="@verticalSampleCode">
        <SampleContent>
            <BitSlider Label="Vertical Range Slider"
                       Min="1"
                       Max="5"
                       Step="1"
                       DefaultUpperValue="2"
                       DefaultLowerValue="1"
                       IsRanged="true"
                       IsVertical="true" />
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Label</span>="<span>Vertical Range Slider"</span>
                                    <span class="soco-component-attr">Min</span>="<span>1"</span>
                                    <span class="soco-component-attr">Max</span>="<span>5"</span>
                                    <span class="soco-component-attr">Step</span>="<span>1"</span>
                                    <span class="soco-component-attr">DefaultUpperValue</span>="<span>2"</span>
                                    <span class="soco-component-attr">DefaultLowerValue</span>="<span>1"</span>
                                    <span class="soco-component-attr">IsRanged</span>="<span class="soco-tag-type-def">true"</span>
                                    <span class="soco-component-attr">IsVertical</span>="<span class="soco-tag-type-def">true"</span>/&gt;
            </pre>
        </CodeSampleContent>
    </CodeSample>
    <CodeSample Title="Slider With SliderBoxHtmlAttributes" Description="" CodeSampleContentForCopy="@sliderBoxHtmlAttributesSampleCode">
        <SampleContent>
            <BitSlider Max="10"
                       IsRanged="true"
                       SliderBoxHtmlAttributes="@BitSliderRangedSliderBoxHtmlAttributes" />
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt<span class="soco-component-attr">BitSlider</span> <span class="soco-component-attr">Max</span>="<span>10"</span>
                                    <span class="soco-component-attr">IsRanged</span>="<span class="soco-tag-type-def">true"</span>
                                    <span class="soco-component-attr">SliderBoxHtmlAttributes</span>="<span class="soco-code">@@</span><span>BitSliderRangedSliderBoxHtmlAttributes"</span> /&gt;
                <span class="soco-code">@@ code {</span>
                      <span class="soco-tag-type-def">private</span>Dictionary&lt<span class="soco-tag-type-def">string</span>, <span class="soco-var-attr">object</span>&gt BitSliderRangedSliderBoxHtmlAttributes = new()
                      {
                          { "<span class="soco-string">custom-attribute</span>", "<span class="soco-string">demo</span>" }
                      };
               <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>