@page "/components/slider"

<ComponentDemo ComponentName="Slider" ComponentDescription="A slider provides a visual indication of adjustable content, as well as the current setting in the total range of content. Use a slider when you want people to set defined values (such as volume or brightness), or when people would benefit from instant feedback on the effect of setting changes."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitSlider" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <BitSlider />
            <BitSlider Label="Snapping Slider"
                       Min="0"
                       Max="50"
                       Step="10"
                       DefaultValue="20" />
            <BitSlider Label="Disabled"
                       Min="50"
                       Max="500"
                       Step="50"
                       DefaultValue="300"
                       IsEnabled="false" />
            <BitSlider Label="Controlled"
                       Max="10"
                       @bind-Value="sliderHorizontalValue" />
            <BitButton Class="bit-btn-slider" OnClick="() => sliderHorizontalValue = 7">Change Value</BitButton>
            <BitSlider Label="Formatted value"
                       Max="100"
                       DefaultValue="31"
                       ValueFormat="P00" />
            <BitSlider Label="Formatted Value"
                       Max="1000"
                       DefaultValue="319"
                       ValueFormat="P01" />
            <BitSlider Label="Origin From Zero"
                       Min="-5"
                       Max="5"
                       Step="1"
                       DefaultValue="2"
                       IsRanged="true"
                       IsOriginFromZero="true" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Vertical Sliders" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="flex-container">
                <BitSlider Label="Basic"
                           Min="1"
                           Max="5"
                           Step="1"
                           DefaultValue="2"
                           IsVertical="true" />
                <BitSlider Label="Disabled"
                           Min="50"
                           Max="500"
                           Step="50"
                           DefaultValue="300"
                           IsVertical="true"
                           IsEnabled="false" />
                <BitSlider Label="Formatted value"
                           Max="100" ValueFormat="P00"
                           IsVertical="true" />
                <BitSlider Label="Origin From Zero"
                           Min="-5"
                           Max="15"
                           Step="1"
                           DefaultValue="5"
                           IsVertical="true"
                           IsOriginFromZero="true" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Range Slider" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <BitSlider Label="Range slider"
                       Min="0"
                       Max="10"
                       DefaultUpperValue="8"
                       DefaultLowerValue="2"
                       IsRanged="true" />
            <BitSlider Label="Disabled"
                       Min="50"
                       Max="500"
                       Step="50"
                       DefaultUpperValue="300"
                       IsRanged="true"
                       IsEnabled="false" />
            <BitSlider Label="Controlled example"
                       Max="10"
                       @bind-LowerValue="sliderRangedLowerValue"
                       @bind-UpperValue="sliderRangedUpperValue"
                       IsRanged="true" />
            <BitButton Class="bit-btn-slider" OnClick="ChangeBitSliderRangedValues">
                Change Value
            </BitButton>
            <BitSlider Label="Formatted value"
                       Max="100"
                       IsRanged="true"
                       ValueFormat="P00" />
            <BitSlider Label="Origin from zero"
                       Min="-5"
                       Max="5"
                       Step="1"
                       DefaultUpperValue="2"
                       IsRanged="true"
                       IsOriginFromZero="true" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Vertical Range Slider" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <BitSlider Label="Vertical Range Slider"
                       Min="1"
                       Max="5"
                       Step="1"
                       DefaultUpperValue="2"
                       DefaultLowerValue="1"
                       IsRanged="true"
                       IsVertical="true" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Slider With SliderBoxHtmlAttributes" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <BitSlider Max="10"
                       IsRanged="true"
                       SliderBoxHtmlAttributes="@BitSliderRangedSliderBoxHtmlAttributes" />
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>