@page "/components/slider"

<PageOutlet Url="components/slider"
            Title="Slider"
            Description="slider component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Slider"
               ComponentDescription="A slider provides a visual indication of adjustable content, as well as the current setting in the total range of content. Use a slider when you want people to set defined values (such as volume or brightness), or when people would benefit from instant feedback on the effect of setting changes."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses">
    <ComponentExampleBox Title="Basic" HtmlCode="@example1HtmlCode" CsharpCode="@example1CsharpCode" Id="example1">
        <ExamplePreview>
            <BitSlider Label="Basic slider" />
            <br />
            <br />
            <BitSlider Label="Disabled slider"
                       Min="50"
                       Max="500"
                       Step="50"
                       DefaultValue="300"
                       IsEnabled="false" />
            <br />
            <br />
            <BitSlider Label="Snapping slider"
                       Min="0"
                       Max="50"
                       Step="10"
                       DefaultValue="20" />
            <br />
            <br />
            <BitSlider @bind-Value="sliderHorizontalValue"
                       Label="Controlled slider"
                       Max="10" />
            <BitButton Class="bit-btn-slider" OnClick="() => sliderHorizontalValue = 2">Reset value</BitButton>
            <br />
            <br />
            <br />
            <BitSlider Label="Formatted value"
                       Max="100"
                       DefaultValue="31"
                       ValueFormat="P00" />
            <br />
            <br />
            <BitSlider Label="Formatted value"
                       Max="1000"
                       DefaultValue="319"
                       ValueFormat="P01" />
            <br />
            <br />
            <BitSlider Label="Origin from zero"
                       Min="-5"
                       Max="5"
                       Step="1"
                       DefaultValue="2"
                       IsOriginFromZero="true" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Vertical slider" HtmlCode="@example2HtmlCode" Id="example2">
        <ExamplePreview>
            <div class="flex-container">
                <BitSlider Label="Basic"
                           Min="1"
                           Max="5"
                           Step="1"
                           DefaultValue="2"
                           IsVertical="true" />

                <BitSlider Label="Disabled"
                           Min="50"
                           Max="500"
                           Step="50"
                           DefaultValue="300"
                           IsVertical="true"
                           IsEnabled="false" />

                <BitSlider Label="Formatted value"
                           Max="100" ValueFormat="P00"
                           IsVertical="true" />

                <BitSlider Label="Origin from zero"
                           Min="-5"
                           Max="15"
                           Step="1"
                           DefaultValue="5"
                           IsVertical="true"
                           IsOriginFromZero="true" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Range slider" HtmlCode="@example3HtmlCode" CsharpCode="@example3CsharpCode" Id="example3">
        <ExamplePreview>
            <BitSlider Label="Basic"
                       Min="0"
                       Max="10"
                       DefaultLowerValue="2"
                       DefaultUpperValue="8"
                       IsRanged="true" />
            <br />
            <br />
            <BitSlider Label="Disabled"
                       Min="50"
                       Max="500"
                       Step="50"
                       DefaultLowerValue="200"
                       DefaultUpperValue="300"
                       IsRanged="true"
                       IsEnabled="false" />
            <br />
            <br />
            <BitSlider @bind-LowerValue="sliderRangedLowerValue" @bind-UpperValue="sliderRangedUpperValue"
                       Label="Controlled example"
                       Max="10"
                       IsRanged="true" />
            <BitButton Class="bit-btn-slider" OnClick="ResetBitSliderRangedValues">Reset value</BitButton>
            <br />
            <br />
            <br />
            <BitSlider Label="Formatted value"
                       Max="100"
                       ValueFormat="P00"
                       IsRanged="true"
                       DefaultLowerValue="20"
                       DefaultUpperValue="70" />
            <br />
            <br />
            <BitSlider Label="Origin from zero"
                       Min="-5"
                       Max="5"
                       Step="1"
                       DefaultUpperValue="2"
                       IsRanged="true"
                       IsOriginFromZero="true" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Vertical Range Slider" HtmlCode="@example4HtmlCode" Id="example4">
        <ExamplePreview>
            <div class="flex-container">
                <BitSlider Label="Basic"
                           Min="1"
                           Max="5"
                           Step="1"
                           DefaultUpperValue="2"
                           DefaultLowerValue="1"
                           IsRanged="true"
                           IsVertical="true" />

                <BitSlider Label="Disabled"
                           Min="50"
                           Max="500"
                           Step="50"
                           DefaultUpperValue="100"
                           DefaultLowerValue="300"
                           IsRanged="true"
                           IsVertical="true"
                           IsEnabled="false" />

                <BitSlider Label="Formatted value"
                           Max="100"
                           ValueFormat="P00"
                           DefaultUpperValue="30"
                           DefaultLowerValue="60"
                           IsRanged="true"
                           IsVertical="true" />

                <BitSlider Label="Origin from zero"
                           Min="-5"
                           Max="15"
                           Step="1"
                           DefaultUpperValue="7"
                           DefaultLowerValue="3"
                           IsRanged="true"
                           IsVertical="true"
                           IsOriginFromZero="true" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" HtmlCode="@example5HtmlCode" Id="example5">
        <ExamplePreview>
            <div class="flex-container column">
                <div class="custom-wrapper">
                    <BitLabel>Component's Style & Class:</BitLabel>
                    <BitSlider Style="background-color: tomato; border-radius: 1rem; padding: 0.5rem;" />
                    <BitSlider Class="custom-class" />
                </div>
                <br />
                <div class="custom-wrapper">
                    <BitLabel>Styles & Classes:</BitLabel>
                    <BitSlider Label="Custom label style"
                               Styles="@(new() { Root = "background-color: pink;",
                                                 Value = "color: red;",
                                                 Label = "color: blue; font-weight: 900; font-size: 1.25rem;",
                                                 Input = "padding: 0.5rem; background-color: goldenrod;" } )" />
                    
                    <BitSlider DefaultValue="5"
                               Classes="@(new() { Input = "custom-input",
                                                  Container = "custom-container" } )" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Visibility" HtmlCode="@example6HtmlCode" Id="example6">
        <ExamplePreview>
            <div class="flex-container column">
                <div class="visibility-items">Visible: [ <BitSlider Style="margin-left: 1.5rem" Visibility="BitVisibility.Visible" Label="Visible Slider" /> ]</div>
                <div class="visibility-items">Hidden: [ <BitSlider Style="margin-left: 1.5rem" Visibility="BitVisibility.Hidden" Label="Hidden Slider" /> ]</div>
                <div class="visibility-items">Collapsed: [ <BitSlider Style="margin-left: 1.5rem" Visibility="BitVisibility.Collapsed" Label="Collapsed Slider" /> ]</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="SliderBoxHtmlAttributes" HtmlCode="@example7HtmlCode" Id="example7">
        <ExamplePreview>
            <BitSlider Max="10"
                       DefaultUpperValue="3"
                       DefaultLowerValue="5"
                       IsRanged="true"
                       SliderBoxHtmlAttributes="@(new() { { "custom-attribute", "demo" } })" />
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>

@code {
    private double? sliderHorizontalValue = 2;
    private double? sliderRangedLowerValue = 3;
    private double? sliderRangedUpperValue = 7;

    private void ResetBitSliderRangedValues()
    {
        sliderRangedLowerValue = 3;
        sliderRangedUpperValue = 7;
    }
}