@page "/components/slider"

<PageOutlet Url="components/slider"
            Title="Bit BlazorUI - Slider"
            Description="slider component of the bit blazorui components" />

<ComponentDemo ComponentName="Slider"
               ComponentDescription="A slider provides a visual indication of adjustable content, as well as the current setting in the total range of content. Use a slider when you want people to set defined values (such as volume or brightness), or when people would benefit from instant feedback on the effect of setting changes."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="BitSlider" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <BitSlider Label="Basic" />
            <br />
            <br />
            <BitSlider Label="Snapping Slider"
                       Min="0"
                       Max="50"
                       Step="10"
                       DefaultValue="20" />
            <br />
            <br />
            <BitSlider Label="Disabled"
                       Min="50"
                       Max="500"
                       Step="50"
                       DefaultValue="300"
                       IsEnabled="false" />
            <br />
            <br />
            <BitSlider @bind-Value="sliderHorizontalValue"
                       Label="Controlled"
                       Max="10" />
            <BitButton Class="bit-btn-slider" OnClick="() => sliderHorizontalValue = 2">Reset Value</BitButton>
            <br />
            <br />
            <br />
            <BitSlider Label="Formatted value"
                       Max="100"
                       DefaultValue="31"
                       ValueFormat="P00" />
            <br />
            <br />
            <BitSlider Label="Formatted Value"
                       Max="1000"
                       DefaultValue="319"
                       ValueFormat="P01" />
            <br />
            <br />
            <BitSlider Label="Origin From Zero"
                       Min="-5"
                       Max="5"
                       Step="1"
                       DefaultValue="2"
                       IsOriginFromZero="true" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Vertical Sliders" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="flex-container" style="height:300px">
                <BitSlider Label="Basic"
                           Min="1"
                           Max="5"
                           Step="1"
                           DefaultValue="2"
                           IsVertical="true" />

                <BitSlider Label="Disabled"
                           Min="50"
                           Max="500"
                           Step="50"
                           DefaultValue="300"
                           IsVertical="true"
                           IsEnabled="false" />

                <BitSlider Label="Formatted value"
                           Max="100" ValueFormat="P00"
                           IsVertical="true" />

                <BitSlider Label="Origin From Zero"
                           Min="-5"
                           Max="15"
                           Step="1"
                           DefaultValue="5"
                           IsVertical="true"
                           IsOriginFromZero="true" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Range Slider" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <BitSlider Label="Basic"
                       Min="0"
                       Max="10"
                       DefaultLowerValue="2"
                       DefaultUpperValue="8"
                       IsRanged="true" />
            <br />
            <br />
            <BitSlider Label="Disabled"
                       Min="50"
                       Max="500"
                       Step="50"
                       DefaultLowerValue="200"
                       DefaultUpperValue="300"
                       IsRanged="true"
                       IsEnabled="false" />
            <br />
            <br />
            <BitSlider @bind-LowerValue="sliderRangedLowerValue" @bind-UpperValue="sliderRangedUpperValue"
                       Label="Controlled example"
                       Max="10"
                       IsRanged="true" />
            <BitButton Class="bit-btn-slider" OnClick="ResetBitSliderRangedValues">Reset Value</BitButton>
            <br />
            <br />
            <br />
            <BitSlider Label="Formatted value"
                       Max="100"
                       ValueFormat="P00"
                       IsRanged="true"
                       DefaultLowerValue="20"
                       DefaultUpperValue="70" />
            <br />
            <br />
            <BitSlider Label="Origin from zero"
                       Min="-5"
                       Max="5"
                       Step="1"
                       DefaultUpperValue="2"
                       IsRanged="true"
                       IsOriginFromZero="true" />
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Vertical Range Slider" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="flex-container">
                <BitSlider Style="height:250px"
                           Label="Basic"
                           Min="1"
                           Max="5"
                           Step="1"
                           DefaultUpperValue="2"
                           DefaultLowerValue="1"
                           IsRanged="true"
                           IsVertical="true" />

                <BitSlider Style="height:250px"
                           Label="Disabled"
                           Min="50"
                           Max="500"
                           Step="50"
                           DefaultUpperValue="100"
                           DefaultLowerValue="300"
                           IsRanged="true"
                           IsVertical="true"
                           IsEnabled="false" />

                <BitSlider Style="height:250px"
                           Label="Formatted value"
                           Max="100"
                           ValueFormat="P00"
                           DefaultUpperValue="30"
                           DefaultLowerValue="60"
                           IsRanged="true"
                           IsVertical="true" />

                <BitSlider Style="height:250px"
                           Label="Origin From Zero"
                           Min="-5"
                           Max="15"
                           Step="1"
                           DefaultUpperValue="7"
                           DefaultLowerValue="3"
                           IsRanged="true"
                           IsVertical="true"
                           IsOriginFromZero="true" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Slider With SliderBoxHtmlAttributes" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <BitSlider Max="10"
                       DefaultUpperValue="3"
                       DefaultLowerValue="5"
                       IsRanged="true"
                       SliderBoxHtmlAttributes="@(new() { { "custom-attribute", "demo" } })" />
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>