@page "/components/numeric-text-field"

<ComponentDemo ComponentName="NumericTextField" ComponentDescription="A NumericTextField(NTF) allows you to enter any number type and format you want. It could be a decimal number or integer number with a suffix and so on. Also, give you the capability to show or hide increment and decrement keys."
               ComponentParameters="componentParameters" EnumParameters="enumParameters">
    <ComponentExampleBox Title="BitNumericTextField" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div>
                <BitNumericTextField @bind-Value="BasicNumericTextFieldValue"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Min="0"
                                     Max="100"
                                     Step="1"
                                     Label="Basic with integer value">
                </BitNumericTextField>
                <BitNumericTextField Min="-10m"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Max="10m"
                                     Step="0.1m"
                                     Label="Basic with decimal value">
                </BitNumericTextField>
                <BitNumericTextField Min="-10d"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Max="10d"
                                     Step="0.1d"
                                     Label="Basic with double value">
                </BitNumericTextField>
                <BitNumericTextField @bind-Value="BasicNumericTextFieldDisableValue"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Min="0"
                                     Max="100"
                                     Step="1"
                                     Label="Disabled NumericTextField"
                                     IsEnabled="false">
                </BitNumericTextField>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Enable NTF Arrow keys" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div>
                <BitNumericTextField Min="0"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Max="100"
                                     Step="1"
                                     Arrows="true"
                                     Label="Basic with arrow keys">
                </BitNumericTextField>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="NumericTextField With Icon" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div>
                <BitNumericTextField IconName="BitIconName.IncreaseIndentText"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Min="0"
                                     Max="100"
                                     Step="1"
                                     Label="With Icon">
                </BitNumericTextField>
                <BitNumericTextField IconName="BitIconName.IncreaseIndentText"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Min="0"
                                     Max="100"
                                     Step="1"
                                     Label="Disabled With Icon"
                                     IsEnabled="false">
                </BitNumericTextField>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="NumericTextField With Suffix" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">This NumericTextField includes a suffix in the value and defines custom onIncrement, onDecrement.</div>
            <div>
                <BitNumericTextField Suffix="Inch"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Min="0"
                                     Max="100"
                                     Step="1"
                                     Label="With suffix">
                </BitNumericTextField>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="NumericTextField With Label Above" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div>
                <BitNumericTextField @bind-Value="NumericTextFieldWithLabelAboveValue"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Suffix="cm"
                                     Min="0"
                                     Max="100"
                                     Step="1"
                                     Label="With Labal Above"
                                     LabelPosition="@BitNumericTextFieldLabelPosition.Top">
                </BitNumericTextField>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Custom Styled NumericTextField" HTMLSourceCode="@example6HTMLCode" ExampleId="example6">
        <ExamplePreview>
            <div>
                <BitNumericTextField Class="custom-spb bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Min="0"
                                     Max="100"
                                     Step="1"
                                     Label="Custom Styled">
                </BitNumericTextField>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Controlled NumericTextField" HTMLSourceCode="@example7HTMLCode" CSharpSourceCode="@example7CSharpCode" ExampleId="example7">
        <ExamplePreview>
            <div class="example-desc">
                A controlled BitNumericTextField provides two-way binding using either bind-value or Value parameters. With bind-value all the changes to the value can be seen by its parent
                but using Value, a custom handler should be implemented to reflect the changes outside the component.
            </div>
            <div>
                <BitNumericTextField @bind-Value="BitNumericTextFieldBindValue"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Min="0d"
                                     Max="100d"
                                     Step="1d"
                                     Label="Controlled with bind-value">
                </BitNumericTextField>
                <BitNumericTextField Value="BitNumericTextFieldValueChanged"
                                     ValueChanged="(decimal value) => HandleControlledNumericTextFieldValueChange(value)"
                                     Class="bit-ntf-wrapped bit-ntf-lbl-wrapped"
                                     Min="0m"
                                     Max="100m"
                                     Step="1m"
                                     Label="Controlled with Value">
                </BitNumericTextField>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="NumericTextField validation" HTMLSourceCode="@example8HTMLCode" CSharpSourceCode="@example8CSharpCode" ExampleId="example8">
        <ExamplePreview>
            @if (string.IsNullOrEmpty(SuccessMessage))
            {
                <EditForm Model="@ValidationModel" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />

                    <div class="validation-summary">
                        <ValidationSummary />
                    </div>

                    <div>
                        <BitNumericTextField Class="bit-ntf-wrapped bit-ntf-lbl-wrapped" Label="Age" @bind-Value="@ValidationModel.AgeInYears"></BitNumericTextField>

                        <ValidationMessage For="@(() => ValidationModel.AgeInYears)" />
                    </div>

                    <BitButton ButtonType="BitButtonType.Submit">
                        Submit
                    </BitButton>
                </EditForm>
            }
            else
            {
                <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                    @SuccessMessage
                </BitMessageBar>
            }
        </ExamplePreview>
    </ComponentExampleBox>
    <ComponentExampleBox Title="NumericTextField With Placeholder" HTMLSourceCode="@example9HTMLCode" ExampleId="example9">
        <ExamplePreview>
            <div>
                <BitTextField Label="With Placeholder" Placeholder="Please enter a number"></BitTextField>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>