@page "/components/bread-group"

<ComponentDemo ComponentName="BreadGroup"
               ComponentDescription="BreadGroup should be used as a navigational aid in your app or site. They indicate the current page’s location within a hierarchy and help the user understand where they are in relation to the rest of that hierarchy. They also afford one-click access to higher levels of that hierarchy."
               ComponentParameters="componentParameters"
               ComponentSubParameters="componentSubParameters">

    <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Basic</BitLabel>
                    <BitBreadGroup>
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>

                <div>
                    <BitLabel>Group Disabled</BitLabel>
                    <BitBreadGroup IsEnabled="false">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>

                <div>
                    <BitLabel>Option Disabled</BitLabel>
                    <BitBreadGroup>
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" IsEnabled="false" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" IsEnabled="false" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="MaxDisplayedOptions & OverflowIndex" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">
                You can specify how many options are displayed among the options you have and the rest of the options are displayed as overflow.
                You can also choose which index the overflow icon should be placed in.
            </div>
            <div class="example-box">
                <div>
                    <BitLabel>MaxDisplayedOptions (1)</BitLabel>
                    <BitBreadGroup MaxDisplayedOptions="1">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>
                <div>
                    <BitLabel>MaxDisplayedOptions (2)</BitLabel>
                    <BitBreadGroup MaxDisplayedOptions="2">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>
                <div>
                    <BitLabel>MaxDisplayedOptions (3)</BitLabel>
                    <BitBreadGroup MaxDisplayedOptions="3">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>
                <div>
                    <BitLabel>MaxDisplayedOptions (3), OverflowIndex (0)</BitLabel>
                    <BitBreadGroup MaxDisplayedOptions="3" OverflowIndex="0">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>
                <div>
                    <BitLabel>MaxDisplayedOptions (3), OverflowIndex (1)</BitLabel>
                    <BitBreadGroup MaxDisplayedOptions="3" OverflowIndex="1">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>
                <div>
                    <BitLabel>MaxDisplayedOptions (3), OverflowIndex (2)</BitLabel>
                    <BitBreadGroup MaxDisplayedOptions="3" OverflowIndex="2">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Overflow with Icon" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>BitIconName (ChevronDown)</BitLabel>
                    <BitBreadGroup MaxDisplayedOptions="3" OverflowIndex="2" OverflowIcon="BitIconName.ChevronDown">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>

                <div>
                    <BitLabel>BitIconName (CollapseMenu)</BitLabel>
                    <BitBreadGroup MaxDisplayedOptions="3" OverflowIndex="2" OverflowIcon="BitIconName.CollapseMenu">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Class & Style" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Options Class</BitLabel>
                    <BitBreadGroup>
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" Class="custom-option" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" Class="custom-option" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" Class="custom-option" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" Class="custom-option" IsSelected="true" />
                    </BitBreadGroup>
                </div>
                <div>
                    <BitLabel>Options Style</BitLabel>
                    <BitBreadGroup>
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" Style="color:red;background:greenyellow" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" Style="color:red;background:greenyellow" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" Style="color:red;background:greenyellow" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" Style="color:red;background:greenyellow" IsSelected="true" />
                    </BitBreadGroup>
                </div>
                <div>
                    <BitLabel>Selected Option Class</BitLabel>
                    <BitBreadGroup SelectedOptionClass="custom-selected-option">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>
                <div>
                    <BitLabel>Selected Option Style</BitLabel>
                    <BitBreadGroup SelectedOptionStyle="color:red; background:lightgreen;">
                        <BitBreadOption Text="Option 1" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 2" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 3" Href="/components/bread-group" />
                        <BitBreadOption Text="Option 4" Href="/components/bread-group" IsSelected="true" />
                    </BitBreadGroup>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Controlled BitBreadGroup" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">By clicking on the Options, the Selected Option will change and match the SelectedOptionStyle.</div>
            <div class="example-box">
                <BitBreadGroup MaxDisplayedOptions="3" OverflowIndex="2" SelectedOptionStyle="color:red; background:lightgreen;">
                    <BitBreadOption Text="Option 1" IsSelected="@(SelectedOptionNumber == 1)" OnClick="() => SelectedOptionNumber = 1" />
                    <BitBreadOption Text="Option 2" IsSelected="@(SelectedOptionNumber == 2)" OnClick="() => SelectedOptionNumber = 2" />
                    <BitBreadOption Text="Option 3" IsSelected="@(SelectedOptionNumber == 3)" OnClick="() => SelectedOptionNumber = 3" />
                    <BitBreadOption Text="Option 4" IsSelected="@(SelectedOptionNumber == 4)" OnClick="() => SelectedOptionNumber = 4" />
                    <BitBreadOption Text="Option 5" IsSelected="@(SelectedOptionNumber == 5)" OnClick="() => SelectedOptionNumber = 5" />
                    <BitBreadOption Text="Option 6" IsSelected="@(SelectedOptionNumber == 6)" OnClick="() => SelectedOptionNumber = 6" />
                </BitBreadGroup>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Customized Parameters" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitBreadGroup MaxDisplayedOptions="@MaxDisplayedOptions" OverflowIndex="@OverflowIndex">
                        @for (int i = 0; i < OptionsCount; i++)
                        {
                            int index = i + 1;
                            <BitBreadOption Text="@($"Option {index}")" IsSelected="@(CustomizedSelectedOptionNumber == index)" OnClick="() => CustomizedSelectedOptionNumber = index" />
                        }
                    </BitBreadGroup>
                </div>
                <div class="operators">
                    <div>
                        <BitButton OnClick="() => OptionsCount++">Add Option</BitButton>
                        <BitButton OnClick="() => OptionsCount--">Remove Option</BitButton>
                    </div>
                    <div>
                        <BitNumericTextField @bind-Value="MaxDisplayedOptions" Step="@NumericTextFieldStep" Label="MaxDisplayedOption" ShowArrows="true" />
                        <BitNumericTextField @bind-Value="OverflowIndex" Step="@NumericTextFieldStep" Label="OverflowIndex" ShowArrows="true" />
                    </div>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>