@page "/components/scrollablepane"

<PageOutlet Url="components/scrollablepane"
            Title="ScrollablePane"
            Description="scrollablepane component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="ScrollablePane"
                   ComponentDescription="A ScrollablePane is a component for scrolling through content that doesn't fit entirely on the screen."
                   ComponentParameters="componentParameters"
                   ComponentSubEnums="componentSubEnums">
        <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
            <ExamplePreview>
                <BitScrollablePane Style="height:350px;" Class="pane">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                    ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                    Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                    Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                    efficitur.
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                    ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                    Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                    Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                    efficitur.
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                    ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                    Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                    Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                    efficitur.
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                    ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                    Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                    Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                    efficitur.
                </BitScrollablePane>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Width & Height" RazorCode="@example2RazorCode" Id="example2">
            <ExamplePreview>
                <div><b>Height</b>:</div>
                <BitScrollablePane Height="15rem" Class="pane">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis. In hac habitasse platea dictumst. In a odio eget enim porttitor maximus. Aliquam nulla nibh,
                    ullamcorper aliquam placerat eu, viverra et dui. Phasellus ex lectus, maximus in mollis ac, luctus vel eros.
                    Vivamus ultrices, turpis sed malesuada gravida, eros ipsum venenatis elit, et volutpat eros dui et ante.
                    Quisque ultricies mi nec leo ultricies mollis. Vivamus egestas volutpat lacinia. Quisque pharetra eleifend
                    efficitur.
                    <br />
                    Mauris at nunc eget lectus lobortis facilisis et eget magna. Vestibulum venenatis augue sapien, rhoncus
                    faucibus magna semper eget. Proin rutrum libero sagittis sapien aliquet auctor. Suspendisse tristique a
                    magna at facilisis. Duis rhoncus feugiat magna in rutrum. Suspendisse semper, dolor et vestibulum lacinia,
                    nunc felis malesuada ex, nec hendrerit justo ex et massa. Quisque quis mollis nulla. Nam commodo est ornare,
                    rhoncus odio eu, pharetra tellus. Nunc sed velit mi.
                    <br />
                    Sed condimentum ultricies turpis convallis pharetra. Sed sagittis quam pharetra luctus porttitor. Cras vel
                    consequat lectus. Sed nec fringilla urna, a aliquet libero. Aenean sed nisl purus. Vivamus vulputate felis
                    et odio efficitur suscipit. Ut volutpat dictum lectus, ac rutrum massa accumsan at. Sed pharetra auctor
                    finibus. In augue libero, commodo vitae nisi non, sagittis convallis ante. Phasellus malesuada eleifend
                    mollis. Curabitur ultricies leo ac metus venenatis elementum.
                </BitScrollablePane>
                <br /><br /><br />
                <div><b>Width</b>:</div>
                <BitScrollablePane Width="300px" Class="pane" Style="white-space:nowrap">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis. In hac habitasse platea dictumst.
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis. In hac habitasse platea dictumst.
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis. In hac habitasse platea dictumst.
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis. In hac habitasse platea dictumst.
                    <br />
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas lorem nulla, malesuada ut sagittis sit
                    amet, vulputate in leo. Maecenas vulputate congue sapien eu tincidunt. Etiam eu sem turpis. Fusce tempor
                    sagittis nunc, ut interdum ipsum vestibulum non. Proin dolor elit, aliquam eget tincidunt non, vestibulum ut
                    turpis. In hac habitasse platea dictumst.
                </BitScrollablePane>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Overflow" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
            <ExamplePreview>
                <div style="max-width: 19rem;">
                    <BitChoiceGroup @bind-Value="overflow"
                                    Horizontal
                                    Label="Overflow"
                                    TItem="BitChoiceGroupOption<BitOverflow>" TValue="BitOverflow">
                        <BitChoiceGroupOption Text="Auto" Value="BitOverflow.Auto" />
                        <BitChoiceGroupOption Text="Hidden" Value="BitOverflow.Hidden" />
                        <BitChoiceGroupOption Text="Scroll" Value="BitOverflow.Scroll" />
                        <BitChoiceGroupOption Text="Visible" Value="BitOverflow.Visible" />
                    </BitChoiceGroup>
                    <br />
                    <BitSpinButton Label="Items count" Min="4" @bind-Value="@overflowItemsCount" />
                    <br />
                    <BitScrollablePane Overflow="@overflow" Height="16rem" Class="pane">
                        @for (int i = 0; i < overflowItemsCount; i++)
                        {
                            var index = i;
                            <div class="item">@index</div>
                        }
                    </BitScrollablePane>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>

        <ComponentExampleBox Title="Scrollbar gutter" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
            <ExamplePreview>
                <div style="max-width: 19rem;">
                    <BitChoiceGroup @bind-Value="gutter"
                                    Horizontal
                                    Label="Scrollbar gutter"
                                    TItem="BitChoiceGroupOption<BitScrollbarGutter>" TValue="BitScrollbarGutter">
                        <BitChoiceGroupOption Text="Auto" Value="BitScrollbarGutter.Auto" />
                        <BitChoiceGroupOption Text="Stable" Value="BitScrollbarGutter.Stable" />
                        <BitChoiceGroupOption Text="BothEdges" Value="BitScrollbarGutter.BothEdges" />
                    </BitChoiceGroup>
                    <br />
                    <BitSpinButton Label="Items count" Min="4" @bind-Value="@gutterItemsCount" />
                    <br />
                    <BitScrollablePane Gutter="@gutter" Height="16rem" Class="pane">
                        @for (int i = 0; i < gutterItemsCount; i++)
                        {
                            var index = i;
                            <div class="item">@index</div>
                        }
                    </BitScrollablePane>
                </div>
            </ExamplePreview>
        </ComponentExampleBox>
    </ComponentDemo>
</div>