@namespace Bit.BlazorUI
@inherits BitComponentBase

<li @ref="RootElement"
    @attributes="HtmlAttributes"
    style="@StyleBuilder.Value"
    class="@ClassBuilder.Value"
    role="presentation">

    <button @onclick="() => Parent.HandleOnItemClick(this)"
            type="@Parent.ButtonType?.GetValue()"
            role="menuitem"
            aria-disabled="@IsEnabled"
            tabindex="@(IsEnabled ? 0 : -1)"
            class="item @(IsEnabled ? null : "disabled")">
        @if (Parent.ItemTemplate is not null)
        {
            @Parent.ItemTemplate(this)
        }
        else
        {
            @if (IconName.HasValue)
            {
                <i class="bit-icon bit-icon--@IconName.GetName()"></i>
            }
            <span class="item-text-container">
                @Text
            </span>
        }
    </button>
</li>