@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     id="@UniqueId">

    <div id="@SplitButtonOverlayId" class="overlay" @onclick="CloseCallout"></div>

    <div id="@SplitButtonId" class="selected-item">
        <button type="button"
                aria-roledescription="@AriaRoleDescription"
                tabindex="-1"
                class="operator-btn @GetButtonClasses()"
                @onclick="() => HandleOnClick(Item)">
            @Item.Text
        </button>
        <button type="button"
                aria-haspopup="true"
                aria-expanded="@IsOpenMenu"
                tabindex="-1"
                aria-label="@AriaLabel"
                class="Chevron-btn @GetButtonClasses()"
                @onclick="HandleMenuOpen">
            <i class="bit-icon bit-icon--ChevronDown" aria-hidden="true"></i>
        </button>
        <span aria-hidden="true" class="btn-separator @GetButtonClasses()"></span>
    </div>

    <div id="@SplitButtonCalloutId" class="items">
        <ul>
            @foreach (BitSplitButtonItem item in Items)
            {
                <li>
                    <button class="item" @onclick="() => HandleItemOnClick(item)">
                        @if (item.IconName.HasValue)
                        {
                            <i class="bit-icon bit-icon--@item.IconName.GetName()"></i>
                        }
                        <span>
                            @item.Text
                        </span>
                    </button>
                </li>
            }
        </ul>
    </div>

</div>