@namespace Bit.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     id="@UniqueId">
    <div id="@_splitButtonOverlayId" class="overlay" @onclick="CloseCallout"></div>
    <div id="@_splitButtonId" class="current-item">
        <button type="@ButtonType?.GetValue()"
                aria-label="@AriaLabel"
                aria-describedby="@AriaDescription"
                aria-hidden="@AriaHidden"
                tabindex="@(IsEnabled ? 0 : -1)"
                class="operator-btn @(_currentItem?.IsEnabled is false ? "disabled" : null)"
                @onclick="() => HandleOnClick(_currentItem)">
            @if (_currentItem?.IconName.HasValue ?? false)
            {
                <i class="bit-icon bit-icon--@_currentItem.IconName.GetName()"></i>
            }
            <span class="text">@_currentItem?.Text</span>
        </button>
        <button type="button"
                tabindex="@(IsEnabled ? 0 : -1)"
                class="chevron-btn"
                @onclick="ToggleCallout">
            <i class="bit-icon bit-icon--ChevronDown"></i>
        </button>
        <span class="separator-btn"></span>
    </div>
    <div id="@_splitButtonCalloutId"
         class="items"
         tabindex="@(IsEnabled ? 0 : -1)">
        <ul role="presentation">
            @foreach (BitSplitButtonItem item in Items)
            {
                @if (item != _currentItem)
                {
                    <li role="presentation">
                        <button type="@ButtonType?.GetValue()"
                                role="menuitem"
                                aria-disabled="@item.IsEnabled"
                                tabindex="@(item.IsEnabled ? 0 : -1)"
                                class="item @(item.IsEnabled ? null : "disabled")"
                                @onclick="() => HandleOnItemClick(item)">
                            @if (ItemTemplate is null)
                            {
                                @if (item.IconName.HasValue)
                                {
                                    <i class="bit-icon bit-icon--@item.IconName.GetName()"></i>
                                }
                                <span class="item-text-container">
                                    @item.Text
                                </span>
                            }
                            else
                            {
                                @ItemTemplate(item)
                            }
                        </button>
                    </li>
                }
            }
        </ul>
    </div>
</div>