@namespace Bit.BlazorUI
@inherits BitComponentBase
@typeparam TItem

<CascadingValue Value="this" IsFixed="true">
    <div style="display:none" hidden>@(Options ?? ChildContent)</div>
</CascadingValue>

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@UniqueId"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <button @onclick="() => HandleOnClick(SelectedItem)"
            aria-label="@AriaLabel"
            aria-hidden="@AriaHidden"
            aria-describedby="@AriaDescription"
            type="@_buttonType.GetValue()"
            tabindex="@(IsEnabled ? 0 : -1)"
            style="@GetStyle(SelectedItem);@Styles?.ItemButton"
            class="bit-spl-opb @(GetIsEnabled(SelectedItem) ? "" : "bit-dis") @GetClass(SelectedItem) @Classes?.ItemButton">
        @if (SelectedItem is not null)
        {
            var template = GetTemplate(SelectedItem);
            if (template is not null)
            {
                @template(SelectedItem)
            }
            else if (ItemTemplate is not null)
            {
                @ItemTemplate(SelectedItem)
            }
            else
            {
                var iconName = GetIconName(SelectedItem);
                @if (iconName.HasValue())
                {
                    <i style="@Styles?.ItemIcon" class="bit-icon bit-icon--@iconName @Classes?.ItemIcon" />
                }
                <span style="@Styles?.ItemText" class="bit-spl-txt @Classes?.ItemText">
                    @GetText(SelectedItem)
                </span>
            }
        }
    </button>

    <span class="bit-spl-spb"></span>

    <button @onclick="OpenCallout"
            type="button"
            tabindex="@(IsEnabled ? 0 : -1)"
            style="@Styles?.ChevronDownButton"
            class="bit-spl-chb @Classes?.ChevronDownButton">
        <i style="@Styles?.ChevronDownIcon" class="bit-icon bit-icon--@ChevronDownIcon @Classes?.ChevronDownIcon" />
    </button>

    <div @onclick="CloseCallout" @onclick:stopPropagation
         style="display:@(_isCalloutOpen ? "block" : "none");@Styles?.Overlay"
         class="bit-spl-ovl @Classes?.Overlay"></div>

    <div id="@_calloutId"
         style="@Styles?.Callout"
         class="bit-spl-cal @Classes?.Callout">
        <ul role="presentation">
            @foreach (TItem item in _items)
            {
                if (item == SelectedItem) continue;

                var isEnabled = GetIsEnabled(item);
                var template = GetTemplate(item);
                <li role="presentation">
                    <button @onclick="() => HandleOnItemClick(item)"
                            role="menuitem"
                            aria-disabled="@isEnabled"
                            type="@_buttonType.GetValue()"
                            tabindex="@(isEnabled ? 0 : -1)"
                            style="@GetStyle(item);@Styles?.ItemButton"
                            class="bit-spl-itm @(isEnabled ? "" : "bit-dis") @GetClass(item) @Classes?.ItemButton">
                        @if (template is not null)
                        {
                            @template(item)
                        }
                        else if (ItemTemplate is not null)
                        {
                            @ItemTemplate(item)
                        }
                        else
                        {
                            var iconName = GetIconName(item);
                            @if (iconName.HasValue())
                            {
                                <i style="@Styles?.ItemIcon" class="bit-icon bit-icon--@iconName @Classes?.ItemIcon" />
                            }
                            <span style="@Styles?.ItemText" class="bit-spl-txt @Classes?.ItemText">
                                @GetText(item)
                            </span>
                        }
                    </button>
                </li>
            }
        </ul>
    </div>
</div>
