@page "/components/colorpicker"
@page "/components/color-picker"

<PageOutlet Url="components/colorpicker"
            Title="ColorPicker"
            Description="colorpicker component of the bit BlazorUI components" />

<ComponentDemo ComponentName="ColorPicker"
               ComponentDescription="The color picker (ColorPicker) is used to browse through and select colors. By default, it lets people navigate through colors on a color spectrum, or specify a color in either Red-Green-Blue (RGB), or alpha color code; or Hexadecimal textboxes."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" CsharpCode="@example1CsharpCode" Id="example1">
        <ExamplePreview>
            <div class="example-desc">
                The color type (hex or rgb) of the BitColorPicker automatically matches the initial value of the Color parameter.
                For example, if the initial value of this parameter is in hex format, the component will return the resulting colors in hex and vice versa.
            </div>
            <div class="example-box">
                <div class="example">
                    <BitLabel>Rgb</BitLabel>
                    <BitColorPicker Class="color-picker" @bind-Color="BasicRgbColor" />
                    <span>Color: @BasicRgbColor</span>
                </div>
                <div class="example">
                    <BitLabel>Hex</BitLabel>
                    <BitColorPicker Class="color-picker" @bind-Color="BasicHexColor" />
                    <span>Color: @BasicHexColor</span>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Color with Alpha" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
        <ExamplePreview>
            <div class="example">
                <BitColorPicker Class="color-picker" @bind-Color="AlphaRgbColor" @bind-Alpha="Alpha" ShowAlphaSlider="true" />
                <span>Color: @AlphaRgbColor</span>
                <span>Alpha: @Alpha</span>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Previewing Color" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <div class="example">
                <BitColorPicker Class="color-picker" ShowAlphaSlider="true" ShowPreview="true" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Two-way Binding" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
        <ExamplePreview>
            <div class="example">
                <BitColorPicker Class="color-picker" @bind-Color="TwoWayColor" ShowPreview="true" />
                <BitTextField Label="Enter Color (Hex or Rgb)" @bind-Value="TwoWayColor" Style="width: 200px;" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="OnChange Event" RazorCode="@example5RazorCode" CsharpCode="@example5CsharpCode" Id="example5">
        <ExamplePreview>
            <div class="example">
                <BitColorPicker Class="color-picker" OnChange="(value) => ColorValue = value" ShowAlphaSlider="true" ShowPreview="true" />
                <span>Color: @ColorValue?.Color</span>
                <span>Alpha: @ColorValue?.Alpha</span>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Public Api" RazorCode="@example6RazorCode" CsharpCode="@example6CsharpCode" Id="example6">
        <ExamplePreview>
            <div class="example">
                <BitColorPicker Class="color-picker" @ref="ColorPicker" @bind-Color="BoundColor" ShowAlphaSlider="true" ShowPreview="true" />
                <span>Color Value: @BoundColor</span>
                <span>Hex: @ColorPicker?.Hex</span>
                <span>Rgb: @ColorPicker?.Rgb</span>
                <span>Rgba: @ColorPicker?.Rgba</span>
                <span>Hsv: @ColorPicker?.Hsv</span>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Class & Style" RazorCode="@example7RazorCode" Id="example7">
        <ExamplePreview>
            <div class="example-box">
                <div>
                    <BitLabel>Class</BitLabel>
                    <BitColorPicker ShowAlphaSlider="true" Class="custom-color-picker" />
                </div>
                <div>
                    <BitLabel>Style</BitLabel>
                    <BitColorPicker ShowAlphaSlider="true" Style="width: 230px; height: 150px;" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>