@page "/components/breadcrumb"

<PageOutlet Url="components/breadcrumb"
            Title="Breadcrumb"
            Description="breadcrumb component of the bit BlazorUI components" />

<div>
    <ComponentDemo ComponentName="Breadcrumb"
                   ComponentDescription="Breadcrumbs should be used as a navigational aid in your app or site. They indicate the current page’s location within a hierarchy and help the user understand where they are in relation to the rest of that hierarchy. They also afford one-click access to higher levels of that hierarchy."
                   ComponentParameters="componentParameters"
                   ComponentSubClasses="componentSubClasses"
                   Notes="The BitBreadcrumb is a Multi-API component which can accept the list of Items in 3 different ways: BitBreadcrumbItem class, a custom Generic class, and BitBreadcrumbOption component.">
        <BitPivot Classes="@(new() { Header = "pivot-sticky-header" })">
            <BitPivotItem HeaderText="Item">
                <ComponentExampleBox Title="Basic" RazorCode="@example1BreadcrumbItemRazorCode" CsharpCode="@example1BreadcrumbItemCsharpCode" Id="example1">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Basic</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems" />
                            </div>
                            <div>
                                <BitLabel>Disabled</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems" IsEnabled="false" />
                            </div>
                            <div>
                                <BitLabel>Item Disabled</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItemsDisabled" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="MaxDisplayedItems & OverflowIndex" RazorCode="@example2BreadcrumbItemRazorCode" CsharpCode="@example2BreadcrumbItemCsharpCode" Id="example2">
                    <ExamplePreview>
                        <div class="example-desc">
                            You can specify how many items are displayed among the items you have and the rest of the items are displayed as overflow.
                            You can also choose which index the overflow icon should be placed in.
                        </div>
                        <div class="example-box">
                            <div>
                                <BitLabel>MaxDisplayedItems (1)</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems" MaxDisplayedItems="1" />
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedItems (2)</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems" MaxDisplayedItems="2" />
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedItems (3)</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems" MaxDisplayedItems="3" />
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedItems (3), OverflowIndex (0)</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems" MaxDisplayedItems="3" OverflowIndex="0" />
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedItems (3), OverflowIndex (1)</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems" MaxDisplayedItems="3" OverflowIndex="1" />
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedItems (3), OverflowIndex (2)</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems" MaxDisplayedItems="3" OverflowIndex="2" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="OverflowIcon" RazorCode="@example3BreadcrumbItemRazorCode" CsharpCode="@example3BreadcrumbItemCsharpCode" Id="example3">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>BitIconName (ChevronDown)</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems"
                                               MaxDisplayedItems="3"
                                               OverflowIndex="2"
                                               OverflowIconName="@BitIconName.ChevronDown" />
                            </div>
                            <div>
                                <BitLabel>BitIconName (CollapseMenu)</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems"
                                               MaxDisplayedItems="3"
                                               OverflowIndex="2"
                                               OverflowIconName="@BitIconName.CollapseMenu" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Class & Style" RazorCode="@example4BreadcrumbItemRazorCode" CsharpCode="@example4BreadcrumbItemCsharpCode" Id="example4">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Items Class</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItemsWithClass" />
                            </div>
                            <div>
                                <BitLabel>Items Style</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItemsWithStyle" />
                            </div>
                            <div>
                                <BitLabel>Selected Item Class</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems"
                                               SelectedItemClass="custom-selected-item" />
                            </div>
                            <div>
                                <BitLabel>Selected Item Style</BitLabel>
                                <BitBreadcrumb Items="BreadcrumbItems"
                                               SelectedItemStyle="color:red;background:lightgreen" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Controlled BitBreadcrumb" RazorCode="@example5BreadcrumbItemRazorCode" CsharpCode="@example5BreadcrumbItemCsharpCode" Id="example5">
                    <ExamplePreview>
                        <div class="example-desc">By clicking on the items, the selected item will change and match the SelectedItemStyle.</div>
                        <div class="example-box">
                            <BitBreadcrumb Items="@BreadcrumbItemsWithControlled"
                                           MaxDisplayedItems="3"
                                           OverflowIndex="2"
                                           OnItemClick="(BitBreadcrumbItem item) => HandleOnItemClick(item)"
                                           SelectedItemStyle="color:red;background:lightgreen" />
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Customizations" RazorCode="@example6BreadcrumbItemRazorCode" CsharpCode="@example6BreadcrumbItemCsharpCode" Id="example6">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitBreadcrumb Items="@BreadcrumbItemsWithCustomized"
                                               MaxDisplayedItems="@MaxDisplayedItems"
                                               OverflowIndex="@OverflowIndex"
                                               OnItemClick="(BitBreadcrumbItem item) => HandleOnCustomizedItemClick(item)" />
                            </div>
                            <div class="operators">
                                <div>
                                    <BitButton OnClick="AddBreadcrumbItem">Add Item</BitButton>
                                    <BitButton OnClick="RemoveBreadcrumbItem">Remove Item</BitButton>
                                </div>
                                <div>
                                    <BitNumberField @bind-Value="MaxDisplayedItems" Label="MaxDisplayedItems" ShowButtons="true" />
                                    <BitNumberField @bind-Value="OverflowIndex" Label="OverflowIndex" ShowButtons="true" />
                                </div>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="RTL" RazorCode="@example7BreadcrumbItemRazorCode" CsharpCode="@example7BreadcrumbItemCsharpCode" Id="example7">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitBreadcrumb Dir="BitDir.Rtl" Items="RtlBreadcrumbItems" MaxDisplayedItems="3" OverflowIndex="2" />
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>
            </BitPivotItem>

            <BitPivotItem HeaderText="Custom">
                <ComponentExampleBox Title="Basic" RazorCode="@example1CustomItemRazorCode" CsharpCode="@example1CustomItemCsharpCode" Id="example1">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Basic</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors" />
                            </div>
                            <div>
                                <BitLabel>Disabled</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               IsEnabled="false" />
                            </div>
                            <div>
                                <BitLabel>Item Disabled</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItemsDisabled"
                                               NameSelectors="nameSelectors" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="MaxDisplayedItems & OverflowIndex" RazorCode="@example2CustomItemRazorCode" CsharpCode="@example2CustomItemCsharpCode" Id="example2">
                    <ExamplePreview>
                        <div class="example-desc">
                            You can specify how many items are displayed among the items you have and the rest of the items are displayed as overflow.
                            You can also choose which index the overflow icon should be placed in.
                        </div>
                        <div class="example-box">
                            <div>
                                <BitLabel>MaxDisplayedItems (1)</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               MaxDisplayedItems="1" />
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedItems (2)</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               MaxDisplayedItems="2" />
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedItems (3)</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               MaxDisplayedItems="3" />
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedItems (3), OverflowIndex (0)</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               MaxDisplayedItems="3"
                                               OverflowIndex="0" />
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedItems (3), OverflowIndex (1)</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               MaxDisplayedItems="3"
                                               OverflowIndex="1" />
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedItems (3), OverflowIndex (2)</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               MaxDisplayedItems="3"
                                               OverflowIndex="2" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="OverflowIcon" RazorCode="@example3CustomItemRazorCode" CsharpCode="@example3CustomItemCsharpCode" Id="example3">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>BitIconName (ChevronDown)</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               MaxDisplayedItems="3"
                                               OverflowIndex="2"
                                               OverflowIconName="@BitIconName.ChevronDown" />
                            </div>
                            <div>
                                <BitLabel>BitIconName (CollapseMenu)</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               MaxDisplayedItems="3"
                                               OverflowIndex="2"
                                               OverflowIconName="@BitIconName.CollapseMenu" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Class & Style" RazorCode="@example4CustomItemRazorCode" CsharpCode="@example4CustomItemCsharpCode" Id="example4">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Items Class</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItemsWithClass"
                                               NameSelectors="nameSelectors" />
                            </div>
                            <div>
                                <BitLabel>Items Style</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItemsWithStyle"
                                               NameSelectors="nameSelectors" />
                            </div>
                            <div>
                                <BitLabel>Selected Item Class</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               SelectedItemClass="custom-selected-item" />
                            </div>
                            <div>
                                <BitLabel>Selected Item Style</BitLabel>
                                <BitBreadcrumb Items="CustomBreadcrumbItems"
                                               NameSelectors="nameSelectors"
                                               SelectedItemStyle="color:red;background:lightgreen" />
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Controlled BitBreadcrumb" RazorCode="@example5CustomItemRazorCode" CsharpCode="@example5CustomItemCsharpCode" Id="example5">
                    <ExamplePreview>
                        <div class="example-desc">By clicking on the items, the selected item will change and match the SelectedItemStyle.</div>
                        <div class="example-box">
                            <BitBreadcrumb Items="CustomBreadcrumbItemsWithControlled"
                                           NameSelectors="nameSelectors"
                                           MaxDisplayedItems="3"
                                           OverflowIndex="2"
                                           OnItemClick="(PageInfoModel model) => HandleOnCustomClick(model)"
                                           SelectedItemStyle="color:red;background:lightgreen" />
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Customizations" RazorCode="@example6CustomItemRazorCode" CsharpCode="@example6CustomItemCsharpCode" Id="example6">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitBreadcrumb Items="CustomBreadcrumbItemsWithCustomized"
                                               NameSelectors="nameSelectors"
                                               MaxDisplayedItems="@MaxDisplayedItems"
                                               OverflowIndex="@OverflowIndex"
                                               OnItemClick="(PageInfoModel model) => HandleOnCustomizedCustomClick(model)" />
                            </div>
                            <div class="operators">
                                <div>
                                    <BitButton OnClick="AddCustomItem">Add Item</BitButton>
                                    <BitButton OnClick="RemoveCustomItem">Remove Item</BitButton>
                                </div>
                                <div>
                                    <BitNumberField @bind-Value="MaxDisplayedItems" Label="MaxDisplayedItems" ShowButtons="true" />
                                    <BitNumberField @bind-Value="OverflowIndex" Label="OverflowIndex" ShowButtons="true" />
                                </div>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="RTL" RazorCode="@example7CustomItemRazorCode" CsharpCode="@example7CustomItemCsharpCode" Id="example7">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitBreadcrumb Dir="BitDir.Rtl"
                                           OverflowIndex="2"
                                           MaxDisplayedItems="3"
                                           Items="RtlCustomBreadcrumbItems"
                                           NameSelectors="nameSelectors" />
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>
            </BitPivotItem>

            <BitPivotItem HeaderText="Option">
                <ComponentExampleBox Title="Basic" RazorCode="@example1BreadcrumbOptionRazorCode" Id="example1">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Basic</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>

                            <div>
                                <BitLabel>Group Disabled</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" IsEnabled="false">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>

                            <div>
                                <BitLabel>Option Disabled</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" IsEnabled="false" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" IsEnabled="false" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="MaxDisplayedOptions & OverflowIndex" RazorCode="@example2BreadcrumbOptionRazorCode" Id="example2">
                    <ExamplePreview>
                        <div class="example-desc">
                            You can specify how many options are displayed among the options you have and the rest of the options are displayed as overflow.
                            You can also choose which index the overflow icon should be placed in.
                        </div>
                        <div class="example-box">
                            <div>
                                <BitLabel>MaxDisplayedOptions (1)</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" MaxDisplayedItems="1">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedOptions (2)</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" MaxDisplayedItems="2">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedOptions (3)</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" MaxDisplayedItems="3">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedOptions (3), OverflowIndex (0)</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" MaxDisplayedItems="3" OverflowIndex="0">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedOptions (3), OverflowIndex (1)</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" MaxDisplayedItems="3" OverflowIndex="1">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                            <div>
                                <BitLabel>MaxDisplayedOptions (3), OverflowIndex (2)</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" MaxDisplayedItems="3" OverflowIndex="2">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="OverflowIcon" RazorCode="@example3BreadcrumbOptionRazorCode" Id="example3">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>BitIconName (ChevronDown)</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" MaxDisplayedItems="3" OverflowIndex="2" OverflowIconName="@BitIconName.ChevronDown">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>

                            <div>
                                <BitLabel>BitIconName (CollapseMenu)</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" MaxDisplayedItems="3" OverflowIndex="2" OverflowIconName="@BitIconName.CollapseMenu">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Class & Style" RazorCode="@example4BreadcrumbOptionRazorCode" Id="example4">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitLabel>Options Class</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" Class="custom-item" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" Class="custom-item" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" Class="custom-item" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" Class="custom-item" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                            <div>
                                <BitLabel>Options Style</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" Style="color:red;background:greenyellow" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" Style="color:red;background:greenyellow" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" Style="color:red;background:greenyellow" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" Style="color:red;background:greenyellow" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                            <div>
                                <BitLabel>Selected Option Class</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" SelectedItemClass="custom-selected-item">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                            <div>
                                <BitLabel>Selected Option Style</BitLabel>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" SelectedItemStyle="color:red; background:lightgreen;">
                                    <BitBreadcrumbOption Text="Option 1" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 2" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 3" Href="/components/breadcrumb" />
                                    <BitBreadcrumbOption Text="Option 4" Href="/components/breadcrumb" IsSelected="true" />
                                </BitBreadcrumb>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Controlled BitBreadcrumb" RazorCode="@example5BreadcrumbOptionRazorCode" CsharpCode="@example5BreadcrumbOptionCsharpCode" Id="example5">
                    <ExamplePreview>
                        <div class="example-desc">By clicking on the Options, the Selected Option will change and match the SelectedOptionStyle.</div>
                        <div class="example-box">
                            <BitBreadcrumb TItem="BitBreadcrumbOption" MaxDisplayedItems="3" OverflowIndex="2" SelectedItemStyle="color:red; background:lightgreen;">
                                <BitBreadcrumbOption Text="Option 1" IsSelected="@(SelectedOptionNumber == 1)" OnClick="() => SelectedOptionNumber = 1" />
                                <BitBreadcrumbOption Text="Option 2" IsSelected="@(SelectedOptionNumber == 2)" OnClick="() => SelectedOptionNumber = 2" />
                                <BitBreadcrumbOption Text="Option 3" IsSelected="@(SelectedOptionNumber == 3)" OnClick="() => SelectedOptionNumber = 3" />
                                <BitBreadcrumbOption Text="Option 4" IsSelected="@(SelectedOptionNumber == 4)" OnClick="() => SelectedOptionNumber = 4" />
                                <BitBreadcrumbOption Text="Option 5" IsSelected="@(SelectedOptionNumber == 5)" OnClick="() => SelectedOptionNumber = 5" />
                                <BitBreadcrumbOption Text="Option 6" IsSelected="@(SelectedOptionNumber == 6)" OnClick="() => SelectedOptionNumber = 6" />
                            </BitBreadcrumb>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="Customizations" RazorCode="@example6BreadcrumbOptionRazorCode" CsharpCode="@example6BreadcrumbOptionCsharpCode" Id="example6">
                    <ExamplePreview>
                        <div class="example-box">
                            <div>
                                <BitBreadcrumb TItem="BitBreadcrumbOption" MaxDisplayedItems="@MaxDisplayedItems" OverflowIndex="@OverflowIndex">
                                    @for (int i = 0; i < ItemsCount; i++)
                                    {
                                        int index = i + 1;
                                        <BitBreadcrumbOption Text="@($"Option {index}")" IsSelected="@(CustomizedSelectedOptionNumber == index)" OnClick="() => CustomizedSelectedOptionNumber = index" />
                                    }
                                </BitBreadcrumb>
                            </div>
                            <div class="operators">
                                <div>
                                    <BitButton OnClick="() => ItemsCount++">Add Option</BitButton>
                                    <BitButton OnClick="() => ItemsCount--">Remove Option</BitButton>
                                </div>
                                <div>
                                    <BitNumberField @bind-Value="MaxDisplayedItems" Label="MaxDisplayedOption" ShowButtons="true" />
                                    <BitNumberField @bind-Value="OverflowIndex" Label="OverflowIndex" ShowButtons="true" />
                                </div>
                            </div>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>

                <ComponentExampleBox Title="RTL" RazorCode="@example7BreadcrumbOptionRazorCode" Id="example7">
                    <ExamplePreview>
                        <div class="example-box">
                            <BitBreadcrumb Dir="BitDir.Rtl" TItem="BitBreadcrumbOption" MaxDisplayedItems="3" OverflowIndex="2">
                                <BitBreadcrumbOption Text="پوشه اول" />
                                <BitBreadcrumbOption Text="پوشه دوم" IsSelected="true" />
                                <BitBreadcrumbOption Text="پوشه سوم" />
                                <BitBreadcrumbOption Text="پوشه چهارم" />
                                <BitBreadcrumbOption Text="پوشه پنجم" />
                                <BitBreadcrumbOption Text="پوشه ششم" />
                            </BitBreadcrumb>
                        </div>
                    </ExamplePreview>
                </ComponentExampleBox>
            </BitPivotItem>
        </BitPivot>
    </ComponentDemo>
</div>
