@inherits AppComponentBase

<section>
    <BitStack>
        <BitStack Horizontal Wrap>
            <OverallStatusCard Loading="isLoading" Value="dto.TotalCategories" Label="@Localizer[nameof(AppStrings.TotalCategories)]" IconName="@BitIconName.BuildQueue" />
            <OverallStatusCard Loading="isLoading" Value="dto.CategoriesWithProductCount" Label="@Localizer[nameof(AppStrings.CategoriesWithProductCount)]" IconName="@BitIconName.BarChart3" />
        </BitStack>
        <BitStack Horizontal Wrap>
            <OverallStatusCard Loading="isLoading" Value="dto.TotalProducts" Label="@Localizer[nameof(AppStrings.TotalProducts)]" IconName="@BitIconName.Product" />
            <OverallStatusCard Loading="isLoading" Value="dto.Last30DaysProductCount" Label="@Localizer[nameof(AppStrings.Last30DaysProductCount)]" IconName="@BitIconName.BarChartVerticalFill" />
        </BitStack>
    </BitStack>
</section>