@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<nav @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     role="navigation"
     aria-label="@AriaLabel">
    @if (HeaderTemplate is null)
    {
        <div>
            <div>
                <ul role="list">
                    @foreach (var navLinkItem in NavLinkItems)
                        if (childTemplate is not null)
                            @childTemplate(navLinkItem)
                </ul>
            </div>
        </div>
    }
    else
    {
        @foreach (var navLink in NavLinkItems)
        {
            <div>
                @HeaderTemplate(navLink)
                @if (navLink.Links?.Any() ?? false)
                {
                    <div>
                        <ul role="list">
                            @foreach (var child in navLink.Links)
                                if (childTemplate is not null)
                                    @childTemplate(child)
                        </ul>
                    </div>
                }
            </div>
        }
    }
</nav>

@code{
    public RenderFragment<BitNavLinkItem>? childTemplate { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        childTemplate = (navLinkItem) =>
        (
    @<li role="listitem"
         @key="navLinkItem.Key"
         @onclick="(()=>HandleClick(navLinkItem))">

        <div name="@navLinkItem.Name">
            @if (navLinkItem.Links?.Any() ?? false)
            {
                <button tabindex="0"
                        @onclick="(() => OnLinkExpand(navLinkItem))"
                        aria-label="@navLinkItem.CollapseAriaLabel"
                        aria-expanded="@navLinkItem.IsExpanded">
                    <i class="bit-icon bit-icon--ChevronDown @(navLinkItem.IsExpanded ? "bit-nav-expand-fluent" : "")"></i>
                </button>
            }

            @if (navLinkItem.Url.HasValue())
            {
                <a href="@(navLinkItem.Disabled ? "/" : navLinkItem.Url)"
                   title="@(navLinkItem.Title.HasValue() ? navLinkItem.Title : navLinkItem.Name)"
                   tabindex="-1"
                   @onclick="(()=>HandleLinkClick(navLinkItem))"
                   target="@navLinkItem.Target"
                   style="padding: 0px 20px 0px @(((navLinkItem.Depth * 14)+(navLinkItem.Icon.HasNoValue() ? 27 : 3)).ToString())px;"
                   class="@GetLinkClass(navLinkItem)">

                    <span>
                        @if (navLinkItem.Icon.HasValue())
                        {
                            <i class=@($"bit-icon bit-icon--{navLinkItem.Icon}")></i>
                        }
                        <div>@navLinkItem.Name</div>
                    </span>
                </a>
            }
            else
            {
                if (navLinkItem.ForceAnchor)
                {
                    <a class="@GetLinkClass(navLinkItem)"
                       title="@(navLinkItem.Title.HasValue() ? navLinkItem.Title : navLinkItem.Name)"
                       style="padding: 0px 20px 0px @(((navLinkItem.Depth * 14)+27).ToString())px;"
                       @onclick="(() => HandleLinkClick(navLinkItem))">
                        <span>
                            <div>@navLinkItem.Name</div>
                        </span>
                    </a>
                }
                else
                {
                    <button class="@GetLinkClass(navLinkItem)"
                            title="@(navLinkItem.Title.HasValue() ? navLinkItem.Title : navLinkItem.Name)"
                            style="padding: 0px 20px 0px @(((navLinkItem.Depth * 14)+27).ToString())px;"
                            @onclick="(() => HandleLinkClick(navLinkItem))">
                        <span>
                            <div>@navLinkItem.Name</div>
                        </span>
                    </button>
                }

            }
        </div>
        @if (navLinkItem.Links?.Any() != null && navLinkItem.IsExpanded)
        {
            <ul role="list">
                @foreach (var childLinkItem in navLinkItem.Links)
                {
                    childLinkItem.Depth = navLinkItem.Depth + 1;
                    if (childTemplate is not null)
                        @childTemplate(childLinkItem)
                    }
            </ul>
        }
    </li>
    );
    }
}
