@namespace AdminPanel.Client.Shared.Pages
@inherits AppComponentBase

<BitModal @bind-IsOpen="_isOpen">
    <div class="main-container">
        <div class="header">
            <span class="title">
                @if (_product.Id != 0)
                {
                    @Localizer[nameof(AppStrings.EditProduct)]
                }
                else
                {
                    @Localizer[nameof(AppStrings.AddProduct)]
                }
            </span>
            <BitIconButton IconName="BitIconName.ChromeClose" OnClick="OnCloseClick" />
        </div>
        <EditForm Model="_product" OnValidSubmit="WrapHandled(Save)" style="width: 100%; display: flex; flex-direction: column;align-items: center">

            <AppDataAnnotationsValidator />
            <div class="form-input-container">
                <BitTextField Label="@Localizer[(nameof(AppStrings.Name))]" @bind-Value="_product.Name" Placeholder="@Localizer[nameof(AppStrings.EnterProductName)]" />
                <ValidationMessage For="() => _product.Name" />
            </div>

            <div class="form-input-container">
                <BitDropDown @bind-Value="_selectedCategoyId"
                             IsMultiSelect="false"
                             Items="_allCategoryList"
                             OnSelectItem="(item => _product.CategoryId = int.Parse(item.Value))"
                             Placeholder="@Localizer[(nameof(AppStrings.SelectACategory))]"
                             Label="@Localizer[(nameof(AppStrings.SelectCategory))]" />
                <ValidationMessage For="@(() => _product.CategoryId)" />
            </div>

            <div class="form-input-container">
                <BitNumericTextField @bind-Value="_product.Price"
                                     Precision="2"
                                     Suffix="$"
                                     Label="@Localizer[(nameof(AppStrings.Price))]"
                                     LabelPosition="@BitNumericTextFieldLabelPosition.Top" />
                <ValidationMessage For="() => _product.Price" />
            </div>

            <div class="form-input-container">
                <BitTextField @bind-Value="_product.Description"
                              Rows="3"
                              IsMultiline="true"
                              Label="@Localizer[(nameof(AppStrings.Description))]" />
                <ValidationMessage For="() => _product.Description" />
            </div>

            <BitLoadingButton IsLoading="_isSaving" ButtonType="BitButtonType.Submit">
                @Localizer[nameof(AppStrings.Save)]
            </BitLoadingButton>
        </EditForm>
    </div>
</BitModal>