@page "/products"
@using AdminPanel.Shared.Dtos.Products
@namespace AdminPanel.Client.Shared.Pages
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.ProductsPageTitle)]</PageTitle>

<div class="page-container">
    @if (_isLoading)
    {
        <div class="loading-contianer">
            <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
        </div>
    }

    <div class="page-row">
        <h1 class="page-title">@Localizer[nameof(AppStrings.Products)]</h1>
        <BitButton OnClick="WrapHandled(CreateProduct)">@Localizer[nameof(AppStrings.AddProduct)]</BitButton>
    </div>
    
    <div class="grid">
        <BitDataGrid @ref="_dataGrid" ItemsProvider="_productsProvider" TGridItem="ProductDto" ResizableColumns="true" Pagination="_pagination">
            <BitDataGridPropertyColumn Title="@Localizer[nameof(AppStrings.Id)]" Property="p => p!.Id" Sortable="true" Class="id-col"
                                       Align="BitDataGridAlign.Left" IsDefaultSort="BitDataGridSortDirection.Ascending" />
            <BitDataGridPropertyColumn Title="@Localizer[nameof(AppStrings.Name)]"  Property="p => p!.Name" Sortable="true" Class="column1">
                <ColumnOptions>
                    <BitSearchBox @bind-Value="ProductNameFilter"
                                  Placeholder="@Localizer[(nameof(AppStrings.SearchOnName))]"
                                  InputHtmlAttributes="@(new Dictionary<string, object> {{"autofocus", true}})" />
                </ColumnOptions>
            </BitDataGridPropertyColumn>
            <BitDataGridPropertyColumn Title="@Localizer[nameof(AppStrings.Category)]" Property="p => p!.CategoryId" Sortable="true" Align="BitDataGridAlign.Left" />
            <BitDataGridPropertyColumn Title="@Localizer[nameof(AppStrings.Price)]" Property="p => p!.Price" Sortable="true" Align="BitDataGridAlign.Left" />
            <BitDataGridTemplateColumn Title="@Localizer[(nameof(AppStrings.Action))]" Align="BitDataGridAlign.Center" Context="product">
                <BitIconButton Style="color:#605E5C;" IconName="BitIconName.Edit" OnClick="() => EditProduct(product!)" Title="@Localizer[(nameof(AppStrings.Edit))]" />
                <BitIconButton Style="color:#605E5C;" IconName="BitIconName.Delete" OnClick="WrapHandled(() => DeleteProduct(product!))" Title="@Localizer[(nameof(AppStrings.Delete))]" />
            </BitDataGridTemplateColumn>
        </BitDataGrid>
        <BitDataGridPaginator Value="_pagination" />
    </div>
</div>

<CreateEditProductModal @ref="_modal" OnSave="WrapHandled(RefreshData)"/>
<ConfirmMessageBox />