@page "/components/dropdown"
@inject HttpClient HttpClient
@inject NavigationManager NavManager

<PageOutlet Url="components/dropdown"
            Title="Dropdown"
            Description="dropdown component of the bit blazorui components" />

<ComponentDemo ComponentName="Dropdown"
               ComponentParameters="componentParameters"
               ComponentDescription="A dropdown is a list in which the selected item is always visible while other items are visible on demand by clicking a dropdown button. Dropdowns are typically used for forms.">
    <ComponentExampleBox Title="Basic Dropdown" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a dropdown you can use a BitDropdown component.</div>
            <div>
                <BitDropdown Label="Basic Uncontrolled"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
                </BitDropdown>
                <BitDropdown Label="Disabled with defaultValue"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             IsEnabled="false"
                             DefaultValue="v-bro"
                             Style="width: 100%; max-width: 290px; margin-bottom: 20px;">
                </BitDropdown>
                <BitDropdown Label="Multi-select uncontrolled"
                             Items="GetDropdownItems()"
                             Placeholder="Select options"
                             IsMultiSelect="true"
                             Style="width: 100%; max-width: 290px; margin-bottom: 20px;">
                </BitDropdown>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Controlled Dropdown" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div>
                <BitDropdown @bind-Value="ControlledValue"
                             Label="Single-select Controlled"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
                </BitDropdown>
            </div>
            <div>
                <BitLabel>Selected Value: @ControlledValue</BitLabel>
            </div>
            <br />
            <div>
            <BitDropdown @bind-Values="ControlledValues"
                         Label="Multi-select controlled"
                         Items="GetDropdownItems()"
                         Placeholder="Select options"
                         IsMultiSelect="true"
                         Style="width: 100%; max-width: 290px; margin:20px 0 20px 0">
                </BitDropdown>
            </div>
            <div>
                <BitLabel>Selected Value: @string.Join(",", ControlledValues)</BitLabel>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Customized Dropdown" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <BitDropdown Label="Custom Controlled"
                         Items="GetCustomDropdownItems()"
                         Placeholder="Select an option"
                         AriaLabel="Custom dropdown"
                         Style="width: 100%; max-width: 290px; margin:20px 0 20px 0">
                <TextTemplate>
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <i class="bit-icon bit-icon--@((context.Items.Find(i => i.Value == context.Value).Data as DropdownItemData).IconName)"
                           aria-hidden="true"
                           title="@((context.Items.Find(i => i.Value == context.Value).Data as DropdownItemData).IconName)"></i>
                        <span>@context.Items.Find(i => i.Value == context.Value).Text</span>
                    </div>
                </TextTemplate>
                <PlaceholderTemplate>
                    <div style="display: flex; gap: 10px; align-items: center;">
                        <i class="bit-icon bit-icon--MessageFill" aria-hidden="true"></i>
                        <span>@context.Placeholder</span>
                    </div>
                </PlaceholderTemplate>
                <CaretDownTemplate>
                    <i class="bit-icon bit-icon--CirclePlus"></i>
                </CaretDownTemplate>
                <ItemTemplate>
                    <div style="display: flex; flex-flow: row nowrap; justify-content: flex-start; align-items: center; gap: 10px;">
                        <i class="bit-icon bit-icon--@((context.Data as DropdownItemData).IconName)"
                           aria-hidden="true"
                           title="@((context.Data as DropdownItemData).IconName)"></i>
                        <span>@context.Text</span>
                    </div>
                </ItemTemplate>
            </BitDropdown>

            <BitDropdown Items="GetCustomDropdownItems()"
                         Placeholder="Select an option"
                         Label="Custom Label"
                         AriaLabel="Custom dropdown label"
                         Style="width: 100%; max-width: 290px; margin:0 0 20px 0">
                <LabelTemplate>
                    <label>Custom label</label>
                    <button type="button" title="Info" aria-label="Info" class="custom-drp-lbl-ic">
                        <i class="bit-icon bit-icon--Info"></i>
                    </button>
                </LabelTemplate>
            </BitDropdown>

            <BitDropdown Items="GetCustomDropdownItems()"
                         Placeholder="Select an option"
                         Label="Custom CaretDownIconName"
                         AriaLabel="Custom dropdown chevron icon with icon name"
                         CaretDownIconName="BitIconName.ScrollUpDown"
                         Style="width: 100%; max-width: 290px">
            </BitDropdown>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Cascading Dropdowns" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div class="grid-wrap">
                <div>
                    <BitDropdown @bind-Value="@CurrentCategory"
                                 Label="Category"
                                 Items="Categories"
                                 Placeholder="Select options"
                                 Style="width: 100%; max-width: 290px; margin:20px 0 20px 0">
                    </BitDropdown>

                    <BitDropdown @bind-Value="@CurrentProduct"
                                 Label="Product"
                                 Items="@(Products.Where(p => p.Value.StartsWith($"{CurrentCategory}-")).ToList())"
                                 Placeholder="Select options"
                                 IsEnabled="string.IsNullOrEmpty(CurrentCategory) is false"
                                 Style="width: 100%; max-width: 290px; margin:20px 0 20px 0">
                    </BitDropdown>
                </div>

                <div class="cascading-dropdowns-info">
                    <h5>Current category: @(Categories.FirstOrDefault(c => c.Value == CurrentCategory)?.Text ?? "-")</h5>
                    <h5>Current product: @(Products.FirstOrDefault(c => c.Value == CurrentProduct)?.Text ?? "-")</h5>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Dropdown with validation" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example6">
        <ExamplePreview>
            @if (string.IsNullOrEmpty(SuccessMessage))
            {
                <EditForm Model="formValidationDropdownModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit">
                    <DataAnnotationsValidator />

                    <div class="validation-summary">
                        <ValidationSummary />
                    </div>

                    <div>
                        <BitDropdown @bind-Value="formValidationDropdownModel.Category"
                                     Label="Select category"
                                     Items="GetCategoryDropdownItems()"
                                     IsMultiSelect="false"
                                     Placeholder="Select an option"
                                     Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0" />

                        <ValidationMessage For="@(() => formValidationDropdownModel.Category)" />
                    </div>

                    <div>
                        <BitDropdown @bind-Values="formValidationDropdownModel.Products"
                                     Label="Select two ptoducts"
                                     Items="GetProductDropdownItems()"
                                     IsMultiSelect="true"
                                     Placeholder="Select an option"
                                     Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0" />

                        <ValidationMessage For="@(() => formValidationDropdownModel.Products)" />
                    </div>

                    <br />

                    <BitButton ButtonType="BitButtonType.Submit">
                        Submit
                    </BitButton>
                </EditForm>
            }
            else
            {
                <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                    @SuccessMessage
                </BitMessageBar>
            }
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Responsive Dropdown" HTMLSourceCode="@example7HTMLCode" CSharpSourceCode="@example7CSharpCode" ExampleId="example7">
        <ExamplePreview>
            <div class="example-desc">Using the IsResponsiveModeEnabled parameter, the drop down items will render in a side panel in small screen sizes.</div>
            <div>
                <BitDropdown Label="Responsive Dropdown"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             IsResponsiveModeEnabled=true
                             Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
                </BitDropdown>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Dropdown with search-box" HTMLSourceCode="@example8HTMLCode" CSharpSourceCode="@example8CSharpCode" ExampleId="example8">
        <ExamplePreview>
            <div>
                <BitDropdown Label="Single-select Controlled with search box"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             IsResponsiveModeEnabled="true"
                             ShowSearchBox="true"
                             SearchBoxPlaceholder="Search item"
                             Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
                </BitDropdown>

                <BitDropdown Label="Multi-select controlled with search box"
                             Items="GetDropdownItems()"
                             Placeholder="Select options"
                             IsMultiSelect="true"
                             IsResponsiveModeEnabled="true"
                             ShowSearchBox="true"
                             SearchBoxPlaceholder="Search items"
                             Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
                </BitDropdown>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Dropdown with virtualization" HTMLSourceCode="@example9HTMLCode" CSharpSourceCode="@example9CSharpCode" ExampleId="example9">
        <ExamplePreview>
            <BitDropdown Label="Single-select Controlled with virtualization"
                         Items="LargeListOfCategoriesForSingleSelect"
                         Virtualize="true"
                         Placeholder="Select an option"
                         IsResponsiveModeEnabled="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="Search item"
                         Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
            </BitDropdown>

            <BitDropdown Label="Multi-select controlled with virtualization"
                         Items="LargeListOfCategoriesForMultiSelect"
                         Virtualize="true"
                         Placeholder="Select options"
                         IsMultiSelect="true"
                         IsResponsiveModeEnabled="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="Search items"
                         Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
            </BitDropdown>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Dropdown with virtualization (ItemsProvider)" HTMLSourceCode="@example10HTMLCode" CSharpSourceCode="@example10CSharpCode" ExampleId="example9">
        <ExamplePreview>
            <BitDropdown Label="Single-select Controlled with virtualization"
                         ItemsProvider="LoadDropdownItems"
                         Virtualize="true"
                         Placeholder="Select an option"
                         IsResponsiveModeEnabled="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="Search item"
                         Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
            </BitDropdown>

            <BitDropdown Label="Multi-select controlled with virtualization"
                         ItemsProvider="LoadDropdownItems"
                         Virtualize="true"
                         Placeholder="Select options"
                         IsMultiSelect="true"
                         IsResponsiveModeEnabled="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="Search items"
                         Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
            </BitDropdown>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL Dropdown" HTMLSourceCode="@example11HTMLCode" CSharpSourceCode="@example11CSharpCode" ExampleId="example11">
        <ExamplePreview>
            <BitDropdown Label="Single-select with Rtl direction"
                         Items="GetArabicDropdownItems()"
                         Placeholder="حدد اختيارا"
                         IsResponsiveModeEnabled="true"
                         IsRtl="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="عناصر البحث"
                         Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
            </BitDropdown>
            <BitDropdown Label="Multi-select with Rtl direction"
                         Items="GetArabicDropdownItems()"
                         Placeholder="اشر على الخيارات"
                         IsMultiSelect="true"
                         IsResponsiveModeEnabled="true"
                         IsRtl="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="عناصر البحث"
                         Style="width: 100%; max-width: 290px; margin-bottom: 20px;">
            </BitDropdown>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Drop Direction" HTMLSourceCode="@example12HTMLCode" CSharpSourceCode="@example12CSharpCode" ExampleId="example12">
        <ExamplePreview>
            <BitDropdown Label="Single-select Controlled with auto drop direction"
                         Items="LargeListOfCategoriesDropDirection"
                         Virtualize="true"
                         Placeholder="Select an option"
                         IsResponsiveModeEnabled="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="Search item"
                         DropDirection="BitDropDirection.Auto"
                         Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
            </BitDropdown>

            <BitDropdown Label="Single-select Controlled with top and bottom drop direction"
                         Items="LargeListOfCategoriesDropDirection"
                         Virtualize="true"
                         Placeholder="Select an option"
                         IsResponsiveModeEnabled="true"
                         ShowSearchBox="true"
                         SearchBoxPlaceholder="Search item"
                         DropDirection="BitDropDirection.TopAndBottom"
                         Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
            </BitDropdown>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Clear button" HTMLSourceCode="@example13HTMLCode" CSharpSourceCode="@example13CSharpCode" ExampleId="example13">
        <ExamplePreview>
            <div class="example-desc">Select an item for the Clear button to show.</div>
            <div>
                <BitDropdown @bind-Value="SelectedValue"
                             ShowClearButton="true"
                             Label="Basic Uncontrolled"
                             Items="GetDropdownItems()"
                             Placeholder="Select an option"
                             Style="width: 100%; max-width: 290px; margin: 20px 0 20px 0">
                </BitDropdown>
                <div>Value: @SelectedValue</div>
                <br>
                <hr />
                <br>
                <BitDropdown @bind-Values="SelectedValues"
                             ShowClearButton="true"
                             Label="Multi-select uncontrolled"
                             Items="GetDropdownItems()"
                             Placeholder="Select options"
                             IsMultiSelect="true"
                             Style="width: 100%; max-width: 290px; margin-bottom: 20px;">
                </BitDropdown>
                <div>Values: @string.Join(',', SelectedValues)</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>