@page "/components/progress-indicator"

<ComponentDemo ComponentName="ProgressIndicator" ComponentDescription="BitProgressIndicators are used to show the completion status of an operation lasting more than 2 seconds.
        If the state of progress cannot be determined, use a Spinner instead.
        ProgressIndicators can appear in a new panel, a flyout, under the UI initiating the operation, or even replacing the initiating UI,
        as long as the UI can return if the operation is canceled or is stopped. Real-world examples include copying files to a storage location, saving edits to a file, and more.
        Use units that are informative and relevant to give the best idea to users of how long the operation will take to complete.
        Avoid time units as they are rarely accurate enough to be trustworthy. Also, combine steps of a complex operation into one total bar to avoid “rewinding” the bar.
        Instead change the operation description to reflect the change if necessary.
        Bars moving backwards reduce confidence in the service."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="BitProgressIndicator" ExampleSourceCodeForCopy="@progressIndicatorSampleCode" ExampleId="example1">
        <ExamplePreview>
            <BitProgressIndicator Label="Example title" Description="@description" PercentComplete="@CompletedPercent" BarHeight="50"></BitProgressIndicator>
            <div>
                <BitButton OnClick="@StartProgress">Start Progress</BitButton>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &ltBitProgressIndicator Label="Example title" Description="&#64;description" PercentComplete="&#64;CompletedPercent" BarHeight="50">&lt/BitProgressIndicator>
            &ltBitButton OnClick="&#64;StartProgress">Start Progress&lt/BitButton>

            &#64;code {
                    private string description = "Push button to start!";
                    public int CompletedPercent { get; set; }
                    private async Task StartProgress()
                    {
                            CompletedPercent = 0;
                            while &#40;CompletedPercent &lt= 100)
                            {
                                    if &#40;CompletedPercent == 100)
                                    {
                                            description = $"Completed !";
                                            break;
                                    }
                                    else
                                    {
                                            CompletedPercent++;
                                            description = $"{CompletedPercent}%";
                                    }

                                    StateHasChanged();
                                    await Task.Delay(100);
                            }
                    }
            }
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Indeterminate Progress Indicator" ExampleSourceCodeForCopy="@indeterminateSampleCode" ExampleId="example2">
        <ExamplePreview>
            <BitProgressIndicator Label="Example title" Description="Example description" BarHeight="20"></BitProgressIndicator>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre>
            &ltBitProgressIndicator Label="Example title" Description="Example description" BarHeight="20">&lt/BitProgressIndicator>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>
</ComponentDemo>