@page "/components/markdowneditor"

<PageOutlet Url="components/markdowneditor"
            Title="MarkdownEditor"
            Description="markdowneditor component of the bit BlazorUI components" />

<DemoPage Name="MarkdownEditor"
          Notes="To use this component, you need to install the `Bit.BlazorUI.Extras` nuget package, as described in the Optional steps of the Getting started page."
          Description="BitMarkdownEditor is a SEO friendly Blazor wrapper around the famous markedjs library."
          SecondaryNames="@(["MdViewer", "MD"])"
          Parameters="componentParameters">
    
    <DemoSection Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <div style="height:300px">
            <BitMarkdownEditor />
        </div>
    </DemoSection>

    <DemoSection Title="Value" RazorCode="@example2RazorCode" CsharpCode="@example2CsharpCode" Id="example2">
        <div style="display:flex;flex-direction:row;gap:1rem;height:300px">
            <BitMarkdownEditor @ref="editorRef" />
            <BitButton OnClick="GetValue">=></BitButton>
            <pre style="padding:1rem;width:100%">
                @value
            </pre>
        </div>
    </DemoSection>

    <DemoSection Title="OnChange" RazorCode="@example3RazorCode" CsharpCode="@example3CsharpCode" Id="example3">
        <div style="display:flex;flex-direction:row;gap:1rem;height:300px">
            <BitMarkdownEditor DefaultValue="# This is the default value" OnChange="v => onChangeValue = v" />
            <pre style="padding:1rem;width:100%">
                @onChangeValue
            </pre>
        </div>
    </DemoSection>

    <DemoSection Title="Binding" RazorCode="@example4RazorCode" CsharpCode="@example4CsharpCode" Id="example4">
        <div style="display:flex;flex-direction:row;gap:1rem;height:300px">
            <BitMarkdownEditor @bind-Value="bindingValue" />
            <pre style="padding:1rem;width:100%">
                @bindingValue
            </pre>
        </div>
    </DemoSection>
</DemoPage>
