@inherits AppComponentBase

<section>
    <BitStack HorizontalAlign="BitAlignment.Center">
        @if (showConfirmation is false)
        {
            <EditForm Model="sendModel" OnValidSubmit="WrapHandled(SendToken)">
                <AppDataAnnotationsValidator />

                <BitStack FillContent>
                    @if (PhoneNumber is not null)
                    {
                        <BitTag Variant="BitVariant.Outline" Text="@PhoneNumber" Color="BitColor.Info" />
                    }

                    <BitTextField @bind-Value="sendModel.PhoneNumber"
                                  Type="BitInputType.Tel"
                                  Label="@Localizer[nameof(AppStrings.NewPhoneNumber)]"
                                  Placeholder="@Localizer[nameof(AppStrings.NewPhoneNumberPlaceholder)]" />
                    <ValidationMessage For="@(() => sendModel.PhoneNumber)" />

                    <BitButton IsLoading="isWaiting" ButtonType="BitButtonType.Submit">
                        @Localizer[nameof(AppStrings.Submit)]
                    </BitButton>

                    <div>
                        @Localizer[nameof(AppStrings.ConfirmMessageInProfile)]
                        <BitButton ButtonType="BitButtonType.Button"
                                   Variant="BitVariant.Text"
                                   OnClick="() => showConfirmation = true">
                            @Localizer[nameof(AppStrings.Confirm)]
                        </BitButton>
                    </div>
                    <br />
                </BitStack>
            </EditForm>
        }
        else
        {
            <BitText Typography="BitTypography.Subtitle1" Gutter>
                @Localizer[nameof(AppStrings.ConfirmPhoneSubtitle)]
                <br />
                @Localizer[nameof(AppStrings.ConfirmPhoneMessage)]
            </BitText>

            <EditForm Model="changeModel" OnValidSubmit="WrapHandled(ChangePhoneNumber)">
                <AppDataAnnotationsValidator />

                <BitStack FillContent>
                    <BitTextField @bind-Value="changeModel.PhoneNumber"
                                  IsEnabled="isPhoneNumberUnavailable"
                                  Type="BitInputType.Tel"
                                  Label="@Localizer[nameof(AppStrings.PhoneNumber)]"
                                  Placeholder="@Localizer[nameof(AppStrings.PhoneNumberPlaceholder)]" />
                    <ValidationMessage For="@(() => changeModel.PhoneNumber)" />

                    <BitTextField @bind-Value="changeModel.Token"
                                  Type="BitInputType.Number"
                                  Label="@Localizer[nameof(AppStrings.PhoneToken)]"
                                  Placeholder="@Localizer[nameof(AppStrings.PhoneTokenPlaceholder)]" />
                    <ValidationMessage For="@(() => changeModel.Token)" />

                    <BitButton IsLoading="isWaiting" ButtonType="BitButtonType.Submit">
                        @Localizer[nameof(AppStrings.PhoneTokenConfirmButtonText)]
                    </BitButton>

                    <div>
                        <BitButton ButtonType="BitButtonType.Button"
                                   Variant="BitVariant.Text"
                                   IconName="@BitIconName.Back"
                                   OnClick="GoBack">
                            @Localizer[nameof(AppStrings.GoBack)]
                        </BitButton>
                    </div>
                </BitStack>
            </EditForm>

            @if (isPhoneNumberUnavailable is false)
            {
                <BitText Typography="BitTypography.Body1" Gutter>
                    @Localizer[nameof(AppStrings.NotReceivedConfirmationPhoneMessage)]
                </BitText>

                <BitButton IsLoading="isWaiting"
                           ButtonType="BitButtonType.Button"
                           Variant="BitVariant.Outline"
                           OnClick="WrapHandled(SendToken)">
                    @Localizer[nameof(AppStrings.ResendPhoneTokenButtonText)]
                </BitButton>
            }
            <br />
        }
    </BitStack>
</section>

<BitSnackBar @ref="snackbarRef" AutoDismiss AutoDismissTime="TimeSpan.FromSeconds(10)" />

