@namespace Bit.BlazorUI
@inherits BitComponentBase
@typeparam TItem

<nav @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     role="navigation"
     aria-label="@AriaLabel"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()">

    <CascadingValue Value="this" IsFixed="true">
        <div style="display:none" hidden>@(Options ?? ChildContent)</div>
    </CascadingValue>

    <div class="bit-nbr-cnt">
        @foreach (var item in _items)
        {
            var itm = item;
            var url = GetUrl(item);
            var isEnabled = GetIsEnabled(item);

            <_BitNavBarChild Href="@url"
                             Title="@GetTitle(item)"
                             Style="@GetStyle(item)"
                             Target="@GetTarget(item)"
                             Disabled="@(isEnabled is false)"
                             OnClick="() => HandleOnClick(itm)"
                             Class="@GetCssClass(item, isEnabled)">
                <i class="bit-nbr-ico bit-icon bit-icon--@GetIconName(item)" />
                <span class="bit-nbr-txt">@GetText(item)</span>
            </_BitNavBarChild>
        }
    </div>
</nav>