@namespace Bit.BlazorUI
@inherits BitInputBase<string?>

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <div class="bit-txt-wrapper">
        @if (LabelTemplate is not null)
        {
            <label class="bit-txt-label" id="@_labelId" for="@_textFieldId">
                @LabelTemplate
            </label>
        }
        else if (Label.HasValue())
        {
            <label class="bit-txt-label" id="@_labelId" for="@_textFieldId">
                @Label
            </label>
        }

        <div class="bit-txt-field-grp">
            @if (PrefixTemplate is not null)
            {
                <span>
                    @PrefixTemplate
                </span>
            }
            else if (Prefix.HasValue())
            {
                <div class="txt-prefix">
                    <span>@Prefix</span>
                </div>
            }

            @if (IsMultiline && Type == BitTextFieldType.Text)
            {
                <textarea @attributes="InputHtmlAttributes"
                      id="@_textFieldId"
                      class="txt-field"
                      rows="@Rows"
                      disabled=@(!IsEnabled)
                      readonly=@IsReadonly
                      required=@IsRequired
                      placeholder="@Placeholder"
                      maxlength="@MaxLength"
                      aria-label="@AriaLabel"
                      aria-labelledby="@(Label.HasValue() || LabelTemplate is not null ? _labelId : null)"
                      aria-aria-describedby="@(Description.HasValue() || DescriptionTemplate is not null ? _descriptionId : null)"
                      @onclick="@HandleOnClick"
                      @onfocusin="@HandleOnFocusIn"
                      @onfocusout="@HandleOnFocusOut"
                      @onfocus="@HandleOnFocus"
                      @oninput="@HandleOnChange"
                      @onchange="@HandleOnChange"
                      @onkeydown="@HandleOnKeyDown"
                      @onkeyup="@HandleOnKeyUp">
                    @CurrentValue
                 </textarea>
            }
            else
            {
                <input @attributes="InputHtmlAttributes"
                   id="@_textFieldId"
                   class="txt-field"
                   disabled=@(!IsEnabled)
                   readonly=@IsReadonly
                   required=@IsRequired
                   type="@_inputType"
                   value="@CurrentValue"
                   placeholder="@Placeholder"
                   maxlength="@MaxLength"
                   aria-label="@AriaLabel"
                   aria-labelledby="@(Label.HasValue() || LabelTemplate is not null ? _labelId : null)"
                   aria-aria-describedby="@(Description.HasValue() || DescriptionTemplate is not null ? _descriptionId : null)"
                   autocomplete="@AutoComplete"
                   @onclick="@HandleOnClick"
                   @onfocusin="@HandleOnFocusIn"
                   @onfocusout="@HandleOnFocusOut"
                   @onfocus="@HandleOnFocus"
                   @oninput="@HandleOnChange"
                   @onchange="@HandleOnChange"
                   @onkeydown="@HandleOnKeyDown"
                   @onkeyup="@HandleOnKeyUp" />
            }

            @if (CanRevealPassword && Type == BitTextFieldType.Password)
            {
                <button class="password-reveal-btn"
                    type="button"
                    aria-label="@RevealPasswordAriaLabel"
                    @onclick="ToggleRevealPassword"
                    aria-pressed="@(_elementType == BitTextFieldType.Text ? "true" : "false")">
                    <span>
                        <i class="bit-icon bit-icon--@(_elementType == BitTextFieldType.Text ? "Hide" : "RedEye")" aria-hidden="true" />
                    </span>
                </button>
            }

            @if (IconName.HasValue)
            {
                <i class="bit-icon bit-icon--@IconName.GetName()" aria-hidden="true"></i>
            }

            @if (SuffixTemplate is not null)
            {
                <span>
                    @SuffixTemplate
                </span>
            }
            else if (Suffix.HasValue())
            {
                <div class="txt-suffix">
                    <span>@Suffix</span>
                </div>
            }

        </div>
    </div>
    @if (Description.HasValue() || DescriptionTemplate is not null)
    {
        <span class="txt-desc" id="@_descriptionId">
            @if (DescriptionTemplate is not null)
            {
                <span>
                    @DescriptionTemplate
                </span>
            }
            else if (Description.HasValue())
            {
                <span>@Description</span>
            }
        </span>
    }
</div>