@page "/components/pagination"

<PageOutlet Url="components/pagination"
            Title="Pagination"
            Description="Pagination component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Pagination"
               ComponentDescription="Pagination component helps users easily navigate through content, allowing swift browsing across multiple pages or sections, commonly used in lists, tables, and content-rich interfaces."
               ComponentParameters="componentParameters"
               ComponentSubEnums="componentSubEnums"
               ComponentSubClasses="componentSubClasses">
    <ComponentExampleBox Title="Basic" RazorCode="@example1RazorCode" Id="example1">
        <ExamplePreview>
            <div>
                The pagination offers three appearance options: Primary (default), Standard, and Text.
            </div>
            <br />
            <div class="pagination-container">
                <div>
                    <BitLabel>Primary</BitLabel>
                    <BitPagination Count="4" />
                </div>
                <div>
                    <BitLabel>Standard</BitLabel>
                    <BitPagination Count="4" Appearance="BitAppearance.Standard" />
                </div>
                <div>
                    <BitLabel>Text</BitLabel>
                    <BitPagination Count="4" Appearance="BitAppearance.Text" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Primary pagination" RazorCode="@example2RazorCode" Id="example2">
        <ExamplePreview>
            <div>
                Primary paginations are attention-grabbing, featuring a filled appearance. They're designed for essential actions at the core of your application.
            </div>
            <br />
            <div class="pagination-container">
                <div>
                    <BitLabel>Default</BitLabel>
                    <BitPagination Count="4" />
                </div>
                <div>
                    <BitLabel>Disabled</BitLabel>
                    <BitPagination Count="4" IsEnabled="false" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Standard pagination" RazorCode="@example3RazorCode" Id="example3">
        <ExamplePreview>
            <div>
                Standard paginations offer a moderate level of emphasis, suitable for important actions that aren't central to the application. They serve as a middle ground between Text paginations and the more prominent Primary paginations, providing flexibility in emphasis.
            </div>
            <br />
            <div class="pagination-container">
                <div>
                    <BitLabel>Default</BitLabel>
                    <BitPagination Count="4" Appearance="BitAppearance.Standard" />
                </div>
                <div>
                    <BitLabel>Disabled</BitLabel>
                    <BitPagination Count="4" Appearance="BitAppearance.Standard" IsEnabled="false" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Text pagination" RazorCode="@example4RazorCode" Id="example4">
        <ExamplePreview>
            <div>
                Text paginations are best suited for understated actions, serving as a less prominent choice in various interface elements.
            </div>
            <br />
            <div class="pagination-container">
                <div>
                    <BitLabel>Default</BitLabel>
                    <BitPagination Count="4" Appearance="BitAppearance.Text" />
                </div>
                <div>
                    <BitLabel>Disabled</BitLabel>
                    <BitPagination Count="4" Appearance="BitAppearance.Text" IsEnabled="false" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Default selected" RazorCode="@example5RazorCode" Id="example5">
        <ExamplePreview>
            <div>
                Displays default selected page within the BitPagination component.
            </div>
            <br />
            <div class="pagination-container">
                <BitPagination Count="5" DefaultSelectedPage="3" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BoundaryCount" RazorCode="@example6RazorCode" Id="example6">
        <ExamplePreview>
            <div>
                Set a limit to the number of pages shown at the beginning and end of the pagination range.
            </div>
            <br />
            <div class="pagination-container">
                <BitPagination Count="11" DefaultSelectedPage="6" BoundaryCount="1" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="MiddleCount" RazorCode="@example7RazorCode" Id="example7">
        <ExamplePreview>
            <div>
                Allowing users to set the count of pages displayed in the middle portion of the pagination control. It also demonstrates how pages are rendered within the defined middle count range.
            </div>
            <br />
            <div class="pagination-container">
                <BitPagination Count="11" MiddleCount="3" BoundaryCount="1" DefaultSelectedPage="6" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Events" RazorCode="@example8RazorCode" CsharpCode="@example8CsharpCode" Id="example8">
        <ExamplePreview>
            <div>
                Managing pagination page change event (OnChange).
            </div>
            <br />
            <div class="pagination-container">
                <BitPagination Count="4" OnChange="(int page) => paginationSelectedPage = page" />
                <div>Changed page: <b>@paginationSelectedPage</b></div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Navigation buttons" RazorCode="@example9RazorCode" Id="example9">
        <ExamplePreview>
            <div>
                There are additional navigation buttons within the Pagination component, providing quick access to the initial and final pages.
            </div>
            <br />
            <div class="pagination-container">
                <BitPagination Count="24" ShowFirstButton ShowLastButton />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Icon" RazorCode="@example10RazorCode" Id="example10">
        <ExamplePreview>
            <div>
                Displaying custom icons feature within the Pagination navigation buttons.
            </div>
            <br />
            <div class="pagination-container">
                <BitPagination Count="4" NextIcon="@BitIconName.Next" PreviousIcon="@BitIconName.Previous" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Severity" RazorCode="@example11RazorCode" Id="example11">
        <ExamplePreview>
            <div>
                Offering a range of specialized color variants, providing visual cues for specific actions or states within your application.
            </div>
            <br />
            <div class="pagination-container-grid">
                <div class="pagination-container">
                    <BitLabel>Info</BitLabel>
                    <BitPagination Count="5" Severity="BitSeverity.Info" />
                    <BitPagination Count="5" Severity="BitSeverity.Info" Appearance="BitAppearance.Standard" />
                    <BitPagination Count="5" Severity="BitSeverity.Info" Appearance="BitAppearance.Text" />
                </div>
                <div class="pagination-container">
                    <BitLabel>Success</BitLabel>
                    <BitPagination Count="5" Severity="BitSeverity.Success" />
                    <BitPagination Count="5" Severity="BitSeverity.Success" Appearance="BitAppearance.Standard" />
                    <BitPagination Count="5" Severity="BitSeverity.Success" Appearance="BitAppearance.Text" />
                </div>
                <div class="pagination-container">
                    <BitLabel>Warning</BitLabel>
                    <BitPagination Count="5" Severity="BitSeverity.Warning" />
                    <BitPagination Count="5" Severity="BitSeverity.Warning" Appearance="BitAppearance.Standard" />
                    <BitPagination Count="5" Severity="BitSeverity.Warning" Appearance="BitAppearance.Text" />
                </div>
                <div class="pagination-container">
                    <BitLabel>SevereWarning</BitLabel>
                    <BitPagination Count="5" Severity="BitSeverity.SevereWarning" />
                    <BitPagination Count="5" Severity="BitSeverity.SevereWarning" Appearance="BitAppearance.Standard" />
                    <BitPagination Count="5" Severity="BitSeverity.SevereWarning" Appearance="BitAppearance.Text" />
                </div>
                <div class="pagination-container">
                    <BitLabel>Error</BitLabel>
                    <BitPagination Count="5" Severity="BitSeverity.Error" />
                    <BitPagination Count="5" Severity="BitSeverity.Error" Appearance="BitAppearance.Standard" />
                    <BitPagination Count="5" Severity="BitSeverity.Error" Appearance="BitAppearance.Text" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Size" RazorCode="@example12RazorCode" Id="example12">
        <ExamplePreview>
            <div>
                Varying sizes for paginations tailored to meet diverse design needs, ensuring flexibility and visual hierarchy within your interface.
            </div>
            <br />
            <div class="pagination-container-grid">
                <div class="pagination-container">
                    <BitLabel>Primary</BitLabel>
                    <BitPagination Count="5" Size="BitSize.Small" />
                    <BitPagination Count="5" Size="BitSize.Medium" />
                    <BitPagination Count="5" Size="BitSize.Large" />
                </div>
                <div class="pagination-container">
                    <BitLabel>Standard</BitLabel>
                    <BitPagination Count="5" Size="BitSize.Small" Appearance="BitAppearance.Standard" />
                    <BitPagination Count="5" Size="BitSize.Medium" Appearance="BitAppearance.Standard" />
                    <BitPagination Count="5" Size="BitSize.Large" Appearance="BitAppearance.Standard" />
                </div>
                <div class="pagination-container">
                    <BitLabel>Text</BitLabel>
                    <BitPagination Count="5" Size="BitSize.Small" Appearance="BitAppearance.Text" />
                    <BitPagination Count="5" Size="BitSize.Medium" Appearance="BitAppearance.Text" />
                    <BitPagination Count="5" Size="BitSize.Large" Appearance="BitAppearance.Text" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" RazorCode="@example13RazorCode" Id="example13">
        <ExamplePreview>
            <div>
                Empower customization by overriding default styles and classes, allowing tailored design modifications to suit specific UI requirements.
            </div>
            <br />
            <div>Component's Style & Class:</div>
            <br />
            <div class="pagination-container">
                <BitPagination Count="4"
                               NextIcon="@BitIconName.ChevronDown"
                               PreviousIcon="@BitIconName.ChevronUp"
                               Style="margin-left: 1rem; flex-flow: column;" />

                <BitPagination Count="4" Class="custom-class" />
            </div>
            <br /><br /><br />
            <div><b>Styles</b> & <b>Classes</b>:</div>
            <br />
            <div class="pagination-container">
                <BitPagination Count="4"
                               Styles="@(new() { Root = "margin-left: 1rem; gap: 1rem;",
                                                 SelectedButton = "background-color: tomato; color: #2e2e2e;",
                                                 Button = "border-color: transparent; background-color: #2e2e2e; color: tomato;" })" />

                <BitPagination Count="4" 
                               Appearance="BitAppearance.Standard"
                               Classes="@(new() { Root = "custom-root", Button = "custom-button" })" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="RTL" RazorCode="@example14RazorCode" Id="example14">
        <ExamplePreview>
            <div class="pagination-container">
                <div>
                    <BitLabel>Primary</BitLabel>
                    <BitPagination Dir="BitDir.Rtl" Count="4" />
                </div>
                <div>
                    <BitLabel>Standard</BitLabel>
                    <BitPagination Dir="BitDir.Rtl" Count="4" Appearance="BitAppearance.Standard" />
                </div>
                <div>
                    <BitLabel>Text</BitLabel>
                    <BitPagination Dir="BitDir.Rtl" Count="4" Appearance="BitAppearance.Text" />
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>

@code {
    private int paginationSelectedPage = 1;
}