@page "/edit-profile"
@inherits AppComponentBase;

<PageTitle>@Localizer[nameof(AppStrings.EditProfileTitle)]</PageTitle>

<div class="page-container">
    @if (string.IsNullOrEmpty(EditProfileMessage) is false)
    {
        <BitMessageBar MessageBarType="@EditProfileMessageType" OnDismiss="() => EditProfileMessage = null">@EditProfileMessage</BitMessageBar>
    }

    <div class="page-header">
        <BitIconButton Class="back-btn" OnClick=@GoBack IconName="BitIconName.Back" Title="Back" />
        <h1 class="page-title">@Localizer[nameof(AppStrings.EditProfileTitle)]</h1>
    </div>
    @if (IsLoadingData)
    {
        <div class="loading-container">
            <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
        </div>
    }
    else
    {
        <div class="form-profile-container">
            <BitPersona ImageUrl="@($"{ProfileImageUrl}&file={User.ProfileImageName}")"
                        Size=@BitPersonaSize.Size72
                        Text="@(string.IsNullOrWhiteSpace(User?.FullName) ? @User?.UserName : User?.FullName)"
                        SecondaryText="@User?.UserName"
                        Presence="BitPersonaPresenceStatus.Online" />
        </div>
        <div class="form-input-container">
            <BitLabel>Profile image</BitLabel>
            <BitFileUpload Label="@Localizer[nameof(AppStrings.UploadNewProfileImage)]"
                       Style="max-width: 100%"
                       AllowedExtensions="@(new [] {".png", ".jpg", ".jpeg", ".webp", ".bpm", ".gif"})"
                       AutoUploadEnabled="true"
                       UploadUrl="@ProfileImageUploadUrl"
                       OnUploadComplete="WrapHandled(LoadEditProfileData)"
                       OnUploadFailed="() => ProfileImageError = Localizer[nameof(AppStrings.FileUploadFailed)]"
                       @onfocus="() => ProfileImageError = null" />
            <div class="form-input-error">@ProfileImageError</div>
        </div>
        <EditForm Model="UserToEdit" OnSubmit="WrapHandled(Save)">
            <div class="form-input-container">
                <BitTextField Label="@Localizer[nameof(AppStrings.FullName)]"
                          @bind-Value="UserToEdit.FullName"
                          Placeholder="@Localizer[nameof(AppStrings.FullName)]" />
            </div>
            <div class="form-input-container">
                <BitDatePicker Label="Birthday"
                           Class="edit-profile-dtp"
                           @bind-Value="UserToEdit.BirthDate"
                           Placeholder="@Localizer[nameof(AppStrings.SelectBirthDate)]" />
            </div>
            <div class="form-choice-container">
                <BitRadioButtonGroup Label="Gender" @bind-Value="UserToEdit.GenderAsString">
                    <BitRadioButtonOption Value="@Gender.Male.ToString()" Text="Male" AriaLabel="@Localizer[nameof(AppStrings.GenderMale)]"></BitRadioButtonOption>
                    <BitRadioButtonOption Value="@Gender.Female.ToString()" Text="Famale" AriaLabel="@Localizer[nameof(AppStrings.GenderFemale)]"></BitRadioButtonOption>
                    <BitRadioButtonOption Value="@Gender.Custom.ToString()" Text="Custom" AriaLabel="@Localizer[nameof(AppStrings.GenderCustom)]"></BitRadioButtonOption>
                </BitRadioButtonGroup>
            </div>
            <BitButton ButtonStyle="BitButtonStyle.Primary"
                   AriaLabel="@Localizer[nameof(AppStrings.Save)]"
                   Title="@Localizer[nameof(AppStrings.Save)]"
                   IsEnabled="IsSubmitButtonEnabled"
                   ButtonType="BitButtonType.Submit">
                @if (IsSavingData)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>@Localizer[nameof(AppStrings.Save)]</span>
                }
            </BitButton>
        </EditForm>
    }
</div>