@page "/forgot-password"

@inherits AppComponentBase;

<PageTitle>@AuthStrings.ForgetPasswordTitle</PageTitle>

<div class="page-container">
    <section class="page-section">
        <div class="bit-logo--white"></div>
        <div class="bg-img"></div>
        <div class="section-content">
            <h1 class="section-title">Bit Admin Panel</h1>
            <div class="section-desc">Admin Panel is a project template that provides common features such as Sign-up & Sign-in. This template is powered by Bit BlazorUI components.</div>
        </div>
    </section>
    <section class="page-section">
        <EditForm Model="ForgotPasswordModel" OnValidSubmit="WrapHandled(Submit)" class="form">
            <DataAnnotationsValidator />
            @if (string.IsNullOrEmpty(ForgotPasswordMessage) is false)
            {
                <BitMessageBar Class="form-message-bar"
                           MessageBarType="@ForgotPasswordMessageType"
                           OnDismiss="() => ForgotPasswordMessage = null">
                    @ForgotPasswordMessage
                </BitMessageBar>
            }
            <h2 class="form-title">@AuthStrings.ForgetPasswordTitle</h2>
            <div class="form-input-container">
                <BitTextField Label="@AuthStrings.Email"
                              Placeholder="@AuthStrings.Email"
                              Type="BitTextFieldType.Email"
                              @bind-Value="ForgotPasswordModel.Email" />
                <ValidationMessage For="@(() => ForgotPasswordModel.Email)" />
            </div>
            <BitButton Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       IsEnabled="IsSubmitButtonEnabled"
                       Title="@AuthStrings.Submit"
                       AriaLabel="@AuthStrings.Submit"
                       ButtonType="BitButtonType.Submit">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>@AuthStrings.Submit</span>
                }
            </BitButton>
        </EditForm>
    </section>
</div>