@page "/"

@inherits AppComponentBase;

<PageTitle>@AppStrings.AdminPanelHomeTitle</PageTitle>

<div class="page-container">
    <section class="page-section hero-section">
        <h1 class="hero-section-title">@AppStrings.AdminPanelHomeTitle</h1>
        <div class="hero-section-desc">
            @AppStrings.AdminPanelHomeMessage
        </div>
        <div style="display: flex">
            <BitButton Style="margin-right: 0.5rem"
                       Href="/sign-up"
                       Title="@AuthStrings.SingUpTitle"
                       AriaLabel="@AuthStrings.SingUpTitle"
                       ButtonStyle="BitButtonStyle.Primary">@AuthStrings.SingUpTitle</BitButton>
            <BitButton Href="https://github.com/bitfoundation/bitplatform/tree/develop/src/Templates/AdminPanel/Bit.AdminPanel"
                       Target="_blank"
                       Title="@AppStrings.GitHubRepo"
                       AriaLabel="@AppStrings.GitHubRepo"
                       ButtonStyle="BitButtonStyle.Standard">@AppStrings.GitHubRepo</BitButton>
        </div>
    </section>
</div>