@page "/reset-password"

@inherits AppComponentBase;

<PageTitle>@AuthStrings.ResetPasswordTitle</PageTitle>

<div class="page-container">
        <section class="page-section">
        <div class="bit-logo--white"></div>
        <div class="bg-img"></div>
        <div class="section-content">
            <h1 class="section-title">Bit Admin Panel</h1>
            <div class="section-desc">Admin Panel is a project template that provides common features such as Sign-up & Sign-in. This template is powered by Bit BlazorUI components.</div>
        </div>
    </section>
    <section class="page-section">
        <EditForm Model="ResetPasswordModel" OnValidSubmit="WrapHandled(Submit)" class="form">
            <DataAnnotationsValidator />
            @if (string.IsNullOrEmpty(ResetPasswordMessage) is false)
            {
                <BitMessageBar Class="form-message-bar"
                           MessageBarType="@ResetPasswordMessageType"
                           OnDismiss="() => ResetPasswordMessage = null">
                    @ResetPasswordMessage
                </BitMessageBar>
            }
            <h1 class="form-title">@AuthStrings.ResetPasswordTitle</h1>
            <div class="form-input-container">
                <BitTextField Label="@AuthStrings.NewPassword"
                              @bind-Value="ResetPasswordModel.Password"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@AuthStrings.NewPassword" />
                <ValidationMessage For="@(() => ResetPasswordModel.Password)" />
            </div>
            <div class="form-input-container">
                <BitTextField Label="@AuthStrings.ConfirmNewPassword"
                              @bind-Value="ResetPasswordModel.ConfirmPassword"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@AuthStrings.ConfirmNewPassword" />
                <ValidationMessage For="@(() => ResetPasswordModel.ConfirmPassword)" />
            </div>
            <BitButton Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       IsEnabled="IsSubmitButtonEnabled"
                       Title="@AuthStrings.Submit"
                       AriaLabel="@AuthStrings.Submit"
                       ButtonType="BitButtonType.Submit">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>@AuthStrings.ResetPassword</span>
                }
            </BitButton>
        </EditForm>
    </section>
</div>