@page "/sign-in"

@inherits AppComponentBase;

<PageTitle>@AuthStrings.SignInTitle</PageTitle>

<div class="page-container">
    <section class="page-section">
        <div class="bit-logo--white"></div>
        <div class="bg-img"></div>
        <div class="section-content">
            <h1 class="section-title">Bit Admin Panel</h1>
            <div class="section-desc">Admin Panel is a project template that provides common features such as Sign-up & Sign-in. This template is powered by Bit BlazorUI components.</div>
        </div>
    </section>
    <section class="page-section">
        <EditForm Model="SignInModel" OnValidSubmit="WrapHandled(DoSignIn)" class="form">
            <DataAnnotationsValidator />
            @if (string.IsNullOrEmpty(SignInMessage) is false)
            {
                <BitMessageBar Class="form-message-bar"
                           MessageBarType="@SignInMessageType"
                           OnDismiss="() => SignInMessage = null">
                    @SignInMessage
                </BitMessageBar>
            }
            <h2 class="form-title">@AuthStrings.SignInTitle</h2>
            <div class="form-input-container">
                <BitTextField Label="@AuthStrings.Email"
                              Placeholder="@AuthStrings.Email"
                              Type="BitTextFieldType.Email"
                              @bind-Value="SignInModel.UserName" />
                <ValidationMessage For="@(() => SignInModel.UserName)" />
            </div>
            <div class="form-input-container">
                <BitTextField Label="@AuthStrings.Password"
                              @bind-Value="SignInModel.Password"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@AuthStrings.Password" />
                <ValidationMessage For="@(() => SignInModel.Password)" />
            </div>
            <BitButton Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       IsEnabled="IsSubmitButtonEnabled"
                       Title="@AuthStrings.SignIn"
                       AriaLabel="@AuthStrings.SignIn"
                       ButtonType="BitButtonType.Submit">
                @if (IsLoading)
                {
                    <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                }
                else
                {
                    <span>@AuthStrings.SignIn</span>
                }
            </BitButton>
            <div class="form-forgot-password">
                <BitLink Href="/forgot-password">@AuthStrings.ForgotPasswordLink</BitLink>
            </div>
            <div class="sign-up-row">
                @AuthStrings.DontHaveAccountMessage <BitLink Href="/sign-up">@AuthStrings.SignUp</BitLink>
            </div>
        </EditForm>
    </section>
</div>