@page "/sign-up"

@inherits AppComponentBase;

<PageTitle>@AuthStrings.SingUpTitle</PageTitle>

<div class="page-container">
    <section class="page-section">
        <div class="bit-logo--white"></div>
        <div class="bg-img"></div>
        <div class="section-content">
            <h1 class="section-title">@AppStrings.StartupPageTitle</h1>
            <div class="section-desc">@AppStrings.StartupPageDescription</div>
        </div>
    </section>

    <section class="page-section">
        <div class="bit-logo--blue"></div>
        <EditForm Model="SignUpModel" OnValidSubmit="WrapHandled(DoSignUp)" class="form">
            <DataAnnotationsValidator />
            @if (string.IsNullOrEmpty(SignUpMessage) is false)
            {
                <BitMessageBar Class="form-message-bar"
                           MessageBarType="@SignUpMessageType"
                           OnDismiss="() => SignUpMessage = null">
                    @SignUpMessage
                </BitMessageBar>
            }
            @if (IsSignedUp)
            {
                <h2 class="form-title">
                    @AuthStrings.ConfirmEmailTitle
                </h2>
                <div class="form-description">
                    @AuthStrings.ConfirmEmailMessage
                </div>
                <div class="form-link">
                    @AuthStrings.NotReceivedConfirmationEmailMessage
                </div>
                <div class="form-note">
                    @AuthStrings.CheckSpamMailMessage
                    <br />
                    - @AuthStrings.Or -
                </div>
                <BitButton Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       Title="@AuthStrings.ResendEmail"
                       AriaLabel="@AuthStrings.ResendEmail"
                       OnClick="WrapHandled(ResendLink)">
                    @if (IsLoading)
                    {
                        <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                    }
                    else
                    {
                        <span>@AuthStrings.ResendEmail</span>
                    }
                </BitButton>
            }
            else
            {
                <h2 class="form-title">
                    @AuthStrings.SignUp
                </h2>
                <div class="form-input-container">
                    <BitTextField Label="@AuthStrings.Email"
                              Placeholder="@AuthStrings.Email"
                              Type="BitTextFieldType.Email"
                              @bind-Value="SignUpModel.UserName" />
                    <ValidationMessage For="@(() => SignUpModel.UserName)" />
                </div>
                <div class="form-input-container">
                    <BitTextField Label="@AuthStrings.Password"
                              @bind-Value="SignUpModel.Password"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@AuthStrings.Password" />
                    <ValidationMessage For="@(() => SignUpModel.Password)" />
                </div>

                <BitButton Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       IsEnabled="IsSubmitButtonEnabled"
                       Title="@AuthStrings.SignUp"
                       AriaLabel="@AuthStrings.SignUp"
                       ButtonType="BitButtonType.Submit">
                    @if (IsLoading)
                    {
                        <BitSpinner Size="BitSpinnerSize.Small"></BitSpinner>
                    }
                    else
                    {
                        <span>@AuthStrings.SignUp</span>
                    }
                </BitButton>
                <div class="sign-in-row">
                    @AuthStrings.AlreadyHaveAccountMessage <BitLink Href="/sign-in">@AuthStrings.SignIn</BitLink>
                </div>
            }
        </EditForm>
    </section>
</div>