@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <input type="checkbox"
           @ref="CheckboxElement"
           checked=@IsChecked
           disabled="@(IsEnabled is false)"
           hidden>

    <div class="bit-checkbox-item bit-checkbox-item-checkbox" @onclick="@HandleCheckboxClick">
        <i class="bit-icon bit-icon--Accept bit-checkbox-item-checkmark"></i>
    </div>

    <div class="bit-checkbox-item bit-checkbox-item-label-container" @onclick="@HandleCheckboxClick">
        <label class="no-text-select">
            <span class="bit-checkbox-item-label-text">
                @(ChildContent)
            </span>
        </label>
    </div>
</div>
