@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <input type="checkbox"
           @ref="CheckboxElement"
           checked=@IsChecked
           disabled="@(IsEnabled is false)"
           hidden>
    <div>
        <div @onclick="@HandleCheckboxClick">
            <i class="bit-icon bit-icon--Accept"></i>
        </div>

        <div @onclick="@HandleCheckboxClick">
            <label class="no-text-select">
                @(ChildContent)
            </label>
        </div>
    </div>
</div>