@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="RootElement"
     @attributes="HtmlAttributes"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value">
    <input @ref="CheckboxElement"
           type="checkbox"
           checked=@IsChecked
           disabled="@(IsEnabled is false)"
           aria-label="@AriaLabel"
           hidden>
    <label class="bit-chb-lbl">
        <div class="bit-chb-checkbox" @onclick="@HandleCheckboxClick">
            <i class=@($"{RootElementClass}-checkmark bit-icon bit-icon--{CheckmarkIconName}")></i>
        </div>

        <span class="bit-chb-txt no-text-select" @onclick="@HandleCheckboxClick">
            @(ChildContent)
        </span>
    </label>
</div>