@namespace Bit.Client.Web.BlazorUI
@inherits BitComponentBase

<div @ref="Element"
     style="@GetElementStyle()"
     class="@GetElementClass()">
    <input type="checkbox"
           @ref="CheckboxElement"
           checked=@IsChecked
           disabled="@(IsEnabled is false)"
           hidden>

    <div class="bit-checkbox-item bit-checkbox-item__checkbox" @onclick="@HandleCheckboxClick">
        <i class="bit-checkbox-item__checkmark"></i>
    </div>

    <div class="bit-checkbox-item bit-checkbox-item__label-container" @onclick="@HandleCheckboxClick">
        <label class="bit-checkbox-item__label no-text-select">
            <span class="bit-checkbox-item__label-text">
                @(ChildContent)
            </span>
        </label>
    </div>
</div>
