@page "/components/color-picker"

<ComponentDemo ComponentName="ColorPicker" ComponentDescription="The color picker (ColorPicker) is used to browse through and select colors. By default,
                                           it lets people navigate through colors on a color spectrum, or specify a color in either Red-Green-Blue (RGB), or alpha color code; or Hexadecimal textboxes."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="BitColorPicker (Hex)" ExampleSourceCodeForCopy="@hexColorPickerSampleCode" ExampleId="example1">
        <ExamplePreview>
            <div>
                <BitColorPicker ShowPreview="@IsToggleChecked" @ref="ColorPicker" @bind-Color="@Color" ShowAlphaSlider="false">Default ColorPicker</BitColorPicker>
                <div class="p-12">
                    <BitToggle Label="Show Preview Box" @bind-IsChecked="@IsToggleChecked" IsEnabled="true" />
                </div>
                <div class="p-12 max-w-300">
                    <BitTextField Label="Hex Code" Value="@Color"></BitTextField>
                    <BitTextField Label="RGB" Value="@(ColorPicker?.Rgb ?? "rgb(255,255,255)")"></BitTextField>
                </div>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre class="code">
            <code class="html">&ltBitColorPicker ShowPreview="&#64;IsToggleChecked" &#64;ref="ColorPicker" &#64;bind-Color="&#64;Color" ShowAlphaSlider="false">Default ColorPicker&lt/BitColorPicker>
&ltBitToggle Label="Show Preview Box" &#64;bind-IsChecked="&#64;IsToggleChecked" IsEnabled="true" />
&ltBitTextField Label="Hex Code" Value="&#64;Color">&lt/BitTextField>
&ltBitTextField Label="RGB" Value="&#64;(ColorPicker?.Rgb ?? "rgb(255,255,255)")">&lt/BitTextField></code>

            <code class="csharp">&#64;code {
        private BitColorPicker ColorPicker;
        private string Color = "#FFFFFF";
        private bool IsToggleChecked = false;
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitColorPicker (RGB)" ExampleSourceCodeForCopy="@rgbColorPickerSampleCode" ExampleId="example2"> 
        <ExamplePreview>
            <div>
                <BitColorPicker ShowPreview="true" @bind-Alpha="@Alpha" @bind-Color="@ColorRgb">Default ColorPicker</BitColorPicker>
                <div class="p-12 max-w-300">
                    <BitTextField Label="RGB" Value="@ColorRgb"></BitTextField>
                    <BitTextField Label="Alpha" Value="@(Alpha.ToString())"></BitTextField>
                </div>
            </div>
        </ExamplePreview>
        <ExampleSourceCode>
            <pre class="code">
            <code class="html">&ltBitColorPicker ShowPreview="true" &#64;bind-Alpha="&#64;Alpha" &#64;bind-Color="&#64;ColorRgb">Default ColorPicker&lt/BitColorPicker>
&ltBitTextField Label="RGB" Value="&#64;ColorRgb">&lt/BitTextField>
&ltBitTextField Label="Alpha" Value="&#64;(Alpha.ToString())">&lt/BitTextField></code>

            <code class="csharp">&#64;code {
        private BitColorPicker ColorPicker;
        private string ColorRgb = "rgb(255,255,255)";
        private double Alpha = 1;
}</code>
            </pre>
        </ExampleSourceCode>
    </ComponentExampleBox>
</ComponentDemo>