@page "/components/colorpickers"

@using Bit.Client.Web.BlazorUI.Playground.Web.Components

<ComponentPage ComponentName="ColorPicker" OverviewDesc="The color picker (ColorPicker) is used to browse through and select colors. By default,
                                           it lets people navigate through colors on a color spectrum, or specify a color in either Red-Green-Blue (RGB), or alpha color code; or Hexadecimal textboxes."
               ComponentParameters="componentParameters">
    <CodeSample Title="BitColorPicker (Hex)" Description="" CodeSampleContentForCopy="@hexColorPickerSampleCode">
        <SampleContent>
            <div>
                <BitColorPicker ShowPreview="@IsToggleChecked" @ref="ColorPicker" @bind-Color="@Color" ShowAlphaSlider="false">Default ColorPicker</BitColorPicker>
                <div class="p-12">
                    <BitToggle Label="Show Preview Box" @bind-IsChecked="@IsToggleChecked" IsEnabled="true" />
                </div>
                <div class="p-12 max-w-300">
                    <BitTextField Label="Hex Code" Value="@Color"></BitTextField>
                    <BitTextField Label="RGB" Value="@(ColorPicker?.Rgb ?? "rgb(255,255,255)")"></BitTextField>
                </div>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-component-attr">BitColorPicker ShowPreview</span><span>="<span class="soco-code">@@</span>IsToggleChecked</span>"
                                                <span class="soco-code">@@</span><span class="soco-component-attr">ref</span><span>="ColorPicker"</span>
                                                <span class="soco-code">@@</span><span class="soco-component-attr">bind-Color</span><span>="Color"</span>
                                                <span class="soco-component-attr">ShowAlphaSlider</span>="<span class="soco-tag-type-def">false</span>"&gt;
                          Default ColorPicker
                &lt;/<span class="soco-component-attr">BitColorPicker</span>&gt;
                &lt;<span class="soco-component-attr">BitToggle Label</span>="Show Preview Box"
                                       <span class="soco-code">@@</span><span class="soco-component-attr">bind-IsChecked</span>="<span class="soco-code">@@</span>IsToggleChecked"
                                       <span class="soco-component-attr">IsEnabled</span>="<span class="soco-tag-type-def">true</span>"/&gt;
                &lt<span class="soco-component-attr">BitTextField Label</span>="Hex Code"
                                          <span class="soco-component-attr">Value</span>="<span class="soco-code">@@</span>Color">
                &lt/<span class="soco-component-attr">BitTextField</span>&gt;
                &lt<span class="soco-component-attr">BitTextField Label</span>="RGB"
                                          <span class="soco-component-attr">Value</span>="<span class="soco-code">@@(</span>ColorPicker?.Rgb ?? "rgb(255,255,255)"<span class="soco-code">)</span>">
                &lt/<span class="soco-component-attr">BitTextField</span><span>&gt;</span>
                <span class="soco-code">@@code {</span>
                    <span class="soco-tag-type-def">private</span> BitColorPicker ColorPicker;
                    <span class="soco-tag-type-def">private string</span> Color = "#FFFFFF";
                    <span class="soco-tag-type-def">private bool</span> IsToggleChecked = <span class="soco-tag-type-def">false</span>;
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>

    <CodeSample Title="BitColorPicker (RGB)" Description="" CodeSampleContentForCopy="@rgbColorPickerSampleCode">
        <SampleContent>
            <div>
                <BitColorPicker ShowPreview="true" @bind-Alpha="@Alpha" @bind-Color="@ColorRgb">Default ColorPicker</BitColorPicker>
                <div class="p-12 max-w-300">
                    <BitTextField Label="RGB" Value="@ColorRgb"></BitTextField>
                    <BitTextField Label="Alpha" Value="@(Alpha.ToString())"></BitTextField>
                </div>
            </div>
        </SampleContent>
        <CodeSampleContent>
            <pre>
                &lt;<span class="soco-component-attr">BitColorPicker ShowPreview</span>="<span class="soco-tag-type-def">true</span>"
                                                <span class="soco-code">@@</span><span class="soco-component-attr">bind-Alpha</span><span>="Alpha"</span>
                                                <span class="soco-code">@@</span><span class="soco-component-attr">bind-Color</span><span>="ColorRgb"</span>&gt;
                          Default ColorPicker
                &lt;/<span class="soco-component-attr">BitColorPicker</span>&gt;
                &lt<span class="soco-component-attr">BitTextField Label</span>="Hex Code"
                                          <span class="soco-component-attr">Value</span>="<span class="soco-code">@@</span>ColorRgb">
                &lt/<span class="soco-component-attr">BitTextField</span>&gt;
                &lt<span class="soco-component-attr">BitTextField Label</span>="Alpha"
                                          <span class="soco-component-attr">Value</span>="<span class="soco-code">@@(</span>Alpha.ToString()"<span class="soco-code">)</span>">
                &lt/<span class="soco-component-attr">BitTextField</span>&gt;
                <span class="soco-code">@@code {</span>
                    <span class="soco-tag-type-def">private</span> BitColorPicker ColorPicker;
                    <span class="soco-tag-type-def">private string</span> ColorRgb = "rgb(255,255,255)";
                    <span class="soco-tag-type-def">private double</span> Alpha = 1;
                <span class="soco-code">}</span>
            </pre>
        </CodeSampleContent>
    </CodeSample>
</ComponentPage>