@page "/components/color-picker"

<ComponentDemo ComponentName="ColorPicker" ComponentDescription="The color picker (ColorPicker) is used to browse through and select colors. By default,
                                           it lets people navigate through colors on a color spectrum, or specify a color in either Red-Green-Blue (RGB), or alpha color code; or Hexadecimal textboxes."
               ComponentParameters="componentParameters">
    <ComponentExampleBox Title="BitColorPicker (Hex)" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div>
                <BitColorPicker ShowPreview="@IsToggleChecked" @ref="ColorPicker" @bind-Color="@Color" ShowAlphaSlider="false">Default ColorPicker</BitColorPicker>
                <div class="p-12">
                    <BitToggle Label="Show Preview Box" @bind-IsChecked="@IsToggleChecked" IsEnabled="true" />
                </div>
                <div class="p-12 max-w-300">
                    <BitTextField Label="Hex Code" Value="@Color"></BitTextField>
                    <BitTextField Label="RGB" Value="@(ColorPicker?.Rgb ?? "rgb(255,255,255)")"></BitTextField>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="BitColorPicker (RGB)" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div>
                <BitColorPicker ShowPreview="true" @bind-Alpha="@Alpha" @bind-Color="@ColorRgb">Default ColorPicker</BitColorPicker>
                <div class="p-12 max-w-300">
                    <BitTextField Label="RGB" Value="@ColorRgb"></BitTextField>
                    <BitTextField Label="Alpha" Value="@(Alpha.ToString())"></BitTextField>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
</ComponentDemo>