@attribute [Route(Urls.RolesPage)]
@attribute [Route("{culture?}" + Urls.RolesPage)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@attribute [Authorize(Policy = AppPermissions.Management.ManageRoles)]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.UserGroups)]"
             PageTitle="@Localizer[nameof(AppStrings.RolesPageTitle)]" />

<section>
    <BitStack>
        <BitStack Horizontal FitHeight>
            <BitTextField @bind-Value="newRoleName"
                          Style="width:15rem"
                          Immediate DebounceTime="300"
                          Placeholder="@Localizer[nameof(AppStrings.NewRoleName)]" />
            <BitButton AutoLoading
                       IconName="@BitIconName.AddTo"
                       OnClick="WrapHandled(AddRole)"
                       IsEnabled="string.IsNullOrWhiteSpace(newRoleName) is false">
                @Localizer[nameof(AppStrings.AddRole)]
            </BitButton>
        </BitStack>
        <BitStack Horizontal>
            <BitCard Style="min-width:15rem" FullHeight>
                @if (isLoadingRoles)
                {
                    <BitRollingSquareLoading Size="BitSize.Small" />
                }
                else if (allRoleNavItems.Count == 0)
                {
                    <BitText>@Localizer[nameof(AppStrings.NoRoleMessage)]</BitText>
                }
                else
                {
                    <BitNav Items="allRoleNavItems"
                            Mode="BitNavMode.Manual"
                            Accent="BitColor.SecondaryBackground"
                            OnSelectItem="WrapHandled(async (BitNavItem item) => await HandleOnSelectRole(item))">
                        <ItemTemplate Context="item">
                            <BitStack Horizontal VerticalAlign="BitAlignment.Center">
                                <BitText>@item.Text</BitText>
                                @if (loadingRoleKey == item.Key)
                                {
                                    <BitSpacer />
                                    <BitBouncingDotsLoading Size="BitSize.Small" />
                                }
                            </BitStack>
                        </ItemTemplate>
                    </BitNav>
                }
            </BitCard>
            <BitCard Style="min-width:30rem" FullSize>
                <BitPivot>
                    <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Info)]">
                        <BitStack>
                            <BitStack Horizontal VerticalAlign="BitAlignment.End">
                                <BitTextField @bind-Value="editRoleName"
                                              Immediate DebounceTime="300"
                                              Label="@Localizer[nameof(AppStrings.RoleName)]"
                                              IsEnabled="string.IsNullOrWhiteSpace(editRoleName) is false" />
                                <BitButton AutoLoading
                                           IconName="@BitIconName.Edit"
                                           OnClick="WrapHandled(EditRole)"
                                           IsEnabled="string.IsNullOrWhiteSpace(editRoleName) is false">
                                    @Localizer[nameof(AppStrings.EditRole)]
                                </BitButton>
                            </BitStack>
                            <BitSeparator />
                            <BitTextField @bind-Value="@notificationMessage"
                                          Multiline Rows="3"
                                          Style="width:100%"
                                          Label="@Localizer[nameof(AppStrings.RoleNotificationLabel)]"
                                          IsEnabled="string.IsNullOrWhiteSpace(editRoleName) is false" />
                            <BitButton AutoLoading
                                       OnClick="WrapHandled(SendNotification)"
                                       IsEnabled="string.IsNullOrWhiteSpace(editRoleName) is false">
                                @Localizer[nameof(AppStrings.SendRoleNotification)]
                            </BitButton>
                        </BitStack>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Permissions)]">
                        <BitNav Items="allPermissions" Accent="BitColor.SecondaryBackground">
                            <ItemTemplate Context="item">
                                <BitStack Horizontal VerticalAlign="BitAlignment.Center">
                                    <BitText Color="@(IsPermissionAssigned(item) ? BitColor.PrimaryForeground : BitColor.TertiaryForeground)">
                                        @item.Text
                                    </BitText>
                                    @if (item.ChildItems.Any() is false)
                                    {
                                        <BitSpacer />
                                        <BitButton IsEnabled="selectedRole is not null"
                                                   OnClick="WrapHandled(() => TogglePermission(item))"
                                                   IconName="@(IsPermissionAssigned(item) ? BitIconName.RemoveFrom : BitIconName.AddTo)" />
                                    }
                                </BitStack>
                            </ItemTemplate>
                        </BitNav>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Users)]">
                        @if (isLoadingUsers)
                        {
                            <BitRollingSquareLoading Size="BitSize.Small" />
                        }
                        else
                        {
                            <BitBasicList Items="allUsers" Style="width:100%;height:100%">
                                <RowTemplate Context="user">
                                    <BitStack Horizontal VerticalAlign="BitAlignment.Center">
                                        <BitText Color="@(IsUserAssigned(user) ? BitColor.PrimaryForeground : BitColor.TertiaryForeground)">
                                            @user.DisplayName
                                        </BitText>
                                        <BitSpacer />
                                        <BitButton IsEnabled="selectedRole is not null"
                                                   OnClick="WrapHandled(() => ToggleUser(user))"
                                                   IconName="@(IsUserAssigned(user) ? BitIconName.RemoveFrom : BitIconName.AddTo)" />
                                    </BitStack>
                                </RowTemplate>
                            </BitBasicList>
                        }
                    </BitPivotItem>
                    <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.PrivilegedSessions)]">
                        <BitStack Horizontal VerticalAlign="BitAlignment.End">
                            <BitNumberField @bind-Value="maxPrivilegedSessions"
                                            IsEnabled="selectedRole is not null"
                                            Label="@Localizer[nameof(AppStrings.MaxPrevilegedSessions)]" />
                            <BitButton IsEnabled="selectedRole is not null"
                                       OnClick="WrapHandled(SaveMaxPrivilegedSessions)">
                                @Localizer[nameof(AppStrings.Save)]
                            </BitButton>
                        </BitStack>
                    </BitPivotItem>
                </BitPivot>
            </BitCard>
        </BitStack>
    </BitStack>
</section>