@*+:cnd:noEmit*@
@attribute [Route(Urls.RolesPage)]
@attribute [Route("{culture?}" + Urls.RolesPage)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@attribute [Authorize(Policy = AppPermissions.Management.ManageRoles)]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.UserGroups)]"
             PageTitle="@Localizer[nameof(AppStrings.RolesPageTitle)]" />

<section>
    <BitStack>
        <BitStack Horizontal FitHeight>
            <BitTextField @bind-Value="newRoleName"
                          Style="width:15rem"
                          Immediate DebounceTime="300"
                          Placeholder="@Localizer[nameof(AppStrings.NewRoleName)]" />
            <BitButton AutoLoading
                       IconName="@BitIconName.AddTo"
                       OnClick="WrapHandled(AddRole)"
                       IsEnabled="string.IsNullOrWhiteSpace(newRoleName) is false">
                @Localizer[nameof(AppStrings.AddRole)]
            </BitButton>
        </BitStack>
        <BitStack Horizontal>
            <BitCard Style="min-width:15rem" FullHeight>
                @if (isLoadingRoles)
                {
                    <BitRollingSquareLoading Size="BitSize.Small" />
                }
                else if (roleNavItems.Count == 0)
                {
                    <BitText>@Localizer[nameof(AppStrings.NoRoleMessage)]</BitText>
                }
                else
                {
                    <BitNav Items="roleNavItems"
                            Mode="BitNavMode.Manual"
                            Accent="BitColor.SecondaryBackground"
                            OnSelectItem="WrapHandled(async (BitNavItem item) => await HandleOnSelectRole(item))">
                        <ItemTemplate Context="item">
                            <BitStack Horizontal VerticalAlign="BitAlignment.Center">
                                <BitText>@item.Text</BitText>
                                @if (loadingRoleKey == item.Key)
                                {
                                    <BitSpacer />
                                    <BitBouncingDotsLoading Size="BitSize.Small" />
                                }
                            </BitStack>
                        </ItemTemplate>
                    </BitNav>
                }
            </BitCard>
            <BitCard Style="min-width:30rem" FullSize>
                <BitPivot>
                    <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.General)]">
                        <BitStack>
                            <BitStack Horizontal VerticalAlign="BitAlignment.End">
                                @{
                                    var isEnabled = selectedRoleItem?.Text is not AppRoles.SuperAdmin;
                                }
                                <BitTextField @bind-Value="editRoleName"
                                              Immediate DebounceTime="300"
                                              IsEnabled="isEnabled"
                                              Label="@Localizer[nameof(AppStrings.RoleName)]" />
                                <BitButton AutoLoading
                                           IconName="@BitIconName.Edit"
                                           OnClick="WrapHandled(EditRole)"
                                           IsEnabled="isEnabled && string.IsNullOrWhiteSpace(editRoleName) is false">
                                    @Localizer[nameof(AppStrings.EditRole)]
                                </BitButton>
                                <BitSpacer />
                                <BitButton AutoLoading
                                           IconName="@BitIconName.Delete"
                                           OnClick="WrapHandled(() => { isDeleteDialogOpen = true; })"
                                           IsEnabled="isEnabled">
                                    @Localizer[nameof(AppStrings.DeleteRole)]
                                </BitButton>
                            </BitStack>
                            @*#if (notification == true || signalR == true)*@
                            <BitSeparator />
                            <BitTextField @bind-Value="@notificationMessage"
                                          Style="width:100%"
                                          Immediate Multiline Rows="3"
                                          IsEnabled="selectedRoleItem is not null"
                                          Label="@Localizer[nameof(AppStrings.RoleNotificationLabel)]" />
                            <BitButton AutoLoading
                                       OnClick="WrapHandled(SendNotification)"
                                       IsEnabled="selectedRoleItem is not null && string.IsNullOrWhiteSpace(notificationMessage) is false">
                                @Localizer[nameof(AppStrings.SendRoleNotification)]
                            </BitButton>
                            @*#endif*@
                        </BitStack>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Users)]">
                        @if (isLoadingUsers)
                        {
                            <BitRollingSquareLoading Size="BitSize.Small" />
                        }
                        else
                        {
                            <BitBasicList Items="allUsers" Style="width:100%;height:100%">
                                <RowTemplate Context="user">
                                    <BitStack Horizontal
                                              Class="user-row"
                                              title="@user.DisplayName"
                                              VerticalAlign="BitAlignment.Center">
                                        <BitText Color="@(IsUserAssigned(user) ? BitColor.PrimaryForeground : BitColor.TertiaryForeground)">
                                            @user.DisplayName
                                        </BitText>
                                        <BitSpacer />
                                        <BitButton AutoLoading IconOnly
                                                   IsEnabled="selectedRoleItem is not null"
                                                   OnClick="WrapHandled(() => ToggleUser(user))"
                                                   IconName="@(IsUserAssigned(user) ? BitIconName.RemoveFrom : BitIconName.AddTo)" />
                                    </BitStack>
                                </RowTemplate>
                            </BitBasicList>
                        }
                    </BitPivotItem>
                    <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Permissions)]">
                        <BitNav Items="permissionNavItems" Accent="BitColor.SecondaryBackground">
                            <ItemTemplate Context="item">
                                <BitStack Horizontal VerticalAlign="BitAlignment.Center">
                                    <BitText Color="@((IsPermissionAssigned(item)) ? BitColor.PrimaryForeground : BitColor.TertiaryForeground)">
                                        @item.Text
                                    </BitText>
                                    <BitSpacer />
                                    @if (item.ChildItems.Any() is false)
                                    {
                                        <BitButton AutoLoading IconOnly
                                                   IsEnabled="selectedRoleItem is not null"
                                                   OnClick="WrapHandled(() => TogglePermission(item))"
                                                   IconName="@(IsPermissionAssigned(item) ? BitIconName.RemoveFrom : BitIconName.AddTo)" />
                                    }
                                    else
                                    {
                                        <BitStack Horizontal FitSize VerticalAlign="BitAlignment.Center" @onclick:stopPropagation>
                                            <BitButton AutoLoading IconOnly
                                                       Variant="BitVariant.Outline"
                                                       IsEnabled="selectedRoleItem is not null"
                                                       IconName="@(BitIconName.Blocked2Solid)"
                                                       OnClick="WrapHandled(() => DeletePermissions(item))" />

                                            <BitButton AutoLoading IconOnly
                                                       Variant="BitVariant.Outline"
                                                       IsEnabled="selectedRoleItem is not null"
                                                       IconName="@(BitIconName.CircleAdditionSolid)"
                                                       OnClick="WrapHandled(() => AddPermissions(item))" />
                                        </BitStack>
                                    }
                                </BitStack>
                            </ItemTemplate>
                        </BitNav>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Quota)]">
                        <BitStack>
                            <BitText>@Localizer[nameof(AppStrings.QuotaDescription)]</BitText>
                            <BitSeparator />
                            <BitStack Horizontal VerticalAlign="BitAlignment.End">
                                <BitNumberField @bind-Value="maxPrivilegedSessions"
                                                IsEnabled="selectedRoleItem is not null"
                                                Label="@Localizer[nameof(AppStrings.MaxPrevilegedSessions)]" />
                                <BitButton AutoLoading
                                           IsEnabled="selectedRoleItem is not null"
                                           OnClick="WrapHandled(SaveMaxPrivilegedSessions)">
                                    @Localizer[nameof(AppStrings.Save)]
                                </BitButton>
                            </BitStack>
                        </BitStack>
                    </BitPivotItem>
                </BitPivot>
            </BitCard>
        </BitStack>
    </BitStack>
</section>

<BitDialog OnOk="WrapHandled(DeleteRole)"
           @bind-IsOpen="isDeleteDialogOpen"
           OkText="@Localizer[nameof(AppStrings.Yes)]"
           CancelText="@Localizer[nameof(AppStrings.No)]"
           Title="@Localizer[nameof(AppStrings.DeleteTodoItem)]"
           Message="@Localizer.GetString(nameof(AppStrings.AreYouSureWannaDelete), selectedRoleItem?.Text ?? "")" />