@attribute [Route(Urls.UsersPage)]
@attribute [Route("{culture?}" + Urls.UsersPage)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@attribute [Authorize(Policy = AppFeatures.Management.ManageUsers)]
@inherits AppPageBase

<AppPageData Title="@Localizer[nameof(AppStrings.Users)]"
             PageTitle="@Localizer[nameof(AppStrings.UsersPageTitle)]" />

<section>
    <BitStack>
        <BitStack Horizontal FitHeight>
            <BitTextField @bind-Value="newUserFullName"
                          Style="width:15rem"
                          Immediate DebounceTime="300"
                          Placeholder="@Localizer[nameof(AppStrings.NewUserFullName)]" />
            <BitTextField @bind-Value="newUserEmail"
                          Immediate DebounceTime="300"
                          Placeholder="@Localizer[nameof(AppStrings.NewUserEmail)]" />
            <BitTextField @bind-Value="newUserPhoneNumber"
                          Immediate DebounceTime="300"
                          Placeholder="@Localizer[nameof(AppStrings.NewUserPhoneNumber)]" />
            <BitButton AutoLoading
                       IconName="@BitIconName.AddTo"
                       OnClick="WrapHandled(AddUser)">
                @Localizer[nameof(AppStrings.AddUser)]
            </BitButton>
        </BitStack>
        <BitStack Horizontal>
            <BitCard Style="min-width:15rem" FullHeight>
                @if (isLoadingUsers)
                {
                    <BitRollingSquareLoading Size="BitSize.Small" />
                }
                else if (userNavItems.Count == 0)
                {
                    <BitText>@Localizer[nameof(AppStrings.NoRoleMessage)]</BitText>
                }
                else
                {
                    <BitNav Items="userNavItems"
                            Mode="BitNavMode.Manual"
                            Accent="BitColor.SecondaryBackground"
                            OnSelectItem="WrapHandled(async (BitNavItem item) => await HandleOnSelectUser(item))">
                        <ItemTemplate Context="item">
                            <BitStack Horizontal VerticalAlign="BitAlignment.Center">
                                <BitText>@item.Text</BitText>
                                @if (loadingUserKey == item.Key)
                                {
                                    <BitSpacer />
                                    <BitBouncingDotsLoading Size="BitSize.Small" />
                                }
                            </BitStack>
                        </ItemTemplate>
                    </BitNav>
                }
            </BitCard>
            <BitCard Style="min-width:36rem" FullSize>
                <BitPivot>
                    <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.General)]">
                        <BitStack>
                            <BitStack Horizontal VerticalAlign="BitAlignment.End">
                                @{
                                    var isEnabled = selectedUserItem is not null;
                                }
                                <BitTextField @bind-Value="editUserFullName"
                                              IsEnabled="isEnabled"
                                              Immediate DebounceTime="300"
                                              Label="@Localizer[nameof(AppStrings.UserName)]" />
                                <BitTextField @bind-Value="editUserEmail"
                                              IsEnabled="isEnabled"
                                              Immediate DebounceTime="300"
                                              Label="@Localizer[nameof(AppStrings.Email)]" />
                                <BitTextField @bind-Value="editUserPhoneNumber"
                                              IsEnabled="isEnabled"
                                              Immediate DebounceTime="300"
                                              Label="@Localizer[nameof(AppStrings.PhoneNumber)]" />
                                <BitButton AutoLoading
                                           IconName="@BitIconName.Edit"
                                           OnClick="WrapHandled(EditUser)"
                                           IsEnabled="isEnabled && string.IsNullOrWhiteSpace(editUserFullName) is false">
                                    @Localizer[nameof(AppStrings.EditUser)]
                                </BitButton>
                                <BitSpacer />
                                <BitButton AutoLoading
                                           IsEnabled="isEnabled"
                                           Color="BitColor.Error"
                                           IconName="@BitIconName.Delete"
                                           OnClick="WrapHandled(() => { isDeleteUserDialogOpen = true; })">
                                    @Localizer[nameof(AppStrings.DeleteUser)]
                                </BitButton>
                            </BitStack>
                        </BitStack>
                    </BitPivotItem>
                    <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Sessions)]">
                        @if (isLoadingSessions)
                        {
                            <BitRollingSquareLoading Size="BitSize.Small" />
                        }
                        else
                        {
                            <BitBasicList Items="allUserSessions" Style="width:100%;height:100%">
                                <RowTemplate Context="session">
                                    <BitStack Horizontal
                                              Class="user-row"
                                              title="@session.IP"
                                              VerticalAlign="BitAlignment.Center">
                                        <BitText>
                                            @session.IP [@(session.Address)]
                                        </BitText>
                                        <BitSpacer />
                                        <BitButton AutoLoading IconOnly
                                                   IconName="@BitIconName.Delete"
                                                   IsEnabled="selectedUserItem is not null"
                                                   OnClick="WrapHandled(() => {isDeleteUserSessionDialogOpen = true; userSessionToDelete = session; })" />
                                    </BitStack>
                                </RowTemplate>
                            </BitBasicList>
                        }
                    </BitPivotItem>
                </BitPivot>
            </BitCard>
        </BitStack>
    </BitStack>
</section>