@page "/edit-profile"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.EditProfileTitle)]</PageTitle>

<div class="page-container">
    <div class="content-container profile-panel">
        @if (string.IsNullOrEmpty(editProfileMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                           MessageBarType="@editProfileMessageType"
                           OnDismiss="() => editProfileMessage = null">
                @editProfileMessage
            </BitMessageBar>
        }

        <h1 class="page-title">
            @Localizer[nameof(AppStrings.EditProfileTitle)]
        </h1>

        @if (isLoading)
        {
            <div class="loading-container">
                <BitSpinner Size="BitSpinnerSize.Large"></BitSpinner>
            </div>
        }
        else
        {
            <div class="form-profile-container">
                <BitPersona ImageUrl="@(user.ProfileImageName is not null ? $"{profileImageUrl}&file={user.ProfileImageName}" : null)"
                            Size=@BitPersonaSize.Size72
                            Text="@user.FullName"
                            SecondaryText="@user.UserName"
                            Presence="BitPersonaPresenceStatus.Online" />
            </div>

            <div class="form-input-container">
                @if (user.ProfileImageName is not null)
                {
                    <BitButton IsLoading="isRemoving"
                               ButtonStyle="BitButtonStyle.Standard"
                               OnClick="RemoveProfileImage">
                        @Localizer[nameof(AppStrings.Remove)]
                    </BitButton>
                }

                <BitLabel>@Localizer[nameof(AppStrings.ProfileImage)]</BitLabel>
                <BitFileUpload @onfocus="() => profileImageError = null"
                               Label="@Localizer[nameof(AppStrings.UploadNewProfileImage)]"
                               Accept="image/*"
                               AutoUploadEnabled="true"
                               UploadUrl="@profileImageUploadUrl"
                               OnUploadComplete="WrapHandled(RefreshProfileData)"
                               OnUploadFailed="() => profileImageError = Localizer[nameof(AppStrings.FileUploadFailed)]"
                               MaxSize="1024 * 1024 * 10"
                               ChunkedUploadEnabled="false" />
                <div class="form-input-error">@profileImageError</div>
            </div>

            <EditForm Model="userToEdit" OnValidSubmit="WrapHandled(DoSave)" class="edit-profile-form">
                <AppDataAnnotationsValidator />

                <div class="form-input-container">
                    <BitTextField @bind-Value="userToEdit.FullName"
                                  Label="@Localizer[nameof(AppStrings.FullName)]"
                                  Placeholder="@Localizer[nameof(AppStrings.FullName)]" />
                    <ValidationMessage For="@(() => userToEdit.FullName)" />
                </div>

                <div class="form-input-container">
                    <BitDatePicker @bind-Value="userToEdit.BirthDate"
                                   Label="@Localizer[nameof(AppStrings.BirthDate)]"
                                   Class="edit-profile-dtp"
                                   Placeholder="@Localizer[nameof(AppStrings.SelectBirthDate)]" GoToToday="@Localizer[nameof(AppStrings.GoToToday)]" />
                    <ValidationMessage For="@(() => userToEdit.BirthDate)" />
                </div>

                <div class="form-choice-container">
                    <BitChoiceGroup @bind-Value="userToEdit.GenderAsString"
                                    TItem="BitChoiceGroupOption<string?>" TValue="string"
                                    LayoutFlow="BitLayoutFlow.Horizontal"
                                    Label="@Localizer[nameof(AppStrings.Gender)]">
                        <BitChoiceGroupOption Value="@Gender.Male.ToString()"
                                              Text="@Localizer[nameof(AppStrings.GenderMale)]"
                                              AriaLabel="@Localizer[nameof(AppStrings.GenderMale)]" />
                        <BitChoiceGroupOption Value="@Gender.Female.ToString()"
                                              Text="@Localizer[nameof(AppStrings.GenderFemale)]"
                                              AriaLabel="@Localizer[nameof(AppStrings.GenderFemale)]" />
                        <BitChoiceGroupOption Value="@Gender.Other.ToString()"
                                              Text="@Localizer[nameof(AppStrings.GenderOther)]"
                                              AriaLabel="@Localizer[nameof(AppStrings.GenderOther)]" />
                    </BitChoiceGroup>
                </div>

                <BitButton IsLoading="isSaving"
                           ButtonType="BitButtonType.Submit"
                           ButtonStyle="BitButtonStyle.Primary"
                           Title="@Localizer[nameof(AppStrings.Save)]"
                           AriaLabel="@Localizer[nameof(AppStrings.Save)]">
                    @Localizer[nameof(AppStrings.Save)]
                </BitButton>
            </EditForm>

        }
    </div>
    <br />
    <div class="content-container danger-panel">
        <BitTypography Variant="BitTypographyVariant.H5" Style="color: #dc0000;border-bottom: 1px solid #dc0000">
            @Localizer[nameof(AppStrings.DeleteAccount)]
        </BitTypography>
        <br />
        <br />
        <BitTypography Variant="BitTypographyVariant.Body1">
            @Localizer[nameof(AppStrings.DeleteAccountPrompt)]
        </BitTypography>
        <br />
        <br />
        <BitButton ButtonStyle="BitButtonStyle.Standard"
                   Style=" color: #dc0000; border-color: #dc0000"
                   Title="@Localizer[nameof(AppStrings.DeleteAccount)]"
                   AriaLabel="@Localizer[nameof(AppStrings.DeleteAccount)]"
                   OnClick="() => isDeleteAccountConfirmModalOpen = true">
            @Localizer[nameof(AppStrings.DeleteAccount)]
        </BitButton>
    </div>
</div>

<DeleteAccountConfirmModal @bind-IsOpen="isDeleteAccountConfirmModalOpen" />
