@page "/forgot-password"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.ForgetPasswordTitle)]</PageTitle>

<div class="page-container">
    <EditForm Model="forgotPasswordModel" OnValidSubmit="WrapHandled(DoSubmit)" class="form">
        <AppDataAnnotationsValidator />

        @if (string.IsNullOrEmpty(forgotPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                           MessageBarType="@forgotPasswordMessageType"
                           OnDismiss="() => forgotPasswordMessage = null">
                @forgotPasswordMessage
            </BitMessageBar>
        }

        <h1 class="form-title">@Localizer[nameof(AppStrings.ForgetPasswordTitle)]</h1>

        <div class="form-description">
            @Localizer[nameof(AppStrings.ForgetPasswordMessage)]
        </div>

        <div class="form-input-container">
            <BitTextField @bind-Value="forgotPasswordModel.Email"
                          Label="@Localizer[nameof(AppStrings.Email)]"
                          Placeholder="@Localizer[nameof(AppStrings.Email)]"
                          Type="BitTextFieldType.Email" />
            <ValidationMessage For="@(() => forgotPasswordModel.Email)" />
        </div>

        <BitButton IsLoading="isLoading"
                   Class="form-submit-button"
                   ButtonStyle="BitButtonStyle.Primary"
                   Title="@Localizer[nameof(AppStrings.Submit)]"
                   AriaLabel="@Localizer[nameof(AppStrings.Submit)]"
                   ButtonType="BitButtonType.Submit">
            @Localizer[nameof(AppStrings.Submit)]
        </BitButton>
    </EditForm>
</div>