@*+:cnd:noEmit*@
@attribute [Route(Urls.ForgotPasswordPage)]
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.ForgotPassword)]</PageTitle>

<div class="page-container">
    <div class="form">
        @if (string.IsNullOrEmpty(errorMessage) is false)
        {
            <BitMessage Class="form-message-bar"
                        Severity="BitSeverity.Error"
                        OnDismiss="() => errorMessage = null">
                @errorMessage
            </BitMessage>
        }

        <BitTypography Variant="BitTypographyVariant.H4" Gutter>
            @Localizer[nameof(AppStrings.ForgotPasswordTitle)]
        </BitTypography>

        <BitTypography Variant="BitTypographyVariant.Subtitle1" Gutter>
            @Localizer[nameof(AppStrings.ForgotPasswordMessage)]
        </BitTypography>

        <br/>

        <EditForm Model="model" OnValidSubmit="WrapHandled(Submit)" class="forgot-form">
            <AppDataAnnotationsValidator />

            <div class="form-input-container">
                <BitTextField @bind-Value="model.Email"
                              Type="BitTextFieldType.Email"
                              Label="@Localizer[nameof(AppStrings.Email)]"
                              Placeholder="@Localizer[nameof(AppStrings.EmailPlaceholder)]" />
                <ValidationMessage For="@(() => model.Email)" />
            </div>

            <div class="form-input-container">
                <BitTextField @bind-Value="model.PhoneNumber"
                              Type="BitTextFieldType.Tel"
                              Label="@Localizer[nameof(AppStrings.PhoneNumber)]"
                              Placeholder="@Localizer[nameof(AppStrings.PhoneNumberPlaceholder)]" />
                <ValidationMessage For="@(() => model.PhoneNumber)" />
            </div>

            <BitButton IsLoading="isWaiting"
                       Class="form-submit-button"
                       ButtonType="BitButtonType.Submit">
                @Localizer[nameof(AppStrings.Submit)]
            </BitButton>
        </EditForm>
        <br />
        <div>
            @Localizer[nameof(AppStrings.ResetPasswordMessageInForgot)]
            <BitLink Href="@Urls.ResetPasswordPage">@Localizer[nameof(AppStrings.ResetPassword)]</BitLink>
        </div>
    </div>
</div>
