@page "/reset-password"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.ResetPasswordTitle)]</PageTitle>

<div class="page-container">
    <EditForm Model="resetPasswordModel" OnValidSubmit="WrapHandled(DoSubmit)" class="form">
        <AppDataAnnotationsValidator />

        @if (string.IsNullOrEmpty(resetPasswordMessage) is false)
        {
            <BitMessageBar Class="form-message-bar"
                           MessageBarType="@resetPasswordMessageType"
                           OnDismiss="() => resetPasswordMessage = null">
                @resetPasswordMessage
            </BitMessageBar>
        }

        @if (passwordChanged)
        {
            <BitButton Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       Title="@Localizer[nameof(AppStrings.SignIn)]"
                       AriaLabel="@Localizer[nameof(AppStrings.SignIn)]"
                       OnClick="WrapHandled(RedirectToSignIn)">
                <span>@Localizer[nameof(AppStrings.SignIn)]</span>
            </BitButton>
        }
        else
        {
            <h1 class="form-title">@Localizer[nameof(AppStrings.ResetPasswordTitle)]</h1>
            <div class="form-input-container">
                <BitTextField @bind-Value="resetPasswordModel.Password"
                              Label="@Localizer[nameof(AppStrings.NewPassword)]"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@Localizer[nameof(AppStrings.NewPassword)]" />
                <ValidationMessage For="@(() => resetPasswordModel.Password)" />
            </div>

            <div class="form-input-container">
                <BitTextField @bind-Value="resetPasswordModel.ConfirmPassword"
                              Label="@Localizer[nameof(AppStrings.ConfirmNewPassword)]"
                              Type="BitTextFieldType.Password"
                              CanRevealPassword="true"
                              Placeholder="@Localizer[nameof(AppStrings.ConfirmNewPassword)]" />
                <ValidationMessage For="@(() => resetPasswordModel.ConfirmPassword)" />
            </div>

            <BitButton IsLoading="isLoading"
                       Class="form-submit-button"
                       ButtonStyle="BitButtonStyle.Primary"
                       Title="@Localizer[nameof(AppStrings.Submit)]"
                       AriaLabel="@Localizer[nameof(AppStrings.Submit)]"
                       ButtonType="BitButtonType.Submit">
                @Localizer[nameof(AppStrings.ResetPassword)]
            </BitButton>
        }
    </EditForm>
</div>
