@*+:cnd:noEmit*@
@attribute [Route(Urls.SignUpPage)]
@attribute [Route("{culture?}" + Urls.SignUpPage)]
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.SingUpTitle)]</PageTitle>

<section>
    <BitStack HorizontalAlign="BitAlignment.Center">
        <BitText Typography="BitTypography.H4">@Localizer[nameof(AppStrings.SignUp)]</BitText>

        <SocialRow OnClick="SocialSignUp" />

        <BitSeparator>@Localizer[AppStrings.Or]</BitSeparator>

        <EditForm Model="signUpModel" OnValidSubmit="WrapHandled(DoSignUp)">
            <AppDataAnnotationsValidator />

            <BitStack Class="form-stack" Gap="2rem">
                <BitStack Class="form-stack">
                    <BitPivot Alignment="BitAlignment.Center">
                        <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Email)]">
                            <BitTextField @bind-Value="signUpModel.Email"
                                          Type="BitInputType.Email"
                                          Label="@Localizer[nameof(AppStrings.Email)]"
                                          Placeholder="@Localizer[nameof(AppStrings.EmailPlaceholder)]" />
                            <ValidationMessage For="@(() => signUpModel.Email)" />
                        </BitPivotItem>

                        <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.PhoneNumber)]">
                            <BitTextField @bind-Value="signUpModel.PhoneNumber"
                                          Type="BitInputType.Tel"
                                          Label="@Localizer[nameof(AppStrings.PhoneNumber)]"
                                          Placeholder="@Localizer[nameof(AppStrings.PhoneNumberPlaceholder)]" />
                            <ValidationMessage For="@(() => signUpModel.PhoneNumber)" />
                        </BitPivotItem>
                    </BitPivot>

                    <BitTextField @bind-Value="signUpModel.Password" CanRevealPassword
                                  Type="BitInputType.Password"
                                  Label="@Localizer[nameof(AppStrings.Password)]"
                                  AutoComplete="@BitAutoCompleteValue.NewPassword"
                                  Placeholder="@Localizer[nameof(AppStrings.PasswordPlaceholder)]" />
                    <ValidationMessage For="@(() => signUpModel.Password)" />
                </BitStack>

                @*#if (captcha == "reCaptcha")*@
                <GoogleRecaptcha />
                @*#endif*@

                <BitButton IsLoading="isWaiting" ButtonType="BitButtonType.Submit">
                    @Localizer[nameof(AppStrings.SignUp)]
                </BitButton>
            </BitStack>
        </EditForm>

        <BitText Typography="BitTypography.Body2">
            @Localizer[nameof(AppStrings.SignInMessageInSignUp)]
            <BitLink Href="@Urls.SignInPage">@Localizer[nameof(AppStrings.SignIn)]</BitLink>
            @Localizer[nameof(AppStrings.Or)]
            <BitLink Href="@($"{Urls.ConfirmPage}?email={Uri.EscapeDataString(signUpModel.Email??"")}&phoneNumber={Uri.EscapeDataString(signUpModel.PhoneNumber??"")}")">
                @Localizer[nameof(AppStrings.Confirm)]
            </BitLink>
        </BitText>
        <BitText Typography="BitTypography.Body2">
            By signing up, you agree to our <BitLink Href="@Urls.TermsPage">@Localizer[nameof(AppStrings.TermsTitle)]</BitLink>
        </BitText>
    </BitStack>
</section>

<BitSnackBar @ref="snackbarRef" />