@*+:cnd:noEmit*@
@page "/sign-in"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.SignInTitle)]</PageTitle>

<div class="page-container">
    <EditForm OnValidSubmit="WrapHandled(DoSignIn)" class="form" Model="model">
        <AppDataAnnotationsValidator />

        <div @ref="messageRef" class="form-message-bar">
            @if (string.IsNullOrEmpty(message) is false)
            {
                <BitMessage Multiline Severity="@messageSeverity" OnDismiss="() => message = null">@message</BitMessage>
            }
        </div>

        <BitTypography Variant="BitTypographyVariant.H4" Gutter>
            @Localizer[nameof(AppStrings.SignIn)]
        </BitTypography>

        @if (requiresTwoFactor is false)
        {
            <br /><br />
            <BitButton Style="width:300px"
                       IsLoading="isWaiting"
                       ButtonType="BitButtonType.Button"
                       OnClick="WrapHandled(GoogleSignIn)"
                       ButtonStyle="BitButtonStyle.Standard">
                @Localizer[AppStrings.GoogleSignInButtonText]
            </BitButton>
            <br />
            <BitButton Style="width:300px"
                       IsLoading="isWaiting"
                       ButtonType="BitButtonType.Button"
                       OnClick="WrapHandled(GitHubSignIn)"
                       ButtonStyle="BitButtonStyle.Standard">
                @Localizer[AppStrings.GitHubSignInButtonText]
            </BitButton>
            <br />

            <br />
            <BitSeparator Style="width:100%">Or</BitSeparator>
            <br />
            <div class="form-input-container">
                <BitTextField @bind-Value="model.Email"
                              Type="BitTextFieldType.Email"
                              Label="@Localizer[nameof(AppStrings.Email)]"
                              Placeholder="@Localizer[nameof(AppStrings.EmailPlaceholder)]" />
                <ValidationMessage For="@(() => model.Email)" />

                <BitTextField @bind-Value="model.PhoneNumber"
                              Type="BitTextFieldType.Tel"
                              Label="@Localizer[nameof(AppStrings.PhoneNumber)]"
                              Placeholder="@Localizer[nameof(AppStrings.PhoneNumberPlaceholder)]" />
                <ValidationMessage For="@(() => model.PhoneNumber)" />
            </div>

            <div class="form-input-container">
                <BitTextField @bind-Value="model.Password"
                              CanRevealPassword="true"
                              Type="BitTextFieldType.Password"
                              Label="@Localizer[nameof(AppStrings.Password)]"
                              AutoComplete="@BitAutoCompleteValue.CurrentPassword"
                              Placeholder="@Localizer[nameof(AppStrings.PasswordPlaceholder)]" />
                <ValidationMessage For="@(() => model.Password)" />

                <BitTextField @bind-Value="model.Otp"
                              CanRevealPassword="true"
                              Type="BitTextFieldType.Password"
                              Label="@Localizer[nameof(AppStrings.Otp)]"
                              AutoComplete="@BitAutoCompleteValue.OneTimeCode"
                              Placeholder="@Localizer[nameof(AppStrings.OtpPlaceholder)]" />
                <ValidationMessage For="@(() => model.Otp)" />
                <BitButton IsLoading="isSendingOtp"
                           OnClick="WrapHandled(SendOtp)"
                           Style="padding:0;margin-top:4px"
                           ButtonType="BitButtonType.Button"
                           ButtonStyle="BitButtonStyle.Standard">
                    @Localizer[nameof(AppStrings.SendOtpButtonText)]
                </BitButton>
            </div>

            <div class="form-input-container form-input-container--no-margin">
                <BitCheckbox Class="form-checkbox" @bind-Value="model.RememberMe" Label="@Localizer[nameof(AppStrings.RememberMe)]" />
            </div>
        }
        else
        {
            <h3 class="form-title">@Localizer[nameof(AppStrings.TwoFactorAuthTitle)]</h3>

            <div>@Localizer[nameof(AppStrings.TfaProtectedSignInSubtitle)]</div>

            <br />

            <div class="form-input-container">
                <div>@Localizer[nameof(AppStrings.TfaEnterCodeInSignInMessage)]</div>
                <BitTextField @bind-Value="model.TwoFactorCode"
                              AutoComplete="@BitAutoCompleteValue.OneTimeCode"
                              Placeholder="@Localizer[nameof(AppStrings.TwoFactorCode)]" />
            </div>

            <div class="form-input-container">
                <div>@Localizer[nameof(AppStrings.TfaEnterRecoveryCodeInSignInMessage)]</div>
                <BitTextField @bind-Value="model.TwoFactorRecoveryCode"
                              AutoComplete="@BitAutoCompleteValue.OneTimeCode"
                              Placeholder="@Localizer[nameof(AppStrings.TwoFactorRecoveryCode)]" />
            </div>

            <br />

            <div class="form-input-container tfa-token-container">
                <div>@Localizer[nameof(AppStrings.TfaTokenSignInTitle)]</div>
                <BitButton Style="padding:0"
                           IsLoading="isSendingTfaToken"
                           ButtonType="BitButtonType.Button"
                           OnClick="WrapHandled(SendTfaToken)">
                    @Localizer[nameof(AppStrings.TfaTokenGenerateButtonText)]
                </BitButton>
                <BitTextField @bind-Value="model.TwoFactorToken" Style="flex-grow:1"
                              AutoComplete="@BitAutoCompleteValue.OneTimeCode"
                              Placeholder="@Localizer[nameof(AppStrings.TwoFactorToken)]" />
            </div>
        }
        <br />
        <BitButton IsLoading="isWaiting"
                   ButtonStyle="BitButtonStyle.Primary"
                   Title="@Localizer[nameof(AppStrings.SignIn)]"
                   AriaLabel="@Localizer[nameof(AppStrings.SignIn)]"
                   ButtonType="BitButtonType.Submit">
            @Localizer[nameof(AppStrings.SignIn)]
        </BitButton>
        <br />
        <div>
            <BitLink Href="/forgot-password">@Localizer[nameof(AppStrings.ForgotPasswordLink)]</BitLink>
        </div>
        <br />
        <div>
            @Localizer[nameof(AppStrings.DontHaveAccountMessage)] <BitLink Href="/sign-up">@Localizer[nameof(AppStrings.SignUp)]</BitLink>
        </div>
    </EditForm>
</div>
