@*+:cnd:noEmit*@
@attribute [Route(Urls.SignUpPage)]
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.SingUpTitle)]</PageTitle>

<div class="page-container">
    <div class="form">
        <div @ref="messageRef" class="form-message-bar">
            @if (string.IsNullOrEmpty(message) is false)
            {
                <BitMessage Multiline Color="BitColor.Error" OnDismiss="() => message = null">
                    @message
                </BitMessage>
            }
        </div>

        <BitText Typography="BitTypography.H4" Gutter>
            @Localizer[nameof(AppStrings.SignUp)]
        </BitText>
        <br /><br />
        <BitButton Style="width:300px"
                   IsLoading="isWaiting"
                   Color="BitColor.Tertiary"
                   Variant="BitVariant.Outline"
                   ButtonType="BitButtonType.Button"
                   OnClick="WrapHandled(GoogleSignUp)">
            @Localizer[AppStrings.GoogleSignUpButtonText]
        </BitButton>
        <br />
        <BitButton Style="width:300px"
                   IsLoading="isWaiting"
                   Color="BitColor.Tertiary"
                   Variant="BitVariant.Outline"
                   ButtonType="BitButtonType.Button"
                   OnClick="WrapHandled(GitHubSignUp)">
            @Localizer[AppStrings.GitHubSignUpButtonText]
        </BitButton>
        <br />
        <BitButton Style="width:300px"
                   IsLoading="isWaiting"
                   Color="BitColor.Tertiary"
                   Variant="BitVariant.Outline"
                   ButtonType="BitButtonType.Button"
                   OnClick="WrapHandled(TwitterSignUp)">
            @Localizer[AppStrings.TwitterSignUpButtonText]
        </BitButton>
        <br /><br />
        <BitSeparator Style="width:100%">Or</BitSeparator>
        <br />
        <EditForm Model="signUpModel" OnValidSubmit="WrapHandled(DoSignUp)">
            <AppDataAnnotationsValidator />
            <div class="form-input-container">
                <BitTextField @bind-Value="signUpModel.Email"
                              Type="BitTextFieldType.Email"
                              Label="@Localizer[nameof(AppStrings.Email)]"
                              Placeholder="@Localizer[nameof(AppStrings.EmailPlaceholder)]" />
                <ValidationMessage For="@(() => signUpModel.Email)" />
            </div>
            <div class="form-input-container">
                <BitTextField @bind-Value="signUpModel.PhoneNumber"
                              Type="BitTextFieldType.Tel"
                              Label="@Localizer[nameof(AppStrings.PhoneNumber)]"
                              Placeholder="@Localizer[nameof(AppStrings.PhoneNumberPlaceholder)]" />
                <ValidationMessage For="@(() => signUpModel.PhoneNumber)" />
            </div>
            <div class="form-input-container">
                <BitTextField @bind-Value="signUpModel.Password"
                              CanRevealPassword="true"
                              Type="BitTextFieldType.Password"
                              Label="@Localizer[nameof(AppStrings.Password)]"
                              AutoComplete="@BitAutoCompleteValue.NewPassword"
                              Placeholder="@Localizer[nameof(AppStrings.PasswordPlaceholder)]" />
                <ValidationMessage For="@(() => signUpModel.Password)" />
            </div>
            <div class="form-input-container">
                <BitCheckbox Class="form-checkbox" @bind-Value="signUpModel.TermsAccepted">
                    <LabelTemplate>
                        <span>@Localizer[nameof(AppStrings.TermsMessage)]&nbsp<BitLink Href="@Urls.TermsPage">@Localizer[nameof(AppStrings.TermsTitle)]</BitLink></span>
                    </LabelTemplate>
                </BitCheckbox>
                <ValidationMessage For="@(() => signUpModel.TermsAccepted)" />
            </div>

            @*#if (captcha == "reCaptcha")*@
            <div class="form-input-container">
                <GoogleRecaptcha />
            </div>
            @*#endif*@

            <BitButton IsLoading="isWaiting"
                       Class="form-submit-button"
                       ButtonType="BitButtonType.Submit">
                @Localizer[nameof(AppStrings.SignUp)]
            </BitButton>
            <br /><br />
            <div>
                @Localizer[nameof(AppStrings.SignInMessageInSignUp)]
                <BitLink Href="@Urls.SignInPage">@Localizer[nameof(AppStrings.SignIn)]</BitLink>
            </div>
            <br />
            <div>
                @Localizer[nameof(AppStrings.ConfirmMessageInSignUp)]
                <BitLink Href="@($"{Urls.ConfirmPage}?email={Uri.EscapeDataString(signUpModel.Email??"")}&phoneNumber={Uri.EscapeDataString(signUpModel.PhoneNumber??"")}")">
                    @Localizer[nameof(AppStrings.Confirm)]
                </BitLink>
            </div>
        </EditForm>
    </div>
</div>
