@*+:cnd:noEmit*@
@attribute [Route(Urls.SignInPage)]
@attribute [Route("{culture?}" + Urls.SignInPage)]
@inherits AppComponentBase
@using Boilerplate.Client.Core.Components.Pages.Identity.Components

<PageTitle>@Localizer[nameof(AppStrings.SignInTitle)]</PageTitle>

<div class="page-container">
    <EditForm OnValidSubmit="WrapHandled(DoSignIn)" class="form" Model="model">
        <AppDataAnnotationsValidator />

        <div @ref="messageRef" class="form-message-bar">
            @if (string.IsNullOrEmpty(message) is false)
            {
                <BitMessage Multiline Color="messageColor" OnDismiss="() => message = null">@message</BitMessage>
            }
        </div>

        <BitText Typography="BitTypography.H4" Gutter>
            @Localizer[nameof(AppStrings.SignIn)]
        </BitText>

        @if (requiresTwoFactor is false)
        {
            <br /><br />
            <BitStack Horizontal>
                <BitButton IsLoading="isWaiting"
                           Size="BitSize.Small"
                           Variant="BitVariant.Text"
                           ButtonType="BitButtonType.Button"
                           OnClick="WrapHandled(GoogleSignIn)"
                           Color="BitColor.SecondaryBackground"
                           Title="@Localizer[AppStrings.GoogleSignUpButtonText]">
                    <GoogleIcon />
                </BitButton>

                <BitButton IsLoading="isWaiting"
                           Size="BitSize.Small"
                           Variant="BitVariant.Text"
                           ButtonType="BitButtonType.Button"
                           OnClick="WrapHandled(GitHubSignIn)"
                           Color="BitColor.SecondaryBackground"
                           Title="@Localizer[AppStrings.GitHubSignUpButtonText]">
                    <GitHubIcon />
                </BitButton>

                <BitButton IsLoading="isWaiting"
                           Size="BitSize.Small"
                           Variant="BitVariant.Text"
                           ButtonType="BitButtonType.Button"
                           OnClick="WrapHandled(TwitterSignIn)"
                           Color="BitColor.SecondaryBackground"
                           Title="@Localizer[AppStrings.TwitterSignUpButtonText]">
                    <TwitterIcon />
                </BitButton>
            </BitStack>
            <br />
            <BitSeparator Style="width:100%">@Localizer[AppStrings.Or]</BitSeparator>
            <br />
            <BitPivot Style="width:100%;max-width:300px">
                <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Email)]">
                    <br />
                    <div class="form-input-container">
                        <BitTextField @bind-Value="model.Email"
                                      Type="BitInputType.Email"
                                      Label="@Localizer[nameof(AppStrings.Email)]"
                                      Placeholder="@Localizer[nameof(AppStrings.EmailPlaceholder)]" />
                        <ValidationMessage For="@(() => model.Email)" />
                    </div>
                    <div class="form-input-container">
                        <BitTextField @bind-Value="model.Password"
                                      CanRevealPassword="true"
                                      Type="BitInputType.Password"
                                      AutoComplete="@BitAutoCompleteValue.CurrentPassword"
                                      Placeholder="@Localizer[nameof(AppStrings.PasswordPlaceholder)]">
                            <LabelTemplate>
                                <BitStack Horizontal>
                                    <BitText>@Localizer[nameof(AppStrings.Password)]</BitText>
                                    <BitSpacer />
                                    <BitLink Href="@Urls.ForgotPasswordPage">@Localizer[nameof(AppStrings.ForgotPasswordLink)]</BitLink>
                                </BitStack>
                            </LabelTemplate>
                        </BitTextField>
                        <ValidationMessage For="@(() => model.Password)" />
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.PhoneNumber)]">
                    <br />
                    <div class="form-input-container">
                        <BitTextField @bind-Value="model.PhoneNumber"
                                      Type="BitInputType.Tel"
                                      Label="@Localizer[nameof(AppStrings.PhoneNumber)]"
                                      Placeholder="@Localizer[nameof(AppStrings.PhoneNumberPlaceholder)]" />
                        <ValidationMessage For="@(() => model.PhoneNumber)" />
                    </div>
                    <div class="form-input-container">
                        <BitTextField @bind-Value="model.Password"
                                      CanRevealPassword="true"
                                      Type="BitInputType.Password"
                                      Label="@Localizer[nameof(AppStrings.Password)]"
                                      AutoComplete="@BitAutoCompleteValue.CurrentPassword"
                                      Placeholder="@Localizer[nameof(AppStrings.PasswordPlaceholder)]">
                            <LabelTemplate>
                                <BitStack Horizontal>
                                    <BitText>@Localizer[nameof(AppStrings.Password)]</BitText>
                                    <BitSpacer />
                                    <BitLink Href="@Urls.ForgotPasswordPage">@Localizer[nameof(AppStrings.ForgotPasswordLink)]</BitLink>
                                </BitStack>
                            </LabelTemplate>
                        </BitTextField>
                        <ValidationMessage For="@(() => model.Password)" />
                    </div>
                </BitPivotItem>
                <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.Otp)]">
                    <br />
                    <div class="form-input-container tfa-otp-container">
                        <BitText>@Localizer[nameof(AppStrings.OtpEmailOrPhoneNumberSubtitle)]</BitText>
                        <BitTextField @bind-Value="model.Email"
                                      Type="BitInputType.Email"
                                      Placeholder="@Localizer[nameof(AppStrings.EmailPlaceholder)]" />
                        <BitTextField @bind-Value="model.PhoneNumber"
                                      Type="BitInputType.Tel"
                                      Placeholder="@Localizer[nameof(AppStrings.PhoneNumberPlaceholder)]" />
                        <BitButton IsLoading="isSendingOtp"
                                   Variant="BitVariant.Outline"
                                   OnClick="WrapHandled(SendOtp)"
                                   ButtonType="BitButtonType.Button">
                            @Localizer[nameof(AppStrings.SendOtpButtonText)]
                        </BitButton>
                        <br />
                        <BitOtpInput Length="6"
                                     @ref="otpInputRef"
                                     @bind-Value="model.Otp"
                                     Size="BitSize.Large"
                                     Label="@Localizer[nameof(AppStrings.Otp)]"
                                     Type="BitInputType.Number"
                                     Style="justify-content:center"
                                     OnFill="WrapHandled(DoSignIn)" />
                        <ValidationMessage For="@(() => model.Otp)" />
                        <br />
                    </div>
                </BitPivotItem>
            </BitPivot>
            <div class="form-input-container form-input-container--no-margin">
                <BitCheckbox Class="form-checkbox" @bind-Value="model.RememberMe" Label="@Localizer[nameof(AppStrings.RememberMe)]" />
            </div>
        }
        else
        {
            <BitText Typography="BitTypography.H4" Gutter>@Localizer[nameof(AppStrings.TwoFactorAuthTitle)]</BitText>
            <BitText Gutter>@Localizer[nameof(AppStrings.TfaProtectedSignInSubtitle)]</BitText>
            <br />
            <BitPivot>
                <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.TwoFactorCode)]">
                    <br />
                    <BitStack>
                        <div class="form-input-container tfa-pivot-item">
                            <BitTextField @bind-Value="model.TwoFactorCode"
                                          Label="@Localizer[nameof(AppStrings.TfaEnterCodeInSignInMessage)]"
                                          AutoComplete="@BitAutoCompleteValue.OneTimeCode"
                                          Placeholder="@Localizer[nameof(AppStrings.TwoFactorCode)]" />
                        </div>
                    </BitStack>
                    <br /><br />
                </BitPivotItem>
                <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.TwoFactorRecoveryCode)]">
                    <br />
                    <BitStack>
                        <div class="form-input-container tfa-pivot-item">
                            <BitTextField @bind-Value="model.TwoFactorRecoveryCode"
                                          Label="@Localizer[nameof(AppStrings.TfaEnterRecoveryCodeInSignInMessage)]"
                                          AutoComplete="@BitAutoCompleteValue.OneTimeCode"
                                          Placeholder="@Localizer[nameof(AppStrings.TwoFactorRecoveryCode)]" />
                        </div>
                    </BitStack>
                    <br /><br />
                </BitPivotItem>
                <BitPivotItem HeaderText="@Localizer[nameof(AppStrings.TwoFactorToken)]">
                    <br />
                    <BitStack>
                        <div class="form-input-container tfa-pivot-item">
                            <div>@Localizer[nameof(AppStrings.TfaTokenSignInTitle)]</div>
                            <BitButton IsLoading="isSendingTfaToken"
                                       ButtonType="BitButtonType.Button"
                                       OnClick="WrapHandled(SendTfaToken)">
                                @Localizer[nameof(AppStrings.TfaTokenGenerateButtonText)]
                            </BitButton>
                            <BitTextField @bind-Value="model.TwoFactorToken" Style="flex-grow:1"
                                          AutoComplete="@BitAutoCompleteValue.OneTimeCode"
                                          Placeholder="@Localizer[nameof(AppStrings.TwoFactorToken)]" />
                        </div>
                    </BitStack>
                </BitPivotItem>
            </BitPivot>
        }
        <br />
        <BitButton IsLoading="isWaiting"
                   Class="form-submit-button"
                   ButtonType="BitButtonType.Submit"
                   Title="@Localizer[nameof(AppStrings.SignIn)]">
            @Localizer[nameof(AppStrings.SignIn)]
        </BitButton>
        <br /><br />
        <BitText Typography="BitTypography.Body2">
            @Localizer[nameof(AppStrings.DontHaveAccountMessage)]
            <BitLink Href="@Urls.SignUpPage">@Localizer[nameof(AppStrings.SignUp)]</BitLink>
        </BitText>
    </EditForm>
</div>
