@*+:cnd:noEmit*@
@page "/sign-up"
@inherits AppComponentBase

<PageTitle>@Localizer[nameof(AppStrings.SingUpTitle)]</PageTitle>

<div class="page-container">
    <div class="form">
        @if (string.IsNullOrEmpty(signUpErrorMessage) is false)
        {
            <BitMessage Multiline
                        Class="form-message-bar"
                        Severity="BitSeverity.Error"
                        OnDismiss="() => signUpErrorMessage = null">
                @signUpErrorMessage
            </BitMessage>
        }

        <BitTypography Variant="BitTypographyVariant.H4" Gutter>
            @Localizer[nameof(AppStrings.SignUp)]
        </BitTypography>
        <br />
        <EditForm Model="signUpModel" OnValidSubmit="WrapHandled(DoSignUp)">
            <AppDataAnnotationsValidator />

            <div class="form-input-container">
                <BitTextField @bind-Value="signUpModel.Email"
                              Type="BitTextFieldType.Email"
                              Label="@Localizer[nameof(AppStrings.Email)]"
                              Placeholder="@Localizer[nameof(AppStrings.EmailPlaceholder)]" />
                <ValidationMessage For="@(() => signUpModel.Email)" />
            </div>

            <div class="form-input-container">
                <BitTextField @bind-Value="signUpModel.PhoneNumber"
                              Type="BitTextFieldType.Tel"
                              Label="@Localizer[nameof(AppStrings.PhoneNumber)]"
                              Placeholder="@Localizer[nameof(AppStrings.PhoneNumberPlaceholder)]" />
                <ValidationMessage For="@(() => signUpModel.PhoneNumber)" />
            </div>

            <div class="form-input-container">
                <BitTextField @bind-Value="signUpModel.Password"
                              CanRevealPassword="true"
                              Type="BitTextFieldType.Password"
                              Label="@Localizer[nameof(AppStrings.Password)]"
                              AutoComplete="@BitAutoCompleteValue.NewPassword"
                              Placeholder="@Localizer[nameof(AppStrings.PasswordPlaceholder)]" />
                <ValidationMessage For="@(() => signUpModel.Password)" />
            </div>

            <div class="form-input-container">
                <BitCheckbox Class="form-checkbox" @bind-Value="signUpModel.TermsAccepted">
                    <LabelTemplate>
                        <span>@Localizer[nameof(AppStrings.TermsMessage)]&nbsp<BitLink Href="/terms">@Localizer[nameof(AppStrings.TermsTitle)]</BitLink></span>
                    </LabelTemplate>
                </BitCheckbox>
                <ValidationMessage For="@(() => signUpModel.TermsAccepted)" />
            </div>

            @*#if (captcha == "reCaptcha")*@
            <div class="form-input-container">
                <GoogleRecaptcha />
            </div>
            @*#endif*@

            <BitButton IsLoading="isWaiting"
                       Class="form-submit-button"
                       ButtonType="BitButtonType.Submit">
                @Localizer[nameof(AppStrings.SignUp)]
            </BitButton>
            <br />
            <br />
            <div>
                @Localizer[nameof(AppStrings.SignInMessageInSignUp)] <BitLink Href="/sign-in">@Localizer[nameof(AppStrings.SignIn)]</BitLink>
            </div>
            <br />
            <div>
                @Localizer[nameof(AppStrings.ConfirmMessageInSignUp)]
                <BitLink Href="@($"/confirm?email={Uri.EscapeDataString(signUpModel.Email??"")}&phoneNumber={Uri.EscapeDataString(signUpModel.PhoneNumber??"")}")">
                    @Localizer[nameof(AppStrings.Confirm)]
                </BitLink>
            </div>

        </EditForm>
    </div>
</div>
