@namespace Bit.BlazorUI
@inherits BitInputBase<string?>

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@UniqueId"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     aria-label="@AriaLabel">

    @for (var i = 0; i < Length; i++)
    {
        int index = i;

        <input @ref="_inputRefs[index]"
               @onpaste="HandleOnPaste"
               @onfocusin="HandleOnFocusIn"
               @onfocusout="HandleOnFocusOut"
               @oninput="(e) => HandleOnInput(e, index)"
               @onkeydown="(e) => HandleOnKeyDown(e, index)"
               type="@_inputType"
               style="@Styles?.Input"
               class="bit-otp-inp @Classes?.Input"
               inputmode="@_inputMode"
               value="@_inputValue[index]"
               disabled="@(IsEnabled is false)"
               spellcheck="false"
               autocorrect="off"
               autocapitalize="none"
               autocomplete="@BitAutoCompleteValue.OneTimeCode" />
    }
</div>
