@namespace Bit.BlazorUI
@inherits BitInputBase<string?>

<div @ref="RootElement" @attributes="HtmlAttributes"
     id="@_Id"
     style="@StyleBuilder.Value"
     class="@ClassBuilder.Value"
     dir="@Dir?.ToString().ToLower()"
     aria-label="@AriaLabel">

    @{
        var inputType = GetInputType();
        var inputMode = GetInputMode();
    }
    @for (var i = 0; i < Length; i++)
    {
        int index = i;

        <input @ref="_inputRefs[index]"
               @onpaste="e => HandleOnPaste(e, index)"
               @oninput="e => HandleOnInput(e, index)"
               @onfocusin="e => HandleOnFocusIn(e, index)"
               @onkeydown="e => HandleOnKeyDown(e, index)"
               @onfocusout="e => HandleOnFocusOut(e, index)"
               type="@inputType"
               style="@Styles?.Input"
               class="bit-otp-inp @Classes?.Input"
               inputmode="@inputMode"
               value="@_inputValues[index]"
               disabled="@(IsEnabled is false)"
               spellcheck="false"
               autocorrect="off"
               autocapitalize="none"
               autocomplete="@BitAutoCompleteValue.OneTimeCode" />
    }
</div>
