@page "/console"
@inject Bit.Butil.Console console

@code {
    private string _value = string.Empty;
}

<PageTitle>Console Samples</PageTitle>

<h1>Console</h1>

<pre style="font-family:Consolas">
@@inject Bit.Butil.Console console

@@code {
    ...
    console.Log("This is a test log");
    ...
}
</pre>

<br />
<hr />

<h3>Open the DevTools and start clicking on buttons</h3>

<hr />
<br />

<span>Value:</span>
<input @bind-value="_value" />
<br />
<br />
<hr />
<br />
<button @onclick="@(() => console.Assert(false, "This is a test assert:", _value))">assert</button>
<br />
<br />
<button @onclick="@(() => console.Count(_value))">count</button>
<button @onclick="@(() => console.CountReset(_value))">countReset</button>
<br />
<br />
<button @onclick="@(() => console.Error("This is a test error:", _value))">error</button>
<br />
<br />
<button @onclick="@(() => console.Info("This is a test info:", _value))">info</button>
<br />
<br />
<button @onclick="@(() => console.Log("This is a test log:", _value))">log</button>
<br />
<br />
<button @onclick="@(() => console.Warn("This is a test warn:", _value))">warn</button>
<br />
<br />
<button @onclick="@(() => console.Table(new { Name = "Value", Value = _value }))">Table</button>
<br />
