@page "/components/button"

<PageOutlet Url="components/button"
            Title="Button"
            Description="button component of the bit BlazorUI components" />

<ComponentDemo ComponentName="Button"
               ComponentDescription="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs. Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-desc">To create a button you can use a BitButton component.</div>
            <div class="buttons-container">
                <BitButton IsEnabled="true" OnClick="() => PrimaryCounter++">
                    Primary (@PrimaryCounter)
                </BitButton>
                <BitButton ButtonStyle="BitButtonStyle.Standard" IsEnabled="true" OnClick="() => StandardCounter++">
                    Standard (@StandardCounter)
                </BitButton>
                <BitButton IsEnabled="false" AllowDisabledFocus="false">
                    Disabled
                </BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-desc">BitButton can directly get css class or inline style.</div>
            <div class="buttons-container">
                <BitButton Style="height: 40px;width: 166px;font-size: 16px;">
                    Styled Button
                </BitButton>
                <BitButton Class="custom-button">
                    Classed Button
                </BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Visibility" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-desc">By setting Visibility attribute, BitButton can be Visible, Hidden or Collapsed.</div>
            <div class="buttons-container-grid">
                <div>Visible Button: [ <BitButton Visibility="BitComponentVisibility.Visible">Visible Button</BitButton> ]</div>
                <div>Hidden Button: [ <BitButton Visibility="BitComponentVisibility.Hidden">Hidden Button</BitButton> ]</div>
                <div>Collapsed Button: [ <BitButton Visibility="BitComponentVisibility.Collapsed">Collapsed Button</BitButton> ]</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Arias for Screen Reader" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-desc">Aria attribues can also set for a BitButton.</div>
            <div class="buttons-container">
                <BitButton AriaDescription="Detailed description used for screen reader.">
                    Button with Aria Description
                </BitButton>
                <BitButton ButtonStyle="BitButtonStyle.Standard" AriaHidden="true">
                    Button with Aria Hidden
                </BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Link button" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-desc">BitButton can act as a link by setting Href and Target attributes.</div>
            <div class="buttons-container">
                <BitButton Title="Primary" Target="_blank" Href="https://github.com/bitfoundation/bitplatform">
                    Open Bit Platform In New Tab
                </BitButton>
                <BitButton Title="Standard" Href="https://github.com/bitfoundation/bitplatform" ButtonStyle="BitButtonStyle.Standard">
                    Go To Bit Platform
                </BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Different sizes" HTMLSourceCode="@example6HTMLCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-desc">BitButton can get different sizes using the <code>ButtonSize</code> parameter.</div>
            <div class="buttons-container-grid">
                <div>
                    <div>Small size</div>
                    <BitButton ButtonSize="BitButtonSize.Small">Button</BitButton>
                </div>
                <div>
                    <div>Medium size</div>
                    <BitButton ButtonSize="BitButtonSize.Medium">Button</BitButton>
                </div>
                <div>
                    <div>Large size</div>
                    <BitButton ButtonSize="BitButtonSize.Large">Button</BitButton>
                </div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>
    
    <ComponentExampleBox Title="Custom content" HTMLSourceCode="@example7HTMLCode" ExampleId="example7">
        <ExamplePreview>
            <div class="example-desc">To create a button you can use a BitButton component.</div>
            <div class="buttons-container">
                <BitButton Class="custom-btn-ctn" IsEnabled="true">
                    <BitIcon IconName="@BitIconName.Airplane" />
                    <BitLabel>A Text from BitLabel</BitLabel>
                    <BitRippleLoading Size="30"/>
                </BitButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

@code {
    public int PrimaryCounter;
    public int StandardCounter;
}