@page "/components/compoundbutton"
@page "/components/compound-button"

<PageOutlet Url="components/compoundbutton"
            Title="CompoundButton"
            Description="CompoundButton component of the bit BlazorUI components" />

<ComponentDemo ComponentName="BitCompoundButton"
               ComponentDescription="Buttons give people a way to trigger an action. They’re typically found in forms, dialog panels, and dialogs. Some buttons are specialized for particular tasks, such as navigation, repeated actions, or presenting menus."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1HTMLCode" ExampleId="example1">
        <ExamplePreview>
            <div class="buttons-container">
                <BitCompoundButton SecondaryText="This Button is a compound button">Primary</BitCompoundButton>
                <BitCompoundButton SecondaryText="This Button is a compound button" ButtonStyle="BitButtonStyle.Standard">Standard</BitCompoundButton>
                <BitCompoundButton IsEnabled="false" SecondaryText="This Button is a disabled compound button">Disabled</BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" HTMLSourceCode="@example2HTMLCode" ExampleId="example2">
        <ExamplePreview>
            <div class="buttons-container">
                <BitCompoundButton Style="color:darkblue; font-weight:bold" SecondaryText="This is styled compound button">Styled</BitCompoundButton>
                <BitCompoundButton ButtonStyle="BitButtonStyle.Standard" Class="custom-class" SecondaryText="This is classed compound button">Classed</BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Visibility" HTMLSourceCode="@example3HTMLCode" ExampleId="example3">
        <ExamplePreview>
            <div class="buttons-container-grid">
                <div>Visible: [ <BitCompoundButton Visibility="BitVisibility.Visible" SecondaryText="This is a visible compound button">Visible</BitCompoundButton> ]</div>
                <div>Hidden: [<BitCompoundButton Visibility="BitVisibility.Hidden" SecondaryText="This is a hidden compound button">Hidden</BitCompoundButton>]</div>
                <div>Collapsed: [ <BitCompoundButton Visibility="BitVisibility.Collapsed" SecondaryText="This is a collapsed compound button">Collapsed</BitCompoundButton> ]</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="ARIA" HTMLSourceCode="@example4HTMLCode" ExampleId="example4">
        <ExamplePreview>
            <div class="buttons-container">
                <BitCompoundButton SecondaryText="This is a compound button with AriaDescription" AriaDescription="Button with AriaDescription">
                    AriaDescription
                </BitCompoundButton>
                <BitCompoundButton SecondaryText="This is a compound button with AriaHidden" ButtonStyle="BitButtonStyle.Standard" AriaHidden="true">AriaHidden</BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Link button" HTMLSourceCode="@example5HTMLCode" ExampleId="example5">
        <ExamplePreview>
            <div class="buttons-container">
                <BitCompoundButton Href="https://github.com/bitfoundation/bitplatform" SecondaryText="Open Bit Platform In New Tab" Target="_blank">Open the site</BitCompoundButton>
                <BitCompoundButton Href="https://github.com/bitfoundation/bitplatform" SecondaryText="Go To Bit Platform" ButtonStyle="BitButtonStyle.Standard">Open the site</BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Button Type" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example6">
        <ExamplePreview>
            <div class="form-container">
                @if (formIsValidSubmit is false)
                {
                    <EditForm Model="buttonValidationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" novalidate>
                        <DataAnnotationsValidator />

                        <BitTextField Label="Required" IsRequired="true" @bind-Value="buttonValidationModel.RequiredText" />
                        <ValidationMessage For="() => buttonValidationModel.RequiredText" />
                        <br />
                        <BitTextField Label="Non Required" @bind-Value="buttonValidationModel.NonRequiredText" />
                        <ValidationMessage For="() => buttonValidationModel.NonRequiredText" />
                        <br />
                        <div class="buttons-container">
                            <BitCompoundButton ButtonType=BitButtonType.Submit SecondaryText="This is a Submit button">Submit</BitCompoundButton>
                            <BitCompoundButton ButtonType=BitButtonType.Reset SecondaryText="This is a Reset button">Reset</BitCompoundButton>
                            <BitCompoundButton ButtonType=BitButtonType.Button SecondaryText="This is just a button">Button</BitCompoundButton>
                        </div>
                    </EditForm>
                }
                else
                {
                    <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                        The form submitted successfully.
                    </BitMessageBar>
                }
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Template" HTMLSourceCode="@example7HTMLCode" ExampleId="example7">
        <ExamplePreview>
            <div class="buttons-container">
                <BitCompoundButton>
                    <PrimaryTemplate>
                        <span style="color:red">Primary Template!</span>
                    </PrimaryTemplate>
                    <SecondaryTemplate>
                        <BitIcon IconName="@BitIconName.AirplaneSolid" />
                        <span style="color:blueviolet">Secondary Template goes here!</span>
                    </SecondaryTemplate>
                </BitCompoundButton>

                <BitCompoundButton ButtonStyle="BitButtonStyle.Standard">
                    <PrimaryTemplate>
                        <span style="color:darkcyan">Primary Template!</span>
                    </PrimaryTemplate>
                    <SecondaryTemplate>
                        <span style="color:blueviolet">Secondary Template goes here!</span>
                        <BitGridLoading Size="20" Color="@($"var({BitCss.Var.Color.Foreground.Primary})")" />
                    </SecondaryTemplate>
                </BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="ClassStyles" HTMLSourceCode="@example8HTMLCode" ExampleId="example8">
        <ExamplePreview>
            <div class="buttons-container">
                <BitCompoundButton SecondaryText="This is secondary text"
                                   ClassStyles="@(new() {
                                                            Container = new() { Style = "line-height:2" },
                                                            Primary = new() { Class = "custom-primary" },
                                                            Secondary = new() { Class = "custom-secondary"}
                                                        })">
                    Primary
                </BitCompoundButton>

                <BitCompoundButton SecondaryText="This is secondary text"
                                   ButtonStyle="BitButtonStyle.Standard"
                                   ClassStyles="@(new() {
                                                            Container = new() { Style = "line-height:2" },
                                                            Primary = new() { Class = "custom-primary" },
                                                            Secondary = new() { Class = "custom-secondary"}
                                                         })">
                    Standard
                </BitCompoundButton>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>

@code {
    private bool formIsValidSubmit;
    private ButtonValidationModel buttonValidationModel = new();

    private async Task HandleValidSubmit()
    {
        formIsValidSubmit = true;

        await Task.Delay(2000);

        buttonValidationModel = new();

        formIsValidSubmit = false;

        StateHasChanged();
    }

    private void HandleInvalidSubmit()
    {
        formIsValidSubmit = false;
    }
}