@page "/components/loadingbutton"
@page "/components/loading-button"

<PageOutlet Url="components/loadingbutton"
            Title="LoadingButton"
            Description="LoadingButton component of the bit BlazorUI components" />

<ComponentDemo ComponentName="LoadingButton"
               ComponentDescription="LoadingButton are used to display a loading indicator inside of a button. In some cases, a button's action kicks off some event which requires a loading state. This component composed together the Button component and the Loader component in a way that is accessible and easy to use."
               ComponentParameters="componentParameters"
               ComponentSubClasses="componentSubClasses"
               ComponentSubEnums="componentSubEnums">
    <ComponentExampleBox Title="Basic" HTMLSourceCode="@example1HTMLCode" CSharpSourceCode="@example1CSharpCode" ExampleId="example1">
        <ExamplePreview>
            <div class="example-box">
                <BitLoadingButton IsLoading="BasicPrimaryIsLoading"
                                  ButtonStyle="BitButtonStyle.Primary"
                                  OnClick="BasicPrimaryOnClick">
                    Primary (@BasicPrimaryCounter)
                </BitLoadingButton>

                <BitLoadingButton IsLoading="BasicStandardIsLoading"
                                  ButtonStyle="BitButtonStyle.Standard"
                                  OnClick="BasicStandardOnClick">
                    Standard (@BasicStandardCounter)
                </BitLoadingButton>

                <BitLoadingButton IsEnabled="false">Disabled</BitLoadingButton>

                <BitToggle @bind-Value="Example1Toggle" OnChange="Example1ToggleOnChange" OnText="Turn Loading Off" OffText="Turn Loading On" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Style & Class" HTMLSourceCode="@example2HTMLCode" CSharpSourceCode="@example2CSharpCode" ExampleId="example2">
        <ExamplePreview>
            <div class="example-box">
                <BitLoadingButton IsLoading="StyleClassPrimaryIsLoading"
                                  Style="color:darkblue; font-weight:bold"
                                  OnClick="StyleClassPrimaryOnClick">
                    Styled
                </BitLoadingButton>

                <BitLoadingButton IsLoading="StyleClassStandardIsLoading"
                                  Class="custom-class"
                                  ButtonStyle="BitButtonStyle.Standard"
                                  OnClick="StyleClassStandardOnClick">
                    Classed
                </BitLoadingButton>

                <BitToggle @bind-Value="Example2Toggle" OnChange="Example2ToggleOnChange" OnText="Turn Loading Off" OffText="Turn Loading On" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Visibility" HTMLSourceCode="@example3HTMLCode" CSharpSourceCode="@example3CSharpCode" ExampleId="example3">
        <ExamplePreview>
            <div class="example-box column">
                <div>Visible: [ <BitLoadingButton IsLoading="VisibilityIsLoading" Visibility="BitVisibility.Visible" OnClick="VisibilityOnClick">Visible loading button</BitLoadingButton> ]</div>
                <div>Hidden: [ <BitLoadingButton Visibility="BitVisibility.Hidden">Hidden loading button</BitLoadingButton> ]</div>
                <div>Collapsed: [ <BitLoadingButton Visibility="BitVisibility.Collapsed">Collapsed loading button</BitLoadingButton> ]</div>
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="LoadingLabel" HTMLSourceCode="@example4HTMLCode" CSharpSourceCode="@example4CSharpCode" ExampleId="example4">
        <ExamplePreview>
            <div class="example-box">
                <BitLoadingButton IsLoading="LoadingLabelPrimaryIsLoading"
                                  LoadingLabel="Wait..."
                                  ButtonStyle="BitButtonStyle.Primary"
                                  OnClick="LoadingLabelPrimaryOnClick">
                    Primary (@LoadingLabelPrimaryCounter)
                </BitLoadingButton>

                <BitLoadingButton IsLoading="LoadingLabelStandardIsLoading"
                                  LoadingLabel="Sending..."
                                  ButtonStyle="BitButtonStyle.Standard"
                                  OnClick="LoadingLabelStandardOnClick">
                    Standard (@LoadingLabelStandardCounter)
                </BitLoadingButton>

                <BitToggle @bind-Value="Example3Toggle" OnChange="Example3ToggleOnChange" OnText="Turn Loading Off" OffText="Turn Loading On" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="LoadingLabelPosition" HTMLSourceCode="@example5HTMLCode" CSharpSourceCode="@example5CSharpCode" ExampleId="example5">
        <ExamplePreview>
            <div class="example-box">
                <BitLoadingButton IsLoading="TopPositionIsLoading"
                                  LoadingLabel="Loading..."
                                  LoadingLabelPosition="BitLabelPosition.Top"
                                  OnClick="TopPositionOnClick">
                    Top (@TopPositionCounter)
                </BitLoadingButton>

                <BitLoadingButton IsLoading="RightPositionIsLoading"
                                  LoadingLabel="Loading..."
                                  LoadingLabelPosition="BitLabelPosition.Right"
                                  OnClick="RightPositionOnClick">
                    Right (@RightPositionCounter)
                </BitLoadingButton>

                <BitLoadingButton IsLoading="BottomPositionIsLoading"
                                  ButtonStyle="BitButtonStyle.Standard"
                                  LoadingLabel="Loading..."
                                  LoadingLabelPosition="BitLabelPosition.Bottom"
                                  OnClick="BottomPositionOnClick">
                    Bottom (@BottomPositionCounter)
                </BitLoadingButton>

                <BitLoadingButton IsLoading="LeftPositionIsLoading"
                                  ButtonStyle="BitButtonStyle.Standard"
                                  LoadingLabel="Loading..."
                                  LoadingLabelPosition="BitLabelPosition.Left"
                                  OnClick="LeftPositionOnClick">
                    Left (@LeftPositionCounter)
                </BitLoadingButton>

                <BitToggle @bind-Value="Example4Toggle" OnChange="Example4ToggleOnChange" OnText="Turn Loading Off" OffText="Turn Loading On" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="LoadingTemplate" HTMLSourceCode="@example6HTMLCode" CSharpSourceCode="@example6CSharpCode" ExampleId="example6">
        <ExamplePreview>
            <div class="example-box">
                <BitLoadingButton IsLoading="EllipsisIsLoading"
                                  Title="Ellipsis loading..."
                                  OnClick="EllipsisOnClick">
                    <LoadingTemplate>
                        <div class="custom-loading">
                            <BitEllipsisLoading Size="20" />
                            <span>wait...</span>
                        </div>
                    </LoadingTemplate>
                    <ChildContent>
                        Ellipsis...
                    </ChildContent>
                </BitLoadingButton>

                <BitLoadingButton IsLoading="RollerIsLoading"
                                  Title="Roller loading..."
                                  OnClick="RollerOnClick"
                                  ButtonStyle="BitButtonStyle.Standard">
                    <LoadingTemplate>
                        <div class="custom-loading">
                            <BitRollerLoading Size="20" Color="royalblue" />
                            <span>wait...</span>
                        </div>
                    </LoadingTemplate>
                    <ChildContent>
                        Roller...
                    </ChildContent>
                </BitLoadingButton>

                <BitToggle @bind-Value="Example5Toggle" OnChange="Example5ToggleOnChange" OnText="Turn Loading Off" OffText="Turn Loading On" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="Button Type" HTMLSourceCode="@example7HTMLCode" CSharpSourceCode="@example7CSharpCode" ExampleId="example7">
        <ExamplePreview>
            <div class="form-container">
                @if (formIsValidSubmit is false)
                {
                    <EditForm Model="buttonValidationModel" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInvalidSubmit" novalidate>
                        <DataAnnotationsValidator />

                        <BitTextField Label="Required" IsRequired="true" @bind-Value="buttonValidationModel.RequiredText" />
                        <ValidationMessage For="() => buttonValidationModel.RequiredText" />
                        <br />
                        <BitTextField Label="Non Required" @bind-Value="buttonValidationModel.NonRequiredText" />
                        <ValidationMessage For="() => buttonValidationModel.NonRequiredText" />
                        <br />
                        <div class="buttons-container">
                            <BitLoadingButton ButtonType="BitButtonType.Submit">Submit</BitLoadingButton>
                            <BitLoadingButton ButtonType="BitButtonType.Reset">Reset</BitLoadingButton>
                            <BitLoadingButton ButtonType="BitButtonType.Button">Button</BitLoadingButton>
                        </div>
                    </EditForm>
                }
                else
                {
                    <BitMessageBar MessageBarType="BitMessageBarType.Success" IsMultiline="false">
                        The form submitted successfully.
                    </BitMessageBar>
                }
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

    <ComponentExampleBox Title="ClassStyles" HTMLSourceCode="@example8HTMLCode" CSharpSourceCode="@example8CSharpCode" ExampleId="example8">
        <ExamplePreview>
            <div class="example-box">
                <BitLoadingButton IsLoading="ClassStylesPrimaryIsLoading"
                                  ButtonStyle="BitButtonStyle.Primary"
                                  OnClick="ClassStylesPrimaryOnClick"
                                  LoadingLabel="Loading..."
                                  ClassStyles="@(new() { LoadingLabel = new() { Style = "color:red" } })">
                    Primary (@ClassStylesPrimaryCounter)
                </BitLoadingButton>

                <BitLoadingButton IsLoading="ClassStylesStandardIsLoading"
                                  ButtonStyle="BitButtonStyle.Standard"
                                  OnClick="ClassStylesStandardOnClick"
                                  LoadingLabel="Saving..."
                                  ClassStyles="@(new() { LoadingLabel = new() { Style = "color:blue" } })">
                    Standard (@ClassStylesStandardCounter)
                </BitLoadingButton>

                <BitToggle @bind-Value="Example7Toggle" OnChange="Example7ToggleOnChange" OnText="Turn Loading Off" OffText="Turn Loading On" />
            </div>
        </ExamplePreview>
    </ComponentExampleBox>

</ComponentDemo>

@code {
    private bool formIsValidSubmit;
    private ButtonValidationModel buttonValidationModel = new();

    private async Task HandleValidSubmit()
    {
        formIsValidSubmit = true;

        await Task.Delay(2000);

        buttonValidationModel = new();

        formIsValidSubmit = false;

        StateHasChanged();
    }

    private void HandleInvalidSubmit()
    {
        formIsValidSubmit = false;
    }
}