@attribute [Route(Urls.ProductsPage)]
@attribute [Route("{culture?}" + Urls.ProductsPage)]
@attribute [Authorize(Policy = AuthPolicies.PRIVILEGED_ACCESS)]
@inherits AppPageBase

<PageTitle>@Localizer[nameof(AppStrings.ProductsPageTitle)]</PageTitle>

<section>
    <BitStack>
        <BitButton IconName="@BitIconName.Add" ReversedIcon
                   OnClick="WrapHandled(CreateProduct)">
            @Localizer[nameof(AppStrings.AddProduct)]
        </BitButton>
        <BitStack Gap="0" FillContent>
            <div class="grid-container">
                <BitDataGrid @ref="dataGrid"
                             Class="products-grid"
                             TGridItem="ProductDto"
                             Pagination="pagination"
                             ItemsProvider="productsProvider">
                    <BitDataGridPropertyColumn Title="@Localizer[nameof(AppStrings.Name)]"
                                               Property="p => p!.Name"
                                               Class="name-col"
                                               Sortable="true"
                                               IsDefaultSort="BitDataGridSortDirection.Ascending">
                        <ColumnOptions>
                            <BitStack Horizontal>
                                <BitSearchBox @bind-Value="ProductNameFilter"
                                              AutoFocus DisableAnimation
                                              Immediate DebounceTime="500"
                                              Placeholder="@Localizer[(nameof(AppStrings.SearchOnName))]" />
                                @if (isLoading)
                                {
                                    <BitEllipsisLoading CustomSize="32" />
                                }
                            </BitStack>
                        </ColumnOptions>
                    </BitDataGridPropertyColumn>

                    <BitDataGridPropertyColumn Title="@Localizer[nameof(AppStrings.Category)]"
                                               Property="p => p!.CategoryName"
                                               Align="BitDataGridAlign.Left"
                                               Class="category-col"
                                               Sortable="true">
                        <ColumnOptions>
                            <BitStack Horizontal>
                                <BitSearchBox @bind-Value="CategoryNameFilter"
                                              AutoFocus DisableAnimation
                                              Immediate DebounceTime="500"
                                              Placeholder="@Localizer[(nameof(AppStrings.SearchOnName))]" />
                                @if (isLoading)
                                {
                                    <BitEllipsisLoading CustomSize="32" />
                                }
                            </BitStack>
                        </ColumnOptions>
                    </BitDataGridPropertyColumn>

                    <BitDataGridPropertyColumn Title="@($"{Localizer[nameof(AppStrings.Price)]} ({CultureInfo.CurrentCulture.NumberFormat.CurrencySymbol})")"
                                               Align="BitDataGridAlign.Left"
                                               Property="p => p!.Price"
                                               Class="price-col"
                                               Sortable="true"
                                               Format="N0" />

                    <BitDataGridTemplateColumn Title="@Localizer[(nameof(AppStrings.Action))]"
                                               Align="BitDataGridAlign.Center"
                                               Class="actions-col"
                                               Context="product">
                        <BitButton Variant="BitVariant.Text"
                                   IconName="@BitIconName.Edit"
                                   Title="@Localizer[(nameof(AppStrings.Edit))]"
                                   OnClick="WrapHandled(() => EditProduct(product!))" />
                        <BitButton Color="BitColor.Error"
                                   Variant="BitVariant.Text"
                                   IconName="@BitIconName.Delete"
                                   Title="@Localizer[(nameof(AppStrings.Delete))]"
                                   OnClick="WrapHandled(() => { isDeleteDialogOpen = true; deletingProduct = product; })" />
                    </BitDataGridTemplateColumn>
                </BitDataGrid>
            </div>
            <BitDataGridPaginator Value="pagination"
                                  SummaryFormat="v => string.Format(Localizer[nameof(AppStrings.PaginatorSummary)], v.TotalItemCount)"
                                  GoToFirstButtonTitle="Go to first page"
                                  GoToPrevButtonTitle="Go to previous page"
                                  GoToNextButtonTitle="Go to next page"
                                  GoToLastButtonTitle="Go to last page">
                <TextTemplate Context="value">
                    <span>@Localizer[nameof(AppStrings.Page)] <b>@(value.CurrentPageIndex + 1)</b> @Localizer[nameof(AppStrings.Of)] <b>@(value.LastPageIndex + 1)</b></span>
                </TextTemplate>
            </BitDataGridPaginator>
        </BitStack>
    </BitStack>
</section>

<BitDialog OnOk="WrapHandled(DeleteProduct)"
           @bind-IsOpen="isDeleteDialogOpen"
           OkText="@Localizer[nameof(AppStrings.Yes)]"
           CancelText="@Localizer[nameof(AppStrings.No)]"
           Title="@Localizer[nameof(AppStrings.DeleteProduct)]"
           Message="@Localizer.GetString(nameof(AppStrings.AreYouSureWannaDeleteProduct), deletingProduct?.Name ?? "")" />

<AddOrEditProductModal @ref="modal" OnSave="WrapHandled(RefreshData)" />