<BitModal @bind-IsOpen="IsOpen">
    <div class="main">
        <div class="header">
            <span class="title">@Title</span>
            <BitIconButton IconName="@CloseIconName" OnClick="OnCloseClick" />
        </div>
        <div class="body">
            @Body
        </div>
        <div class="footer">
            <BitButton Class="@ButtonClass" ButtonType="@ButtonType" ButtonStyle="@ButtonStyle" OnClick="OnOkClick">OK</BitButton>
        </div>
    </div>
</BitModal>