<BitModal @bind-IsOpen="IsOpen">
    <div class="main">
        <div class="header">
            <span class="title">@Title</span>
            <BitIconButton IconName="@CloseIconName" OnClick="OnCloseClick" />
        </div>
        <div class="body">
            @if (BodyIconPosition == BitIconPosition.Start)
            {
                @Body
                <span>
                    <i class="bit-icon bit-icon--@BodyIcon.GetName()"></i>
                </span>
            }
            else
            {
                <span>
                    <i class="bit-icon bit-icon--@BodyIcon.GetName()"></i>
                </span>
                @Body
            }
        </div>
        <div class="footer">
            <BitButton Class="@ButtonClass" ButtonType="@ButtonType" ButtonStyle="@ButtonStyle" OnClick="OnOkClick">@ButtonText</BitButton>
        </div>
    </div>
</BitModal>